<div class="container mb-3">
  <div class="form" [formGroup]="exportDetailsForm">
    <div class="empty_card" (click)="openDetails()">
      <img *ngIf="!pageOpen" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" />
      <img *ngIf="pageOpen" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" />
      <h1 class="form__headline">{{ 'export-details.title' | translate }}</h1>
    </div>
    <div *ngIf="pageOpen" class="form-row">
      <div class="form-group col-md-2">
        <label for="export-date">{{ 'export-details.export-date' | translate }}</label>
        <input type="date" class="form-control" id="export-date" formControlName="exportedDate" />
      </div>
      <div class="form-group col-md-2 mx-4">
        <label for="export-time">{{ 'export-details.export-time' | translate }}</label>
        <input type="time" class="form-control" id="export-time" formControlName="exportedTime" />
      </div>
      <div class="form-group col-md-4">
        <label for="station">{{ 'export-details.station' | translate }}</label>
        <select formControlName="receivingStation" class="form-control" id="station">
          <option *ngFor="let station of receivingStations" [selected]="station === order.receivingStation">
            {{ station }}
          </option>
        </select>
      </div>
    </div>
    <hr />
  </div>
</div>
