* {
  font-family: var(--ubs-quaternary-font);
}

.empty_card {
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    display: inline;
  }

  img {
    width: 20px;
    margin-right: 20px;
  }
}

.empty_card:hover {
  cursor: pointer;
}

@mixin input {
  height: 36px;
  left: calc(50% - 170px);
  top: calc(50% - 28px);
  background: var(--ubs-primary-white);
  border: 1px solid var(--ubs-quintynary-light-grey);
  color: var(--ubs-quintynary-light-grey);
  box-sizing: border-box;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
  }
}

.container {
  font-family: var(--primary-font);
  line-height: 32px;
}

.form__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
  margin-bottom: 30px;
  margin-top: 36px;
}

.title {
  margin-left: 13px;
  font-size: 24px;
}

.title-comment {
  font-size: 16px;
}

label {
  color: var(--ubs-secondary-grey);
  font-size: 16px;
  line-height: 24px;
}

input {
  width: 166px;

  @include input;

  &::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
  }
}

select {
  width: 215px;

  @include input;
}
