<div class="container mb-3">
  <h1 class="form__headline">{{ "export-details.title" | translate }}</h1>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>{{ "export-details.export-date" | translate }}</label>
      <input type="date" class="form-control" />
    </div>
    <div class="form-group col-md-2 mx-4">
      <label>{{ "export-details.export-time" | translate }}</label>
      <input type="time" class="form-control" />
    </div>
    <div class="form-group col-md-4">
      <label>{{ "export-details.station" | translate }}</label>
      <select class="form-control">
        <option selected></option>
      </select>
    </div>
  </div>
  <hr />
</div>
