<form [formGroup]="personalDataForm" (ngSubmit)="submit()" *ngIf="personalData!==undefined">
  <div class="row personal-data">
    <div class="w-100">
      <h2 class="personal-data-title">Особисті дані</h2>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label>Ім'я</label>
      <input
        formControlName="firstName"
        type="text"
        class="shadow-none form-control">
      <div
        class="validation"
        *ngIf="getControl('firstName').invalid && getControl('firstName').touched">
        <app-ubs-input-error
          [formElement]="getControl('firstName')"
          [firstNameFieldValue]="getControl('firstName').value"
          [controlName]="'firstName'">
        </app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label>Номер телефону</label>
      <input
        formControlName="phoneNumber"
        type="text" class="shadow-none form-control"
        placeholder="+38(___) ___ __ __"
        [unmask]="true"
        [imask]="{mask: phoneMask}">
      <div
        class="validation"
        *ngIf="getControl('phoneNumber').invalid && getControl('phoneNumber').touched">
        <app-ubs-input-error
          [formElement]="getControl('phoneNumber')"
          [phoneNumberFieldValue]="getControl('phoneNumber').value"
          [controlName]="'phoneNumber'">
        </app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label>Прізвище</label>
      <input
        formControlName="lastName"
        type="text"
        class="shadow-none form-control">
      <div
        class="validation"
        *ngIf="getControl('lastName').invalid && getControl('lastName').touched">
        <app-ubs-input-error
          [formElement]="getControl('lastName')"
          [lastNameFieldValue]="getControl('lastName').value"
          [controlName]="'lastName'">
        </app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label>Email</label>
      <input
        formControlName="email"
        type="text"
        class="shadow-none form-control"
        placeholder="example@email.com">
      <div
        class="validation"
        *ngIf="getControl('email').invalid && getControl('email').touched">
        <app-ubs-input-error
          [formElement]="getControl('email')"
          [emailFieldValue]="getControl('email').value"
          [controlName]="'email'">
        </app-ubs-input-error>
      </div>
    </div>
  </div>
  <hr>
  <div class="row adress-section">
    <div class="w-100">
      <h2 class="address-title">Адреса вивозу сміття</h2>
    </div>
    <div *ngIf="addresses.length === 0; else addressesList" class="no-addresses">
      <input formControlName="isAddress" style="display: none;">
      <p>У Вас немає доданих адрес. Додайте,будь ласка, адресу.</p>
    </div>
    <ng-template #addressesList>
      <app-address *ngFor="let address of addresses" [address]="address" class="address col-12 col-md-6"></app-address>
    </ng-template>
    <div class="w-100">
      <button type="button" class="btn add-address" mat-raised-button (click)="openDialog()">Додати адресу</button>
    </div>
  </div>
  <hr>
  <div class="address-comment">
    <h5 class="comment-title">Коментар до адреси</h5>
    <textarea class="form-control" formControlName="addressComment"
      placeholder="Будь-які деталі, які ви б хотіли нам повідомити додатково"></textarea>
    <div
      class="validation"
      *ngIf="getControl('addressComment').invalid && getControl('addressComment').touched">
      <app-ubs-input-error
        [formElement]="getControl('addressComment')"
        [controlName]="'addressComment'">
      </app-ubs-input-error>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-between personal-data-navigation">
    <button class="secondary-global-button btn" matStepperPrevious>Назад</button>
    <div>
      <button class="secondary-global-button btn" matStepperPrevious>Відмінити</button>
      <button type="submit" class="primary-global-button btn" matStepperNext
        [disabled]="personalDataForm.invalid">Далі</button>
    </div>
  </div>
</form>
