<app-post-news-loader *ngIf="isPosting"></app-post-news-loader>
<main role="main" id="main-content">
  <div class="box" *ngIf="!isPosting">
    <div class="title">
      <h2>{{ attributes.title | translate }}</h2>
      <p>{{ 'create-news.form-description' | translate }}</p>
    </div>
    <div class="form-container" *ngIf="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="wrapper">
          <div class="left-form-column">
            <div class="item-block">
              <div class="title-wrapper">
                <h3>{{ 'create-news.news-title' | translate }}</h3>
                <span class="span" [ngClass]="{ warning: form.value.title.length >= 170 }"> {{ form.value.title.length }}/170 </span>
              </div>
              <label>
                <textarea
                  maxlength="170"
                  placeholder="{{ 'create-news.title-placeholder' | translate }}"
                  formControlName="title"
                  (keyup)="autoResize(false, $event)"
                ></textarea>
              </label>
            </div>
            <div class="tags item-block" formArrayName="tags">
              <h3>{{ 'create-news.tags-title' | translate }}</h3>
              <p [ngClass]="{ warning: isFilterValidation }">
                {{ 'create-news.tags-tooltip' | translate }}
              </p>
              <div class="tags-box">
                <button
                  *ngFor="let filter of filters"
                  (click)="addFilters(filter)"
                  type="button"
                  [ngClass]="{ 'filters-color': filter.isActive }"
                  class="custom-chip global-tag"
                >
                  {{ currentLang === 'en' ? filter.name : filter.nameUa }}
                  <span [ngClass]="{ 'global-tag-close-icon': filter.isActive }"></span>
                </button>
              </div>
            </div>
            <div>
              <div class="title-wrapper">
                <h3>{{ 'create-news.source-title' | translate }}</h3>
                <span class="span" [ngClass]="{ warning: !isLinkOrEmpty }">
                  {{ 'create-news.source-tooltip-1' | translate }}
                  {{ 'create-news.source-tooltip-2' | translate }}
                </span>
              </div>
              <label>
                <input
                  type="text"
                  placeholder="{{ 'create-news.source-placeholder' | translate }}"
                  formControlName="source"
                  [ngClass]="{ 'field-warning': !isLinkOrEmpty }"
                />
              </label>
            </div>
          </div>
          <div class="right-form-column">
            <h3>{{ 'create-news.picture-title' | translate }}</h3>
            <app-drag-and-drop [formData]="form"></app-drag-and-drop>
          </div>
        </div>
        <div class="textarea-wrapper">
          <div class="title-wrapper">
            <h3>{{ 'create-news.content-title' | translate }}</h3>
            <p class="textarea-description" [ngClass]="{ warning: getControl('content').invalid && getControl('content').touched }">
              {{ 'create-news.content-tooltip' | translate }}
            </p>
          </div>
          <quill-editor
            minlength="20"
            [modules]="quillModules"
            formControlName="content"
            placeholder="{{ 'create-news.content-placeholder' | translate }}"
            (onEditorChanged)="changedEditor($event)"
          ></quill-editor>
        </div>
        <div class="date">
          <p>
            <span>{{ 'create-news.date' | translate }}</span>
            <span>{{ 'date.months.' + [date.month] | translate }} {{ date.day }}, {{ date.year }} {{ 'date.year' | translate }}</span>
          </p>
          <p>
            <span>{{ 'create-news.author' | translate }}</span
            ><span>{{ author }}</span>
          </p>
        </div>
        <div class="submit-buttons">
          <button class="tertiary-global-button" type="button" (click)="cancel()">{{ 'create-news.cancel-button' | translate }}</button>
          <button class="secondary-global-button" type="button" (click)="goToPreview()">
            {{ 'create-news.preview-button' | translate }}
          </button>
          <button class="primary-global-button" type="submit" [disabled]="isFormInvalid">{{ attributes.btnCaption | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</main>
