::ng-deep {
  .ql-container {
    min-height: 200px;
  }
}

.box {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.form-description {
  margin-top: -30px;
  margin-bottom: 50px;
}

h3,
p,
span,
b,
h2 {
  color: var(--primary-dark-grey);
  font-family: var(--primary-font);
}

.title {
  margin-bottom: 42px;
  width: 100%;

  h2 {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 16px;
  }
}

.form-description p {
  max-width: 652px;
  color: var(--secondary-grey);
}

.left-form-column span,
.textarea-description {
  font-size: 12px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

h3 {
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.left-form-column {
  width: 652px;
  display: flex;
  flex-direction: column;
  min-height: 380px;
}

.left-form-column input,
.left-form-column textarea {
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--secondary-grey);
  padding: 12px 16px;
  resize: none;
  overflow: hidden;
}

.left-form-column p,
.left-form-column .span {
  margin-top: 4px;
  display: block;
  color: var(--secondary-grey);
}

.item-block {
  margin-bottom: 32px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.textarea-description {
  margin: 0;
  color: var(--secondary-grey);
}

.tags p {
  font-size: 12px;
  margin-top: -4px;
}

.right-form-column {
  width: 456px;
  margin-left: 32px;
}

.right-form-column span {
  font-size: 12px;
}

.submit-buttons button {
  margin-left: 20px;
  width: 154px;
}

.tags-box,
.tags-block {
  display: flex;
}

form .textarea-wrapper textarea {
  height: 131px;
  border-radius: 5px;
  border: 1px solid var(--secondary-grey);
  width: 100%;
  padding: 12px 16px 28px 16px;
  overflow: hidden;
}

.textarea-wrapper {
  margin-top: 32px;
}

form label {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.date {
  display: flex;
  max-width: 500px;
  margin-top: 32px;
}

.date p:last-child {
  margin-left: 32px;
}

.date p span:first-child {
  font-size: 18px;
}

.date p span:last-child {
  color: var(--secondary-grey);
  font-size: 16px;
}

input.ng-invalid.ng-touched + span,
textarea.ng-invalid.ng-dirty + p {
  color: red;
}

.submit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
  margin-bottom: 8px;
}

.warning {
  color: red !important;
}

.left-form-column .field-warning {
  border: 1px solid red;
}

@media screen and (max-width: 1439px) {
  .box {
    width: 960px;
  }

  .left-form-column {
    width: 547px;
  }
}

@media screen and (max-width: 1023px) {
  .box {
    width: 740px;
  }

  .wrapper {
    flex-direction: column;
  }

  .left-form-column {
    width: 100%;
  }

  .right-form-column {
    margin: 32px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .box {
    width: 548px;
  }

  .title {
    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 575px) {
  .box {
    width: 288px;
  }

  .item-block textarea {
    font-size: 14px;
  }

  .date {
    flex-direction: column;

    p:last-child {
      margin: 0;
    }
  }

  .submit-buttons {
    flex-direction: column;
    margin-top: 43px;

    button {
      margin: 0 0 24px 0;
      width: 100%;
    }
  }
}
