::ng-deep {
  .ql-container {
    min-height: 200px;
  }

  .tag-button {
    color: var(--quaternary-grey);
    border-color: var(--quaternary-grey);
  }
}

h3,
p,
span,
b,
h2 {
  color: var(--primary-dark-grey);
  font-family: var(--primary-font);
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

h3 {
  font-size: 16px;
  color: var(--quaternary-grey);
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
}

input,
textarea {
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--quintynary-light-grey);
  padding: 12px 16px;
  resize: none;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

form label {
  display: flex;
  flex-direction: column;
}

.textarea-wrapper textarea {
  height: 131px;
  border-radius: 5px;
  border: 1px solid var(--secondary-grey);
  width: 100%;
  padding: 12px 16px 28px 16px;
  overflow: hidden;
}

.box {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.title {
  margin-bottom: 42px;
  width: 100%;

  &-header {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 16px;
  }

  &-description {
    color: var(--quaternary-dark-grey);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 652px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'title  image'
    'tags   image'
    'source image';
  gap: 32px;
  align-items: flex-end;
}

.title-block {
  grid-area: title;
  align-self: self-start;
}

.tags-block {
  grid-area: tags;
}

.source-block {
  grid-area: source;
}

.image-block {
  grid-area: image;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.textarea-description {
  margin: 0;
}

.submit-buttons button {
  margin-left: 20px;
  width: 154px;
}

.tags-box {
  display: flex;

  .tags-select {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
  }
}

.textarea-wrapper {
  margin-top: 32px;
}

.date {
  display: flex;
  max-width: 500px;
  margin-top: 32px;
}

.date p:last-child {
  margin-left: 32px;
}

.date p span:first-child {
  font-size: 16px;
  color: var(--quaternary-grey);
}

.date p span:last-child {
  color: var(--freinacht-black);
  font-size: 16px;
}

input.ng-invalid.ng-touched + span,
textarea.ng-invalid.ng-dirty + p {
  color: red;
}

.submit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
  margin-bottom: 8px;
}

.field-info {
  color: var(--secondary-grey);
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 12px;
}

.warning {
  color: var(--error-red) !important;
}

.field-warning {
  border: 1px solid red;
}

@media screen and (max-width: 1439px) {
  .box {
    width: 960px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 547px auto;
  }
}

@media screen and (max-width: 1023px) {
  .box {
    width: 740px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 auto);
    grid-template-areas:
      'title'
      'tags'
      'image'
      'source';
  }
}

@media screen and (max-width: 767px) {
  .box {
    width: 548px;
  }

  .title {
    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 575px) {
  .box {
    width: 288px;
  }

  textarea {
    font-size: 14px;
  }

  .date {
    flex-direction: column;

    p:last-child {
      margin: 0;
    }
  }

  .submit-buttons {
    flex-direction: column;
    margin-top: 43px;

    button {
      margin: 0 0 24px 0;
      width: 100%;
    }
  }
}
