<div class="container">
  <h1 class="h4 text-center form-title">Замовити вивіз сміття</h1>
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="firstStepForm">
      <ng-template matStepLabel>Деталі замовлення</ng-template>
      <app-order-details-form #firstStep></app-order-details-form>
    </mat-step>
    <mat-step [stepControl]="secondStepForm">
      <ng-template matStepLabel>Особисті дані</ng-template>
      <app-personal-data-form #secondStep></app-personal-data-form>
    </mat-step>
    <mat-step [stepControl]="thirdStepForm">
      <ng-template matStepLabel>Оплата</ng-template>
      <app-payment-form #thirdStep></app-payment-form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
