.container {
  font-family: var(--primary-font);
  line-height: 32px;
}

.empty_card {
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    display: inline;
  }

  img {
    width: 20px;
    margin-right: 20px;
  }
}

.empty_card:hover {
  cursor: pointer;
}

.form__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
  margin-bottom: 30px;
  margin-top: 36px;
}

.alert-message {
  line-height: 28px;
  letter-spacing: 0.002em;
  margin-left: 40px;
  color: var(--ubs-error-base);
}

.title {
  margin-left: 13px;
  font-size: 24px;
}

.title-comment {
  font-size: 16px;
}

.form__label {
  color: var(--ubs-secondary-grey);
  font-size: 16px;
  line-height: 24px;
}

.form__select {
  width: 268px;
  height: 36px;
  background: var(--ubs-primary-white);
  border: 1px solid var(--ubs-quintynary-light-grey);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  &::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  input {
    width: 340px;
  }
}

.readonly {
  pointer-events: none;
}
