<div class="container" [formGroup]="responsiblePersonsForm">
  <div class="empty_card" (click)="openDetails()">
    <img
      *ngIf="!pageOpen && (responsiblePersonsForm.valid || isOrderStatusCancelOrDone)"
      src="assets/img/ubs-admin-orders/arrow_up.svg"
      alt="arrow up"
    />
    <img
      *ngIf="pageOpen && (responsiblePersonsForm.valid || isOrderStatusCancelOrDone)"
      src="assets/img/ubs-admin-orders/arrow_down.svg"
      alt="arrow down"
    />
    <img
      *ngIf="pageOpen && !responsiblePersonsForm.valid && !isOrderStatusCancelOrDone"
      src="assets/img/ubs-admin-orders/red_arrow_down.svg"
      alt="arrow down"
    />
    <img *ngIf="isFormRequired()" src="assets/img/ubs-admin-orders/red_arrow_up.svg" alt="arrow up" />

    <h1 class="form__headline">{{ 'responsible-persons.title' | translate }}</h1>
    <div *ngIf="isFormRequired()" class="alert-message">{{ 'responsible-persons.alert-message' | translate }}</div>
  </div>
  <div *ngIf="pageOpen">
    <div class="form-row" *ngFor="let person of responsiblePersonsData">
      <div class="form-group col-md-4">
        <label class="form__label">
          {{ person.translate | translate }}
          <span class="form__label" *ngIf="isFieldOptional(person.formControlName)">({{ 'order-edit.optional-field' | translate }}) </span>
        </label>
        <select
          [formControlName]="person.formControlName"
          [ngClass]="isEmployeeCanEditOrder ? 'form-control form__select' : 'form-control form__select readonly'"
        >
          <option *ngFor="let employee of person.responsiblePersonsArray" [value]="employee">
            {{ employee }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <hr />
</div>
