<div class="container" [formGroup]="responsiblePersonsForm">
  <div class="empty_card" (click)="openDetails()">
    <img
      *ngIf="!pageOpen && (responsiblePersonsForm.valid || isOrderStatusCancelOrDone)"
      src="assets/img/ubs-admin-orders/arrow_up.svg"
      alt="arrow up"
    />
    <img
      *ngIf="pageOpen && (responsiblePersonsForm.valid || isOrderStatusCancelOrDone)"
      src="assets/img/ubs-admin-orders/arrow_down.svg"
      alt="arrow down"
    />
    <img
      *ngIf="pageOpen && !responsiblePersonsForm.valid && !isOrderStatusCancelOrDone"
      src="assets/img/ubs-admin-orders/red_arrow_down.svg"
      alt="arrow down"
    />
    <img *ngIf="isFormRequired()" src="assets/img/ubs-admin-orders/red_arrow_up.svg" alt="arrow up" />

    <h1 class="form__headline">{{ 'responsible-persons.title' | translate }}</h1>
    <div *ngIf="isFormRequired()" class="alert-message">{{ 'responsible-persons.alert-message' | translate }}</div>
  </div>
  <div *ngIf="pageOpen">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.call-manager' | translate }}</label>
        <select formControlName="responsibleCaller" class="form-control form__select" disabled="!isEmployeeCanEditOrder">
          <option *ngFor="let employee of allCallManagers" [value]="employee">
            {{ employee }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.logistician' | translate }}</label>
        <select formControlName="responsibleLogicMan" class="form-control form__select" disabled="!isEmployeeCanEditOrder">
          <option *ngFor="let employee of allLogisticians" [value]="employee">
            {{ employee }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.navigator' | translate }}</label>
        <select formControlName="responsibleNavigator" class="form-control form__select" disabled="!isEmployeeCanEditOrder">
          <option *ngFor="let employee of allNavigators" [value]="employee">
            {{ employee }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.driver' | translate }}</label>
        <select formControlName="responsibleDriver" class="form-control form__select" disabled="!isEmployeeCanEditOrder">
          <option *ngFor="let employee of allDrivers" [value]="employee">
            {{ employee }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <hr />
</div>
