.wrapper {
  @media screen and (max-width: 800px) {
    padding: 20px 0;
  }
}

.event-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.create {
  height: 40px;

  .create-button {
    border-radius: 5px;
    line-height: 16px;
    min-width: 139px;
    min-height: 40px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      height: 16px;
      white-space: nowrap;
    }
  }
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 30px;

  .mat-card {
    padding: 0;
  }

  .event-list-item {
    overflow: hidden;
    max-width: 348px;
    background-color: var(--primary-white);
    box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
  }
}
