.wrapper {
  @media screen and (max-width: 800px) {
    padding: 20px 0;
  }
}

.main-header {
  height: 56px;
  font-family: var(--primary-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: left;
}

.end-page {
  height: 56px;
  font-family: var(--primary-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: center;
}

.create-container {
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.container-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 4px;
  box-shadow: 0 0 1px 0 var(--primary-grey);

  span {
    transition: all 0.3s;
  }

  .search-img {
    min-width: 20px;
    min-height: 20px;
    background: url('src/assets/events-icons/search.png');
    display: inline-block;

    &:hover {
      min-width: 20px;
      min-height: 20px;
      background: url('src/assets/events-icons/search-hover.png');
    }
  }

  .search-img-active {
    min-width: 20px;
    min-height: 20px;
    background: url('src/assets/events-icons/search-active.png');
  }

  .bookmark-img {
    width: 12px;
    height: 17px;
    background: url('src/assets/events-icons/bookmark-grey.png');
  }

  .bookmark-img-active {
    width: 12px;
    height: 17px;
    background: url('src/assets/events-icons/bookmark-active.png');
  }
}

.container-input {
  position: relative;

  .cross-position {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
  }

  .place-input {
    width: 400px;
    height: 40px;
  }
}

.my-events-img {
  width: 17px;
  height: 17px;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min-content;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  white-space: nowrap;
  cursor: pointer;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.reset {
  border: none;
  background-color: var(--primary-white);
  white-space: nowrap;
}

p {
  margin-top: 16px;
}

.sort-by {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 16px;
  height: 28px;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  text-align: left;
  color: var(--freinacht-black);
}

.active-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.active-filter {
  margin-right: 10px;
  gap: 8px;
}

.cross-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
}

.cross-img {
  width: 100%;
  height: 100%;
}

.chips {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  border-radius: 25px;
}

.event-header {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create .m-btn {
  min-width: 139px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 30px;

  .mat-card {
    padding: 0;
  }

  .event-list-item {
    overflow: hidden;
    max-width: 348px;
    background-color: var(--primary-white);
    box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
  }
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: var(--primary-green) !important;
}

.mat-option.mat-option:hover:not(.mat-option-disabled),
.mat-option.mat-active:not(.mat-option-disabled) {
  background: var(--ubs-primary-liberty-green);
}

.mat-option {
  margin-top: 4px;
}

::ng-deep .mat-select-panel,
::ng-deep .cdk-overlay-pane {
  min-width: 165px !important;
  transform: translateX(-35px) translateY(10px) !important;
}
