@import 'src/typography/_resp.scss';

.wrapper {
  @media screen and (max-width: 800px) {
    padding: 20px 0;
  }
}

.main-header {
  height: 56px;
  font-family: var(--primary-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: left;

  @include responsivePCFirst(sm) {
    font-size: 24px;
  }
}

.end-page-txt {
  font-family: var(--primary-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0 auto 2rem;
}

.create-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: flex-end;

  @include responsivePCFirst(sm) {
    flex-direction: row;
    gap: 18px;
  }
}

.container-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 4px;
  box-shadow: 0 0 1px 0 var(--primary-grey);
  cursor: pointer;

  span {
    transition: all 0.3s;
  }

  .search-img {
    min-width: 20px;
    min-height: 20px;
    background: url('/assets/events-icons/search.png');
    display: inline-block;

    &:hover {
      background: url('/assets/events-icons/search-hover.png');
    }
  }

  .search-img-active {
    min-width: 20px;
    min-height: 20px;
    background: url('/assets/events-icons/search-active.png');
  }

  .bookmark-img {
    width: 12px;
    height: 17px;
    background: url('/assets/events-icons/bookmark-grey.png');
  }

  .bookmark-img-active {
    width: 12px;
    height: 17px;
    background: url('/assets/events-icons/bookmark-active.png');
  }
}

.container-input {
  position: relative;
  margin-left: 15px;
  flex: 1;

  .cross-position {
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
  }

  .place-input {
    border: none;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 1px 0 var(--primary-grey);
    height: 40px;
    padding: 0 14px;

    &:active,
    &:focus,
    &:hover {
      border: 1px solid var(--primary-grey);
      outline: none;
    }
  }
}

.my-events-img {
  width: 17px;
  height: 17px;
}

.filter-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @include responsivePCFirst(sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min-content;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include responsivePCFirst(sm) {
    overflow-x: auto;
    width: 100%;
  }
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  white-space: nowrap;
  cursor: pointer;
}

hr {
  margin: 1rem 0 0;
  border: 0;
  border-top: 1px solid rgb(0 0 0 / 10%);
}

.reset {
  border: none;
  background-color: var(--ubs-secondary-white);
  white-space: nowrap;
}

p {
  margin-top: 16px;
}

.filter-by {
  display: flex;
  align-items: center;
  margin: 16px 20px 0 0;
  height: 28px;
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  text-align: left;
  color: var(--freinacht-black);
}

.active-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 32px;

  p {
    margin: 0;
  }
}

.active-filter-list {
  display: flex;
  gap: 10px;
  max-width: 100%;
  white-space: nowrap;

  @include responsivePCFirst(sm) {
    flex-direction: column-reverse;
    gap: 0;

    p {
      width: 100%;
      text-align: left;
    }
  }
}

.active-filter {
  display: flex;
  height: 24px;
  border-radius: 25px;
  padding: 0 16px;
  margin-right: 10px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-green);
  color: var(--primary-white);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.cross-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.cross-img {
  width: 100%;
  height: 100%;
}

.chips {
  flex-direction: row;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  padding-bottom: 10px;

  @include responsivePCFirst(sm) {
    width: 100%;
    margin-top: 10px;
    align-items: flex-start;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.change-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  > button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    color: var(--secondary-grey);
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      color: var(--primary-green);
    }
  }
}

.event-header {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsivePCFirst(sm) {
    flex-direction: column;
    align-items: center;
  }
}

.top-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.create .m-btn {
  max-width: none;
  margin-left: 30px;
  min-width: 139px;
  padding: 0;
}

@include responsivePCFirst(sm) {
  .create,
  .m-btn {
    width: 100%;
    margin-left: 0;
  }

  .create .m-btn {
    min-width: unset;
    margin-left: 0;
  }
}

.event-list {
  display: grid;
  grid-template-columns: repeat(3, 359px);
  grid-gap: 32px;
  margin-bottom: 30px;

  @include responsivePCFirst(2xl) {
    grid-template-columns: repeat(3, 299px);
  }

  @include responsivePCFirst(lg) {
    grid-template-columns: repeat(2, 344px);
  }

  @include responsivePCFirst(md) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .mat-card {
    padding: 0;
  }

  .event-list-item {
    overflow: hidden;
    max-width: 359px;
    background-color: var(--primary-white);
    box-shadow: 1px 4px 8px rgb(100 114 125 / 18%);

    @include responsivePCFirst(2xl) {
      max-width: 299px;
    }

    @include responsivePCFirst(lg) {
      max-width: 344px;
    }

    @include responsivePCFirst(sm) {
      width: 100%;
      max-width: 359px;
    }
  }
}

.list-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .list-item-view {
    width: 100%;
    height: 204px;
    max-width: unset;

    @include responsivePCFirst(sm) {
      width: 359px;
      height: 100%;
    }
  }
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked,
::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
::ng-deep .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background-color: var(--primary-green) !important;
}

.mat-option.mat-option:hover:not(.mat-option-disabled),
.mat-option.mat-active:not(.mat-option-disabled) {
  background: var(--ubs-primary-liberty-green);
}

.mat-option {
  margin-top: 4px;
}

::ng-deep .mat-select-panel,
::ng-deep .cdk-overlay-pane {
  min-width: 165px !important;
}

::ng-deep .mat-option:first-child .mat-pseudo-checkbox {
  display: none;
}
