<div class="container">
  <div class="wrapper">
    <div class="event-header">
      <p class="main-header">{{ 'homepage.events.title' | translate }}</p>
      <div class="create-container">
        <div class="container-img">
          <img class="search-img" src="assets/events-icons/search.png" alt="search" />
        </div>
        <div class="container-img">
          <img class="bookmark-img" src="assets/events-icons/bookmark-grey.png" alt="bookmark" />
        </div>
        <div class="container-img">
          <img class="my-events-img" src="assets/events-icons/my-event.png" alt="bookmark" />
        </div>
        <a class="create" [routerLink]="['create-event']" *ngIf="isLoggedIn">
          <div class="secondary-global-button create-button">
            <span class="create-button-text">Create events</span>
          </div>
        </a>
      </div>
    </div>
    <div class="filter-container">
      <p class="sort-by">{{ 'Sort By' | translate }}</p>
      <div class="dropdown">
        <p class="filter">{{ 'Event time' | translate }}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let item of goods">
            <mat-icon>check_box</mat-icon>
            <span>{{ item }}</span>
          </button>
        </mat-menu>
      </div>
      <div class="dropdown">
        <p class="filter">{{ 'Location' | translate }}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>check_box</mat-icon>
            <span>{{ 'Select All' }}</span>
          </button>
          <hr />
          <!--divider-->
          <button mat-menu-item *ngFor="let item of goods">
            <mat-icon>check_box</mat-icon>
            <span>{{ item }}</span>
          </button>
        </mat-menu>
      </div>
      <div class="dropdown">
        <p class="filter">{{ 'Status' | translate }}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let item of goods">
            <mat-icon>check_box</mat-icon>
            <span>{{ item }}</span>
          </button>
        </mat-menu>
      </div>
      <div class="dropdown">
        <p class="filter">{{ 'Type' | translate }}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let item of goods">
            <mat-icon>check_box</mat-icon>
            <span>{{ item }}</span>
          </button>
        </mat-menu>
      </div>
      <div>
        <button class="reset">{{ 'Reset all' | translate }}</button>
      </div>
    </div>
    <hr />
    <div class="active-filter-container">
      <p>{{ goods[3] }} {{ 'Items found' | translate }}</p>
      <div class="chips">
        <div class="active-filter">
          {{ 'Lviv' }}
          <div class="cross-container">
            <img class="cross-img" src="assets/events-icons/cross.png" alt="cross" />
          </div>
        </div>
        <div class="active-filter">
          {{ 'Kyiv' }}
          <div class="cross-container">
            <img class="cross-img" src="assets/events-icons/cross.png" alt="cross" />
          </div>
        </div>
        <div class="active-filter">
          {{ 'Donetsk' }}
          <div class="cross-container">
            <img class="cross-img" src="assets/events-icons/cross.png" alt="cross" />
          </div>
        </div>
        <div class="active-filter">
          {{ 'Kharkiv' }}
          <div class="cross-container">
            <img class="cross-img" src="assets/events-icons/cross.png" alt="cross" />
          </div>
        </div>
      </div>
    </div>

    <div class="event-list">
      <mat-card class="event-list-item" *ngFor="let eventItem of eventsList | paginate: pageConfig(items, page + 1, total)">
        <app-events-list-item [event]="eventItem"></app-events-list-item>
      </mat-card>
    </div>

    <pagination-controls *ngIf="checkPagination()" (pageChange)="setPage($event)"></pagination-controls>
  </div>
</div>
