$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.progress {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  background: #f5f7f6;
  border-top: 1px solid #eaeef3;

  .progress__item {
    width: 76px;
    height: 58px;
    text-align: left;
    margin: 24px 0;

    .item__title {
      width: 100%;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      color: #494a49;
    }

    .item__number {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
      color: #494a49;
    }
  }

  @media only screen and (max-width: $bp-desktop) {
    .progress__item {
      width: 66px;
      height: 58px;
    }
  }

  @media only screen and (max-width: $bp-phone) {
    justify-content: start;
    border-top: 0;
    border-bottom: 0;
    margin: 7px 0 7px 21px;

    .progress__item {
      width: 80px;
      height: 58px;
      margin: 0 0;

      .item__title {
        width: 68px;
        font-size: 10px;
        line-height: 12px;
      }

      .item__number {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .progress__item:not(:last-child) {
      border-right: 1px solid #e1e5e3;
      margin-right: 26px;
    }
  }

  @media only screen and (max-width: $bp-smallest) {
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    margin-top: 21px;

    .progress__item {
      width: 56px;

      .item__title {
        font-size: 10px;
        line-height: 12px;
      }

      .item__number {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .progress__item:not(:last-child) {
      margin-right: 12px;
    }
  }
}
