<div class="progress" *ngIf="progress?.length">
  <div class="progress__item" *ngFor="let item of progress; index as i">
    <div class="item__number">{{ progress[i].quantity }}</div>
    <div [ngSwitch]="i">
      <ng-template ngSwitchCase="0">
        <div class="item__title">
          {{ 'profile.acquired-habits' | translate }}
        </div>
      </ng-template>
      <ng-template ngSwitchCase="1">
        <div class="item__title">
          {{ 'profile.habits-in-progress' | translate }}
        </div>
      </ng-template>
      <ng-template ngSwitchCase="2">
        <div class="item__title">
          {{ 'profile.written-articles' | translate }}
        </div>
      </ng-template>
      <ng-template ngSwitchDefault>
        <div class="item__title">
          {{ 'profile.published-news' | translate }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
