<div class="header-position shopping-list-content">
    <h2 class="header">Shopping list <span>{{ shoppingList?.length }}</span></h2>
    <a class="btn-see-all">See all</a>
</div>
<div class="shopping-list-content" *ngIf="shoppingList; else loading;">
    <div *ngIf="shoppingList.length; else empty;">
        <ul class="shopping-list">
            <li class="item" *ngFor="let shoppingItem of shoppingList">{{ shoppingItem.text }}
                <mat-checkbox
                    [checked]='shoppingItem.status === "DONE"' 
                    class="checkbox" 
                    color="primary"
                    (click)="toggleDone(shoppingItem)"
                ></mat-checkbox>
            </li>
        </ul>
    </div>
    <ng-template #empty>
        <p>You have no items in your Shopping List</p>
    </ng-template>
 </div>
 <ng-template #loading>
    <mat-spinner color="grey" diameter="70" class="loading"></mat-spinner>
 </ng-template>