<div class="shopping-list-content" *ngIf="!error">
    <div class="header-position">
        <h2 class="header">Shopping list <span>{{ shoppingList.length }}</span></h2>
        <a class="btn-see-all">See all</a>
    </div>
    <ul class="shopping-list" *ngIf="shoppingList.length; else unset">
        <li class="item" *ngFor="let shoppingItem of shoppingList">{{ shoppingItem.text }}
            <mat-checkbox
                [checked]='shoppingItem.status === "DONE"' 
                class="checkbox" 
                color="primary"
            ></mat-checkbox>
        </li>
    </ul>
    <ng-template #unset>
        <p>You have no items in your Shopping List</p>
    </ng-template>
</div>