@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.outer {
  background-color: var(--secondary-light-grey);
  display: flex;
  justify-content: center;
  
}

.shoppingList-block {
  border-top: 1px solid #e1e5e3;
  width: 185px;
  padding: 25px 0;
}

.shopping-list-content {
  margin: 0 auto;
  font-family: var(--secondary-font);
  font-style: normal;
}

.header-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 8px;
}

h2 > span {
  color: var(--tertiary-light-grey);
}

.empty-list {
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 15px;
}

.item {
  list-style: none;
  text-align: left;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  padding: 6px 0;
}

.shopping-list {
  width: 100%;
  padding: 0;
}

.btn-see-all {
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
}

.checkbox {
  float: right;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border: 1px solid #e1e1e1;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: green !important;
}

.mat-spinner circle,
::ng-deep.mat-progress-spinner circle {
  stroke: rgb(226, 226, 226) !important;
}

.loading {
  margin: 0 auto;
}

@media only screen and (max-width: $bp-desktop) {
  .header,
  .text-number {
    font-size: 12px;
    line-height: 15px;
  }

  .text-more {
    font-size: 11px;
    line-height: 13px;
  }

  .item {
    font-size: 11px;
    line-height: 16px;
  }
}


