<div *ngIf="userRole != null">
  <div *ngIf="userRole.role === 'ROLE_ADMIN' || userRole.role === 'ROLE_MODERATOR'; else errorPage">
    <app-admin-nav></app-admin-nav>
    <ng-container *ngIf="userChoice === 'users';else places">
      <app-users></app-users>
    </ng-container>

    <ng-template #places>
      <ng-container *ngIf="userChoice === 'places'">
        <app-places></app-places>
      </ng-container>
    </ng-template>
  </div>

  <ng-template #errorPage>
    <app-error></app-error>
  </ng-template>
</div>

