.friend-dashboard {
  background-color: var(--after-primary-light-grey);
  min-height: calc(100vh - 164px);
}

.container {
  padding: 28px 0 44px 0;
  padding-top: 28px;

  .profile-link {
    text-decoration: underline;
    color: var(--primary-green);
  }

  .friends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
    padding: 12px 0 44px 0;

    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      font-family: var(--secondary-font);
    }
  }

  .searchField {
    display: inline;
    position: relative;

    input {
      width: 426px;
      height: 36px;
      border: 1px solid var(--quintynary-light-grey);
      border-radius: 4px;
      padding: 8px;

      &:focus {
        outline: none;
        box-shadow: 0 0 3px 0 var(--quintynary-light-grey);
      }

      &::placeholder {
        color: var(--ubs-primary-light-grey);
        font-family: var(--primary-font);
        font-size: 14px;
      }
    }

    img {
      position: absolute;
      top: -1px;
      right: 10px;
    }
  }

  a {
    font-family: var(--primary-font);
    color: var(--ubs-quaternary-dark-grey);
    margin: 0 16px;
    font-size: 16px;
    line-height: 18.75px;
  }

  .button-link {
    line-height: 16px;
    margin: 0;
    color: var(--primary-dark-grey);

    .button-content {
      display: flex;

      .button-arrow {
        margin-right: 6px;
      }
    }
  }

  .active {
    color: var(--primary-green);
    padding: 5px 5px 0;
    text-decoration: none;
  }
}

@media (max-width: 992px) {
  .container {
    margin: auto;

    .searchField {
      input {
        margin-left: 30px;
        max-width: 35%;
      }
    }
  }
}

@media (max-width: 767px) {
  .friends {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
  }

  .search-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchField {
    position: relative;
    text-align: center;

    img {
      display: none;
    }
  }
}
