<div class="friend-dashboard">
  <div class="container">
    <a class="button-link" [routerLink]="['/profile', userId]">
      <div class="button-content">
        <img src="assets/img/icon/econews/arrow_left.svg" alt="arrow image" class="button-arrow" />
        <div class="button-text">{{ 'profile.friends.link-to-profile' | translate }}</div>
      </div>
    </a>
    <div class="friends">
      <h1>{{ 'profile.friends.friends' | translate }}</h1>
      <div>
        <form name="searchForm" class="searchField" *ngIf="!hideInput">
          <img [src]="searchIcon" alt="search-friend" />
          <input
            class="search"
            type="text"
            #search
            [placeholder]="'search.search-popup.placeholder' | translate"
            (keyup)="onKeyup(search)"
            maxlength="30"
          />
        </form>
        <span>
          <a [routerLink]="['/profile', userId, 'friends']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            {{ 'profile.friends.all-friends' | translate }} <span *ngIf="allFriendsAmount">{{ allFriendsAmount }}</span>
          </a>

          <a
            [routerLink]="['/profile', userId, 'friends', 'recommended']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ 'profile.friends.search-friends' | translate }}
          </a>
          <a
            [routerLink]="['/profile', userId, 'friends', 'requests']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ 'profile.friends.requests' | translate }} <span *ngIf="requestFriendsAmount">{{ requestFriendsAmount }}</span>
          </a>
        </span>
      </div>
    </div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
