@import 'src/typography/_resp.scss';

.friend-dashboard {
  background-color: var(--after-primary-light-grey);
  min-height: calc(100vh - 164px);

  @include responsivePCFirst(sm) {
    min-height: calc(100vh - 476px);
  }
}

.friend-dashboard-container {
  padding-top: 28px;
  padding-bottom: 44px;
  overflow-y: hidden;

  .profile-link {
    text-decoration: underline;
    color: var(--primary-green);
  }

  .friends {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: var(--tertiary-font);
    padding: 12px 0 44px;

    @include responsivePCFirst(xl) {
      padding: 12px 0 41px;
      justify-content: space-between;
    }

    @include responsivePCFirst(sm) {
      padding: 12px 0 21px;
    }

    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      font-family: var(--tertiary-font);
    }
  }

  a {
    font-family: var(--tertiary-font);
    color: var(--ubs-quaternary-dark-grey);
    margin: 0 16px;
    font-size: 16px;
    line-height: 18.75px;

    @include responsivePCFirst(sm) {
      margin: 0 6px;
    }
  }

  .friend-tabs {
    display: flex;
    gap: 38px;

    a {
      white-space: nowrap;
      margin: 0;
    }

    @include responsivePCFirst(2xl) {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 9px;
    }

    @include responsivePCFirst(xs) {
      margin-top: 17px;
    }
  }

  .searchForm {
    background-color: var(--white);
    margin-right: 38px;
    margin-left: auto;

    @include responsivePCFirst(xl) {
      margin: 0;
    }

    @include responsivePCFirst(sm) {
      margin: 0 auto;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    width: 426px;
    height: 36px;
    border: 1px solid var(--quintynary-light-grey);
    border-radius: 4px;
    padding: 8px;

    @include responsivePCFirst(xl) {
      width: 330px;
    }

    @include responsivePCFirst(md) {
      width: 295px;
    }

    @include responsivePCFirst(sm) {
      width: 256px;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 3px 0 var(--quintynary-light-grey);
    }

    input {
      height: 100%;
      border: none;
      flex-grow: 1;
      background: transparent;

      &::placeholder {
        color: var(--ubs-primary-light-grey);
        font-family: var(--tertiary-font);
        font-size: 14px;
      }
    }
  }

  .button-link {
    line-height: 16px;
    margin: 0;
    color: var(--primary-dark-grey);

    .button-content {
      display: flex;

      .button-arrow {
        margin-right: 6px;
      }
    }
  }

  .active {
    color: var(--primary-green);
    text-decoration: none;
  }
}
