.section-caption {
  font-family: var(--secondary-font);
  font-size: 48px;
  margin: 40px 0;
  text-align: center;
}

.swiper-slide {
  margin-top: 150px;
}

.navigation-pannel {
  margin: 10px 0;
  text-align: center;
}

.tips-navigation {
  background-color: transparent;
  color: var(--primary-green);
  height: 52px;
  width: 52px;
  margin: 0 50px;
}

.arrow {
  font-weight: 300;
  font-size: 30px;
}

@media screen and (max-width: 1023px) {
  .swiper-slide {
    margin-top: 50px;
  }
}
