<div class="validation-error" *ngIf="categoryControl.invalid && (categoryControl.dirty||categoryControl.touched)">
  <div *ngIf="categoryControl.errors.required">
    Category is required.
  </div>
  <div *ngIf="categoryControl.errors.minlength">
    Category must be at least 3 characters long.
  </div>
  <div *ngIf="categoryControl.errors.maxlength">
    Category must be maximum 30 characters long.
  </div>
</div>
<ng-select
  [items]="categories"
  bindLabel="name"
  bindValue="name"
  id="category"
  [addTag]=addTypeCategory
  maxlength="30"
  [multiple]="false"
  placeholder="Select category or add new"
  [(ngModel)]="selectedType"
  (change)="ev()"
  #categoryControl="ngModel"
  required>
</ng-select>
<br>


