.inner {
  padding: 35px 24px 24px 39px;
  font-family: var(--primary-font);

  .title {
    margin-bottom: 20px;
    color: var(--ubs-primary-grey);
  }

  .items-box {
    display: flex;
    margin-bottom: 0;
  }

  .subtitle {
    max-width: 380px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
    color: var(--ubs-primary-grey);
  }

  .simpleList {
    max-width: 391px;
    padding-left: 20px;
    margin-bottom: 0;
  }

  li {
    font-size: 14px;
    line-height: 20px;
    color: var(--ubs-primary-grey);
  }

  .boxes {
    display: flex;
    gap: 50px;
    margin-bottom: 56px;
  }

  .numList {
    max-width: 391px;
    padding-left: 20px;
    margin-bottom: 0;
  }

  .button {
    width: 126px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--ubs-button-light-green);
    border-radius: 4px;
    color: var(--ubs-quaternary-dark-grey);
  }
}

@media screen and (max-width: 992px) {
  .inner {
    padding: 20px;
  }
}

@media screen and (max-width: 575px) {
  .inner {
    padding: 10px;

    .boxes {
      flex-direction: column;
      gap: 36px;
      margin-bottom: 36px;

      .subtitle {
        margin-bottom: 16px;
      }
    }
  }
}
