<form [formGroup]="addAddressForm" class="row adress">
  <div class="col-12 col-sm-6 form-group">
    <label>Місто</label>
    <select formControlName="city" class="shadow-none form-control">
      <option value="Kyiv">Київ</option>
    </select>
    <div class="w-100 city-notice">
      На даний момент обслуговуємо лише м.Київ
    </div>
  </div>
  <div class="col-12 col-sm-6 form-group">
    <label>Район</label>
    <input formControlName="district" class="shadow-none form-control" matGoogleMapsAutocomplete [country]="'ua'"
      [types]="['geocode']" (onAutocompleteSelected)="onDistrictSelected($event)"
      [attr.disabled]="districtDisabled ? true : null" [value]="region">
    <div class="validation" *ngIf="district.invalid && addAddressForm.get('district').touched">
      <app-ubs-input-error [formElement]="district" [controlName]="'district'"></app-ubs-input-error>
    </div>
  </div>
  <div class="col-12 col-sm-6 form-group">
    <label>Вулиця</label>
    <input formControlName="street" type="text" class="shadow-none form-control" matGoogleMapsAutocomplete
      (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)"
      (change)="onChange()" [types]="['address']" [country]="'ua'">
    <div class="validation" *ngIf="street.invalid && addAddressForm.get('street').touched">
      <app-ubs-input-error [formElement]="street" [streetFieldValue]="street.value" [controlName]="'street'"></app-ubs-input-error>
    </div>
  </div>
  <div class="col-12 col-sm-6 d-flex justify-content-between flex-wrap form-group">
    <div class="item">
      <label>Корпус</label>
      <input formControlName="houseCorpus" type="text" class="shadow-none form-control">
    </div>
    <div class="item">
      <label>Під'їзд</label>
      <input formControlName="entranceNumber" type="text" class="shadow-none form-control">
    </div>
    <div class="w-100">
      <div class="validation" *ngIf="houseCorpus.invalid && houseCorpus.touched">
        <app-ubs-input-error [formElement]="houseCorpus" [controlName]="'houseCorpus'"></app-ubs-input-error>
      </div>
    </div>
  </div>
</form>
<div class="d-flex justify-content-end" mat-dialog-actions>
  <button class="btn secondary-global-button" mat-button (click)="onNoClick()">Відмінити</button>
  <button class="btn primary-global-button" mat-button [mat-dialog-close]="addAddressForm.value">Додати адресу</button>
</div>
