<div class="comment-textarea-wrapper">
  <div
    #commentTextarea
    (drop)="$event.preventDefault()"
    appPlaceholderForDiv
    [placeholderText]="placeholder | translate"
    contenteditable="true"
    class="comment-textarea"
    (input)="checkInput($event)"
    (focus)="onCommentTextareaFocus()"
    (blur)="onCommentTextareaBlur($event)"
    (keydown)="onCommentKeyDown($event)"
    (paste)="onPaste($event)"
    tabindex="0"
    [ngClass]="{ invalid: content.errors?.maxlength, focused: isTextareaFocused }"
  ></div>
  <p *ngIf="content.errors?.maxlength" class="error-message">
    {{ 'homepage.eco-news.comment.reply-error-message' | translate }}
  </p>
  <div
    #dropdown
    class="dropdown"
    *ngIf="isDropdownVisible"
    (keydown)="onDropdownKeyDown($event)"
    (blur)="onDropdownBlur($event)"
    tabindex="0"
    [style.top.px]="cursorPosition?.top"
    [style.left.px]="cursorPosition?.left"
  >
    <mat-option *ngFor="let user of suggestedUsers" [value]="user" (click)="selectSuggestion(user)" (blur)="onDropdownBlur($event)">
      <app-user-profile-image
        [imgPath]="user.profilePicturePath || ''"
        [firstName]="user.userName"
        class="user-img"
        [additionalImgClass]="'comment-tag-img'"
      ></app-user-profile-image>
      <div class="user-name">{{ user.userName }}</div>
    </mat-option>
  </div>
</div>
