:host {
  display: block;
  width: 100%;
}

::ng-deep .comment-textarea-uploader {
  .cropper-block,
  .cropper-buttons {
    display: none !important;
  }
}

.comment-textarea-uploader {
  position: relative;
  width: calc(100% - 1px);

  .cancel-btn {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: -10px;
    cursor: pointer;
    color: var(--tertiary-dark-grey);
  }
}

.image-preview-wrapper {
  padding-left: 9px;
  max-width: calc(33.33% - 16px);
  width: 100%;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .cancel-btn {
    font-size: 18px;
    position: absolute;
    width: 19px;
    height: 19px;
    cursor: pointer;
    color: var(--tertiary-dark-grey);
    background-color: var(--shadow-dark-grey);
  }
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.add-more-images {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  margin-left: 8px;
  background: url('/assets/icons/habits/plus-circle-green.svg') no-repeat center;
}

.comment-textarea-wrapper {
  width: 100%;

  .comment-textarea {
    outline: none;
    width: 100%;
    min-height: 72px;
    max-height: 112px;
    padding: 10px 0 0 20px;
    border: 1px solid var(--secondary-grey);
    border-radius: 5px;
    background-color: var(--primary-white);
    overflow: auto;

    &:focus {
      border: 2px solid var(--primary-green);
    }

    &.invalid {
      border: 2px solid var(--error-red);
    }

    .placeholder {
      color: var(--secondary-grey);
    }
  }

  .dropdown-trigger {
    position: absolute;
    width: 320px;
    max-height: 185px;
    border-radius: 5px;
    border: 1px var(--quintynary-light-grey);
    background-color: var(--ubs-button-light-grey);
    overflow: hidden;
    overflow-y: auto;
    visibility: hidden;
  }

  .user-name {
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--freinacht-black);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
  }

  ::ng-deep .mat-option {
    height: 60px;
  }

  ::ng-deep .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .error-message {
    color: var(--ubs-primary-red);
    font-size: 14px;
    font-weight: 400;
    min-height: 14px;
    margin-top: 0;
    margin-bottom: -5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
}

::ng-deep .mat-menu {
  max-height: 300px;
  width: 300px;

  .mat-mdc-menu-content {
    height: 100%;
    overflow-y: scroll;

    .mat-mdc-menu-item-text {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}
