<div class="eco-events">
  <div class="eco-events-wrapper" *ngIf="latestNews.length > 0">
    <div class="main-event">
      <div class="main-event-image">
        <img [src]="latestNews[0]?.imagePath || eventImg" alt="event-image">
      </div>
      <div class="main-event-content">
        <p class="event-date">{{ latestNews[0]?.creationDate }}</p>
        <h3>{{ latestNews[0]?.title }}</h3>
        <a class="read-more"
           [routerLink]="['/news', latestNews[2].id]"
        >
          {{ "homepage.eco-news.read-more" | translate }}
          <img [src]="arrow"
               alt="arrow"
          >
        </a>
      </div>
    </div>
    <div class="other-events" >
      <div class="other-event">
        <p class="event-date">{{ latestNews[1]?.creationDate }}</p>
        <h3>{{ latestNews[1]?.title }}</h3>
        <a class="read-more"
           [routerLink]="['/news', latestNews[2].id]"
        >
          {{ "homepage.eco-news.read-more" | translate }}
          <img [src]="arrow"
               alt="arrow"
          >
        </a>
      </div>
      <div class="splitter"></div>
      <div class="other-event">
        <p class="event-date">{{ latestNews[2]?.creationDate }}</p>
        <h3>{{ latestNews[2]?.title }}</h3>
        <a class="read-more"
           [routerLink]="['/news', latestNews[2].id]"
        >
          {{ "homepage.eco-news.read-more" | translate }}
          <img [src]="arrow"
               alt="arrow"
          >
        </a>
      </div>
    </div>
  </div>
  <a class="read-more centered"
     [routerLink]="['/news']"
  >
    {{ "homepage.eco-news.read-all" | translate }}
    <img [src]="arrow"
         alt="arrow"
    >
  </a>
</div>
