<div class="container">
    <div class="top-elements">
        <div class="back-button">
            <p>Back to news</p>
        </div>
        <div class="edit-news">
            <p>Edit news</p>
        </div>
    </div>
    <div class="tags">Tag</div>
    <div class="news-content">
        <div class="news-title">2020 New year’s Resolution: Stop Single Use Plastics</div>
        <div class="news-info">
            <div class="news-info-author">by John Smith</div>
            <div class="news-info-dot"></div>
            <div class="news-info-date">Jan 30, 2020</div>
        </div>
        <div class="news-image"></div>
        <div class="news-text-container">
            <div class="news-text">It’s getting easier every day even in Thailand where single-use plastics have been “thrown” at customers for decades and still are…sometimes but let’s look at the progress!

            Some large supermarkets such as Tesco Lotus don’t give you plastic bags anymore. They rely on you to bring your own bag or sell you a reusable bag. I recently bought one from Villa Market that proudly says “One bag saves many lives”, the bag in question is in fabrics and is super sturdy.
            
            Going shopping with a reusable bag should be one of your New Year’s resolution giving it the same importance as losing weight, going to the gym or being more positive.
            
            It’s amazing to read the eco-news these days. The gloomy pictures of planet earth suffering from climate change are here to stay but so are the pictures and stories of the zillions of projects and programmes existing all over the world from the local initiatives such as Clean The Beach Boot Camp to major projects such as The Sea Cleaners. People are taking action where the governments don’t!
            
            People are putting pressure on the governments through massive protests and even hunger strikes at Extinction Rebellion for example and they are also putting the private sector under pressure, so much under pressure that large supermarket chains have followed through banning single-use plastic bags from their stores, some coffee shops are banning plastic cups and other small shops decided to make you pay for a plastic bag to encourage us to bring a reusable bag. 
            
            Times are changing and so are people’s habits so let’s do this, let’s make it one of our New Year’s Resolution, let’s stop using single-use plastics.
            
            There are many ways to achieve this goal. Let’s review a few.
            
            When you shop, try and avoid the items packaged in plastic such as this single banana in one single plastic bag sold at 7Eleven, shame on them! Buy food in jars whenever possible, it sends a strong message to manufacturers and they are reusable!</div>
        </div>
    </div>
</div>