@mixin height-and-width($height, $width) {
  height: $height;
  width: $width;
}

.dialog-container {
  position: relative;
  width: 700px;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: larger;

  .title {
    margin: 6px 36px;

    &-text {
      font-weight: bolder;
    }
  }

  .form {
    margin: 28px 36px;
    font-size: 20px;

    .mat-form-field {
      width: 60%;
    }

    .select {
      height: 36px;
      width: 328px;
      padding: 0 10px;
      border: 1px solid var(--ubs-grey-blue);
      border-radius: 4px;
      outline: none;
    }
  }

  .form-control {
    background-color: var(--white);
  }

  .mat-input-element {
    padding: 7px;
    height: 50px;
  }

  ::ng-deep .mat-form-field-infix {
    border: none;
  }

  ::ng-deep .mat-input-element.mat-form-field-autofill-control.mat-autocomplete-trigger.ng-invalid.ng-touched {
    border: 1px solid var(--blue) !important;
  }

  ::ng-deep .mat-input-element {
    border: 1px solid var(--ubs-quintynary-light-grey);
    border-radius: 0.25rem;
    caret-color: var(--ubs-primary-black);
  }

  ::ng-deep .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
    color: unset;
  }

  ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-ripple {
      background-color: var(--white);
    }
  }

  ::ng-deep .mat-form-field-underline,
  ::ng-deep .mat-form-field-subscript-wrapper {
    height: 0;
  }

  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    background: none;
  }

  ::ng-deep .mat-autocomplete-panel .mat-autocomplete-visible {
    border-radius: 0.25rem;
  }

  .info {
    font-weight: normal;
    font-size: 16px;
    margin: 0 36px;

    .text {
      line-height: 24px;
      margin-bottom: 0;
      color: var(--ubs-secondary-grey);
    }
  }

  .close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .close-btn {
    border: none;
    background-color: transparent;
    outline: none;
  }

  .footer-btns {
    margin: 20px 36px;

    button {
      margin: 0 10px;
      padding: 8px 24px;
      border-radius: 4px;
      width: 9rem;
      height: 3rem;
    }

    button:hover {
      line-height: 1rem;
    }

    .primaryButton {
      border: none;
      color: var(--ubs-primary-black);
      background: var(--ubs-button-light-green);
    }

    .secondaryButton {
      color: var(--ubs-quaternary-dark-grey);
      border: 1px solid var(--ubs-quaternary-dark-grey);
    }
  }
}

@media screen and (max-width: 575px) {
  .dialog-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .title {
      line-height: 1.5em;
      margin: 1em 0.5em;
      text-align: center;
    }

    .close-btn {
      img {
        width: 20px;
        height: 20px;
      }
    }

    .footer-btns {
      display: flex;
      flex-direction: row;
      gap: 2em;
      align-content: space-between;
      justify-content: center;
      align-items: center;
      padding-bottom: 10em;
    }
  }

  .dialog-container .form {
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }
}
