<div class="dialog-container">
  <div class="close-container">
    <button class="close-btn" mat-dialog-close (click)="redirectToUbsPage()">
      <img src="{{ closeButton }}" alt="close" />
    </button>
  </div>
  <div class="title">
    <h5 class="title-text">{{ 'order-details.location.title' | translate }}</h5>
  </div>
  <div class="form-spinner-wrapper">
    <form *ngIf="!isFetching; else spinner" class="form">
      <div class="city-container">
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          class="shadow-none form-control"
          #autocompleteTrigger="matAutocompleteTrigger"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let city of filteredOptions | async"
            [value]="city"
            (click)="changeLocation(city.locationId, city.locationName)"
          >
            {{ city.locationName }}
          </mat-option>
        </mat-autocomplete>
        <img
          alt="arrowDown"
          class="arrowDownImg"
          src="./assets/img/ubs-tariff/arrow-down.svg"
          (click)="openAuto($event, autocompleteTrigger)"
        />
      </div>
    </form>
    <ng-template #spinner>
      <app-spinner class="mx-auto"></app-spinner>
    </ng-template>
  </div>
  <div class="info" *ngIf="!isFetching">
    <p class="text" *ngIf="selectedLocationId === 1">{{ 'order-details.location.info-city' | translate }}</p>
    <p class="text" *ngIf="selectedLocationId === 2">{{ 'order-details.location.info-region' | translate }}</p>
  </div>

  <mat-dialog-actions class="footer-btns">
    <button class="ubs-secondary-global-button" mat-dialog-close (click)="redirectToUbsPage()">
      {{ 'order-details.location.btn.back' | translate }}
    </button>
    <button
      class="ubs-primary-global-button"
      [disabled]="isFetching || !currentLocation || myControl.invalid"
      cdkFocusInitial
      (click)="saveLocation()"
    >
      {{ 'order-details.location.btn.continue' | translate }}
    </button>
  </mat-dialog-actions>
</div>
