@mixin height-and-width($height, $width) {
  height: $height;
  width: $width;
}

.dialog-container {
  position: relative;
  width: 700px;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: larger;
  min-height: 317px;

  .title {
    margin: 6px 36px;

    &-text {
      font-weight: bolder;
    }
  }

  .form-spinner-wrapper {
    margin: 0 36px;
    min-height: 120px;

    ::ng-deep .mat-spinner {
      margin: 28px auto;
    }
  }

  .form {
    font-size: 20px;
    margin: 28px auto;

    .city-container {
      width: 60%;
      position: relative;

      .arrowDownImg {
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
      }
    }

    .select {
      height: 36px;
      width: 328px;
      padding: 0 10px;
      border: 1px solid var(--ubs-quintynary-light-grey);
      border-radius: 4px;
      outline: none;
    }
  }

  .form-control {
    background-color: var(--white);
  }

  .mat-input-element.mat-autocomplete-trigger.ng-invalid.ng-touched {
    border: 1px solid var(--blue) !important;
  }

  .mat-input-element {
    padding: 7px;
    height: 50px;
    border: 1px solid var(--ubs-quintynary-light-grey) !important;
    border-radius: 0.25rem !important;
    caret-color: var(--ubs-primary-black) !important;
  }

  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
    color: unset !important;
  }

  .mat-autocomplete-panel .mat-autocomplete-visible {
    border-radius: 0.25rem;
  }

  .info {
    font-weight: normal;
    font-size: 16px;
    margin: 0 36px;

    .text {
      line-height: 24px;
      margin-bottom: 0;
      color: var(--ubs-secondary-grey);
    }
  }

  .close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .close-btn {
    border: none;
    background-color: transparent;
    outline: none;
  }

  .footer-btns {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin: 20px 36px;
  }
}

@media screen and (max-width: 575px) {
  .dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;

    .form-spinner-wrapper {
      margin: 0;
      padding: 10px;
      min-height: 100px;
      flex-direction: 1 1 100px;
    }

    .title {
      line-height: 1.5em;
      margin: 1em 0.5em;
      text-align: center;
    }

    .close-btn {
      img {
        width: 20px;
        height: 20px;
      }
    }

    .footer-btns {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-content: space-between;
      justify-content: center;
      align-items: center;
      padding-bottom: 10em;
    }
  }

  .dialog-container .form {
    display: flex;
    justify-content: center;

    .mat-form-field {
      width: 100%;
    }
  }
}
