<div class="dialog-container">
  <div class="close-container">
    <button class="close-btn" mat-dialog-close (click)="closePopUp()">
      <img src="{{ closeButton }}" alt="close" />
    </button>
  </div>
  <div class="title">
    <h5 class="title-text">{{ 'order-details.location.title' | translate }}</h5>
  </div>
  <div class="form-spinner-wrapper">
    <form *ngIf="!isFetching; else spinner" class="form">
      <div class="city-container">
        <input
          #input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          class="shadow-none form-control"
          #autocompleteTrigger="matAutocompleteTrigger"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="changeTariff($event.option.value)">
          <ng-container *ngIf="filteredOptions$ | async as options">
            <mat-option *ngFor="let tariff of options" [value]="tariff">
              <div class="d-flex flex-column">
                <span>{{ getTariffName(tariff) }}</span>
                <span class="subheading">{{ getTariffLocations(tariff) }}</span>
              </div>
            </mat-option>
            <mat-option *ngIf="!options.length" disabled>
              {{ 'order-details.location.no-results' | translate }}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <button class="clear-btn" (click)="clearInput(); input.focus()">
          <img src="{{ closeButton }}" alt="close" />
        </button>
        <img
          alt="arrowDown"
          class="arrowDownImg"
          src="./assets/img/ubs-tariff/arrow-down.svg"
          (click)="openAuto($event, autocompleteTrigger)"
        />
      </div>

      <div class="tariff-description-container" *ngIf="selectedTariff && getTariffLocations(selectedTariff)">
        <p class="tariff-description">{{ getTariffLocations(selectedTariff) }}</p>
      </div>
    </form>
    <ng-template #spinner>
      <app-spinner class="mx-auto"></app-spinner>
    </ng-template>
  </div>

  <mat-dialog-actions class="footer-btns">
    <button class="ubs-secondary-global-button" mat-dialog-close (click)="closePopUp()">
      {{ 'order-details.location.btn.back' | translate }}
    </button>
    <button
      class="ubs-primary-global-button"
      [disabled]="isFetching || !selectedTariff || myControl.invalid"
      cdkFocusInitial
      (click)="saveLocation()"
    >
      {{ 'order-details.location.btn.continue' | translate }}
    </button>
  </mat-dialog-actions>
</div>
