<div class="google-map">
  <p class="title">
    Event address:
    <span>{{ adress }}</span>
  </p>
  <google-map [style.width.%]="100" [style.height.%]="100" [zoom]="12" (mapReady)="onMapReady($event)">
    <map-marker
      *ngIf="eventPlace"
      [position]="eventPlace.location"
      [title]="markerContent"
      (mouseOver)="markerOver(eventPlace)"
      (mouseOut)="markerOut(eventPlace)"
    />
  </google-map>
  <div class="map-button">
    <button mat-raised-button color="warn" (click)="closeMap()">Close</button>
  </div>
</div>
