.google-map {
  height: 100%;
  width: 100%;
  padding: 0 0 80px 0;

  .map-button {
    text-align: right;
    margin: 10px 0 0 0;
  }
}

.title {
  font-size: 25px;
  font-weight: bold;

  span {
    font-size: 20px;
    font-weight: normal;
  }
}
