<div class="google-map">
  <mat-checkbox class="example-margin" [(ngModel)]="mapDeactivate" [labelPosition]="'before'" (change)="showCurLocation()"
    >Show Your curent location</mat-checkbox
  >
  <p>Event address: {{ adress }}</p>
  <agm-map [style.width.%]="100" [style.height.%]="100" [zoom]="12" (mapReady)="onMapReady($event)" (mapClick)="addMarker($event)">
    <agm-marker
      *ngIf="eventPlace"
      [latitude]="eventPlace.location.lat"
      [longitude]="eventPlace.location.lng"
      [title]="markerContent"
      (mouseOver)="markerOver(eventPlace)"
      (mouseOut)="markerOut(eventPlace)"
      [animation]="eventPlace.animation"
    ></agm-marker>
  </agm-map>
  <button mat-raised-button color="warn" (click)="deletePlace()">Clear Mark</button>
</div>
