<div class="wraper">
  <ng-container *ngIf="!isSpinner; else spinner">
    <div class="order">
      <div [ngSwitch]="true">
        <div class="btn-wrapper" *ngSwitchCase="!orderResponseError && !orderStatusDone">
          <button class="btn primary-global-button" (click)="toPersonalAccount()">
            {{ 'confirm-page.to-personal-account' | translate }}
          </button>
        </div>
        <div class="error" *ngSwitchCase="orderResponseError">
          <button *ngIf="!isUserPageOrderPayment()" class="btn-back" (click)="returnToPayment('/ubs/order')">
            <i class="fas fa-chevron-left" aria-hidden="true"></i> &nbsp;
            {{ 'confirm-page.return-to-payment' | translate }}
          </button>
          <button *ngIf="isUserPageOrderPayment()" class="btn-back" (click)="returnToPayment('/ubs-user/orders')">
            <i class="fas fa-chevron-left" aria-hidden="true"></i> &nbsp;
            {{ 'confirm-page.return-to-payment' | translate }}
          </button>
          <h2 class="title">{{ 'confirm-page.oops' | translate }}</h2>
          <div class="description">
            <p>
              {{ 'confirm-page.order-not-paid-before' | translate }}
              <a class="link" routerLink="/ubs-user/orders">№{{ orderId }}</a>
              {{ 'confirm-page.order-not-paid-after' | translate }}
            </p>
          </div>
        </div>
        <div *ngSwitchDefault>
          <h2 *ngIf="!isUserPageOrderPayment()" class="title">
            {{ 'confirm-page.title-text.accepted' | translate }}
            (<a class="link" routerLink="/ubs-user/orders">№{{ orderId }}</a
            >)
          </h2>
          <h2 *ngIf="isUserPageOrderPayment()" class="title">
            {{ 'confirm-page.title-text.paid' | translate }}
            (<a class="link" routerLink="/ubs-user/orders">№{{ orderId }}</a
            >)
          </h2>
          <div class="description">
            <p>{{ 'confirm-page.description' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="row infolinks">
        <div class="col-md-6 list">
          <ul>
            <h5>{{ 'confirm-page.ubsServices' | translate }}</h5>
            <li>
              <a routerLink="/ubs/order" (click)="saveDataOnLocalStorage()">
                {{ 'confirm-page.other-order' | translate }}
              </a>
            </li>
            <li>
              <a>{{ 'confirm-page.mail' | translate }}</a>
            </li>
            <li>
              <a>{{ 'confirm-page.ukraine-site' | translate }}</a>
            </li>
            <li>
              <a>{{ 'confirm-page.eco-shop' | translate }}</a>
            </li>
          </ul>
          <ul>
            <h5>{{ 'confirm-page.information' | translate }}</h5>
            <li>
              <a>{{ 'confirm-page.instruction' | translate }}</a>
            </li>
            <li>
              <a>{{ 'confirm-page.video' | translate }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <img class="image" src="assets\img\ubs\black_garbage_bag.svg" alt="eco-people" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="p-40">
            {{ 'confirm-page.questions' | translate }} <a class="link" href="">{{ 'confirm-page.contact' | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #spinner>
    <app-spinner class="mat-spinner"></app-spinner>
  </ng-template>
</div>
