.list-image {
  margin: 16px;
  width: 327px;
  height: 294.12px;
}

.title-list-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  color: #313131;
}
