<div id="list-gallery-content">
  <div class="list-image">
    <img src="" alt="user added image" />
  </div>
  <div class="filter-tag"></div>
  <div class="title-list">
    <p class="title-list-text">
      2020 New year’s Resolution: Stop Single Use Plastics
    </p>
  </div>
  <div class="list-text">
    <p>
      It’s getting easier every day even in Thailand where single-use plastics
      have been “thrown” at customers for decades and still are…sometimes but
      let’s look at the progress! sldkfnslkdjf wsfkn;skl sdlfkn;ls
    </p>
  </div>
  <div class="user-data-added-news">
    <div>
      <img src="" alt="first-last-name" />
      <p>John Smith</p>
      <p>Jan 28, 2019</p>
      <a><img src="" alt="Share button" />Share</a>
    </div>
  </div>
</div>
