<div id="list-gallery-content">
  <div class="list-image">
    <img
      class="list-image-content"
      src="../../../../../../assets/img/tamplate-image-list.png"
      alt="user added image"
    />
  </div>
  <div class="filter-tag">
    <p class="ul-eco-buttons">{{ tag }}</p>
  </div>
  <div class="title-list">
    <p>
      {{ changedTitleLength }}
    </p>
  </div>
  <div class="list-text">
    <p>
      {{ changedTextLength }}
    </p>
  </div>
  <div class="user-data-added-news">
    <p class="user-data-text-date-share">
      <img
        class="icon"
        src="../../../../../../assets/img/icon/econews/profile-icon.svg"
        alt="user icon"
      />{{ name }}
    </p>
    <p class="user-data-text-date-share">
      <img
        class="icon"
        src="../../../../../../assets/img/icon/econews/calendar-icon.svg"
        alt="calendar icon"
      />{{ creationDate }}
    </p>
    <a class="user-data-text-date-share"
      ><img
        class="icon"
        src="../../../../../../assets/img/icon/econews/share-icon.svg"
        alt="Share button"
      />Share</a
    >
  </div>
</div>
