.sign-in {
  width: 80%;
  height: auto;
}

.wrapper-container {
  display: block;
  margin: 0 auto !important;
  max-width: 800px;
  width: 65%;  
  z-index: 2;
  background: #ffffff;
}

label[for="email"],
label[for="password"],
label[for="first-name"] {
  font: 16px 'OpenSans', sans-serif;
  letter-spacing: 0.34px;
  color: #839c94;
  margin-top: 10px;
}

form>h1 {
  font: 30px 'OpenSans-Bold', sans-serif;
  letter-spacing: 0.18px;
  font-weight: 600;
  margin: 10% 0;
}

form>h2 {
  font: 18px 'OpenSans-Regular', sans-serif;
  line-height: 22px;
  letter-spacing: 0.18px;
  font-weight: 500;
  margin-top: 5px;
}

/*MediaQueries*/
@media screen and (max-width: 1440px) {
  .sign-in {
    width: 60%;
  }
}

@media screen and (max-width: 1152px) {
  .sign-in {
    margin-bottom: 2%;
  }

  .form-pic {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-container {
    display: block;
    margin: 0 auto !important;
    width: 85%;
    max-width: 800px;
    height: 100%;
    z-index: 2;
    background: #ffffff;
  }

  .form-pic {
    width: 50%;
  }

  form {
    margin: 2% 5% 5% 5%;
  }
}

@media screen and (max-width: 900px) {
  .form-pic {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-container {
    width: 65%;
    height: auto;
  }

  .form-wrapper {
    display: block;
    max-width: 800px;
    width: 100%;
  }

  .form-pic {
    display: none;
  }

  .sign-in {
    width: 100%;
    height: auto;
    padding: 0 0 5% 0;
  }

  .wrapper-sign-up {
    margin: -10px 10% 10% 10%;
  }

  form {
    margin: 10%;
  }

  form>h1 {
    font: 26px 'OpenSans-Bold', sans-serif;
    padding-top: 5%;
  }
}

@media screen and (max-width: 600px) {
  .pass {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-container {
    width: 95%;
    height: auto;
  }
}