<div class="card mx-auto" style="width: 95%">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ 'users.users' | translate }}</h4>
      <div class="input-group mb-3" style="width: 25%">
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'users.search' | translate | lowercase }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          [(ngModel)]="searchReg"
          (keyup.enter)="onKeydown()"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="onKeydown()">{{ 'users.search' | translate }}</button>
        </div>
      </div>
      <div class="table-responsive" style="padding: 1%">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <caption>
            Users table
          </caption>
          <!-- Position Column -->
          <ng-container matColumnDef="email">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="cursor: pointer"
              scope="col"
              (click)="selectColumnToSort('email')"
              [matMenuTriggerFor]="menu"
            >
              {{ 'users.email' | translate
              }}<mat-icon svgIcon="{{ sortArrow }}" [hidden]="sortColumn !== 'email' || sortDirection === 'asc'"></mat-icon>
            </th>
            <td mat-cell id="emailColumn" *matCellDef="let element" [class.blueColumn]="sortColumn === 'email' && sortDirection === 'desc'">
              {{ element.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="cursor: pointer"
              scope="col"
              (click)="selectColumnToSort('firstName')"
              [matMenuTriggerFor]="menu"
            >
              {{ 'users.first-name' | translate }}<mat-icon svgIcon="{{ sortArrow }}" [hidden]="sortColumn !== 'firstName'"></mat-icon>
            </th>
            <td mat-cell id="firstNameColumn" *matCellDef="let element" [class.blueColumn]="sortColumn === 'firstName'">
              {{ element.firstName }}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="lastName">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="cursor: pointer"
              scope="col"
              (click)="selectColumnToSort('lastName')"
              [matMenuTriggerFor]="menu"
            >
              {{ 'users.last-name' | translate }}<mat-icon svgIcon="{{ sortArrow }}" [hidden]="sortColumn !== 'lastName'"></mat-icon>
            </th>
            <td mat-cell *matCellDef="let element" id="lastNameColumn" [class.blueColumn]="sortColumn === 'lastName'">
              {{ element.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateOfRegistration">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="cursor: pointer"
              scope="col"
              (click)="selectColumnToSort('dateOfRegistration')"
              [matMenuTriggerFor]="menu"
            >
              {{ 'users.date-of-registration' | translate
              }}<mat-icon svgIcon="{{ sortArrow }}" [hidden]="sortColumn !== 'dateOfRegistration'"></mat-icon>
            </th>
            <td mat-cell *matCellDef="let element" id="dateOfRegistrationColumn" [class.blueColumn]="sortColumn === 'dateOfRegistration'">
              {{ element.dateOfRegistration }}
            </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell scope="col" *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="selectRole">
                <mat-select
                  [(value)]="element.role"
                  (selectionChange)="changeRole(element.id, $event.value, element.email)"
                  [disabled]="element.email === userEmail"
                >
                  <mat-option *ngFor="let role of roles" [value]="role">
                    {{ role.toString().toLocaleLowerCase() }}
                  </mat-option>
                </mat-select>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="block">
            <th mat-header-cell scope="col" *matHeaderCellDef>{{ 'users.actions' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.userStatus !== 'BLOCKED' && element.userStatus !== 'DEACTIVATED'"
                mat-raised-button
                class="btn btn-outline-warning"
                (click)="updateUserStatus(element.id, 'BLOCKED', element.email)"
                [disabled]="element.email === userEmail"
              >
                {{ 'users.block' | translate }}
              </button>
              <button
                *ngIf="element.userStatus === 'BLOCKED'"
                mat-raised-button
                class="btn btn-outline-warning"
                (click)="updateUserStatus(element.id, 'ACTIVATED', element.email)"
                [disabled]="element.email === userEmail"
              >
                {{ 'users.unblock' | translate }}
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="deactivate">
            <th mat-header-cell scope="col" *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.userStatus !== 'DEACTIVATED'"
                mat-raised-button
                class="btn btn-outline-danger"
                (click)="updateUserStatus(element.id, 'DEACTIVATED', element.email)"
                [disabled]="element.email === userEmail"
              >
                {{ 'users.deactivate' | translate }}
              </button>
              <button
                *ngIf="element.userStatus === 'DEACTIVATED'"
                mat-raised-button
                class="btn btn-outline-danger"
                (click)="updateUserStatus(element.id, 'ACTIVATED', element.email)"
                [disabled]="element.email === userEmail"
              >
                {{ 'users.activate' | translate }}
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="3"> {{ 'users.loading-data' | translate }}</mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="3"> {{ 'users.no-data' | translate }}</mat-footer-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ hide: users !== null }"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ hide: users !== null && users.length !== 0 }"></mat-footer-row>
        </table>
      </div>
      <br />
      <div class="container">
        <div id="pagination">
          <pagination
            #paginationElement
            [itemsPerPage]="pageSize"
            [totalItems]="totalItems"
            (pageChanged)="changePage($event)"
            [maxSize]="maxSizePagination"
            [rotate]="true"
            [boundaryLinks]="true"
            [firstText]="'pagination.first-text' | translate"
            [previousText]="'pagination.previous' | translate"
            [nextText]="'pagination.next' | translate"
            [lastText]="'pagination.last' | translate"
            class="flex-wrap"
          ></pagination>
        </div>
        {{ 'users.items-per-page' | translate }}
        <mat-select [(value)]="pageSize" (valueChange)="changePage(page)" style="width: 50px; margin-left: 15px">
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="10">10</mat-option>
          <mat-option [value]="15">15</mat-option>
          <mat-option [value]="20">20</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="sortData(selectedColumnToSort, 'asc')">{{ 'users.sort-ascending' | translate }}</button>
  <button mat-menu-item (click)="sortData(selectedColumnToSort, 'desc')">{{ 'users.sort-descending' | translate }}</button>
  <button mat-menu-item (click)="sortData('email', 'asc')">{{ 'users.cancel-sorting' | translate }}</button>
</mat-menu>
