$linkColorGreen: #13aa57;
$linkColorGray: #494a49;

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
  border-bottom: 1px solid $linkColorGreen;

  a {
    color: $linkColorGray;
    margin: 0 2px;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      text-decoration: none;
    }
  }

  .active {
    color: $linkColorGreen;
    border: 1px solid $linkColorGreen;
    padding: 5px 5px 0;
    text-decoration: none;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
  }
}
