<div class="address d-flex flex-column">
  <p>{{ 'personal-info.address-city' | translate }} {{ 'personal-info.pop-up-city-name' | translate }}</p>
  <p>
    {{ address.street }}, {{ address.houseNumber }},
    <ng-template [ngIf]="address.houseCorpus">{{ 'personal-info.address-corp' | translate }} {{ address.houseCorpus }}, </ng-template>
    <ng-template [ngIf]="address.entranceNumber">
      {{ 'personal-info.address-entrance' | translate }} {{ address.entranceNumber }}</ng-template
    >
  </p>
  <p>{{ 'personal-info.address-district' | translate }} {{ address.district }}</p>
</div>
