.wrapper {
  margin-top: 40px;
}

.list-news {
  margin-left: 150px;
}

.copyright {
  background-color: rgba(131, 156, 148, 0.05);
  color: var(--primary-grey);
  font-family: var(--primary-font);
  font-stretch: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 11px;
  text-align: center;
  width: 100%;
}
