$bp-smallest: 575px;
$bp-phone: 767px;
$bp-tablet: 1023px;
$bp-notebook: 1199px;
$bp-desktop: 1439px;

p,
div {
  margin: 0;
  padding: 0;
}

.list-gallery {
  width: 359px;
  height: 478px;
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .list-image-content {
    object-fit: cover;
    width: 100%;
    height: 204px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .list-gallery-content {
    position: relative;
    margin: 8px 24px 16px 24px;
    flex-grow: 1;

    .filter-tag {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 28px;
      margin-bottom: 4px;
      align-items: center;

      .ul-eco-buttons {
        font-family: var(--primary-font);
        font-size: 14px;
        line-height: 20px;
        color: var(--primary-green);
        margin-right: 16px;
        text-transform: uppercase;
      }
    }

    .added-data {
      max-height: 200px;
      overflow: hidden;
      position: relative;

      .title-list {
        max-height: 110px;

        h3 {
          font-family: var(--primary-font);
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 4px;
          color: var(--freinacht-black);
        }
      }

      .list-text {
        max-height: 150px;
        overflow: hidden;
        font-family: var(--primary-font);
        font-size: 14px;
        line-height: 20px;
        color: var(--quaternary-dark-grey);
      }
    }

    .word-wrap {
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .user-data-added-news {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;

      div {
        display: flex;
        align-items: center;
      }
    }

    .user-data-text-date {
      font-family: var(--primary-font);
      font-size: 14px;
      line-height: 20px;
      color: var(--quaternary-grey);
      display: flex;
      align-items: center;

      .icon {
        align-items: center;
        margin: 0 4px 2px 0;
      }

      &:nth-child(2) {
        span {
          width: 110px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .user {
      padding-left: 10px;
    }

    .user-data-like {
      font-family: var(--primary-font);
      font-size: 14px;
      color: var(--quaternary-grey);
      display: flex;
      align-items: center;

      .numerosity {
        margin-left: 4px;
      }

      img {
        width: 16px;
        height: 16px;
      }

      &:nth-of-type(1) {
        margin-right: 12px;
      }
    }
  }
}

.list-gallery:hover {
  background: #fff;
  box-shadow: 0 4px 32px #e6ebea;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: $bp-notebook) {
  .list-gallery {
    width: 300px;

    .list-gallery-content {
      .user-data-text-date {
        &:nth-of-type(1) {
          span {
            width: 60px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        &:nth-child(2) {
          span {
            width: 85px;
          }
        }
      }

      .user {
        padding-left: 8px;
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .list-gallery {
    width: 345px;

    .list-gallery-content {
      .user-data-text-date {
        &:nth-of-type(1) {
          span {
            width: 85px;
          }
        }

        &:nth-child(2) {
          span {
            width: 105px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $bp-phone) {
  .list-gallery {
    width: 254px;

    .list-gallery-content {
      .user-data-text-date {
        &:nth-of-type(1) {
          display: none;
        }

        &:nth-child(2) {
          span {
            width: 115px;
          }
        }
      }

      .user {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: $bp-smallest) {
  .list-gallery {
    width: 288px;

    .list-gallery-content {
      .user-data-text-date {
        &:nth-child(2) {
          span {
            width: 145px;
          }
        }
      }
    }
  }
}
