<app-header></app-header>
<app-search-popup></app-search-popup>
<div *ngIf="orderInfo; else spinner" class="container">
  <div class="row">
    <button class="back-button-top" (click)="openGoBackModal()">
      <
      {{ 'order-edit.btn.back' | translate }}
    </button>
  </div>
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="box">
      <app-ubs-admin-order-status
        [currentOrderPrice]="currentOrderPrice"
        [generalOrderInfo]="getFormGroup('generalOrderInfo')"
        [generalInfo]="generalInfo"
        [totalPaid]="totalPaid"
        (changedOrderStatus)="onChangedOrderStatus($event)"
      ></app-ubs-admin-order-status>
      <app-ubs-admin-order-client-info [userInfoDto]="getFormGroup('userInfoDto')" [userInfo]="userInfo" [orderId]="orderId">
      </app-ubs-admin-order-client-info>
      <app-ubs-admin-address-details
        [addressExportDetailsDto]="getFormGroup('addressExportDetailsDto')"
        [addressComment]="orderInfo.addressComment"
      >
      </app-ubs-admin-address-details>
      <app-ubs-admin-order-details-form
        [orderDetailsForm]="getFormGroup('orderDetailsForm')"
        [orderDetailsOriginal]="orderDetails"
        [orderStatusInfo]="orderStatusInfo"
        (changeOverpayment)="changeOverpayment($event)"
        (checkMinOrder)="setMinOrder($event)"
        (changeCurrentPrice)="onChangeCurrentPrice($event)"
      ></app-ubs-admin-order-details-form>
      <app-ubs-admin-order-payment
        [totalPaid]="totalPaid"
        [overpayment]="overpayment"
        [orderInfo]="orderInfo"
      ></app-ubs-admin-order-payment>
      <app-ubs-admin-export-details
        [exportDetailsDto]="getFormGroup('exportDetailsDto')"
        [exportInfo]="exportInfo"
      ></app-ubs-admin-export-details>
      <app-ubs-admin-responsible-persons
        [responsiblePersonsForm]="getFormGroup('responsiblePersonsForm')"
        [responsiblePersonInfo]="responsiblePersonInfo"
      >
      </app-ubs-admin-responsible-persons>
      <app-ubs-admin-order-history [orderId]="orderId"></app-ubs-admin-order-history>
    </div>
    <div class="row">
      <button class="back-button" (click)="openGoBackModal()">
        {{ 'order-edit.btn.back' | translate }}
      </button>
      <div class="controls">
        <button type="reset" class="cancel-button" (click)="$event.preventDefault(); openCancelModal()" [disabled]="!orderForm.touched">
          {{ 'order-edit.btn.cancel' | translate }}
        </button>
        <button type="submit" class="save-button" [disabled]="!orderForm.touched || !orderForm.valid || !isMinOrder">
          {{ 'order-edit.btn.save' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #spinner>
  <app-spinner class="spinner"></app-spinner>
</ng-template>
