<div class="select_wr">
  <div *ngIf="doneOrCanceled; else selectOption">{{ currentValue | serverTranslate: lang }}</div>
</div>

<ng-template #selectOption>
  <mat-spinner *ngIf="isTryingToLock" strokeWidth="3" diameter="20"></mat-spinner>

  <mat-select
    #select
    [(value)]="currentValue"
    (selectionChange)="chosenOption($event)"
    [placeholder]="currentValue | serverTranslate: lang"
    (click)="onSelectClick()"
    (closed)="onSelectClosed()"
    [disabled]="isDisabled"
  >
    <mat-option *ngFor="let option of optional" [value]="option | serverTranslate: lang">
      {{ option | serverTranslate: lang }}
    </mat-option>
  </mat-select>
</ng-template>
