<div class="dialog-container">
  <div class="dialog-container-title">
    <h2>{{ 'ubs-client-profile.payment.title' | translate }}</h2>
    <h6 class="text-order-sum">
      {{ 'ubs-client-profile.payment.sum' | translate }} {{ userOrder.sum | currency }}
      {{ 'ubs-client-profile.payment.curency' | translate }}
    </h6>
  </div>

  <form [formGroup]="orderDetailsForm" class="form-container">
    <div class="question">{{ 'ubs-client-profile.payment.question-certificate' | translate }}</div>

    <div class="form-field-container">
      <label class="certificate-title">{{ 'ubs-client-profile.payment.certificate-number' | translate }}</label>
      <div formArrayName="formArrayCertificates" *ngFor="let certificate of formArrayCertificates.controls; let i = index">
        <div [formGroupName]="i" class="dialog-container-certificate">
          <fieldset [disabled]="!certificateStatus[i]">
            <legend style="display: none">Certificate Code Input</legend>
            <input
              type="text"
              class="form-control shadow-none input-border"
              [imask]="{ mask: certificateMask }"
              [unmask]="false"
              placeholder="xxxx-xxxx"
              formControlName="certificateCode"
            />
          </fieldset>
          <button
            *ngIf="certificateStatus[i]"
            class="btn btn-activate"
            [disabled]="
              formArrayCertificates['controls'][i].invalid ||
              formArrayCertificates['controls'][i].pristine ||
              !certificate.controls.certificateCode.value.length ||
              0 >= userOrder.sum
            "
            (click)="certificateSubmit(i, certificate)"
          >
            {{ 'ubs-client-profile.payment.btn.active' | translate }}
          </button>
          <button *ngIf="!certificateStatus[i]" class="btn btn-cancel-activation" (click)="deleteCertificate(i, certificate)">
            {{ 'ubs-client-profile.payment.btn.cancel' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="checkIfCertBeenUsed()" class="text-danger">
        {{ 'ubs-client-profile.payment.certificate-duplication' | translate }}
      </div>
      <div *ngIf="!userCertificate.certificateError && userCertificate.certificateStatusActive && !checkIfCertBeenUsed()">
        <div *ngIf="!overpayment" class="text-message">
          {{
            'ubs-client-profile.payment.certificate-activated.sum'
              | translate: { certificateSum: formArrayCertificates.value[formArrayCertificates.value.length - 1].certificateSum }
          }}
        </div>
        <div *ngIf="!overpayment" class="text-message">
          {{
            'ubs-client-profile.payment.certificate-activated.data'
              | translate: { certDate: userCertificate.expirationDate[userCertificate.expirationDate.length - 1] }
          }}
        </div>
        <div *ngIf="!!overpayment" class="text-message">
          {{
            'ubs-client-profile.payment.certificate-activated.activated-oversum'
              | translate
                : {
                    certificateSum: formArrayCertificates.value[formArrayCertificates.value.length - 1].certificateSum,
                    certificateLeft: overpayment,
                    certDate: userCertificate.expirationDate[userCertificate.expirationDate.length - 1]
                  }
          }}
        </div>
        <button
          *ngIf="userOrder.sum > 0"
          class="btn btn-add-certificate"
          [hidden]="formArrayCertificates.controls.length > 4"
          (click)="addNewCertificate()"
        >
          {{ 'ubs-client-profile.payment.add-certificate' | translate }}
        </button>
      </div>
      <div
        *ngIf="userCertificate.certificateError && !userCertificate.creationDate[userCertificate.creationDate.length - 1]"
        class="text-danger"
      >
        {{ 'ubs-client-profile.payment.failed-certificate' | translate }}
      </div>
      <div
        *ngIf="
          userCertificate.certificateError &&
          formArrayCertificates.value[formArrayCertificates.value.length - 1].certificateStatus === 'USED'
        "
        class="text-danger"
      >
        {{
          'ubs-client-profile.payment.already-used'
            | translate: { certDate: userCertificate.dateOfUse[userCertificate.dateOfUse.length - 1] }
        }}
      </div>
      <div
        *ngIf="
          userCertificate.certificateError &&
          formArrayCertificates.value[formArrayCertificates.value.length - 1].certificateStatus === 'EXPIRED'
        "
        class="text-danger"
      >
        {{
          'ubs-client-profile.payment.expired'
            | translate: { certDate: userCertificate.expirationDate[userCertificate.expirationDate.length - 1] }
        }}
      </div>
    </div>

    <div *ngIf="userOrder.bonusValue > 0" [ngStyle]="userOrder.sum === 0 && { 'padding-bottom': '145px' }">
      <div class="question">{{ 'ubs-client-profile.payment.bonus.need' | translate }}</div>
      <div class="text">
        {{ 'ubs-client-profile.payment.bonus.present' | translate }} {{ userOrder.bonusValue }}
        {{ 'ubs-client-profile.payment.curency' | translate }}.
      </div>

      <mat-radio-group formControlName="bonus" class="radio-group" (change)="bonusOption($event)">
        <mat-radio-button value="no" name="no">
          {{ 'ubs-client-profile.payment.no' | translate }}
        </mat-radio-button>
        <br />
        <mat-radio-button value="yes" name="yes">
          {{ 'ubs-client-profile.payment.yes' | translate }}
        </mat-radio-button>
        <div *ngIf="isUseBonuses" class="bonuses">
          <div>
            {{ 'ubs-client-profile.payment.bonus.used' | translate }} {{ bonusInfo.used }}
            {{ 'ubs-client-profile.payment.curency' | translate }}
          </div>
          <div>
            {{ 'ubs-client-profile.payment.bonus.left' | translate }} {{ bonusInfo.left }}
            {{ 'ubs-client-profile.payment.curency' | translate }}
          </div>
        </div>
      </mat-radio-group>
    </div>
  </form>

  <div class="action-btns">
    <mat-dialog-actions>
      <button class="btn btn-cancel" mat-dialog-close>
        {{ 'ubs-client-profile.payment.btn.cancel' | translate }}
      </button>
      <button
        class="btn btn-pay"
        [disabled]="0 > userOrder.sum || dataLoadingLiqPay || userCertificate.certificateError"
        (click)="processOrder()"
      >
        <span *ngIf="dataLoadingLiqPay" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ 'ubs-client-profile.payment.btn.pay' | translate }}
      </button>
      <button id="liqPayButton" [innerHTML]="liqPayButtonForm" style="display: none"></button>
    </mat-dialog-actions>
  </div>
</div>
