p {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.002em;
  text-align: left;
  flex-wrap: wrap;
}

.wrapper {
  width: 500px;
  height: 120px;
}

.position-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 1640px;
  margin-right: 20px;
  margin-bottom: 20px;

  .continue-button {
    width: 200px;
    margin-right: 80px;
  }
}
