<div class="form-container">
  <form (click)="$event.stopPropagation()" [formGroup]="placeFormGroup">
    <div class="form-field">
      <label class="label"> {{ 'places.category' | translate }} <span class="hint">Hint</span></label>
      <select [class.ng-invalid]="type.invalid && type.touched" class="input" formControlName="type">
        <option *ngFor="let categories of filterCategories" value="{{ categories.name }}">
          {{ localStorageService.getCurrentLanguage() === 'en' ? categories.name : categories.nameUa }}
        </option>
      </select>
    </div>
    <div class="form-field">
      <label class="label">{{ 'places.name' | translate }} <span class="hint">Hint</span></label>
      <input
        [class.ng-invalid]="name.invalid && name.touched"
        class="input"
        formControlName="name"
        placeholder="{{ 'places.name' | translate }}"
        type="text"
      />
      <button (click)="clear('name')" aria-label="Clear" class="btn-close" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="form-field">
      <label class="label">{{ 'places.address' | translate }} <span class="hint">Hint</span></label>
      <app-place-address-input formControlName="address"> </app-place-address-input>
      <button (click)="clear('address')" aria-label="Clear" class="btn-close" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-time-picker-pop-up (timeOfWork)="getTimeOfWork($event)"></app-time-picker-pop-up>
  </form>
  <div class="btn-wrapper">
    <button (click)="cancel()" class="secondary-global-button">{{ 'places.btn.cancel' | translate }}</button>
    <button (click)="addPlace()" [disabled]="placeFormGroup.invalid || !workingTimeIsValid" class="primary-global-button">
      {{ 'places.btn.add' | translate }}
      <span class="message-details">
        {{ 'places.validation.information-message' | translate }}
        <ul>
          <li *ngIf="type.invalid">{{ 'places.validation.category' | translate }}</li>
          <li *ngIf="name.invalid">{{ 'places.validation.name' | translate }}</li>
          <li *ngIf="address.invalid">{{ 'places.validation.address' | translate }}</li>
          <li *ngIf="!workingTimeIsValid">{{ 'places.validation.time' | translate }}</li>
        </ul>
      </span>
    </button>
  </div>
</div>
