<button [matMenuTriggerFor]="menu" class="add-place-btn">Add place</button>
<mat-menu #menu="matMenu" xPosition="before" yPosition="below" class="add-place-menu">
  <div class="form-container">
    <form [formGroup]="addPlaceForm" (click)="$event.stopPropagation()">
      <div class="form-field">
        <label for="type" class="label">Type <span class="hint">Hint</span></label>
        <input
          class="input"
          type="text"
          formControlName="type"
          placeholder="e.g. shop"
          [class.ng-invalid]="addPlaceForm.get('type').invalid && addPlaceForm.get('type').touched"
        />
        <button class="btn-close" matSuffix mat-icon-button aria-label="Clear" (click)="clear('type')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="form-field">
        <label for="name" class="label">Name <span class="hint">Hint</span></label>
        <input
          class="input"
          type="text"
          formControlName="name"
          placeholder="Name"
          [class.ng-invalid]="addPlaceForm.get('name').invalid && addPlaceForm.get('name').touched"
        />
        <button class="btn-close" matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="form-field">
        <label for="address" class="label">Address <span class="hint">Hint</span></label>
        <app-address-input
          class="input"
          formControlName="address"
          [class.ng-invalid]="addPlaceForm.get('address').invalid && addPlaceForm.get('address').touched"
          (getAddressData)="onLocationSelected($event)"
        >
        </app-address-input>
        <button class="btn-close" matSuffix mat-icon-button aria-label="Clear" (click)="clear('address')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="form-field">
        <label for="workingHours" class="label">Working hours <span class="hint">Hint</span></label>
        <input
          class="input"
          type="text"
          formControlName="workingHours"
          placeholder="e.g. 10.00-20.00"
          [class.ng-invalid]="addPlaceForm.get('workingHours').invalid && addPlaceForm.get('workingHours').touched"
        />
        <button class="btn-close" matSuffix mat-icon-button aria-label="Clear" (click)="clear('workingHours')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
    <div class="btn-wrapper">
      <button class="btn-cancel btn" (click)="cancel()">Cancel</button>
      <button class="btn-add btn" [disabled]="addPlaceForm.invalid" (click)="addPlace()">Add</button>
    </div>
  </div>
</mat-menu>
