.wrapper {
  display: grid;
  grid-template-areas: 'logo icons';
  grid-template-rows: 52px;
  grid-template-columns: 200px auto;
  grid-gap: 400px;
  width: 100vw;
  box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
  position: fixed;
  top: 0;
  z-index: 99;
}

.logo {
  margin-top: 2px;
  grid-area: logo;
  margin-left: 36px;
}

.icons {
  display: flex;
  align-items: center;
  grid-area: icons;
  justify-self: end;
  height: 100%;

  .header-user {
    color: var(--primary-green);
    font-family: var(--primary-font);
  }

  .header_lang-switcher-wrp {
    cursor: pointer;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;

    li {
      width: 30px;
      padding: 0;
    }

    img {
      padding: 0;
    }
  }

  .add-shadow {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    height: 80px;
    margin: auto 0;
    width: 60px;
    z-index: 1;
    position: relative;
    top: 6px;
  }
}

.header_navigation-menu-right-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;

  li {
    height: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
  }
}

.header_arrow {
  margin: 2px 0 0 5px;
}

.reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
}

.icons img,
a {
  padding: 17px;
}
