<header>
  <div class="logo">
    <a [routerLink]="['/ubs-admin']" routerLinkActive="active-link">
      <img [src]="ubsHeaderIcons.ubsAdminLogo" alt="UBS admin logo" />
    </a>
  </div>
  <div class="icons">
    <nav>
      <a class="nav-link" *ngFor="let link of navLinks" [href]="link.route">
        {{ link.name }}
      </a>
    </nav>
    <ul
      role="menu"
      [ngClass]="{ 'add-shadow': langDropdownVisible, 'header_lang-switcher-wrp header_navigation-menu-right-list': true }"
      (click)="langDropdownVisible = !langDropdownVisible"
      (keyup.enter)="langDropdownVisible = !langDropdownVisible"
      appCloseDropdown
      (clickOutSide)="autoCloseLangDropDown($event)"
      aria-label="language switcher"
      tabindex="0"
    >
      <li role="button" aria-label="english">
        <span aria-hidden="true">{{ arrayLang[0].lang }}</span>
        <img
          src="assets/img/arrow_down.svg"
          alt="language switcher"
          aria-hidden="true"
          [ngClass]="langDropdownVisible ? 'header_arrow reverse' : 'header_arrow'"
        />
      </li>
      <ng-container *ngIf="langDropdownVisible">
        <ng-container *ngFor="let lang of arrayLang; index as index">
          <li
            role="button"
            *ngIf="index > 0"
            (click)="changeCurrentLanguage(lang.lang, index)"
            [attr.aria-label]="lang.langName"
            tabindex="0"
          >
            <span aria-hidden="true">{{ lang.lang }}</span>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <span class="header-user">Jana Done</span>
  </div>
</header>
