<header>
  <div class="logo">
    <img [src]="ubsHeaderIcons.ubsAdminLogo" alt="UBS admin logo" />
  </div>
  <nav>
    <a class="nav-link" *ngFor="let link of navLinks" [href]="link.route">
      {{ link.name }}
    </a>
  </nav>
  <div class="header-right-side">
    <img [src]="ubsHeaderIcons.searchIcon" alt="Search" />
    <div class="language-change">
      <span>En</span>
      <img [src]="ubsHeaderIcons.arrowDown" alt="Change language" />
    </div>
    <span class="header-user">Jana Done</span>
  </div>
</header>
