<div class="social-networks">
    <img src="{{icons.facebook}}" alt="">
    <a href="{{socialNetworks.facebook}}">{{socialNetworks.facebook}}</a>
    <div class="edit-icons">
        <img src="{{icons.edit}}" alt="">
        <img src="{{icons.delete}}" alt="">
    </div>
</div>
<div class="social-networks">
    <img src="{{icons.instagram}}" alt="">
    <a href="{{socialNetworks.instagram}}">{{socialNetworks.instagram}}</a>
    <div class="edit-icons">
        <img src="{{icons.edit}}" alt="">
        <img src="{{icons.delete}}" alt="">
    </div>
</div>
<div class="social-networks">
    <img src="{{icons.add}}" alt="">
    <p>Add social network</p>
</div>
