<ul>
    <li *ngFor="let socialNetwork of socialNetworks">
        <div class="link">
            <a href="{{socialNetwork.link}}" class="link-button">
                <img src="{{socialNetwork.icon}}"
                     class="link-button-img" 
                     alt="">
            </a>
            <a href="{{socialNetwork.link}}" class="link-text">{{socialNetwork.link}}</a>
        </div>
        <div class="edit-icons">
            <button class="edit-button">
                <img src="{{icons.edit}}" 
                     class="edit-button-img"
                     alt="edit-icon">
            </button>
            <button class="delete-button">
                <img src="{{icons.delete}}" 
                     class="delete-button-img"
                     alt="delete-icon">
            </button>
        </div>
    </li>
    <li>
        <div class="link">
            <button class="add-button">
                <img src="{{icons.add}}"
                     class="add-button-img"
                     alt="add-icon">
            </button>
            <a class="add-text">{{"user.edit-profile.add-link" | translate }}</a>
        </div>
    </li>
</ul>
