ul {
  margin-bottom: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 24px;

    .link {
      img {
        height: 24px;
        width: 24px;
      }

      a {
        color: #494a49;
        font-family: opensans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        margin-right: 16px;
      }
    }

    .edit-icons {
      justify-self: end;

      button {
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;

        img {
          padding-left: 18px;
        }
      }
    }
  }

  li:last-child {
    justify-self: start;
    margin-bottom: 0;

    .link {
      button {
        border: transparent;
        background-color: transparent;
        padding: 0;

        img {
          height: 26px;
          width: 26px;
          margin-right: 16px;
        }
      }

      a {
        color: #056b33;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  ul {
    li {
      .link {
        img {
          margin-right: 12px;
        }

        a {
          font-size: 14px;
          margin-right: 0;
        }
      }
    }
  }
}
