ul {
  margin-bottom: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 24px;

    .link {
      .link-button-img {
        height: 24px;
        width: 24px;
      }

      .link-text {
        color: #494a49;
        font-family: opensans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        margin-left: 16px;
      }
    }

    .edit-icons {
      justify-self: end;

      .edit-button,
      .delete-button {
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;

        .edit-button-img,
        .delete-button-img {
          padding-left: 18px;
        }
      }
    }
  }

  li:last-child {
    justify-self: start;
    margin-bottom: 0;

    .link {
      display: flex;
      align-items: center;

      .add-button {
        border: transparent;
        background-color: transparent;
        padding: 0;

        &:focus {
          outline: none;
        }

        .add-button-img {
          height: 26px;
          width: 26px;
          margin-right: 14px;
        }
      }

      .add-text {
        color: #056b33;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  ul {
    li {
      .link-button-img {
        margin-right: 12px;
      }

      .link-text {
        font-size: 14px;
        margin-right: 0;
      }
    }

    li:last-child {
      .add-button-img {
        margin-right: 10px;
      }
    }
  }
}
