<ul>
    <li *ngFor="let socialNetwork of socialNetworks">
        <div class="link">
            <a href="{{socialNetwork.link}}">
                <img src="{{socialNetwork.icon}}" 
                     alt="">
            </a>
            <a href="{{socialNetwork.link}}">{{socialNetwork.link}}</a>
        </div>
        <div class="edit-icons">
            <button>
                <img src="{{icons.edit}}" 
                     alt="edit icon">
            </button>
            <button>
                <img src="{{icons.delete}}" 
                     alt="delete icon">
            </button>
        </div>
    </li>
    <li>
        <div class="link">
            <button>
                <img src="{{icons.add}}" 
                     alt="add-icon">
            </button>
            <a>{{"user.edit-profile.add-link" | translate }}</a>
        </div>
    </li>
</ul>
