<div class="wrapper">
  <div class="mainHeader">Ваші замовлення</div>
  <div *ngIf="isAnyOrders" class="ifEmpty"><span>Ви ще не зробили замовлень у нас.</span><a href="#">Зробити замовлення</a></div>
  <div *ngIf="!isAnyOrders" class="cards">
    <div class="headerList">
      <div>№ замовлення</div>
      <div>Статус</div>
      <div>Сума оплати</div>
    </div>
    <div *ngFor="let order of orders" class="card">
      <div class="emptyCard">
        <img *ngIf="order.extend" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" (click)="changeCard(order.id)" />
        <img *ngIf="!order.extend" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" (click)="changeCard(order.id)" />
        <div>{{ order.order }}</div>
        <div>{{ order.status }}</div>
        <div class="orderSum">{{ order.sum }}</div>
        <div class="btnsGroup">
          <div *ngIf="order.status === 'Сформовано'" class="btnGridCancel"><button class="btnCancel">Скасувати</button></div>
          <div *ngIf="order.status === 'Виконано/Неоплачено'" class="btnGridFake"><button class="btnFake"></button></div>
          <div *ngIf="order.status === 'Сформовано' || order.status === 'Виконано/Неоплачено'" class="btnGridPay">
            <button class="btnPay">Оплатити</button>
          </div>
          <div *ngIf="order.status === 'На маршуті' || order.status === 'Підтверджено' || order.status === 'Виконано'" class="btnGridOrder">
            <button class="btnOrder">Замовити ще раз</button>
          </div>
        </div>
      </div>
      <div *ngIf="order.extend" class="fullCard">
        <div class="headerDetails">Деталі замовлення</div>
        <table class="tableOfDetails">
          <tr class="headerTable">
            <th>Послуги</th>
            <th>Об'єм</th>
            <th>Вартість</th>
            <th>Кількість пакетів</th>
            <th>Сума</th>
          </tr>
          <tr class="dataTable">
            <td>Вторсировина</td>
            <td>120 л</td>
            <td>200 грн</td>
            <td>1 шт</td>
            <td>200 грн</td>
          </tr>
          <tr class="dataTable">
            <td>Безнадійний одяг</td>
            <td>120 л</td>
            <td>300 грн</td>
            <td>1 шт</td>
            <td>300 грн</td>
          </tr>
          <tr class="dataTable">
            <td>Безнадійний одяг</td>
            <td>20 л</td>
            <td>50 грн</td>
            <td>2 шт</td>
            <td>100 грн</td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr class="sumOfOrder">
            <td colspan="4">Сума замовлення:</td>
            <td>500 грн</td>
          </tr>
          <tr *ngIf="order.status !== 'Виконано/Неоплачено'" class="optionalRow">
            <td colspan="4">Сертифікат:</td>
            <td>-100 грн</td>
          </tr>
          <tr *ngIf="order.status !== 'Виконано/Неоплачено'" class="optionalRow">
            <td colspan="4">Бонуси:</td>
            <td>-100 грн</td>
          </tr>
          <tr *ngIf="order.status === 'Виконано/Неоплачено'" class="optionalRow">
            <td colspan="4">Сума наданих послуг:</td>
            <td>-100 грн</td>
          </tr>
          <tr class="sumToPay">
            <td colspan="4">Сума до оплати:</td>
            <td>350 грн</td>
          </tr>
        </table>
      </div>
      <div *ngIf="order.extend" class="orderDetails">
        <ol style="list-style-type: none">
          <li class="boldText">Доставка з Еко магазину</li>
          <li>Номери ваших замовлень:<span class="boldText">&nbsp;3507777,</span>&nbsp;<span class="boldText">45678907777</span></li>
        </ol>
        <ol style="list-style-type: none" class="recipient">
          <li class="boldText">Отримувач</li>
          <li>Надія Стебінець</li>
          <li>Сума до оплати</li>
          <li>+098 454 63 67</li>
          <li>my@some.com</li>
        </ol>
        <ol style="list-style-type: none">
          <li class="boldText">Адреса виивезення замовленних послуг</li>
          <li>м. Київ</li>
          <li>проспект Перемоги, 20, під'їзд 3</li>
          <li>район Шевченківський</li>
          <li>Коментар: Ремонтується дорога. Під'їзд до будинку доступний зі сторони будинку номер15.</li>
        </ol>
      </div>
      <div *ngIf="order.extend" class="download">
        <div class="arrow"><mat-icon [ngStyle]="{ fontSize: '16px' }">arrow_downward</mat-icon></div>
        <div class="maximize"><mat-icon [ngStyle]="{ fontSize: '16px' }">maximize</mat-icon></div>
        <div class="text">Завантажити квитанцію</div>
      </div>
    </div>
    <div class="empty"></div>
  </div>
</div>
