<div class="main">
  <div class="wrapper">
    <div class="left-side">
      <img class="main-picture"
          [src]="authImages.mainImage"
          alt="sign-in image"
          aria-hidden="true">
    </div>
    <div class="right-side">
      <a (click)="closeWindow()"
        tabindex="0"
        class="close-modal-window">
        <img class="cross-btn"
            [src]="authImages.cross"
            alt="back to home page">
      </a>
      <div [ngSwitch]="authPage">
        <app-sign-in *ngSwitchCase="'sign-in'"
                     (pageName)="changeAuthPage($event)"></app-sign-in>
        <app-sign-up *ngSwitchCase="'sign-up'"
                     (pageName)="changeAuthPage($event)"></app-sign-up>
        <app-restore-password *ngSwitchCase="'restore-password'"
                              (pageName)="changeAuthPage($event)"></app-restore-password>
      </div>
    </div>
  </div>
</div>
