@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$generalFont : opensans, sans-serif;
$inputHeight : 48px;

.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  max-height: 760px;
  z-index: 5;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: #fff;
  color: rgba(0, 0, 0, 0.87);

  .left-side {
    width: 50%;
    max-width: 480px;

    .main-picture {
      width: 100%;
      height: 100%;
      border-radius: 4px 0 0 4px;
    }
  }

  .right-side {
    width: 50%;
    max-width: 480px;
    flex-direction: column;
    justify-content: center;

    .close-modal-window {
      display: flex;
      justify-content: flex-end;
      margin: 26px 26px 22px 22px;
    }

    .cross-btn {
      width: 12px;
      height: 12px;
    }

    h1 {
      margin: 0 56px 8px 56px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      color: #2b292d;
    }

    h2 {
      margin: 0 56px 40px 56px;
      font-family: $generalFont;
      font-size: 16px;
      line-height: 24px;
      height: 72px;
      color: #494a49;
    }

    .sign-up {
      max-width: 368px;
      margin: 0 auto;

      .main-data-input {
        padding: 12px 40px 12px 16px;
        border: 1px solid #878787;
        box-sizing: border-box;
        border-radius: 5px;
        width: 368px;
        height: 48px;
      }

      .main-data-input:focus {
        outline: none;
      }

      .main-data-input::placeholder {
        color: #878787;
      }

      .main-data-input-password {
        height: 48px;
        width: 368px;
        border: 1px solid #878787;
        box-sizing: border-box;
        border-radius: 5px;

        .password-input {
          padding-left: 16px;
          border: transparent;
          border-radius: 5px;
          width: 90%;
        }

        .password-input:focus {
          height: 46px;
          outline: none;
        }

        .show-password {
          width: 10%;
          background: #fff;
        }

        .show-password-img {
          margin: 16px 16px 16px 0;
          width: 16px;
          height: 16px;
          cursor: pointer;
        }
      }

      .wrong-input {
        border: 1px solid #f03127;
      }

      .error-message {
        height: 10px;
        font-size: 10px;
        line-height: 12px;
        color: #f03127;
        visibility: hidden;
      }

      .error-message-show {
        visibility: visible;
      }

      .primary-global-button {
        margin-top: 40px;
        height: 48px;
        width: 368px;
        font-weight: 600;
        border-radius: 3px;

        .spinner-visible {
          display: inline;
        }

        .spinner-hidden {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .left-side {
    display: none;
  }

  .wrapper {
    width: 100%;

    .right-side {
      width: auto;
    }
  }
}
