@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  max-height: 760px;
  z-index: 5;
  -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.wrapper .left-side {
  width: 50%;
  max-width: 480px;
}

.wrapper .left-side .main-picture {
  width: 100%;
  height: 100%;
  border-radius: 4px 0 0 4px;
}

.wrapper .right-side {
  width: 50%;
  max-width: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .right-side .close-modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 26px 26px 22px 22px;
}

.wrapper .right-side .cross-btn {
  width: 12px;
  height: 12px;
}

.wrapper .right-side h1 {
  margin: 0 56px 8px 56px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #2b292d;
}

.wrapper .right-side h2 {
  margin: 0 56px 40px 56px;
  font-family: opensans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 72px;
  color: #494a49;
}

.wrapper .right-side .sign-up {
  max-width: 368px;
  margin: 0 auto;
}

.wrapper .right-side .sign-up .main-data-input {
  padding: 12px 40px 12px 16px;
  border: 1px solid #878787;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 368px;
  height: 48px;
}

.wrapper .right-side .sign-up .main-data-input:focus {
  outline: none;
}

.wrapper .right-side .sign-up .main-data-input::-webkit-input-placeholder {
  color: #878787;
}

.wrapper .right-side .sign-up .main-data-input:-ms-input-placeholder {
  color: #878787;
}

.wrapper .right-side .sign-up .main-data-input::-ms-input-placeholder {
  color: #878787;
}

.wrapper .right-side .sign-up .main-data-input::placeholder {
  color: #878787;
}

.wrapper .right-side .sign-up .main-data-input-password {
  height: 48px;
  width: 368px;
  border: 1px solid #878787;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.wrapper .right-side .sign-up .main-data-input-password .password-input {
  padding-left: 16px;
  border: transparent;
  border-radius: 5px;
  width: 90%;
}

.wrapper .right-side .sign-up .main-data-input-password .password-input:focus {
  height: 46px;
  outline: none;
}

.wrapper .right-side .sign-up .main-data-input-password .show-password {
  width: 10%;
  background: #fff;
}

.wrapper .right-side .sign-up .main-data-input-password .show-password-img {
  margin: 16px 16px 16px 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.wrapper .right-side .sign-up .wrong-input {
  border: 1px solid #f03127;
}

.wrapper .right-side .sign-up .error-message {
  height: 10px;
  font-size: 10px;
  line-height: 12px;
  color: #f03127;
  visibility: hidden;
}

.wrapper .right-side .sign-up .error-message-show {
  visibility: visible;
}

.wrapper .right-side .sign-up .primary-global-button {
  margin-top: 40px;
  height: 48px;
  width: 368px;
  font-weight: 600;
  border-radius: 3px;
}

.wrapper .right-side .sign-up .primary-global-button .spinner-visible {
  display: inline;
}

.wrapper .right-side .sign-up .primary-global-button .spinner-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .left-side {
    display: none;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper .right-side {
    width: auto;
  }
}
/*# sourceMappingURL=confirm-restore-password.component.css.map */