<div class="wrapper">
  <div class="left-side">
    <img class="main-picture"
         [src]="mainSignInImage.signInMainImg"
         alt="sign-in image">
  </div>
  <div class="right-side">
    <a
       class="close-modal-window">
      <img class="cross-btn"
           [src]="closeBtn.closeButton"
           (click)="closeModal()"
           alt="close button">
    </a>
    <h1>{{'user.auth.restore-password.title' | translate}}</h1>
    <h2>{{'user.auth.restore-password.fill-form' | translate}}</h2>
    <div class="sign-up">
      <form  #restoreForm="ngForm"
        (ngSubmit)="sendPasswords()">
        <label class="content-label under-error">
          {{ 'user.auth.restore-password.password' | translate }}
        </label>
        <div class="main-data-input-password"
             [ngClass]="passwordControl.invalid &&
               (passwordControl.dirty || passwordControl.touched) ||
               checkSpaces(inputPassword.value) ||
               !checkSymbols(inputPassword.value) ?
               'main-data-input-password wrong-input' : 'main-data-input-password'"
        >
          <input type="password"
                 placeholder="{{ 'user.auth.restore-password.password' | translate }}"
                 class="password-input"
                 #inputPassword
                 #passwordControl="ngModel"
                 [(ngModel)]="restoreDto.password"
                 required
                 minlength="8"
                 name="form-control password"
          >
          <span class="show-password">
              <img [src]="signUpImages.hiddenEye"
                   alt="eye"
                   class="show-password-img"
                   #inputPasswordImg
                   (click)="setPasswordVisibility(inputPassword, inputPasswordImg)"
              >
            </span>
        </div>
        <div class="error-message"
             [ngClass]="passwordControl.invalid &&
               (passwordControl.dirty || passwordControl.touched) ||
                checkSpaces(inputPassword.value)?
               'error-message-show' : 'error-message'"
        >
          <div *ngIf="passwordControl.errors?.required">
            {{'user.auth.restore-password.password-is-required' | translate}}
          </div>
          <div *ngIf="passwordControl.errors?.minlength && !checkSpaces(inputPassword.value)">
            {{'user.auth.restore-password.password-must-be-at-least-8-characters-long' | translate}}
          </div>
          <div *ngIf="checkSpaces(inputPassword.value)">
            {{'user.auth.restore-password.password-spaces-error' | translate}}
          </div>
        </div>
        <label class="content-label under-error">
          {{ 'user.auth.restore-password.password-confirm' | translate }}
        </label>
        <div class="main-data-input-password"
             [ngClass]="passwordControlConfirm.invalid &&
               (passwordControlConfirm.dirty || passwordControlConfirm.touched) ||
               ((inputPassword.value !== repeatPassword.value) && repeatPassword.value !== '') ?
               'main-data-input-password wrong-input':'main-data-input-password'"
             #repeatInput
        >
          <input type="password"
                 placeholder="{{ 'user.auth.restore-password.password' | translate }}"
                 class="password-input"
                 #repeatPassword
                 #passwordControlConfirm="ngModel"
                 [(ngModel)]="restoreDto.confirmPassword"
                 name="form-control password-confirm"
                 (input)="matchPassword(inputPassword, repeatPassword, repeatInput)"
                 required
          >
          <span class="show-password">
              <img [src]="signUpImages.hiddenEye"
                   alt="eye"
                   class="show-password-img"
                   #repeatPasswordImg
                   (click)="setPasswordVisibility(repeatPassword, repeatPasswordImg)"
              >
            </span>
        </div>
        <div class="error-message"
             [ngClass]="passwordControlConfirm.invalid &&
               (passwordControlConfirm.dirty || passwordControlConfirm.touched) ||
               (inputPassword.value !== repeatPassword.value && repeatPassword.value !== '') ||
               !checkSymbols(inputPassword.value) ||
               passwordErrorMessageBackEnd ?
               'error-message-show' : 'error-message'"
        >
          <div *ngIf="passwordControlConfirm.errors?.required &&
                 passwordControlConfirm.touched">
            {{'user.auth.restore-password.password-is-required' | translate}}
          </div>
          <div *ngIf="inputPassword.value !== repeatPassword.value &&
                  !passwordControlConfirm.errors?.required"
          >
            {{'user.auth.restore-password.password-match' | translate}}
          </div>
          <div *ngIf="!checkSymbols(inputPassword.value)"
          >
            {{'user.auth.restore-password.password-symbols-error' | translate}}
          </div>
          <div *ngIf="passwordErrorMessageBackEnd">
            {{ passwordErrorMessageBackEnd }}
          </div>
        </div>
        <button type="submit"
                class="primary-global-button"
                [disabled]="!restoreForm.valid
                || checkSpaces(inputPassword.value)
                || checkSymbols(inputPassword.value)
                || (inputPassword.value !== repeatPassword.value)
                || (inputPassword.value === '')"
                (click)="sendPasswords()">
            <span *ngIf="loadingAnim"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true">
            </span>
          {{ 'user.auth.restore-password.send-btn' | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
