li {
  cursor: pointer;
}

.locations {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.couriers {
  margin-top: 60px;
}

.city {
  margin-top: 25px;
}

.city1 {
  display: flex;
  justify-content: space-between;
}
