<div class="locations">
  <div class="active-locations d-flex">
    <div class="active-body">
      <div class="header">
        <h4>{{ 'ubs-tariffs.active-header' | translate }}</h4>
      </div>
      <div class="city">
        <ul *ngFor="let location of locations | filterByLang">
          <div class="city1">
            <li (click)="page(location)">{{ location.name }}</li>
            <img [src]="icons.cross" class="delete-button-img" alt="edit-icon" (click)="deactivateLocation(location)" />
          </div>
        </ul>
      </div>
    </div>
    <div class="add-button">
      <button class="primary-global-button tariff-button" (click)="openAddDialog()">
        <div class="button-subtitle">{{ 'ubs-tariffs.btn.add_location' | translate }}</div>
      </button>
    </div>
  </div>
  <div class="disabled-locations">
    <div class="header">
      <h4>{{ 'ubs-tariffs.disabled-header' | translate }}</h4>
    </div>
    <div class="city">
      <ul *ngFor="let location of disabledLocations | filterByLang">
        <div class="city1">
          <li>{{ location.name }}</li>
          <img [src]="icons.cross" class="delete-button-img" alt="edit-icon" (click)="activateLocation(location)" />
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="couriers d-flex">
  <div class="courier-body">
    <div class="header">
      <h4>{{ 'ubs-tariffs.courier-header' | translate }}</h4>
    </div>
    <ul *ngFor="let courier of couriers">
      <li>{{ courier.name }}</li>
    </ul>
  </div>
  <div class="add-button">
    <button class="primary-global-button tariff-button">
      <div class="button-subtitle">{{ 'ubs-tariffs.btn.add_courier' | translate }}</div>
    </button>
  </div>
</div>
