<select class="payment-select shadow-none">
  <option value="Kyiv">м. Київ</option>
  <option value="Kyiv-region">Київська область</option>
</select>
<div class="ubs_profile-header">
  <div class="header-text">
    <h3>{{ 'ubs-tariffs.services' | translate }}</h3>
  </div>
  <button class="btn btn-outline-success">
    {{ 'ubs-tariffs.btn.add_service' | translate }}
  </button>
</div>
<div class="service-table">
  <table>
    <tr>
      <th></th>
      <th>{{ 'ubs-tariffs.name_of_the_service' | translate }}</th>
      <th>{{ 'ubs-tariffs.capacity' | translate }}</th>
      <th>{{ 'ubs-tariffs.service_description' | translate }}</th>
      <th>{{ 'ubs-tariffs.basic_cost' | translate }}</th>
      <th>{{ 'ubs-tariffs.ubs_courier' | translate }}</th>
      <th>{{ 'ubs-tariffs.full_cost' | translate }}</th>
    </tr>
    <tr>
      <td>
        <img [src]="icons.edit" class="edit-button-img" alt="edit-icon" />
      </td>
      <td></td>
      <td>-</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div class="ubs_profile-header">
  <div class="header-text">
    <h3>{{ 'ubs-tariffs.tariffs_for_services' | translate }}</h3>
  </div>
  <button class="btn btn-outline-success">
    {{ 'ubs-tariffs.btn.add_service' | translate }}
  </button>
</div>

<div class="tariffs-table">
  <table>
    <tr>
      <th></th>
      <th>{{ 'ubs-tariffs.name_of_the_service' | translate }}</th>
      <th>{{ 'ubs-tariffs.capacity' | translate }}</th>
      <th>{{ 'ubs-tariffs.service_description' | translate }}</th>
      <th>{{ 'ubs-tariffs.basic_cost' | translate }}</th>
      <th>{{ 'ubs-tariffs.ubs_courier' | translate }}</th>
      <th>{{ 'ubs-tariffs.full_cost' | translate }}</th>
    </tr>
    <tr>
      <td>
        <img [src]="icons.edit" class="edit-button-img" alt="edit-icon" />
        <img [src]="icons.delete" class="delete-button-img" alt="edit-icon" />
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div class="limits-header">
  <div class="">
    <h3>{{ 'ubs-tariffs.order_limits' | translate }}</h3>
  </div>
  <div>
    <select class="courier-select">
      <option value="Kyiv">Ubs courier</option>
    </select>
  </div>
</div>

<div class="limits-form">
  <form>
    <div class="sum-input">
      <input type="radio" id="vehicle1" name="vehicle1" value="Bike" />
      <label for="vehicle1">{{ 'ubs-tariffs.min_order_amount' | translate }}</label
      ><br />
      <input class="input" />
      <label for="vehicle1">{{ 'ubs-tariffs.to' | translate }}</label
      ><br />
      <input class="input" />
    </div>
    <div class="sum-input1">
      <input type="radio" id="vehicle11" name="vehicle1" value="Bike" />
      <label for="vehicle1">{{ 'ubs-tariffs.min_set_of_packages' | translate }}</label
      ><br />
      <input class="input" />
      <label for="vehicle1">{{ 'ubs-tariffs.to' | translate }}</label
      ><br />
      <input class="input" />
    </div>
    <div class="min-bags-number">
      <label for="vehicle1">{{ 'ubs-tariffs.min_set_of_packages' | translate }}</label
      ><br />
    </div>
  </form>
</div>
