<div class="d-flex justify-content-between">
  <p class="h5 main-text">{{ 'ubs-tariffs.tariffs' | translate }}</p>
  <div class="setting-block">
    <img [src]="icons.setting" class="tariff-img" alt="settings" />
  </div>
</div>
<div class="showing-block d-flex">
  <div class="col-item">
    <p class="col-text">{{ 'ubs-tariffs.region' | translate }}</p>
    <div class="input-wrapper">
      <input type="text" />
    </div>
  </div>
  <div class="col-item">
    <p class="col-text">{{ 'ubs-tariffs.locations' | translate }}</p>
    <div class="input-wrapper">
      <input type="text" />
    </div>
  </div>
  <div class="col-item">
    <p class="col-text">{{ 'ubs-tariffs.courier' | translate }}</p>
    <div class="input-wrapper">
      <input type="text" />
    </div>
  </div>
  <button class="show-button">
    {{ 'ubs-tariffs.button-filter' | translate }}
  </button>
</div>
<table class="table-location">
  <thead>
    <tr>
      <th>{{ 'ubs-tariffs.region' | translate }}</th>
      <th>{{ 'ubs-tariffs.city' | translate }}</th>
      <th>{{ 'ubs-tariffs.courier' | translate }}</th>
      <th>{{ 'ubs-tariffs.state' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of locations | filterByLang">
      <td *ngFor="let col of headers" [ngClass]="{ 'disabled-col': location.locationStatus == 'DEACTIVATED' }" (click)="page(location)">
        {{ location[col] }}
      </td>
      <td class="last-col" *ngIf="location.locationStatus != 'DEACTIVATED'">
        <img class="tariff-img mr-3" [src]="icons.edit" alt="settings" />
        <img class="tariff-img" [src]="icons.delete" alt="settings" />
      </td>
      <td class="last-col" *ngIf="location.locationStatus == 'DEACTIVATED'">
        <button class="delete-button">
          {{ 'ubs-tariffs.delete-button' | translate }}
        </button>
        <button class="restore-button">
          {{ 'ubs-tariffs.restore-button' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
