.cron-picker-container {
  max-width: 500px;
  padding: 10px;

  .mat-expansion-panel-header-description {
    justify-content: flex-end;
  }

  .panel {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;

    .select-type {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    ::ng-deep .mat-button-toggle-checked {
      background-color: var(--ubs-button-light-green);
    }

    .select-months {
      ::ng-deep .mat-button-toggle-group {
        display: grid;
        grid-template-columns: repeat(6, auto);
        column-gap: 1px;
        row-gap: 1px;
        border: 0;
      }
    }

    .select-days-of-week {
      ::ng-deep .mat-button-toggle-group {
        gap: 1px;
      }
    }

    .select-days-of-month {
      ::ng-deep .mat-button-toggle-group {
        display: grid;
        grid-template-columns: repeat(8, auto);
        column-gap: 1px;
        row-gap: 1px;
        border: 0;
      }
    }
  }

  .controls {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    .hint {
      max-width: 70%;

      .error {
        color: var(--error-ligh-red);
      }
    }

    .select-schedule-button {
      background-color: var(--ubs-button-light-green);
    }
  }
}
