<div class="container">
  <form class="form" [formGroup]="orderDetailsForm">
    <div class="empty_card" (click)="openDetails()">
      <img *ngIf="!pageOpen" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" />
      <img *ngIf="pageOpen" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" />
      <h3 class="form__headline">{{ 'order-details.title' | translate }}</h3>
    </div>
    <div *ngIf="pageOpen">
      <div class="w-100 d-flex justify-content-between">
        <label class="col-sm-2 form__label">{{ 'order-details.service' | translate }}</label>
        <label class="col-sm-2 form__label">{{ 'order-details.volume' | translate }}</label>
        <label class="col-sm-2 form__label">{{ 'order-details.cost' | translate }}</label>
        <label class="col-sm-2 text-center form__label">{{ 'order-details.planned-amount' | translate }}</label>
        <label class="col-sm-2 text-center form__label">{{ 'order-details.approved-amount' | translate }}</label>
        <label class="col-sm-2 text-center form__label" *ngIf="isVisible">{{ 'order-details.exported-amount' | translate }}</label>
      </div>
      <hr class="divider" />
      <div class="main">
        <ul class="w-100 p-0">
          <li *ngFor="let bag of orderDetails.bags" class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ bag.name }}</span>
            <span class="col-sm-2">{{ bag.capacity | volume }}</span>
            <span class="col-sm-2">{{ bag.price | currency | localizedCurrency }}</span>
            <div class="col-sm-2 d-flex justify-content-center form-group count">
              <input
                class="shadow-none form-control input p-2"
                type="number"
                min="0"
                max="999"
                formControlName="plannedQuantity{{ bag.id }}"
                disabled
              />
            </div>
            <div class="col-sm-2 d-flex justify-content-center form-group count">
              <input
                class="shadow-none form-control input p-2"
                type="number"
                min="0"
                max="999"
                formControlName="confirmedQuantity{{ bag.id }}"
                [attr.disabled]="isVisible ? true : null"
                (change)="onQuantityChange('confirmed', bag.id)"
              />
            </div>
            <div class="col-sm-2 d-flex justify-content-center form-group count" *ngIf="isVisible">
              <input
                class="shadow-none form-control input p-2"
                type="number"
                min="0"
                max="999"
                formControlName="actualQuantity{{ bag.id }}"
                (change)="onQuantityChange('actual', bag.id)"
              />
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.bags-amount' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center">{{ orderInfo.amount.planned }}</span>
            <span class="col-sm-2 text-center">{{ orderInfo.amount.confirmed }}</span>
            <span *ngIf="isVisible" class="col-sm-2 text-center">{{ orderInfo.amount.actual }}</span>
          </li>
        </ul>
        <ul class="w-100 p-0">
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.order-sum' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center">{{ orderInfo.sum.planned | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center">{{ orderInfo.sum.confirmed | currency | localizedCurrency }}</span>
            <span *ngIf="isVisible" class="col-sm-2 text-center">{{ orderInfo.sum.actual | currency | localizedCurrency }}</span>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.certificate' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center text-success">-{{ orderInfo.certificateDiscount | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center">-{{ orderInfo.certificateDiscount | currency | localizedCurrency }}</span>
            <span *ngIf="isVisible" class="col-sm-2 text-center">-{{ orderInfo.certificateDiscount | currency | localizedCurrency }}</span>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.bonuses' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center text-success">-{{ orderInfo.bonuses | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center">-{{ orderInfo.bonuses | currency | localizedCurrency }}</span>
            <span *ngIf="isVisible" class="col-sm-2 text-center">-{{ orderInfo.bonuses | currency | localizedCurrency }}</span>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2" *ngIf="isVisible">
            <span class="col-sm-2">{{ 'order-details.ubs-courier' | translate }}</span>
            <div class="col-sm-2 offset-sm-8 d-flex justify-content-center form-group count">
              <span class="shadow-none form-control input p-2 ubs-courier">
                {{ ubsCourier | currency | localizedCurrency }}
              </span>
            </div>
            <span class="col-sm-2"></span>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-3">
            <span class="col-sm-2">{{ 'order-details.sum-to-pay' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center">{{ orderInfo.finalSum.planned | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center">{{ orderInfo.finalSum.confirmed | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center" *ngIf="isVisible">{{ orderInfo.finalSum.actual | currency | localizedCurrency }}</span>
          </li>
          <li class="d-flex justify-content-end align-items-baseline py-2">
            <span class="col-sm-3 text-danger pl-5" *ngIf="payMore">
              {{ 'order-edit.need-to-pay' | translate }} 250 {{ '' | currency | localizedCurrency }}
            </span>
            <span class="col-sm-4 text-danger pl-5" *ngIf="payMore">
              {{ 'order-details.min-sum' | translate }} {{ minOrderSum }} {{ '' | currency | localizedCurrency }}
            </span>
          </li>
        </ul>
      </div>
      <div class="certificate">
        <div class="form__block col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label class="form__label py-2" for="cert-num">
              {{ 'order-details.certificate-number-label' | translate }}
            </label>
            <input class="form-control" type="text" id="cert-num" placeholder="XXXX-XXXX" formControlName="certificate" />
          </div>
          <div class="form-group">
            <label class="form__label py-2" for="order-num">
              {{ 'order-details.order-number-label' | translate }}
            </label>
            <input class="form-control" type="text" id="order-num" placeholder="XXXX-XXXX" formControlName="storeOrderNumber" />
          </div>
        </div>
      </div>
      <div class="bottom d-flex align-items-baseline py-3">
        <div class="form-floating col-sm-6">
          <label for="customer-comment">{{ 'order-details.client-comment.label' | translate }}</label>
          <textarea
            class="form-control comment"
            formControlName="customerComment"
            placeholder="{{ 'order-details.client-comment.placeholder' | translate }}"
            id="customer-comment"
            disabled
          >
          </textarea>
        </div>
        <div class="send__button col-sm-6">
          <button class="btn send__btn" type="button">{{ 'order-details.send-button' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
  <hr />
</div>
