.form__headline {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.002em;
    color: var(--ubs-primary-grey);
    margin-bottom: 30px;
    margin-top: 36px;
  }

  .form__label {
    color: var(--ubs-primary-grey);
    font-size: 16px;
    line-height: 24px;
  }

  .divider {
    margin-top: 0;
    border: 1px solid var(--ubs-primary-light-grey);
  }

.btn {
    color: var(--ubs-primary-green);
    background: var(--ubs-primary-white);
    width: 177px;
    margin-bottom: 14px;
    border: 1px solid var(--ubs-primary-green);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .input {
    width: 56px;
    height: 36px;
  }
  
  .p-left {
      padding-left: 72px;
  }

  textarea {
    resize: none;
    overflow: hidden;
  }

  .send__button {
    width: 166px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  @media (max-width: 1199px) {
    .p-left {
        padding-left: 58px;
    }
  }
  @media (max-width: 991px) {
    .p-left {
        padding-left: 38px;
    }
  }