.goal-container {
  width: 276px;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

/* Hide the browser's default checkbox */
.goal-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.goal-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  font-size: 16px;
  max-height: 25px;
  line-height: 25px;
}

.goal-text-done {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 25px;
  line-height: 25px;
  text-decoration: line-through;
}

/* Create a custom checkbox */
.check-mark {
  min-height: 22px;
  max-height: 22px;
  min-width: 22px;
  max-width: 22px;
  border-radius: 2px;
  border: solid 1px #c4c7cc;
  background-color: #f9fbfd;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-mark::after {
  content: "";
  display: none;
}

/* On mouse-over, add a grey background color */
.goal-container:hover input ~ .check-mark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background and border radius 4px */
.goal-container input:checked ~ .check-mark {
  background-color: #39b54a;
  border-radius: 4px;
}

/* Style the check-mark/indicator */
.goal-container .check-mark::after {
  margin-left: 7px;
  margin-top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
}

/* Show the check-mark when checked */
.goal-container input:checked ~ .check-mark::after {
  display: block;
}

.no-padding {
  padding: 0;
  margin-left: 0;
}

.add-goal-input {
  border-radius: 0;
  border: 0 !important;
  border-bottom: 1px solid #13aa57 !important;
  outline: none !important;
  -webkit-appearance: none;
  padding-left: 0 !important;
  box-shadow: none !important;
}

.add-goal-input:focus {
  border-bottom: 2px solid #13aa57 !important;
}

.edit-button {
  cursor: pointer;
  color: #13aa57;
}
