:host {
  font-family: var(--primary-font);
}

.footer {
  display: flex;
  margin-left: 228px;
}

@media (max-width: 1266px) {
  .footer {
    margin-left: 59px;
  }
}

@media (max-width: 600px) {
  .footer {
    margin-left: 59px;
  }
}

@media (max-width: 480px) {
  .footer {
    display: none;
  }
}
