<div class="container" aria-label="user-notification">
  <h1 class="heading h5">{{ 'homepage.notifications.title' | translate }}</h1>
  <div *ngIf="notifications.length" class="filter-search-wrapper d-flex">
    <div class="filter-wrapper d-flex">
      <span class="filter-header h6">{{ 'homepage.notifications.filter' | translate }}</span>
      <div class="filter-button">
        <button class="global-tag global-tag-clicked">{{ 'homepage.notifications.filterAll' | translate }}</button>
        <button *ngFor="let project of projects" class="tag-button">
          <a class="custom-chip global-tag global-tag-clicked">
            <span class="text">{{ project.name }}</span>
          </a>
        </button>
      </div>
    </div>
    <input class="notification-search" type="text" placeholder="{{ 'search.search-all-results.placeholder' | translate }}" />
  </div>
  <div *ngIf="!isLoading && !notifications.length" class="no-notifications">
    <app-no-data [title]="'homepage.notifications.no-notifications'"></app-no-data>
  </div>
  <div *ngIf="notifications.length">
    <mat-accordion class="list-wrapper" multi="false" [togglePosition]="'before'">
      <mat-expansion-panel
        class="notification"
        *ngFor="let notification of notifications | paginate: config"
        [ngClass]="notification.viewed ? 'notification-read' : 'notification-unread'"
        (click)="readNotification($event)"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        hideToggle
      >
        <mat-expansion-panel-header class="notification-header">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
              <div class="notification-header-project">
                {{ notification.projectName }}
              </div>
              <div class="notification-header-title body-1">
                {{ notification.titleText }}
              </div>
              <div></div>
            </div>
            <div class="justify-content-between h-100">
              <div class="notification-header-time body-2">
                {{ notification.time | localizedDate | date: 'MMM dd, yyyy hh:mm a' }}
              </div>
              <button class="secondary-global-button btn" (click)="deleteNotification($event)">
                {{ 'homepage.notifications.delete' | translate }}
              </button>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="load-spinner small" *ngIf="isSmallSpinnerVisible && !notification.isOpen">
          <mat-spinner class="custom-spinner" diameter="60"></mat-spinner>
        </div>
        <div class="notification-header-content body-2" *ngIf="!isSmallSpinnerVisible">
          {{ notification.message }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <app-spinner
    *ngIf="isLoading"
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
  ></app-spinner>
</div>
