@import './././src/app/ubs/ubs-admin/ubs-admin.component';

.container {
  height: 100%;
  overflow-y: auto;
  width: 560px;
  position: relative;
  font-family: var(--primary-font);
  color: var(--ubs-quaternary-dark-grey);
  background: var(--pre-secondary-light-grey);
  padding: 30px 56px;

  .label {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .block {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .sub-title {
    display: block;
    color: var(--quaternary-grey);
    font-size: 13px;
    line-height: 1.5;
    max-width: 340px;
  }

  .main-content {
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .title {
        font-size: 24px;
        max-width: 500px;
      }

      .edit-payment {
        margin: 5px 0 0 0;

        .mat-icon,
        .edit-payment-btn {
          font-size: 14px;
          color: var(--ubs-electric-violet);
          border: none;
          background: transparent;
        }

        .edit-payment-btn:disabled,
        .edit-payment-btn:disabled .mat-icon {
          color: var(--ubs-primary-light-grey);
        }
      }
    }

    .order-title {
      color: var(--quaternary-grey);
      margin-right: 25px;
    }

    hr {
      margin-top: 0;
    }

    .photo-requirement {
      color: var(--quaternary-grey);
      font-size: 11px;
      display: block;
      margin-top: -4px;
    }

    label {
      display: block;
    }

    input {
      border-radius: 4px;
      border: 1px solid var(--ubs-tertiary-light-grey);
      font-size: 12px;
      height: 34px;
      margin-bottom: 20px;
      padding-left: 10px;
    }

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input.ng-touched.ng-invalid {
      border: 1px solid var(--ubs-error-ligh-red);
    }

    input::placeholder {
      color: var(--ubs-primary-light-grey);
    }

    .date {
      min-width: 170px;
    }

    .id {
      min-width: 170px;
    }

    .link {
      width: 100%;
      margin-bottom: 0;
    }

    .form-container.block {
      position: relative;

      & #date {
        width: 170px;
      }

      & .mat-datepicker-toggle {
        position: absolute;
        top: 20px;
        left: 130px;
      }
    }

    .photo-container {
      position: relative;
      height: 231px;
      width: 100%;
      overflow: hidden;

      &::after {
        display: block;
        content: '';
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      #image-preview {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        display: block;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }

      #pdf-viewer {
        display: block;
        height: 100%;
        cursor: pointer;
      }

      .requirement-drag {
        padding: 65px;
        color: var(--quaternary-grey);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
      }

      .image-edit-head {
        @include image-edit;

        visibility: hidden;
        z-index: 2;
      }

      .image-name {
        color: var(--ubs-primary-grey);
      }
    }

    .custom-file-upload {
      display: inline-block;
      font-size: 14px;
      color: var(--ubs-electric-violet);
      padding: 6px 12px;
      cursor: pointer;
    }

    .photo-container:hover {
      .image-edit-head {
        visibility: visible;
      }
    }

    .user-image {
      cursor: pointer;
    }

    .warning_message {
      color: var(--ubs-error-ligh-red);
    }
  }

  .btn-container {
    text-align-last: right;

    .delete-payment {
      color: var(--error-red);
      font-size: 16px;
      font-weight: bold;
      border: none;
      background: transparent;
      margin-right: 25px;
    }

    .delete-icon {
      margin: -2px 10px 0 0;
    }

    .back {
      background: none;
      border: none;
      margin-right: 35px;
    }

    .agree {
      border: none;
      color: var(--ubs-quaternary-dark-grey);
      background-color: var(--ubs-button-light-green);
      border-radius: 4px;
      padding: 7px 20px 7px 20px;

      &:disabled {
        background: var(--ubs-quaternary-light-grey);
        border-color: var(--ubs-quaternary-light-grey);
        color: var(--ubs-primary-light-grey);
      }
    }
  }

  .disabled {
    opacity: 0.75;
    cursor: default;
  }

  .add-info {
    display: flex;

    p {
      margin-bottom: -20px;
      color: var(--quaternary-grey);
      font-size: 13px;
    }

    .bold {
      margin-right: 40px;
      color: var(--ubs-quaternary-dark-grey);
    }
  }
}
