@import './././src/app/ubs/ubs-admin/components/ubs-admin-employee/dialogs';
@import './././src/app/ubs/ubs-admin/ubs-admin.component';

.modal-wrapper {
  padding: 24px 40px 40px 16px;
  max-height: 90vh;
  overflow-y: scroll;
}

.popup-title {
  margin-bottom: 10px;
}
