<div class="modal-wrapper">
  <h3 [ngClass]="panelToggler ? 'expanded-popup-title' : 'popup-title'" class="popup-title">
    {{ 'employees.actions.settings' | translate }}
  </h3>
  <img mat-dialog-close="true" class="close-popup-button" src="assets/img/ubs/cross.svg" alt="close-popup-button" />

  <form [formGroup]="form" (ngSubmit)="savePermissions()">
    <cdk-accordion class="permissions-accordion accordion" multi>
      <cdk-accordion-item
        *ngFor="let group of groups; let i = index"
        #accordionItem="cdkAccordionItem"
        class="accordion-item"
        [class.expanded]="accordionItem.expanded"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + i"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + i"
        [formGroupName]="group.name"
        (click)="isPanelOpen()"
      >
        <div
          [ngClass]="accordionItem.expanded ? 'expanded-accordion-item-header' : 'accordion-item-header'"
          (click)="accordionItem.toggle()"
        >
          <span class="accordion-item-description">
            <img class="arrow-accordion-down" src="./assets/img/icon/arrows/arrow-accordion-down.svg" alt="arrow" />
          </span>
          {{ 'employees.permissions.' + group.name + '.title' | translate }}
        </div>
        <div
          class="accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + i"
          [attr.aria-labelledby]="'accordion-header-' + i"
        >
          <mat-checkbox
            *ngFor="let permission of group.permissions"
            [formControlName]="permission"
            (click)="updateAllComplete()"
            [class]="group.name + '-' + labels[permission]"
          >
            {{ 'employees.permissions.' + group.name + '.' + labels[permission] | translate }}
          </mat-checkbox>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
    <div class="button-row">
      <div class="cancelButton" (click)="managePermissionSettings('cancel')">
        {{ 'ubs-employee.cancel' | translate }}
      </div>
      <button type="submit" class="addButton" [disabled]="isUpdating || isDisabled" (click)="managePermissionSettings('apply')">
        <span *ngIf="isUpdating" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
        {{ 'ubs-employee.apply' | translate }}
      </button>
    </div>
  </form>
</div>
