<div class="shop-list-container">
  <a *ngIf="!isAcquired && !isEditMode" class="edit-icon" (click)="changeEditMode()" aria-label="Edit Todo List"></a>
  <a *ngIf="isEditMode" class="close-edit-mode" (click)="cancelEditing()" aria-label="Close Editing Todo List"></a>
  <div class="title">{{ 'user.habit.to-do.to-do-list' | translate }}</div>
  <div *ngIf="shopList" class="list-container">
    <ul *ngIf="shopList.length" [ngClass]="isEditMode ? 'shop-list shop-list-edit-mode' : 'shop-list'">
      <li *ngFor="let item of shopList; index as i" class="list-item">
        <div class="item-box">
          <button class="check-btn" [disabled]="isAcquired || !isEditMode" (click)="selectItem(item)">
            <img [src]="getCheckIcon(item)" alt="Check to-do item" />
          </button>
          <span
            class="item-text"
            [ngClass]="{ unselected: isAcquired || !item.selected, crossed: item.status === todoStatus.done }"
            appCustomTooltip
            #tooltip="matTooltip"
            [appCustomTooltip]="item.text"
            [tooltip]="tooltip"
            matTooltip="{{ item.text }}"
            matTooltipClass="my-custom-tooltip"
            font="bold 14px Lato, sans-serif"
            [appLinkify]="item.text"
          >
          </span>
        </div>
        <button *ngIf="item.custom && isEditMode" class="del-btn" type="button" (click)="deleteItem(item.text)"></button>
      </li>
    </ul>
    <div *ngIf="!shopList.length" class="no-item">
      {{ 'user.habit.to-do.no-shopping-items' | translate }}
    </div>
    <div *ngIf="isEditMode && !isAcquired">
      <form [formGroup]="itemForm" class="add-item-form">
        <input
          class="add-field"
          type="text"
          formControlName="item"
          [placeholder]="'user.habit.to-do.add-custom-item' | translate"
          autocomplete="off"
          (input)="checkItemValidity()"
        />
        <button [disabled]="!itemForm.valid" class="add-btn" type="submit" (click)="addItem(itemForm.get('item').value)">+</button>
      </form>
      <div class="save-cancel-wrapper">
        <button class="save-cancel-btn" (click)="cancelEditing()">
          {{ 'user.habit.to-do.cancel-editing' | translate }}
        </button>
        <button class="save-cancel-btn" (click)="changeEditMode()" [disabled]="!isListChanged">
          {{ 'user.habit.to-do.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
