.shop-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    height: 20px;
    margin-bottom: 26px;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .shop-list {
    display: flex;
    flex-direction: column;
    height: 112px;
    padding: 0;
    margin: 0;
    gap: 16px;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;

    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-box {
        display: flex;
        align-items: center;
        width: 168px;
        height: 25px;
        max-width: calc(100% - 24px);

        .check-btn {
          border: 0;
          padding: 0;
          background-color: transparent;
        }

        .item-text {
          height: 17px;
          margin-left: 12px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
        }
      }
    }
  }

  .no-item {
    height: 112px;
  }
}

.del-btn {
  height: 12px;
  width: 12px;
  background-image: url('/assets/img/icon/cross.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin-right: 6px;
}

form {
  margin-top: 25px;

  .add-field {
    width: 80%;
    height: 26px;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--quintynary-light-grey);

    &::placeholder {
      color: var(--quintynary-light-grey);
    }

    &:focus {
      padding-left: 7px;
      border: 2px solid var(--quaternary-grey);
      outline: none;
    }
  }

  .add-btn {
    padding-left: 5px;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    background: var(--primary-green);
    color: var(--primary-white);
    margin-left: 10px;
    cursor: pointer;

    &:disabled {
      background: var(--primary-light-green);
      cursor: default;
    }
  }
}

.add-item-form {
  display: flex;
  width: 100%;
}

.unselected {
  color: var(--quintynary-light-grey);
}

@media (max-width: 560px) {
  .shop-list-container .title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .list-container .no-item {
    font-size: 12px;
  }
}
