<div class="shop-list-container">
  <div class="title">{{ 'user.habit.to-do-list' | translate }}</div>
  <div *ngIf="shopList" class="list-container">
    <ul *ngIf="shopList.length" class="shop-list">
      <li *ngFor="let item of shopList; index as i" class="list-item">
        <div class="item-box">
          <button class="check-btn" [disabled]="isCustomHabit && (!isEditing || isAcquired)">
            <img class="check-icon" [src]="getCheckImage()" />
          </button>
          <span
            class="item-text"
            [ngClass]="{ selected: item.selected, done: item.status === 'DONE' }"
            ngbPopover="{{ item.text }}"
            triggers="mouseenter:mouseleave"
            placement="top"
            container="body"
          >
            {{ truncateShoppingItemName(item.text) }}
          </span>
        </div>
        <button class="del-btn" type="button" (click)="deleteItem(item.text)"></button>
      </li>
    </ul>
    <div *ngIf="!shopList.length" class="no-item">
      {{ 'user.habit.no-shopping-items' | translate }}
    </div>
    <form *ngIf="!isAcquired" [formGroup]="itemForm">
      <input
        class="primary-global-input add-field"
        type="text"
        formControlName="item"
        [placeholder]="'user.habit.add-custom-item' | translate"
        autocomplete="off"
      />
      <input [disabled]="!itemForm.valid" class="add-btn" type="submit" value="+" (click)="addItem(item.value)" />
    </form>
  </div>
</div>
