#modal-wrapper {
  width: 480px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 24px;
  color: var(--ubs-quaternary-dark-grey);
}

.secondary-global-button {
  border: 1px solid var(--ubs-quaternary-dark-grey);
  margin-right: 1rem !important;
}

.primary-global-button {
  border-color: var(--ubs-button-light-green);
  background: var(--ubs-button-light-green);
}

.title {
  font-family: var(--ubs-quaternary-font);
  font-style: normal;
  color: var(--ubs-quaternary-dark-grey);
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
}

.modal-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-primary-grey);
  font-family: var(--ubs-quaternary-font);
  margin-top: 25px;
}

.info {
  color: var(--quaternary-grey);
  font-weight: normal;
  font-size: 12px;
  margin: 0;
}

.date {
  color: var(--ubs-quaternary-dark-grey);
  font-size: 14px;
  margin-right: 30px;
}

.user {
  color: var(--ubs-quaternary-dark-grey);
  font-size: 14px;
}

.buttons {
  margin-bottom: 15px;
  padding-top: 20px;
}
