<div id="modal-wrapper">
  <div class="w-100">
    <p class="title">{{ title | translate }}</p>
  </div>
  <div>
    <p class="modal-text">{{ text | translate }}{{ text2 | translate: { bagName: bagName, serviceName: serviceName } }}</p>
  </div>
  <div class="d-flex justify-content-end buttons" mat-dialog-actions>
    <button *ngIf="!check(modalData.name)" class="button secondary-global-button" mat-button (click)="onNoClick()">
      {{ 'modal-text.cancel' | translate }}
    </button>
    <button *ngIf="check(modalData.name)" class="button secondary-global-button" mat-button (click)="onNoClick()">
      {{ 'modal-text.no' | translate }}
    </button>
    <button class="button primary-global-button btn m-0" (click)="onYesClick(true)">
      {{ action | translate }}
    </button>
  </div>
  <div class="d-flex" *ngIf="!check(modalData.name)">
    <p class="info">
      {{ 'modal-text.date' | translate }} <span class="date">{{ newDate | titlecase }}</span>
    </p>
    <p class="info">
      {{ 'modal-text.user' | translate }} <span class="user">{{ name }}</span>
    </p>
  </div>
</div>
