<div id="modal-wrapper">
  <div class="w-100">
    <p class="title">{{ title | translate }}</p>
  </div>
  <div>
    <p class="modal-text">{{ text | translate }}</p>
  </div>
  <div class="d-flex justify-content-end buttons" mat-dialog-actions>
    <button class="secondary-global-button btn m-0 mr-2" mat-button (click)="onNoClick()">
      {{ 'modal-text.cancel' | translate }}
    </button>
    <button class="primary-global-button btn m-0">
      {{ action | translate }}
    </button>
  </div>
  <div class="d-flex">
    <p class="info">
      {{ 'modal-text.date' | translate }} <span class="date">{{ newDate | titlecase }}</span>
    </p>
    <p class="info">
      {{ 'modal-text.user' | translate }} <span class="user">{{ name }}</span>
    </p>
  </div>
</div>
