.social_network-wrp {
  display: grid;
  grid-template-columns: calc(100% - 47px) 47px;
  margin-bottom: 25px;
}

.secondary-global-button {
  background: transparent;
}

.social_network-link-text {
  color: hsl(137, 1%, 29%);
  width: 190px;
  display: flex;
  align-items: center;

  p {
    font-family: var(--tertiary-font);
    color: var(--quaternary-dark-grey);
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    overflow: hidden;
  }
}

.social_network-edit-wrp {
  display: flex;
  justify-content: space-between;
}

.social_network-add-wrp {
  display: grid;
  grid-template-rows: 50px auto;
  row-gap: 20px;

  button {
    text-transform: capitalize;
    height: 32px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
  }
}

.social_network-btn-wrp {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;

  button:first-child {
    margin-bottom: 10px;
  }
}

.social_network-add-input-wrp {
  display: flex;
  flex-direction: column;

  label {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-dark-grey);
    margin-bottom: 4px;
  }
}

.social-btn {
  display: flex;
  align-items: center;

  &:disabled {
    filter: grayscale(100%);
  }
}

.edit-button,
.delete-button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}

.add-button {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-green);
  border: transparent;
  background-color: transparent;
  padding: 0;
  letter-spacing: 0.02em;

  &:focus {
    outline: none;
  }
}

.social-img {
  height: 24px;
  min-width: 24px;
  width: 24px;
  margin-right: 16px;
  border-radius: 3px;
}

.social-img-add {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.link-text {
  color: var(--primary-dark-grey);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  margin-left: 16px;
}

.social_network-input-error {
  color: var(--error-ligh-red);
  font-family: var(--primary-font);
  font-size: 10px;
  line-height: 12px;
}

.ng-touched.ng-invalid {
  border: 1px solid var(--error-ligh-red);
}

@media (min-width: 375px) {
  .social_network-link-text {
    width: fit-content;
    max-width: 75%;
  }
}

@media screen and (max-width: 320px) {
  .social_network-wrp {
    display: flex;
    justify-content: space-between;

    button.edit-button {
      .edit-button-img {
        height: 19px;
        width: 19px;
      }
    }

    button.delete-button {
      margin-left: 22px;

      .delete-button-img {
        height: 19px;
        width: 19px;
      }
    }
  }
}
