<!-- Social netwok list -->
<ng-container *ngIf="socialNetworks && socialNetworks.length > 0">
  <div *ngFor="let socialNetwork of socialNetworks" class="social_network-wrp">
    <a href="{{ socialNetwork.url }}" class="social_network-link-text" target="_blank" rel="noopener">
      <img [src]="getSocialImage(socialNetwork)" class="social-img" alt="Social image" />
      <p>{{ replaceHttp(socialNetwork.url) }}</p>
    </a>
    <div class="social_network-edit-wrp">
      <button class="edit-button social-btn" type="button" (click)="onEditLink(socialNetwork)" [disabled]="editedSocialLink">
        <img [src]="icons.edit" class="edit-button-img" alt="edit-icon" />
      </button>
      <button class="delete-button" type="button" (click)="onDeleteLink(socialNetwork)">
        <img [src]="icons.delete" class="delete-button-img" alt="delete-icon" />
      </button>
    </div>
  </div>
</ng-container>
<!-- input -->
<div>
  <div *ngIf="showInput" class="social_network-add-wrp">
    <div class="social_network-add-input-wrp">
      <label for="socialLink">{{ 'user.edit-profile.label-tip' | translate }}</label>
      <input
        id="socialLink"
        type="text"
        placeholder="https://www.facebook.com/greencity"
        name="text"
        [(ngModel)]="inputTextValue"
        class="form-control"
        [pattern]="urlValidationRegex"
        #socialLink="ngModel"
        required
      />
      <span *ngIf="socialLink.errors !== null && socialLink.touched" class="social_network-input-error">
        {{ getErrorMessage(socialLink.errors) | translate }}
      </span>
    </div>
    <div class="social_network-btn-wrp">
      <button type="button" class="secondary-global-button" (click)="onCloseForm()">
        {{ 'user.edit-profile.btn.cancel' | translate }}
      </button>
      <button
        type="button"
        class="primary-global-button"
        (click)="onAddLink()"
        [disabled]="(socialNetworks && socialNetworks.length >= 5) || socialLink.errors"
      >
        {{ 'user.edit-profile.btn.add' | translate }}
      </button>
    </div>
  </div>

  <!-- add button & text -->
  <button
    *ngIf="!showInput"
    class="add-button social-btn"
    type="button"
    (click)="onToggleInput()"
    [disabled]="socialNetworks && socialNetworks.length >= 5"
  >
    <img [src]="icons.add" class="social-img-add" alt="add-icon" />
    {{ 'user.edit-profile.add-link' | translate }}
  </button>
</div>
