.details-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .tertiary-global-button {
    margin-top: 16px;
    line-height: 20px;
    font-weight: 500;
    width: 148px;
  }
}

@media screen and (max-width: 320px) {
  .details-img {
    margin-top: 24px;
    align-items: center;
  }
}
