.details-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  max-width: 120px;
  max-height: 120px;

  button {
    position: absolute;
    bottom: -3px;
    left: 69px;
    background: transparent;
    border: none;

    img {
      border-radius: 50%;
      border: 1px solid var(--pre-secondary-light-grey);
    }
  }
}

@media screen and (max-width: 320px) {
  .details-img {
    margin: 24px auto 0 auto;
  }
}
