.details-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  max-width: 120px;
  max-height: 120px;

  a {
    position: absolute;
    bottom: 0;
    left: 76px;
    img {
      border-radius: 50%;
      border: 1px solid var(--secondary-grey);
    }
  }
}

@media screen and (max-width: 320px) {
  .details-img {
    margin: 24px auto 0 auto;
  }
}
