<div class="container mb-3">
  <div class="empty_card" (click)="openDetails()">
    <img *ngIf="!pageOpen" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" />
    <img *ngIf="pageOpen" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" />
    <h1 class="form__headline py-3">{{ 'address-details.title' | translate }}</h1>
  </div>
  <form *ngIf="pageOpen" [formGroup]="addressExportDetailsDto">
    <div class="form-row">
      <div class="address">
        <div class="settlement">
          <div class="form-group">
            <label for="region">{{ 'address-details.region' | translate }}</label>
            <select
              [formControlName]="getLangValue('addressRegion', 'addressRegionEng')"
              (change)="setRegionValue($event)"
              class="form-control shadow-none placeholder-positioning"
              id="region"
            >
              <option *ngFor="let region of regions" [ngValue]="region.name">{{ region.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="city">{{ 'address-details.city' | translate }}</label>
            <input
              type="text"
              (keyup)="setPredictCities()"
              [formControlName]="getLangValue('addressCity', 'addressCityEng')"
              class="form-control"
              [readonly]="isStatus"
              id="city"
              placeholder="{{ 'address-details.city' | translate }}"
              matInput
              [matAutocomplete]="autoCity"
            />
            <mat-autocomplete #autoCity="matAutocomplete">
              <mat-option
                class="autocomplete-dropdown"
                *ngFor="let cityName of cityPredictionList"
                [value]="cityName.description"
                (click)="onCitySelected(cityName)"
              >
                {{ cityName.description }}
              </mat-option>
            </mat-autocomplete>
            <div
              class="validation"
              *ngIf="getLangControl(addressCity, addressCityEng).invalid && getLangControl(addressCity, addressCityEng).touched"
            >
              <app-ubs-input-error [formElement]="getLangControl(addressCity, addressCityEng)"></app-ubs-input-error>
            </div>
          </div>
        </div>

        <div class="settlement">
          <div class="form-group">
            <label for="street">{{ 'address-details.street' | translate }}</label>
            <input
              id="street"
              type="text"
              class="form-control"
              placeholder="{{ 'address-details.street' | translate }}"
              [readonly]="isStatus"
              [formControlName]="getLangValue('addressStreet', 'addressStreetEng')"
              [matAutocomplete]="autoStreet"
              (keyup)="setPredictStreets()"
            />
            <mat-autocomplete #autoStreet="matAutocomplete">
              <mat-option
                class="autocomplete-dropdown"
                *ngFor="let streetName of streetPredictionList"
                [value]="streetName.description"
                (click)="onStreetSelected(streetName)"
              >
                {{ streetName.description }}
              </mat-option>
            </mat-autocomplete>
            <div
              class="validation"
              *ngIf="getLangControl(addressStreet, addressStreetEng).invalid && getLangControl(addressStreet, addressStreetEng).touched"
            >
              <app-ubs-input-error [formElement]="getLangControl(addressStreet, addressStreetEng)"> </app-ubs-input-error>
            </div>
          </div>
          <div class="building">
            <div class="form-group">
              <label for="house">{{ 'address-details.house' | translate }}</label>
              <input
                type="text"
                class="form-control"
                [readonly]="isStatus"
                id="house"
                formControlName="addressHouseNumber"
                placeholder="{{ 'address-details.house' | translate }}"
                (keyup)="setPredictHouseNumbers()"
                (focusout)="checkHouseInput()"
                matInput
                [matAutocomplete]="autoHouse"
              />
              <mat-autocomplete #autoHouse="matAutocomplete">
                <mat-option
                  class="autocomplete-dropdown"
                  *ngFor="let house of housePredictionList"
                  [value]="house.structured_formatting.main_text"
                  (click)="onHouseSelected()"
                >
                  {{ house.structured_formatting.main_text }}
                </mat-option>
              </mat-autocomplete>
              <div class="validation" *ngIf="addressHouseNumber.invalid && addressHouseNumber.touched">
                <app-ubs-input-error [formElement]="addressHouseNumber"></app-ubs-input-error>
              </div>
            </div>
            <div class="form-group">
              <label for="building">{{ 'address-details.building' | translate }}</label>
              <input
                type="text"
                class="form-control"
                [readonly]="isStatus"
                id="building"
                formControlName="addressHouseCorpus"
                placeholder="{{ 'address-details.building' | translate }}"
              />
              <div class="validation" *ngIf="addressHouseCorpus.invalid && addressHouseCorpus.touched">
                <app-ubs-input-error [formElement]="addressHouseCorpus"></app-ubs-input-error>
              </div>
            </div>
            <div class="form-group">
              <label for="entrance">{{ 'address-details.entrance' | translate }}</label>
              <input
                formControlName="addressEntranceNumber"
                type="text"
                class="form-control"
                [readonly]="isStatus"
                id="entrance"
                placeholder="{{ 'address-details.entrance' | translate }}"
              />
              <div class="validation" *ngIf="addressEntranceNumber.invalid && addressEntranceNumber.touched">
                <app-ubs-input-error [formElement]="addressEntranceNumber"></app-ubs-input-error>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group district">
          <label for="district">{{ 'address-details.district' | translate }}</label>
          <select
            class="form-control placeholder-positioning"
            *ngIf="isDistrict"
            id="district"
            [formControlName]="getLangValue('addressDistrict', 'addressDistrictEng')"
            (change)="onDistrictSelected($event)"
          >
            <option *ngFor="let district of districtsKyiv" [ngValue]="district.name">{{ district.name }}</option>
          </select>
          <div
            class="validation"
            *ngIf="
              getLangControl(addressDistrict, addressDistrictEng).invalid && getLangControl(addressDistrict, addressDistrictEng).touched
            "
          >
            <app-ubs-input-error [formElement]="getLangControl(addressDistrict, addressDistrictEng)"></app-ubs-input-error>
          </div>
        </div>
      </div>
      <div class="form-group comment">
        <label for="address-comment">{{ 'address-details.comment-label' | translate }}</label>
        <textarea class="form-control" id="address-comment" rows="3" placeholder="{{ addressComment }}" disabled></textarea>
      </div>
    </div>
  </form>
  <hr />
</div>
