.container {
  font-family: var(--primary-font);
  line-height: 32px;
}

.empty_card {
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    display: inline;
  }

  img {
    width: 20px;
    margin-right: 20px;
  }
}

.empty_card:hover {
  cursor: pointer;
}

.form__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--ubs-primary-grey);
}

label {
  color: var(--ubs-secondary-grey);
  font-size: 16px;
  line-height: 24px;
}

.settlement,
.building {
  display: flex;
}

.settlement > div {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.building div {
  padding-right: 15px;
  width: 100%;
}

.district {
  padding: 0 15px;
  width: 50%;
}

.comment {
  padding: 0 15px;
  width: 50%;
}

.form-control {
  max-width: 408px;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid var(--ubs-error-ligh-red);
}

#address-comment {
  resize: none;
  overflow: hidden;

  &::placeholder {
    color: var(-ubs-quintynary-light-grey);
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 992px) {
  #address-comment {
    // width: 50%;
    height: 92px;
  }
}

@media (max-width: 760px) {
  .settlement {
    flex-direction: column;
  }

  .settlement > div {
    width: 100%;
  }

  .district {
    width: 100%;
  }

  .comment {
    width: 100%;
  }
}
