<form [formGroup]="addTariffServiceForm">
  <div *ngIf="data.button === 'add'">
    <p class="add-location-title">{{ 'ubs-tariffs.btn.add_tariff' | translate }}</p>
  </div>
  <div *ngIf="data.button === 'update'">
    <p class="add-location-title">{{ 'ubs-tariffs-add-service.edit_tariff' | translate }}</p>
  </div>
  <app-dialog-tariff [row]="form" [newDate]="newDate" [name]="name" [edit]="data.edit"></app-dialog-tariff>
  <ng-template #form>
    <div class="d-flex">
      <div class="form-group">
        <label for="name">{{ 'ubs-tariffs-add-service.name_of_the_tariff' | translate }}</label>
        <input
          type="text"
          formControlName="name"
          class="shadow-none form-control"
          id="name"
          placeholder="{{ 'ubs-tariffs-add-service.placeholder-service' | translate }}"
          maxlength="31"
        />
        <div class="error-message" *ngIf="getControl('name').invalid && getControl('name').touched">
          <app-input-error [formElement]="getControl('name')"></app-input-error>
        </div>
      </div>
      <div class="form-group">
        <label for="name">{{ 'ubs-tariffs-add-service.lang.tariff_name' | translate }}</label>
        <input
          type="text"
          formControlName="nameEng"
          class="shadow-none form-control"
          id="nameEng"
          placeholder="{{ 'ubs-tariffs-add-service.lang.placeholder-service' | translate }}"
          maxlength="31"
        />
        <div class="error-message" *ngIf="getControl('nameEng').invalid && getControl('nameEng').touched">
          <app-input-error [formElement]="getControl('nameEng')"></app-input-error>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group">
        <label class="form-label" for="capacity">{{ 'ubs-tariffs-add-service.capacity' | translate }}</label>
        <input type="number" formControlName="capacity" maxlength="3" id="capacity" class="capacity-input" placeholder="0" />
        <div class="error-message" *ngIf="getControl('capacity').invalid">
          <app-input-error [formElement]="getControl('capacity')"></app-input-error>
        </div>
      </div>
      <div class="form-group">
        <label for="commission" class="form-label">{{ 'ubs-tariffs-add-service.commission' | translate }}</label>
        <input type="number" formControlName="commission" maxlength="3" id="commission" class="courier-input" placeholder="0,00" />
        <div class="error-message" *ngIf="getControl('commission').invalid">
          <app-input-error [formElement]="getControl('commission')"></app-input-error>
        </div>
      </div>
    </div>
    <div class="basic-cost-input form-group">
      <label for="price" class="form-label">{{ 'ubs-tariffs-add-service.basic_cost' | translate }}</label>
      <input type="number" formControlName="price" id="price" class="shadow-none form-control" placeholder="0,00" />
      <div class="error-message" *ngIf="getControl('price').invalid">
        <app-input-error [formElement]="getControl('price')"></app-input-error>
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group">
        <label for="description">{{ 'ubs-tariffs-add-service.tariff_description' | translate }}</label>
        <div [ngClass]="{ 'description-input-wrapper': isDiscriptoinInvalid }">
          <textarea
            maxlength="256"
            class="description-input"
            type="text"
            formControlName="description"
            id="description"
            placeholder="{{ 'ubs-tariffs-add-service.placeholder-text' | translate }}"
          >
          </textarea>
        </div>
        <div class="error-message" *ngIf="isDiscriptoinInvalid">
          <app-input-error [formElement]="getControl('description')"></app-input-error>
        </div>
      </div>
      <div class="form-group">
        <label for="description">{{ 'ubs-tariffs-add-service.lang.tariff_description' | translate }}</label>
        <div [ngClass]="{ 'description-input-wrapper': isDiscriptoinEnInvalid }">
          <textarea
            maxlength="256"
            class="description-input"
            type="text"
            formControlName="descriptionEng"
            id="descriptionEng"
            placeholder="{{ 'ubs-tariffs-add-service.lang.placeholder-text' | translate }}"
          >
          </textarea>
        </div>
        <div class="error-message" *ngIf="isDiscriptoinEnInvalid">
          <app-input-error [formElement]="getControl('descriptionEng')"></app-input-error>
        </div>
      </div>
    </div>
    <div class="buttons justify-content-end d-flex">
      <button class="secondary-global-button btn" type="button" (click)="onCancel()">
        {{ 'ubs-tariffs-add-service.btn.cancel' | translate }}
      </button>
      <button
        id="tariffForServiceBTN"
        class="primary-global-button btn"
        type="submit"
        *ngIf="data.button === 'add'"
        [disabled]="addTariffServiceForm.invalid || loadingAnim"
        (click)="addNewTariffForService()"
      >
        <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
        {{ 'ubs-tariffs-add-service.btn.add' | translate }}
      </button>
      <button
        type="button"
        *ngIf="data.button === 'update'"
        class="primary-global-button btn"
        [disabled]="addTariffServiceForm.invalid || addTariffServiceForm.pristine || loadingAnim"
        (click)="editTariffForService(receivedData)"
      >
        <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
        {{ 'ubs-tariffs-add-service.btn.save' | translate }}
      </button>
    </div>
  </ng-template>
</form>
