<div class="dropdown_time">
  <div class="set_time_container">
    <h3>{{ 'order-edit.title' | translate }}</h3>
    <div class="set_time_select">
      <div class="select_from_wr">
        <span>{{ 'order-edit.export-time.from' | translate }}</span>
        <select class="select" id="timeFrom" (change)="onTimeFromChange()" [(ngModel)]="fromInput">
          <option value="" selected hidden></option>
          <option *ngFor="let timeFrom of fromSelect" [value]="timeFrom">
            {{ timeFrom }}
          </option>
        </select>
      </div>
      <div class="select_to_wr">
        <span>{{ 'order-edit.export-time.to' | translate }}</span>
        <select class="select" id="timeTo" (change)="onTimeToChange()" [(ngModel)]="toInput">
          <option value="" selected hidden></option>
          <option *ngFor="let timeTo of toSelect; let i = index" [id]="timeTo" [value]="timeTo">
            {{ timeTo }}
          </option>
        </select>
      </div>
    </div>
    <div class="edit_time_btns">
      <button (click)="cancel()" class="cancel">{{ 'order-edit.btn.cancel' | translate }}</button>
      <button (click)="$event.preventDefault(); save()" class="save">OK</button>
    </div>
  </div>
</div>
