.location-page {
  width: 90%;

  h3 {
    text-decoration: underline;
  }

  .locations {
    display: flex;
    justify-content: space-between;

    .location-table {
      td {
        font-size: 26px;
        padding: 15px 0 15px 0;
      }
    }
  }

  .active-couriers {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    width: 30%;
  }

  td {
    font-size: 26px;
    padding: 15px 0 15px 0;
  }

  .location-buttons {
    display: block;
  }

  td:hover {
    cursor: default;
  }
}
