<div class="location-page">
  <div class="locations">
    <div class="active-locations">
      <h3>Вибрані локації</h3>
      <table class="location-table">
        <tr>
          <td (click)="openCity()">kyiv</td>
        </tr>
        <tr>
          <td>kyiv region</td>
        </tr>
      </table>
    </div>
    <div class="location-buttons">
      <button class="secondary-global-button">Додати локацію</button>
      <button class="secondary-global-button">Деактивувати локацію</button>
    </div>
    <div class="deactivated-locations">
      <h3>Неактивні локації</h3>
      <table class="deactivated-table">
        <tr>
          <td>Чернівці</td>
        </tr>
        <tr>
          <td>Вінниця</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="active-couriers">
    <div>
      <h3>Курєри</h3>
      <table class="couriers">
        <tr>
          <td>Убс курєр</td>
        </tr>
        <tr>
          <td>UKLON</td>
        </tr>
      </table>
    </div>
    <div class="add-courier">
      <button class="secondary-global-button">Додати курєра</button>
    </div>
  </div>
</div>
