<div class="container mb-3">
  <div class="empty_card" (click)="openDetails()">
    <img *ngIf="!pageOpen" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" />
    <img *ngIf="pageOpen" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" />
    <h1 class="form__headline">{{ 'order-history.title' | translate }}</h1>
  </div>
  <div *ngIf="pageOpen" class="content">
    <table aria-label="order-history">
      <tr>
        <th scope="row">
          {{ 'order-history.date' | translate }}
        </th>
        <th scope="row">
          {{ 'order-history.time' | translate }}
        </th>
        <th scope="row">
          {{ 'order-history.event' | translate }}
        </th>
        <th scope="row">
          {{ 'order-history.author' | translate }}
        </th>
      </tr>
      <tr *ngFor="let historyAction of orderHistory">
        <td>{{ historyAction.eventDate | localizedDate | date: 'dd.MM.yyyy' }}</td>
        <td>{{ historyAction.eventDate | localizedDate | date: 'HH:mm' }}</td>
        <td
          class="hiddenText"
          #popup="matTooltip"
          [matTooltip]="historyAction.eventName"
          matTooltipPosition="above"
          matTooltipClass="popup"
          (mouseenter)="$event.stopImmediatePropagation()"
          (mouseleave)="$event.stopImmediatePropagation()"
          (click)="showPopup(historyAction.id)"
        >
          <span>{{ historyAction.status }} </span>
          <span *ngIf="historyAction.result"> -</span>
          <span
            [ngClass]="{ result: historyAction.result === coloredStatus1 || historyAction.result === coloredStatus2 }"
            *ngIf="historyAction.result"
          >
            {{ historyAction.result }}</span
          >
        </td>
        <td>{{ historyAction.authorName }}</td>
      </tr>
    </table>
  </div>
</div>
