<div *ngIf="goal.id !== null" class="container-fluid goal-item-container">
  <div class="row">
    <div class="col-1 no-padding">
      <label class="goal-container">
        <input type="checkbox" [checked]="goal.status === 'CHECKED'" (change)="onUpdate()">
        <span class="check-mark"></span>

      </label>
    </div>
    <div class="col-11 d-flex no-padding">
      <span class="goal-text align-self-center no-padding" title="{{this.goal.text}}"> {{this.goal.text}} </span>
    </div>
  </div>
</div>

<div *ngIf="goal.id === null" class="container-fluid goal-item-container">
  <div class="row">
    <div class="col-1 no-padding">
      <label class="goal-container">
        <input type="checkbox" [checked]="goal.status === 'CHECKED'" (change)="onUpdate()">
        <span class="check-mark"></span>
      </label>
    </div>
    <div class="col-11 no-padding">
      <input type="text" class="form-control add-goal-input no-padding" value="{{goal.text}}">
    </div>
  </div>
</div>
