@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$Green: #13aa57;
$White: #fff;
$backgroundGrey: #f8f9fa;
$textGrey: #64727d;
$openSpans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$Lato: 'Lato', sans-serif;

.friend-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: $backgroundGrey;
  font-family: $Lato;
  padding: 24px;
  border-radius: 8px;
}

button {
  font-weight: bold;
  font-family: $Lato;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  width: 104px;
  height: 36px;
  color: $Green;
  border: 1px solid $Green;
  background: $White;
}

.friend-with-photo {
  display: flex;
  flex-direction: column;
}

.friend-without-photo {
  display: flex;
  flex-direction: row;
}

.rate-without-photo {
  background: none;
}

.rate-with-photo {
  background: rgba(19, 170, 87, 0.12);

  &::before {
    content: 'Rate:';
  }
}

.friend-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 2px;
}

.friend-city,
.friend-mutual {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $textGrey;
  margin: 2px;
}

.friend-rate {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 60px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $Green;
  margin: 2px;
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 3;
}

.friend-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.friend-img {
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .friend-item {
    width: 554px;
    flex-direction: row;
  }
}

@media only screen and (min-width: 576px) {
  .friend-item {
    justify-content: center;
  }
}
