@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$btnGreen: #13aa57;
$btnWhite: #fff;
$backgroundGrey:#f8f9fa;
$openSpans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$nameColor: #313131;

button {
  font-family: $openSpans;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  width: 145px;
  height: 48px;
  text-transform: uppercase;
}

.add-btn {
  color: $btnGreen;
  border: 1px solid $btnGreen;
  background: $btnWhite;
}

.delete-btn {
  color: $btnWhite;
  background: $btnGreen;
  border: 1px solid $btnGreen;
}

.add-friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  background: $backgroundGrey;
}

.friend-name {
  font-family: $montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: $nameColor;
  max-width: 190px;
  word-wrap: break-word;
}

.friend-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

@media only screen and (min-width: 320px) {
  .add-friend {
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 576px) {
  .add-friend {
    width: 400px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .friend-info {
    align-items: flex-start;
  }

  .friend-name {
    max-width: 270px;
  }
}

@media only screen and (min-width: 768px) {
  .add-friend {
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .add-friend {
    width: 400px;
  }
}

@media only screen and (min-width: 1440px) {
  .add-friend {
    width: 600px;
  }
}
