<div class="add-friend">
  <app-user-profile-image
    [imgPath]="friend.profilePicture"
    [firstName]="friend.name"
    class="friend-img"
    [additionalImgClass]="'friend-item'"
    >
  </app-user-profile-image>
  <div class="friend-info">
    <p>{{friend.name}}</p>
    <button type="button" *ngIf = "!friend.added" class="add-btn" (click)="addFriend(friend.id)">Add friend</button>
    <button type="button" *ngIf = "friend.added" class="delete-btn" (click)="deleteFriend(friend.id)">Delete friend</button>
  </div>
</div>
