<div class="grey-bg">
   <div class = "outher-wrapper">
      <div class="wrapper-container">
         <div class="form-wrapper">
            <div class="form-pic "><img [src]="formPic"></div>
            <div class="sign-in">
               <form #registerForm="ngForm" (ngSubmit)="register(userOwnSignUp)" name="inputform" class="class-form">
               <h1>{{'user.auth.sign-up.title-up' | translate}}</h1>
               <h2>{{'user.auth.sign-up.fill-form-up' | translate}}</h2>
               <div class="field-wrapper-left">
                  <label for="first-name">{{'user.auth.sign-up.first-name' | translate}}</label>
                  <input id="first-name" type="text" class="first-name sign-in-input width-inp" [ngClass]="firstNameControl.errors&&firstNameControl.touched? 'red':'grey'" name="fistName" [(ngModel)]="userOwnSignUp.firstName" #firstNameControl="ngModel" required minlength="1" maxlength="20" appInputcolor [typeColor] = "'#13AA57'" [defaultColor] = "'#000'">
                  <div class="validation-error" *ngIf="firstNameControl.invalid && (firstNameControl.dirty||firstNameControl.touched)">
                     <div *ngIf="firstNameControl.errors.required">
                        {{'user.auth.sign-up.first-name-is-required' | translate}}
                     </div>
                     <div *ngIf="firstNameControl.errors.minlength">
                        {{'user.auth.sign-up.first-name-must-be-at-least-1-characters-long' | translate}}
                     </div>
                  </div>
                  <div class="validation-error" id="validation-error-first" *ngIf="firstNameErrorMessageBackEnd!=null">
                     {{firstNameErrorMessageBackEnd}}
                  </div>
               </div>
               <div class="field-wrapper-right">
                  <label for="last-name">{{'user.auth.sign-up.last-name' | translate}}</label>
                  <input id="last-name" type="text" class="last-name sign-in-input width-inp" [ngClass]="lastNameControl.errors&&lastNameControl.touched? 'red':'grey'" name="lastName" [(ngModel)]="userOwnSignUp.lastName" #lastNameControl="ngModel" minlength="1"  appInputcolor [typeColor] = "'#13AA57'" [defaultColor] = "'#000'">
                  <div class="validation-error" *ngIf="lastNameControl.invalid && (lastNameControl.dirty||lastNameControl.touched)">
                     <div *ngIf="lastNameControl.errors.required">
                        {{'user.auth.sign-up.last-name-is-required' | translate}}
                     </div>
                     <div *ngIf="lastNameControl.errors.minlength">
                        {{'user.auth.sign-up.last-name-must-be-at-least-1-characters-long' | translate}}
                     </div>
                  </div>
                  <div class="validation-error" id="validation-error-last" *ngIf="lastNameErrorMessageBackEnd!=null">
                     {{lastNameErrorMessageBackEnd}}
                  </div>
               </div>
               <div class="clearboth"></div>
                  <label for="email">{{'user.auth.sign-up.email' | translate}}</label>
                  <input id="email" #emailControl="ngModel" [ngClass]="emailControl.errors&&emailControl.touched? 'red':'grey'" type="email" class="email sign-in-input width-inp" name="email" [(ngModel)]="userOwnSignUp.email" #emailControl="ngModel" required minlength="1" email="true" appInputcolor [typeColor] = "'#13AA57'" [defaultColor] = "'#000'">
                  <div class="validation-error" id="validation-error" *ngIf="emailControl.invalid && (emailControl.dirty||emailControl.touched)">
                     <div *ngIf="emailControl.errors.required">
                        {{'user.auth.sign-up.email-is-required' | translate}}
                     </div>
                     <div *ngIf="emailControl.errors.minlength">
                        {{'user.auth.sign-up.email-must-be-at-least-1-characters-long' | translate}}
                     </div>
                     <div *ngIf="emailControl.errors.email">
                        {{'user.auth.sign-up.this-is-not-email' | translate}}
                     </div>
                  </div>
                  <div class="validation-error" *ngIf="emailErrorMessageBackEnd!=null">
                     {{emailErrorMessageBackEnd}}
                  </div>
               <div class="clearboth"></div>
               <label for="password">{{'user.auth.sign-up.password' | translate}}</label>
               <div class="password-wrapper">
                  <input id="password" #passwordControl="ngModel" [ngClass]="passwordControl.errors&&passwordControl.touched? 'red':'grey'" type="password" class=" password sign-in-input pass" name="form-control password" [(ngModel)]="userOwnSignUp.password" #passwordControl="ngModel" required minlength="8" appInputcolor [typeColor] = "'#13AA57'" [defaultColor] = "'#000'"> <div class="img" id="img" (click)="clickImg()"></div>
               </div>
               <div class="validation-error" *ngIf="passwordControl.invalid && (passwordControl.dirty||passwordControl.touched)">
                  <div *ngIf="passwordControl.errors.required">
                     {{'user.auth.sign-up.password-is-required' | translate}}
                  </div>
                  <div *ngIf="passwordControl.errors.minlength">
                     {{'user.auth.sign-up.password-must-be-at-least-8-characters-long' | translate}}
                  </div>
               </div>
               <div class="validation-error" *ngIf="passwordErrorMessageBackEnd!=null">
                  {{passwordErrorMessageBackEnd}}
               </div>
               <label for="password">{{'user.auth.sign-up.password-confirm' | translate}}</label>
               <input id="password-confirm" type="password" class = "sign-in-input pass" [(ngModel)]="tmp" #passwordControlConfirm="ngModel" required [ngClass]="passwordControlConfirm.errors&&passwordControlConfirm.touched? 'red':'grey'" name="form-control password-confirm" (input)="matchPassword()" appInputcolor [typeColor] = "'#13AA57'" [defaultColor] = "'#000'">
               <div id="img-confirm" class="img-confirm" (click)="clickImgConfirm()"></div>
               <div class="validation-error" *ngIf="passwordControlConfirm.invalid && (passwordControlConfirm.dirty||passwordControlConfirm.touched)">
                  <div *ngIf="passwordControlConfirm.errors.required">
                     {{'user.auth.sign-up.password-is-required' | translate}}
                  </div>
               </div>
               <div class="validation-error" *ngIf="">
                  {{passwordErrorMessageBackEnd}}
               </div>
               <div id="seterror" class="seterror">{{'user.auth.sign-up.password-match' | translate}}</div>
               <button class="btn btn-primary submit" [disabled]="!registerForm.valid" type="submit">
               <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{'user.auth.sign-up.submit' | translate}}
               </button>
               </form>
               <div class="wrapper-sign-up">
                  <p>{{'user.auth.sign-up.haveyou-account' | translate}} <a routerLink="/auth" class="signup-link">{{'user.auth.sign-in.sign-in' | translate}}</a></p>
                  <span class="or">{{'user.auth.sign-in.or-signin' | translate}}</span>
                  <div>
                     <button type="submit" class="google" (click)="signInWithGoogle()"><img [src]="picGoogle" alt="G">{{'user.auth.sign-in.sign-in-with-google' | translate}}<img [src]="picArrow" alt="" class="google-arrow"></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>
