<div [formGroup]="addPaymentForm" class="container">
  <div class="close-container">
    <button class="close-btn" mat-dialog-close (click)="close()">
      <img src="{{ closeButton }}" alt="close" />
    </button>
  </div>
  <div class="main-content">
    <h3 class="title label" id="addDocument">{{ 'add-payment.title' | translate }}</h3>
    <span class="order-title">{{ 'add-payment.order' | translate }}</span>
    <span class="label">{{ orderId }}</span>
    <hr />
    <span class="sub-title">{{ 'add-payment.description' | translate }}</span>
    <div class="form-container block">
      <label class="label" for="date">{{ 'add-payment.payment-date' | translate }}</label>
      <input
        formControlName="paymentDate"
        id="date"
        class="date"
        type="date"
        placeholder="{{ 'add-payment.date-placeholder' | translate }}"
      />
      <label class="label" for="amount">{{ 'add-payment.payment-amount' | translate }}</label>
      <input
        formControlName="amount"
        id="amount"
        class="date"
        type="text"
        placeholder="{{ 'add-payment.amount-placeholder' | translate }}"
      />
      <label class="label" for="payment-id">{{ 'add-payment.payment-id' | translate }}</label>
      <input formControlName="paymentId" id="payment-id" class="id" placeholder="{{ 'add-payment.id-placeholder' | translate }}" />
      <label class="label" for="link">{{ 'add-payment.link-to-bill' | translate }}</label>
      <input
        formControlName="receiptLink"
        id="link"
        class="link"
        type="text"
        placeholder="{{ 'add-payment.link-placeholder' | translate }}"
      />
    </div>
    <span class="label">{{ 'add-payment.label-for-photo' | translate }}</span>
    <span class="photo-requirement">{{ 'add-payment.requirement' | translate }}</span>
    <div class="photo-container" appDrag (files)="fileDropped($event)">
      <img class="image-preview" *ngIf="imagePreview" [src]="imagePreview.src" alt="image-of-payment" />
      <p class="requirement-drag label">
        <span>
          {{ 'add-payment.drag-photo' | translate }}
        </span>
        <label class="label custom-file-upload" for="file">{{ 'add-payment.drag-photo-link' | translate }}</label>
        <input id="file" type="file" accept="application/pdf,image/png,image/jpeg" class="d-none" (change)="onFileSelect($event)" />
      </p>
    </div>
  </div>
  <div class="btn-container block">
    <button type="reset" class="back label" (click)="close()">{{ 'add-payment.btn.back' | translate }}</button>
    <button type="submit" class="agree label" (click)="save()" [disabled]="!addPaymentForm.touched || !addPaymentForm.valid">
      {{ 'add-payment.btn.confirm' | translate }}
    </button>
  </div>
  <div class="add-info">
    <p>
      {{ 'add-payment.date' | translate }}:
      <span class="bold">
        {{ date | date: 'dd.MM.y' }}
      </span>
    </p>
    <p>
      {{ 'add-payment.added' | translate }}:
      <span class="bold">
        {{ adminName }}
      </span>
    </p>
  </div>
</div>
