<h2 mat-dialog-title style="text-align: center; margin-bottom: 2%">{{ 'user.user-setting.user-settings' | translate }}</h2>
<hr />
<mat-dialog-content>
  <div>
    <form #formElement="ngForm" (ngSubmit)="formElement.valid ? somethingEdited() : null">
      <table>
        <caption>
          User settings form
        </caption>
        <tr>
          <th class="text-secondary" scope="row">{{ 'user.user-setting.email' | translate }}</th>
          <th scope="row">{{ email }}</th>
        </tr>
        <tr>
          <td class="text-secondary">{{ 'user.user-setting.first-name' | translate }}</td>
          <td *ngIf="!isFirstNameEditing">{{ userUpdateModel.firstName }}</td>
          <td *ngIf="isFirstNameEditing">
            <div class="validation-error" *ngIf="firstNameControl.invalid && (firstNameControl.dirty || firstNameControl.touched)">
              <div *ngIf="firstNameControl.errors.required">
                {{ 'user.user-setting.first-name-is-required' | translate }}
              </div>
              <div *ngIf="firstNameControl.errors.minlength">
                {{ 'user.user-setting.first-name-must-be-at-least-1-characters-long' | translate }}
              </div>
            </div>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="userUpdateModel.firstName"
              name="fistName"
              #firstNameControl="ngModel"
              required
              minlength="1"
              maxlength="20"
            />
          </td>
          <td>
            <a (click)="firstNameEditing()">
              <mat-icon far icon="edit"></mat-icon>
            </a>
          </td>
        </tr>
        <tr>
          <td class="text-secondary">{{ 'user.user-setting.last-name' | translate }}</td>
          <td *ngIf="!isLastNameEditing">{{ userUpdateModel.lastName }}</td>
          <td *ngIf="isLastNameEditing">
            <div class="validation-error" *ngIf="lastNameControl.invalid && (lastNameControl.dirty || lastNameControl.touched)">
              <div *ngIf="lastNameControl.errors.required">
                {{ 'user.user-setting.last-name-is-required' | translate }}
              </div>
              <div *ngIf="lastNameControl.errors.minlength">
                {{ 'user.user-setting.last-name-must-be-at-least-1-characters-long' | translate }}
              </div>
            </div>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="userUpdateModel.lastName"
              name="lastName"
              #lastNameControl="ngModel"
              required
              minlength="1"
              maxlength="20"
            />
          </td>
          <td>
            <a (click)="lastNameEditing()">
              <mat-icon far icon="edit"></mat-icon>
            </a>
          </td>
        </tr>
        <tr class="emailNotification">
          <td class="text-secondary">{{ 'user.user-setting.email-notifications' | translate }}</td>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button
              class="example-radio-button"
              value="Yes"
              [checked]="userUpdateModel.emailNotification !== 'DISABLED'"
              (change)="userUpdateModel.emailNotification = 'DAILY'; somethingEdited()"
              color="primary"
              >{{ 'user.user-setting.yes' | translate }}
            </mat-radio-button>
            <mat-radio-button
              class="example-radio-button"
              value="No"
              [checked]="userUpdateModel.emailNotification === 'DISABLED'"
              (change)="userUpdateModel.emailNotification = 'DISABLED'; somethingEdited()"
              color="primary"
              >{{ 'user.user-setting.no' | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </tr>
        <tr *ngIf="userUpdateModel.emailNotification !== 'DISABLED'">
          <td class="text-secondary" id="frequency">{{ 'user.user-setting.frequency' | translate }}</td>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-grooup"
            [(ngModel)]="userUpdateModel.emailNotification"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let notification of emailNotifications"
              [value]="notification"
              (change)="somethingEdited()"
              color="primary"
            >
              {{ notification | titlecase }}
            </mat-radio-button>
          </mat-radio-group>
        </tr>
      </table>
    </form>
  </div>
</mat-dialog-content>

<div style="display: flex; justify-content: flex-end; align-items: center">
  <button class="btn btn-primary submit" type="submit" style="margin-right: 1%" [disabled]="!isSomethingEdited" (click)="updateUser()">
    {{ 'user.user-setting.submit' | translate }}
  </button>
  <button mat-dialog-close class="btn btn-primary" type="button">{{ 'user.user-setting.close' | translate }}</button>
</div>
