<div class="dialog-container">
  <h2 mat-dialog-title>{{ 'Зміна паролю' }}</h2>
  <form [formGroup]="formConfig">
    <div class="input">
      <mat-form-field [style.width.px]="200" class="forms-inputs">
        <mat-label>{{ 'введіть старий пароль' }}</mat-label>
        <input matInput type="password" formControlName="currentPassword" />
      </mat-form-field>
    </div>

    <div class="input">
      <mat-form-field [style.width.px]="200" class="forms-inputs">
        <mat-label>{{ 'введіть новий пароль' }}</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>

    <div class="input">
      <mat-form-field [style.width.px]="200" class="forms-inputs">
        <mat-label>{{ 'повторіть новий пароль' }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
      <mat-error *ngIf="formConfig.errors?.notSame">
        {{ 'Паролі не співпадають!' }}
      </mat-error>
    </div>
  </form>
  <div class="action-btns">
    <mat-dialog-actions align="end">
      <button class="btn btn-outline-success" mat-dialog-close>{{ 'Скасувати' }}</button>
      <button class="btn btn-success" mat-dialog-close [disabled]="formConfig.invalid" cdkFocusInitial (click)="onSubmit()">
        {{ 'Змінити пароль' }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
