.dialog-container {
  padding: 20px;
  font-family: var(--primary-font);

  .input {
    margin: 10px;
  }

  input {
    width: 250px;
  }

  button {
    margin: 5px;
    font-family: var(--secondary-font);
  }

  .action-btns {
    margin: 10px;
  }
}
