.dialog-container {
  padding: 20px;
  font-family: var(--primary-font);

  .input {
    margin: 10px;

    .forms-inputs {
      width: 200px;
    }
  }

  input {
    width: 250px;
  }

  button {
    margin: 5px;
    font-family: var(--secondary-font);
  }

  button:disabled {
    background-color: var(--ubs-primary-grey);
    border: 1px solid var(--ubs-primary-grey);
    color: var(--ubs-primary-white);
  }

  .action-btns {
    margin: 10px;
  }
}
