<div class="wrapper">
  <span>Filter by</span>
  <ul class="ul-eco-buttons">

    <a href="#/news" *ngFor="let filter of filters; index as i">

      <li (click)="selectFilter(filter)"
          [ngClass]="{
            'ul-eco-buttons-li': !styleGrid[filter],
            'clicked-filter-button': styleGrid[filter]
          }">{{ filter }}

        <div (click)="deselectFilter(filter, $event)"
             [ngClass]="{ closeNone: !styleGrid[filter],
                          close: styleGrid[filter] }">
        </div>
      </li>

    </a>
  
  </ul>
</div>
