@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$cartGreen: #13aa57;

.action-wrp {
  display: flex;
  justify-content: space-between;
}

button {
  height: 48px;
  word-break: break-word;
}

.secondary-global-button {
  background: transparent;
}

.habit-wrp {
  width: 100%;
  background: #f5f6f6;
  border-radius: 8px;
  padding: 30px;
  height: 640px;

  .habit__container {
    display: grid;
    grid-template-rows: 20px auto 246px 48px;
    row-gap: 5px;
    height: 100%;
  }
}

.habit__header {
  display: flex;
  justify-content: space-between;
}

.habit__picture {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
}

.habit__action-wrp {
  display: grid;
  grid-template-columns: auto 56.36%;
  column-gap: 20px;

  button {
    width: 100%;
  }
}

.calendar {
  text-transform: uppercase;
  font-size: 14px;
  color: $cartGreen;

  .calendar__icon {
    margin-right: 15px;
  }
}

.habit__info {
  display: grid;
  grid-template-rows: 20px auto 100px 20px;
  padding-bottom: 30px;

  p {
    margin: 0;
  }

  .tags {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $cartGreen;
    text-transform: uppercase;
  }

  .title h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #494a49;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #494a49;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .aquired {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #bebebe;
  }
}

@media (min-width: 1200px) {
  .habit__picture {
    img {
      width: 90%;
    }
  }
}
