<div class="row">
  <div class="col-12">
    <div style="display: block !important; margin-top: 17px">
      <div *ngIf="hasStatistic; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="open-sans">
          <h2 class="open-sans">{{ 'user.habit.user-log.calendar-habit' | translate }}</h2>
          <p class="open-sans">
            {{ 'user.habit.user-log.today' | translate }} {{ countDay() }}
            {{ 'user.habit.user-log.day-of-the-month' | translate }}
            <a *ngIf="$differenceUnTakenItemsWithPreviousDayBag > 0">{{ 'user.habit.user-log.more-on' | translate }}</a>
            <a *ngIf="$differenceUnTakenItemsWithPreviousDayBag < 0">{{ 'user.habit.user-log.less-than' | translate }}</a>
            {{ checkCountForMonth($differenceUnTakenItemsWithPreviousDayBag) }}
            {{ 'user.habit.user-log.package' | translate }}
            {{ 'user.habit.user-log.and' | translate }}
            <a *ngIf="$differenceUnTakenItemsWithPreviousDayCap > 0">{{ 'user.habit.user-log.more-on' | translate }}</a>
            <a *ngIf="$differenceUnTakenItemsWithPreviousDayCap < 0">{{ 'user.habit.user-log.less-than' | translate }}</a>
            {{ checkCountForMonth($differenceUnTakenItemsWithPreviousDayCap) }} {{ 'user.habit.user-log.glasses-than-past' | translate }}
          </p>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-lx-12">
              <div class="statistic">
                {{ 'user.habit.user-log.this-month' | translate }}
                <div class="images">
                  <img [src]="package" alt="package-image" />
                  <h4>
                    <span class="item-count">{{ $amountUnTakenItemsPerMonthBag }}</span>
                  </h4>
                </div>
                {{ 'user.habit.user-log.package' | translate }} {{ 'user.habit.user-log.and' | translate }}
                <div class="images">
                  <img [src]="coffee" alt="coffe-image" />
                  <h4>
                    <span class="item-count">{{ $amountUnTakenItemsPerMonthCap }}</span>
                  </h4>
                </div>
                {{ 'user.habit.user-log.glass' | translate }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div>
          <h2 class="open-sans">{{ 'user.habit.user-log.calendar-habit' | translate }}</h2>
          <p>{{ 'user.habit.user-log.not-have-habit' | translate }}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
