.filtering_layout {
  margin-top: 15px;
}

::ng-deep {
  .ng5-slider {
    margin-top: 50px;

    .ng5-slider-pointer {
      background-color: var(--primary-green) !important;
      outline: none;

      &.ng5-slider-active::after {
        background-color: var(--secondary-dark-green) !important;
      }
    }

    .ng5-slider-selection {
      background-color: var(--secondary-dark-green) !important;
    }
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--primary-green) !important;
  }

  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: var(--primary-green) !important;
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 0 15px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .is-open-label {
    margin: 0;
  }

  .is-open-checkbox {
    height: 16px;
    width: 16px;
  }
}

.apply-filter-btn {
  float: right;
  padding: 6px 18px;
  color: #fff;
  background-color: var(--primary-green);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: var(--secondary-dark-green);
  }
}

.validation {
  color: red;
}
