$mainColor: #13aa57;
$secondColor: #056b33;
$unActiveColor: #839c94;

.filtering_layout {
  margin-top: 15px;
}

::ng-deep {
  .ng5-slider {
    margin-top: 50px;

    .ng5-slider-pointer {
      background-color: $mainColor !important;
      outline: none;

      &.ng5-slider-active::after {
        background-color: $secondColor !important;
      }
    }

    .ng5-slider-selection {
      background-color: $secondColor !important;
    }
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $mainColor !important;
  }

  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: $mainColor !important;
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 0 15px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .is-open-label {
    margin: 0;
  }

  .is-open-checkbox {
    height: 16px;
    width: 16px;
  }
}

.apply-filter-btn {
  float: right;
  padding: 6px 18px;
  color: #fff;
  background-color: $mainColor;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: $secondColor;
  }
}

.validation {
  color: red;
}
