@media only screen and (min-width: 1366px) {
  p,
  div {
    margin: 0;
    padding: 0;
  }

  #list-gallery-content {
    width: 300px;
  }

  .ul-eco-buttons {
    opacity: 0.8;
    font-family: opensans, sans-serif;
    font-size: 15px;
    color: #313131;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #313131;
    border-radius: 53px;
    margin-right: 16px;
    margin-bottom: 5px;
  }

  .title-list {
    margin: 8px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #313131;
    line-height: 25px;

    a {
      color: #313131;

      .news-title {
        font-weight: 600;
      }
      
      p {
        overflow-wrap: break-word;
      }
    }

    a:hover {
      color: #079949;
      text-decoration: none;
    }
  }

  .list-text {
    margin: 8px 0 0 0;
    font-family: 'Open Sans', sans-serif;
  }

  .user-data-added-news {
    margin: 8px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  .user-data-text-date-share {
    margin-right: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666;
    mix-blend-mode: normal;
    opacity: 0.6;
    display: flex;
  }

  .icon {
    margin-right: 4px;
  }
}

@media only screen and (max-width: 1366px) {
  #list-gallery-content {
    width: 300px;
    padding-right: 20px;
  }

  .ul-eco-buttons {
    opacity: 0.8;
    font-family: opensans, sans-serif;
    font-size: 14px;
    color: #313131;
    display: inline-block;
    padding: 5px 16px;
    border: 1px solid #313131;
    border-radius: 53px;
    margin-right: 16px;
    margin-bottom: 5px;
  }

  .title-list {
    margin: 8px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #313131;
    line-height: 25px;
    max-width: 359px;

    a {
      color: #313131;

      p {
        overflow-wrap: break-word;
      }
    }

    a:hover {
      color: #056b33;
      text-decoration: none;
    }
  }

  .list-text {
    margin: 8px 0 0 0;
    font-family: 'Open Sans', sans-serif;
  }

  .user-data-added-news {
    margin: 8px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  .user-data-text-date-share {
    margin-right: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #666;
    mix-blend-mode: normal;
    opacity: 0.6;
    display: flex;
  }

  .icon {
    align-items: center;
    margin-right: 4px;
  }
}

@media only screen and (max-width: 1024px) {
  .title-list {
    max-width: 464px;
  }
}

@media only screen and (max-width: 768px) {
  .title-list {
    max-width: 352px;
  }
}

@media only screen and (max-width: 576px) {
  .title-list {
    max-width: 258px;
  }
}

@media only screen and (max-width: 320px) {
  .title-list {
    max-width: 288px;
  }
}
