@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.friend-requests-container {
  .requests-box {
    display: flex;
    align-items: center;
    justify-content: center;

    .request-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      row-gap: 14px;
      column-gap: 32px;

      @media (max-width: 1200px) {
        row-gap: 32px;
        column-gap: 32px;
      }

      @media (max-width: 1000px) {
        justify-content: center;
        column-gap: 0;
      }

      @media (max-width: 320px) {
        row-gap: 20px;
      }

      .user-card {
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}

.noRequests-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .noRequests {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 48px;
  }
}
