<span class="not-found-text">
 {{ "search.search-not-found.not-found-text" | translate:{ searchQuery: inputValue } }}
</span>
<span class = "choose-alternative">
  {{ "search.search-not-found.choose-alternative" | translate }}
</span>
<div class="flex-container">
  <a [routerLink]="['/news']"
     (click)="emitClose()">
    <div class="alternative-news">
      <img class="alternative-image"
           src="assets/img/a_img.png"
           alt="news-image">
      <h2 class="alternative-header">{{ "search.search-not-found.alternative-header-news" | translate }}</h2>
      <span class="alternative-description">
        {{ "search.search-not-found.alternative-description-news" | translate }}
      </span>
    </div>
  </a>
  <a [routerLink]="['/welcome']"
     pageScroll
     href="#tips"
     [pageScrollDuration]="500"
     (click)="emitClose()">
    <div class="alternative-tips">
      <img class="alternative-image"
           src="assets/img/a_img.png"
           alt="tips-image">
      <h2 class="alternative-header">{{ "search.search-not-found.alternative-header-tips" | translate }}</h2>
      <span class="alternative-description">
        {{ "search.search-not-found.alternative-description-tips" | translate }}
      </span>
    </div>
  </a>
</div>

