@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.not-found-text {
  display: inline-block;
  width: 22.5rem;
  padding-right: 3rem;
  height: 85px;
  left: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 28px;
  color: #313131;
  margin-right: 1.8rem;
}

.choose-alternative {
  display: inline-block;
  position: relative;
  top: -85px;
  left: 25.6rem;
  width: 47rem;
  height: 25px;
  font-family: opensans, sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: #313131;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  width: 43rem;
  height: 340px;
  position: relative;
  float: right;

  a:hover {
    text-decoration: none;
  }

  .alternative-image {
    border-radius: 5px;
    max-width: 100%;
  }

  .alternative-header {
    margin-top: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 28px;
    color: #13aa57;
  }

  .alternative-description {
    font-family: opensans, sans-serif;
    font-size: 1rem;
    line-height: 24px;
    color: #313131;
  }

  .alternative-news {
    width: 21rem;
    padding: 1rem;
  }

  .alternative-tips {
    width: 21rem;
    padding: 1rem;
  }

  .alternative-news:hover,
  .alternative-tips:hover {
    background: #fff;
    box-shadow: 0 0.25rem 2rem #e6ebea;
    border-radius: 0.25rem;
    cursor: pointer;
  }
}

@media (max-width: 797px) {
  .flex-container {
    width: 300px;
    margin-top: 30px;
    flex-direction: column;
    height: 650px;

    .alternative-news,
    .alternative-tips {
      padding: 2rem;
    }
  }
}
