.navbar {
  background-color: rgba(239, 237, 241);
  height: 40px !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2001;
}

.navbar a {
  color: #000;
}

.sign-btn {
  display: block;
  float: right;
}
