<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <div class="navbar-collapse collapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">GreenCity</a>
      </li>
    </ul>

  </div>

  <div class="navbar-collapse collapse">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">


      <li class="nav-item">
         <button (click)="openModal('custom-_modal-1')" type="button" class="btn btn-dark"		
                 *ngIf="userRole === 'ROLE_ADMIN' || userRole === 'ROLE_MODERATOR' || userRole === 'ROLE_USER'">
          Add cafe
        </button>
      </li>

        <div *ngIf="firstName!=null">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">{{firstName}}</a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"
               *ngIf="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_MODERATOR'"
               href="/admin">Admin</a>
            <a class="dropdown-item" (click)="signOut()">Sign-out</a>
          </div>

        </div>

      <a *ngIf="firstName==null" class="nav-link" routerLink="/auth/">Sing in</a>

    </ul>

  </div>

</nav>
<ng-flash-message></ng-flash-message>

<!-- Modal Window-->
<app-modal id="custom-_modal-1">
 <app-propose-cafe></app-propose-cafe>
</app-modal>

