.top-bar {
  background-color: rgba(239, 237, 241);
  height: 40px !important;
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2001;
}

.top-bar-wrapper {
  display: flex;
  float: right;
  margin: 0 10% 0 auto;
}

.top-bar-wrapper #language-switcher {
  margin-left: 38px;
  outline: none;
}

.top-bar-wrapper span,
.top-bar-wrapper a,
.top-bar-wrapper #language-switcher,
.top-bar-wrapper #language-switcher option {
  font-family: 'Open Sans';
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
}

.top-bar-wrapper span {
  color: #000;
}

.top-bar-wrapper a {
  color: #13aa57;
  text-decoration: none;
}

.top-bar-wrapper #language-switcher {
  background-color: transparent;
  border: none;
}

.sign-btn {
  display: block;
  float: right;
}

@media screen and (max-width: 1024px) {
  .top-bar-wrapper {
    margin-right: 20px;
  }

  #text-before,
  #text-within {
    display: none;
  }
}

@media screen and (max-width: 452px) {
  #text-after {
    display: none;
  }
}
