.navbar {
  background-color: rgba(131, 156, 148, 0.05);
  height: 40px !important;
}

p{
  width: 100%;
  height: 40px;
  text-align: right;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: auto;
  margin-bottom: auto;
  margin-left:5%;
}

.navbar a {
  color: #13aa57;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.registerbtn {
  background-color: #13aa57;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: transparent;
}

.select {
  position: relative;
  width: 3.3em;
  height: 40px;
  background: transparent;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}

select {
  flex: 1;
  cursor: pointer;
  font-weight: 600;
}

.select::after {
  content: '\25BC';
  color:#13aa57;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
}

.avatar{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  position: relative;
  left: 40px;
  cursor: pointer;
}

.notifications{
  position: relative;
  left: 25px;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f2f3;
  width: 60px;
  margin: 0 auto;
  left: 20px;
  top: 25px;
  z-index: 1;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor:pointer;
}

@media screen and (max-width: 768px) {

  p{
    width: 50%;
    height: 40px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }

  .select {
    width: 2.7em;
    height: 40px;
    background: transparent;
    overflow: hidden;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
  }

  .p-content{
    display: none;
  }

  .select {
    width: 3.4em;
  }

  .avatar{
    top: -8px;
  }

}

@media screen and (max-width: 440px) {

  p{
    width: 50%;
    height: 40px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }

  .select {
    width: 2.7em;
    height: 40px;
    background: transparent;
    overflow: hidden;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
  }

  .p-content{
    display: none;
  }

  .p-content-two{
    display: none;
  }

  .p-content-three{
    display: none;
  }

  .avatar{
    position: relative;
    top: -8px;
    left: 40px;
  }

  .notifications{
    position: relative;
    top: -20px;
    left: 230px;
  }

}
