<nav class="navbar navbar-expand-md navbar-dark">

  <p *ngIf="!isLoggedIn; else elseBlock"><span class="p-content">{{'nav-bar.hi!-it\'s-an-eco-habit-tracker.' | translate}}</span>
    <a href=""> {{'nav-bar.sign-up' | translate}}</a> <span class="p-content-two"> {{'nav-bar.to-create-your-own' | translate}} </span>
    {{'nav-bar.or' | translate}} <a routerLink="auth">{{'nav-bar.sign-in' | translate}}</a>
    <span class="p-content-three"> {{'nav-bar.if-you\'re-already-with-us' | translate}}</span></p>
  <ng-template #elseBlock>
    <p>{{'nav-bar.hi' | translate}} {{firstName}} {{'nav-bar.welcome-back' | translate}}
      <img class="notifications" [src]="notifications">
    <div class="dropdown">
      <span><img class="avatar" [src]="avatar" alt="sign-out"></span>
      <div class="dropdown-content">
        <a (click)="signOut() ">{{'nav-bar.sign-out' | translate}}</a>
      </div>
  </div>
  </ng-template>
    <p class="select">
      <select>
      <option value="1">Ua</option>
      <option value="2">En</option>
      <option value="2">Ru</option>
      </select>
    </p>

</nav>

<!-- Modal Window-->
<app-modal id="custom-_modal-1">
  <app-propose-cafe></app-propose-cafe>
</app-modal>
