.inner {
  padding: 35px 24px 24px 39px;
  font-family: var(--primary-font);

  .title {
    margin-bottom: 20px;
    color: var(--ubs-primary-grey);
  }

  .subtitles-box {
    display: flex;
    margin-bottom: 30px;
  }

  .items-box {
    display: flex;
    margin-bottom: 0;
  }

  .subtitle {
    width: 380px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    color: var(--ubs-primary-grey);
  }

  .second {
    margin-left: 65px;
  }

  .simpleList {
    width: 391px;
    padding-left: 20px;
    margin-bottom: 0;
  }

  li {
    font-size: 14px;
    line-height: 20px;
    color: var(--ubs-primary-grey);
  }

  .boxes {
    margin-bottom: 56px;
  }

  .numList {
    width: 391px;
    padding-left: 20px;
    margin-bottom: 0;
    margin-left: 50px;
  }

  .button {
    width: 126px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--ubs-button-light-green);
    border-radius: 4px;
    color: var(--ubs-quaternary-dark-grey);
  }
}
