<div class="inner">
  <h3 class="title">{{ 'extra-packages-pop-up.title' | translate }}</h3>
  <div class="boxes">
    <div class="subtitles-box">
      <p class="subtitle">
        {{ 'extra-packages-pop-up.subtitle-start' | translate }} <strong>{{ 'extra-packages-pop-up.free' | translate }}</strong>
        {{ 'extra-packages-pop-up.subtitle-end' | translate }}
      </p>
      <p class="subtitle second">
        {{ 'extra-packages-pop-up.subtitle-first' | translate }} <strong>{{ 'extra-packages-pop-up.unlimited' | translate }}</strong>
        {{ 'extra-packages-pop-up.subtitle-second' | translate }}
      </p>
    </div>
    <div class="items-box">
      <ul class="simpleList">
        <li>{{ 'extra-packages-pop-up.aluminum' | translate }}</li>
        <li>{{ 'extra-packages-pop-up.metal' | translate }}</li>
        <li>{{ 'extra-packages-pop-up.bottles' | translate }}</li>
        <li>{{ 'extra-packages-pop-up.cardboard' | translate }}</li>
        <li>{{ 'extra-packages-pop-up.polyfoam' | translate }}</li>
      </ul>
      <ol class="numList">
        <li>{{ 'extra-packages-pop-up.condition1' | translate }}</li>
        <li>{{ 'extra-packages-pop-up.condition2' | translate }}</li>
      </ol>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn button" (click)="closeModal()">{{ 'extra-packages-pop-up.button' | translate }}</button>
  </div>
</div>
