#filtering_layout {
  margin-top: 15px;
}

#filtering_layout {
  margin-top: 15px;
}

#apply_filter_btn {
  float: right;
}

.ng5-slider {
  margin-top: 50px;
}

.is_open_label {
  width: 100%;
  display: flex
}

#is_open_checkbox {
  margin-left: 30px;
  margin-top: 5px;
  float: right;
}

.validation {
  color: red;
}
