.active {
  color: green;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 40px;

  .title {
    padding-left: 40px;
  }

  .buttons {
    padding-top: 20px;

    button {
      padding: 12px 8px 12px 0;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 359px);
  grid-gap: 30px;
}

.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 299px);
    grid-gap: 15px;
  }

  .header-wrapper {
    max-width: 935px;

    .title {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 353px);
    grid-gap: 15px;
  }

  .header-wrapper {
    max-width: 768px;

    .title {
      padding-left: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 258px);
    grid-gap: 17px;
  }

  .header-wrapper {
    max-width: 570px;

    .title {
      padding-left: 30px;
    }
  }
}

@media screen and (max-width: 575px) {
  .galleryContainer {
    grid-template-columns: repeat(1, 288px);
    grid-gap: 25px;
  }

  .header-wrapper {
    .title {
      padding-left: 15px;
    }
  }
}
