<div class="wrapper">
        <div class="title">
            <h1 class="main-header">All habits</h1>
        </div>
    <div class="main-wrapper">
        <div class="buttons">
            <button class="btn btn-white" 
                    type="button" 
                    (click)="onDisplayModeChange(true)"
                    [ngClass]="{'active': galleryView}">
                <i class="fa fa-th"></i>
            </button>
            <button class="btn btn-white" 
                    type="button" 
                    (click)="onDisplayModeChange(false)"
                    [ngClass]="{'active': !galleryView}">
                <i class="fa fa-list"></i>
            </button>
        </div>
    </div>
    <div *ngIf="galleryView" 
        [ngClass]="{container: galleryView}">
        <app-habits-gallery-view *ngFor='let habit of habitsMockList' 
                                        [habit]="habit"
        ></app-habits-gallery-view>
    </div>
    <div class="" 
        *ngIf="!galleryView" 
        [ngClass]="{list: !galleryView}">
        <app-habits-list-view *ngFor='let habit of habitsMockList' 
                                    [habit]="habit"
        ></app-habits-list-view>
    </div>
</div>