h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.habits_header-buttons {
  display: none;
}

.border_bottom {
  border-bottom: 1px solid #e6e6e6;
}

.habits_header-wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
  margin-bottom: 3.125rem;

  .habits_header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    &:focus {
      box-shadow: none;
    }
  }
}

.galleryContainer {
  display: grid;
  grid-template-columns: 290px;
  grid-gap: 30px;
  justify-content: center;
}

.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 50%);
  }

  .container {
    padding: 0;
  }

  .habits_header-buttons {
    display: block;

    :nth-child(1) {
      margin-right: 8px;
    }
  }
}

@media (min-width: 992px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 299px);
  }
}

@media (min-width: 1200px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 359px);
  }
}
