#swiper-wrapper {
  height: 326px;
  max-width: 1920px;
  position: relative;
}

.swiper-container {
  position: absolute;
  max-width: 100%;
  height: 326px;
}

.swiper-slide {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  color: #000;
  height: 296px !important;
  margin: 0 12px;
  width: 460px !important;
}

.swiper-slide-active {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  color: #000;
  height: 296px;
  width: 460px !important;
}

#nav-row {
  margin-left: 247px;
  margin-top: 33px;
  margin-bottom: 143px;
}

.tips-navigation {
  box-shadow: 0 25px 25px 0 rgba(118, 196, 125, 0.32);
  height: 52px;
  width: 52px;
}

.tips-navigation:first-child {
  margin-right: 20px;
}

.arrow {
  font-weight: 300;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  #nav-row {
    margin-left: 75px;
  }
}

@media screen and (max-width: 425px) {
  #nav-row {
    margin: 20px auto 40px;
    width: fit-content;
  }
}