button {
  width: 8rem;
  height: 2.25rem;
  font-size: 14px;
}

p {
  font-size: 12px;
}

.add-certificate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  button {
    margin: 0;
  }

  input {
    font-size: 14px;
  }

  .input-border {
    max-width: 215px;
    margin-right: 16px;
    background: var(--ubs-primary-white);
    border: 1px solid var(--ubs-quintynary-light-grey);

    &:focus {
      border: 2px solid var(--ubs-button-light-green);
    }
  }

  .validMessages {
    width: 65%;
    margin: -1rem 0 1rem;
  }

  .eco-label {
    width: 100%;
    margin-bottom: 0;
    color: var(--ubs-secondary-grey);
    font-family: var(--ubs-quaternary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .form-group {
    padding: 0;
    margin: 0;
  }
}

.messages-container {
  width: 65%;
}

small.text-message.ng-star-inserted {
  width: 65%;
  margin: -1rem 0 1rem;
  color: var(--ubs-electric-violet) !important;
}

.primary-global-button {
  margin: 16px 0 0;
  width: 8rem;
}

.s-link {
  width: 180px;
}

.radio-btn {
  margin-left: -6px;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 4px;
  height: 16px;
  width: 16px;
  background-color: var(--ubs-primary-white);
  border-radius: 50%;
  border: 1px solid var(--ubs-quaternary-dark-grey);

  &::after {
    content: '';
    position: absolute;
    display: none;
  }
}

.points {
  font-family: var(--ubs-quaternary-font);
  margin-top: 3em;

  p {
    font-size: 14px;
  }

  .points-balance {
    display: flex;
    flex-flow: column wrap;
  }

  .bonus-how-to-link,
  small {
    font-size: 12px;
    color: var(--ubs-electric-violet);
  }
}

.custom-radio-btn {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover input ~ .checkmark {
    background-color: var(--ubs-primary-white);
  }

  & .checkmark::after {
    top: 14%;
    left: 15%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--ubs-quaternary-dark-grey);
  }

  & input:checked ~ .checkmark {
    background-color: var(--ubs-primary-white);

    &::after {
      display: block;
    }
  }
}

@media screen and (max-width: 575px) {
  .certificate-container,
  .add-certificate {
    flex-direction: column;
    width: 100%;

    .input-border {
      max-width: 240px;
    }

    .input-border {
      text-align: center;
      width: 240px;
      padding: 0.7rem 1.7rem;
      margin: 0;
    }
  }

  .s-link {
    text-align: center;
  }

  .s-btn {
    width: 240px;
  }
}
