<div [formGroup]="orderDetailsForm">
  <div
    class="addCertificate"
    formArrayName="formArrayCertificates"
    *ngFor="let certificate of formArrayCertificates.controls; let i = index"
  >
    <input
      type="text"
      class="shadow-none form-control col-12 col-sm-8 my-1 input-border"
      placeholder="xxxx-xxxx"
      [unmask]="false"
      [imask]="{ mask: certificateMask }"
      [formControlName]="i"
      [readonly]="certificates.activatedStatus[i]"
      (keydown.enter)="certificateSubmit(i)"
    />
    <div class="form-group">
      <button
        *ngIf="showActivateButton(i)"
        type="button"
        class="primary-global-button btn"
        [disabled]="
          formArrayCertificates['controls'][i].invalid ||
          formArrayCertificates['controls'][i].pristine ||
          !certificate.value.length ||
          showTotal < minOrderValue
        "
        (click)="certificateSubmit(i)"
      >
        {{ 'order-details.activate' | translate }}
      </button>
      <button
        [disabled]="cancelCertBtn"
        *ngIf="showCancelButton(i)"
        type="button"
        class="primary-global-button btn"
        (click)="deleteCertificate(i)"
      >
        {{ 'order-details.cancel' | translate }}
      </button>
    </div>
    <div class="validMessages">
      <small class="text-danger" *ngIf="certificate.invalid && certificate.touched && certificates.error[i]">
        {{ 'order-details.failed-certificate' | translate }}
      </small>
    </div>
    <div class="messages-container">
      <small class="text-danger" *ngIf="certificates.error[i]">
        {{ 'order-details.failed-certificate' | translate }}
      </small>
      <small class="text-danger" *ngIf="certificates.status[i] === 'USED' && certificates.failed[i]">
        {{ 'order-details.already-used' | translate: { certDate: certificates.dateOfUses[i] } }}
      </small>
      <small class="text-danger" *ngIf="certificates.status[i] === 'EXPIRED' && certificates.failed[i]">
        {{ 'order-details.expired' | translate: { certDate: certificates.expirationDates[i] } }}
      </small>
      <small
        class="text-message trueee"
        *ngIf="certificates.expirationDates[i] && certSize && certificateSum <= showTotal && !certificates.failed[i]"
      >
        {{ 'order-details.activated' | translate: { certificateSum: certificates.points[i], certDate: certificates.expirationDates[i] } }}
      </small>
      <small class="text-message" *ngIf="certSize && certificateSum > showTotal">
        {{
          'order-details.activated-oversum'
            | translate
              : {
                  certificateSum: certificateSum,
                  certDate: certificates.expirationDates[i],
                  certificateLeft: certificateSum - showTotal
                }
        }}
      </small>
      <small
        class="text-message wrong"
        *ngIf="
          certificates.expirationDates[i] &&
          (certificates.status[i] === 'NEW' || certificates.status[i] === 'ACTIVE') &&
          !certSize &&
          !certificates.failed[i]
        "
      >
        {{ 'order-details.activated' | translate: { certificateSum: certificateSum, certDate: certificates.expirationDates[i] } }}
      </small>
    </div>
  </div>

  <button
    type="button"
    *ngIf="addCert && finalSum > 0 && !certificates.failed[certificates.codes.length - 1]"
    class="addCertificateBtn"
    [hidden]="certificates.codes.length > 4"
    [disabled]="
      !disableAddCertificate() ||
      cancelCertBtn ||
      certificates.error[certificates.codes.length - 1] ||
      certificates.failed[certificates.codes.length - 1]
    "
    (click)="addNewCertificate()"
  >
    {{ 'order-details.add-certificate' | translate }}
  </button>

  <!--<button
    type="button"
    *ngIf="addCert && finalSum > 0 && !failed"
    class="addCertificateBtn"
    [hidden]="certificates.codes.length > 4"
    [disabled]="!disableAddCertificate() || cancelCertBtn || certificates.error[i] || failed"
    (click)="addNewCertificate()"
  >
    {{ 'order-details.add-certificate' | translate }}
  </button>-->

  <div class="points">
    <h5>{{ 'order-details.bonus-need' | translate }}</h5>
    <p>{{ 'order-details.bonus-left' | translate }} {{ defaultPoints | currency | localizedCurrency }}</p>
    <div class="radio-btn" *ngIf="defaultPoints !== 0 && showTotal !== 0" appSpacePrevent>
      <label class="custom-radio-btn"
        >{{ 'order-details.no' | translate }}
        <input formControlName="bonus" type="radio" value="no" tabindex="-1" (click)="resetPoints()" />
        <span class="checkmark" tabindex="0" (keyup)="selectPointsRadioBtn($event, 'no')"></span>
      </label>
      <label class="custom-radio-btn"
        >{{ 'order-details.yes' | translate }}
        <input formControlName="bonus" type="radio" value="yes" tabindex="-1" (click)="calculatePoints()" />
        <span class="checkmark" tabindex="0" (keyup)="selectPointsRadioBtn($event, 'yes')"></span>
      </label>
    </div>
    <div class="points-balance">
      <small class="text-message" [class.d-none]="pointsUsed === 0">
        <span>{{ 'order-details.used' | translate }} {{ pointsUsed | currency | localizedCurrency }}</span>
      </small>
      <small class="text-message" [class.d-none]="pointsUsed === 0">
        <span>{{ 'order-details.balance' | translate }} {{ points | currency | localizedCurrency }}</span>
      </small>
    </div>
  </div>
</div>
