<div *ngIf="orderBonusesForm" [formGroup]="orderBonusesForm">
  <div
    class="add-certificate"
    formArrayName="formArrayCertificates"
    *ngFor="let certificate of formArrayCertificates.controls; let i = index"
  >
    <label for="certificate" class="eco-label">{{ 'order-details.certificate-number' | translate }}</label>
    <input
      id="certificate"
      type="text"
      class="shadow-none form-control col-12 col-sm-8 my-1 input-border"
      placeholder="xxxx-xxxx"
      [unmask]="false"
      [imask]="{ mask: certificateMask }"
      [formControlName]="i"
      [readonly]="certificates[i]"
      (keydown.enter)="onActivateCertififcate(i)"
    />
    <div class="form-group">
      <button
        *ngIf="!certificates[i]"
        type="button"
        class="ubs-primary-global-button s-btn"
        [disabled]="isActivateCertificateDisabled(i)"
        (click)="onActivateCertififcate(i)"
      >
        {{ 'order-details.activate' | translate }}
      </button>
      <button *ngIf="certificates[i]" type="button" class="ubs-secondary-global-button s-btn" (click)="deleteCertificate(i)">
        {{ 'order-details.cancel' | translate }}
      </button>
    </div>
    <div class="validMessages"></div>
    <div class="messages-container">
      <small class="text-danger" *ngIf="certificates[i]?.isFailed()">
        {{ 'order-details.failed-certificate' | translate }}
      </small>
      <small class="text-danger" *ngIf="certificates[i]?.isUsed()">
        {{ 'order-details.already-used' | translate: { certDate: certificates[i].dateOfUse } }}
      </small>
      <small class="text-danger" *ngIf="isCertificateAlreadyEntered(i)">
        {{ 'order-details.already-used' | translate: { certDate: formArrayCertificates.controls[i].value } }}
      </small>
      <small class="text-danger" *ngIf="certificates[i]?.isExpired()">
        {{ 'order-details.expired' | translate: { certDate: certificates[i].expirationDate } }}
      </small>
      <small class="text-message" *ngIf="certificates[i]?.isValid() && (certificateSum <= orderSum || i !== certificates.length - 1)">
        {{ 'order-details.activated' | translate: { certificateSum: certificates[i].points, certDate: certificates[i].expirationDate } }}
      </small>
      <small class="text-message" *ngIf="certificates[i]?.isValid() && i === certificates.length - 1 && certificateSum > orderSum">
        {{
          'order-details.activated-oversum'
            | translate
              : {
                  certificateSum: certificates[i].points,
                  certDate: certificates[i].expirationDate,
                  certificateLeft: certificateSum - orderSum
                }
        }}
      </small>
    </div>
  </div>

  <button
    type="button"
    *ngIf="isCanAddCertificate()"
    class="ubs-link-global-button s-link"
    [hidden]="certificates.length > 4"
    (click)="addNewCertificate()"
  >
    {{ 'order-details.add-certificate' | translate }}
  </button>

  <div class="points">
    <h5>{{ 'order-details.bonus-need' | translate }}</h5>
    <p>{{ 'order-details.bonus-left' | translate }} {{ points | currency | localizedCurrency }}</p>
    <div class="radio-btn" *ngIf="points !== 0 && orderSum - certificateSum > 0" appSpacePrevent>
      <label class="custom-radio-btn">
        {{ 'order-details.no' | translate }}
        <input formControlName="bonus" type="radio" [value]="false" tabindex="-1" />
        <span class="checkmark" tabindex="0" (keyup)="selectPointsRadioBtn($event, false)"></span>
      </label>
      <label class="custom-radio-btn">
        {{ 'order-details.yes' | translate }}
        <input formControlName="bonus" type="radio" [value]="true" tabindex="-1" />
        <span class="checkmark" tabindex="0" (keyup)="selectPointsRadioBtn($event, true)"></span>
      </label>
    </div>
    <div class="points-balance">
      <small class="text-message" [class.d-none]="pointsUsed === 0">
        <span>{{ 'order-details.used' | translate }} {{ pointsUsed | currency | localizedCurrency }}</span>
      </small>
      <small class="text-message" [class.d-none]="pointsUsed === 0">
        <span>{{ 'order-details.balance' | translate }} {{ points - pointsUsed | currency | localizedCurrency }}</span>
      </small>
    </div>
  </div>
</div>
