.mat-radio-button {
  display: block;

  // &.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  //   border-color:rgb(66, 134, 244);
  // }
  // &.mat-accent .mat-radio-inner-circle{
  //   color:rgb(66, 134, 244);
  //   background-color:rgb(66, 134, 244) ;
  // }

  // &.mat-accent .mat-radio-ripple .mat-ripple-element {
  //     background-color:rgb(255, 37, 37,.26);
  // }
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1aaf5d !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: rgb(66, 134, 244);
  background-color: rgb(66, 134, 244);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgb(255, 37, 37, 0.26);
}

.btn {
  width: 140px;
  height: 48px;
  border-radius: 0;
}

.btn:nth-child(1) {
  margin: 0 24px 0 16px;
}

.btn:nth-child(2) {
  margin: 0 15px 0 0;
}

@media (max-width: 767px) {
  .secondary-global-button,
  .primary-global-button,
  .btn {
    width: 100px;
    font-size: 1rem;
  }
}
