<div class="w-100" *ngIf="isCreate">
  <p class="add-location-title">{{ 'ubs-tariffs-add-location-pop-up.create_card_title' | translate }}</p>
</div>
<div class="w-100" *ngIf="isEdit">
  <p class="add-location-title">{{ 'ubs-tariffs-add-location-pop-up.edit_card_title' | translate }}</p>
</div>
<app-dialog-tariff [row]="form" [newDate]="newDate" [name]="name" [edit]="true"></app-dialog-tariff>
<ng-template #form>
  <form [formGroup]="CardForm">
    <div class="d-flex first-row">
      <div class="form-group">
        <label>{{ 'ubs-tariffs.courier' | translate }}</label>
        <mat-select
          #courierSelect
          formControlName="courierName"
          class="form-control"
          placeholder="{{ 'ubs-tariffs.placeholder-choose-courier' | translate }}"
          (selectionChange)="onSelectCourier($event)"
        >
          <mat-option *ngFor="let option of couriersName" class="option-state" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="courierSelect.open()" />
      </div>
      <div class="english-part">
        <label>{{ 'ubs-tariffs.courier-translate' | translate }}</label>
        <p class="english-name">{{ currentCourierNameEng }}</p>
      </div>
    </div>
    <div [ngClass]="selectedStation.length ? 'd-flex' : 'd-flex first-row'">
      <div class="form-group">
        <label>{{ 'ubs-tariffs.station' | translate }}</label>
        <input
          formControlName="station"
          [ngClass]="{ 'form-control': true, onBlurSelectionPanel: blurOnOption }"
          [placeholder]="stationPlaceholder"
          [matAutocomplete]="autoStation"
          #autocompleteTriggerStation="matAutocompleteTrigger"
          (blur)="onBlur($event)"
        />
        <mat-autocomplete #autoStation="matAutocomplete" (optionSelected)="onSelectStation($event, autocompleteTriggerStation)">
          <mat-option *ngFor="let option of filteredStations" class="option-state" [value]="option">
            <mat-checkbox class="mr-1" [checked]="checkStation(option)"></mat-checkbox>
            <span class="checkbox-text">{{ option }}</span>
          </mat-option>
        </mat-autocomplete>

        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="openAuto($event, autocompleteTriggerStation, false)" />
      </div>
    </div>
    <div [ngClass]="selectedStation.length ? 'list' : 'dis-none'" class="list">
      <div *ngFor="let item of selectedStation; let index = index" class="d-flex">
        <div class="itemList">{{ item.name }}</div>
        <img [src]="icons.cross" class="delete-button-img" alt="edit-icon" (click)="deleteStation(index)" />
      </div>
    </div>
    <div class="d-flex first-row">
      <div class="form-group">
        <label>{{ 'ubs-tariffs.region' | translate }}</label>
        <mat-select
          #regionSelect
          formControlName="regionNameUk"
          class="form-control"
          placeholder="{{ 'ubs-tariffs.placeholder-choose-region' | translate }}"
          (selectionChange)="onRegionSelected($event)"
        >
          <mat-option *ngFor="let option of regions" class="option-state" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="regionSelect.open()" />
      </div>
      <div class="english-part">
        <label>{{ 'ubs-tariffs.region-translate' | translate }}</label>
        <p class="english-name">{{ regionEng }}</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group">
        <label>{{ 'ubs-tariffs.city' | translate }}</label>
        <input
          #autocompleteTriggerCity="matAutocompleteTrigger"
          formControlName="city"
          [placeholder]="cityPlaceholder"
          [matAutocomplete]="autoCity"
          [attr.disabled]="CardForm.controls['regionNameUk'].dirty ? null : true"
          [ngClass]="{ 'form-control': true, onBlurSelectionPanel: blurOnOption }"
          (blur)="onBlur($event)"
        />
        <mat-autocomplete #autoCity="matAutocomplete" (optionSelected)="selected($event, autocompleteTriggerCity)">
          <mat-option *ngFor="let item of filteredCities" [value]="item">
            <mat-checkbox class="mr-1" [checked]="checkCity(item.locationTranslationDtoList[0].locationName)"></mat-checkbox>
            <span class="checkbox-text">{{ item.locationTranslationDtoList[0].locationName }}</span>
          </mat-option>
        </mat-autocomplete>
        <img
          [src]="icons.arrowDown"
          class="arrowDown-img"
          alt="arrowDown"
          (click)="openAuto($event, autocompleteTriggerCity, city.disabled)"
        />
      </div>
      <div class="english-part">
        <label>{{ 'ubs-tariffs.city-translate' | translate }}</label>
        <p *ngIf="citySelected" class="english-name">{{ selectedCityLength + ' selected' }}</p>
      </div>
    </div>
    <div class="list">
      <div *ngFor="let item of selectedCities; let index = index" class="d-flex">
        <div class="itemList">{{ item.location }}</div>
        <img [src]="icons.cross" class="delete-button-img" alt="edit-icon" (click)="deleteCity(index)" />
        <div class="itemList">{{ item.englishLocation }}</div>
      </div>
    </div>
  </form>
  <div class="buttons-wrapper">
    <div class="d-flex buttons" mat-dialog-actions>
      <button class="secondary-global-button btn m-0 mr-2" mat-button (click)="onNoClick()">
        {{ 'ubs-tariffs-add-location-pop-up.cancel_button' | translate }}
      </button>
      <button class="primary-global-button btn m-0" [disabled]="CardForm.invalid" *ngIf="isCreate" (click)="createCard()">
        {{ 'ubs-tariffs-add-location-pop-up.create_button' | translate }}
      </button>
      <button class="primary-global-button btn m-0" [disabled]="CardForm.invalid" *ngIf="isEdit" (click)="editCard()">
        {{ 'ubs-tariffs-add-location-pop-up.edit_button' | translate }}
      </button>
    </div>
    <span *ngIf="isCardExist" class="validation-message">{{ 'ubs-tariffs.card-already-exist' | translate }}</span>
  </div>
</ng-template>
