@import '../ubs-admin-tariffs-location-pop-up/ubs-admin-tariffs-location-pop-up.component';

.english-part {
  width: 248px;

  label {
    font-family: var(--ubs-quaternary-font);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--ubs-secondary-grey);
    margin-bottom: 0;
  }
}

.form-group:first-child {
  margin-right: 56px;
}

.form-control {
  border: 1px solid var(--ubs-quintynary-light-grey);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--ubs-quintynary-light-grey);
}

.selected-items {
  display: flex;
  flex-direction: column;
}

input {
  margin: 0;
}

.list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 8px 0;
}

.dis-none {
  display: none;
}

.delete-button-img {
  margin: 0 30px;
}
