.app-modal {
  display: none;

  .app-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;

    .app-modal-body {
      padding: 20px;
      background: #fff;
      margin: 40px;
    }
  }

  .app-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }
}

body.app-modal-open {
  overflow: hidden;
}
