<div class="container">
  <div class="row justify-content-end close-icon"><mat-icon mat-dialog-close>close</mat-icon></div>
  <div class="row mb-4">
    <h3>{{ 'add-violation-modal.add-violation' | translate }}</h3>
  </div>
  <div class="row mb-3">
    <h6>{{ 'add-violation-modal.level-of-violation' | translate }}</h6>
  </div>
  <div class="row custom-control custom-radio mb-2">
    <input class="radio" name="radio" type="radio" />
    <label class="label-y">{{ 'add-violation-modal.easy-violation' | translate }}</label>
  </div>
  <div class="row custom-control custom-radio mb-3">
    <input class="radio" name="radio" type="radio" />
    <label class="label-p">{{ 'add-violation-modal.serious-violation' | translate }}</label>
  </div>
  <div class="row mb-3">
    <h6>{{ 'add-violation-modal.description' | translate }}</h6>
  </div>
  <div class="row mb-3">
    <textarea class="description" placeholder="{{ 'add-violation-modal.placeholder' | translate }}"></textarea>
  </div>
  <div class="row mb-1">
    <h6>{{ 'add-violation-modal.label-for-photo-container' | translate }}</h6>
  </div>
  <div class="row mb-3">
    <span class="requirement">{{ 'add-violation-modal.requirement' | translate }}</span>
  </div>
  <div class="row">
    <div class="image-container" appDrag (files)="filesDropped($event)" *ngFor="let img of images; index as i">
      <img class="image-preview" *ngIf="img.src" [src]="img.src" alt="image-of-violation" />
      <div class="delete-block">
        <div>{{ img.name }}</div>
        <div (click)="deleteImage(i)">X</div>
      </div>
      <p class="drag-inscription">{{ img.label }}</p>
    </div>
  </div>
  <div class="row error-message" *ngIf="isImageSizeError">
    <p>{{ 'add-violation-modal.error-message-for-size' | translate }}</p>
  </div>

  <div class="row error-message" *ngIf="isImageTypeError">
    <p>{{ 'add-violation-modal.error-message-for-type' | translate }}</p>
  </div>
  <div class="row mb-5 label-g">
    <label for="file-upload" class="custom-file-upload">{{ 'add-violation-modal.file-upload' | translate }}</label>
    <input id="file-upload" class="d-none" type="file" accept="image/png,image/jpeg" (change)="loadFile($event)" />
  </div>
  <div class="row justify-content-end mb-5">
    <button *ngIf="images[0]?.src" (click)="deleteAllImages()" class="delete-photo">
      <img src="assets/img/icon/bin.svg" alt="delete-icon" class="delete-icon" /> {{ 'add-violation-modal.delete-button' | translate }}
    </button>
    <button class="cancel-button" [mat-dialog-close]="true">{{ 'add-violation-modal.cancel-button' | translate }}</button>
    <button class="add-button">{{ 'add-violation-modal.add-button' | translate }}</button>
  </div>
  <div class="row">
    <p class="info">{{ 'add-violation-modal.date' | translate }} <span class="date">25.06.2021</span></p>
    <p class="info">{{ 'add-violation-modal.info-about-date' | translate }} <span class="user">Current User</span></p>
  </div>
</div>
