.container {
  font-family: var(--primary-font);
  overflow: auto;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

.close-icon {
  color: var(--quaternary-grey);
}

.custom-radio {
  font-size: 14px;
}

.radio {
  color: var(--ubs-primary-green);
  border: 1px solid var(--quaternary-grey);
}

.description {
  width: 100%;
  height: 141px;
  border: 1px solid var(--ubs-quintynary-light-grey);
  border-radius: 4px;
  color: var(--ubs-quintynary-light-grey);
  padding: 8px;
}

.requirement {
  font-weight: 400;
  font-size: 14px;
  color: var(--quaternary-grey);
}

label {
  padding: 4px 8px;
  border-radius: 8px;
}

.label-y {
  background-color: var(--attention-light-yellow);
  margin-left: 10px;
}

.label-p {
  background-color: var(--error-light-red);
  margin-left: 10px;
}

.label-g {
  color: var(--primary-green);
}

.cancel-button {
  color: var(--primary-green);
  border-radius: 4px;
  border: 1px solid var(--primary-light-green);
  background-color: #fff;
  padding: 8px 24px;
}

.add-button {
  color: #fff;
  background-color: var(--primary-light-green);
  border-radius: 4px;
  border: none;
  margin-left: 20px;
  padding: 8px 24px;
}

.info {
  color: var(--quaternary-grey);
  font-weight: normal;
  font-size: 12px;
}

.date {
  color: var(--ubs-quaternary-dark-grey);
  font-size: 14px;
  margin-right: 30px;
}

.user {
  color: var(--ubs-quaternary-dark-grey);
  font-size: 14px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.delete-block {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--ubs-quaternary-light-grey);
  opacity: 0.7;
  width: 158px;
  display: none;
  max-height: 45px;

  &:hover {
    display: flex;
    cursor: pointer;
  }

  div:nth-of-type(1) {
    width: calc(100% - 25px);
    overflow: hidden;
  }

  div:nth-of-type(2) {
    width: 15px;
  }
}

.image-preview {
  width: 158px;
  height: 104px;

  &:hover + .delete-block {
    display: flex;
  }
}

.image-container {
  position: relative;
  height: 105px;
  width: 158px;
  background: var(--ubs-secondary-white);
  border: 1px solid var(--ubs-primary-light-grey);
  box-sizing: border-box;
  margin: 1px;
}

.drag-inscription {
  font-size: 12px;
  color: var(--quaternary-grey);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.error-message {
  color: var(--ubs-primary-red);
  font-size: 14px;
  font-weight: 400;
}

.delete-photo {
  color: var(--error-red);
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #fff;
  margin-right: 25px;
}

.delete-icon {
  margin: -2px 10px 0 0;
}
