.container {
  font-family: var(--primary-font);
  overflow: auto;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

.custom-radio {
  font-size: 14px;
}

.radio {
  color: #13aa57;
  border: 1px solid #64727d;
}

.description {
  width: 100%;
  height: 141px;
  border: 1px solid #9ca7b0;
  border-radius: 4px;
  color: #9ca7b0;
  padding: 8px;
}

.requirement {
  font-weight: 400;
  font-size: 14px;
  color: #64727d;
}

label {
  padding: 4px 8px;
  border-radius: 8px;
}

.label-y {
  background-color: #fff4bf;
  margin-left: 10px;
}

.label-p {
  background-color: #fce0de;
  margin-left: 10px;
}

.label-g {
  color: #13aa57;
}

.cancel-button {
  color: #13aa57;
  border-radius: 4px;
  border: 1px solid #b3e6c9;
  background-color: white;
  padding: 8px 24px;
}

.add-button {
  color: white;
  background-color: #b3e6c9;
  border-radius: 4px;
  border: none;
  margin-left: 20px;
  padding: 8px 24px;
}

.info {
  color: #64727d;
  font-weight: normal;
  font-size: 12px;
}

.date {
  color: #1d2830;
  font-size: 14px;
  margin-right: 30px;
}

.user {
  color: #1d2830;
  font-size: 14px;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.image-preview {
  width: 158px;
  height: 104px;
  &:hover + .delete-block {
    display: flex;
  }
}

.image-container {
  position: relative;
  height: 105px;
  width: 158px;
  background: #f7f9fa;
  border: 1px solid #cacfd3;
  box-sizing: border-box;
  margin: 1px;
}

.delete-block {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background: #e3e6e8;
  opacity: 0.7;
  width: 158px;
  display: none;
  max-height: 45px;
  &:hover {
    display: flex;
    cursor: pointer;
  }
  div:nth-of-type(1) {
    width: calc(100% - 25px);
    overflow: hidden;
  }
  div:nth-of-type(2) {
    width: 15px;
  }
}

.drag-inscription {
  font-size: 12px;
  color: #64727d;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.error-message {
  color: #eb180d;
  font-size: 14px;
  font-weight: 400;
}

.delete-photo {
  color: #eb180d;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #fff;
}
