<mat-card class="example-card">
  <div clas="image-container">
    <div class="row">
      <div class="image-container" appDrag (files)="filesDropped($event)" *ngFor="let img of images; index as i">
        <img class="image-preview" *ngIf="img.src" [src]="img.src" alt="image-of-violation" />
        <div class="delete-block">
          <div>{{ img.name }}</div>
          <div (click)="deleteImage(i)">X</div>
        </div>
        <p *ngIf="img.isLabel" class="drag-inscription">{{ img.label }}</p>
      </div>
    </div>
  </div>

  <div class="row mb-5 label-g" [class.invisible]="false">
    <label for="file-upload"> add Image </label>
    <input
      #takeInput
      id="file-upload"
      class="d-none"
      [disabled]="false"
      type="file"
      accept="image/png,image/jpeg"
      (change)="loadFile($event)"
    />
  </div>
</mat-card>
