.example-card {
  margin-left: 15px;
  margin-top: 12px;
}

.images-container-wrapper {
  display: flex;
  flex-direction: row;
}

.image-container {
  position: relative;
  width: 101px;
  height: 64px;
  background: var(--primary-white) !important;
  border-radius: 4px;
  border: 1px solid var(--ubs-primary-light-grey);
  box-sizing: border-box;
  margin: 1px 1px 1px 1px;
}

.images-container-wrapper::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.images-container-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

.drag-inscription {
  font-size: 22px;
  color: var(--quaternary-grey);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  :hover {
    display: flex;
    cursor: pointer;
  }
}

.delete-block {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--ubs-quaternary-light-grey);
  opacity: 0.7;
  width: 100%;
  display: none;
  max-height: 45px;

  &:hover {
    display: flex;
    cursor: pointer;
  }

  div:nth-of-type(1) {
    width: calc(100% - 25px);
    overflow: hidden;
  }

  div:nth-of-type(2) {
    width: 15px;
  }
}

.image-preview {
  width: 108px;
  height: 64px;
  object-fit: contain;
  cursor: pointer;

  &:hover + .delete-block {
    display: flex;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  width: 555px;
}

.counter-wrapper {
  margin-right: 16px;
  margin-top: 5px;
  font-size: 10px;
}

.image-title {
  font-size: 12px;
  width: 100%;
  margin-bottom: 6px;
}

.use-pics {
  position: relative;
  right: 15px;
  font-size: 12px;
  margin-bottom: 8px;
}

@media (max-width: 1199px) {
  .images-container-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    height: 75px;
    width: 428px;
  }

  .image-container {
    margin: 1px 5px 1px 1px;
  }
}

@media (max-width: 1023px) {
  .images-container-wrapper {
    width: 672px;
    height: 80px;
  }

  .image-container {
    width: 110px;
    height: 67px;
    margin-right: 20px;
  }

  .title-wrapper {
    width: 672px;
  }

  .counter-wrapper {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .images-container-wrapper {
    width: 486px;
  }

  .image-container {
    width: 108px;
    height: 64px;
    margin-right: 12.5px;
    margin-bottom: 5px;
  }

  .title-wrapper {
    width: 492px;
  }
}

@media (max-width: 767px) {
  .images-container-wrapper {
    width: 486px;
  }

  .image-container {
    width: 108px;
    height: 64px;
    margin-right: 12.5px;
    margin-bottom: 5px;
  }

  .title-wrapper {
    width: 492px;
  }
}

@media (max-width: 575px) {
  .row,
  .images-row {
    width: 100%;
  }

  .horizontal {
    width: 90%;
  }

  .example-card {
    margin: 32px 0px 0px 0px;
    position: relative;
    left: 16px;
  }
}
