<div class="example-card">
  <div clas="image-container">
    <div class="row">
      <div class="title-wrapper">
        <mat-label>{{ 'create-event.picture' | translate }}</mat-label>
        <mat-label>{{ imageCount }}{{ 'create-event.picture-length' | translate }}</mat-label>
      </div>
      <mat-label class="image-title">{{ 'create-event.picture-title' | translate }}</mat-label>
      <div class="image-container" appDrag (files)="filesDropped($event)" *ngFor="let img of images; index as i">
        <img class="image-preview" *ngIf="img.src" [src]="img.src" alt="image-of-event" />
        <div class="delete-block">
          <div>{{ img.name }}</div>
          <div (click)="deleteImage(i)">{{ 'create-event.picture-delete' | translate }}</div>
        </div>

        <div *ngIf="img.isLabel" class="drag-inscription">
          <label for="file-upload">
            {{ img.label }}
          </label>
          <input
            #takeInput
            id="file-upload"
            class="d-none"
            [disabled]="false"
            type="file"
            accept="image/png,image/jpeg"
            (change)="loadFile($event)"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="image-container" *ngFor="let img of defImgs; index as i">
        <img class="image-preview" [src]="img" alt="image-of-event" />
      </div>
    </div>
  </div>
</div>
