.flex-container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.app-create-news {
  top: -10px;
}

.wrapper {
  margin: 12.5px 0;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding-left: 0;
}

.gallery-view-active {
  display: grid;
  grid-template-columns: auto auto auto;
}

.gallery-view-li-active {
  margin: 0 32px 40px 0;
}

.list-view-li-active {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

#create-button{
  max-width: 185px;
  padding: 8px 40px;
  border: 1px solid #13AA57;
  box-sizing: border-box;
  border-radius: 3px;
}

#create-button:hover {
  border: 1px solid #056B33;
}

#create-button:hover span {
  color: #056B33;
}

#create-button-text{
  color: #13AA57;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
}