.flex-container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.app-create-news {
  top: -10px;
}

.wrapper {
  margin: 12.5px 0;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding-left: 0;
}

.gallery-view-active {
  column-count: 3;
}

.gallery-view-li-active {
  margin: 0 32px 40px 0;
  break-inside: avoid;
}

.list-view-li-active {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

#create-button{
  width: 185px;
  min-height: 40px;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-button span{
  display: block;
}
