:host {
  text-align: right !important;
}

.tracker-date-text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: #839c94;
}

@media screen and (max-width: 768px) {
  :host {
    text-align: left !important;
  }
}
