<div class="wrapper">
  <span class="filter">{{ header | translate }}</span>
  <div class="ul-eco-buttons" aria-label="filter by items">
    <button *ngFor="let filter of filters" class="tag-list" (click)="toggleFilter(filter.name)">
      <a
        role="button"
        [attr.aria-pressed]="filter.isActive"
        class="custom-chip global-tag"
        [ngClass]="{ 'global-tag-clicked': filter.isActive }"
      >
        <span class="text">{{ localStorageService.getCurrentLanguage() === 'en' ? filter.name : filter.nameUa }}</span>
        <div [ngClass]="{ 'global-tag-close-icon': filter.isActive }"></div>
      </a>
    </button>
  </div>
</div>
