.wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 15px;
  align-items: center;

  .filter {
    display: inline-block;
    margin-top: -10px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: var(--secondary-dark-grey);
    height: 28px;
    min-width: 75px;
  }

  .text {
    line-height: 20px;
    font-size: 14px;
  }
}

.ul-eco-buttons {
  display: flex;
  padding: 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  min-height: 42px;

  .tag-button {
    border: 0;
    padding: 0;
    background: none;

    .global-tag-clicked {
      color: var(--primary-white);
    }

    &:active {
      outline: none;
    }

    &:hover .global-tag,
    &:focus .global-tag {
      color: var(--primary-green);
      border: 1px solid var(--primary-green);
    }

    &:hover .global-tag-clicked {
      color: var(--primary-white);
      border: none;
    }
  }
}

@media (min-width: 576px) {
  .wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    row-gap: 0;
    column-gap: 24px;
  }
}
