<div class="wrapper">
  <span tabindex="0">{{ header | translate }}</span>
  <ul class="ul-eco-buttons" aria-label="filter by items">
    <li *ngFor="let filter of filters">
      <a
        (click)="toggleFilter(filter.name)"
        class="custom-chip global-tag"
        [ngClass]="{ 'global-tag-clicked': filter.isActive }"
        tabindex="0"
      >
        {{ filter.name | translate }}
        <div [ngClass]="{ 'global-tag-close-icon': filter.isActive }"></div>
      </a>
    </li>
  </ul>
</div>
