<div class="wrapper">
  <span class="filter" tabindex="-1">{{ header | translate }}</span>
  <ul class="ul-eco-buttons" aria-label="filter by items">
    <li *ngFor="let filter of filters">
      <a
        role="button"
        [attr.aria-pressed]="filter.isActive"
        (click)="toggleFilter(filter.name)"
        class="custom-chip global-tag"
        [ngClass]="{ 'global-tag-clicked': filter.isActive }"
        tabindex="0"
      >
        <span class="text">{{ localStorageService.getCurrentLanguage() === 'en' ? filter.name : filter.nameUa }}</span>
        <div [ngClass]="{ 'global-tag-close-icon': filter.isActive }"></div>
      </a>
    </li>
  </ul>
</div>
