.calendar-week {
  width: 100%;
  height: 130px;
  background: var(--secondary-light-grey);
  border-radius: 4px;
  margin-top: 26px;
  padding: 16px 12px 12px;
  font-family: var(--secondary-font);

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--primary-dark-grey);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0 8px;
      border: none;
      background: none;
    }

    button:first-child {
      margin-left: 10px;
    }

    button:last-child {
      margin-right: 10px;
    }
  }

  .body {
    .day-name-row {
      font-weight: 600;
      font-size: 11px;
      line-height: 14px;
      color: var(--tertiary-light-grey);
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;

      .day-name {
        width: 52px;
        text-align: center;
      }

      .current-name {
        color: var(--primary-green);
      }
    }

    .day-number-row {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: var(--primary-dark-grey);
      display: flex;
      justify-content: space-between;

      .day-number {
        width: 52px;
        height: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .done {
        background-color: rgba(19, 170, 87, 0.15);
      }

      .undone {
        background-color: var(--quaternary-light-grey);
      }

      .current-number {
        color: white;
        background-color: var(--primary-green);
      }
    }
  }
}
