.calendar {
  width: 483px;
  max-height: 130px;
  background: var(--secondary-light-grey);
  border-radius: 4px;

  .top {
    .month-year {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin: 0 20px;

      .arrow-previous {
        margin-top: 22px;
        margin-left: 18px;
        margin-bottom: 16px;
        cursor: pointer;
      }

      .monthAndYear {
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        font-family: var(--secondary-font);
        color: var(--primary-dark-grey);
      }

      .arrow-next {
        margin-top: 22px;
        margin-right: 18px;
        margin-bottom: 16px;
        cursor: pointer;
      }
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 66.6px);
      text-align: center;
      margin: 0 10px 0 10px;
      font-size: 11px;

      .days-name {
        margin: 0;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        color: var(--tertiary-light-grey);
      }

      .current-day-name {
        color: var(--primary-green);
      }
    }
  }

  .middle {
    margin-top: 14px;

    .calendar-grid-week-view {
      display: grid;
      grid-template-columns: repeat(7, 66.6px);
      text-align: center;
      margin: 0 10px 0 10px;
      color: var(--primary-dark-grey);
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }

    .day {
      padding: 12px 10px;
      margin: 0 8px;

      &:hover {
        background-color: #d3ebde;
        border-radius: 4px;
      }
    }
  }
}

.current-day {
  background-color: var(--primary-green);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
