.wrapper {
    display: flex;
    width: 37px;
    height: 16px;
    justify-content: space-between;
}

.gallery-view {
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-squares, .bottom-squares {
    display: flex;
    justify-content: space-between;
}

.list-view {
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-view:hover .one-line, .gallery-view:hover .one-square{
    background: #056B33;
}

.list-view:active .one-line, .gallery-view:active .one-square{
    background: #13AA57;
}

.list-view-active .one-line, .gallery-view-active .one-square{
    background: #13AA57;
}

.one-line {
    width: 16px;
    height: 4px;
    background: #878787;
}

.one-square {
    width: 7px;
    height: 7px;
    background: #878787;

}