<nav class="lower-navbar">
  <div class="navbar-wrapper">
    <a routerLink="/welcome" pageScroll href="#header">
      <img [src]="logo" id="green-city-logo" alt="green-city-logo" />
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"
      ><span class="navicon"></span
    ></label>
    <ul class="menu">
      <li>
        <a [routerLink]="['/welcome']"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }"
           pageScroll
           href="#header">
          {{ 'user.lower-nav-bar.home' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['/news']"
           pageScroll
           href="#events"
           [pageScrollDuration]="500">
          {{ 'user.lower-nav-bar.eco-events' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['/welcome']"
           pageScroll
           href="#tips"
           [pageScrollDuration]="500">
          {{ 'user.lower-nav-bar.tips' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['/map']"
           pageScroll
           href="#top-user-bar"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">
          {{ 'user.lower-nav-bar.map' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="[getUserId(), 'habits']"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">
          {{ 'user.lower-nav-bar.my-habits' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['/about']">
          {{ 'user.lower-nav-bar.about-us' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
