@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic');

.active-link {
  color: #13aa57 !important;
}

img {
  display: inline-block;
  height: auto;
  margin-left: 20px;
  width: 102px;
  float: left;
}

.lower-navbar {
  background-color: #fff;
  box-shadow: 0 -18px 52px 30px #f4f5f7;
  height: 82px;
  position: fixed;
  margin: 0 auto;
  top: 41px;
  width: 100%;
}

.lower-navbar .navbar-wrapper {
  height: fit-content;
  margin: 10px auto 0;
  width: 100%;
}

.lower-navbar ul {
  background-color: rgb(239, 237, 241);
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.lower-navbar li a {
  display: block;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}

/* menu */

.lower-navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.lower-navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.lower-navbar .menu-icon .navicon {
  background: #13aa57;
  border-radius: 2px;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 28px;
}

.lower-navbar .menu-icon .navicon:before,
.lower-navbar .menu-icon .navicon:after {
  background: #13aa57;
  border-radius: 2px;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.lower-navbar .menu-icon .navicon:before {
  top: 10px;
}

.lower-navbar .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.lower-navbar .menu-btn {
  display: none;
}

.lower-navbar .menu-btn:checked ~ .menu {
  max-height: 372px;
}

.lower-navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.lower-navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.lower-navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.lower-navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.lower-navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1600px) {
  .lower-navbar .navbar-wrapper {
    width: 50% !important;
  }
}

@media (min-width: 1440px) {
  .lower-navbar .navbar-wrapper {
    width: 60% !important;
  }
}

@media (min-width: 1024px) {
  .lower-navbar .navbar-wrapper {
    width: 86% !important;
  }
  .lower-navbar li {
    float: left;
  }
  .lower-navbar ul {
    background-color: #fff;
  }
  .lower-navbar li a {
    padding: 20px 24px;
  }
  .lower-navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .lower-navbar .menu-icon {
    display: none;
  }
}
