@import 'src/typography/_resp.scss';

:host {
  display: block;
}

.price-section {
  background-color: var(--ubs-main-page-secondary-light-grey);

  h2 {
    padding: 0 0 80px;
  }

  .box-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    #price-frame {
      height: 100%;
      width: 30%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--ubs-primary-white);
      border: 1px solid var(--ubs-quaternary-dark-green);
      border-radius: 7px;

      .content-price {
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        height: 135px;
        width: 84%;
        padding: 0 34px;
        display: flex;
        align-items: center;
      }

      .header-price {
        width: 100%;
        height: 129px;
        display: flex;
        flex-direction: column;
        background: var(--ubs-quaternary-dark-green);
        border: 1px solid var(--ubs-quaternary-dark-green);
        color: var(--ubs-primary-white);
        border-radius: 7px;
        text-align: center;
        justify-content: center;

        .price {
          font-size: 35px;
          font-weight: 600;
        }
      }
    }
  }

  .location-to-show-bags-wrapper {
    margin-top: 10px;

    & > * {
      max-width: 532px;
      width: 100%;
    }
  }

  ::ng-deep {
    .mat-mdc-form-field-label {
      font-size: 14px;
      margin-top: 30px;

      @include responsivePCFirst(md) {
        font-size: 10px;
        margin-top: 20px;
      }
    }

    .mdc-text-field--filled {
      background-color: transparent;
    }

    .mat-mdc-form-field-infix {
      display: flex;
      min-width: 500px;
      width: fit-content;
      border-top: 0;
      padding: 10px 0;

      @include responsivePCFirst(sm) {
        min-width: 320px;
        font-size: 20px;
      }
    }
  }

  .location-to-show {
    display: block;
    border: none;
    font-size: 28px;
    font-family: var(--ubs-secondary-font);
    text-overflow: ellipsis;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    @include responsivePCFirst(md) {
      font-size: 17px;
    }
  }

  .arrowDownImg {
    cursor: pointer;
  }
}
