<section>
  <div class="price-section">
    <h2>
      {{ 'ubs-homepage.ubs-courier.price.caption' | translate }}

      <div class="location-to-show-bags-wrapper">
        <mat-form-field>
          <input
            matInput
            type="text"
            [ngModel]="languageService.getLangValue(locationToShow?.nameUk, locationToShow?.nameEn)"
            class="location-to-show"
            [matAutocomplete]="auto"
            #autocompleteTrigger="matAutocompleteTrigger"
            (click)="openAuto($event, autocompleteTrigger)"
            readonly
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let location of locationsToShowBags"
              [value]="languageService.getLangValue(location?.nameUk, location?.nameEn)"
              (click)="onLocationSelected(location.locationId)"
              [appLangValue]="{ uk: location.nameUk, en: location.nameEn }"
            >
            </mat-option>
          </mat-autocomplete>
          <img
            alt="arrowDown"
            class="arrowDownImg"
            src="./assets/img/ubs-tariff/arrow-down.svg"
            (click)="openAuto($event, autocompleteTrigger)"
          />
          <mat-label>{{ 'ubs-homepage.ubs-courier.price.choose-location' | translate }}</mat-label>
        </mat-form-field>
      </div>
    </h2>
    <div *ngIf="!isTarriffLoading; else spinner" class="box-card">
      <div id="price-frame" *ngFor="let elemPrice of bags">
        <div class="content-price">
          <div>{{ getElementDescription(elemPrice.nameUk, elemPrice.nameEn, elemPrice.capacity) }}</div>
        </div>
        <div class="header-price">
          <div class="price" [appLangValue]="{ uk: elemPrice.price.toString() + ' грн', en: elemPrice.price.toString() + ' UAH' }"></div>
          <div>{{ perPackageTitle | translate }}</div>
        </div>
      </div>
    </div>
    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</section>
