@import 'src/typography/_resp.scss';

:host {
  display: block;
}

.price-section {
  background-color: var(--ubs-main-page-secondary-light-grey);
  margin: 0;
  padding: 110px 33px;

  h2 {
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: var(--ubs-primary-black);
  }

  .box-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    #price-frame {
      height: 100%;
      width: 30%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--ubs-primary-white);
      border: 1px solid var(--ubs-quaternary-dark-green);
      border-radius: 7px;

      .content-price {
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        height: 135px;
        width: 84%;
        padding: 0 34px;
        display: flex;
        align-items: center;
      }

      .header-price {
        width: 100%;
        height: 129px;
        display: flex;
        flex-direction: column;
        background: var(--ubs-quaternary-dark-green);
        border: 1px solid var(--ubs-quaternary-dark-green);
        color: var(--ubs-primary-white);
        border-radius: 7px;
        text-align: center;
        justify-content: center;

        .price {
          font-size: 35px;
          font-weight: 600;
        }
      }
    }
  }

  .location-to-show-bags-wrapper {
    margin-top: 10px;

    & > * {
      max-width: 532px;
      width: 100%;
    }
  }

  ::ng-deep {
    .mat-mdc-form-field-label {
      font-size: 14px;
      margin-top: 30px;

      @include responsivePCFirst(md) {
        font-size: 10px;
        margin-top: 20px;
      }
    }

    .mdc-text-field--filled {
      background-color: transparent;
    }

    .mat-mdc-form-field-infix {
      display: flex;
      min-width: 500px;
      width: fit-content;
      border-top: 0;
      padding: 10px 0;

      @include responsivePCFirst(sm) {
        min-width: 320px;
        font-size: 20px;
      }
    }
  }

  .location-to-show {
    display: block;
    border: none;
    font-size: 28px;
    font-family: var(--ubs-secondary-font);
    text-overflow: ellipsis;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    @include responsivePCFirst(md) {
      font-size: 17px;
    }
  }

  .arrowDownImg {
    cursor: pointer;
  }
}

section .price-section {
  height: 100%;

  h2 {
    margin-bottom: 0;
  }

  .box-card {
    #price-frame {
      height: 229px;

      .content-price {
        margin: 0;
        width: 100%;
        line-height: 20px !important;
      }

      .header-price {
        flex-direction: column-reverse;

        .price {
          line-height: 34px;
        }
      }
    }
  }
}

@include responsiveMobileFirst(sm) {
  section .price-section {
    padding: 60px 0;

    h2 {
      margin-bottom: 0;
    }

    .box-card {
      margin: 0 16px;

      #price-frame {
        width: 100%;
        height: 125px;
        border-radius: 4px;

        .content-price {
          line-height: 15px;
          justify-content: center;
        }

        .header-price {
          height: 100px;
          border: 0.5px solid var(--ubs-primary-dark-grey);
          border-radius: 4px;

          .price {
            font-size: 16px;
          }
        }
      }
    }
  }

  @include responsivePCFirst(md) {
    .price-section {
      height: 100%;
      padding-bottom: 60px;

      h2 {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 0;
      }

      .box-card {
        flex-direction: column;
        justify-content: normal;

        #price-frame {
          margin: 0 auto;
          width: 287px;
          border-radius: 6px;

          .content-price {
            font-size: 12px;
            line-height: 15px;
            padding: 0;
            width: 190px;
            height: 69px;

            div {
              width: 100%;
              align-items: center;
            }
          }

          .header-price {
            border-radius: 6px;
            height: 57px;
            font-size: 11px;
          }

          .header-price .price {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@include responsivePCFirst(sm) {
  section .price-section h2 {
    font-size: 28px;
    line-height: 1.1;
  }
}

@include responsiveMobileFirst(md) {
  @include responsivePCFirst(xl) {
    section .price-section {
      height: 100%;
      margin: 0;
      padding: 90px 24px;

      h2 {
        margin: 0 auto;
        padding: 0;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
      }

      .box-card {
        margin-top: 50px;

        #price-frame {
          width: 218px;
          height: 229px;
          font-size: 16px;

          .content-price {
            margin: 0;
            padding: 33px 16px 0;
            width: 100%;
            line-height: 20px !important;
          }

          .header-price {
            flex-direction: column-reverse;
            height: 100px;

            .price {
              font-size: 24px;
              line-height: 29px;
            }
          }
        }
      }
    }
  }
}

@include responsiveMobileFirst(xl) {
  @include responsivePCFirst(3xl) {
    section .price-section {
      height: 100%;

      .box-card {
        #price-frame {
          width: 298px;
          height: 229px;
          font-size: 16px;

          .content-price {
            margin: 0;
            padding: 33px 30px 0 24px;
            width: 100%;
            line-height: 20px !important;
          }

          .header-price {
            flex-direction: column-reverse;
            height: 100px;

            .price {
              font-size: 28px;
              line-height: 34px;
            }
          }
        }
      }
    }
  }
}

@include responsiveMobileFirst(3xl) {
  section .price-section {
    height: 100%;

    .box-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      #price-frame {
        width: 358px;
        height: 229px;
        font-size: 18px;

        .content-price {
          margin: 0;
          padding: 0 40px;
          width: 100%;
          line-height: 20px !important;
          align-items: center;
        }

        .header-price {
          flex-direction: column-reverse;
          height: 100px;

          .price {
            font-size: 28px;
            line-height: 34px;
          }
        }
      }
    }
  }
}
