<div class="d-flex justify-content-between">
  <p class="h5 page-title">{{ 'ubs-notifications.page-title' | translate }}</p>
  <button class="add-notification-button">
    <img [src]="icons.plus" class="plus-icon" alt="" />
    &nbsp; {{ 'ubs-notifications.add' | translate }}
  </button>
</div>

<form [formGroup]="filtersForm" class="filters-block">
  <div class="d-flex justify-content-between">
    <div class="filter-topic-block">
      <p class="filter-label">{{ 'ubs-notifications.filters.topic' | translate }}</p>
      <div class="filter-wrapper">
        <input
          type="text"
          formControlName="topic"
          [placeholder]="'ubs-notifications.filters.topic-placeholder' | translate"
          matInput
          [matAutocomplete]="autoTopic"
        />
        <mat-autocomplete #autoTopic="matAutocomplete" (optionSelected)="(null)">
          <mat-option *ngFor="let topic of []" [value]="topic">
            {{ topic | translate }}
          </mat-option>
        </mat-autocomplete>
        <img [src]="icons.arrowDown" class="arrow-down-icon" alt="" (click)="(null)" />
      </div>
    </div>
    <div class="filter-event-block">
      <p class="filter-label">{{ 'ubs-notifications.filters.trigger' | translate }}</p>
      <div class="filter-wrapper">
        <mat-select
          formControlName="activationEvent"
          class="trigger-select"
          [placeholder]="'ubs-notifications.filters.trigger-placeholder' | translate"
          (selectionChange)="(null)"
          multiple
        >
          <mat-option class="option-event" *ngFor="let event of activationEvents | keyvalue" [value]="event.key">{{
            event.value
          }}</mat-option>
        </mat-select>
        <img [src]="icons.arrowDown" class="arrow-down-icon" alt="" (click)="(null)" />
      </div>
    </div>
    <div class="filter-status-block">
      <p class="filter-label">{{ 'ubs-notifications.filters.status' | translate }}</p>
      <div class="filter-wrapper">
        <mat-select
          formControlName="status"
          class="status-select"
          [placeholder]="'ubs-notifications.filters.status-placeholder' | translate"
          (selectionChange)="(null)"
        >
          <mat-option class="option-status" *ngFor="let status of statuses | keyvalue" [value]="status.key">{{ status.value }}</mat-option>
        </mat-select>
        <img [src]="icons.arrowDown" class="arrow-down-icon" alt="" (click)="(null)" />
      </div>
    </div>
  </div>
</form>

<table class="table-notifications">
  <thead>
    <tr>
      <th class="col-topic">{{ 'ubs-notifications.columns.topic' | translate }}</th>
      <th class="col-event">{{ 'ubs-notifications.columns.trigger' | translate }}</th>
      <th class="col-time">{{ 'ubs-notifications.columns.time' | translate }}</th>
      <th class="col-period">{{ 'ubs-notifications.columns.period' | translate }}</th>
      <th class="col-status">{{ 'ubs-notifications.columns.status' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let notification of notifications | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }
      "
      (click)="navigateToNotification(notification.id)"
    >
      <td>
        {{ lang === 'ua' ? notification.topic.ua : notification.topic.en }}
      </td>
      <td>
        {{ notification.activationEvent }}
      </td>
      <td>
        {{ notification.time }}
      </td>
      <td>
        {{ notification.period }}
      </td>
      <td>
        {{ notification.status }}
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls
  (pageChange)="onPageChanged($event)"
  maxSize="9"
  directionLinks="true"
  autoHide="true"
  responsive="true"
  previousLabel="Previous"
  nextLabel="Next"
>
</pagination-controls>
