<div class="searching-panel">
  <div class="search">
    <input type="text" [formControl]="searchFieldControl" />
  </div>
</div>
<div class="chats">
  <div
    class="chat"
    *ngFor="let chat of chatService.userChatsStream$ | async | chatsSearch: searchField"
    (click)="openNewMessageWindow(chat)"
  >
    <img [src]="chatIcons.userLogo" alt="user logo" />
    <div class="chat-text">
      <span class="chat-name">{{ chat.name }}</span>
      <div *ngIf="chat.lastMessage" class="chat-last-message">
        <span class="chat-lm-text">{{ chat.lastMessage }}</span>
        <span class="chat-lm-date">{{ chat.lastMessageDateTime | date: messageDateTreat(chat.lastMessageDateTime) }}</span>
      </div>
    </div>
  </div>
</div>
