@import 'src/app/chat/chat-styles-reset';

:host {
  width: 100%;
  height: 100%;
  @include flex(column, center, center);
}

.searching-panel {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  @include flex(row, space-between, center);
  column-gap: 15px;
  width: 100%;

  input {
    background: #f2f2f2;
    font-size: 15px;
    width: 85%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    padding: 5px 8px;
    transition: all 0.1s linear;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;

    &:focus {
      background: white;
      box-shadow: 0 0 2px 1px rgb(0 0 0 / 67%);
    }
  }
}

.search-filter-button {
  @include flex(row, center, center);
  border-radius: 50%;
  padding: 5px;
  box-sizing: content-box;
  cursor: pointer;
  transition: background 0.2s linear;

  img {
    height: 20px;
    width: 20px;
  }

  &:hover {
    background: #d8d8d8;
  }
}

.chats {
  height: 100%;
  @include flex(column, flex-start, flex-start);
  overflow-y: auto;
  flex: 1;
  width: 100%;
}

.chat {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  @include flex(row, flex-start, center);
  column-gap: 10px;
  cursor: pointer;

  &:hover {
    background: #f7f9fa;
  }

  img {
    height: 40px;
  }
}

.chat-text {
  @include flex(column, center, flex-start);
  row-gap: 5px;
}

.chat-name {
  color: #494a49;
  font-size: 15px;
  font-weight: 500;
}

.chat-last-message {
  @include flex(row, flex-start, center);
  column-gap: 10px;
}

.chat-lm-text {
  font-size: 14px;
  color: #676767;
  text-overflow: ellipsis;
  width: 80%;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

.chat-lm-date {
  font-size: 12px;
  color: #676767;
}

.chat-lm-point {
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background: #494a49;
}
