.event {
  padding: 0 100px;
}

.event-nav {
  display: flex;
  justify-content: space-between;

  .button-content {
    display: flex;
    align-items: center;

    .arrow {
      margin-right: 20px;
    }
  }

  .edit-buttons {
    display: flex;

    .delete-button {
      border: none;
    }

    .event-button {
      border-radius: 5px;
      line-height: 16px;
      min-width: 139px;
      min-height: 40px;
      padding: 8px 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: block;
        height: 16px;
        white-space: nowrap;
      }
    }
  }
}

.event-autor {
  display: flex;
  justify-content: space-between;

  .left-side {
    display: flex;
    align-items: center;

    .autor-name {
      display: flex;
      padding: 0;

      div {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.event-stars {
  width: 88px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .star {
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  .fill {
    background: url('src/assets/events-icons/star-filled.png') no-repeat center;
  }

  .empty {
    background: url('src/assets/events-icons/Vector.png') no-repeat center;
  }
}

.event-main {
  margin-top: 40px;
  display: flex;

  .event-place {
    padding: 26px;
    margin-top: 24px;

    .date-container {
      margin-top: 27px;
      display: flex;
      align-items: center;

      > div {
        margin-right: 20px;
      }

      .time-container {
        display: flex;
      }
    }
  }

  .main-right {
    padding: 0 32px;
  }
}

.main-left {
  flex: 0 0 456px;

  .main-image {
    box-shadow: 0 10px 20px var(--quaternary-grey);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 450px;

    .img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
    }

    .image-active {
      display: block;
    }

    .dot-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--primary-white);
        opacity: 0.4;
        transition: 0.3s;
        margin-right: 5px;
      }

      .dot-active,
      .dot:hover {
        opacity: 1;
      }
    }

    .button-arrow {
      position: absolute;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        font-size: 65px;
        line-height: 40px;
        font-weight: bold;
        color: var(--primary-white);
        cursor: pointer;
        opacity: 0.6;
        transition: 0.3s;
      }

      span:hover {
        opacity: 1;
      }
    }

    .button-arrow.right {
      right: 15px;
    }

    .button-arrow.left {
      left: 15px;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.2s;
  }

  @keyframes fade {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}

.event-status {
  margin: 24px 0;

  .initial {
    display: flex;
    margin-top: 18px;

    .initial-item {
      margin-right: 20px;
    }

    .status-title {
      margin-right: 80px;
    }

    .buttons-container {
      .flex-container {
        display: flex;
      }
    }
  }
}

.ul-eco-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;

  li {
    display: inline-block;
  }

  .tag {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    padding: 0 10px;
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: var(--tertiary-grey);
    border: 1px solid var(--tertiary-grey);
    border-radius: 25px;
    margin-right: 8px;
  }

  .tag-active {
    color: var(--primary-white);
  }
}
