@import 'src/typography/_resp.scss';

p {
  margin-bottom: 0;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
}

.event-first-date-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-controllers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include responsiveMobileFirst(sm) {
    height: auto;
    gap: 24px;
    flex-direction: row;
  }
}

.attenders-container {
  display: flex;
  width: 100%;
  gap: 16px;

  .attenders-avatars {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: -10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .participants-container {
    display: flex;
    gap: 4px;
  }

  .attenders-avatars-container {
    display: flex;
  }
}

.start-date-container {
  display: grid;
  grid-template-columns: max-content auto; /* 1 part for rating, 2 parts for info */
  grid-template-rows: auto; /* Let rows adjust to content height */
  gap: 16px; /* Space between grid items */
  align-items: center;
  word-break: break-word;

  .start-date {
    display: flex;
    flex-direction: column;
  }
}

.container {
  padding: 24px 16px;
  @include responsiveMobileFirst(md) {
    padding: 24px 0;
  }
}

mat-card {
  padding: 16px 8px;
  @include responsiveMobileFirst(md) {
    padding: 24px;
  }
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;

  button {
    width: 100%;
  }

  @include responsiveMobileFirst(md) {
    flex-direction: row;
  }
}

.button-content {
  display: inline-flex;
  gap: 5px;
  color: var(--quaternary-dark-grey);
}

button {
  width: 100%;
}

.controller-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include responsiveMobileFirst(md) {
    flex-direction: row;
  }
}

.author {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.share-buttons {
  display: flex;
  gap: 16px;

  img {
    height: 24px;
    width: 24px;
  }
}

.back-button {
  @media (max-width: 575px) {
    width: 100%;
  }
}

.start-date-block {
  display: flex;
  gap: 12px;
}

.event-header {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  word-break: break-word;
}

.main-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.chips-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 12px;

  p {
    align-self: center;
  }
}

.event-container {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include responsiveMobileFirst(md) {
    width: 540px;
  }
  @include responsiveMobileFirst(xl) {
    width: 100%;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    > div {
      width: 50%;
    }
  }
}
