.event {
  padding: 0 150px;
  font-style: var(--primary-font);
  background-color: var(--pre-secondary-light-grey);

  .event-nav {
    display: flex;
    justify-content: space-between;

    .button-content {
      display: inline-flex;
      gap: 5px;
      font-weight: 400;
      color: var(--quaternary-dark-grey);
    }

    .edit-buttons {
      display: flex;
      cursor: pointer;

      .delete-button {
        border: none;
      }

      .event-button {
        border-radius: 5px;
        line-height: 16px;
        min-width: 139px;
        min-height: 40px;
        padding: 8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: block;
          height: 16px;
          white-space: nowrap;
        }
      }
    }
  }

  .event-header {
    margin-top: 12px;

    .event-title {
      font-weight: 700;
      color: var(--quaternary-dark-grey);
    }

    .event-meta {
      display: flex;
      justify-content: space-between;

      .left-side {
        display: flex;
        align-items: center;

        .date-author {
          display: flex;
          padding: 0;

          div {
            display: inline-block;
            margin-right: 10px;
          }
        }

        .event-rating {
          width: auto;
          height: 20px;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0;

          .star {
            display: inline-block;
            width: 25px;
            height: 25px;
            transition: all 0.2s;
          }

          .fill {
            background: url('src/assets/events-icons/star-filled.png') no-repeat center;
          }

          .empty {
            background: url('src/assets/events-icons/Vector.png') no-repeat center;
          }
        }
      }

      .right-side {
        .share-buttons {
          display: flex;
          gap: 16px;
        }
      }
    }
  }

  .event-main {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    .main-left {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 464px;

      .main-image {
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        height: 272px;

        .img {
          display: none;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 1;
        }

        .image-active {
          display: block;
        }

        .dot-container {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          .dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: var(--primary-white);
            opacity: 0.4;
            transition: 0.3s;
            margin-right: 5px;
          }

          .dot-active,
          .dot:hover {
            opacity: 1;
          }
        }

        .button-arrow {
          position: absolute;
          bottom: 0;
          top: 0;
          display: flex;
          align-items: center;

          span {
            display: inline-block;
            font-size: 65px;
            line-height: 40px;
            font-weight: bold;
            color: var(--primary-white);
            cursor: pointer;
            opacity: 0.6;
            transition: 0.3s;
          }

          span:hover {
            opacity: 1;
          }
        }

        .button-arrow.right {
          right: 15px;
        }

        .button-arrow.left {
          left: 15px;
        }
      }

      // .fade {
      //   animation-name: fade;
      //   animation-duration: 1.2s;
      // }

      // @keyframes fade {
      //   from {
      //     opacity: 0.5;
      //   }

      //   to {
      //     opacity: 1;
      //   }
      // }

      .event-date-place {
        background-color: var(--ubs-primary-white);
        border-radius: 4px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 27px;

        .top-row {
          display: inline-flex;
          gap: 10px;
          justify-items: start;

          .event-rating {
            display: inline-flex;
            gap: 4px;
          }

          .participants {
            display: inline-flex;
            gap: 8px;

            .participants-avatars {
              display: grid;
              display: grid;
              grid-template-columns: repeat(30, 10px);

              .avatar {
                width: 19px;
                height: 19px;
                border-radius: 100%;
                overflow: hidden;
                border: 1px solid var(--pre-secondary-light-grey);
              }
            }
          }
        }

        .bottom-row {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .info-row {
            display: grid;
            grid-template-columns: 72px auto;
            gap: 12px;
            align-items: center;

            .label {
              font-weight: 700;
              font-size: 20px;
              line-height: 28px;
            }

            .info {
              color: #1d2830;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }

      .event-tags-status {
        background-color: var(--ubs-primary-white);
        border-radius: 4px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .info-row {
          display: grid;
          grid-template-columns: 100px auto;
          gap: 12px;

          .label {
            padding-top: 6px;
            font-size: 16px;
          }

          .info {
            color: #1d2830;
            font-weight: 400;
            line-height: 24px;

            .tags {
              display: flex;
              flex-wrap: wrap;
              gap: 8px;

              .tag {
                padding: 6px 16px;
                border: 1px solid var(--quaternary-grey);
                border-radius: 25px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .event-place {
      padding: 26px;
      margin-top: 24px;

      .date-container {
        margin-top: 27px;
        display: flex;
        align-items: center;

        > div {
          margin-right: 20px;
        }

        .time-container {
          display: flex;
        }

        .map-icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url('src/assets/events-icons/place2.png') no-repeat center;
          background-size: cover;
        }
      }
    }
  }

  .event-status {
    margin: 24px 0;

    .initial {
      display: flex;
      margin-top: 18px;

      .initial-item {
        margin-right: 20px;
      }

      .status-title {
        margin-right: 80px;
      }

      .buttons-container {
        .flex-container {
          display: flex;
        }
      }
    }
  }

  .ul-eco-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    white-space: nowrap;

    li {
      display: inline-block;
    }

    .tag {
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 22px;
      padding: 0 10px;
      text-transform: capitalize;
      font-family: var(--primary-font);
      color: var(--tertiary-grey);
      border: 1px solid var(--tertiary-grey);
      border-radius: 25px;
      margin-right: 8px;
    }

    .tag-active {
      color: var(--primary-white);
    }
  }
}
