<form [formGroup]="eventInfForm">
  <!--      Bcz Title and Duration in the same
       block. So they using flexbox when title is smaller than flex basis (300px)
                then duration goes under title.yyy
       -->
  <div class="header-container">
    <!--         Title element HTML-->
    <div class="title-wrapper">
      <span class="above-title">
        <p>{{ 'create-event.event-name' | translate }}</p>
        <p class="xs-text">{{ titleLength }}</p>
      </span>
      <mat-form-field appearance="outline" class="title-field">
        <mat-label>{{ 'create-event.placeholder' | translate }}</mat-label>
        <input formControlName="title" matInput maxlength="70" />
        <mat-error>{{ getLocale('titleError') }}</mat-error>
      </mat-form-field>
    </div>
    <!--          Choose duration HTML-->
    <div class="duration-wrapper">
      <p>{{ 'create-event.duration' | translate }}</p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="duration" ngDefaultControl>
          <mat-option *ngFor="let date of EVENT_LOCALE.durationDays; index as i" [value]="i + 1">
            {{ date[localStorageService.getCurrentLanguage()] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="mb-4">
    <p>{{ 'create-event.event-theme' | translate }}</p>
    <mat-chip-listbox [multiple]="true" [selectable]="true" formControlName="tags">
      <mat-chip-option *ngFor="let tag of EVENT_LOCALE.initiativeTags" [value]="tag.en">
        {{ tag[localStorageService.getCurrentLanguage()] }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="event-type-wrapper">
    <p>{{ 'create-event.event-type' | translate }}</p>
    <mat-form-field appearance="outline" class="mr-2">
      <mat-select formControlName="open" [required]="true">
        <mat-option *ngFor="let type of EVENT_LOCALE.eventTypeOptions; index as i" [value]="!!i">
          {{ type[localStorageService.getCurrentLanguage()] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'create-event.invite' | translate }}</mat-label>
      <mat-select [required]="true">
        <mat-option value="All"> {{ 'create-event.all' | translate }}</mat-option>
        <mat-option value="Friends"> {{ 'create-event.friends' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100">
    <span>
      <p>{{ 'create-event.textarea-title' | translate }}</p>
      <p style="font-size: 12px">{{ 'create-event.content-tooltip' | translate }}</p>
    </span>
    <quill-editor
      (onContentChanged)="quillContentChanged($event)"
      (onBlur)="updateDescriptionOnBlur()"
      [maxLength]="maxLength"
      [minLength]="minLength"
      [modules]="quillModules"
      [styles]="{ minHeight: '120px', maxHeight: '300px' }"
      formControlName="description"
      ngDefaultControl
      placeholder="{{ 'create-event.content-placeholder' | translate }}"
    >
    </quill-editor>
    <p
      [ngClass]="{ 'quill-error': isQuillUnfilled || quillLength > maxLength, 'quill-valid': !isQuillUnfilled && quillLength <= maxLength }"
      class="quill-counter"
    >
      {{ quillLabel }}
    </p>
  </div>
  <div class="images" style="width: 100%">
    <app-images-container (imagesOutput)="setImagesUrlArray($event)" [images]="images"></app-images-container>
  </div>
</form>
