.ubs-container {
  padding-inline: 24px;
  padding-top: 12px;
  min-height: 67vh;
  margin-bottom: 124px;

  &__header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

    h2 {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
    }

    button {
      margin: 0;
    }
  }

  &__btn-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.justify-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

@media (min-width: 768px) {
  .ubs-container {
    padding-top: 34px;

    &__header {
      font-size: 32px;
      margin-bottom: 40px;
    }

    &__btn-group {
      flex-direction: row;
      gap: 30px;
    }
  }
}
