@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-font: 'Open Sans', sans-serif;

.like-amount {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  color: #878787;
  margin-left: 5px;
}
