$main-font: 'Montserrat', sans-serif;
$background-color: #f5f6f6;
$main-color: #494a49;
$additional-color: #e1e5e3;
$light-color: #bebebe;

p {
  margin: 0;
}

.outer {
  background-color: $background-color;
  display: flex;
  justify-content: center;

  .achievements {
    width: 185px;
    height: 129px;
    border-top: 1px solid $additional-color;

    .header {
      height: 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p:first-child {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: $main-color;
      }

      a:nth-child(2) {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: $main-color;
        text-decoration: none;
      }

      span {
        color: $light-color;
      }
    }

    .body {
      height: 74px;
      display: flex;
      justify-content: space-between;

      img {
        width: 52px;
        height: 52px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .outer {
    .achievements {
      width: 176px;
      height: 125px;
    }
  }
}

@media (min-width: 1440px) {
  .outer {
    .achievements {
      width: 213px;
      height: 149px;

      .header {
        height: 65px;
      }

      .body {
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
