.wrapper {
  max-width: 1170px;
  margin: -30px auto 30px auto;
  padding: 0 15px;

  .back-to-my-habits {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 60px 0 4px 0;
    padding: 4px 0 0 4px;
    color: var(--secondary-dark-green);
    cursor: pointer;

    .arrow {
      width: 5px;
      height: 7px;
      margin-right: 6px;
      align-self: center;
      background: url('~/assets/img/profile/icons/back-arrow.svg') no-repeat;
    }

    .text {
      font-family: var(--primary-font);
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-self: center;
      text-decoration-line: underline;
    }
  }

  .habit-container {
    height: 360px;
    padding: 40px 0 0 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .habit-info {
      display: flex;
      flex-direction: column;

      .header {
        height: 24px;
        display: flex;
        align-items: center;
        color: var(--primary-green);
        margin-bottom: 8px;

        .tags,
        .aquired {
          font-style: regular;
          font-size: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
        }

        .stars {
          display: flex;
          width: 88px;
          justify-content: space-between;

          img {
            cursor: pointer;
          }
        }

        .line {
          width: 1px;
          height: 18px;
          margin: 0 18px;
          background-image: url('~/assets/img/profile/icons/line.svg');
        }
      }

      .habit-title {
        margin-bottom: 16px;
        font-family: var(--secondary-font);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0;
        text-align: left;
      }

      .description {
        p {
          font-family: var(--primary-font);
          font-size: 16px;
          line-height: 24px;
          color: var(--primary-black);
          max-width: 652px;
        }
      }
    }

    .habit-img {
      width: 395px;
      align-self: flex-end;
      margin-left: 25px;

      .img {
        width: 395px;
      }
    }
  }

  .habit-edit {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: var(--secondary-dark-grey);
  }

  .divider {
    height: 1px;
    margin: 18px 0 40px 0;
    background-color: var(--secondary-light-grey);
  }

  .container-habit-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .habit-progress,
    .habit-info-right-block {
      width: 554px;
    }

    .habit-progress {
      padding: 36px 36px 36px 36px;
      background-color: var(--secondary-light-grey);
      border-radius: 8px;
      align-self: flex-start;
    }

    .habit-info-right-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .invite-friends {
        display: flex;
        width: 554px;
        height: 182px;
        margin-bottom: 25px;
        padding: 24px;
        background: var(--secondary-light-grey);
        border-radius: 8px;
      }

      .duration-shoping {
        display: flex;
        flex-direction: row;
        width: 554px;
        justify-content: space-between;

        .duration,
        .shopping {
          width: 261px;
          background: var(--secondary-light-grey);
          border-radius: 8px;
          padding: 24px;
          font-family: var(--secondary-font);
        }
      }
    }
  }

  .add-habit-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;

    .btn {
      height: 48px;
      width: 160px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    .container-habit-edit {
      justify-content: center;

      .habit-info-right-block .invite-friends {
        margin: 32px auto;
      }

      .add-habit-container {
        width: 554px;
      }
    }
  }
}
