.wrapper {
  max-width: 1170px;
  margin: -30px auto 30px auto;
  padding: 0 15px;

  .back-to-my-habits {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 60px 0 4px 0;
    padding: 4px 0 0 4px;
    color: var(--secondary-dark-green);
    cursor: pointer;

    .arrow {
      width: 5px;
      height: 7px;
      margin-right: 6px;
      align-self: center;
      background: url('~/assets/img/profile/icons/back-arrow.svg') no-repeat;
    }

    .text {
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-self: center;
      text-decoration-line: underline;
    }
  }

  .habit-container {
    height: 360px;
    width: 100%;
    padding: 40px 0 0 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .habit-info {
      display: flex;
      flex-direction: column;
      width: 70%;

      .header {
        height: 24px;
        display: flex;
        align-items: center;
        color: var(--primary-green);
        margin-bottom: 8px;

        .item {
          display: flex;
          align-items: center;
          font-style: normal;
          gap: 8px;
          font-size: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        .stars {
          display: flex;
          width: 60px;
          padding-bottom: 5px;
          justify-content: space-between;
          cursor: pointer;

          img {
            width: 16px;
          }
        }

        .line {
          width: 1px;
          height: 18px;
          margin: 0 18px;
          background-image: url('~/assets/img/profile/icons/line.svg');
        }
      }

      .habit-title {
        margin-bottom: 16px;
        font-family: var(--secondary-font);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0;
        text-align: left;
      }

      .description {
        p {
          font-family: var(--primary-font);
          font-size: 16px;
          line-height: 24px;
          color: var(--primary-black);
          max-width: 652px;
        }
      }
    }

    .habit-img {
      width: 395px;
      height: 320px;
      margin-left: 25px;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .habit-edit {
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--secondary-dark-grey);

    h3 {
      font-family: var(--secondary-font);
      font-style: normal;
      margin: 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
    }

    .lock-icon {
      height: 24px;
      width: 23px;
      background: url('~/assets/icons/habits/lock-icon-closed.svg') center no-repeat;
    }
  }

  .divider {
    height: 1px;
    margin: 18px 0 40px 0;
    background-color: var(--secondary-light-grey);
  }

  .container-habit-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .habit-progress,
    .habit-info-right-block {
      height: 468px;
      width: 554px;
    }

    .habit-progress {
      padding: 36px 36px 36px 36px;
      background-color: var(--secondary-light-grey);
      border-radius: 8px;
      align-self: flex-start;
    }

    .habit-info-right-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .invite-friends {
        display: flex;
        width: 554px;
        height: 172px;
        padding: 24px;
        background: var(--secondary-light-grey);
        border-radius: 8px;
      }

      .duration-shoping {
        display: flex;
        height: 268px;
        width: 554px;
        justify-content: space-between;

        .duration,
        .shopping {
          width: 261px;
          background: var(--secondary-light-grey);
          border-radius: 8px;
          padding: 24px;
          font-family: var(--secondary-font);
        }
      }
    }
  }

  .add-habit-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;

    .btn {
      height: 48px;
      width: 160px;
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 960px;
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    max-width: calc(100% - 64px);
    padding: 0;

    .habit-container {
      flex-direction: column;

      .habit-info {
        width: 100%;
      }
    }
  }

  .habits-reccommendations {
    display: flex;
    flex-wrap: wrap;
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 560px) {
  .wrapper {
    max-width: calc(100% - 32px);

    .container-habit-edit {
      gap: 24px;

      .habit-progress {
        padding: 24px 16px;
      }

      .habit-info-right-block .duration-shoping {
        flex-direction: column;
        height: auto;
        gap: 24px;

        .duration,
        .shopping {
          width: 100%;
        }
      }
    }
  }
}
