.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;

  .back-to-my-habits {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 28px 0 40px 0;
    padding-top: 4px;
    color: var(--ubs-primary-grey);
    cursor: pointer;

    .button-arrow {
      display: flex;
      align-items: center;

      .back-button {
        margin: 6px;
        margin-top: 9px;
        color: var(--ubs-primary-grey);
      }
    }

    .text {
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-self: center;
    }
  }

  .habit-container {
    min-height: 260px;
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .habit-info {
      display: flex;
      flex-direction: column;
      width: 60%;
      word-wrap: break-word;

      .header {
        display: flex;
        color: var(--primary-green);
        margin-bottom: 8px;
        gap: 16px;
        width: 850px;

        .item {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          font-style: normal;
          font-size: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          border-left: 1px solid #bebebe;
          padding-left: 16px;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          span {
            white-space: nowrap;
          }
        }

        .acquired-by {
          white-space: nowrap;
        }

        .stars {
          display: flex;
          width: 60px;
          padding-bottom: 5px;
          justify-content: space-between;
          cursor: pointer;

          img {
            width: 16px;
          }
        }
      }

      .habit-title {
        margin-bottom: 16px;
        font-family: var(--secondary-font);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0;
        text-align: left;
      }

      .description p {
        font-family: var(--primary-font);
        font-size: 16px;
        line-height: 24px;
        color: var(--primary-black);
      }
    }

    .habit-img {
      width: 395px;
      margin-left: 25px;
      position: relative;
      left: -70px;

      .img {
        width: 500px;
        height: 260px;
        object-fit: cover;
      }
    }
  }

  .habit-info-divider {
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--secondary-dark-grey);
    padding-bottom: 12px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--quaternary-light-grey);

    h3 {
      font-family: var(--secondary-font);
      font-style: normal;
      margin: 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
    }

    .lock-icon {
      height: 24px;
      width: 23px;
      background: url('~/assets/icons/habits/lock-icon-closed.svg') center no-repeat;
    }
  }

  .container-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;

    .habit-info-block {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .habit-progress,
      .habit-second-block {
        width: calc(50% - 16px);
      }

      .habit-progress {
        padding: 36px;
        background-color: var(--secondary-light-grey);
        border-radius: 8px;
        align-self: flex-start;
      }

      .habit-second-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .invite-friends {
          display: flex;
          width: 100%;
          height: 172px;
          padding: 24px;
          background: var(--secondary-light-grey);
          border-radius: 8px;

          .invite-friends-container {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
        }

        .duration-shoping {
          display: flex;
          height: 268px;
          width: 100%;
          justify-content: space-between;
          gap: 32px;

          .duration,
          .shopping {
            width: 50%;
            background: var(--secondary-light-grey);
            border-radius: 8px;
            padding: 24px;
            font-family: var(--secondary-font);
          }
        }
      }
    }
  }

  .add-habit-container {
    margin: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px;

    .habit-btn {
      height: 48px;
      width: 180px;
    }
  }
}

@media (max-width: 1439px) {
  .wrapper {
    max-width: 960px;

    .habit-container {
      .habit-info {
        width: 52%;

        .header {
          width: 650px;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .wrapper {
    max-width: 720px;

    .habit-container {
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .habit-info {
        width: 100%;

        .header {
          width: 100%;
          justify-content: center;
        }

        .habit-title {
          text-align: center;
          font-size: 32px;
        }
      }

      .habit-img {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 20px;

        .img {
          position: relative;
          left: 70px;
          object-fit: cover;
        }
      }
    }

    .container-bottom .habit-info-block {
      flex-direction: column;
      gap: 32px;

      .habit-progress,
      .habit-second-block {
        width: 100%;
      }

      .habit-second-block {
        gap: 32px;
      }
    }
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: calc(100% - 36px);

    .habit-container {
      .habit-img {
        img {
          position: relative;
          left: -100px;
        }
      }
      .habit-info {
        .header {
          gap: 4px;
          .item {
            border-left: none;
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .wrapper {
    max-width: calc(100% - 32px);

    .back-to-my-habits {
      margin: 24px 0;
    }

    .habit-container {
      align-items: center;

      .habit-img {
        zoom: 0.9;
        position: relative;
        left: -120px;
        width: 395px;
        height: 320px;
      }

      .habit-info {
        .header {
          justify-content: space-between;
          width: 100%;

          .item {
            gap: 4px;
            font-size: 10px;
            letter-spacing: 1px;

            .stars {
              width: 40px;

              img {
                width: 12px;
              }
            }
          }

          .tags {
            font-size: 10px;
          }
        }

        .habit-title {
          font-size: 20px;
          line-height: 24px;
          margin: 8px 0 24px;
        }

        .description p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }

    .habit-info-divider h3 {
      font-size: 20px;
    }

    .container-bottom .habit-info-block {
      gap: 24px;

      .habit-progress {
        padding: 24px 16px;
      }

      .habit-second-block {
        padding: 0;
        gap: 24px;

        .duration-shoping {
          flex-direction: column;
          height: auto;
          gap: 24px;

          .duration,
          .shopping {
            width: 100%;
          }
        }
      }
    }

    .add-habit-container {
      flex-direction: column;
      gap: 24px;

      .habit-btn {
        width: 100%;
      }
    }
  }
}
