<div class="wrapper">
  <div class="back-to-my-habits" (click)="onGoBack()">
    <div class="arrow"></div>
    <div class="text">{{ 'user.habit.btn.back-to-habit' | translate }}</div>
  </div>
  <div class="habit-container">
    <div class="habit-info">
      <div class="header">
        <div class="tags">{{ 'user.habit.header.tags' | translate }}</div>
        <div class="line"></div>
        <div class="aquired">{{ 'user.habit.header.aquired' | translate }}</div>
        <div class="line"></div>
        <div class="stars">
          <img *ngFor="let star of stars" alt="star" [src]="star" />
        </div>
      </div>
      <div class="habit-title">
        {{ habitResponse?.habitTranslation.name }}
      </div>
      <div class="description">
        <p>
          {{ habitResponse?.habitTranslation.description }}
        </p>
      </div>
    </div>
    <div class="habit-img">
      <img class="img" [src]="habitResponse?.image" onerror="this.src='assets/img/habits/man.svg'" alt="habit picture" />
    </div>
  </div>
  <div class="habit-edit">{{ 'user.habit.info' | translate }}</div>
  <div class="divider"></div>
  <div class="container-habit-edit">
    <div class="habit-progress">
      <app-habit-progress [habit]="habit"></app-habit-progress>
    </div>
    <div class="habit-info-right-block">
      <div class="invite-friends">
        <app-habit-invite-friends></app-habit-invite-friends>
      </div>
      <div class="duration-shoping">
        <div class="duration" *ngIf="habitResponse">
          <app-habit-duration [habitDurationInitial]="initialDuration" (changeDuration)="getDuration($event)"></app-habit-duration>
        </div>
        <div class="shopping">
          <app-habit-edit-shopping-list (newList)="getList($event)"></app-habit-edit-shopping-list>
        </div>
      </div>
    </div>
    <div *ngIf="!isAssigned" class="add-habit-container">
      <button class="primary-global-button cancel-habit-button" (click)="cancel()">{{ 'user.habit.btn.cancel' | translate }}</button>
      <button class="primary-global-button add-habit-button" type="submit" (click)="addHabit()">
        {{ 'user.habit.btn.add' | translate }}
      </button>
    </div>
    <div *ngIf="isAssigned" class="add-habit-container">
      <button class="primary-global-button delete-habit-button" type="submit" (click)="deleteHabit()">
        {{ 'user.habit.btn.give-up' | translate }}
      </button>
      <button class="primary-global-button save-habit-button" type="submit" (click)="updateHabit()">
        {{ 'user.habit.btn.save' | translate }}
      </button>
    </div>
  </div>
</div>
