p,
div {
  margin: 0;
  padding: 0;
}

#list-gallery-content {
  display: flex;
  max-height: 199px;

  .list-image-content {
    border-radius: 4px 0 0 4px;
    height: 199px;
    width: 359px;
  }

  @media screen and (max-width: 576px) {
    .list-image-content {
      display: none;
    }
  }

  .news-content {
    margin-left: 16px;
    padding: 16px;

    .added-data {

      .ul-eco-buttons {
        opacity: 0.8;
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        line-height: 14px;
        color: #13AA57;
        display: inline-block;
        margin: 0 16px 0 0;
        text-transform: capitalize;
      }

      .word-wrap {
        word-break: break-word;
      }

    }

    .title-list {
      overflow: hidden;
      max-height: 128px;
      margin: 8px 0 0 0;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 26px;
      color: #313131;
    }

    .list-text {
      overflow: hidden;
      max-height: 52px;
      margin: 8px 0 0 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 23px;
      color: #313131;
    }

    .user-data-added-news {
      height: 24px;
      margin: 16px 0 0 0;
      display: flex;
      flex-wrap: wrap;

      .user-data-text-date {
        margin-right: 16px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
        mix-blend-mode: normal;
        opacity: 0.6;

        .icon {
          align-items: center;
          margin-right: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
    #list-gallery-content {
      max-height: 166px;

      .list-image-content {
        max-height: 171px;
        width: 299px;
      }
    }
}

@media screen and (max-width: 768px) {
    #list-gallery-content {
      max-height: 191px;

      .list-image-content {
        max-height: 191px;
        width: 334px;
      }
    }
}

#list-gallery-content:hover {
  background: #ffffff;
  box-shadow: 0px 4px 32px #e6ebea;
  border-radius: 4px;
  cursor: pointer;
}
