p,
div {
  margin: 0;
  padding: 0;
}

#list-gallery-content {
  display: flex;
  padding: 16px;
  max-height: 238px;

  .list-image-content {
    border-radius: 4px;
    width: 359px;
    height: 214px;
  }

  @media screen and (max-width: 768px) {
    .list-image-content {
      width: 214px;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 576px) {
    .list-image-content {
      display: none;
    }
  }


  .news-content {
    margin-left: 16px;

    .added-data {
      height: 174px;

      .filter-tag {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 24px;
        margin-bottom: 8px;

        .ul-eco-buttons {
          font-family: OpenSans, sans-serif;
          font-size: 14px;
          line-height: 16px;
          color: #13AA57;
          margin-right: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      .word-wrap {
        word-break: break-word;
      }

    }

    .title-list {
      overflow: hidden;
      max-height: 128px;
      margin: 8px 0 0 0;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #313131;
    }

    .list-text {
      overflow: hidden;
      height: 96px;
      margin: 8px 0 0 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #313131;
    }

    .user-data-added-news {
      height: 24px;
      margin: 16px 0 0 0;
      display: flex;
      flex-wrap: wrap;

      .user-data-text-date {
        margin-right: 16px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
        mix-blend-mode: normal;
        opacity: 0.6;

        .icon {
          align-items: center;
          margin-right: 4px;
        }
      }
    }
  }
}

#list-gallery-content:hover {
  background: #ffffff;
  box-shadow: 0px 4px 32px #e6ebea;
  border-radius: 4px;
  cursor: pointer;
}
