p,
div {
  margin: 0;
  padding: 0;
}

#list-gallery-content {
  display: flex;
  width: 1140px;
  max-height: 199px;
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  border-radius: 4px;
  background: #fff;

  .list-image-content {
    border-radius: 4px;
    width: 359px;
    height: 199px;
  }
}

@media screen and (max-width: 1199px) {
  #list-gallery-content {
    width: 960px;
    height: 166px;

    .list-image-content {
      width: 299px;
      height: 166px;
    }
  }

  .list-text {
    display: none;
  }

  .user-data-added-news {
    min-width: 322px;
  }
}

@media screen and (max-width: 768px) {
  #list-gallery-content {
    width: 742px;
    height: 191px;

    .list-image-content {
      width: 214px;
      height: 191px;
      object-fit: cover;
    }
  }

  .user-data-added-news {
    min-width: 322px;
  }

  .user-data-text-date:nth-child(2) {
    max-height: 26px;
    display: block;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 576px) {
  #list-gallery-content {
    width: 548px;
    height: 185px;

    .list-image-content {
      display: none;
    }
  }
}

.news-content {
  margin-left: 16px;
  padding: 16px;

  .added-data {
    .ul-eco-buttons {
      opacity: 0.8;
      font-family: opensans, sans-serif;
      font-size: 16px;
      line-height: 14px;
      color: #13aa57;
      display: inline-block;
      margin: 0 16px 0 0;
      text-transform: capitalize;
    }

    .word-wrap {
      word-break: break-word;
    }
  }

  .title-list {
    overflow: hidden;
    max-height: 128px;
    margin: 8px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #313131;
  }

  .list-text {
    overflow: hidden;
    max-height: 52px;
    margin: 8px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #313131;
    white-space: pre-wrap;
  }

  .user-data-added-news {
    height: 24px;
    margin: 16px 0 0 0;
    display: flex;
    flex-wrap: wrap;

    .user-data-text-date {
      margin-right: 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #666;
      mix-blend-mode: normal;
      opacity: 0.6;

      .icon {
        align-items: center;
        margin-right: 4px;
      }
    }

    .user-data-text-date:nth-child(2) {
      max-height: 26px;
      display: block;
      white-space: nowrap;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#list-gallery-content:hover {
  background: #fff;
  box-shadow: 0 4px 32px #e6ebea;
  border-radius: 4px;
  cursor: pointer;
}
