$color-greenCity-green: #13aa57;
$--theme-gray: #313131;
$--theme-fotn-gray: #666;

p,
div {
  margin: 0;
  padding: 0;
}

.eco-news_list-view-wrp {
  height: 185px;
  -webkit-box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  border-radius: 4px;
  background: #fff;
}

.eco-news_list-img {
  display: none;
}

.eco-news_list-tag {
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-greenCity-green;
  margin-right: 5px;
}

.eco-news_list-content {
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 8px auto 8px 20px;
  grid-template-rows: 20px auto 20px;
  row-gap: 8px;
  height: 100%;
}

.eco-news_list-content-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: --theme-gray;
  margin-bottom: 8px;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
}

.eco-news_list-content-text {
  display: none;
}

.eco-news_list-autors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: --theme-fotn-gray;
  mix-blend-mode: normal;
  opacity: 0.6;

  img {
    margin-right: 5px;
  }

  p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.eco-news_data-text-date {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .eco-news_list-img {
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    margin: auto;
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .eco-news_list-view-wrp {
    height: 190px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 190px auto;
    grid-template-columns: 190px auto;
  }
}

@media (min-width: 1024px) {
  .eco-news_list-view-wrp {
    height: 167px;
    -ms-grid-columns: 300px auto;
    grid-template-columns: 300px auto;
  }

  .eco-news_list-content-title {
    font-size: 21px;
    line-height: 26px;

    p {
      -webkit-line-clamp: 2;
    }
  }
}

@media (min-width: 1440px) {
  .eco-news_list-view-wrp {
    height: 200px;
    -ms-grid-columns: 360px auto;
    grid-template-columns: 360px auto;
  }

  .eco-news_list-content-title {
    p {
      -webkit-line-clamp: 1;
    }
  }

  .eco-news_list-content {
    -ms-grid-rows: 20px 26px auto 20px;
    grid-template-rows: 20px 26px auto 20px;
  }

  .eco-news_list-content-text {
    display: block;
    font-size: 14px;
    line-height: 21px;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
    }
  }
}
