@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

$title-font: 'Montserrat';
$main-font: 'Open Sans';

.container {
  margin: 0 auto;
}

.word-wrap {
  word-break: break-word;
}

.top-elements,
.button-content,
.news-info,
.news-links-images {
    display: flex;
    align-items: center;
}

.news-info,
.news-text,
.edit-news,
.tags-item,
.back-button {
    font-family: $main-font;
}

.top-elements {
    margin-top: 54px;
    justify-content: space-between;
}

.back-button {
    font-size: 1rem;
    line-height: 19px;
    text-decoration-line: underline;
}

.button-link {
    color: #494A49;
}

.button-arrow {
    margin-right: 6px;
}

.edit-news {
    padding: 12px 32px;
    color: #13AA57;
    font-size: 1rem;
    line-height: 16px;
    font-weight: 700;
    border: 1px solid #13AA57;
    border-radius: 3px;
}

.tags,
.news-content {
    text-align: center;
}

.tags {
    padding: 76px 0 24px 0;
    display: flex;
    justify-content: center;
}

.tags-item {
    color: #666666;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 16px;
    margin: 0 8px 0;
    padding: 8px 16px;
    border: 1px solid #878787;
    border-radius: 25px;
}

.news-title-container {
    display: flex;
    justify-content: center;
}

.news-title {
    color: #494A49;
    font-weight: 500;
    width: 100%;
    font-size: calc(24px + (40 - 24) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(32px + (48 - 32) * ((100vw - 320px) / (1440 - 320)));
    font-family: $title-font;
}

.news-info {
    padding: 24px 0;
    display: flex;
    justify-content: center;
}

.news-info-date,
.news-info-author {
    color: #494A49;
    font-size: 24px;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(16px + (40 - 16) * ((100vw - 320px) / (1440 - 320)));
}

.news-info-dot {
    padding: 0 32px 0;
}

.news-image-img {
    width: 100%;
    object-fit: contain;
}

.news-links-images {
    flex-direction: column;
}

.news-links-img {
    margin: 9px 0;
}

.news-text-container {
    display: flex;
    margin-top: 37px;
}

.news-text {
    margin-left: 74px;
    color: #000000;
    text-align: left;
}

.news-text-content {
    width: 100%;
    font-size: 18px;
    line-height: 32px;
}

.source-field {
    margin-top: 32px;
    display: flex;
}

.source-title {
    font-family: $main-font;
    font-size: 24px;
    line-height: 40px;
    color: #494A49;
    mix-blend-mode: normal;
    margin-right: 8px;
}

.source-text {
    font-family: $main-font;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-top: 6px;
}

.wrap {
    width: 100vw;
    margin-left: calc(-50vw + 50% - 8px);
    position: relative;
}

@media only screen and (max-width: $bp-tablet) {
    .news-text-container {
        flex-direction: column;
        margin-top: 0px;

        .news-links-images {
            flex-direction: row;
            justify-content: center;
            padding: 53px 0;
            margin-top: 0px;
            
            .news-links-img {
                margin-right: 32px;
            }
        }

        .news-text {
            padding: 0px;
            margin-left: 0px;
        }
    }
}

@media only screen and (max-width: $bp-smallest) {
    .news-info {
        flex-direction: column;
    }
}