<div class="wrapper"
     *ngIf="newsItem"
>
  <div class="top-elements">
    <div class="back-button">
      <a [routerLink]="['/news']"
         class="button-link">
        <div class="button-content">
          <div class="button-arrow">
            <img [src]="images.arrowLeft"
                 alt="arrow"
                 class="button-arrow-img"
            >
          </div>
          <div class="button-text">{{ "eco-news-single-view.back-button" | translate }}</div>
        </div>
      </a>
    </div>
    <div class="edit-news"
         *ngIf="newsItem.author.id === userId">
      {{ "eco-news-single-view.edit-news-button" | translate }}
    </div>
  </div>
  <div class="tags">
    <div class="tags-item"
         *ngFor="let tag of newsItem.tags"
    >
      {{ "eco-news-single-view.tags." + tag.toLowerCase() | translate }}
    </div>
  </div>
  <div class="news-content">
    <div class="news-title-container">
      <div class="news-title word-wrap">
        {{ newsItem.title }}
      </div>
    </div>
    <div class="news-info">
      <div class="news-info-date">{{ newsItem.creationDate | date: 'mediumDate' }}</div>
      <div class="news-info-dot">
        <img [src]="images.ellipse"
             alt="dot"
        >
      </div>
      <div class="news-info-author">
        {{ "eco-news-single-view.author" | translate }} {{ newsItem.author.name}}
      </div>
    </div>
    <img [src]="checkNewsImage()"
         alt="news-image"
         class="news-image-img"
    >
    <div class="news-text-container">
      <div class="news-links-images">
        <img [src]="images.twitter"
             alt="twitter"
             class="news-links-img"
        >
        <img [src]="images.linkedIn"
             alt="linkedin"
             class="news-links-img"
        >
        <img [src]="images.facebook"
             alt="facebook"
             class="news-links-img last-img"
        >
      </div>
      <div class="news-text">
        <div class="news-text-content word-wrap">
          {{ newsItem.text }}
        </div>
        <div class="source-field"
             *ngIf="newsItem?.text"
        >
          <div class="source-title">
            {{ "eco-news-single-view.news-source" | translate }}
          </div>
          <a href="{{ newsItem?.text }}"
             class="source-text word-wrap"
          >
            {{ newsItem?.text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <app-eco-news-widget></app-eco-news-widget>
</div>
<div class="wrapper">
  <app-comments-container></app-comments-container>
</div>
