<div class="w-100">
  <ng-container *ngFor="let _ of $days | async; index as i">
    <app-date-time
      (destroy)="childrenDestroy($event)"
      (formEmitter)="checkForm($event)"
      [dayNumber]="i"
      [formInput]="formInput && formInput[i]?.dateTime"
      [sharedKey]="i"
    ></app-date-time>
    <app-place-online
      (destroy)="childrenDestroy($event)"
      (formEmitter)="checkForm($event)"
      [dayNumber]="i"
      [formInput]="formInput && formInput[i]?.placeOnline"
      [sharedKey]="i"
    ></app-place-online>
  </ng-container>
</div>
