<div class="new-message-window">
  <div class="new-msg-title">
    <span class="msg-title">New Message</span>
    <button class="close-new-msg" (click)="close()" title="Close">&times;</button>
  </div>
  <div class="receiver">
    <div *ngIf="chatsService.currentChat" class="account">
      <img [src]="chatIcons.userLogo" alt="user-logo" />
      <span class="chat-name">{{ chatsService.currentChat.name }}</span>
    </div>
  </div>
  <div class="chat" #chat>
    <div *ngIf="isHaveMessages" class="chat-messages">
      <div class="messages-from-day" *ngFor="let messagesFromDay of chatsService.currentChatMessagesStream$ | async | messageFromDay">
        <div class="chat-days-separate-line">
          <span>{{ messagesFromDay[0].createDate | date: 'dd.MM.yyyy' }}</span>
        </div>
        <div class="message" *ngFor="let message of messagesFromDay" [class.own]="message.senderId === userService.userId">
          <img [src]="chatIcons.userLogo" alt="user logo" />
          <div class="msg-block">
            <span>{{ message.content }}</span>
          </div>
          <span class="msg-time">{{ message.createDate | date: 'HH:mm' }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!isHaveMessages">
      <div class="emptyChatPic"><img [src]="chatIcons.windowEmptyBack" alt="" /></div>
      <span class="emptyChatText"> {{ 'chat.empty-chat' | translate }} </span>
    </div>
  </div>
  <form class="message-sender" (ngSubmit)="sendMessage()">
    <div class="sender-additional-buttons">
      <button type="button">
        <img [src]="chatIcons.paperClip" alt="clip" title="Add file" />
      </button>
      <button type="button">
        <img [src]="chatIcons.smile" alt="smile" title="Add emoji" (click)="toggleEmojiPicker()" />
      </button>
    </div>
    <input type="text" placeholder="Type something..." [formControl]="messageControl" />
    <button class="send-button" (click)="sendMessage()" type="submit" [disabled]="!messageControl.value || !chatsService.currentChat">
      <img [src]="chatIcons.send" alt="send" title="Send mail" />
    </button>
  </form>
  <emoji-mart
    *ngIf="showEmojiPicker"
    class="emoji-mart"
    [emojiSize]="20"
    [totalFrequentLines]="2"
    [darkMode]="false"
    [showPreview]="false"
    (emojiSelect)="addEmoji($event)"
    title="Pick your emoji…"
  ></emoji-mart>
</div>
