@import 'src/app/chat/chat-styles-reset';

:host {
  width: 100%;
  height: 100%;
}

.message-window {
  width: 250px;
  position: fixed;
  bottom: 0;
  right: 330px;
  z-index: 100;

  @media (max-width: 576px) {
    right: 4px;
    bottom: 121px;
  }

  .chat {
    width: 100%;
    height: 200px;
    flex: 1;
    overflow-y: scroll;
  }
}

.new-message-window {
  box-sizing: border-box;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 25%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: var(--primary-white);
  z-index: 100;
}

.new-msg-title {
  @include flex(row, space-between, center);

  padding: 0 10px;
  background: var(--quaternary-dark-grey);
  border: var(--primary-white) solid 0.5px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.msg-title {
  font-size: 12px;
  font-family: var(--primary-font);
  color: var(--primary-white);
}

.close-new-msg {
  font-size: 25px;
  cursor: pointer;
  color: var(--primary-white);
}

.chat-name {
  font-size: 14px;
  font-family: var(--primary-font);
  color: var(--primary-white);
}

.receiver {
  @include flex(row, space-between, center);

  width: 100%;
  height: 45px;
  position: relative;
  padding: 0 10px;
  border-left: var(--primary-white) solid 0.5px;
  border-right: var(--primary-white) solid 0.5px;
  background: var(--quaternary-dark-grey);

  .account {
    @include flex(row, center, center);

    color: var(--primary-white);
    font-family: var(--primary-font);

    .chat-name {
      padding-left: 10px;
    }
  }
}

.chat-days-separate-line {
  margin: 15px 0;
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    color: #878787;
    font-size: 16px;
  }

  &::after,
  &::before {
    content: '';
    width: 25%;
    height: 1px;
    border-radius: 1px;
    display: block;
    position: absolute;
    background: #bebebe;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.join-chat {
  @include flex(row, center, center);

  width: 100%;
  height: 40px;
  background: var(--quaternary-dark-grey);

  button {
    background: var(--primary-white);
  }
}

.message-sender {
  @include flex(row, space-between, center);

  padding: 10px;
  background: var(--quaternary-dark-grey);

  img {
    height: 20px;
  }

  button {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;

    @include flex(row, center, center);

    &:hover {
      background: var(--quaternary-grey);
    }

    &:disabled:hover {
      cursor: unset;
      background: var(--quaternary-dark-grey);
    }
  }

  input {
    width: 100%;
    border: none;
    font-size: 15px;
    margin: 0 10px;
    background: var(--quaternary-dark-grey);
    color: var(--primary-white);

    &:focus {
      outline: 0;
    }
  }
}

.message-hint {
  position: relative;
  padding: 2px;
  border: 1px solid grey;
  font-size: 11px;
  font-style: italic;
  overflow: hidden;

  .message-content {
    max-height: 35px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cancel-editing {
    position: absolute;
    top: -2px;
    right: 0;
  }

  img {
    width: 8px;
    height: 8px;
  }
}

.attached-file {
  @include flex(row, flex-start, flex-end);

  column-gap: 5px;
  padding: 10px 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 0;

  .file-box {
    max-width: 70px;
    text-align: center;
  }

  .file-icon {
    width: 20px;
  }

  .calcel-file {
    display: block;
    align-self: flex-start;
  }

  .calcel-file > img {
    width: 16px;
    height: 16px;
  }

  p {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.uploaded-image {
  height: 46px;
  margin-right: 35px;
  border-radius: 8px;
}

.emoji-mart {
  position: absolute;
  bottom: 0;
  right: 250px;
  box-sizing: border-box;
}

::ng-deep .emoji-mart-scroll {
  height: 150px;
}

.sender-additional-buttons {
  @include flex(row, space-between, center);

  column-gap: 10px;
}

.file-upload label:hover {
  cursor: pointer;
}

.file-upload input[type='file'] {
  display: none;
}

.current-chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .chat {
    width: 100%;
    overflow-y: scroll;
    min-height: calc((80vh - 108px));
    max-height: calc((80vh - 108px));
    align-content: end;
    /* stylelint-disable */
    @media (max-width: 575px) {
      min-height: calc((100vh - 159px));
      max-height: calc((100vh - 159px));
      min-height: calc((100dvh - 159px));
      max-height: calc((100dvh - 159px));
    }
    /* stylelint-enable */
  }
}
