@import 'src/app/chat/chat-styles-reset';

:host {
  position: fixed;
  bottom: 0;
  right: 330px;
  width: 250px;
}

.new-message-window {
  width: 250px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 25%);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: var(--primary-white);
  z-index: 1000;
}

.new-msg-title {
  @include flex(row, space-between, center);

  padding: 0 10px;
  background: var(--quaternary-dark-grey);
  border: var(--primary-white) solid 0.5px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.msg-title {
  font-size: 12px;
  font-family: var(--primary-font);
  color: var(--primary-white);
}

.close-new-msg {
  font-size: 25px;
  cursor: pointer;
  color: var(--primary-white);
}

.chat-name {
  font-size: 14px;
  font-family: var(--primary-font);
  color: var(--primary-white);
}

.receiver {
  @include flex(row, space-between, center);

  width: 100%;
  height: 45px;
  position: relative;
  padding: 0 10px;
  border-left: var(--primary-white) solid 0.5px;
  border-right: var(--primary-white) solid 0.5px;
  background: var(--quaternary-dark-grey);

  .account {
    @include flex(row, center, center);

    color: var(--primary-white);
    font-family: var(--primary-font);

    .chat-name {
      padding-left: 10px;
    }
  }
}

.chat {
  width: 100%;
  height: 270px;
  flex: 1;
  overflow-y: scroll;

  .emptyChatText {
    color: var(--Greyscale-07, #444E55);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    top: 190px;
    display: flex;
    justify-content: center;
    text-align: center;
    }

  .emptyChatPic {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
}


.chat-days-separate-line {
  margin: 15px 0;
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    color: #878787;
    font-size: 16px;
  }

  &::after,
  &::before {
    content: '';
    width: 25%;
    height: 1px;
    border-radius: 1px;
    display: block;
    position: absolute;
    background: #bebebe;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.message-sender {
  @include flex(row, space-between, center);

  padding: 10px;
  background: var(--quaternary-dark-grey);

  img {
    height: 20px;
  }

  button {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;

    @include flex(row, center, center);

    &:hover {
      background: var(--quaternary-grey);
    }
  }

  input {
    width: 100%;
    border: none;
    font-size: 15px;
    margin: 0 10px;
    background: var(--quaternary-dark-grey);
    color: var(--primary-white);

    &:focus {
      outline: 0;
    }
  }
}

.message {
  @include flex(row, flex-start, flex-end);

  column-gap: 10px;
  padding: 10px;
  width: 100%;

  img {
    height: 25px;
  }

  &.own {
    justify-content: flex-end;

    img {
      display: none;
    }
  }
}

.msg-block {
  @include flex(row, flex-start, center);

  max-width: 45%;
  padding: 8px;
  border-radius: 10px 10px 10px 0;
  position: relative;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 25%);
  background: var(--primary-green);

  span {
    font-size: 14px;
    font-family: var(--primary-font);
    color: #fff;
    overflow-wrap: break-word;
    width: 100%;
  }
}

.message.own .msg-block {
  justify-content: flex-end;
  border-radius: 10px 10px 0 10px;
  background: var(--quaternary-dark-grey);
}

.msg-time {
  font-size: 12px;
  text-overflow: clip;
}

.emoji-mart {
  position: absolute;
  bottom: 0;
  right: 250px;
  box-sizing: border-box;
}

::ng-deep .emoji-mart-scroll {
  height: 150px;
}

.sender-additional-buttons {
  @include flex(row, space-between, center);

  column-gap: 10px;
}
