<div class="new-message-window">
  <div class="new-msg-title">
    <span class="msg-title">New Message</span>
    <button class="close-new-msg" (click)="close()" title="Close">&times;</button>
  </div>
  <div class="receiver">
    <div *ngIf="chatsService.currentChat" class="account">
      <img [src]="chatIcons.userLogo" alt="user-logo" />
      <span class="chat-name">{{ chatsService.currentChat.name }}</span>
    </div>
  </div>

  <div class="chat" #chat>
    <div *ngIf="isHaveMessages" class="chat-messages">
      <div *ngFor="let message of currentChatMessages | async">
        <div *ngIf="message.isFirstOfDay" class="chat-days-separate-line">
          <span>{{ message.createDate | date: 'dd.MM.yyyy' }}</span>
        </div>
        <div
          [ngClass]="{
            message: true,
            own: message.senderId === userService.userId,
            editing: message.id === messageToEdit?.id
          }"
        >
          <button
            class="button-icon delete-message"
            *ngIf="message.senderId === userService.userId"
            (click)="openDeleteMessageDialog(message)"
          ></button>
          <button
            class="button-icon edit-message"
            *ngIf="message.senderId === userService.userId"
            (click)="toggleEditMode(message)"
          ></button>
          <img [src]="chatIcons.userLogo" alt="user logo" />
          <div class="msg-block">
            <span>{{ message.content }}</span>
          </div>
          <span class="msg-time">{{ message.createDate | date: 'HH:mm' }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isHaveMessages">Chat hasn't messages yet</div>

  <div *ngIf="isEditMode" class="message-hint">
    <div class="message-content">{{ messageToEdit.content }}</div>
    <button class="button-icon cancel-editing" *ngIf="isEditMode" (click)="toggleEditMode()"></button>
  </div>

  <form *ngIf="!isAdmin || (chatsService.isAdminParticipant$ | async)" class="message-sender" (ngSubmit)="sendMessage()">
    <div class="sender-additional-buttons">
      <button type="button">
        <img [src]="chatIcons.paperClip" alt="clip" title="Add file" />
      </button>
      <button *ngIf="!isSupportChat" type="button">
        <img [src]="chatIcons.smile" alt="smile" title="Add emoji" (click)="toggleEmojiPicker()" />
      </button>
    </div>
    <input type="text" placeholder="Type something..." [formControl]="messageControl" />
    <button class="send-button" (click)="sendMessage()" type="submit" [disabled]="!messageControl.value || !chatsService.currentChat">
      <img [src]="chatIcons.send" alt="send" title="Send mail" />
    </button>
  </form>
  <div *ngIf="isAdmin && (chatsService.isAdminParticipant$ | async) === false" class="join-chat">
    <button (click)="chatsService.addAdminToChat(userService.userId)">Join chat</button>
  </div>

  <emoji-mart
    *ngIf="showEmojiPicker"
    class="emoji-mart"
    [emojiSize]="20"
    [totalFrequentLines]="2"
    [darkMode]="false"
    [showPreview]="false"
    (emojiSelect)="addEmoji($event)"
    title="Pick your emoji…"
  ></emoji-mart>
</div>
