.main-goal-list-container {
  display: flex;
  width: 276px;
  margin-top: 10px;
}

.goal-list-message {
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
  color: var(--second-color-font);
}

.full-goal-list-text {
  margin-left: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--primary-green);
  cursor: pointer;
}

.full-goal-list-arrow {
  font-size: 22px;
  color: var(--primary-green);
  cursor: pointer;
}

.full-goal-list-text:hover {
  color: var(--tertiary-light-green);
  text-decoration: underline;
  cursor: pointer;
}
