<div class="btn-wrapper">
  <app-reply-comment (click)="toggleReply()"></app-reply-comment>
  <app-view-replies [repliesCounter]="repliesCounter"
                    (click)="showReliesList()"></app-view-replies>
</div>
<app-add-comments *ngIf="showAddReply && isLoggedIn" 
                  [commentId]="commentId"
                  (elementsList)="addReply($event)"
                  class="as"></app-add-comments>

<div *ngIf="showRelies">
  <mat-spinner class="spinner" 
               *ngIf="elementsList.length < 1
                && elementsArePresent; else reply"></mat-spinner>
  <ng-template #reply>
    <app-comments-list [elementsList]="elementsList"
                       [commentId]="commentId"
                       [config]="config"
                       (changedList)="deleteComment($event)"
                       dataType="reply"
                       [isLoggedIn]="isLoggedIn"
                       [userId]="userId"
                       class="list">
    </app-comments-list>
    <app-comment-pagination [config]="config"
                            (setPage)="addElemsToRepliesList($event-1)">
    </app-comment-pagination>
  </ng-template>
</div>