@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$title-font: 'Montserrat', sans-serif;
$main-font: 'Open Sans', sans-serif;
$sign-up-google-font: 'Roboto';
$errorColor : #f03127;
$linkColor: #056b33;
$secondaryTextColor: #494a49;
$headerColor: #2b292d;
$borderColor:  #878787;

.title-text {
  margin-bottom: 8px;
  font-family: $title-font;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: $headerColor;
}

.subtitle-text {
  font-size: 16px;
  line-height: 16px;
  color: $secondaryTextColor;
}

.form-content-container {
  display: flex;
  flex-direction: column;
  margin: 19px 0 40px;

  .content-label {
    margin: 21px 0 4px;
    font-size: 12px;
    line-height: 14px;
    color: $secondaryTextColor;
  }

  .under-error {
    margin: 9px 0 4px;
  }

  .main-data-input,
  .main-data-input-password {
    border: 1px solid $borderColor;
    box-sizing: border-box;
    border-radius: 5px;
    width: 368px;
    height: 48px;
  }

  .main-data-input {
    padding: 12px 40px 12px 16px;
  }

  .main-data-input:focus {
    outline: none;
  }

  .main-data-input::placeholder {
    color: $borderColor;
  }

  .main-data-input-password {
    display: flex;

    .password-input {
      padding-left: 16px;
      border: transparent;
      border-radius: 5px;
      width: 90%;
    }

    .password-input:focus {
      height: 46px;
      outline: none;
    }

    .show-password-img {
      align-self: center;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .wrong-input {
    border: 1px solid $errorColor;
  }

  .error-message {
    font-size: 10px;
    line-height: 12px;
    color: $errorColor;
  }

  .alert-general-error {
    position: relative;
    color: $errorColor;
    font-size: 10px;
    line-height: 12px;
    font-family: $main-font;
    margin-bottom: 4px;
  }

  .primary-global-button {
    margin-top: 40px;
    height: 48px;
    width: 368px;
    padding: 16px 116px;
    font-weight: 600;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
      margin-right: 10px;
    }
  }

  .switch-sign-up {
    margin: 8px 0;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $secondaryTextColor;
  }

  .exist-account {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 16px;
    color: $secondaryTextColor;
  }

  .exist-sign-in {
    text-decoration: underline;
    color: $linkColor;
  }
}

@media screen and (max-width: 992px) {
  .main-image {
    display: none;
  }
}

@media (max-width: 375px) {
  .title-text {
    font-size: 32px;
    line-height: 32px;
  }
}
