@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic');

body{
  overflow-x: hidden;
}

.navbar-wrapper input {
  opacity: 0;
}

.lower-navbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -18px 52px 30px #f4f5f7;
  display: flex;
  flex-direction: row;
  height: 82px;
  /* position: fixed;
  left: 0;
  right: 0;
  top: 41px;
  z-index: 2000; */
}

.navbar-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
}

img {
  display: inline-block;
  height: auto;
  width: 102px;
}

ul {
  list-style-type: none;
  display: inline;
  margin: auto 0;
  padding: 0;
}

li {
  display: inline;
  margin-left: 65px;
}

a {
  font-family: 'Open Sans';
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

li a:active{
  color: #13aa57;
}

li a:hover{
  color: #13aa57;
}

@media screen and (max-width: 768px) {

  .navbar-wrapper {
    display: block;
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 1;
  }

  .navbar-wrapper input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .navbar-wrapper span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
  }

  .navbar-wrapper span:first-child {
    transform-origin: 0% 0%;
  }

  .navbar-wrapper span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .navbar-wrapper input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #13aa57;
  }

  .navbar-wrapper input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .navbar-wrapper input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu {
    position: absolute;
    width: 768px;
    top: 52px;
    left: -686px;
    background: #ededed;
    list-style-type: none;
    opacity: 0;
  }

  .menu li {
    padding: 10px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
  }

  .navbar-wrapper input:checked ~ ul {
    opacity: 1;
    transition-duration: 0.8s
  }

  .navbar-wrapper img{
    position: absolute;
    margin-left: -650px;
    margin-top: -20px;
  }

  .menu li a:active{
    color: #13aa57;
  }

  .menu li a:hover{
    color: #13aa57;
  }

}

@media screen and (max-width: 426px) {

  .menu li {
    display: block;
    margin-left: 43%;
  }

}
