@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap&subset=cyrillic');

.lower-navbar {
  align-items: center;
  box-shadow: 0 -18px 52px 30px #f4f5f7;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 82px;
}

.navbar-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
}

img {
  display: inline-block;
  height: auto;
  width: 102px;
}

ul {
  list-style-type: none;
  display: inline;
  margin: auto 0;
  padding: 0;
}

li {
  display: inline;
  margin-left: 65px;
}

a {
  font-family: 'Open Sans';
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.is-active {
  color: #13aa57;
}

@media screen and (max-width: 1024px) {
  li {
    margin-left: 40px;
  }
}