<nav class="lower-navbar">
  <div class="navbar-wrapper">
    <img [src]="logo" id="green-city-logo" alt="green-city-logo" />
    <ul>
      <li>
        <a href="">{{ "user.lower-nav-bar.home" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "user.lower-nav-bar.about-us" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "user.lower-nav-bar.eco-events" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "user.lower-nav-bar.tips" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "user.lower-nav-bar.map" | translate }}</a>
      </li>
      <li>
        <a href="">{{ "user.lower-nav-bar.my-habits" | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
