.other-event {
  background-color: #fff;
  height: 50%;

  p {
    margin-bottom: 15px !important;
  }

  h3 {
    font-family: var(--primary-font);
    color: #000;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    height: 100px;
    line-height: 1.5;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
}

.main-event {
  background-color: #fff;
  padding: 20px 40px 30px;

  h3 {
    color: #000;
    font-family: var(--primary-font);
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: normal;
    margin-bottom: 20px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}

.event-date {
  color: var(--primary-grey) !important;
  font-family: var(--primary-font);
  font-size: 14px;
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 2.8px;
  margin-bottom: 10px;
}

.read-more {
  color: var(--primary-green) !important;
  font-family: var(--primary-font);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
}

.read-more img {
  margin-left: 19px;
}

@media screen and (max-width: 768px) {
  .other-event h3 {
    font-size: 16px !important;
    line-height: 1.19 !important;
    height: 72px;
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 425px) {
  .event-date {
    font-size: 12px !important;
    line-height: 1.33 !important;
    margin-bottom: 4px !important;
  }

  .other-event h3 {
    font-size: 16px !important;
    line-height: 1.19 !important;
    height: 38px;
    margin-bottom: 10px !important;
  }

  .read-more {
    font-size: 14px !important;
    line-height: 1.14 !important;
  }

  .read-more img {
    margin-left: 10px !important;
  }
}
