<div [formGroup]="dayForm" class="date-time">
  <span class="day">{{ dayNumber + 1 }} {{ 'create-event.day' | translate }}</span>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'create-event.choose-date' | translate }}</mat-label>
    <input matInput [matDatepicker]="dp" formControlName="startDate" [min]="minDate" [max]="maxDate" />
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>

    <mat-error *ngIf="startDate.hasError('dateIncorrect')">{{ 'create-event.date-error-format' | translate }}</mat-error>
    <mat-error *ngIf="startDate.hasError('dateInPast')">{{ 'create-event.date-error' | translate }}</mat-error>
  </mat-form-field>

  <div class="time">
    <mat-form-field appearance="outline" class="time-item">
      <mat-label>{{ 'create-event.set-start-time' | translate }}</mat-label>
      <input #startTimeRef [matAutocomplete]="startOptions" formControlName="startTime" matInput maxlength="5" [readonly]="allDay.value" />
      <mat-autocomplete #startOptions="matAutocomplete">
        <mat-option *ngFor="let time of startOptionsArr" [value]="time">
          {{ time }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <h5 class="dash">—</h5>

    <mat-form-field appearance="outline" class="time-item">
      <mat-label>{{ 'create-event.set-end-time' | translate }}</mat-label>
      <input #endTimeRef [matAutocomplete]="endOptions" formControlName="finishTime" matInput maxlength="5" [readonly]="allDay.value" />
      <mat-autocomplete #endOptions="matAutocomplete">
        <mat-option *ngFor="let time of endOptionsArr" [value]="time">
          {{ time }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <mat-checkbox (change)="toggleAllDay()" class="mr-2" color="primary" formControlName="allDay"
    >{{ 'create-event.all-day' | translate }}
  </mat-checkbox>
</div>
