<main id="main-content" role="main">
  <div *ngIf="newsItem" class="container">
    <div class="top-elements">
      <div class="back-button">
        <a [routerLink]="routedFromProfile ? [backRoute, { tabId: 1 }] : [backRoute]" class="button-link">
          <div class="button-content">
            <div class="button-arrow">
              <img [src]="images.arrowLeft" alt="arrow" aria-hidden="true" class="button-arrow-img" />
            </div>
            <div class="button-text">{{ 'eco-news-single-view.back-button' | translate }}</div>
          </div>
        </a>
      </div>
      <div *ngIf="newsItem.author.id === userId" class="edit-delete-block">
        <button (click)="deleteNews()" class="secondary-global-button delete-news-button" type="button">
          {{ 'eco-news-single-view.delete-news-button' | translate }}
        </button>
        <a [queryParams]="{ id: newsItem.id }" [routerLink]="['/news/create-news']">
          <div class="edit-news">
            {{ 'eco-news-single-view.edit-news-button' | translate }}
          </div>
        </a>
      </div>
    </div>
    <div class="tags">
      <div *ngFor="let tag of tags" class="tags-item">
        {{ tag }}
      </div>
    </div>
    <div class="news-content">
      <div class="news-title-container">
        <div class="news-title word-wrap">
          {{ newsItem.title }}
        </div>
      </div>
      <div class="news-info">
        <div class="news-info-date">{{ newsItem.creationDate | dateLocalisation }}</div>
        <div class="news-info-dot">
          <img [src]="images.ellipse" alt="dot" />
        </div>
        <div class="news-info-author">{{ 'eco-news-single-view.author' | translate }} {{ newsItem.author.name }}</div>
        <div class="like_wr">
          <img *ngIf="isAuthor || !userId; else clickable" [src]="likesType.like" alt="like" class="news_like disable" />
          <ng-template #clickable>
            <img (click)="onLikeNews()" *ngIf="!isAuthor" [src]="isLiked ? likesType.liked : likesType.like" alt="like" class="news_like" />
          </ng-template>
          <span class="numerosity_likes">{{ newsItem.likes }}</span>
        </div>
      </div>
      <img [src]="checkNewsImage()" alt="news-image" class="news-image-img" />
      <div class="news-text-container">
        <div class="news-links-images">
          <a (click)="onSocialShareLinkClick('twitter')">
            <img [src]="images.twitter" alt="twitter" class="news-links-img" />
          </a>
          <!-- not sure what will work on the local host or on the github pages -->
          <a (click)="onSocialShareLinkClick('linkedin')">
            <img [src]="images.linkedIn" alt="linkedin" class="news-links-img" />
          </a>
          <!-- More FB parameters will be taken from OG meta tags -->
          <a (click)="onSocialShareLinkClick('fb')">
            <img [src]="images.facebook" alt="facebook" class="news-links-img last-img" />
          </a>
        </div>
        <div class="news-text">
          <div class="news-text-content word-wrap ql-snow">
            <div [innerHTML]="newsItem.content | safeHtml" class="ql-editor"></div>
          </div>
          <div *ngIf="newsItem?.source" class="source-field">
            <div class="source-title">
              {{ 'eco-news-single-view.news-source' | translate }}
            </div>
            <a class="source-text word-wrap" href="{{ newsItem?.source }}">
              {{ newsItem?.source | UrlHostname }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-eco-news-widget></app-eco-news-widget>
    <app-comments-container [entityId]="newsId"></app-comments-container>
  </div>
</main>
