@import 'src/typography/_resp.scss';

.main-container {
  position: relative;
  max-width: 90vw;
  padding: 72px 80px 30px;
  font-family: var(--tertiary-font);
  background: var(--primary-white);

  .cancel {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px var(--primary-white);
    }
  }

  ::ng-deep .dropzone {
    width: 99% !important;
    margin: 1px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .selected-photo {
      max-height: 148px;
      box-sizing: content-box;
    }

    p {
      margin: 40px 0;
      font-weight: 700;
      width: 519px;
      height: 28px;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
    }

    .message {
      font-family: var(--primary-font);
      font-size: 14px;
      padding: 0;
      margin: 0;
      margin-top: -30px;
      z-index: 10;
      color: var(--quaternary-grey);
      width: 100%;
      text-align: start;
    }

    .warning {
      color: var(--error-ligh-red);
      margin-top: 0;
    }

    .cropper-block {
      min-height: 148px;
      width: 100%;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        font-family: var(--tertiary-font);
        letter-spacing: 0.1px;
      }

      .primary-global-button,
      .secondary-global-button {
        margin: 0 8px;

        .spinner-border {
          margin-right: 10px;
        }
      }

      input {
        display: none;
      }
    }
  }
}

@include responsiveRange(sm, md) {
  .main-container {
    min-width: 518px;
    padding: 72px 60px 30px;
  }
}

@include responsivePCFirst(sm) {
  .main-container {
    width: 90vw;
    height: 100%;
    padding: 72px 40px 30px;
    overflow: auto;

    .wrapper {
      p {
        width: 288px;
        height: 56px;
      }

      .buttons {
        align-items: unset;
        flex-direction: column;

        .primary-global-button,
        .secondary-global-button {
          margin: 8px 0;
          width: 288px;
        }
      }
    }
  }
}

@media screen and (max-height: 430px) {
  .main-container {
    align-items: unset;

    .wrapper {
      justify-content: unset;
      padding: 15px 0;
    }
  }
}
