<div class="main-container">
  <div class="wrapper" *ngIf="!selectedPhoto && !isNotification; else elseBlock">
    <app-user-profile-image [imgPath]="avatarImg" [additionalImgClass]="'big'" [firstName]="data.firstName"> </app-user-profile-image>
    <p *ngIf="isWarning" class="warning">{{ 'user.edit-profile.picture-tooltip' | translate }}</p>
    <p *ngIf="!isWarning">{{ 'user.edit-profile.change-photo' | translate }}</p>
    <div class="buttons">
      <button type="button" class="primary-global-button" (click)="closeEditPhoto()" tabindex="0">
        {{ 'user.edit-profile.btn.cancel' | translate }}
      </button>
      <button type="button" class="primary-global-button delete" [disabled]="!avatarImg" (click)="isNotification = true" tabindex="0">
        {{ 'user.edit-profile.btn.delete' | translate }}
      </button>
      <button class="secondary-global-button" (click)="openDragAndDropPhotoPopUp()">
        {{ 'user.edit-profile.btn.new-photo' | translate }}
      </button>
      <!-- <label tabindex="0" class="secondary-global-button" (keyup)="openFilesWindow($event)">
        {{ 'user.edit-profile.btn.new-photo' | translate }}
        <input type="file" accept=".jpg, .jpeg, .png" (change)="onSelectPhoto($event)" />
      </label> -->
    </div>
  </div>
  <ng-template #elseBlock>
    <div *ngFor="let file of files">
      <div class="wrapper">
        <div class="cropper-block">
          <image-cropper
            [maintainAspectRatio]="true"
            [containWithinAspectRatio]="false"
            [roundCropper]="true"
            [resizeToHeight]="148"
            [imageFile]="file.file"
            (imageCropped)="imageCropped($event)"
            class="selected-photo"
          >
          </image-cropper>
        </div>
        <p *ngIf="isWarning" class="warning">{{ 'user.edit-profile.picture-tooltip' | translate }}</p>
        <p *ngIf="!isWarning">{{ 'user.edit-profile.would-you-like' | translate }}</p>
        <div class="buttons">
          <label tabindex="0" class="primary-global-button change" (keyup)="openFilesWindow($event)">
            {{ 'user.edit-profile.btn.change-photo' | translate }}
            <input type="file" accept=".jpg, .jpeg, .png" (change)="onSelectPhoto($event)" />
          </label>
          <button type="button" class="secondary-global-button" [disabled]="isWarning" (click)="savePhoto()" tabindex="0">
            <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{ 'user.edit-profile.btn.save-photo' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <div *ngIf="isNotification" class="wrapper">
    <p>{{ 'user.edit-profile.notification' | translate }}</p>
    <div class="buttons">
      <button type="button" class="primary-global-button confirm-delete" (click)="isNotification = false">
        {{ 'user.edit-profile.btn.continue' | translate }}
      </button>
      <button type="button" class="secondary-global-button" (click)="deletePhoto()">
        <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ 'user.edit-profile.btn.yes-delete' | translate }}
      </button>
    </div>
  </div>
  <button class="cancel" (click)="closeEditPhoto()" tabindex="0">
    <img src="{{ cancelButton }}" alt="cancel" />
  </button>
</div>
