.main-container {
  position: relative;
  width: 615px;
  height: 376px;
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-white);

  .cancel {
    position: absolute;
    top: 26px;
    right: 26px;
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px var(--primary-white);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .selected-photo {
      max-height: 148px;
      max-width: 148px;
      box-sizing: content-box;
    }

    p {
      margin: 32px 0;
      font-weight: 700;
      width: 519px;
      height: 28px;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
    }

    .warning {
      font-family: var(--primary-font);
      font-size: 14px;
      color: var(--error-ligh-red);
      line-height: 0.8rem;
      padding: 0;
    }

    .cropper-block {
      min-height: 148px;
    }

    .buttons {
      display: flex;
      align-items: center;

      .primary-global-button,
      .secondary-global-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
      }

      .primary-global-button {
        width: 98px;
        height: 40px;
        background: var(--primary-white);
        color: var(--primary-green);

        &:hover {
          border: var(--secondary-dark-green);
          color: var(--secondary-dark-green);
        }

        &:focus {
          box-shadow: 0 0 0 3px var(--primary-white);
        }
      }

      .primary-global-button.delete {
        width: 143px;
        height: 40px;
      }

      .primary-global-button.confirm-delete {
        width: 120px;
      }

      .delete {
        background: transparent;
        border: 1px solid var(--primary-green);
        color: var(--primary-green);

        &:hover {
          border: 1px solid var(--error-red);
          background: var(--error-red);
          color: var(--primary-white);
        }

        &:disabled {
          color: var(--primary-green);
          background: transparent;
          border: 1px solid var(--primary-green);
        }
      }

      .secondary-global-button {
        width: 181px;
        height: 40px;
        background: var(--primary-green);
        color: var(--primary-white);

        &:hover {
          background: var(--secondary-dark-green);
        }

        &:focus {
          box-shadow: 0 0 0 3px var(--primary-white);
        }

        .spinner-border {
          margin-right: 10px;
        }
      }

      .save {
        width: 129px;
      }

      .change {
        width: 191px;
        display: flex;
      }

      input {
        display: none;
      }
    }
  }
}

.dropzone-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .dropzone {
    height: 231px;
    width: 100%;
    display: table;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    margin-bottom: 8px;
  }

  .text-wrapper {
    width: 456px;
    height: 231px;
    display: flex;
    justify-content: center;
    align-items: center;

    input[type='file'] {
      position: absolute;
      overflow: hidden;
      z-index: -1;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
    }
  }

  .centered {
    font-size: 18px;
    text-align: center;
    width: 250px;
    font-family: var(--primary-font);

    label > [browse] {
      color: var(--primary-green);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .download-info {
    color: var(--quaternary-grey);
    font-size: 12px;
  }
}

.dropzone-error {
  & .dropzone {
    background-color: var(--error-light-red);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EB180DFF' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  & .download-info {
    color: var(--error-red);
  }
}

@media screen and (max-width: 620px) {
  .main-container {
    width: 548px;
    height: 376px;
  }
}

@media screen and (max-width: 576px) {
  .main-container {
    max-block-size: 376px;
    max-height: 548px;

    .buttons {
      flex-direction: row;

      .primary-global-button {
        width: 98px;
      }
      .primary-global-button.delete {
        width: 143px;
      }

      .secondary-global-button {
        margin: 8px 0;
        width: 181px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .main-container {
    width: 100vw;
    height: 100vh;

    .wrapper {
      p {
        width: 288px;
        height: 56px;
      }

      .buttons {
        flex-direction: column;

        .primary-global-button,
        .primary-global-button.delete,
        .secondary-global-button {
          margin: 8px 0;
          width: 288px;
        }
      }
    }
  }
}
