<div>
  <div class="main">
    <div class="sub-1">
      <div>
        <div class="btn-group" id="control_panel">
          <button class="btn btn-success btn-sm" id="filter_btn" (click)="toggleFilter()">Filter By</button>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                 placeholder="Searching for a place">
        </div>
        <app-filter (apply)="changeZoom($event)" [mapRadius]="mapRadius" *ngIf="isFilter"></app-filter>
        <div *ngIf="!isFilter">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Places</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of place | filter:searchText" (click)="setMarker(p)">
              <td>{{p.name}}
              </td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-success btn-sm" *ngIf="button;" (click)="showAll()">Show all</button>
        </div>
      </div>
    </div>
    <div class="sub-2" #map>
      <agm-map id="map"
               [style.width.px]="map.offsetWidth"
               [style.height.px]="map.offsetHeight"
               (mapReady)="mapReady($event)"
               [latitude]="lat"
               [longitude]="lng"
               [zoom]="zoom"
               (idle)="getList()"
               (boundsChange)="boundsChange($event)"
               [fitBounds]="circleRadius">
        <agm-direction *ngIf="navigationMode" [origin]="origin" [destination]="destination"
                       [travelMode]="travelMode"
                       [provideRouteAlternatives]="true"
                       [visible]="true">
        </agm-direction>
        <app-dialog-favorite-place></app-dialog-favorite-place>
        <agm-marker *ngIf="userMarkerLocation"
                    [latitude]="userMarkerLocation.lat"
                    [longitude]="userMarkerLocation.lng"
                    [markerDraggable]="true"
                    (dragEnd)="setLocationToOrigin($event)"
                    [iconUrl]="icon"
        ></agm-marker>
        <agm-marker (markerClick)="showDetail(p.id)"
                    *ngFor="let p of place; let i = index"
                    [latitude]="p.location.lat"
                    [longitude]="p.location.lng">
          <agm-info-window *ngIf="placeInfo">
            <h5>{{placeInfo.name}}
              <button mat-icon-button style="float: right;  background-color: white; border-width: inherit"
                      (click)="savePlaceAsFavorite(p.id, p.name)">
                <mat-icon svgIcon="star-white"></mat-icon>
              </button>
            </h5>
            <h6>
              <li *ngFor="let obj of placeInfo.specificationValues">{{obj.specification.name}}</li>
            </h6>
            <p>Rate: {{placeInfo.rate}}</p>
            <p>Comments: {{placeInfo.comments.length}}</p>
            <p>{{placeInfo.location.address}}</p>
            <li *ngFor="let openingHoursList of placeInfo.openingHoursList">{{openingHoursList.weekDay}}
              :{{openingHoursList.openTime}}-{{openingHoursList.closeTime}}</li>
            <p>
              <button *ngIf="button" (click)="getDirection(p)">{{navigationButton}} </button>
              <button *ngIf="navigationMode" (click)="changeTravelMode()">{{travelModeButton}}</button>

            </p>
            <p *ngIf="distance">{{distance}}</p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>

  </div>
</div>

