<div>
  <div class="main">
    <div class="sub-1">
      <div>
        <div>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                 placeholder="&#61442;Searching for a place">
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Places</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of place | filter:searchText" (click)="setMarker(p)">
            <td>{{p.name}}</td>
          </tr>
          </tbody>

        </table>
        <button *ngIf="button;" (click)="showAll()">Show all</button>
      </div>
    </div>
    <div class="sub-2">
      <agm-map
        (mapReady)="mapReady($event)"
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        (idle)="getList()"
        (boundsChange)="boundsChange($event)"
      >
        <app-dialog-favorite-place></app-dialog-favorite-place>
        <agm-marker (markerClick)="showDetail(p.id)"
                    *ngFor="let p of place; let i = index"
                    [latitude]="p.location.lat"
                    [longitude]="p.location.lng">
          <agm-info-window *ngIf="placeInfo">

            <h5>{{placeInfo.name}}
              <button mat-icon-button style="float: right;  background-color: white; border-width: inherit" (click)="savePlaceAsFavorite(p.id, p.name)">
                <mat-icon svgIcon="star-white"></mat-icon>
              </button>
            </h5>
            <h6>
              <li *ngFor="let obj of placeInfo.specificationValues">{{obj.specification.name}}</li>
            </h6>
            <p>Rate: {{placeInfo.rate}}</p>
            <p>Comments: {{placeInfo.comments.length}}</p>
            <p>{{placeInfo.location.address}}</p>
            <li *ngFor="let openingHoursList of placeInfo.openingHoursList">{{openingHoursList.weekDay}}
              :{{openingHoursList.openTime}}-{{openingHoursList.closeTime}}</li>
            <p></p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>

  </div>
</div>

