<div class="wraper">
    <div class="order">
        <h2 class="title">Дякуємо за замовлення</h2>
        <div class="description">
            <p>
                Ми вдячні Вам за бережливе ставлення до навколишнього середовища.
                Якщо ви зацікавлені в інших послугах або корисній інформації, 
                завітайте за нашими корисними посиланнями.
            </p>
        </div>
        <div class="row infolinks">
            <div class="col-md-6 list">
                <ul>
                    <h5>УБС сервіси</h5>
                    <li><a>Зробити інше замовлення</a></li>
                    <li><a>Пластик Поштою</a></li>
                    <li><a>Сайт Україна Без Сміття</a></li>
                    <li><a>Еко магазин</a></li>
                </ul>
                <ul>
                    <h5>Корисна інформація</h5>
                    <li><a>Інструкція з переробки сміття</a></li>
                    <li><a>Відео про сортування і переробку</a></li>
                </ul>
            </div>
            <div class="col-md-6 img">
                <img class="image" src="assets/img/noNews.jpg">
            </div>
        </div>
    </div>
</div>