<div *ngIf="$habit | async as habit" class="container">
  <div class="row">
    <div class="col-6">
      <app-habit-title [habitId]=habit.id [habitTitle]="habit.habitName"></app-habit-title>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-habit-fact [habit]="habit"></app-habit-fact>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-habit-chart caption="{{habit.habitItem}}" [values]="habitStatistic"
                       [chartId]="chartId" [redrawTrigger]="chartRedrawTrigger"></app-habit-chart>
    </div>
    <div class="col-6">
      <app-habit-estimation [habit]="habit"
                            [statistic]="currentStatistic"></app-habit-estimation>
    </div>
  </div>
</div>
