* {
  font-family: var(--ubs-quaternary-font);
}

.empty_card {
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    display: inline;
  }

  img {
    width: 20px;
    margin-right: 20px;
  }
}

.empty_card:hover {
  cursor: pointer;
}

.form__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
  margin-bottom: 30px;
  margin-top: 36px;
}

.form__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--ubs-quaternary-dark-grey);
  letter-spacing: 0.1px;
}

.order-payment-size-container {
  display: flex;
  align-items: center;
  margin: 12px 0 36px;

  .order-payment-sum {
    margin: 0 115px 0 24px;
  }
}

.order-overpayment-container {
  display: flex;
  align-items: center;
  margin: 24px 0;

  .order-overpayment-sum {
    margin: 0 56px 0 24px;

    .bg-price-none {
      background: none;
    }
  }
}

.button-payment-operations {
  color: var(--ubs-primary-green);
  border: 1px solid var(--ubs-primary-green);
  letter-spacing: 0.1px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1px;
  border-radius: 4px;
  height: 36px;
}

.btn-add-payment {
  width: 173px;
}

.btn-enroll-to-bonus-account {
  width: 267px;
  margin-right: 16px;
}

.btn-return-money {
  width: 167px;
}

.plus {
  margin-right: 8px;
}

.unpaid-amount {
  margin-bottom: 8px;
}

.price {
  background: var(--ubs-secondary-white);
  border: 1px solid var(--ubs-primary-light-grey);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  width: 85px;
}

.need-to-pay {
  color: var(--ubs-primary-red);
}

td {
  color: var(--ubs-primary-grey);
  padding: 8px;
}

thead {
  position: relative;
  z-index: 0;
}

.paymentId:hover {
  cursor: pointer;
  color: var(--ubs-secondary-dark-grey);
}
