<div class="outer">
  <div class="shopping-list-block">
    <div class="header-position shopping-list-content">
      <div class="header">
        {{ 'profile.to-do-list' | translate }}
        <div class="items-count"><br />{{ shoppingList?.length }} {{ 'profile.elements' | translate }}</div>
      </div>
      <a *ngIf="shoppingList.length > 3" class="btn-see-all" (click)="openCloseList()">{{ 'profile.see-all' | translate }}</a>
    </div>
    <div *ngIf="!shoppingList">
      <mat-spinner color="grey" diameter="70" class="loading"></mat-spinner>
    </div>
    <div *ngIf="shoppingList.length">
      <div class="shopping-list-content">
        <ul class="shopping-list" [ngClass]="{ 'shopping-list-max': toggle, 'shopping-list-min': !toggle }">
          <li [ngClass]="checkbox.checked ? 'item-striked' : 'item'" *ngFor="let shoppingItem of shoppingList">
            <span ngbPopover="{{ shoppingItem.text }}" triggers="mouseenter:mouseleave" placement="right">{{ shoppingItem.text }}</span>
            <mat-checkbox
              #checkbox
              [(ngModel)]="shoppingItem.selected"
              class="checkbox"
              color="primary"
              (click)="toggleDone(shoppingItem)"
            ></mat-checkbox>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="profileSubscription && !shoppingList.length">
      <p class="empty-list">{{ 'profile.empty-list' | translate }}</p>
    </div>
  </div>
</div>
