<div class="container" *ngIf="bags.length && personalData">
  <div class="your-order p-4">
    <p class="text-secondary">{{ 'submit-order.your-order' | translate }}</p>
    <table aria-label="order table">
      <tbody>
        <tr *ngFor="let bag of bags">
          <ng-container *ngIf="bag.quantity">
            <td class="firstRow">{{ bag.name }} ({{ bag.quantity }} {{ 'submit-order.bags' | translate }})</td>
            <td class="firstRow right-column">{{ bag.price * bag.quantity }} {{ 'submit-order.currency' | translate }}</td>
          </ng-container>
        </tr>
        <hr />
        <tr>
          <td class="firstRow"></td>
          <td class="firstRow right-column">
            <p class="total-content" *ngIf="certificatesSum">
              <span>{{ 'order-details.bonuses' | translate }} </span><span>
                <small>-{{ certificatesSum }} {{ 'order-details.currency' | translate }}</small></span>
            </p>
            <strong>{{ finalSum }} {{ 'submit-order.currency' | translate }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="order-details d-flex flex-column p-4">
    <p class="text-secondary">{{ 'order-form.order-details' | translate }}:</p>
    <div class="d-flex w-75">
      <div class="order-details_personal-data">
        <ul>
          <li>{{ personalData.lastName }} {{ personalData.firstName }}</li>
          <li>{{ personalData.email }}</li>
          <li>0{{ personalData.phoneNumber }}</li>
        </ul>
      </div>
      <div class="order-details_address">
        <ul>
          <li>{{ personalData.city }}</li>
          <li>{{ personalData.district }}</li>
          <li>
            <span>{{ 'submit-order.str' | translate }}{{ personalData.street }}, {{ personalData.houseNumber }}</span
            >,
            {{ personalData.houseCorpus }}
          </li>
          <li>
            <span>{{ personalData.addressComment }}</span>
          </li>
          <li>
            <span>{{ orderDetails.orderComment }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="payment-method my-4">
    <div class="col-12 col-sm-12 form-group bottom-select">
      <label for="">{{ 'submit-order.choose-payment' | translate }}</label>
      <select class="shadow-none form-control">
        <option value="LiqPay">{{ 'submit-order.liqpay-card' | translate }}</option>
      </select>
    </div>
    <div class="w-100 d-flex justify-content-between mt-4">
      <button class="secondary-global-button btn" matStepperPrevious>{{ 'submit-order.back' | translate }}</button>
      <button (click)="redirectToOrder()" type="submit" class="primary-global-button btn">{{ 'submit-order.to-order' | translate }}</button>
    </div>
  </div>
</div>
