<div class="load-spinner" *ngIf="isNotification && !isDownloadDataNotification">
  <mat-spinner class="custom-spinner"></mat-spinner>
</div>
<div class="container" *ngIf="(bags.length && personalData) || (isNotification && isDownloadDataNotification)">
  <div class="header">
    <h3 class="font-bolt order-title">{{ 'order-details.your-order' | translate }}</h3>
  </div>
  <form class="form">
    <div class="w-100 d-flex justify-content-between mb-2">
      <label class="col-3 label m-0">{{ 'order-details.service' | translate }}</label>
      <label class="col-2 label m-0">{{ 'order-details.volume' | translate }}</label>
      <label class="col-2 label m-0">{{ 'order-details.cost' | translate }}</label>
      <label class="col-2 label m-0">{{ 'order-details.number-of-packages' | translate }}</label>
      <label class="col-3 label m-0 text-center">{{ 'order-details.sum' | translate }}</label>
    </div>
    <div class="services">
      <ul class="services-list w-100 p-0 m-0">
        <li class="services-list_item d-flex justify-content-between align-items-baseline" *ngFor="let bag of bags">
          <ng-container *ngIf="bag.quantity">
            <span class="col-3 p-0 m-0 bag-name">{{ bag.name }}</span>
            <span class="col-2 p-0 m-0 bag-name">{{ bag.capacity }} {{ 'order-details.litr' | translate }}</span>
            <span class="col-2 p-0 m-0 bag-name">{{ bag.price | currency }} {{ 'order-details.currency' | translate }}</span>
            <span class="col-2 p-0 m-0 bag-name">{{ bag.quantity }} {{ 'order-details.pieces' | translate }}</span>
            <span class="col-3 p-0 m-0 bag-name text-center">
              {{ bag.quantity * bag.price | currency }} {{ 'order-details.currency' | translate }}</span
            >
          </ng-container>
        </li>
      </ul>
    </div>
    <div class="middle">
      <div class="middle-container">
        <div class="showTotal">
          <div class="totalInfo">
            <p class="total-content" [class.d-none]="orderDetails.total === 0">
              <span>{{ 'order-details.order-amount' | translate }} </span>
              <span>
                <strong>{{ orderDetails.total | currency }} {{ 'order-details.currency' | translate }}</strong>
              </span>
            </p>
            <p class="total-content" *ngIf="orderDetails.certificatesSum">
              <span>{{ 'order-details.certificate' | translate }} </span>
              <span>
                <strong class="money-saved"
                  >-{{ orderDetails.certificatesSum | currency }} {{ 'order-details.currency' | translate }}
                </strong>
              </span>
            </p>
            <p class="total-content" *ngIf="orderDetails.pointsToUse">
              <span>{{ 'order-details.bonuses' | translate }} </span>
              <span>
                <strong class="money-saved">-{{ orderDetails.pointsToUse }} {{ 'order-details.currency' | translate }}</strong>
              </span>
            </p>
            <p class="total-content">
              <span>{{ 'order-details.amount-due' | translate }} </span>
              <span>
                <strong>{{ orderDetails.finalSum | currency }} {{ 'order-details.currency' | translate }}</strong>
              </span>
            </p>
          </div>
        </div>
        <div class="order-info-container d-flex flex-column">
          <div class="order-info" *ngIf="additionalOrders[0]">
            <p class="order-header">{{ 'order-details.store-delivery' | translate }}</p>
            <ul class="order-list d-flex">
              <li class="order-list-item">{{ 'order-details.order-numbers' | translate }} &nbsp;</li>
              <li class="order-list-item" *ngFor="let order of additionalOrders; let last = last">
                <strong>{{ order }}{{ !last ? ',&nbsp;' : '' }}</strong>
              </li>
            </ul>
          </div>
          <div class="order-info">
            <p class="order-header">{{ 'order-details.recipient' | translate }}</p>
            <ul class="order-list" *ngIf="personalData.anotherClientFirstName; else defaultCase">
              <li class="order-list-item">{{ personalData.anotherClientFirstName }} {{ personalData.anotherClientLastName }}</li>
              <li class="order-list-item">{{ personalData.anotherClientPhoneNumber | phoneNumberTreat: '380' }}</li>
              <li class="order-list-item">{{ personalData.anotherClientEmail }}</li>
            </ul>
            <ng-template #defaultCase>
              <ul class="order-list">
                <li class="order-list-item">{{ personalData.firstName }} {{ personalData.lastName }}</li>
                <li class="order-list-item">{{ personalData.phoneNumber | phoneNumberTreat: '380' }}</li>
                <li class="order-list-item">{{ personalData.email }}</li>
              </ul>
            </ng-template>
          </div>
          <div class="order-info m-0">
            <p class="order-header">{{ 'order-details.export-address' | translate }}</p>
            <ul class="order-list">
              <li class="order-list-item">
                {{ 'personal-info.address-city' | translate }} {{ 'personal-info.pop-up-city-name' | translate }}
              </li>
              <li class="order-list-item">
                <span>{{ personalData.street }}, {{ personalData.houseNumber }}</span>
                <span *ngIf="personalData.houseCorpus"
                  >, {{ 'personal-info.address-corp' | translate }} {{ personalData.houseCorpus }}</span
                >
                <span *ngIf="personalData.entranceNumber"
                  >, {{ 'personal-info.address-entrance' | translate }} {{ personalData.entranceNumber }}</span
                >
              </li>
              <li class="order-list-item">{{ 'personal-info.address-district' | translate }} {{ personalData.district }}</li>
              <li class="order-list-item" *ngIf="personalData.addressComment">
                {{ 'order-details.address-comment' | translate }} {{ personalData.addressComment }}
              </li>
              <li class="order-list-item" *ngIf="orderDetails.orderComment">
                {{ 'order-details.order-comment' | translate }} {{ orderDetails.orderComment }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom_comment">
      <div class="form-group comment">
        <h3 class="font-bolt bottom_comment_payment">{{ 'order-form.payment' | translate }}</h3>
        <p class="choose-payment">{{ 'order-details.choose-payment' | translate }}</p>
        <div class="col-12 col-sm-12 p-0">
          <label class="choose-payment-chooser">{{ 'submit-order.choose-payment' | translate }}</label
          ><br />
          <select class="payment-select shadow-none" [disabled]="isFinalSumZero" (change)="orderButton($event)">
            <option value="Fondy" selected>{{ 'submit-order.fondy-card' | translate }}</option>
            <option value="LiqPay">{{ 'submit-order.liqpay-card' | translate }}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  class="w-100 d-flex justify-content-between buttons"
  *ngIf="(bags.length && personalData) || (isNotification && isDownloadDataNotification)"
>
  <button *ngIf="!isNotification" class="secondary-global-button btn btn-back" matStepperPrevious>
    <i class="fas fa-chevron-left" aria-hidden="true"></i> &nbsp; {{ 'submit-order.back' | translate }}
  </button>
  <div class="w-100 d-flex justify-content-end">
    <button class="secondary-global-button btn cansel-button btn-main" (click)="cancelUBS()">
      {{ 'order-details.cancel' | translate }}
    </button>
    <button [disabled]="isTotalAmountZero || loadingAnim" (click)="redirectToOrder()" type="submit" class="primary-global-button btn">
      <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
      {{ 'submit-order.to-order' | translate }}
    </button>
    <button id="liqPayButton" [innerHTML]="liqPayButtonForm" style="display: none"></button>
  </div>
</div>
