button {
  width: 9rem;
  height: 3rem;
  border-radius: 4px;
  border: none;
}

li {
  list-style: none;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.fas {
  font-size: 0.8rem;
}

.buttons {
  margin-top: 46px;

  button {
    width: 8rem;
    height: 2.75rem;
    font-size: 18px;
  }
}

.cansel-button {
  border: 1px solid var(--ubs-quaternary-dark-grey);
  color: var(--ubs-quaternary-dark-grey);
  margin-right: 1rem;
}

.btn-back {
  border: 0;
  color: var(--ubs-quaternary-dark-grey);
}

.container {
  box-shadow: 1px 4px 8px rgb(100 114 125 / 18%);
  padding: 10px 25px 40px;
  color: var(--ubs-primary-grey);
}

.font-bolt {
  font-weight: bold;
}

.header {
  width: 100%;
  margin: 3rem 0 0;

  .order-title {
    margin-bottom: 1rem;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 0;
  border-top: 1px solid var(--ubs-primary-light-grey);
  border-bottom: 1px solid var(--ubs-primary-light-grey);

  .services-list_item {
    margin: 28px 0;
    color: var(--ubs-quaternary-dark-grey);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.label {
  color: var(--ubs-secondary-grey);
  padding: 0;
}

.primary-global-button {
  padding: 8px 4px;
  border-radius: 4px;
  color: var(--ubs-quaternary-dark-grey);
  border-color: var(--ubs-button-light-green);
  background: var(--ubs-button-light-green);
  display: flex;
  justify-content: space-around;

  &:disabled {
    background: var(--ubs-quaternary-light-grey);
    border-color: var(--ubs-quaternary-light-grey);
  }
}

.middle {
  width: 100%;
  padding: 30px 0;
  justify-content: space-between;
  border-bottom: 1px solid var(--ubs-primary-light-grey);
}

.totalInfo {
  text-align: right;

  .total-content {
    color: var(--ubs-secondary-grey);
  }

  strong {
    padding-left: 2rem;
    color: var(--ubs-primary-grey);
  }

  .money-saved {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--ubs-electric-violet);
  }
}

.choose-payment,
.choose-payment-chooser {
  font-style: normal;
  font-weight: normal;
}

.choose-payment {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  color: var(--ubs-primary-grey);
}

.choose-payment-chooser {
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-secondary-grey);
}

.payment-select {
  padding: 8px;
  width: 323px;
  height: 36px;
  font-size: 14px;
  color: var(--ubs-quaternary-dark-grey);
  background: var(--ubs-primary-white);
  border: 1px solid var(--quintynary-light-grey);
  box-sizing: border-box;
  border-radius: 4px;
}

.order-header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--ubs-primary-grey);
}

.middle-container {
  .showTotal {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .order-info-container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;

    .order-info {
      margin-bottom: 32px;
    }

    .order-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  small {
    margin-left: 0;
  }
}

.bottom_comment {
  background: var(--ubs-primary-white);

  .bottom_comment_payment {
    margin-top: 2rem;
  }

  .btn:nth-child(1) {
    margin: 0 24px 0 0;
    border: 1px solid var(--ubs-button-light-green);
    background: none;
    color: var(--ubs-button-light-green);
  }

  .btn-main {
    width: 120px;
    height: 3rem;
    border-radius: 0;
    border: none;

    &:hover {
      background: var(--ubs-button-light-green);
      color: var(--ubs-primary-white);
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .label,
  .bag-name {
    font-size: 0.8rem;
  }

  .totalInfo {
    span {
      font-size: 0.8rem;
    }

    .money-saved {
      font-size: 0.65rem;
    }
  }

  .bottom_comment {
    .bottom_comment_payment {
      font-size: 1rem;
    }
  }

  h3 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .payment-select {
    font-size: 0.8rem;
    width: 250px;
  }

  .order-header {
    font-size: 0.8rem;
  }

  p,
  a,
  textarea,
  small,
  input,
  li,
  .choose-payment,
  .choose-payment-chooser {
    font-size: 0.8rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .label,
  .bag-name {
    font-size: 0.6rem;
  }

  .totalInfo {
    span {
      font-size: 0.6rem;
    }

    .money-saved {
      font-size: 0.58rem;
    }
  }

  .bottom_comment {
    .bottom_comment_payment {
      font-size: 0.9rem;
    }
  }

  h3 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  button {
    width: 100px;
    font-size: 0.7rem;
  }

  .order-header {
    font-size: 0.8rem;
  }

  .payment-select {
    font-size: 0.8rem;
    width: 250px;
  }

  p,
  a,
  textarea,
  small,
  input,
  li,
  .choose-payment,
  .choose-payment-chooser {
    font-size: 0.65rem;
  }
}

.load-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

:host ::ng-deep .custom-spinner circle {
  stroke: #e2e2e2;
}

::ng-deep .mat-progress-bar-fill::after {
  background: #e2e2e2;
}

::ng-deep .mat-progress-bar-buffer {
  background: #bfbfbf;
}
