$inputHeight: 48px;

.restore-password-container {
  h1 {
    margin-bottom: 8px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: var(--tertiary-dark-grey);
  }

  h2 {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    height: 72px;
    margin-bottom: 40px;
    color: var(--primary-dark-grey);
  }

  .restore-password-form {
    display: flex;
    flex-direction: column;

    label[for='email'] {
      margin-bottom: 4px;
      font-family: var(--primary-font);
      font-size: 12px;
      line-height: 14px;
      color: var(--primary-dark-grey);
    }

    input {
      background: #fff;
      box-sizing: border-box;
      color: var(--primary-dark-grey);
      border-radius: 5px;
      padding: 11px 40px 11px 16px;
    }

    input[type='email'] {
      height: $inputHeight;
      background: #fff;
      font-family: var(--primary-font);
      font-size: 16px;
      line-height: 24px;
      color: var(--primary-dark-grey);
      width: 368px;
    }

    input[type='email']:focus {
      outline: none;
    }
  }

  .primary-global-button,
  .ubs-primary-global-button {
    width: 368px;
    min-height: 48px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  .ubs-primary-global-button {
    .span {
      color: black;
    }
  }

  .primary-global-button {
    .span {
      color: white;
    }
  }

  .or-use-google {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 12px;
    color: var(--primary-dark-grey);
    margin-bottom: 8px;
  }

  .mentioned-password {
    margin-top: 198px;
    min-width: 320px;
    font-family: var(--primary-font);
    line-height: 16px;
    color: var(--primary-dark-grey);
    text-align: center;
    padding-bottom: 25px;

    .ubs-sign-in-link {
      color: var(--ubs-primary-blue);
    }

    .sign-in-link {
      color: var(--secondary-dark-green);
    }

    .ubs-sign-in-link,
    .sign-in-link {
      text-decoration-line: underline;
      font-size: 16px;
    }
  }

  .google-sing-in-button {
    width: 368px;
    height: 40px;
  }

  .alert-email-validation {
    border: 1px solid var(--error-ligh-red);
  }

  .successful-email-validation {
    border: 1px solid var(--secondary-grey);
  }

  .validation-email-error {
    color: var(--error-ligh-red);
    font-size: 10px;
    line-height: 12px;
    font-family: var(--primary-font);
  }
}
