<div class="restore-password-container">
  <form class="restore-password-form" (ngSubmit)="sendEmail()" [formGroup]="restorePasswordForm">
    <app-email-input-field formControlName="email" ngDefaultControl></app-email-input-field>
    <app-submit-button [buttonText]="'user.auth.forgot-password.send-btn'" class="margin-top"> </app-submit-button>
    <span class="or-use-google">{{ 'user.auth.sign-up.or' | translate }}</span>
    <app-google-btn
      [text]="'user.auth.sign-in.sign-in-with-google'"
      class="google-sing-in-button"
      (click)="signInWithGoogle()"
    ></app-google-btn>
  </form>
  <div class="mentioned-password">
    <h3>{{ 'user.auth.forgot-password.remember-your-password' | translate }}</h3>
    <a
      [ngClass]="isUbs ? 'ubs-sign-in-link' : 'sign-in-link'"
      tabindex="0"
      (click)="onBackToSignIn('sign-in')"
      (keyup.enter)="signInWithGoogle()"
    >
      {{ 'user.auth.forgot-password.back-to-the-sign-in' | translate }}
    </a>
  </div>
</div>
