<div class="restore-password-container">
  <h1>{{ 'user.auth.forgot-password.title' | translate }}</h1>
  <h2>{{ 'user.auth.forgot-password.fill-form' | translate }}</h2>
  <form class="restore-password-form" (ngSubmit)="sentEmail()" [formGroup]="restorePasswordForm">
    <label for="email">{{ 'user.auth.sign-in.email' | translate }}</label>
    <input
      id="email"
      type="email"
      placeholder="example@email.com"
      formControlName="email"
      name="email"
      required
      (input)="configDefaultErrorMessage()"
      [ngClass]="
        (emailField.invalid && emailField.touched) || backEndError || emailErrorMessageBackEnd
          ? 'alert-email-validation'
          : 'successful-email-validation'
      "
    />
    <div class="validation-email-error" *ngIf="emailField.invalid && emailField.touched">
      <app-error [formElement]="emailField" [emailFieldValue]="emailFieldValue" [controlName]="'email'"></app-error>
    </div>
    <div class="validation-email-error" *ngIf="emailErrorMessageBackEnd === 'already-sent'">
      {{ 'user.auth.forgot-password.already-sent' | translate }} : {{ emailFieldValue }}
    </div>
    <div class="validation-email-error" *ngIf="emailErrorMessageBackEnd === 'email-not-exist'">
      {{ 'user.auth.forgot-password.email-not-exist' | translate }} : {{ emailFieldValue }}
    </div>
    <button [ngClass]="isUbs ? 'ubs-primary-global-button' : 'primary-global-button'" type="submit" [disabled]="!restorePasswordForm.valid">
      <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span [class.span]="isUbs">{{ 'user.auth.forgot-password.send-btn' | translate }}</span>
    </button>
    <span class="or-use-google">{{ 'user.auth.sign-up.or' | translate }}</span>
    <app-google-btn
      (click)="signInWithGoogle()"
      class="google-sing-in-button"
      [text]="'user.auth.sign-in.sign-in-with-google'"
    ></app-google-btn>
  </form>
  <div class="mentioned-password">
    <h3>{{ 'user.auth.forgot-password.remember-your-password' | translate }}</h3>
    <a
      (click)="onBackToSignIn('sign-in')"
      (keyup.enter)="signInWithGoogle()"
      tabindex="0"
      [ngClass]="isUbs ? 'ubs-sign-in-link' : 'sign-in-link'"
    >
      {{ 'user.auth.forgot-password.back-to-the-sign-in' | translate }}
    </a>
  </div>
</div>
