$inputHeight: 36px;

@mixin button {
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-top: 40px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #fff;
  font-family: var(--primary-font);

  .spinner-border {
    margin-right: 10px;
  }
}

.restore-password-container {
  h1 {
    margin-bottom: 8px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--quaternary-dark-grey);
  }

  h2 {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    height: 72px;
    margin-bottom: 28px;
    color: var(--quaternary-dark-grey);
  }

  .restore-password-form {
    display: flex;
    flex-direction: column;

    label[for='email'] {
      margin-bottom: 4px;
      font-family: var(--primary-font);
      font-size: 16px;
      line-height: 24px;
      color: var(--quaternary-grey);
    }

    .input-wrapper {
      position: relative;
    }

    input {
      height: $inputHeight;
      font-family: var(--primary-font);
      font-size: 14px;
      line-height: 20px;
      color: var(--primary-dark-grey);
      width: 100%;
      border-radius: 5px;
      padding: 8px;
    }

    input:focus {
      outline: none;
    }
  }

  .ubs-send-btn {
    @include button();

    background-color: var(--ubs-button-light-green);
    color: var(--ubs-quaternary-dark-grey);
  }

  .green-send-btn {
    @include button();

    background-color: var(--primary-green);
  }

  .or-use-google {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 16px;
    color: var(--quaternary-dark-grey);
    margin-bottom: 8px;
  }

  .mentioned-password {
    margin-top: 264px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    color: var(--quaternary-dark-grey);
    text-align: center;

    .green-link {
      color: var(--primary-green);
      margin-left: 16px;
    }

    .ubs-link {
      text-decoration-line: underline;
      text-underline-offset: 3px;
      color: var(--ubs-dark-purple);
      margin-left: 16px;
    }
  }

  .alert-email-validation {
    border: 1px solid var(--error-ligh-red);
  }

  .successful-email-validation {
    border: 1px solid var(--secondary-grey);
  }

  .validation-email-error {
    position: absolute;
    color: var(--error-ligh-red);
    font-size: 10px;
    line-height: 12px;
    font-family: var(--primary-font);
  }
}
