@mixin text_style($font, $color, $size, $weight) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

::ng-deep .mat-step-header {
  .mat-step-label {
    @include text_style(var(--ubs-quaternary-font), var(--ubs-quintynary-light-grey), 18px, 700);
  }

  .mat-step-label.mat-step-label-active {
    color: var(--ubs-quintynary-light-grey);
  }

  .mat-step-label.mat-step-label-selected {
    color: var(--ubs-quaternary-dark-grey);
  }

  .mat-step-icon {
    background-color: var(--ubs-quaternary-light-grey);
  }

  .mat-step-icon-selected,
  .mat-step-icon-state-edit {
    background-color: var(--ubs-quaternary-dark-grey);
  }

  .mat-step-icon-state-number {
    @include text_style(var(--ubs-quaternary-font), var(--ubs-quintynary-light-grey), 20px, 700);

    width: 30px;
    height: 30px;
  }

  .mat-step-icon-state-number.mat-step-icon-selected {
    color: var(--ubs-primary-white);
  }

  .mat-icon {
    color: var(--ubs-secondary-grey);
  }
}

.ubs-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 150px;
}

.form-title {
  @include text_style(var(--ubs-quaternary-font), var(--ubs-primary-grey), 40px, 700);

  margin: -35px 0 35px 0;
}

@media (min-width: 481px) and (max-width: 767px) {
  ::ng-deep.mat-step-header {
    .mat-step-label {
      font-size: 13px;
      line-height: 13px;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  ::ng-deep.mat-step-header {
    .mat-step-label {
      font-size: 9px;
      line-height: 9px;
      white-space: break-spaces;
    }
  }
}
