<div class="container ubs-container">
  <h1 class="h1 text-center form-title">{{ 'order-form.ubs-courier' | translate }}</h1>
  <mat-horizontal-stepper linear>
    <ng-template matStepperIcon="edit">
      <mat-icon class="text-light">check</mat-icon>
    </ng-template>
    <mat-step [stepControl]="isSecondStepDisabled ? null : firstStepForm" [completed]="!isSecondStepDisabled">
      <ng-template matStepLabel>{{ 'order-form.order-details' | translate }}</ng-template>
      <app-ubs-order-details #firstStep (secondStepDisabledChange)="isSecondStepDisabled = $event"></app-ubs-order-details>
    </mat-step>
    <mat-step [stepControl]="secondStepForm">
      <ng-template matStepLabel>{{ 'order-form.personal-data' | translate }}</ng-template>
      <app-ubs-personal-information #secondStep></app-ubs-personal-information>
    </mat-step>
    <mat-step [stepControl]="thirdStepForm" state="finalStep">
      <ng-template matStepLabel>{{ 'order-form.confirm' | translate }}</ng-template>
      <app-ubs-submit-order #thirdStep></app-ubs-submit-order>
    </mat-step>
  </mat-horizontal-stepper>
</div>
