<ng-container class="dropdown-menu">
  <div class="btn-group" *ngIf="showButtons">
    <button type="button" class="btn filter-btn" (click)="discardChanges()">
      {{ 'ubs-tables.clear-filters' | translate }}
    </button>
    <button type="button" class="btn filter-btn bg-lime" [mat-dialog-close]="['apply']">
      {{ 'ubs-tables.apply-filters' | translate }}
    </button>
  </div>

  <ng-container *ngIf="!data.isDateFilter; else date">
    <li *ngFor="let option of getOptionsForFiltering()" class="positioing">
      <mat-checkbox [checked]="isChecked(data.columnName, option)" (change)="onFilterChange($event?.checked, data.columnName, option)">
        {{ option | serverTranslate: data.currentLang }}
      </mat-checkbox>
    </li>
  </ng-container>

  <ng-template #date>
    <mat-checkbox (change)="onDateChecked($event, $event.checked)" [(ngModel)]="dateChecked">
      {{ 'ubs-tables.date-range' | translate }}
    </mat-checkbox>

    <br />

    <div class="input-group">
      <div class="input-wrapper">
        <mat-form-field class="filter-input">
          <mat-label>{{ 'ubs-tables.date-from' | translate }}</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker1"
            id="dateFrom{{ data.columnName }}"
            [(ngModel)]="dateFrom"
            (dateChange)="onDateChange()"
          />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <button *ngIf="dateFrom" type="button" class="reset-settings" (click)="discardDateChanges('from', $event)">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </div>

      <div class="input-wrapper" *ngIf="dateChecked">
        <mat-form-field class="filter-input">
          <mat-label>{{ 'ubs-tables.date-to' | translate }}</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker2"
            id="dateTo{{ data.columnName }}"
            [(ngModel)]="dateTo"
            (dateChange)="onDateChange()"
          />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button *ngIf="dateTo" type="button" class="reset-settings" (click)="discardDateChanges('to', $event)">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>
