ul::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: var(--primary-white);
}

ul::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  box-shadow: 2px 2px 4px rgba(73, 74, 73, 0.2);
}

ul::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--primary-dark-grey);
}

.filter-btn {
  display: flex;
  width: 155px;
  margin: 0 5px;
  border: 1px solid var(--ubs-quaternary-dark-grey);
  border-radius: 4px !important;
}

.bg-lime {
  border: none;
  background-color: var(--ubs-primary-lime-green);
}
