<!-- <ng-container class="dropdown-menu">
	<div class="btn-group">
		<button type="button" class="btn filter-btn" (click)="clearFilters()">
			{{ 'ubs-tables.clear-filters' | translate }}
		</button>
		<button type="button" class="btn filter-btn bg-lime" (click)="applyFilters()">
			{{ 'ubs-tables.apply-filters' | translate }}
		</button>
	</div>
	 <mat-dialog-content>
		<div [innerHtml]="htmlContent"></div>
	</mat-dialog-content>

	<ng-template [ngTemplateOutlet]="list">
	</ng-template>

	<ng-template [ngTemplateOutlet]="data.htmlContent" >
	</ng-template>
</ng-container> -->

<ng-container class="dropdown-menu">
  <div class="btn-group">
    <button type="button" class="btn filter-btn" [mat-dialog-close]="['clear', data.column.title.key]">
      {{ 'ubs-tables.clear-filters' | translate }}
    </button>
    <button type="button" class="btn filter-btn bg-lime" [mat-dialog-close]="['apply', data.columnsForFiltering, data.filters]">
      {{ 'ubs-tables.apply-filters' | translate }}
    </button>
  </div>
  <ng-template [ngTemplateOutlet]="data.htmlContent"> </ng-template>
  <ng-container *ngIf="!data.isDateFilter">
    <li *ngFor="let option of data.column.checked">
      <mat-checkbox [checked]="option.filtered" (change)="changeColumnFilters($event?.checked, data.column, option)">
        {{ option | serverTranslate: currentLang }}
      </mat-checkbox>
    </li>
  </ng-container>
</ng-container>
