<ng-container class="dropdown-menu">
  <div class="btn-group">
    <button type="button" class="btn filter-btn" [mat-dialog-close]="['clear', data.columnName]">
      {{ 'ubs-tables.clear-filters' | translate }}
    </button>
    <button type="button" class="btn filter-btn bg-lime" [mat-dialog-close]="['apply']">
      {{ 'ubs-tables.apply-filters' | translate }}
    </button>
  </div>
  <ng-container *ngIf="!data.isDateFilter; else date">
    <li *ngFor="let option of getOptionsForFiltering()">
      <mat-checkbox [checked]="option.filtered" (change)="changeColumnFilters($event?.checked, data.columnName, option)">
        {{ option | serverTranslate: data.currentLang }}
      </mat-checkbox>
    </li>
  </ng-container>
  <ng-template #date>
    <mat-checkbox [checked]="getDateChecked()" (change)="changeDateFilters($event, $event.checked)">
      {{ 'ubs-tables.date-range' | translate }}
    </mat-checkbox>
    <br />
    <div class="input-group">
      <label for="dateFrom"
        >{{ 'ubs-tables.date-from' | translate }}
        <input
          id="dateFrom{{ data.columnName }}"
          type="date"
          name="dateFrom"
          [value]="getDateValue('From')"
          (change)="changeInputDateFilters($event.target.value, 'From')"
        />
      </label>
      <label for="dateTo"
        >{{ 'ubs-tables.date-to' | translate }}
        <input
          id="dateTo{{ data.columnName }}"
          type="date"
          name="dateTo"
          [value]="getDateValue('To')"
          (change)="changeInputDateFilters($event.target.value, 'To')"
        />
      </label>
    </div>
  </ng-template>
</ng-container>
