.mat-dialog-actions {
  justify-content: flex-end;
  min-height: unset;
  padding: 0;
  margin-bottom: 0;
  gap: 16px;
}

.actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  letter-spacing: 0.1px;
  border: 1px solid var(--ubs-dark-red);
  transition: none;
  height: 36px;
}

.btn-outline-delete {
  background-color: var(--ubs-dark-red);
  width: 114px;
  color: #fff;
}

.btn-outline-cancel {
  color: var(--ubs-dark-red);
  background-color: transparent;
  width: 117px;
}

.mat-dialog-content {
  padding: 0;
  margin: 0;

  p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--ubs-primary-grey);
    margin-bottom: 50px;
  }
}
