p {
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  .header {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    p {
      color: var(--primary-dark-grey);

      span {
        color: var(--tertiary-light-grey);
      }
    }
  }

  .menu {
    display: flex;
    margin-bottom: 24px;

    .tab {
      height: 28px;
      width: 96px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        font-family: var(--primary-font);
        font-size: 11px;
        line-height: 13px;
        color: var(--primary-dark-grey);
      }
    }

    .active {
      border: 1px solid var(--primary-green);
      border-bottom-color: white;
      border-radius: 4px 4px 0 0;
    }

    .plain {
      border: 1px solid white;
      border-bottom-color: var(--primary-green);
    }

    .hline {
      flex-grow: 1;
      border-bottom: 1px solid var(--primary-green);
    }
  }

  .in-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .secondary-global-button {
      padding: 0 15px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
    }
  }

  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }

  .acquired {
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

@media (min-width: 576px) {
  .main {
    .menu {
      .tab {
        width: 98px;

        p {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }

    .header {
      font-size: 14px;
      line-height: 17px;
    }

    .in-progress {
      margin-bottom: 16px;
    }

    .acquired {
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }
}

@media (min-width: 768px) {
  .main {
    .menu {
      margin-bottom: 21px;
    }

    .in-progress {
      margin-bottom: 21px;
    }
  }
}

@media (min-width: 1024px) {
  .main {
    .menu {
      margin-bottom: 24px;
    }

    .in-progress {
      margin-bottom: 24px;
    }
  }
}
