.profile-menu {
  border-bottom: 1px solid var(--primary-green);
  min-height: 30px;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  z-index: 1;
  text-align: center;

  span {
    display: block;
    color: var(--secondary-dark-green);
    width: 82px;
    text-align: center;
    cursor: pointer;
    min-height: 30px;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    padding-top: 6px;
    font-family: var(--primary-font);
  }

  .active {
    border: 1px solid var(--primary-green);
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    background-color: #fff;
    font-family: var(--primary-font);
    z-index: 2;

    &:hover {
      border: 1px solid var(--primary-green);
      border-radius: 5px 5px 0 0;
      border-bottom: white;
    }
  }
}

.in-progress {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-dark-grey);
  text-align: left;
  display: flex;
  align-items: center;

  p {
    margin: 0;

    span {
      color: var(--tertiary-light-grey);
      margin-left: 5px;
    }
  }
}

.menu-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  #create-button {
    cursor: pointer;
    width: 116px;
    min-width: 86px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    span {
      display: block;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
    }
  }
}

.profile-span:hover {
  background-color: #f0f5f4;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--primary-green);
}

.habits-in-progress {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.acquired {
  margin: 16px 0 24px;
}
