<div class="profile-menu">
  <span (click)="triggerTab(oneItem)"
        *ngFor="let oneItem of menu; index as index"
        class="profile-span"
        [class.active]="oneItem.isActive">
        <ng-container [ngSwitch]="index">
          <ng-container  *ngSwitchCase="0">
            {{ 'profile.my-habits' | translate }}
          </ng-container>
          <ng-container  *ngSwitchCase="1">
            {{ 'profile.my-news' | translate }}
          </ng-container>
          <ng-container  *ngSwitchCase="2">
            {{ 'profile.my-articles' | translate }}
          </ng-container>
       </ng-container>
  </span>
</div>
<div class="menu-title">
  <div class="in-progress">
    <p>{{ 'profile.habits-in-progress' | translate }}
      <span>4</span>
    </p>
  </div>
  <div>
    <a [routerLink]="['/profile', userId, 'allhabits']">
      <div id="create-button"
           class="secondary-global-button">
        <span>{{ 'profile.add-new-habit' | translate }}</span>
      </div>
    </a>
  </div>
</div>
<div class="habits-in-progress">
  <app-one-habit *ngFor="let oneHabit of habitArray"
                 [oneHabit]="oneHabit">
  </app-one-habit>
</div>
<div class="in-progress acquired">
  <p> {{ 'profile.habits-acquired' | translate }}
    <span>3</span>
  </p>
</div>
<div class="habits-in-progress">
  <app-one-habit *ngFor="let oneHabit of habitAcquired"
                 [oneHabit]="oneHabit">
  </app-one-habit>
</div>
