@import 'typography/resp';

.gallery-view-active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

p {
  margin-top: 60px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: var(--secondary-dark-grey);
}

hr {
  background: var(--quaternary-light-grey);
  margin: 20px 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

@include responsivePCFirst(xl) {
  .gallery-view-active {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include responsivePCFirst(lg) {
  .last-item {
    display: none;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include responsivePCFirst(sm) {
  p {
    font-size: 18px;
    color: var(--secondary-dark-grey);
  }

  .gallery-view-active {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
