<div class="wrapper">
  <p>{{ 'eco-news-single-view.eco-news-widget.paragraph' | translate }}</p>
  <hr />
  <div class="m-0 p-0 container-fluid d-flex justify-content-center align-items-center">
    <div class="gallery-view-active m-0 justify-content-between w-100">
      <div class="p-0 pb-3 d-flex justify-content-center align-items-center" *ngFor="let data of recommendedNews; index as i">
        <app-news-list-gallery-view
          [ecoNewsModel]="data"
          [routerLink]="['/news', data.id]"
          [class.last-item]="i === 2"
          [class.recommended-item]="true"
        >
        </app-news-list-gallery-view>
      </div>
    </div>
  </div>
</div>
