.wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 15px;

  span {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-dark-grey);
    height: 24px;
  }
}

.ul-eco-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  min-height: 42px;

  a {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 576px) {
  .wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    row-gap: 0;
    column-gap: 30px;

    span {
      font-size: 24px;
    }
  }
}
