$hr-color: #e6e6e6;
$header-height: 54px;
$white-color: var(--ubs-primary-white);
$ubs-header-height: 86px;

::ng-deep .custom-dialog-container .mat-dialog-container {
  background-color: transparent;
  overflow: hidden;
}

::ng-deep .background-transparent {
  background: rgba(63, 63, 63, 0.35);
  backdrop-filter: blur(7px);
}

.active-link {
  color: var(--primary-green);

  &:focus {
    color: var(--primary-green);
  }
}

.noWarning {
  display: none;
}

.header_sign-up-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  height: 36px;

  span {
    padding: 0 24px;
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
  }
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  background: $white-color;
  z-index: 5;
  text-transform: uppercase;
  font-size: 14px;

  .warning {
    margin: 0 auto;
    max-width: 100%;
    background-color: #507900;

    .warning_massage {
      margin: 0 auto;
      padding: 0 130px;
      width: 1440px;
      height: 51px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      span {
        font-family: var(--ubs-secondary-font);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #fcfcfc;
      }

      .warning_button_comment {
        padding: 7px 25px;
        border-radius: 5px;
        font-family: var(--ubs-secondary-font);
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
      }
    }
  }
}

.ubs-header_sign-up-btn {
  width: 234px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--ubs-secondary-light-green);
  border: 2 solid var(--ubs-secondary-light-green);
  border-radius: 6px;
  color: var(--ubs-primary-white);

  &:hover {
    background-color: var(--ubs-tertiary-dark-green);
    border: 2px solid var(--ubs-tertiary-dark-green);
    cursor: pointer;
  }
}

.primary-global-button:focus,
.secondary-global-button:focus,
.tertiary-global-button:focus {
  border: unset !important;
}

.header_sign-in-link {
  font-size: 12px;
  font-weight: 600;
  width: 70px;
  padding: 0 12px;

  a {
    color: var(--secondary-dark-green);
    display: block;
    min-width: 40px;
  }
}

.burger-modal_open {
  box-shadow: none;

  .header_sign-in-link {
    font-size: 14px;
    line-height: 16px;
    width: fit-content;
    padding: 0 40px;
    color: var(--secondary-dark-green);
  }

  .header_mobile-menu-sign-in {
    width: fit-content;
    margin: 35px 0 30px;
  }

  .header_sign-up-btn {
    font-size: 14px;
    line-height: 16px;
    height: 100%;
  }

  .header_mobile-menu-sign-up {
    width: fit-content;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    div span {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.header_sign-up-link {
  font-size: 12px;

  a {
    color: var(--secondary-dark-green);
  }
}

.ubs-header-sign-in {
  display: flex;
  width: 145px;
  height: 36px;
  justify-content: center;
  align-items: center;
  color: var(--ubs-primary-black);
  border: 2px solid #87bc1e;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    color: var(--ubs-secondary-light-green);
    text-decoration: none;
  }
}

.header_logo {
  margin-right: 24px;
}

.header_navigation-menu-right-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;

  li {
    height: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
  }

  li.header_sign-up-link {
    padding-right: 0;
  }
}

.admin-container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  a {
    display: flex;
    align-items: center;
  }

  .header_navigation-menu-right {
    display: flex;
    height: 100%;
    align-items: center;

    .header_navigation-menu-right-list {
      justify-content: space-evenly;

      .ubs-admin-cabinet,
      .ubs-user-cabinet {
        display: none;
        align-items: center;
        font-family: var(--ubs-secondary-font);
      }
    }
  }
}

.dropdown {
  background-color: $white-color;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 41px;
  width: 150px;
  display: flex;
  flex-direction: column;
  right: -15px;
  align-items: flex-start;

  li {
    position: relative;
    color: var(--ubs-primary-black);

    a {
      display: block;
      padding: 10px;
      width: 100%;
    }
  }
}

.header_navigation-menu-left-col {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white-color;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  box-shadow: 0 4px 5px -2px rgba(73, 74, 73, 0.2);
  overflow-y: auto;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 550px;

    .pick-up-service {
      height: 52px;
    }

    li {
      height: 52px;
      width: 100%;
      max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: var(--primary-dark-grey);
    }
  }
}

.header_navigation-menu-left {
  display: none;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(4) {
        display: none;
      }

      a {
        font-size: 14px;
        line-height: 16px;
        color: var(--primary-dark-grey);
      }
    }

    .header_mobile-menu-item {
      display: none;
      font-weight: 600;
    }
  }
}

.header_sign-up-link a:hover {
  text-decoration-line: none;
}

.header_container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  height: 100%;
}

.header-logo {
  display: flex;
  align-items: center;

  a img {
    max-width: 100%;
  }
}

.header_navigation-menu-ubs,
.header_navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ubs-secondary-font);
}

.header_navigation-menu {
  height: $header-height;

  .header_navigation-menu-right {
    position: relative;
    height: 80%;
    right: 20px;

    .header_navigation-menu-right-list {
      .search-icon,
      .bookmark-icon,
      .notification-icon {
        img {
          height: 11px;
          cursor: pointer;
        }
      }

      .header_navigation-menu-right-lang {
        .lang-option {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.add-shadow {
  background-color: #fff;
  position: relative;
  top: 20px;
}

.header-for-admin {
  display: flex;
  flex-direction: row;
  height: 86px;
  align-items: center;

  .header_navigation-menu-left {
    margin-right: 72px;
    width: 100%;
  }

  .add-shadow {
    top: 21px;
  }
}

.header_navigation-menu-ubs .header_navigation-menu-right-list #header_user-wrp.add-shadow {
  top: 12px;
}

#header_user-wrp {
  margin: auto 0;
  padding: 0;
  height: fit-content;
  display: none;
  flex-direction: column;
  width: auto;
  position: relative;
  min-width: 155px;

  li {
    height: 44px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    color: var(--primary-dark-grey);

    &.drop-down-item {
      display: flex;
      align-items: center;
      margin-top: 10px;

      a {
        color: var(--primary-dark-grey);
        font-size: 14px;
        line-height: 16px;
        font-family: var(--ubs-secondary-font);
        font-weight: 400;
      }
    }

    &:first-child {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      font-size: 14px;
      font-weight: 600;

      a {
        padding: 7px 17px;
        border: 2px solid #87bc1e;
        border-radius: 6px;
        margin: 0;

        &:hover {
          border-color: var(--ubs-tertiary-dark-green);
        }
      }
    }

    &.text-hidde {
      display: none;
    }
  }

  .header_user-name {
    span {
      color: var(--primary-green);
    }
  }

  .ubs-header_user-name,
  .header_user-name {
    display: flex;
    text-decoration: none;

    span {
      font-weight: normal;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
    }
  }
}

.header_navigation-menu-ubs {
  height: $ubs-header-height;
  width: 100%;
  justify-content: flex-end;

  .header_navigation-menu-left {
    .pick-up-service {
      font-family: var(--ubs-secondary-font);
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: var(--ubs-main-page-text-grey);

      &:hover {
        text-decoration: underline;
        text-decoration-style: 1px solid var(--ubs-main-page-text-grey);
        text-underline-offset: 7px;
      }
    }

    ul .nav-left-list {
      .url-name {
        font-family: var(--ubs-secondary-font);
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: var(--ubs-main-page-text-grey);

        &:hover {
          text-decoration: underline;
          text-decoration-style: 1px solid var(--ubs-main-page-text-grey);
          text-underline-offset: 7px;
        }
      }
    }
  }

  .header_navigation-menu-right {
    height: 80%;

    .header_navigation-menu-right-list {
      .header_lang-switcher-wrp.header_navigation-menu-right-lang {
        padding-left: 0;
        cursor: pointer;
      }

      #header_user-wrp.ubs-user-cabinet {
        display: block;
        align-items: center;
        font-family: var(--ubs-secondary-font);

        .list-item {
          padding: 0;
          text-align: center;

          .ubs-header_user-name {
            display: flex;
            justify-content: center;
          }
        }

        .drop-down-item a {
          margin: 0 auto;
        }
      }
    }
  }
}

#header_user-wrp.ubs-user-cabinet.add-shadow {
  max-width: 160px;
}

.ubs-lang-switcher-span {
  top: 20px;
  font-size: 14px;
  color: var(--ubs-main-page-primary-light-grey);
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.header_arrow {
  margin: 2px 0 0 5px;
}

.reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
}

.header_burger-btn {
  margin-right: 10px;
  cursor: pointer;

  .menu-icon-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .menu-icon {
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 14px;
      background-color: var(--quaternary-grey);

      &::before {
        position: absolute;
        left: 0;
        top: -6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: var(--quaternary-grey);
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }

      &::after {
        position: absolute;
        left: 0;
        top: 6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: var(--quaternary-grey);
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }
    }

    .menu-icon-active {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
    }
  }
}

.header_line {
  margin: 12px 0;
  padding: 0;
  max-height: 1px;
  background-color: $hr-color;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header_navigation-menu-right-list li {
    padding: 10px 0;
  }

  .header_navigation-menu-ubs .header_navigation-menu-right {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-fluid {
    height: 86px;
    padding: 0 24px;
  }

  .header_container .header_logo img {
    width: 90px;
  }

  a.ubs-header-sign-in,
  a.header_sign-in-link {
    display: none;
  }

  #header_user-wrp {
    max-width: 226px;
  }

  .ubs-user-cabinet.add-shadow {
    max-width: 226px;
  }
}

@media (min-width: 992px) {
  .header_navigation-menu {
    width: 100%;
  }

  .header_navigation-menu-ubs {
    justify-content: space-between;
  }

  .header_navigation-menu-left {
    display: block;
  }
}

@media (min-width: 1200px) {
  #header_user-wrp {
    max-width: 226px;
  }

  .header_navigation-menu-ubs .header_navigation-menu-right {
    width: 45%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    .warning {
      .warning_massage {
        padding: 0 150px;
        width: 100%;
        justify-content: center;

        span {
          margin-right: 30px;
          width: auto;
          min-width: 400px;
          max-width: 485px;
          text-align: center;
          font-size: 12px;
          line-height: 13px;
        }

        .warning_button_comment {
          width: 165px;
          padding: 7px 20px;
          font-size: 11px;
          line-height: 13px;
        }
      }
    }
  }

  .header_container {
    padding: 0 8px;
    max-width: none;
  }

  .ubs-header_sign-up-btn {
    width: 196px;
    font-size: 12px;
  }

  .header_navigation-menu-right {
    width: 45%;
    max-width: 400px;
    font-size: 12px;
  }

  .header_navigation-menu-right ul {
    justify-content: flex-end;

    &:nth-child(n + 1) {
      padding-left: 16px;
    }
  }

  .header_navigation-menu-ubs .header_navigation-menu-left ul .nav-left-list a.url-name,
  .header_navigation-menu-ubs .header_navigation-menu-left .pick-up-service,
  .header_navigation-menu-left ul li a {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .ubs-header-sing-in-img,
  .header_sign-up-link .ubs-header_sign-up-btn,
  .header_sign-up-link .header_sign-up-btn {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 1439px) {
  nav.header_navigation-menu-left ul {
    justify-content: space-around;
    text-align: center;
  }

  a.ubs-header-sign-in,
  a.header_sign-in-link {
    display: none;
  }

  .ubs-header-sing-in-img-greencity.ubs-header-sing-in-img {
    border: 1px solid var(--primary-green);
    border-radius: 0;
  }

  img.ubs-header-sing-in-img {
    margin: 0 10px;
    padding: 6px 15px;
    width: 54px;
    height: 36px;
    border: 2px solid #87bc1e;
    border-radius: 5px;

    &:hover {
      border-color: var(--ubs-tertiary-dark-green);
      cursor: pointer;
    }
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  header .warning {
    .warning_massage {
      padding: 0 34px;
      width: auto;
      justify-content: center;
      text-align: center;

      span {
        margin-right: 25px;
        width: 60%;
        min-width: 337px;
        max-width: 400px;
        font-size: 9px;
        line-height: 11px;
      }

      .warning_button_comment {
        width: 135px;
        padding: 4px 0;
        font-size: 9px;
        line-height: 11px;
      }
    }
  }

  .ubs-header-sing-in-img {
    margin-right: 12px;
    margin-left: 12px;
  }

  #header_user-wrp {
    display: flex;
    max-width: 126px;
  }

  .ubs-user-cabinet.add-shadow {
    max-width: 126px;
  }

  .ubs-user-cabinet {
    display: flex;
    justify-content: center;
  }

  .header_navigation-menu-ubs {
    max-height: 86px;
  }

  .header_navigation-menu-ubs .header_navigation-menu-right {
    width: 80%;
  }

  .header_logo {
    max-height: 42px;
  }

  .admin-container-fluid {
    align-items: center;
  }

  .header_navigation-menu-right-lang {
    padding-left: 0;
  }
}

@media (max-width: 1023px) {
  .header_navigation-menu-ubs {
    justify-content: flex-end;
  }

  .container-fluid,
  .container {
    height: 86px;

    .admin-container-fluid,
    .header_container {
      height: 86px;
    }

    .header_navigation-menu-ubs {
      height: 86px;
    }
  }

  .header_navigation-menu-ubs .header_navigation-menu-right .header_navigation-menu-right-list,
  .header_navigation-menu {
    justify-content: flex-end;
  }

  .header_navigation-menu-ubs .header_navigation-menu-right .header_navigation-menu-right-list #header_user-wrp.ubs-user-cabinet,
  #header_user-wrp {
    display: none;
  }

  .header_navigation-menu-left,
  #header_user-wrp {
    display: none;
  }

  .header_navigation-menu-right-list li.header_burger-btn {
    padding-right: 0;
  }

  .header_burger-btn {
    margin-right: 0;
    padding-right: 0;
  }

  .ubs-header_sign-up-btn,
  .header_sign-up-btn {
    width: 196px;
    height: 36px;
    font-size: 12px;
  }

  .header_container .header_logo {
    width: 68px;
    height: 36px;

    img {
      width: 68px;
      height: 36px;
    }
  }

  img.ubs-header-sing-in-img {
    padding: 8px 17px;
    width: 54px;
    height: 36px;
  }
}

@media (max-width: 767px) {
  .container-fluid,
  .container {
    height: 52px;

    .admin-container-fluid,
    .header_container {
      height: 52px;
    }

    .header_navigation-menu-ubs {
      height: 52px;
    }
  }

  .ubs-header_sign-up-btn,
  .header_sign-up-btn {
    width: 167px;
    height: 27px;
    font-size: 10px;
  }

  .header_logo {
    width: 68px;
    height: 27px;

    img {
      width: 54px;
      height: 27px;
    }
  }

  .header_navigation-menu-right-list li.header_sign-up-link {
    padding-right: 12px;
  }

  img.ubs-header-sing-in-img {
    padding: 3px 14px;
    width: 48px;
    height: 27px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .warning {
    height: 76px;

    .warning_massage {
      padding: 5px 0;
      height: 100%;
      flex-direction: column;
      width: auto;
      justify-content: space-around;

      span {
        width: auto;
        min-width: 293px;
        max-width: 337px;
        text-align: center;
        font-size: 8px;
        line-height: 9px;
      }

      .warning_button_comment {
        width: 132px;
        height: 25px;
        padding: 0 4px;
        font-size: 9px;
        float: 10px;
      }
    }
  }

  a.header_logo,
  a.header_logo img {
    max-height: 25px;
  }

  .admin-container-fluid {
    align-items: center;
  }

  .add-shadow {
    background-color: #fff;
    top: 21px;
  }

  .header_navigation-menu-ubs {
    height: 52px;
  }

  .header_lang-switcher-wrp,
  .header_navigation-menu-right-lang,
  .ubs-lang-switcher {
    margin-right: 18px;
  }

  .ubs-header-sign-in,
  .header_sign-in-link,
  .header_navigation-menu-right-list li.header_sign-up-link {
    display: none;
  }
}

@media (min-width: 1024px) {
  #header_user-wrp {
    display: block;

    li a {
      margin: 0 auto;
    }
  }

  #header_user-wrp.add-shadow {
    top: 0;
  }

  .header_navigation-menu-right-list li.header_burger-btn {
    display: none;
  }

  .header-for-admin .header_navigation-menu-right .header_navigation-menu-right-list #header_user-wrp.ubs-admin-cabinet.add-shadow {
    top: 21px;
  }
}

@media (min-width: 1440px) {
  .ubs-header-sing-in-img {
    display: none;
  }

  .ubs-header-sign-in,
  .header_sign-in-link,
  a.header_sign-in-link,
  .header_navigation-menu-right-list .ubs-header-sign-in {
    display: flex;
  }
}
