$hr-color: #e6e6e6;
$header-height: 54px;
$white-color: var(--ubs-primary-white);
$ubs-header-height: 116px;

::ng-deep .custom-dialog-container .mat-dialog-container {
  background-color: transparent;
}

.active-link {
  color: var(--primary-green);

  &:focus {
    color: var(--primary-green);
  }
}

header {
  width: 100vw;
  box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
  position: fixed;
  top: 0;
  background: $white-color;
  z-index: 5;
}

.header_sign-up-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  height: 36px;

  span {
    padding: 0 24px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
  }
}

.ubs-header_sign-up-btn {
  width: 163px;
  height: 44px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--ubs-secondary-light-green);
  border: 2 solid var(--ubs-secondary-light-green);
  border-radius: 15px;
  color: var(--ubs-primary-white);

  &:hover {
    background-color: var(--ubs-tertiary-dark-green);
    border: 2px solid var(--ubs-tertiary-dark-green);
    cursor: pointer;
  }
}

.header_sign-in-link {
  font-size: 12px;
  font-weight: 600;
  width: 70px;
  padding: 0 12px;

  a {
    color: var(--secondary-dark-green);
    display: block;
    min-width: 40px;
  }
}

.burger-modal_open {
  box-shadow: none;

  .header_sign-in-link {
    font-size: 16px;
    line-height: 16px;
    width: fit-content;
    padding: 0 40px;
    color: var(--secondary-dark-green);
  }

  .header_mobile-menu-sign-in {
    width: fit-content;
    margin: 35px 0 30px;
  }

  .header_sign-up-btn {
    font-size: 16px;
    line-height: 16px;
    height: 100%;
  }

  .header_mobile-menu-sign-up {
    width: fit-content;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    div span {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.header_sign-up-link {
  font-size: 12px;

  a {
    color: var(--secondary-dark-green);
  }
}

.dropdown {
  background-color: $white-color;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 41px;
  width: 150px;
  display: flex;
  flex-direction: column;
  right: -15px;
  align-items: flex-start;

  li {
    position: relative;
    color: var(--ubs-primary-black);

    a {
      display: block;
      padding: 10px;
      width: 100%;
    }
  }
}

.ubs-header-sign-in {
  display: flex;
  width: 163px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--ubs-primary-black);
  border: 2px solid #87bc1e;
  border-radius: 15px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    color: var(--ubs-secondary-light-green);
    text-decoration: none;
  }
}

.header_logo {
  margin-right: 24px;
  margin-left: 20px;
}

.header_navigation-menu-right-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;

  li {
    height: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
  }

  .ubs-header-sign-in,
  .header_sign-in-link,
  .header_sign-up-link {
    display: none;
  }
}

.header_navigation-menu-left-col {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white-color;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  box-shadow: 0 4px 5px -2px rgba(73, 74, 73, 0.2);
  overflow-y: auto;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 550px;

    li {
      height: 52px;
      width: 100%;
      max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: var(--primary-dark-grey);
    }
  }
}

.header_navigation-menu-left {
  display: none;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }

      a {
        font-size: 14px;
        line-height: 16px;
        color: var(--primary-dark-grey);
      }
    }

    .header_mobile-menu-item {
      display: none;
      font-weight: 600;
    }
  }
}

.header_sign-up-link a:hover {
  text-decoration-line: none;
}

.header_container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header-logo {
  display: flex;
  align-items: center;

  a img {
    max-width: 100%;
  }
}

.header_navigation-menu-ubs,
.header_navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary-font);
}

.header_navigation-menu {
  height: $header-height;

  .header_navigation-menu-right {
    height: 80%;
    right: 20px;

    .header_navigation-menu-right-list {
      .search-icon,
      .bookmark-icon,
      .notification-icon {
        img {
          height: 11px;
          cursor: pointer;
        }
      }

      .header_navigation-menu-right-lang {
        padding-left: 0;
        height: 88px;
        cursor: pointer;
        width: 60px;
        display: flex;
        justify-content: center;

        .lang-option {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

#header_user-wrp {
  position: relative;
  margin: auto 0;
  padding: 0;
  height: fit-content;
  display: none;
  flex-direction: column;
  width: auto;
  min-width: 126px;

  li {
    height: 44px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    //padding: 0 12px 0;
    color: var(--primary-dark-grey);

    &:first-child {
      font-size: 14px;
      font-weight: 600;
    }

    &.drop-down-item {
      display: flex;
      align-items: center;

      a {
        color: var(--primary-dark-grey);
        font-size: 14px;
        line-height: 16px;
        font-family: var(--primary-font);
        font-weight: 400;
      }
    }

    &.text-hidde {
      display: none;
    }
  }

  .header_user-name {
    span {
      color: var(--primary-green);
    }
  }

  .ubs-header_user-name,
  .header_user-name {
    display: flex;
    text-decoration: none;

    span {
      font-weight: normal;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
    }
  }
}

.header_navigation-menu-ubs {
  height: $ubs-header-height;
  width: 100%;
  justify-content: flex-end;

  .header_navigation-menu-left {
    width: 50%;

    ul .nav-left-list {
      &:first-child {
        text-decoration: underline;
        text-decoration-style: 1px solid var(--ubs-main-page-text-grey);
        text-underline-offset: 7px;
      }

      .url-name {
        font-family: var(--ubs-secondary-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: var(--ubs-main-page-text-grey);

        &:hover {
          text-decoration: underline;
          text-decoration-style: 1px solid var(--ubs-main-page-text-grey);
          text-underline-offset: 7px;
        }
      }
    }
  }

  .header_navigation-menu-right {
    height: 80%;

    .header_navigation-menu-right-list {
      justify-content: space-evenly;

      .header_lang-switcher-wrp.header_navigation-menu-right-lang {
        padding-left: 0;
        cursor: pointer;
      }

      #header_user-wrp.ubs-user-cabinet {
        display: none;
        align-items: center;
        font-family: var(--ubs-secondary-font);

        .list-item {
          padding: 0;
          text-align: center;

          &:first-child span {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            border: 2px solid var(--ubs-secondary-light-green);
            border-radius: 15px;
            width: 160px;
            height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .ubs-header_user-name {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

.add-shadow {
  padding-left: 0;
  height: 88px;
  background-color: $white-color;
  box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
  border-radius: 2px;
  display: flex;
  margin-bottom: auto;
  flex-direction: column;
  z-index: 1;
}

#header_user-wrp.ubs-user-cabinet.add-shadow {
  border-radius: 20px;
  max-width: 160px;
  top: 25px;
}

.ubs-lang-switcher-span {
  font-size: 18px;
  color: var(--ubs-main-page-primary-light-grey);
  font-weight: 800;

  &:hover {
    text-decoration: underline;
  }
}

.header_arrow {
  margin: 2px 0 0 5px;
}

.reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
}

.header_burger-btn {
  margin-right: 10px;
  cursor: pointer;

  .menu-icon-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .menu-icon {
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 14px;
      background-color: var(--quaternary-grey);

      &::before {
        position: absolute;
        left: 0;
        top: -6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: var(--quaternary-grey);
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }

      &::after {
        position: absolute;
        left: 0;
        top: 6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: var(--quaternary-grey);
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }
    }

    .menu-icon-active {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
    }
  }

  .modal-open {
    overflow: hidden !important;
    position: relative;
    text-align: center;
  }
}

.header_line {
  margin: 12px 0;
  padding: 0;
  max-height: 1px;
  background-color: $hr-color;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header_navigation-menu-right-list li {
    padding: 10px 0;
  }

  .header_navigation-menu-ubs .header_navigation-menu-right {
    width: 150px;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0;
    height: 52px;
  }

  .header_navigation-menu-right {
    .ubs-header-sign-in,
    .ubs-header_sign-up-btn,
    .header_sign-in-link,
    .header_sign-up-link {
      display: flex;
    }
  }

  #header_user-wrp {
    display: flex;
    max-width: 126px;
  }

  .ubs-user-cabinet.add-shadow {
    max-width: 126px;
  }

  .ubs-user-cabinet {
    display: flex !important;
    justify-content: center;
  }

  .header_navigation-menu-ubs .header_navigation-menu-right {
    width: 80%;
  }
}

@media (min-width: 768px) {
  #header_user-wrp {
    max-width: 226px;
  }

  .ubs-user-cabinet.add-shadow {
    max-width: 226px;
  }
}

@media (min-width: 992px) {
  .header_navigation-menu {
    width: 100%;
  }

  .header_navigation-menu-ubs {
    justify-content: space-between;
  }

  .header_navigation-menu-left {
    display: block;
  }

  .header_navigation-menu-right {
    .header_sign-up-link {
      padding-right: 0;
    }

    .header_burger-btn {
      display: none !important;
    }
  }
}

@media (min-width: 1200px) {
  #header_user-wrp {
    max-width: 226px;
  }

  .header_navigation-menu-ubs .header_navigation-menu-right {
    width: 30%;
  }
}
