$hr-color: #e6e6e6;
$header-height: 54px;
$white-color: var(--ubs-primary-white);
$ubs-header-height: 116px;

::ng-deep .custom-dialog-container .mat-dialog-container {
  background-color: transparent;
}

.active-link {
  color: var(--primary-green) !important;

  &:focus {
    color: var(--primary-green);
  }
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  background: $white-color;
  z-index: 5;
  box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);

  .container-fluid {
    font-family: var(--ubs-secondary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .header_container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .header_logo {
      margin-right: 24px;
      margin-left: 20px;
    }

    .header_navigation-menu {
      height: $header-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--primary-font);
    }
  }
}

.burger-modal_open header {
  box-shadow: none;

  .header_sign-in-link {
    font-size: 16px;
    line-height: 16px;
    width: fit-content;
    padding: 0 40px;
    color: var(--secondary-dark-green);
  }

  .header_mobile-menu-sign-in {
    width: fit-content;
    margin: 35px 0 30px;
  }

  .header_sign-up-btn {
    font-size: 16px;
    line-height: 16px;
    height: 100%;
  }

  .header_mobile-menu-sign-up {
    width: fit-content;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    div span {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.header_ubs {
  box-shadow: none !important;
  height: $ubs-header-height;
  display: flex;

  .header_navigation-menu-left {
    width: 30%;
  }

  .header_navigation-menu-left li a {
    color: #575757;
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
  }

  .header_navigation-menu-left li:first-child a {
    text-decoration: underline;
    text-decoration-style: 1px solid #575757;
    text-underline-offset: 7px;
  }

  .header_navigation-menu-left li a:hover {
    text-decoration: underline;
    text-decoration-style: 1px solid #575757;
    text-underline-offset: 7px;
  }

  // hide GreenCity for prod
  .header_navigation-menu-left li:nth-child(4) a {
    //display: none;
  }
}

.header_sign-in-link {
  font-size: 12px;
  font-weight: 600;
  width: 70px;
  padding: 0 12px;

  a {
    color: var(--secondary-dark-green);
    display: block;
    min-width: 40px;
  }
}

.header_sign-up-link {
  font-size: 12px;

  a {
    color: var(--secondary-dark-green);
  }
}

.ubs-header-sign-in {
  display: flex;
  font-family: var(--ubs-secondary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  height: 36px;
  width: 150px;
  justify-content: center;
  align-items: center;
  color: var(--ubs-primary-black);
  border: 2px solid #87bc1e;
  border-radius: 15px;

  &:hover {
    background-color: #87bc1e;
    text-decoration: none;
  }
}

.header_navigation-menu-right-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  padding: 0;

  li {
    height: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
  }

  .ubs-header-sign-in,
  .header_sign-in-link,
  .header_sign-up-link {
    display: none;
  }
}

.header_navigation-menu-left-col {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white-color;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  box-shadow: 0 4px 5px -2px rgba(73, 74, 73, 0.2);
  overflow-y: auto;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 550px;

    li {
      height: 52px;
      width: 100%;
      max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: var(--primary-dark-grey);
    }
  }
}

.header_navigation-menu-left {
  display: none;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }

      a {
        font-size: 14px;
        line-height: 16px;
        color: var(--primary-dark-grey);
      }
    }

    .header_mobile-menu-item {
      display: none;
      font-weight: 600;
    }
  }
}

.header_sign-up-link a:hover {
  text-decoration-line: none;
}

.header_arrow {
  margin: 2px 0 0 5px;
}

.header_sign-up-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  height: 36px;

  span {
    padding: 0 24px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
  }
}

.ubs-header_sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: fit-content;
  background-color: #87bc1e;
  border: 2px solid #87bc1e;
  border-radius: 15px;
  font-family: var(--ubs-secondary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--ubs-primary-white);

  &:hover {
    background-color: #5b8901;
    border: 3.5px solid #5b8901;
  }
}

.reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
}

.header_navigation-menu-right {
  height: 80%;
  right: 20px;

  .search-icon,
  .bookmark-icon,
  .notification-icon {
    img {
      height: 11px;
      cursor: pointer;
    }
  }

  .header_lang-switcher-wrp.header_navigation-menu-right-list {
    cursor: pointer;
    width: 60px;
    display: flex;
    justify-content: center;

    li {
      width: 30px;
      padding: 0;

      span {
        font-size: 14px;
      }
    }
  }

  .add-shadow {
    background-color: $white-color;
    box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
    display: flex;
    flex-direction: column;
    height: 88px;
    margin: auto 0;
    width: 60px;
    z-index: 1;
  }
}

.ubs-lang-switcher {
  margin-right: 170px !important;
}

.item-list-margin {
  border-radius: 2px;
}

.header_burger-btn {
  margin-right: 10px;
  cursor: pointer;

  .menu-icon-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .menu-icon {
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 14px;
      background-color: var(--quaternary-grey);

      &::before {
        position: absolute;
        left: 0;
        top: -6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: var(--quaternary-grey);
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }

      &::after {
        position: absolute;
        left: 0;
        top: 6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: var(--quaternary-grey);
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }
    }

    .menu-icon-active {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
    }
  }

  .modal-open {
    overflow: hidden !important;
    position: relative;
    text-align: center;
  }
}

#header_user-wrp {
  position: relative;
  margin: auto 0;
  padding: 0;
  height: fit-content;
  display: none;
  flex-direction: column;
  width: auto;
  min-width: 126px;

  li {
    height: 44px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0 12px 0;
    color: var(--primary-dark-grey);

    &:first-child {
      font-size: 14px;
      font-weight: 600;
    }

    &.drop-down-item {
      display: flex;
      align-items: center;

      a {
        color: var(--primary-dark-grey);
        font-size: 14px;
        line-height: 16px;
        font-family: var(--primary-font);
        font-weight: 400;
      }
    }

    &.text-hidde {
      display: none;
    }
  }

  .header_user-name {
    span {
      font-weight: normal;
      color: var(--primary-green);
    }
  }

  .ubs-header_user-name {
    span {
      color: var(--ubs-primary-black);
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }

    img {
      display: none;
    }
  }

  .ubs-header_user-name,
  .header_user-name {
    display: flex;
    text-decoration: none;

    span {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
    }
  }
}

ul .ubs-user-cabinet {
  display: flex;
  align-items: center;
  right: 50px;
  font-family: var(--ubs-secondary-font);

  li {
    &:first-child {
      font-family: var(--ubs-secondary-font);
      font-weight: 600 !important;
      font-size: 16px;
      line-height: 20px;
      border: 2px solid #87bc1e;
      border-radius: 15px;
    }

    a {
      font-family: var(--ubs-secondary-font);
      display: flex;
      justify-content: center;
    }
  }
}

.ubs-lang-switcher-span {
  font-size: 18px !important;
  color: #b5b5b5 !important;
  font-weight: 800;

  &:hover {
    text-decoration: underline;
  }
}

.ubs-user-cabinet {
  border-radius: 20px;
}

#header_user-wrp {
  .ubs-header_user-name {
    width: 162px;
  }

  li.drop-down-item a {
    color: var(--primary-dark-grey);
    font-size: 16px;
    line-height: 20px;
  }
}

.header_line {
  margin: 12px 0;
  padding: 0;
  max-height: 1px;
  background-color: $hr-color;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header_navigation-menu-right-list li {
    padding: 10px 0;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0;
    height: 52px;
  }

  .header_navigation-menu-right {
    .ubs-header-sign-in,
    .ubs-header_sign-up-btn,
    .header_sign-in-link,
    .header_sign-up-link {
      display: flex;
    }
  }

  #header_user-wrp {
    display: flex;
  }
}

@media (min-width: 992px) {
  .header_navigation-menu {
    width: 100%;

    .header_navigation-menu-left {
      width: 70%;

      li {
        margin-left: 0;

        a {
          font-size: 14px;
        }
      }
    }
  }

  .header_navigation-menu-ubs {
    justify-content: space-between;
  }

  .header_navigation-menu-left {
    display: block;
  }

  .header_navigation-menu-right {
    .header_sign-up-link {
      padding-right: 0;
    }

    .ubs-lang-switcher {
      margin-right: 100px !important;
    }

    .header_burger-btn {
      display: none !important;
    }
  }
}
