<div [formGroup]="dateForm">
  <div class="date-container">
    <mat-form-field appearance="outline" class="date">
      <mat-label>{{ 'create-event.choose-date' | translate }}</mat-label>
      <input [min]="minDate" matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="time-item">
      <mat-label>{{ 'create-event.set-start-time' | translate }}</mat-label>
      <mat-select ngDefaultControl formControlName="startTime">
        <mat-option *ngFor="let time of timeArrStart" [value]="time">
          {{ time }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h5 class="time-item">--</h5>
    <mat-form-field appearance="outline" class="time-item">
      <mat-label>{{ 'create-event.set-end-time' | translate }}</mat-label>
      <mat-select ngDefaultControl formControlName="endTime">
        <mat-option *ngFor="let time of timeArrEnd" [value]="time">
          {{ time }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox class="example-margin" [checked]="checkedAllDay" [disabled]="isAllDayDisabled" (change)="checkIfAllDay()">{{
      'create-event.all-day' | translate
    }}</mat-checkbox>
  </div>
  <div *ngIf="index === this.duplindex" class="duplix-error">{{ 'create-event.duplicate-event-date' | translate }}</div>
  <div *ngIf="dateForm?.touched && dateForm?.invalid" class="error-date">
    <app-input-error [formElement]="endTime" [isEvent]="true" [date]="true"></app-input-error>
  </div>
  <div class="checkbox">
    <mat-checkbox class="example-margin" [checked]="checkOfflinePlace" [disabled]="isPlaceDisabled" (change)="checkIfOffline()">{{
      'create-event.event-place' | translate
    }}</mat-checkbox>
    <mat-checkbox class="example-margin" [checked]="checkOnlinePlace" [disabled]="isPlaceDisabled" (change)="checkIfOnline()">{{
      'create-event.event-online' | translate
    }}</mat-checkbox>
  </div>

  <div *ngIf="dateForm.get('place')" class="active">
    <mat-label>{{ 'create-event.event-location' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'create-event.event-offline-place' | translate }}</mat-label>
      <input
        matInput
        #placesRef
        matGoogleMapsAutocomplete
        formControlName="place"
        placeholder="{{ 'create-event.enter-location' | translate }}"
      />
    </mat-form-field>
    <div *ngIf="isLocationSelected" class="tag-error-messege">
      <span>Specify the search request or choose the location manually using the map below</span>
    </div>
    <div class="map-container" #map>
      <agm-map
        [style.width.%]="100"
        [style.height.%]="100"
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        [zoom]="zoom"
        [streetViewControl]="false"
        (mapClick)="onChangePickerOnMap($event)"
      >
        <agm-marker [latitude]="coordinates.latitude" [longitude]="coordinates.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div *ngIf="checkOnlinePlace" class="active">
    <mat-label>{{ 'create-event.event-link' | translate }}</mat-label>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'create-event.event-online-link' | translate }}</mat-label>
      <input matInput formControlName="onlineLink" placeholder="{{ 'create-event.enter-link' | translate }}" />
    </mat-form-field>
  </div>
</div>
