.date-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-container {
  display: flex;
  width: 100%;
}

.time-item {
  max-width: 102px;
  margin-right: 10px;
}

.time-button {
  min-width: 100%;
}

.date {
  max-width: 124px;
  margin-right: 20px;
}

.mat-form-field {
  font-size: 12px;
}

.active {
  display: block;

  .mat-form-field {
    width: 100%;
  }
}

.example-margin {
  margin-right: 20px;
}

.map-container {
  width: 604px;
  height: 410px;
  margin-bottom: 16px;
}

.tag-error-messege {
  margin-left: 20px;
  color: var(--error-red);
}

.checkbox-error ::ng-deep .mat-checkbox-frame {
  border-color: var(--error-red);
}
