<div [formGroup]="dateForm" class="date-location-container">
  <div class="date-container">
    <span class="day">{{ index + 1 }} {{ 'create-event.day' | translate }}</span>
    <div class="date-time">
      <mat-form-field appearance="outline" class="date">
        <mat-label>{{ 'create-event.choose-date' | translate }}</mat-label>
        <input [min]="minDate" matInput [matDatepicker]="picker" ngDefaultControl formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="time">
        <mat-form-field appearance="outline" class="time-item">
          <mat-label>{{ 'create-event.set-start-time' | translate }}</mat-label>
          <mat-select ngDefaultControl formControlName="startTime">
            <mat-option *ngFor="let time of timeArrStart" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h5 class="dash">—</h5>
        <mat-form-field appearance="outline" class="time-item">
          <mat-label>{{ 'create-event.set-end-time' | translate }}</mat-label>
          <mat-select ngDefaultControl formControlName="endTime">
            <mat-option *ngFor="let time of timeArrEnd" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-checkbox class="all-day" [checked]="checkedAllDay" [disabled]="isAllDayDisabled" (change)="checkIfAllDay()">{{
        'create-event.all-day' | translate
      }}</mat-checkbox>
    </div>
  </div>
  <div *ngIf="dateForm?.invalid && submitSelected" class="date-error">
    <app-input-error [formElement]="endTime" [isEvent]="true" [date]="endTime.invalid" [numberDate]="date.invalid"></app-input-error>
  </div>
  <div *ngIf="index === this.duplindex" class="duplix-error">{{ 'create-event.duplicate-event-date' | translate }}</div>
  <div class="checkbox">
    <mat-checkbox class="example-margin" [checked]="checkOfflinePlace" [disabled]="isPlaceDisabled" (change)="checkIfOffline()">
      {{ 'create-event.event-place' | translate }}
    </mat-checkbox>
    <mat-checkbox class="example-margin" [checked]="checkOnlinePlace" [disabled]="isLinkDisabled" (change)="checkIfOnline()">
      {{ 'create-event.event-online' | translate }}
    </mat-checkbox>
  </div>

  <div *ngIf="dateForm.get('place')" class="active">
    <mat-label>{{ 'create-event.event-location' | translate }}</mat-label>
    <div class="location-title">
      <mat-form-field class="location-title-input" appearance="outline">
        <mat-label>{{ 'create-event.event-offline-place' | translate }}</mat-label>
        <input
          matInput
          #placesRef
          matGoogleMapsAutocomplete
          formControlName="place"
          placeholder="{{ 'create-event.enter-location' | translate }}"
        />
      </mat-form-field>
      <mat-checkbox
        *ngIf="isLocationSelected && index === 0 && !firstFormIsSucceed"
        class="apply-location-checkbox"
        [checked]="appliedForAllLocations"
        [disabled]="!readyToApplyLocation"
        (change)="toggleForAllLocations()"
      >
        {{ 'create-event.apply-location' | translate }}
      </mat-checkbox>
    </div>
    <div *ngIf="!isLocationSelected" class="location-error-messege">{{ 'create-event.location-required' | translate }}</div>
    <div *ngIf="!isLocationDisabled || isFirstDay" class="map-container" #map>
      <agm-map
        [style.width.%]="100"
        [style.height.%]="100"
        [latitude]="coordinates.latitude"
        [longitude]="coordinates.longitude"
        [zoom]="zoom"
        [streetViewControl]="false"
        (mapClick)="onChangePickerOnMap($event)"
      >
        <agm-marker [latitude]="coordinates.latitude" [longitude]="coordinates.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div *ngIf="checkOnlinePlace" class="active">
    <mat-label>{{ 'create-event.event-link' | translate }}</mat-label>
    <mat-form-field class="link-title" appearance="outline">
      <mat-label class="link-title">{{ 'create-event.event-online-link' | translate }}</mat-label>
      <input matInput formControlName="onlineLink" placeholder="{{ 'create-event.enter-link' | translate }}" />
    </mat-form-field>
    <mat-checkbox
      *ngIf="index === 0 && !firstFormIsSucceed"
      class="apply-location-checkbox"
      [checked]="appliedForAllLink"
      (change)="toggleForAllLinks()"
    >
      {{ 'create-event.apply-location' | translate }}
    </mat-checkbox>
  </div>
</div>
