.date-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-container {
  display: flex;
  width: 100%;
}

.time-item {
  max-width: 102px;
  margin-right: 10px;
}

.time-button {
  min-width: 100%;
}

.date {
  max-width: 124px;
  margin-right: 20px;
}

.mat-form-field {
  font-size: 12px;
}

.isOfline {
  display: none;
}

.active {
  display: block;

  .mat-form-field {
    width: 100%;
  }
}

.example-margin {
  margin-right: 20px;
}

.map-container {
  width: 604px;
  height: 410px;
}
.tag-error {
  margin-left: 20px;
  color: red;
}
