.date-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  .date-time {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .time {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;

    .dash {
      height: 48px;
      display: flex;
      align-items: center;
    }
  }

  .date {
    flex: 1;
  }
}

.checkbox {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.day {
  background-color: #e3e6e8;
  color: var(--quaternary-grey);
  width: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.location-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}
