<ng-template [ngIf]="isSearchClicked">
  <div class="search-bar-wrapper">
    <div class="center-flex-wrapper">
      <div class="search-icon"></div>
        <input class = "search-field"
               type="text"
               placeholder="Search"
               #inputFocus
               (keyup)="onKeyUp($event.target)">
               {{inputFocus.focus()}}
      <div class="close-icon"
           (click)="closeSearch()"></div>
    </div>
  </div>

  <div class="fixed-wrapper">
    <div class="adaptive-center-wrapper">
      <div class="search-content-wrapper">
        <div class="remaining-items" *ngIf="inputValue">
          {{ itemsFound }} items found
        </div>
        <div *ngIf="isNewsSearchFound || isTipsSearchFound">
          <div class="content-news" *ngIf="isNewsSearchFound">
            <a [routerLink]="['/news']" (click)="closeSearch()">
              <h3>News</h3>
            </a>
            <div class="flex-container">
              <app-search-item *ngFor="let element of newsElements" [searchModel]="element"
                (closeSearch)="closeSearch()"></app-search-item>
            </div>
          </div>

          <div class="content-tips" *ngIf="isTipsSearchFound">
            <a [routerLink]="['/welcome']" pageScroll href="#tips" [pageScrollDuration]="500" (click)="closeSearch()">
              <h3>Tips & Tricks</h3>
            </a>
            <div class="flex-container">
              <app-search-item *ngFor="let element of tipsElements" [searchModel]="element"
                (closeSearch)="closeSearch()"></app-search-item>
            </div>
          </div>

          <a [routerLink]="['/search']" (click)="closeSearch()" class="all-results-link">
            See all results
          </a>
        </div>

        <div *ngIf="(isNewsSearchFound === false && isTipsSearchFound === false)">
          <app-search-not-found 
            [inputValue]="inputValue" 
            (closeUnsuccessfulSearchResults)="closeSearch()">
          </app-search-not-found>
        </div>
      </div>
      <div class="overlay" (click)="closeSearch()"></div>
    </div>
  </div>
</ng-template>
