<section *ngIf="isSearchClicked">
  <div class="search-bar-wrapper">
    <div class="center-flex-wrapper">
      <div class="search-icon"></div>
        <input class = "search-field"
               type="text"
               placeholder="{{ 'search.search-popup.placeholder' | translate}}"
               #inputFocus
               (keyup)="onKeyUp($event.target)">
               {{inputFocus.focus()}}
      <div class="close-icon"
           (click)="closeSearch()"></div>
    </div>
  </div>

  <div class="fixed-wrapper">
    <div class="adaptive-center-wrapper">
      <div class="search-content-wrapper">
        <div class="remaining-items"
             *ngIf="inputValue">
          {{ itemsFound }} {{ "search.search-popup.items-found" | translate }}
        </div>
          <div class="content-news"
               *ngIf="isNewsSearchFound">
            <a [routerLink]="['/news']"
               (click)="closeSearch()">
              <h3>{{ "search.search-popup.news" | translate }}</h3>
            </a>
            <div class="flex-container">
              <app-search-item *ngFor="let element of newsElements"
                               [searchModel]="element"
                               (closeSearch)="closeSearch()"></app-search-item>
            </div>
          </div>

          <div class="content-tips"
               *ngIf="isTipsSearchFound">
            <a [routerLink]="['/welcome']"
               pageScroll
               href="#tips"
               [pageScrollDuration]="500"
               (click)="closeSearch()">
              <h3>{{ "search.search-popup.tips" | translate }}</h3>
            </a>
            <div class="flex-container">
              <app-search-item *ngFor="let element of tipsElements"
                               [searchModel]="element"
                               (closeSearch)="closeSearch()"></app-search-item>
            </div>
          </div>

          <a [routerLink]="['/search']"
             (click)="closeSearch()"
             class="all-results-link">
             {{ "search.search-popup.all-results" | translate }}
          </a>

          <app-search-not-found
            *ngIf="(isNewsSearchFound === false && isTipsSearchFound === false)"
            [inputValue]='inputValue'
            (closeUnsuccessfulSearchResults)="closeSearch()"
          ></app-search-not-found>
      </div>

      <div class="overlay"
           (click)="closeSearch()"></div>
    </div>
  </div>
</section>
