.goal-main-container {
  display: block;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 276px;
}

.goal-container-header {
  display: flex;
  flex-direction: column;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
