@media only screen and (min-width: 1366px) {
  p,
  div {
    margin: 0;
    padding: 0;
  }

  #list-gallery-content {
    width: 21rem;
    height: 190px;
  }

  .ul-eco-buttons {
    opacity: 0.8;
    font-family: OpenSans, sans-serif;
    font-size: 0.9rem;
    color: #313131;
    display: inline-block;
    padding: 0.3rem 1rem;
    border: 1px solid #313131;
    border-radius: 53px;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
  }

  .title-list {
    margin: 8px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    color: #313131;
    line-height: 1.6rem;

    a {
      color: #313131;
      p {
        overflow-wrap: break-word;
      }
    }

    a:hover {
      color: #056B33;
      text-decoration: none;
    }
  }

  .list-text {
    margin: 8px 0 0 0;
    font-family: 'Open Sans', sans-serif;
  }

  .user-data-added-news {
    margin: 8px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  .user-data-text-date-share {
    margin-right: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #666666;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .icon {
    align-items: center;
    margin-right: 4px;
    margin-top: -3px;
  }
}

@media only screen and (max-width: 1366px) {
  #list-gallery-content {
    max-width: 33rem;
    height: 190px;
    padding-right: 20px;
  }

  .ul-eco-buttons {
    opacity: 0.8;
    font-family: OpenSans, sans-serif;
    font-size: 0.8rem;
    color: #313131;
    display: inline-block;
    padding: 0.3rem 1rem;
    border: 1px solid #313131;
    border-radius: 53px;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
  }

  .title-list {
    margin: 8px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    color: #313131;
    line-height: 1.6rem;

    a {
      color: #313131;
      p {
        overflow-wrap: break-word;
      }
    }

    a:hover {
      color: #056B33;
      text-decoration: none;
    }
  }

  .list-text {
    margin: 8px 0 0 0;
    font-family: 'Open Sans', sans-serif;
  }

  .user-data-added-news {
    margin: 8px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  .user-data-text-date-share {
    margin-right: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #666666;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .icon {
    align-items: center;
    margin-right: 4px;
    margin-top: -3px;
  }
}
