<div id="list-gallery-content">
  <div class="filter-tag">
    <div class="ul-eco-buttons" *ngFor="let ecoNew of searchModel.ecoNews">
         {{ ecoNew.tags }}
      <div class="title-list">
        <a [routerLink]="['/news', ecoNew.id]"
           (click) = "emitCloseSearch()">
          <p>
            {{ ecoNew.title | slice: 0:130 }}
          </p>
        </a>
      </div>
      <div class="user-data-added-news">
        <p class="user-data-text-date-share">
          <img class="icon"
               [src]="profileIcons.calendarIcon"
               alt="calendar icon" />
          {{ ecoNew.creationDate | date }}
        </p>
        <p class="user-data-text-date-share">
          <img class="icon"
               [src]="profileIcons.userIcon"
               alt="user icon" />
          {{ ecoNew.author.name }}
        </p>
      </div>
    </div>
  </div>


</div>
