<div class="list-gallery-content">
  <div class="filter-tag">
    <div class="ul-eco-buttons" *ngFor="let tag of searchModel.tags">
         {{ tag }}
    </div>
  </div>
  <div class="title-list">
    <a [routerLink]="['/news', searchModel.id]"
       (click) = "emitCloseSearch()">
      <p>
        {{ searchModel.title | slice: 0:130 }}
      </p>
    </a>
  </div>
  <div class="user-data-added-news">
    <p class="user-data-text-date-share">
      <img class="icon"
           [src]="profileIcons.calendarIcon"
           alt="calendar icon" />
           {{ searchModel.creationDate | date }}
    </p>
    <p class="user-data-text-date-share">
      <img class="icon"
           [src]="profileIcons.userIcon"
           alt="user icon" />
      {{ searchModel.author.name }}
    </p>
  </div>
</div>
