<form class="main-wrapper"
      [formGroup]="addCommentForm"
      [ngClass]="!commentId ? 'wrapper-comment': 'wrapper-reply'"
      (ngSubmit)="onSubmit()">
  <img [src]=avatarImage 
        alt="avatar">
    <div class="input-submit" *ngIf="!commentId; else reply">
      <textarea placeholder="{{ 'homepage.eco-news.comment.placeholder.add-a-comment' | translate }}"
                formControlName="content"></textarea>
      <button class="primary-global-button"
              [disabled]="!addCommentForm.valid">
        {{ "homepage.eco-news.comment.comment"| translate }}
      </button>
    </div>
    <ng-template #reply>
      <div class="input-submit">
        <textarea placeholder="{{ 'homepage.eco-news.comment.placeholder.add-a-reply' | translate }}"
                  formControlName="content"></textarea>
        <button class="primary-global-button"
                [disabled]="!addCommentForm.valid">
          {{ "homepage.eco-news.comment.reply"| translate }}
        </button>
      </div>
    </ng-template>
</form>
