.reply-wrapper {
  width: 100%;
  padding-left: 72px;
  margin-right: 0;

  textarea {
    width: 100%;
    height: 72px;
  }

  button {
    width: 123px;
    height: 48px;
  }
}

.wrapper {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-between;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 24px;
  }

  .input-submit {
    display: flex;
    width: 100%;

    textarea {
      width: 100%;
      height: 72px;
      overflow: hidden;
      resize: none;
      padding: 10px 0 0 20px;

      &::placeholder {
        color: #878787;
      }
    }

    button {
      width: 157px;
      height: 48px;
      margin-left: 16px;
    }
  }
}

.reply-wrapper {
  width: 100%;
  padding-left: 72px;
  margin-right: 0;

  textarea {
    width: 100%;
    height: 72px;
  }

  button {
    width: 123px;
    height: 48px;
  }
}

.comments-loader {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  &::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #056B33;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;

    .input-submit {
      textarea {
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    .input-submit {
      justify-content: flex-end;
      flex-wrap: wrap;

      button {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    img {
      display: none;
    }

    .input-submit {
      textarea {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
