$additional-color: #e1e5e3;

p {
  margin: 0;
}

.outer {
  background-color: var(--secondary-light-grey);
  display: flex;
  justify-content: center;

  .friends {
    width: 185px;
    border-top: 1px solid $additional-color;

    .header {
      height: 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p:first-child {
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: var(--primary-dark-grey);
      }

      a:nth-child(2) {
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: var(--primary-dark-grey);
        text-decoration: none;
      }

      span {
        color: var(--tertiary-light-grey);
      }
    }

    .body {
      height: 142px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .outer {
    .friends {
      width: 176px;
      height: 193px;
    }
  }
}

@media (min-width: 1440px) {
  .outer {
    .friends {
      width: 213px;
      height: 234px;

      .header {
        height: 66px;
      }

      .body {
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
