<div class="main-container">
  <div class="friends" *ngIf="!noFriends">
    <div class="friends-text">
      <div class="text-main-content">
        <div class="text-title">
          {{ 'profile.my-eco-friends' | translate }}
          <span class="text-number"> {{usersFriends?.length}}</span>
        </div>
      </div>
      <div class="text-more"><a [routerLink]="['/profile', userId, 'friends']">{{ 'profile.see-all' | translate }}</a></div>
    </div>
    <div class="friends-images">
      <img [src]="image.profilePicturePath? image.profilePicturePath: 'https://i.pinimg.com/236x/2e/3d/6e/2e3d6e6c801ce424de1e6d519e092ee8.jpg'"
           alt="friend"
           class="friend-img"
           *ngFor="let image of usersFriends"
      >
    </div>
  </div>
  <div class="friends-error" *ngIf="noFriends">
    <div class="text-title">
      {{ 'profile.my-eco-friends' | translate }}
      <span class="text-number"> 0 </span>
      <a [routerLink]="['/profile', userId, 'friends']">Find friends</a>
      <div class="error-message">
        {{ 'profile.zero-friends' | translate }}
      </div>
    </div>
  </div>
</div>
