<div class="calendar-habits-open">
  <p class="habits-title">{{ habitsCalendarSelectedDate }}</p>
  <app-spinner *ngIf="isFetching; else dayHabits"></app-spinner>
  <ng-template #dayHabits>
    <ul class="habits-list" *ngFor="let habit of habits">
      <li class="habits-item" matTooltipPosition="above" [matTooltipDisabled]="showTooltip(habit)"
        [matTooltip]="habit.habitName">
        <img class="habit-icon" [src]="habit.enrolled ? this.calendarIcons.checkCircle : this.calendarIcons.plusCircle"
          alt="habit-icon" (click)="toggleEnrollHabit(habit.habitId)">
        {{ habit.habitName }}
      </li>
    </ul>
  </ng-template>
</div>
