@import '../ubs-admin-tariffs-location-pop-up/ubs-admin-tariffs-location-pop-up.component';

.cross-img {
  bottom: 0;
  top: 30px;
}

.form-group {
  margin-right: 0 !important;
}

.form-control {
  width: 492px;
}

.validation {
  margin-left: 5px;
  margin-top: 0 !important;
}

.error {
  width: 492px;
}
