.eco-events {
  vertical-align: top;
  width: 100%;
  text-align: center;
}

.centered {
  color: var(--primary-green) !important;
  font-family: var(--primary-font);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  display: block;
  margin-top: 30px;
  text-align: center;

  img {
    margin-left: 19px;
  }
}

.eco-events .eco-events-wrapper {
  height: fit-content;
  margin: 0 auto;
  vertical-align: top;
  width: fit-content;
}

.eco-events .eco-events-wrapper .main-event {
  border-radius: 4px;
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  display: inline-block;
  margin-right: 24px;
  vertical-align: top;
}

.eco-events .eco-events-wrapper .main-event .main-event-image {
  height: 236px;
  max-width: 613px;
  object-fit: cover;
}

.eco-events .eco-events-wrapper .splitter {
  background-color: rgba(131, 156, 148, 0.3);
  height: 2px;
  margin: 18px 0;
  width: 100%;
}

.eco-events .eco-events-wrapper .other-events {
  background-color: #fff;
  border-radius: 4px;
  border-top: 7px solid var(--primary-green);
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  display: inline-block;
  max-width: 400px;
  padding: 27px 30px;
  vertical-align: top;
}

@media screen and (max-width: 1024px) {
  .eco-events .eco-events-wrapper .main-event,
  .eco-events .eco-events-wrapper .other-events {
    display: block;
    margin: 0 auto;
  }

  .eco-events .eco-events-wrapper .main-event .main-event-image {
    height: auto;
    width: 100%;
  }

  .eco-events .eco-events-wrapper .other-events {
    margin-top: 20px;
    max-width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .eco-events {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .eco-events .eco-events-wrapper .other-events {
    padding: 10px;
  }
}
