.main-card-container {
  display: flex;
  max-width: 828px;
  height: 132px;
  box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
  margin-bottom: 24px;

  .card-container {
    padding: 24px 10px 24px 24px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: var(--ubs-grey-white);

    p {
      margin: 12px 0;
    }

    .employee-info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex: 58%;

      img {
        width: 96px;
        height: 96px;
        border-radius: 6px;
        margin-right: 22px;
        background-color: var(--ubs-black);
      }
    }

    .role,
    .location {
      display: inline-block;
      margin: auto 0;

      .tag {
        display: inline-block;
        border-radius: 6px;
        padding: 8px;
        margin: 5px;
      }
    }

    .role {
      flex: 10%;

      p {
        background-color: var(--ubs-grey-light-green);
      }
    }

    .location {
      flex: 22%;

      p {
        background-color: var(--ubs-grey-light-blue);
      }
    }
  }

  .card-menu {
    padding: 15px 15px 0 0;

    .card-menu-button {
      color: var(--ubs-grey-blue);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1130px) {
  .main-card-container {
    .card-container {
      padding: 17px 5px 17px 17px;

      .employee-info {
        img {
          margin-right: 11px;
        }
      }

      .role,
      .location {
        margin: 0;

        .tag {
          display: block;
          text-align: center;
        }
      }

      .role {
        flex: 18%;
      }

      .location {
        flex: 20%;
      }
    }

    .card-menu {
      padding: 7px 7px 0 0;
    }
  }
}
