<div class="add-achievement-modal">
  <div class="add-achievement-modal-bg">
    <div class="add-achievement-modal-window">
      <div class="achievement-photo">
        <div class="achievements-item-outside">
          <img [src]="achieve" alt="">
        </div>
      </div>
      <h3>Welcome you in GreenCity Application!</h3>
      <!--      <div class="splitter"></div>-->
      <div class="button-row">
        <button class="button-ok"
                (click)="hideAddNewHabitModal()">OK
        </button>
      </div>
    </div>
  </div>
</div>
