.all-friends-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .cards-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 14px;
    column-gap: 32px;

    @media (max-width: 1200px) {
      gap: 32px;
    }

    @media (max-width: 1000px) {
      justify-content: center;
    }

    @media (max-width: 320px) {
      gap: 20px;
    }
  }

  .user-card {
    @media (max-width: 1000px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  .noFriends-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    .noFriends {
      font-family: var(--secondary-font);
      font-size: 32px;
      font-weight: 500;
      font-style: normal;
      line-height: 48px;
    }
  }
}
