<div class="container p-0">
  <div class="edit_prof-container">
    <div class="edit_prof-wrap">
      <h2>{{ 'user.edit-profile.edit-profile' | translate }}</h2>
      <app-personal-photo></app-personal-photo>
      <form #formEditProf [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
        <div class="wrapper">
          <p>{{ 'user.edit-profile.info' | translate }}</p>
          <div class="input-block">
            <label for="name">{{ 'user.edit-profile.name' | translate }}</label>
            <input
              type="text"
              formControlName="name"
              placeholder="{{ 'user.edit-profile.user-name' | translate }}"
              [pattern]="namePattern"
              id="name"
            />
            <span *ngIf="getControl('name').invalid">{{ 'user.edit-profile.name-warning' | translate }} </span>
          </div>
          <div class="input-block">
            <label for="city">{{ 'user.edit-profile.city' | translate }}</label>
            <input
              matInput
              #placesRef
              matGoogleMapsAutocomplete
              class="shadow-none form-control"
              formControlName="city"
              (input)="setPlaceAutocomplete()"
              placeholder="{{ 'user.edit-profile.user-location' | translate }}"
            />
          </div>
          <div class="input-block">
            <label for="credo">{{ 'user.edit-profile.title' | translate }}</label>
            <textarea
              placeholder="{{ 'user.edit-profile.user-credo' | translate }}"
              formControlName="credo"
              id="credo"
              maxlength="171"
            ></textarea>
            <span *ngIf="getControl('credo').invalid">{{ 'user.edit-profile.title-warning' | translate }}</span>
          </div>
        </div>
        <div class="wrapper">
          <p>{{ 'user.edit-profile.links' | translate }}</p>
          <app-social-networks
            formControlName="socialNetworks"
            [socialNetworks]="socialNetworks"
            (socialNetworksChange)="emitSocialLinks($event)"
            ngDefaultControl
          ></app-social-networks>
        </div>
        <div class="privacy-wrapper">
          <p class="title">{{ 'user.edit-profile.privacy' | translate }}</p>
          <ul>
            <li>
              <label class="label-wrapper">
                <input type="checkbox" formControlName="showLocation" [attr.checked]="checkLocation" />
                <span class="checkmark"></span>
                {{ 'user.edit-profile.location' | translate }}
              </label>
            </li>
            <li>
              <label class="label-wrapper">
                <input type="checkbox" formControlName="showEcoPlace" [attr.checked]="checkEcoPlaces" />
                <span class="checkmark"></span>
                {{ 'user.edit-profile.eco-place' | translate }}
              </label>
            </li>
            <li>
              <label class="label-wrapper">
                <input type="checkbox" formControlName="showShoppingList" [attr.checked]="checkShoppingList" />
                <span class="checkmark"></span>
                {{ 'user.edit-profile.shopping-list' | translate }}
              </label>
            </li>
          </ul>
        </div>
        <div class="buttons">
          <button class="secondary-global-button" type="button" (click)="cancel(!editProfileForm.pristine)">
            {{ 'user.edit-profile.btn.cancel' | translate }}
          </button>
          <button class="primary-global-button" type="submit" [disabled]="!editProfileForm.valid || editProfileForm.pristine">
            {{ 'user.edit-profile.btn.save' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
