<div class="profile" *ngIf="userInfo">
  <div class="column">
    <div class="container-user-image">
      <app-user-profile-image
        class="user-image"
        [imgPath]="userInfo.profilePicturePath"
        [firstName]="userInfo.name"
        [additionalImgClass]="'profile-avatar'"
        tabindex="0"
      >
      </app-user-profile-image>
      <a *ngIf="!showEditButton" [routerLink]="['/profile', userId, 'edit']" class="edit-icon"> </a>
    </div>
    <p
      class="name"
      appCustomTooltip
      #tooltip="matTooltip"
      [appCustomTooltip]="userInfo.name"
      [tooltip]="tooltip"
      matTooltip="{{ userInfo.name }}"
      matTooltipClass="my-custom-tooltip"
      font="bold 18px Lato, sans-serif"
    >
      {{ userInfo.name }}
    </p>
    <p
      class="location"
      appCustomTooltip
      #tooltipLocation="matTooltip"
      [appCustomTooltip]="getUserCity(userInfo.userLocationDto)"
      matTooltip="{{ getUserCity(userInfo.userLocationDto) }}"
      matTooltipClass="my-custom-tooltip"
      [tooltip]="tooltipLocation"
      font="12px Lato, sans-serif"
    >
      {{ getUserCity(userInfo.userLocationDto) }}
    </p>

    <div class="rate">
      <p>{{ 'profile.rate' | translate }}: {{ userInfo.rating || mockedUserInfo.rating }}</p>
    </div>
    <div class="social" *ngIf="userSocialNetworks">
      <a *ngFor="let item of userSocialNetworks" [href]="item.link">
        <img [src]="getSocialImage(item.link)" class="social-img" alt="Social image" [matTooltip]="item.link" />
      </a>
    </div>
    <div *ngIf="checkUserCredo" class="credo">
      {{ userInfo.userCredo || mockedUserInfo.userCredo }}
    </div>

    <div class="profile-progress">
      <app-profile-progress [progress]="progress"></app-profile-progress>
    </div>
  </div>
</div>
