<div class="profile" *ngIf="userInfo">
  <div class="column">
    <div class="container-user-image">
      <app-user-profile-image
        class="user-image"
        [imgPath]="userInfo.profilePicturePath"
        [firstName]="userInfo.name"
        [additionalImgClass]="'center'"
      >
      </app-user-profile-image>
      <a *ngIf="!showEditButton" [routerLink]="['/profile', userId, 'edit']">
        <div class="edit-icon"></div>
      </a>
    </div>

    <p class="name">
      {{ userInfo.name }}
    </p>
    <p class="location" *ngIf="userInfo.showLocation">
      {{ userInfo.city || mockedUserInfo.city }}
    </p>
    <div class="online">
      {{ 'profile.online' | translate }}
    </div>
    <div class="rate">
      <p>{{ 'profile.rate' | translate }}: {{ userInfo.rating || mockedUserInfo.rating }}</p>
    </div>
    <div *ngIf="checkUserCredo" class="credo">{{ userInfo.userCredo || mockedUserInfo.userCredo }}</div>
    <div class="social" *ngIf="userSocialNetworks">
      <a *ngFor="let item of userSocialNetworks" [href]="item.link">
        <img [src]="getSocialImage(item.link)" class="social-img" alt="Social image" />
      </a>
    </div>
    <div class="profile-progress">
      <app-profile-progress [progress]="progress"></app-profile-progress>
    </div>
  </div>
</div>
