<div class="profile" *ngIf="userInfo">
  <div class="column">
    <div class="container-user-image">
      <app-user-profile-image
        class="user-image"
        [imgPath]="userInfo.profilePicturePath"
        [firstName]="userInfo.name"
        [additionalImgClass]="'profile-avatar'"
      >
      </app-user-profile-image>
      <a *ngIf="!showEditButton" [routerLink]="['/profile', userId, 'edit']" class="edit-icon"> </a>
    </div>

    <p class="name" appCustomTooltip [appCustomTooltip]="userInfo.name">{{ userInfo.name | maxTextLength: 15 }}</p>
    <p class="location" appCustomTooltip [appCustomTooltip]="userInfo.city">{{ userInfo.city | maxTextLength: 30 }}</p>
    <div class="rate">
      <p>{{ 'profile.rate' | translate }}: {{ userInfo.rating || mockedUserInfo.rating }}</p>
    </div>
    <div class="social" *ngIf="userSocialNetworks">
      <a *ngFor="let item of userSocialNetworks" [href]="item.link">
        <img [src]="getSocialImage(item.link)" class="social-img" alt="Social image" [matTooltip]="item.link" />
      </a>
    </div>
    <div *ngIf="checkUserCredo" class="credo" appCustomTooltip [appCustomTooltip]="userInfo.userCredo">
      {{ (userInfo.userCredo | maxTextLength: getCredoLength()) || mockedUserInfo.userCredo }}
    </div>

    <div class="profile-progress">
      <app-profile-progress [progress]="progress"></app-profile-progress>
    </div>
  </div>
</div>
