:root {
  --primary-white: #FFFFFF;
  --primary-green: #13aa57;
  --secondary-dark-green: #056b33;
  --tertiary-light-green: #39b54a;
  --error-ligh-red: #f03127;
  --primary-light-grey: #f5f7f6;
  --pre-secondary-light-grey: #F7F9FA;
  --secondary-light-grey: #f5f6f6;
  --tertiary-light-grey: #bebebe;
  --quaternary-light-grey: #e1e5e3;
  --quintynary-light-grey: #9CA7B0;
  --primary-grey: #839c94;
  --secondary-grey: #878787;
  --tertiary-grey: #666; 
  --primary-dark-grey: #494a49;
  --secondary-dark-grey: #313131; 
  --tertiary-dark-grey: #2b292d;
  --quaternary-dark-grey: #444E55;
  --quintynary-dark-grey: rgba(100, 114, 125, 0.18);
}
