:root {
  --ubs-primary-white: #fff;
  --ubs-secondary-white: #f7f9fa;
  --ubs-primary-green: #13aa57;
  --ubs-secondary-dark-green: #056b33;
  --ubs-tertiary-light-green: #39b54a;
  --ubs-error-ligh-red: #f03127;
  --ubs-primary-red: #eb180d;
  --ubs-primary-light-grey: #cacfd3;
  --ubs-secondary-light-grey: #f5f6f6;
  --ubs-tertiary-light-grey: #bebebe;
  --ubs-quaternary-light-grey: #e3e6e8;
  --ubs-quintynary-light-grey: #9ca7b0;
  --ubs-primary-grey: #444e55;
  --ubs-secondary-grey: #64727d;
  --ubs-tertiary-grey: #666;
  --ubs-primary-dark-grey: #494a49;
  --ubs-secondary-dark-grey: #313131;
  --ubs-tertiary-dark-grey: #2b292d;
  --ubs-quaternary-dark-grey: #1d2830;
}
