:root {
  --primary-green: #13aa57;
  --secondary-dark-green: #056b33;
  --tertiary-light-green: #39b54a;
  --error-ligh-red:  #f03127;
  --first-color-font: #494a49;
  --second-color-font: #839c94;
  --third-font-color: #bebebe;
  --fourth-font-color: #263238;
  --fifth-font-color: #313131;
  --sixth-font-color: #2b292d;
  --seventh-font-color: #878787;
  --eighth-font-color: #666666;
}
