:root {
  --primary-green: #13aa57;
  --secondary-dark-green: #056b33;
  --tertiary-light-green: #39b54a;
  --error-ligh-red: #f03127;
  --primary-light-grey: #f5f7f6;
  --secondary-light-grey: #f5f6f6;
  --tertiary-light-grey: #bebebe;
  --primary-grey: #839c94;
  --secondary-grey: #878787;
  --tertiary-grey: #666;
  --primary-dark-grey: #494a49;
  --secondary-dark-grey: #313131;
  --tertiary-dark-grey: #2b292d;
}
