:root {
  --ubs-primary-white: #fff;
  --ubs-primary-black: #000;
  --ubs-secondary-white: #f7f9fa;
  --ubs-primary-green: #13aa57;
  --ubs-secondary-dark-green: #056b33;
  --ubs-tertiary-light-green: #39b54a;
  --ubs-grey-light-green: #d5efb8;
  --ubs-grey-light-blue: #e6dbff;
  --ubs-grey-white: #f7f9fa;
  --ubs-error-base: #e0343c;
  --ubs-error-ligh-red: #f03127;
  --ubs-primary-red: #eb180d;
  --ubs-dark-red: #bf140b;
  --ubs-primary-light-grey: #cacfd3;
  --ubs-grey-blue: #9ca7b0;
  --ubs-secondary-light-grey: #f5f6f6;
  --ubs-tertiary-light-grey: #bebebe;
  --ubs-quaternary-light-grey: #e3e6e8;
  --ubs-quintynary-light-grey: #9ca7b0;
  --ubs-primary-grey: #444e55;
  --ubs-secondary-grey: #64727d;
  --ubs-tertiary-grey: #666;
  --ubs-primary-dark-grey: #494a49;
  --ubs-secondary-dark-grey: #313131;
  --ubs-tertiary-dark-grey: #2b292d;
  --ubs-button-light-green: #afd85a;
  --ubs-button-dark-green: #9ec848;
  --ubs-primary-light-green: #c2ea6f;
  --ubs-primary-lime-green: #93e22c;
  --ubs-liberty-green: #eaffbd;
  --ubs-black: #000;
  --ubs-quaternary-dark-grey: #1d2830;
  --ubs-primary-blue: #513be4;
  --ubs-dark-green: #336b4c;
  --ubs-dark-purple: #5639bb;
  --ubs-accent-purple: #9368f0;
  --ubs-electric-violet: #5639bb;
  --ubs-primary-liberty-green: #e7f7ee;
  --ubs-freinacht-black: #1d2830;
}
