:root {
  --ubs-primary-font: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  --ubs-secondary-font: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  --ubs-tertiary-font: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}
