@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --ubs-primary-font: 'Open Sans', sans-serif;
  --ubs-secondary-font: 'Montserrat', sans-serif;
  --ubs-tertiary-font: 'Roboto', sans-serif;
}
