@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --tertiary-font: 'Roboto', sans-serif;
  --quaternary-font: 'Open+Sans', sans-serif;
}
