$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xl: 1440px
);

@mixin responsiveMobileFirst($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No breakpoint defined for #{$breakpoint}.";
  }
}
