@import 'colors';
@import 'fonts';
@import 'colorsUbs';

.h1 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: 0;
}

.h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.h3 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.h7 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.subtitle-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.subtitle-2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.body-2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.small-1 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.small-2 {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.small-3 {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.ubs-primary-global-button {
  background: var(--ubs-button-light-green);
}

.primary-global-button {
  background: var(--primary-green);
}

.ubs-primary-global-button,
.primary-global-button {
  border: none;
  border-radius: 3px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.ubs-primary-global-button:active {
  background: var(--ubs-button-light-green);
}

.primary-global-button:hover,
.primary-global-button:active {
  background: var(--secondary-dark-green);
  outline: none;
}

.ubs-primary-global-button:hover,
.ubs-primary-global-button:disabled,
.primary-global-button:disabled {
  background-color: var(--primary-grey);
  border: 1px solid var(--primary-grey);
}

.secondary-global-button {
  border: 1px solid var(--primary-green);
  box-sizing: border-box;
  border-radius: 3px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-green);
  text-align: center;
}

// .secondary-ubs-button {
//   border: 1px solid var(--ubs-primary-green);
//   box-sizing: border-box;
//   border-radius: 3px;
//   font-family: var(--primary-font);
//   font-style: normal;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 16px;
//   color: var(--ubs-primary-green);
//   text-align: center;
// }

.secondary-global-button:hover,
.secondary-global-button:active {
  border: 1px solid var(--secondary-dark-green);
  line-height: 22px;
  color: var(--secondary-dark-green);
}

.tertiary-global-button {
  font-family: var(--primary-font);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  color: var(--secondary-dark-green);
}

.tertiary-global-button:hover,
.tertiary-global-button:focus {
  color: var(--primary-green);
}
