.empty_card {
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    display: inline;
  }

  img {
    width: 20px;
    margin-right: 20px;
  }
}

.empty_card:hover {
  cursor: pointer;
}

.form {
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-secondary-grey);
  font-family: var(--ubs-quaternary-font);
}

.form__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
  margin-bottom: 30px;
  margin-top: 36px;
}

.form__label {
  color: var(--ubs-quaternary-dark-grey);
}

.divider {
  margin-top: 0;
  border: 1px solid var(--ubs-primary-light-grey);
}

.send__btn {
  font-size: 14px;
  color: var(--ubs-primary-green);
  background: var(--ubs-primary-white);
  border: 1px solid var(--ubs-primary-green);
  width: 214px;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 20px;
  margin-top: 24px;
}

.input {
  width: 56px;
  height: 36px;

  &::placeholder {
    font-size: 14px;
    color: var(--ubs-quaternary-dark-grey);
  }
}

.p-left {
  padding-left: 72px;
}

.ubs-courier-container {
  width: 100px;
  margin-right: 25px;
  border-radius: 4px;
  border: 1px solid var(--ubs-quintynary-light-grey);

  .ubs-courier {
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
      margin: 0;
    }
  }

  span {
    height: 26px;
  }
}

.shop-numbers {
  position: relative;

  ::placeholder {
    color: var(--ubs-primary-light-grey);
    opacity: 1;
    font-size: 0.9rem;
  }

  & > [input-close-button] {
    opacity: 0;
    position: absolute;
    top: 6px;
    right: 5px;
    color: var(--ubs-quintynary-light-grey);
    font-size: 1.7em;
    padding: 0 0.2em;
    line-height: 1em;
    cursor: pointer;
  }

  span:focus,
  input:focus + span,
  &:hover > [input-close-button] {
    opacity: 1;
  }
}

.add-order-num {
  width: 250px;
  padding: 0;
  text-align: left;
  background: none;
  color: var(--ubs-electric-violet);
  font-size: 14px;
  outline: none;
  border: none;

  &:disabled {
    color: var(--ubs-quintynary-light-grey);
  }

  &:hover {
    background: none;
  }

  &:focus {
    text-decoration: underline;
  }
}

.comment {
  resize: none;
  overflow: hidden;

  &::placeholder {
    color: var(-ubs-quintynary-light-grey);
    font-size: 14px;
    line-height: 20px;
  }
}

.ng-invalid:not(form):not([formarrayname]) {
  border: 1px solid var(--error-ligh-red);
}

@media (max-width: 1199px) {
  .p-left {
    padding-left: 58px;
  }
}

@media (max-width: 991px) {
  .p-left {
    padding-left: 38px;
  }
}

@media (min-width: 992px) {
  .comment {
    width: 340px;
    height: 92px;
  }
}
