<div class="container">
  <form class="form" [formGroup]="orderDetailsForm">
    <div class="empty_card" (click)="openDetails()">
      <img *ngIf="!pageOpen" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" />
      <img *ngIf="pageOpen" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" />
      <h3 class="form__headline">{{ 'order-details.title' | translate }}</h3>
    </div>
    <div *ngIf="pageOpen">
      <div class="w-100 d-flex justify-content-between">
        <label class="col-sm-2 form__label">{{ 'order-details.service' | translate }}</label>
        <label class="col-sm-2 form__label">{{ 'order-details.volume' | translate }}</label>
        <label class="col-sm-2 form__label">{{ 'order-details.cost' | translate }}</label>
        <label class="col-sm-2 text-center form__label">{{ 'order-details.planned-amount' | translate }}</label>
        <label class="col-sm-2 text-center form__label">{{ 'order-details.approved-amount' | translate }}</label>
        <label class="col-sm-2 text-center form__label" *ngIf="isVisible">{{ 'order-details.exported-amount' | translate }}</label>
      </div>
      <hr class="divider" />
      <div class="main">
        <ul class="w-100 p-0">
          <li *ngFor="let bag of orderDetails.bags" class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ getLangValue(bag.name, bag.nameEng) }}</span>
            <span class="col-sm-2">{{ bag.capacity | volume }}</span>
            <span class="col-sm-2">{{ bag.price | currency | localizedCurrency }}</span>
            <div class="col-sm-2 d-flex justify-content-center form-group count">
              <input
                class="shadow-none form-control input p-2"
                type="number"
                min="0"
                max="999"
                formControlName="plannedQuantity{{ bag.id }}"
                disabled
              />
            </div>
            <div class="col-sm-2 d-flex justify-content-center form-group count">
              <input
                class="shadow-none form-control input p-2"
                type="number"
                min="0"
                max="999"
                formControlName="confirmedQuantity{{ bag.id }}"
                [attr.disabled]="isDisabledConfirmQuantity() ? true : null || !isEmployeeCanEditOrder"
                (change)="onQuantityChange('confirmed', bag.id)"
                disabled
              />
            </div>
            <div class="col-sm-2 d-flex justify-content-center form-group count" *ngIf="isVisible">
              <input
                class="shadow-none form-control input p-2"
                type="number"
                min="0"
                max="999"
                formControlName="actualQuantity{{ bag.id }}"
                [attr.disabled]="isOrderCancelled && isOrderPaid ? true : null"
                [readonly]="!isEmployeeCanEditOrder"
                (change)="onQuantityChange('actual', bag.id)"
              />
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.bags-amount' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center">{{ bagsInfo.amount.planned }}</span>
            <span class="col-sm-2 text-center">{{ bagsInfo.amount.confirmed }}</span>
            <span *ngIf="isVisible" class="col-sm-2 text-center">{{ bagsInfo.amount.actual }}</span>
          </li>
        </ul>
        <ul class="w-100 p-0">
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.order-sum' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center">{{ bagsInfo.sum.planned | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center">{{ bagsInfo.sum.confirmed | currency | localizedCurrency }}</span>
            <span *ngIf="isVisible" class="col-sm-2 text-center">{{ bagsInfo.sum.actual | currency | localizedCurrency }}</span>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.certificate' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center text-success"
              >{{ !bagsInfo.certificateDiscount ? '' : '-' }}{{ bagsInfo.certificateDiscount | currency | localizedCurrency }}</span
            >
            <span class="col-sm-2 text-center"
              >{{ !bagsInfo.certificateDiscount ? '' : '-' }}{{ bagsInfo.certificateDiscount | currency | localizedCurrency }}</span
            >
            <span *ngIf="isVisible" class="col-sm-2 text-center"
              >{{ !bagsInfo.certificateDiscount ? '' : '-' }}{{ bagsInfo.certificateDiscount | currency | localizedCurrency }}</span
            >
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2">
            <span class="col-sm-2">{{ 'order-details.bonuses' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center text-success"
              >{{ !bagsInfo.bonuses ? '' : '-' }}{{ bagsInfo.bonuses | currency | localizedCurrency }}</span
            >
            <span class="col-sm-2 text-center"
              >{{ !bagsInfo.bonuses ? '' : '-' }}{{ bagsInfo.bonuses | currency | localizedCurrency }}</span
            >
            <span *ngIf="isVisible" class="col-sm-2 text-center"
              >{{ getOrderBonusValue(bagsInfo.bonuses) | currency | localizedCurrency }}
            </span>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2" *ngIf="isVisible && showUbsCourier">
            <span class="col-sm-2">{{ 'order-details.ubs-courier' | translate }}</span>
            <div class="col-sm-2 offset-sm-8 d-flex justify-content-center align-items-baseline form-group count">
              <div class="d-flex align-items-baseline ubs-courier-container" [ngClass]="{ 'invalid-courier-price': isCourierPriceInvalid }">
                <input
                  class="shadow-none form-control input ubs-courier p-2"
                  type="number"
                  min="0"
                  [value]="courierPrice | currency"
                  (change)="changeUbsCourierSum($event)"
                  [readonly]="!isEmployeeCanEditOrder"
                />
                <span>
                  {{ '' | localizedCurrency }}
                </span>
              </div>
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-2" *ngIf="showWriteOffStationField()">
            <span class="col-sm-2">{{ 'order-details.done-after-himself' | translate }}</span>
            <div class="col-sm-2 offset-sm-8 d-flex justify-content-center align-items-baseline form-group count">
              <div class="d-flex align-items-baseline ubs-courier-container" [ngClass]="{ 'disabled-field': isDisabledWriteOffStation }">
                <input
                  class="shadow-none form-control input p-2 ubs-courier"
                  type="number"
                  step="0.01"
                  min="0"
                  [value]="writeoffAtStationSum"
                  [disabled]="isDisabledWriteOffStation"
                  [readonly]="!isEmployeeCanEditOrder"
                  (change)="changeWriteOffSum($event)"
                />
                <span>
                  {{ '' | localizedCurrency }}
                </span>
              </div>
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-baseline py-3">
            <span class="col-sm-2">{{ 'order-details.sum-to-pay' | translate }}</span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2"></span>
            <span class="col-sm-2 text-center">{{ bagsInfo.finalSum.planned | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center">{{ bagsInfo.finalSum.confirmed | currency | localizedCurrency }}</span>
            <span class="col-sm-2 text-center" *ngIf="isVisible">{{ bagsInfo.finalSum.actual | currency | localizedCurrency }}</span>
          </li>
          <li class="d-flex justify-content-end align-items-baseline py-2">
            <span class="col-sm-3 text-danger pl-5" *ngIf="overpayment">
              {{ overpaymentMessage | translate }} {{ overpayment | localizedCurrency }}
            </span>
            <span class="col-sm-4 text-danger pl-5" *ngIf="buyMore">
              {{ limitMsg.min | translate }} {{ limitAmount.min }} {{ limitMsg.max | translate }} {{ limitAmount.max }}
            </span>
          </li>
        </ul>
      </div>
      <div class="certificate">
        <div class="form__block col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label class="form__label py-2" for="cert-num">
              {{ 'order-details.certificate-number-label' | translate }}
            </label>
            <input class="form-control" type="text" id="cert-num" placeholder="XXXX-XXXX" formControlName="certificates" disabled />
          </div>
          <div class="form-group">
            <p class="form__label py-2">
              {{ 'order-details.order-number-label' | translate }}
            </p>
            <div formArrayName="storeOrderNumbers" class="form-group">
              <ng-container *ngFor="let orderNumber of getStoreOrderNumbers(); let i = index">
                <div class="shop-numbers">
                  <input
                    [ngClass]="{ 'check-empty-input': checkEmptyInput(orderNumber.value) }"
                    class="shadow-none form-control border-input p-2 mb-2"
                    type="text"
                    [imask]="{ mask: SHOP_NUMBER_MASK }"
                    [unmask]="false"
                    placeholder="XXXXXXXXXX"
                    formControlName="{{ i }}"
                    [readonly]="!isEmployeeCanEditOrder"
                  />
                  <span input-close-button (click)="deleteOrder(i)">&times;</span>
                </div>
              </ng-container>
              <button *ngIf="checkMaxOrdersFromShop() && isEmployeeCanEditOrder" class="add-order-num" (click)="addOrderNumberFromShop()">
                {{ 'order-details.additional-orders' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom d-flex align-items-baseline py-3">
        <div class="form-floating col-sm-6">
          <label for="customer-comment">{{ 'order-details.client-comment.label' | translate }}</label>
          <textarea
            class="form-control comment"
            formControlName="customerComment"
            placeholder="{{ 'order-details.client-comment.placeholder' | translate }}"
            id="customer-comment"
            disabled
          >
          </textarea>
        </div>
      </div>
    </div>
  </form>
  <hr />
</div>
