html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &::before {
    content: '';
  }

  &::after {
    content: '';
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
  outline: none;
}

* {
  font-family: 'Roboto', sans-serif;
  z-index: 1000;
}

@mixin flex($direction: row, $jc: flex-start, $ai: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: 100vh;
  background: #fff;
  position: relative;
  color: #222;
}

.custom-dialog-container .mat-dialog-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 375px) {
  .custom-dialog-container .mat-dialog-container {
    padding: 30px 24px 27px 10px;
  }
}

@media (max-width: 320px) {
  .custom-dialog-container .mat-dialog-container {
    padding: 30px 16px 27px;
  }
}
