<div class="main-container">
  <div id="wrapper">
    <div class="warning-text">
      <div class="warning-title">
        {{ 'cancel-popup.title' | translate }}
      </div>
      <div class="warning-subtitle" *ngIf="currentPage === 'eco news'; else profile">
        {{ 'cancel-popup.subtitle-news' | translate }}
      </div>
      <ng-template #profile>
        <div class="warning-subtitle">
          {{ 'cancel-popup.subtitle-profile' | translate }}
        </div>
      </ng-template>
    </div>
    <div class="cta-buttons">
      <div class="continue-btn">
        <button class="secondary-global-button"
                (click)="closeCancelPopup()"
        >
          {{ 'cancel-popup.continue' | translate }}
        </button>
      </div>
      <div class="cancel-btn">
        <button class="primary-global-button"
                (click)="moveToNewsList()"
        >
          {{ 'cancel-popup.cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
