@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.copyright {
  background-color: rgba(131, 156, 148, 0.05);
  color: #839c94;
  font-family: 'Open Sans', sans-serif;
  font-stretch: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 11px;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.people-img {
  background: url('../../../../assets/img/illustration people.png');
  background-size: contain;
  width: 400px;
  height: 400px;
}

.header {
  height: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #313131;
}

.decription {
  height: 32px;
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #313131;
}
