@mixin text_style($font, $color, $size, $weight) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

::ng-deep .address-matDialog-styles {
  .mat-dialog-container {
    margin: auto !important;
    width: 80% !important;
  }

  .pac-container {
    .pac-item {
      padding: 0 0 0 10px;
      height: 32px;

      .pac-item-query {
        color: var(--ubs-primary-grey);
      }

      &:hover {
        background-color: var(--ubs-primary-green);

        .pac-item-query {
          color: var(----ubs-primary-white);
        }
      }
    }

    .pac-icon {
      display: none;
    }
  }
}

form {
  box-shadow: 1px 4px 8px rgb(100 114 125 / 18%);
  padding: 10px 25px 40px;
}

hr {
  margin: 24px 15px 32px;
}

input,
textarea,
select {
  border: 1px solid var(--ubs-quintynary-light-grey);
  padding: 0 0 0 24px;
  color: var(--ubs-primary-grey);
  font-size: 14px;
}

input,
select {
  height: 36px;
}

input.ng-touched.ng-invalid {
  border: 1px solid var(--ubs-error-ligh-red);
  font-size: 10px;
}

.validation {
  color: var(--ubs-error-ligh-red);
  font-size: 10px;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  padding: 12px 24px;
  resize: none;

  &::placeholder {
    @include text_style(var(--ubs-quaternary-font), var(--ubs-primary-light-grey), 14px, 400);

    margin-bottom: 3rem;
  }
}

label,
.adress-title,
.adress-notice,
.comment-title,
.city-notice {
  font-family: var(--ubs-tertiary-font);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--ubs-secondary-grey);
}

.personal-data-title,
.comment-title,
.address-title {
  margin: 0 0 20px 15px;
  font-family: var(--ubs-tertiary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
}

.comment-title {
  margin: 0 0 20px 0;
}

.personal-data,
.adress {
  padding: 14px 5px 4px;
}

.personal-data {
  margin: 32px 0;
}

.adress-section {
  max-width: 100%;
  margin: 0 auto;

  .no-addresses {
    margin: 0 0 0 15px;
    font-size: 14px;
  }

  .adress {
    margin: 0 0 32px;

    .item {
      width: 48%;
    }

    .adress-title {
      margin: 5px 0 20px 15px;
    }

    .adress-notice {
      margin: 15px 0 15px 15px;
    }

    .city-notice {
      margin: 5px 0 0 0;
    }
  }
}

.btn {
  width: 136px;
  height: 44px;
  border-radius: 4px;
}

.primary-global-button {
  width: 88px;
  padding: 8px 14px;
  border-radius: 4px;
  color: var(--ubs-quaternary-dark-grey);
  border-color: var(--ubs-button-light-green);
  background: var(--ubs-button-light-green);

  &:disabled {
    background: var(--ubs-quaternary-light-grey);
    border-color: var(--ubs-quaternary-light-grey);
  }
}

.address-comment {
  padding: 0 15px;
}

.form-check {
  margin: 0 0 0 25px;

  .form-check-input {
    top: -1px;
    width: 16px;
    height: 16px;
  }

  .form-check-label {
    margin-left: 5px;
    font-size: 14px;
    color: var(--ubs-primary-grey);
  }
}

.add-address {
  margin: 0 0 0 15px;
  padding: 0;
  text-align: left;
  font-size: 14px;
  color: var(--ubs-electric-violet);
}

.btn:nth-child(1) {
  margin: 0 24px 0 16px;
}

.btn:nth-child(2) {
  margin: 0 15px 0 0;
}

.edit-address {
  height: 100%;
  margin: 3px;
  cursor: pointer;
}

.address {
  width: 500px;
  padding-bottom: 2rem;
}

.ml-3 {
  color: var(--ubs-secondary-grey);
}

.fas {
  font-size: 0.8rem;
}

.buttons {
  margin-top: 46px;

  button {
    font-size: 18px;
  }
}

.cansel-button {
  border: 1px solid var(--ubs-quaternary-dark-grey);
  color: var(--ubs-quaternary-dark-grey);
  margin-right: 1rem !important;
}

.back-btn {
  border: 0;
  color: var(--ubs-quaternary-dark-grey);
}

@media (min-width: 481px) and (max-width: 767px) {
  h3 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  button,
  .btn {
    width: 100px;
    font-size: 1rem;
  }

  p,
  a,
  textarea,
  small,
  input {
    font-size: 0.8rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  h3 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  button,
  .btn {
    width: 100px;
    font-size: 0.8rem;
  }

  p,
  a,
  textarea,
  small,
  input {
    font-size: 0.8rem;
  }
}
