<div class="wrapper">
  <div (window:resize)="onResize()">
    <div class="cont">
      <h1 class="main-header">{{ "homepage.eco-news.title" | translate }}</h1>
      <a [routerLink]="['create-news']"
         *ngIf="isLoggedIn">
        <div id="create-button" class="secondary-global-button">
          <span id="create-button-text">{{ "homepage.eco-news.create" | translate }}</span>
        </div>
      </a>
    </div>
  </div>
  <div>
    <div class="flex-container">
      <app-filter-news (tagsList)="getFilterData($event)"></app-filter-news>
    </div>
    <hr />
  </div>

  <div class="main-wrapper">
    <app-remaining-count [remainingCount]="remaining"></app-remaining-count>
    <app-change-view-button (view)="changeView($event)"></app-change-view-button>
  </div>
  <ul class="list" 
      *ngIf="remaining"
      [ngClass]="{ 'gallery-view-active': view }">
    <li [ngClass]="{
                  'gallery-view-li-active': view,
                  'list-view-li-active': !view
                }"
        *ngFor="let data of elements"
        [routerLink]="['/news', data.id]"
    >
      <app-news-list-gallery-view
        *ngIf="view"
        [ecoNewsModel]="data">
      </app-news-list-gallery-view>
      <app-news-list-list-view
        *ngIf="!view && windowSize >= 576"
        [ecoNewsModel]="data">
      </app-news-list-list-view>
    </li>
  </ul>
  <mat-spinner *ngIf="elementsArePresent; else noNews">
  </mat-spinner>
  <ng-template #noNews>
    <app-no-news></app-no-news>
  </ng-template>
  <div infiniteScroll
       [infiniteScrollDistance]="0"
       [infiniteScrollThrottle]="500"
       (scrolled)="onScroll()">
  </div>
</div>
