.container {
  margin: 3px auto;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div hr {
  margin: 4px 0 18px 0;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  margin: 0 0 34px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.app-create-news {
  top: -10px;
}

.main-wrapper {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding-left: 0;
}

.gallery-view-active {
  display: grid;
  grid-template-columns: repeat(3, 359px);
  grid-gap: 32px;
}

.list-view-li-active {
  margin-bottom: 40px;
}

li:focus {
  outline: none;
}

a {
  text-decoration: none;
}

#create-button {
  width: 183px;
  min-height: 40px;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-button span {
  display: block;
}

@media screen and (max-width: 1199px) {
  .wrapper {
    max-width: 960px;
  }

  .gallery-view-active {
    grid-template-columns: repeat(3, 299px);
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    margin: 0 3.12%;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    max-width: 740px;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 353px);
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 547px;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 258px);
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    max-width: 288px;
  }

  .main-header {
    font-size: 24px;
    line-height: 32px;
  }

  .gallery-view-active {
    grid-template-columns: repeat(1, 288px);
    grid-gap: 19px;
  }

  #create-button {
    width: 122px;
    min-height: 32px;
    padding: 0;

    span {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
