.container {
  margin: 3px auto;
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 40px 0;
}

.flex-container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.app-create-news {
  top: -10px;
}

.wrapper {
  margin: 12.5px 0;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding-left: 0;
}

.gallery-view-active {
  column-gap: 32px;
  column-count: 3;
}

.gallery-view-li-active {
  display: inline-block;
  margin: 0 0 40px 0;
  break-inside: avoid;
}

.list-view-li-active {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

#create-button{
  width: 185px;
  min-height: 40px;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-button span{
  display: block;
}

@media screen and (max-width: 992px) {
  .gallery-view-active {
    column-count: 2;
  }
}

@media screen and (max-width: 576px) {
  .gallery-view-active {
    column-count: 2;
  }

  .flex-container{
    width: 105%;
  }

}
@media screen and (max-width: 320px) {
  .gallery-view-active {
    column-count: 1;
  }
}
