.container {
  margin: 3px auto;
}

.wrapper {
  margin: 0 auto;
  width: 1140px;
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 40px 0;
}

.flex-container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.app-create-news {
  top: -10px;
}

.main-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding-left: 0;
}

.gallery-view-active {
  display: grid;
  grid-template-columns: repeat(3, 359px);
  grid-gap: 31px;
}

.list-view-li-active {
  margin-bottom: 40px;
}

li:focus {
  outline: none;
}

a {
  text-decoration: none;
}

#create-button {
  width: 185px;
  min-height: 40px;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-button span {
  display: block;
}

@media screen and (max-width: 1199px) {
  .wrapper {
    width: 960px;
  }

  .gallery-view-active {
    grid-template-columns: repeat(3, 299px);
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 740px;
    margin: 0 auto;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 353px);
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0 auto;
    width: 547px;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 258px);
    grid-gap: 29px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    margin: 0 auto;
    width: auto;
  }

  .gallery-view-active {
    grid-template-columns: repeat(1, 288px);
    justify-content: center;
    grid-gap: 19px;
  }

  #create-button {
    width: 122px;
    min-height: 32px;
    padding: 8px 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }
}
