.container {
  margin: 3px auto;
}

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 40px 0;
}

.flex-container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.app-create-news {
  top: -10px;
}

.wrapper {
  margin: 12.5px 0;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding-left: 0;
}

.gallery-view-active {
  display: grid;
  grid-template-columns: repeat(3, 359px);
  grid-gap: 32px
}

.list-view-li-active {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

#create-button{
  width: 185px;
  min-height: 40px;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-button span{
  display: block;
}

@media screen and (max-width: 1199px) {
  .gallery-view-active {
    grid-template-columns: repeat(3, 299px);
    grid-gap: 15px;
  }
}


@media screen and (max-width: 992px) {
  .gallery-view-active {
    grid-template-columns: repeat(2, 353px);
    grid-gap: 15px;
  }

  .flex-container{
    width: 105%;
  }

}

@media screen and (max-width: 767px) {
  .gallery-view-active {
    grid-template-columns: repeat(2, 258px);
    grid-gap: 32px;
  }
}

@media screen and (max-width: 575px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
