svg {
  width: 100%;
}

#circle-small {
  animation: spin-r 20s linear infinite;
  transform-origin: center;
}

#circle-big {
  animation: spin-l 20s linear infinite;
  transform-origin: center;
}

@keyframes spin-r {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-l {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
