<button *ngIf="repliesCounter >= 1" class="cta-btn view">
  <span class="btn-text">
    {{ (isShowReplies ? 'homepage.eco-news.comment.hide' : 'homepage.eco-news.comment.view') | translate }}
    {{ repliesCounter }}
    <ng-container [ngSwitch]="repliesCounter">
      <span *ngSwitchCase="1">{{ 'homepage.eco-news.comment.replies.one-reply' | translate }}</span>
      <span *ngSwitchCase="[2, 3, 4].includes(repliesCounter) ? repliesCounter : !repliesCounter">{{
        'homepage.eco-news.comment.replies.more-then-two-replies' | translate
      }}</span>
      <span *ngSwitchDefault>{{ 'homepage.eco-news.comment.replies.more-then-four-replies' | translate }}</span>
    </ng-container>
  </span>
  <img [src]="isShowReplies ? arrowUp : arrowDown" alt="arrow" />
</button>
