<app-comment-counter [totalElements]="totalElements"></app-comment-counter>
<app-add-comments *ngIf="isLoggedIn"
                  (elementsList)="addComment($event)"></app-add-comments>
<mat-spinner class="spinner"
             *ngIf="elementsList.length < 1
             && elementsArePresent; else comments"></mat-spinner>
<ng-template #comments>
  <app-comments-list dataType="comment"
                     [elementsList]="elementsList"
                     [config]="config"
                     [isLoggedIn]="isLoggedIn"
                     [userId]="userId"
                     (changedList)="deleteComment($event)">
  </app-comments-list>
  <app-comment-pagination [config]="config"
                          (setPage)="addCommentByPagination($event-1)">
  </app-comment-pagination>
</ng-template>