<div class="profile" *ngIf="userInfo">
  <div class="details__img">
    <a class="edit-icon" [routerLink]="['/profile', userId,'edit']">
      <img [src]="editIcon" 
           alt="edit icon">
    </a>
    <img [src]="showCorrectImage()" 
         alt="profile avatar" 
         class="profile-avatar"/>
  </div>
  <div>
  <div class="profile__details">
    <div class="details__descriptions">
      <h3 class="descriptions__name">
        {{ userInfo.firstName }}
      </h3>
      <div class="descriptions__location"
           *ngIf="userInfo.showLocation">{{ userInfo.city || mockedUserInfo.city }}</div>
      <div class="descriptions__status">
        {{ 'profile.online' | translate }}
      </div>
      <div class="descriptions__rate">
        <div>
          Rate: {{ userInfo.rating || mockedUserInfo.rating }}
        </div>
      </div>
    </div>
    <div class="details__credo">{{ userInfo.userCredo || mockedUserInfo.userCredo }}</div>
  <div class="cards">
    <app-profile-progress></app-profile-progress>
  </div>
</div>
