$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

$font-family-first: montserrat, sans-serif;

.profile {
  background: #f5f7f6;
  position: relative;

  .cards {
    width: 100%;
  }

  .details__img {
    text-align: center;
    width: 100%;
    height: 88px;

    a {
      position: absolute;
      top: -15px;
      right: -10px;
    }

    .profile-avatar {
      width: 88px;
      height: 88px;
      border-radius: 50px;
    }
  }

  .profile__details {
    .details__descriptions {
      display: flex;
      margin: 15px 0;
      flex-direction: column;
      align-items: center;
      font-family: $font-family-first;

      .descriptions__name {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 15px;
        text-align: center;
      }

      .descriptions__location,
      .descriptions__status,
      .descriptions__rate {
        margin-top: 4px;
        font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1440 - 320)));
        line-height: 15px;
      }

      .descriptions__location {
        font-weight: 600;
        text-align: center;
        color: #6a8079;
      }

      .descriptions__status {
        text-align: center;
        color: #878787;
      }

      .descriptions__rate {
        display: flex;
        justify-content: center;
        padding: 4px 16px;
        font-size: 12px;
        font-family: Open Sans, sans-serif;
        height: 24px;
        line-height: 16px;
        background: rgba(19, 170, 87, 0.12);
        border-radius: 4px;
        font-weight: 600;
        color: #13aa57;
      }
    }

    .details__credo {
      margin: 16px 0;
      display: flex;
      text-align: left;
      width: 100%;
      font-family: Open Sans, sans-serif;
      font-size: 14px;
      line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (1440 - 320)));
      color: #494a49;
    }
  }
}

@media only screen and (max-width: $bp-phone) {
  .profile {
    display: flex;

    .details__img {
      width: 76px;
      height: 76px;

      .profile-avatar {
        width: 76px;
        height: 76px;
      }
    }

    .profile__details {
      display: flex;
      flex-direction: column;
      justify-content: left;

      .details__descriptions {
        display: flex;
        justify-content: left;
        align-items: self-start;
        margin: 0;
        margin-left: 21px;

        .descriptions__name {
          width: 100%;
          text-align: left;
        }

        .descriptions__location,
        .descriptions__status,
        .descriptions__rate {
          font-size: 11px;
          line-height: 15px;
        }
      }

      .details__credo {
        margin: 8px auto 8px 21px;
      }
    }
  }
}

@media only screen and (max-width: $bp-smallest) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile__details {
      align-items: center;

      .details__descriptions {
        align-items: center;
        margin-left: 0;
      }

      .details__credo {
        margin: 0;
      }
    }
  }
}
