<div class="profile" *ngIf="userInfo">
  <div class="details__img">
    <img [src]="userInfo.profilePicturePath" alt="" class="profile-avatar" />
  </div>
  <div>
  <div class="profile__details">
    <div class="details__descriptions">
      <h3 class="descriptions__name">
        {{ userInfo.firstName }}
      </h3>
      <div class="descriptions__location">{{ userInfo.city }}</div>
      <div class="descriptions__status">
        {{ oldUserInfo.status }}
      </div>
      <div class="descriptions__rate">
        <div>
          Rate: {{ oldUserInfo.rate }}
        </div>
      </div>
    </div>
    <div class="details__credo">{{ userInfo.userCredo }}</div>
  <div class="cards">
    <app-profile-progress></app-profile-progress>
  </div>
</div>
