:host {
  font-family: var(--primary-font);
}

@mixin image-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--ubs-quaternary-light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 12px;
}
