<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div mat-dialog-content style="text-align: center; position: relative; height: 100%">
      <div style="text-align: center; padding: 5px">
        <img src="{{ data }}" alt="dialog-image" />
      </div>
      <br />
      <div style="bottom: 0; width: 100%; text-align: right">
        <button mat-dialog-close class="btn btn-primary" type="button">{{ 'feedbacks.dialog-photo.close' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
