.main-employee-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 32px;

  .employee-header {
    margin-bottom: 32px;

    .employee-name {
      margin-bottom: 20px;

      .page-name {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.002em;
      }
    }

    .research {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search {
        display: flex;
        align-items: center;
        max-width: 328px;
        width: 100%;
        height: 36px;
        border: 1px solid var(--ubs-primary-light-grey);
        border-radius: 4px;
      }

      .search-input {
        width: 100%;
      }

      .search-input input {
        padding: 0 0 0 15px;
        margin: 0;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
      }

      .icon-style {
        color: var(--ubs-primary-light-grey);
        margin: 8px;
      }

      .btn-group {
        display: flex;
        gap: 40px;

        .research-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 177px;
          height: 36px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1px;
          border-radius: 4px;

          &.filter-table-btn {
            width: 125px;
            gap: 8px;
            border: 1px solid var(--ubs-quaternary-dark-grey);
            background-color: transparent;
          }

          &.button-name {
            width: 177px;
            font-family: var(--ubs-quaternary-font);
            color: var(--ubs-quaternary-dark-grey);
            background: var(--ubs-button-light-green);
          }
        }
      }
    }
  }

  .employees {
    padding-bottom: 77px;
  }
}

@media screen and (max-width: 1138px) {
  .main-employee-container {
    padding-left: 0;
  }
}
