<div class="main-employee-container">
  <div class="employee-header">
    <div class="employee-name">
      <p class="page-name">{{ 'employees.title' | translate }}</p>
    </div>
    <div class="research">
      <div class="search">
        <div class="search-input">
          <input type="text" placeholder="{{ 'ubs-tables.placeholder' | translate }}" (keyup)="applyFilter($event)" />
        </div>
        <div class="icon-style"><i class="fa fa-search" aria-hidden="true"></i></div>
      </div>
      <div class="btn-group">
        <button type="button" class="research-btn btn-default filter-table-btn">
          <img [src]="icons.filter" alt="filter" />
          {{ 'ubs-tables.filter' | translate }}
        </button>
        <button class="research-btn btn primary-global-button button-name" (click)="openDialog()">
          {{ 'employees.btn.add-employee' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="employees">
    <app-ubs-admin-employee-table></app-ubs-admin-employee-table>
  </div>
</div>
