<div class="tracked-habit-statistic">
  <app-habit-statistic [habitStatisticDto]="packageStatisticDto" [advice]="'Покладіть до кожної сумки чи рюкзака одну еко-сумку, так вона завжди' +
       ' буде з вами, якщо ви неочікувано зайдете в магазин'"
                       [habitMessage]="'Скільки пакетів ти не взяв сьогодні?'"
                       [itemIcon]="activePackageIcon">
  </app-habit-statistic>
  <app-habit-statistic [habitStatisticDto]="coffeeStatisticDto" [advice]="''"
                       [habitMessage]="'Скільки склянок ти не використав сьогодні?'"
                       [itemIcon]="activeCoffeeIcon">
  </app-habit-statistic>
</div>
