<div class="tracked-habit-statistic">
  <app-habit-statistic [habitStatisticDto]="packageStatisticDto" [adviceObservable]="packageAdvice"
                       [habitMessageObservable]="packageMessage"
                       [itemIcon]="activePackageIcon">
  </app-habit-statistic>
  <app-habit-statistic [habitStatisticDto]="cupStatisticDto" [adviceObservable]="cupAdvice"
                       [habitMessageObservable]="cupMessage"
                       [itemIcon]="activeCoffeeIcon">
  </app-habit-statistic>
</div>
