<div class="container">
  <h1 class="my-4 form__headline">Оплата замовлення</h1>
  <div class="row align-items-baseline">
    <div class="col-md-4 col-xl-4">
      <span class="form__subtitle">Замовлення виконано у розмірі</span>
    </div>
    <div class="col-md-2">
      <span class="price">300 грн</span>
    </div>
    <div class="col-md-2">
      <button class="btn">+ Додати оплату</button>
    </div>
  </div>
  <p class="need-to-pay">Потрібно доплатити 250 грн</p>
  <div class="table-responsive-md col-md-10 pl-0">
    <table class="table table-borderless">
      <caption>Оплата замовлення</caption>
      <thead>
        <tr>
          <th id="paymentDate">Дата оплати</th>
          <th id="paymentId">ID платежу</th>
          <th id="paymentSum">Сума</th>
          <th id="paymentComment">Коментар/Чек</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01.05.2021</td>
          <td>№1234567890</td>
          <td>100 грн</td>
          <td>Link_to_bill_3216549870</td>
        </tr>
        <tr>
          <td>01.05.2021</td>
          <td>№1234567890</td>
          <td>200 грн</td>
          <td>Link_to_bill_3216549870</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</div>
