<div class="container">
  <h1>Оплата замовлення</h1>
  <div class="row">
    <div class="col-md-4">
      <span>Замовлення виконано у розмірі</span>
    </div>
    <div class="col-md-2">
      <span class="price">300 грн</span>
    </div>
    <div class="col-md-3 offset-md-1">
      <button class="btn btn-sm">+ Додати оплату</button>
    </div>
  </div>
  <p class="need-to-pay">Потрібно доплатити 250 грн</p>
  <div class="table-responsive-md">
    <table class="table">
      <thead>
        <tr>
          <td scope="col">Дата оплати</td>
          <td scope="col">ID платежу</td>
          <td scope="col">Сума</td>
          <td scope="col">Коментар/Чек</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01.05.2021</td>
          <td>№1234567890</td>
          <td>100 грн</td>
          <td>Link_to_bill_3216549870</td>
        </tr>
        <tr>
          <td>01.05.2021</td>
          <td>№1234567890</td>
          <td>200 грн</td>
          <td>Link_to_bill_3216549870</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
