button {
  color: #13aa57;
  border: 1px solid #13aa57;
}

.price {
  background: #f7f9fa;
  border: 1px solid #cacfd3;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
}

h1 {
  font-size: 20px;
}
.need-to-pay {
  color: #eb180d;
}
