.right-cards {
  .card {
    width: 100%;
    height: 104px;
    color: white;
    text-align: left;
    padding: 16px 16px 0 16px;
    margin-top: 24px;
    border-radius: 4px;
    background: #13aa57;

    .cart-title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 8px;
    }

    .card-description {
      font-size: 11px;
      line-height: 15px;
      font-family: 'Open Sans', sans-serif;
      align-items: center;
    }

    .shape-img {
      img {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        width: 100%;
        height: 55px;
      }
    }
  }
}
