<div class="container mb-3">
  <div class="row d-flex justify-content-between mt-4">
    <h1 class="title">Замовлення №37399</h1>
    <div class="pr-4"><span class="form__label">Дата оформлення: </span><span>11.11.2020</span></div>
  </div>
  <form class="mt-5">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="form-row">
              <div class="form-group col-sm-10 col-md-7">
                <label for="order" class="form__label">Статус замовлення</label>
                <select id="order" class="form-control">
                  <option selected>Підтверджено</option>
                  <option>Не підтверджено</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-row">
              <div class="form-group col-sm-10 col-md-7">
                <label for="payment" class="form__label">Статус оплати</label>
                <select id="payment" class="form-control payment">
                  <option selected>Оплачено</option>
                  <option>Не оплачено</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 offdet-sm-0 offset-md-1">
        <div class="form-group">
          <label for="comment" class="form__label">Коментар</label>
          <textarea
            class="form-control mw-100"
            id="comment"
            rows="3"
            placeholder="Будь-які деталі, які Ви хотіли б повідомити додатково щодо цього замовлення"
          ></textarea>
        </div>
      </div>
    </div>
  </form>
  <hr />
</div>
