<div class="wrapper">
  <span *ngIf="header" class="filter">{{ header | translate }}</span>
  <div class="ul-eco-buttons" aria-label="filter by items">
    <button *ngFor="let filter of filters" class="tag-button" (click)="toggleFilter(filter.nameEn)">
      <a class="custom-chip global-tag" [ngClass]="{ 'global-tag-clicked': filter.isActive }">
        <span class="text" [appLangValue]="{ ua: filter.nameUk, en: filter.nameEn }"></span>
        <div [ngClass]="{ 'global-tag-close-icon': filter.isActive }"></div>
      </a>
    </button>
  </div>
</div>
