<div [formGroup]="formGroup" class="date-location-container">
  <div class="checkbox">
    <mat-checkbox
      (change)="toggleLocation()"
      [checked]="isPlaceSelected"
      [disabled]="isPlaceDisabled || formDisabled"
      class="checkbox-wrapper"
      color="primary"
    >
      {{ 'create-event.event-place' | translate }}
    </mat-checkbox>
    <mat-checkbox
      (change)="toggleOnline()"
      [checked]="isOnline"
      [disabled]="isLinkDisabled || formDisabled"
      class="checkbox-wrapper"
      color="primary"
    >
      {{ 'create-event.event-online' | translate }}
    </mat-checkbox>
  </div>
  <div *ngIf="isPlaceSelected" class="mb-1">
    <p class="regular-text mb-2">{{ 'create-event.event-location' | translate }}</p>
    <div class="location-title mb-1">
      <mat-form-field appearance="outline" class="location-title-input" subscriptSizing="dynamic">
        <mat-label>{{ 'create-event.event-offline-place' | translate }}</mat-label>
        <input #placesRef formControlName="place" matInput placeholder="{{ 'create-event.enter-location' | translate }}" />
        <mat-error> {{ 'create-event.location-required' | translate }}</mat-error>
      </mat-form-field>
      <mat-checkbox
        (change)="toggleForAllLocations()"
        *ngIf="dayNumber === 0 && !formDisabled"
        [checked]="appliedPlaceForAll.value"
        [color]="'primary'"
        class="apply-location-checkbox"
      >
        {{ 'create-event.apply-location' | translate }}
      </mat-checkbox>
    </div>

    <div *ngIf="!formDisabled && !isRenderingMap" class="map-container">
      <google-map (mapClick)="mapClick($event)" [options]="mapOptions" [width]="'100%'" height="410px">
        <map-marker [position]="mapMarkerCoords" />
      </google-map>
    </div>
  </div>

  <div *ngIf="isOnline" class="d-flex flex-column w-100">
    <p class="regular-text mb-2">{{ 'create-event.event-link' | translate }}</p>
    <mat-form-field appearance="outline" class="link-title" subscriptSizing="dynamic">
      <mat-label class="link-title">{{ 'create-event.event-online-link' | translate }}</mat-label>
      <input formControlName="onlineLink" matInput placeholder="{{ 'create-event.enter-link' | translate }}" />
      <mat-error> {{ 'create-event.event-online-link-error' | translate }}</mat-error>
    </mat-form-field>
    <mat-checkbox
      (change)="toggleForAllLink()"
      *ngIf="this.dayNumber === 0"
      [checked]="this.appliedLinkForAll.value"
      class="apply-location-checkbox"
      color="primary"
    >
      {{ 'create-event.apply-location' | translate }}
    </mat-checkbox>
  </div>
</div>
