button {
  width: 292px !important;
  height: 48px !important;
  margin: 40px 15px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 4px !important;
  box-shadow: 0 13px 20px 0 rgba(118, 196, 125, 0.41) !important;
  background-color: #13aa57 !important;
  border: 0;
}
