<form [formGroup]="addServiceForm">
  <div class="header-text" *ngIf="data.button === 'add'">
    <h4>{{ 'ubs-tariffs.btn.add_service' | translate }}</h4>
  </div>
  <div class="header-text" *ngIf="data.button === 'update'">
    <h4>{{ 'ubs-tariffs-add-service.edit_service' | translate }}</h4>
  </div>
  <app-dialog-tariff [row]="form" [newDate]="newDate" [name]="name" [edit]="true"></app-dialog-tariff>
  <ng-template #form>
    <div class="service d-flex">
      <div class="form-group">
        <label for="name">{{ 'ubs-tariffs-add-service.name_of_the_service' | translate }}</label>
        <input
          type="text"
          formControlName="name"
          class="shadow-none form-control"
          id="name"
          placeholder="{{ 'ubs-tariffs-add-service.placeholder-service' | translate }}"
          maxlength="256"
          required
        />
        <div class="error-message" *ngIf="addServiceForm.get('name').invalid && addServiceForm.get('name').touched">
          {{ 'ubs-tariffs-add-service.error_content' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="nameEng">{{ 'ubs-tariffs-add-service.name_of_the_service' | translate }}</label>
        <input
          type="text"
          formControlName="nameEng"
          class="shadow-none form-control"
          id="nameEng"
          placeholder="{{ 'ubs-tariffs-add-service.placeholder-service' | translate }}"
          maxlength="256"
          required
        />
        <div class="error-message" *ngIf="addServiceForm.get('nameEng').invalid && addServiceForm.get('nameEng').touched">
          {{ 'ubs-tariffs-add-service.error_content' | translate }}
        </div>
      </div>
    </div>
    <div class="basic-cost-input form-group">
      <label for="price" class="form-label">{{ 'ubs-tariffs-add-service.basic_cost' | translate }}</label>
      <input
        type="number"
        formControlName="price"
        id="price"
        class="shadow-none form-control"
        placeholder="0.00"
        min="0.01"
        max="999999.99"
      />
    </div>
    <div class="d-flex">
      <div class="form-group">
        <label for="description">{{ 'ubs-tariffs-add-service.service_description' | translate }}</label>
        <textarea
          class="description-input"
          type="text"
          formControlName="description"
          id="description"
          placeholder="{{ 'ubs-tariffs-add-service.placeholder-text' | translate }}"
          maxlength="256"
          required
        >
        </textarea>
        <div class="error-message" *ngIf="addServiceForm.get('description').invalid && addServiceForm.get('description').touched">
          {{ 'ubs-tariffs-add-service.error_content' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="descriptionEng">{{ 'ubs-tariffs-add-service.service_description' | translate }}</label>
        <textarea
          class="description-input"
          type="text"
          formControlName="descriptionEng"
          id="descriptionEng"
          placeholder="{{ 'ubs-tariffs-add-service.placeholder-text' | translate }}"
          maxlength="256"
          required
        >
        </textarea>
        <div class="error-message" *ngIf="addServiceForm.get('descriptionEng').invalid && addServiceForm.get('description').touched">
          {{ 'ubs-tariffs-add-service.error_content' | translate }}
        </div>
      </div>
    </div>
    <div class="buttons d-flex justify-content-end">
      <button class="secondary-global-button btn" type="button" (click)="onCancel()">
        {{ 'ubs-tariffs-add-service.btn.cancel' | translate }}
      </button>
      <button
        class="primary-global-button btn"
        type="submit"
        *ngIf="data.button === 'add'"
        (click)="addNewService()"
        [disabled]="addServiceForm.invalid || loadingAnim"
      >
        <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
        {{ 'ubs-tariffs-add-service.btn.add' | translate }}
      </button>
      <button
        type="button"
        *ngIf="data.button === 'update'"
        class="primary-global-button btn"
        (click)="editService()"
        [disabled]="addServiceForm.invalid || addServiceForm.pristine || loadingAnim"
      >
        <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
        {{ 'ubs-tariffs-add-service.btn.save' | translate }}
      </button>
    </div>
  </ng-template>
</form>
