$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.gallery-view-active {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

p {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #313131;
}

hr {
  background: #E6E6E6;
  margin: 20px 0 20px 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

// .gallery-view-li-active {
//   flex: 1;
// }

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .gallery-view-active {
    flex-direction: column;
  }
}

// @media only screen and (max-width: $bp-phone) {

//   .gallery-view-li-active {
//     flex-direction: row;
//   }
// }
