$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.gallery-view-active {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

p {
  margin-top: 60px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: var(--secondary-dark-grey);
}

hr {
  background: #e6e6e6;
  margin: 20px 0 20px 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 1024px) {
  .gallery-view-active {
    grid-template-columns: repeat(2, 27.8%);
    grid-gap: 6.6%;
  }
}

@media screen and (max-width: 768px) {
  .last-item {
    display: none;
  }

  .gallery-view-active {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  p {
    font-size: 18px;
    color: var(--secondary-dark-grey);
  }

  .gallery-view-active {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
