$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.gallery-view-active {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

p {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #313131;
}

hr {
  background: #E6E6E6;
  margin: 20px 0 20px 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 1024px) {
  .gallery-view-active {
    grid-template-columns: repeat(2, 27.8%);
    grid-gap: 6.6%;
  }
}

@media screen and (max-width: 768px) {
  .last-item {
    display: none;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 43.3%);
    grid-gap: 8.6%;
  }
}

@media screen and (max-width: 576px) {
  p {
    font-size: 18px;
    color: #313131;
  }

  .gallery-view-active {
    grid-template-columns: repeat(1, 47%);
    grid-gap: 5.8%;
  }
}

@media screen and (max-width: 320px) {
  .gallery-view-active {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 0;
  }
}
