.like {
  width: fit-content;
  height: 40px;
  margin-right: 8px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: var(--pre-secondary-light-grey);
  outline: none;
}

.btn-img {
  min-width: 16px;
  max-height: 16px;
}

.btn-text {
  margin-left: 5px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-grey);
  mix-blend-mode: normal;
}

@media screen and (max-width: 992px) {
  .btn-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .cta-btn {
    width: 24px;
  }
}
