<div class="container">
  <h1 class="">Замовлення №37399</h1>
  <form>
    <span>Дата оформлення:</span>
    <input type="date" />

    <label>Статус замовлення</label>
    <select name="order status">
      <option value="confirmed">Підтверджено</option>
      <option value="not confirmed">Не підтверджеено</option>
    </select>

    <label>Статус оплати</label>
    <select name="payment status">
      <option value="paid">Оплачено</option>
      <option value="not paid">Не оплачено</option>
    </select>

    <label>Коментар</label>
    <input type="textarea" name="name" placeholder="Будь-які деталі, які Ви хотіли б повідомити додатково щодо цього замовлення" />
  </form>
</div>
