.friend-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 554px;
  height: 194px;
  background: var(--primary-white);
  font-family: var(--primary-font);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 7px var(--tertiary-light-grey);
  // color: rgba(202, 207, 211, 0.5);
  margin: 7px 16px;
}

button {
  font-weight: bold;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  width: 104px;
  height: 40px;
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  background: var(--primary-white);
}

.rate-with-photo {
  background: rgba(19, 170, 87, 0.12);

  &::before {
    content: 'Rate:';
  }
}

.friend-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 2px;
}

.friend-city,
.friend-mutual {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--quaternary-grey);
  margin: 2px;

  .friend-mutual-link {
    transition: 0.2s;

    &:hover {
      color: var(--tertiary-dark-grey);
    }
  }
}

.friend-rate {
  color: var(--primary-green);
  font-family: var(--quaternary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 89px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 3;
  margin-left: 28px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friend-btn {
  margin-bottom: 20px;
}

.friend-img {
  flex: 1;
}

.friend-with-photo {
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (min-width: 768px) {
  .friend-item {
    width: 554px;
    flex-direction: row;
  }
}

@media only screen and (min-width: 576px) {
  .friend-item {
    justify-content: center;
  }
}
