<div class="friend-item-wrapper" (click)="clickHandler($event)">
  <div class="friend-item-left">
    <div class="photo-column">
      <app-user-profile-image
        [imgPath]="friend.profilePicturePath"
        [firstName]="friend.name"
        class="friend-img"
        [additionalImgClass]="'friend-item'"
        [isOnline]="checkIsOnline(friend.id)"
      >
      </app-user-profile-image>
      <button
        *ngIf="friend.id !== currentUserId"
        [id]="friend.chatId ? 'openChatButton' : 'createChatButton'"
        class="chat-btn"
        [ngbPopover]="(friend.chatId ? 'profile.friends.open-chat' : 'profile.friends.create-chat') | translate"
        triggers="mouseenter:mouseleave"
      ></button>
    </div>

    <div class="friend-info">
      <div class="main-info friend-with-photo">
        <p
          class="friend-name"
          appCustomTooltip
          #tooltipFriendName="matTooltip"
          matTooltip="{{ friend.name }}"
          [appCustomTooltip]="friend.name"
          [tooltip]="tooltipFriendName"
          matTooltipClass="my-custom-tooltip"
          font="bold 18px Lato, sans-serif"
        >
          {{ friend.name }}
        </p>
        <p class="friend-rate rate-with-photo">{{ 'profile.rate' | translate }}: {{ friend.rating }}</p>
      </div>
      <p class="friend-mutual">
        <span class="friend-mutual-link">
          {{ friend.mutualFriends }} {{ 'profile.friends.mutual-friends' | correctUnit: friend.mutualFriends:currentLang | translate }}
        </span>
      </p>
      <p
        class="friend-city"
        appCustomTooltip
        [appCustomTooltip]="(getFriendCity(friend.userLocationDto) | maxTextLength) || ('profile.friends.no-city' | translate)"
        #tooltipFriendCity="matTooltip"
        [tooltip]="tooltipFriendCity"
        matTooltip="{{ (getFriendCity(friend.userLocationDto) | maxTextLength) || ('profile.friends.no-city' | translate) }}"
        matTooltipClass="my-custom-tooltip"
        font="bold 12px Lato, sans-serif"
      >
        {{ (getFriendCity(friend.userLocationDto) | maxTextLength) || ('profile.friends.no-city' | translate) }}
      </p>
    </div>
  </div>
  <div class="buttons">
    <div class="friend-btn">
      <button id="addFriend" *ngIf="isAbleToAdd()" class="secondary-global-button m-btn">
        {{ 'profile.friends.add-new-friend' | translate }}
      </button>
      <button id="cancelRequest" *ngIf="isCurrentUserRequested()" class="secondary-global-button m-btn">
        {{ 'profile.friends.cancel-friend-request' | translate }}
      </button>
      <button id="deleteFriend" *ngIf="friend.friendStatus === 'FRIEND'" class="secondary-global-button m-btn">
        {{ 'profile.friends.delete-friend' | translate }}
      </button>
      <button id="declineRequest" *ngIf="isFriendRequest()" class="secondary-global-button m-btn">
        {{ 'profile.friends.request-decline' | translate }}
      </button>
      <button id="acceptRequest" *ngIf="isFriendRequest()" class="secondary-global-button m-btn">
        {{ 'profile.friends.request-accept' | translate }}
      </button>
    </div>
  </div>
</div>
