.friend-item-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 554px;
  height: 194px;
  background: var(--primary-white);
  font-family: var(--primary-font);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(202, 207, 211, 0.7);

  ::ng-deep .profile-avatar {
    @media (max-width: 1200px) {
      width: 70px;
      height: 70px;
    }
  }

  @media (max-width: 1200px) {
    width: 417px;
    height: 176px;
  }

  @media (max-width: 1000px) {
    width: 603px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    padding: 24px 6px 16px 10px;
  }
}

.rate-with-photo {
  background: rgba(19, 170, 87, 0.12);

  &::before {
    content: 'Rate:';
  }
}

.friend-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 2px;
}

.friend-city,
.friend-mutual {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--quaternary-grey);
  margin: 2px;

  .friend-mutual-link {
    transition: 0.2s;

    &:hover {
      color: var(--tertiary-dark-grey);
    }
  }
}

.friend-rate {
  color: var(--primary-green);
  font-family: var(--quaternary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 89px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 3;
  margin-left: 28px;

  @media (max-width: 450px) {
    max-width: 100px;
    margin-left: 5px;
    overflow: hidden;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 114px;
}

.friend-btn {
  margin-bottom: 20px;

  button {
    line-height: 16px;
    white-space: nowrap;
    width: 100%;
  }
}

.friend-img {
  flex: 1;
}

.friend-with-photo {
  display: flex;
  flex-direction: column-reverse;
}
