<div class="friend-item-wrapper" [style.cursor]="userId ? 'default' : 'pointer'" (click)="clickHandler($event)">
  <app-user-profile-image
    [imgPath]="friend.profilePicturePath"
    [firstName]="friend.name"
    class="friend-img"
    [additionalImgClass]="'friend-item'"
  >
  </app-user-profile-image>
  <div class="friend-info">
    <div class="main-info friend-with-photo">
      <p class="friend-name" appCustomTooltip [appCustomTooltip]="friend.name">{{ friend.name | maxTextLength }}</p>
      <p class="friend-rate rate-with-photo">
        {{ friend.rating }}
      </p>
    </div>
    <p class="friend-mutual">
      <span [class.friend-mutual-link]="!userId"
        >{{ friend.mutualFriends ? friend.mutualFriends : 0 }} {{ 'profile.friends.mutual-friends' | translate }}</span
      >
    </p>
    <p class="friend-city" appCustomTooltip [appCustomTooltip]="friend.city || ('profile.friends.no-city' | translate)">
      {{ (friend.city | maxTextLength) || ('profile.friends.no-city' | translate) }}
    </p>
  </div>
  <div class="buttons">
    <div class="friend-btn">
      <button id="addButton" class="secondary-global-button m-btn" (click)="friendEvent()">
        {{ primaryBtnName }}
      </button>
    </div>
    <div *ngIf="!isFriendRequest; else isRequest" class="friend-btn">
      <button *ngIf="friend.chatId" id="openChatButton" class="secondary-global-button m-btn">
        {{ 'profile.friends.open-chat' | translate }}
      </button>
      <button *ngIf="!friend.chatId" id="createChatButton" class="secondary-global-button m-btn">
        {{ 'profile.friends.create-chat' | translate }}
      </button>
    </div>
    <ng-template class="friend-btn" #isRequest>
      <button class="secondary-global-button m-btn" (click)="declineFriend()">
        {{ secondaryBtnName }}
      </button>
    </ng-template>
  </div>
</div>
