<div class="friend-item" [style.cursor]="userId ? 'default' : 'pointer'" (click)="clickHandler($event)">
  <app-user-profile-image
    [imgPath]="friend.profilePicturePath"
    [firstName]="friend.name"
    class="friend-img"
    [additionalImgClass]="'friend-item'"
  >
  </app-user-profile-image>
  <div class="friend-info">
    <div class="main-info" [ngClass]="friend.profilePicturePath ? 'friend-with-photo' : 'friend-without-photo'">
      <p class="friend-name">{{ friend.name }}</p>
      <p class="friend-rate" [ngClass]="friend.profilePicturePath ? 'rate-with-photo' : 'rate-without-photo'">
        {{ friend.rating }}
      </p>
    </div>
    <p *ngIf="friend.mutualFriends > 0" class="friend-mutual">
      <span [class.friend-mutual-link]="!userId">{{ friend.mutualFriends }} {{ 'profile.friends.mutual-friends' | translate }}</span>
    </p>
    <p class="friend-city">{{ friend.city }}</p>
  </div>
  <div class="friend-btn">
    <button>{{ btnName }}</button>
  </div>
</div>
