.total-bonuses {
  &-number__amount {
    font-weight: 900;
    background: linear-gradient(180deg, #8fe02e 0%, #26b351 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.mat-header-cell,
.mat-cell {
  color: var(--ubs-primary-grey);
  padding: 17px 5px;
  font-size: 14px;
  line-height: 20px;
}

.date-sort-icon {
  padding-left: 6.5px;
  font-size: 12px;
  font-weight: 400;
}

.mat-header-cell {
  font-weight: 700;
  letter-spacing: 0.1px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 8px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 8px;
}

.mat-cell {
  padding: 8px;
  vertical-align: middle;
}
