<div class="outer">
  <div class="achievements">
    <div class="{{ this.currLang === 'ua' ? 'header-ukr' : 'header' }}">
      <div class="title-achievements">
        <p class="my-achievements">
          {{ 'profile.my-achievements' | translate }}
        </p>
        <a href="">{{ 'profile.see-all' | translate }}</a>
      </div>
      <div>
        <div class="achieved-quantity">15 {{ 'profile.achieved' | translate }}</div>
      </div>
    </div>
    <div class="body">
      <img [src]="image" alt="achievement" *ngFor="let image of achievementsImages" />
    </div>
  </div>
</div>
