<div class="outer">
  <div class="achievements">
    <div class="header">
      <div>
        <p class="my-achievements">
          {{ 'profile.my-achievements' | translate }}
        </p>
      </div>
      <div>
        <div class="acheived-quantity">15 {{ 'profile.achieved' | translate }}</div>
        <a href="">{{ 'profile.see-all' | translate }}</a>
      </div>
    </div>
    <div class="body">
      <img [src]="image" alt="achievement" *ngFor="let image of achievementsImages" />
    </div>
  </div>
</div>
