<div class="outer">
  <div class="achievements">
    <div class="header">
      <div class="title-achievements">
        <p class="my-achievements">
          {{ 'profile.my-achievements' | translate }}
        </p>
        <a *ngIf="amountOfAchievements > itemsPerPage" (click)="openDialog()">{{ 'profile.see-all' | translate }}</a>
      </div>
      <div>
        <div class="achieved-quantity">{{ amountOfAchievements }} {{ 'profile.achieved' | translate }}</div>
      </div>
    </div>
    <div class="slider-wrapper" *ngIf="amountOfAchievements; else noAchievements">
      <img
        #previousArrow
        class="achievements-previous"
        (click)="changeAchievements(false)"
        [src]="arrows.arrowPrevious"
        alt="arrow previous"
        [ngClass]="{ hidden: !shouldShowArrows() }"
      />

      <div #slider class="achievements-images">
        <div *ngFor="let achievement of achievementsToShow">
          <img [src]="'assets/img/profile/achievements/' + achievement.achievementCategory.name + '.png'" alt="achievement" />
        </div>
      </div>

      <img
        #nextArrow
        class="achievements-next"
        (click)="changeAchievements(true)"
        [src]="arrows.arrowNext"
        alt="arrow next"
        [ngClass]="{ hidden: !shouldShowArrows() }"
      />
    </div>
    <ng-template #noAchievements>
      <p class="no-achievements">{{ 'profile.no-achievements' | translate }}</p>
    </ng-template>
  </div>
</div>
