.main {
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  background-color: white;
  border-radius: 4px;
  overflow: scroll;

  .left-side {
    display: block;
    max-height: 100vh;
  }

  .right-side {
    width: 100%;
    max-width: 480px;
    max-height: 100vh;
    height: 768px;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;

    .close-modal-window {
      display: flex;
      justify-content: flex-end;
      margin: 26px 26px 22px 90%;
      width: min-content;
      padding: 5px;
    }

    .cross-btn {
      width: 12px;
      height: 12px;
    }

    div {
      align-self: center;
      width: 370px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    width: 100%;
    max-width: 480px;

    .left-side {
      display: none;
    }

    .right-side {
      height: 620px;
    }
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    .right-side {
      div {
        max-width: 300px;
      }
    }
  }
}
