@import 'mixin';

.comments {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  margin: 0 10px;
  cursor: default;
  position: relative;
}

.spinner {
  position: absolute;
  right: 0;
  top: 20%;
}

div {
  width: 100%;
  height: 100%;
}

.pencil {
  @include pencil();

  right: -10px;
}

.pencil {
  @include pencil();
}

.padding-right {
  padding-right: 25px;
}
