.comments {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  margin: 0 10px;
  cursor: default;
  position: relative;
}

.pointer {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.spinner {
  position: absolute;
  right: 0;
  top: 20%;
}

div {
  width: 100%;
  height: 100%;
}
