<div class="main-container">
  <div class="achievements">
    <div class="achievements-text">
      <div class="text-main-content">
        <div class="text-title">
          My Achievements 
          <span class="text-number">8</span>
        </div>
      </div>
      <div class="text-more">See all</div>
    </div>
    <div class="achievements-images">
        <img [src]="image"
             alt="achievement"
             class="achievements-img"
             *ngFor="let image of achievementsImages"
        >
    </div>
  </div>
  <div class="friends">
    <div class="friends-text">
      <div class="text-main-content">
          <div class="text-title">
            My Eco Friends
            <span class="text-number">139</span>
          </div>
      </div>
      <div class="text-more">See all</div>
    </div>
    <div class="friends-images">
        <img [src]="image"
             alt="friend"
             class="friend-img"
             *ngFor="let image of friendsImages"
        >
    </div>
  </div>
</div>
