@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$title-font: 'Montserrat';

$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.main-container {
  // padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // flex-wrap: wrap;
  margin-bottom: 24px;
  background: #f5f7f6;
  // border-top: 1px solid #EAEEF3;

  .achievements,
  .friends {
    padding: 24px 0;
  }
  
  .achievements,
  .friends {
    width: 100%;
    border-top: 1px solid #EAEEF3;
  }

  .achievements-text,
  .friends-text {
    display: flex;
    justify-content: space-between;
  }

  .text-main-content {
    display: flex;
    justify-content: start;
    width: 100%;

    .text-number {
      color: #BEBEBE;
    }
  }

  .text-title {
    margin-right: 5px;
  }

  .text-number {
    display: inline-block;
    vertical-align: bottom;
  }

  .text-title,
  .text-number {
    font-family: $title-font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #494A49;
  }

  .text-more {
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #494A49;
  }

  .achievements-images,
  .friends-images {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .achievements-img,
  .friend-img {
    margin-top: 24px;
  }
}

@media only screen and (max-width: $bp-largest) {
    .achievements-img,
    .friend-img {
      width: 60px;
    }
}

@media only screen and (max-width: $bp-desktop) {
  .achievements-img,
  .friend-img {
    width: 50px;
  }

  .text-title,
  .text-number {
    font-size: 12px;
    line-height: 15px;
  }

  .text-more {
    font-size: 11px;
    line-height: 13px;
  }
}
