<div class="container">
  <div *ngIf="bags && !isFetching && !isDialogOpen; else spinner">
    <div class="header">
      <h3 class="font-bolt order-title">{{ 'order-details.order-title' | translate }}</h3>
      <div class="user-location">
        <div>
          <h5>{{ 'order-details.current-location' | translate: { currentLocation: currentLocation } }}</h5>
          <button class="change-location" (click)="changeLocation = !changeLocation">
            {{ 'order-details.choose-location' | translate }}
          </button>
        </div>
        <div *ngIf="changeLocation" class="list-locations">
          <select name="region" class="choose-location" [(ngModel)]="selectedLocationId" (ngModelChange)="saveLocation(true)">
            <option [ngValue]="location.id" *ngFor="let location of locations | filterByLang">
              {{ location.name }}
            </option>
          </select>
        </div>
      </div>
      <p class="order-content" *ngIf="selectedLocationId === 1">{{ 'order-details.order-content' | translate }}</p>
      <p class="order-content" *ngIf="selectedLocationId === 2">
        {{ 'order-details.min-big-bags' | translate: { minAmountOfBigBags: minAmountOfBigBags } }}
      </p>
    </div>

    <form class="form" [formGroup]="orderDetailsForm" (change)="changeOrderDetails()">
      <div class="w-100 d-flex justify-content-between mb-2">
        <label class="col-3 label m-0 p-0">{{ 'order-details.service' | translate }}</label>
        <label class="col-2 label m-0 p-0">{{ 'order-details.volume' | translate }}</label>
        <label class="col-2 label m-0 p-0">{{ 'order-details.cost' | translate }}</label>
        <label class="col-2 label m-0 p-0">{{ 'order-details.number-of-packages' | translate }}</label>
        <label class="col-3 label m-0 text-center p-0">{{ 'order-details.sum' | translate }}</label>
      </div>
      <div class="main">
        <ul class="w-100 p-0 m-0">
          <li *ngFor="let bag of bags" class="main-list_item d-flex justify-content-between align-items-baseline">
            <span class="col-3 p-0 m-0 bag-name">{{ bag.name }}</span>
            <span class="col-2 p-0 m-0 bag-name">{{ bag.capacity | volume }}</span>
            <span class="col-2 p-0 m-0 bag-name">{{ bag.price | currency | localizedCurrency }}</span>
            <div class="col-2 form-group count">
              <input
                formControlName="quantity{{ bag.id }}"
                type="number"
                class="shadow-none form-control input"
                [id]="'quantity' + bag.id"
                min="0"
                max="999"
                placeholder="0"
                [unmask]="false"
                [imask]="{ mask: servicesMask }"
                (change)="onQuantityChange(bag.id)"
              />
            </div>
            <span class="col-3 bag-name text-right"> {{ bag.quantity * bag.price | currency | localizedCurrency }}</span>
          </li>
        </ul>
      </div>
      <div class="middle">
        <div class="middle-container">
          <div class="showTotal">
            <div class="totalInfo">
              <p class="total-content" [class.d-none]="showTotal === 0">
                <span>{{ 'order-details.order-amount' | translate }}</span>
                <span>
                  <strong>{{ showTotal | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content" *ngIf="displayCert">
                <span>{{ 'order-details.certificate' | translate }} </span>
                <span>
                  <strong class="money-saved">-{{ showCertificateUsed | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content" *ngIf="pointsUsed">
                <span>{{ 'order-details.bonuses' | translate }}</span>
                <span>
                  <strong class="money-saved">-{{ pointsUsed | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content">
                <span>{{ 'order-details.amount-due' | translate }} </span>
                <span>
                  <strong>{{ finalSum | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <div *ngIf="displayMinOrderMes" class="validMes">
                <small class="text-danger">{{ 'order-details.min-sum' | translate }}</small>
              </div>
              <div *ngIf="displayMinBigBagsMes && orderDetailsForm.dirty" class="validMes">
                <small class="text-danger">{{
                  'order-details.min-big-bags' | translate: { minAmountOfBigBags: minAmountOfBigBags }
                }}</small>
              </div>
            </div>
          </div>
          <h5>{{ 'order-details.question-certificate' | translate }}</h5>
          <app-ubs-order-certificate
            [showTotal]="showTotal"
            [bags]="bags"
            [defaultPoints]="defaultPoints"
            [points]="points"
            [pointsUsed]="pointsUsed"
            (newItemEvent)="setNewValue($event)"
          >
          </app-ubs-order-certificate>
        </div>
      </div>
      <div class="bottom">
        <h3>{{ 'order-details.eco-shop' | translate }}</h3>
        <h5>{{ 'order-details.shop-order-question' | translate }}</h5>
        <div class="radio-btn">
          <label class="custom-radio-btn"
            >{{ 'order-details.no' | translate }}
            <input formControlName="shop" type="radio" value="no" (click)="clearOrderValues()" tabindex="-1" />
            <span class="checkmark" tabindex="0" (keyup)="selectShopRadioBtn($event, 'no')"></span>
          </label>
          <label class="custom-radio-btn"
            >{{ 'order-details.yes' | translate }}
            <input
              formControlName="shop"
              type="radio"
              value="yes"
              tabindex="-1"
              (click)="renderer.selectRootElement('#index' + (additionalOrders.controls.length - 1)).focus()"
            />
            <span class="checkmark" tabindex="0" (keyup)="selectShopRadioBtn($event, 'yes')"></span>
          </label>
        </div>
        <div class="form-group shop_submit">
          <div class="bottom-text">
            <p>{{ 'order-details.cant-found-order' | translate }}</p>
          </div>
          <div
            formArrayName="additionalOrders"
            *ngFor="let order of additionalOrders.controls; let i = index"
            class="form-group eco-store"
            [class.inactive]="orderDetailsForm.controls.shop.value === 'no'"
          >
            <label class="label m-0">{{ 'order-details.enter-order-num' | translate }}</label>
            <input
              id="index{{ i }}"
              tabindex="{{ isDisabled() }}"
              [formControlName]="i"
              class="shadow-none form-control border-input p-2 eco-store-input"
              type="text"
              placeholder="xxxxxxxxxx"
              [unmask]="false"
              [imask]="{ mask: ecoStoreMask }"
              [pattern]="additionalOrdersPattern"
              (click)="changeShopRadioBtn()"
              (ngModelChange)="ecoStoreValidation()"
            />
            <span input-close-button tabindex="{{ isDisabled() }}" (click)="deleteOrder(i)" (keyup)="removeOrder($event, i)">&times;</span>
          </div>
          <div *ngIf="canAddEcoShopOrderNumber()" class="order-notification">
            <small class="text-danger" *ngIf="!displayOrderBtn && additionalOrders.touched && shop.value !== 'no'">
              {{ 'order-details.order-error' | translate }}
            </small>
            <button [disabled]="additionalOrders.controls.length < 5 && !displayOrderBtn" class="addOrderBtn" (click)="addOrder()">
              {{ 'order-details.additional-orders' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="bottom_comment">
        <div class="form-group comment">
          <h3>{{ 'order-details.coment' | translate }}</h3>
          <textarea
            formControlName="orderComment"
            class="shadow-none form-control textarea"
            rows="7"
            placeholder="{{ 'order-details.any-details' | translate }}"
            [pattern]="commentPattern"
          >
          </textarea>
        </div>
        <small class="text-danger" *ngIf="orderComment.invalid">
          {{ 'order-details.comment-error' | translate }}
        </small>
      </div>
    </form>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</div>

<div class="w-100 d-flex justify-content-end buttons">
  <button type="button" class="secondary-global-button btn cancel-button btn-main" (click)="cancelUBS()">
    {{ 'order-details.cancel' | translate }}
  </button>
  <button
    [disabled]="showTotal < 500 || minAmountOfBigBags > totalOfBigBags || orderComment.invalid"
    type="submit"
    class="primary-global-button btn btn-main"
    matStepperNext
  >
    {{ 'order-details.next' | translate }}
  </button>
</div>
