<div class="container">
  <div *ngIf="bags; else spinner">
    <div class="header">
      <h3 class="font-bolt order-title">{{ 'order-details.order-title' | translate }}</h3>
      <div>
        <h5>{{ 'order-details.choose-location' | translate }}</h5>
        <select class="choose-location">
          <option>{{ 'order-details.kyiv' | translate }}</option>
          <option>{{ 'order-details.kyiv-region' | translate }}</option>
        </select>
      </div>
      <p class="order-content">{{ 'order-details.order-content' | translate }}</p>
    </div>
    <form class="form" [formGroup]="orderDetailsForm" (change)="changeOrderDetails()">
      <div class="w-100 d-flex justify-content-between mb-2">
        <label class="col-3 label m-0 p-0">{{ 'order-details.service' | translate }}</label>
        <label class="col-2 label m-0 p-0">{{ 'order-details.volume' | translate }}</label>
        <label class="col-2 label m-0 p-0">{{ 'order-details.cost' | translate }}</label>
        <label class="col-2 label m-0 p-0">{{ 'order-details.number-of-packages' | translate }}</label>
        <label class="col-3 label m-0 text-center p-0">{{ 'order-details.sum' | translate }}</label>
      </div>
      <div class="main">
        <ul class="w-100 p-0 m-0">
          <li *ngFor="let bag of bags" class="main-list_item d-flex justify-content-between align-items-baseline">
            <span class="col-3 p-0 m-0 bag-name">{{ bag.name }}</span>
            <span class="col-2 p-0 m-0 bag-name">{{ bag.capacity | volume }}</span>
            <span class="col-2 p-0 m-0 bag-name">{{ bag.price | currency | localizedCurrency }}</span>
            <div class="col-2 form-group count">
              <input
                formControlName="quantity{{ bag.id }}"
                type="number"
                class="shadow-none form-control input"
                min="0"
                max="999"
                [unmask]="false"
                [imask]="{ mask: servicesMask }"
                [(ngModel)]="bag.quantity"
                (ngModelChange)="onQuantityChange()"
              />
            </div>
            <span class="col-3 bag-name text-center"> {{ bag.quantity * bag.price | currency | localizedCurrency }}</span>
          </li>
        </ul>
      </div>
      <div class="middle">
        <div class="middle-container">
          <div class="showTotal">
            <div class="totalInfo">
              <p class="total-content" [class.d-none]="showTotal === 0">
                <span>{{ 'order-details.order-amount' | translate }}</span>
                <span>
                  <strong>{{ showTotal | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content" *ngIf="displayCert">
                <span>{{ 'order-details.certificate' | translate }} </span>
                <span>
                  <strong class="money-saved">-{{ showCertificateUsed | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content" *ngIf="pointsUsed">
                <span>{{ 'order-details.bonuses' | translate }}</span>
                <span>
                  <strong class="money-saved">-{{ pointsUsed | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content">
                <span>{{ 'order-details.amount-due' | translate }} </span>
                <span>
                  <strong>{{ finalSum | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <div *ngIf="displayMes" class="validMes">
                <small class="text-danger">{{ 'order-details.min-sum' | translate }}</small>
              </div>
            </div>
          </div>
          <h5>{{ 'order-details.question-certificate' | translate }}</h5>
          <div class="certificate-container">
            <div class="form-group col-12 col-sm-8">
              <label class="label m-0">{{ 'order-details.certificate-number' | translate }}</label>
              <input
                formControlName="certificate"
                type="text"
                class="shadow-none form-control input-border"
                placeholder="xxxx-xxxx"
                [unmask]="false"
                [imask]="{ mask: certificateMask }"
                [readonly]="addCert"
              />
            </div>
            <div class="form-group">
              <button
                *ngIf="!addCert"
                type="button"
                class="primary-global-button btn"
                [disabled]="
                  !certificate.valid ||
                  certificate.pristine ||
                  showTotal < 500 ||
                  finalSum === 0 ||
                  !certificate.value.length ||
                  certBtnActivate
                "
                (click)="certificateSubmit()"
              >
                {{ 'order-details.activate' | translate }}
              </button>
              <button
                *ngIf="addCert"
                [disabled]="additionalCertificates.length > 0"
                type="button"
                class="primary-global-button btn"
                (click)="certificateReset(true)"
              >
                {{ 'order-details.cancel' | translate }}
              </button>
            </div>
          </div>
          <div
            class="addCertificate"
            formArrayName="additionalCertificates"
            *ngFor="let certificate of additionalCertificates.controls; let i = index"
          >
            <input
              type="text"
              class="shadow-none form-control col-12 col-sm-8 my-1 input-border"
              type="text"
              placeholder="xxxx-xxxx"
              [unmask]="false"
              [imask]="{ mask: certificateMask }"
              [formControlName]="i"
              [readonly]="certStatuses[i]"
            />
            <div class="form-group">
              <button
                *ngIf="!certStatuses[i]"
                type="button"
                class="primary-global-button btn"
                [disabled]="additionalCertificates['controls'][i].invalid || additionalCertificates['controls'][i].pristine"
                (click)="addedCertificateSubmit(i)"
              >
                {{ 'order-details.activate' | translate }}
              </button>
              <button *ngIf="certStatuses[i]" type="button" class="primary-global-button btn" (click)="deleteCertificate(i)">
                {{ 'order-details.cancel' | translate }}
              </button>
            </div>
            <div class="validMes">
              <small class="text-danger" *ngIf="certificate.invalid && certificate.touched">
                {{ 'order-details.failed-certificate' | translate }}
              </small>
            </div>
          </div>
          <div class="messages-container">
            <small class="text-message" *ngIf="certSize">
              {{ 'order-details.activated' | translate: { certificateSum: certificateSum, certDate: certDate } }}
            </small>
            <small class="text-message" *ngIf="(certStatus === 'NEW' || certStatus === 'ACTIVE') && !certSize">
              {{ 'order-details.activated' | translate: { certificateSum: certificateSum, certDate: certDate } }}
            </small>
            <small class="text-danger" *ngIf="certificateError">
              {{ 'order-details.not-found-certificate' | translate }}
            </small>
            <small class="text-danger" *ngIf="certStatus === 'USED'">
              {{
                'order-details.already-used'
                  | translate
                    : {
                        certDate: certDate
                      }
              }}
            </small>
            <small class="text-danger" *ngIf="certStatus === 'EXPIRED'">
              {{
                'order-details.expired'
                  | translate
                    : {
                        certDate: certDate
                      }
              }}
            </small>
          </div>
          <button *ngIf="addCert && finalSum !== 0" class="addCertificateBtn" (click)="addCertificate()">
            {{ 'order-details.add-certificate' | translate }}
          </button>
          <div class="points">
            <h5>{{ 'order-details.bonus-need' | translate }}</h5>
            <p>{{ 'order-details.bonus-left' | translate }} {{ points | currency | localizedCurrency }}</p>
            <p>
              <a href="#!" class="bonus-how-to-link">{{ 'order-details.bonus-how-to-get' | translate }}</a>
            </p>
            <div *ngIf="points !== 0 && finalSum !== 0">
              <div class="form-check custom-control custom-radio">
                <input
                  formControlName="bonus"
                  id="customRadio1"
                  value="yes"
                  class="form-check-input custom-control-input input-border"
                  type="radio"
                  (click)="calculatePoints()"
                />
                <label class="form-check-label custom-control-label" for="customRadio1">{{ 'order-details.yes' | translate }}</label>
              </div>
              <div class="form-check custom-control custom-radio">
                <input
                  formControlName="bonus"
                  id="customRadio2"
                  value="no"
                  class="form-check-input custom-control-input input-border"
                  type="radio"
                />
                <label class="form-check-label custom-control-label" for="customRadio2">{{ 'order-details.no' | translate }}</label>
              </div>
            </div>
            <small class="text-message" [class.d-none]="pointsUsed === 0">
              <span>{{ 'order-details.used' | translate }} {{ pointsUsed | currency | localizedCurrency }}</span>
            </small>
          </div>
        </div>
      </div>
      <div class="bottom">
        <h3>{{ 'order-details.eco-shop' | translate }}</h3>
        <h5>{{ 'order-details.shop-order-question' | translate }}</h5>
        <div class="form-check custom-control custom-radio">
          <input formControlName="shop" id="customRadio3" value="yes" class="form-check-input custom-control-input" type="radio" />
          <label class="form-check-label custom-control-label" for="customRadio3">{{ 'order-details.yes' | translate }}</label>
        </div>
        <div class="form-check custom-control custom-radio">
          <input
            formControlName="shop"
            id="customRadio4"
            value="no"
            class="form-check-input custom-control-input"
            type="radio"
            (click)="clearOrderValues()"
          />
          <label class="form-check-label custom-control-label" for="customRadio4">{{ 'order-details.no' | translate }}</label>
        </div>
        <div class="form-group shop_submit">
          <div class="bottom-text">
            <p>{{ 'order-details.cant-found-order' | translate }}</p>
          </div>
          <div formArrayName="additionalOrders" *ngFor="let order of additionalOrders.controls; let i = index" class="form-group">
            <label class="label m-0">{{ 'order-details.enter-order-num' | translate }}</label>
            <input
              [formControlName]="i"
              class="shadow-none form-control border-input p-2 eco-store"
              type="text"
              placeholder="xxxxxxxxxx"
              [unmask]="false"
              [imask]="{ mask: ecoStoreMask }"
              [pattern]="additionalOrdersPattern"
              (click)="changeShopRadioBtn()"
              (ngModelChange)="ecoStoreValidation()"
            />
          </div>
          <button *ngIf="additionalOrders.controls.length < 5 && displayOrderBtn" class="addOrderBtn" (click)="addOrder()">
            {{ 'order-details.additional-orders' | translate }}
          </button>
          <small class="text-danger" *ngIf="!displayOrderBtn && additionalOrders.touched && shop.value !== 'no'">
            {{ 'order-details.order-error' | translate }}
          </small>
        </div>
      </div>
      <div class="bottom_comment">
        <div class="form-group comment">
          <h3>{{ 'order-details.coment' | translate }}</h3>
          <textarea
            formControlName="orderComment"
            class="shadow-none form-control textarea"
            rows="7"
            placeholder="{{ 'order-details.any-details' | translate }}"
            [pattern]="commentPattern"
          >
          </textarea>
        </div>
        <small class="text-danger" *ngIf="orderComment.invalid">
          {{ 'order-details.comment-error' | translate }}
        </small>
      </div>
    </form>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</div>

<div class="w-100 d-flex justify-content-end buttons">
  <button class="secondary-global-button btn cansel-button btn-main" (click)="cancelUBS()">{{ 'order-details.cancel' | translate }}</button>
  <button [disabled]="showTotal < 500 || orderComment.invalid" type="submit" class="primary-global-button btn btn-main" matStepperNext>
    {{ 'order-details.next' | translate }}
  </button>
</div>
