<div
  class="chat"
  #chat
  infiniteScroll
  [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]="300"
  [scrollWindow]="false"
  (scrolledUp)="onScroll()"
>
  <div *ngIf="isHaveMessages" class="chat-messages">
    <div class="messages-from-day" *ngFor="let messagesFromDay of chatsService.currentChatMessagesStream$ | async | messageFromDay">
      <div class="chat-days-separate-line">
        <span>{{ messagesFromDay[0].createDate | date: 'dd.MM.yyyy' }}</span>
      </div>
      <div class="message" *ngFor="let message of messagesFromDay" [class.own]="message.senderId === userService.userId">
        <img [src]="chatIcons.userLogo" alt="user logo" />
        <div class="msg-block">
          <span>{{ message.content }}</span>
        </div>
        <span class="msg-time">{{ message.createDate | date: 'HH:mm' }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="!isHaveMessages"> 
    <div class="emptyChatPic" > <img [src]="chatIcons.emptyChatBack" alt="" />
     <span class="emptyChatText"> {{ 'chat.empty-chat' | translate }} </span>
    </div>
  </div>
</div>
<form class="sender" (ngSubmit)="sendMessage()">
  <div class="sender-additional-buttons">
    <button type="button">
      <img [src]="chatIcons.paperClip" alt="clip" title="Add file" />
    </button>
    <button type="button" (click)="toggleEmojiPicker()">
      <img [src]="chatIcons.smile" alt="smile" title="Add emoji" />
    </button>
  </div>
  <emoji-mart
    *ngIf="showEmojiPicker"
    class="emoji-mart"
    [emojiSize]="20"
    [totalFrequentLines]="2"
    [darkMode]="false"
    [showPreview]="false"
    (emojiSelect)="addEmoji($event)"
    title="Pick your emoji…"
  ></emoji-mart>
  <input type="text" placeholder="Type something..." [formControl]="messageControl" />
  <button class="send-button" type="submit" [disabled]="!messageControl.value">
    <img [src]="chatIcons.send" alt="send" title="Send mail" />
  </button>
</form>
