@import 'src/app/chat/chat-styles-reset';

:host {
  @include flex(column, center, center);

  width: 100%;
  height: 100%;
}

.chat {
  width: 100%;
  flex: 1;
  overflow-y: scroll;

  .emptyChatText {
    color: var(--greyscale-07, #444E55);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    }
    .emptyChatPic {
      position: absolute;
      top: 50%;
      left: 66%;
      transform: translateX(-33%) translateY(-50%);
    }
}

.chat-days-separate-line {
  margin: 15px 0;
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    color: #878787;
    font-size: 16px;
  }

  &::after,
  &::before {
    content: '';
    width: 40%;
    height: 1px;
    border-radius: 1px;
    display: block;
    position: absolute;
    background: #bebebe;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.sender {
  @include flex(row, space-between, center);

  padding: 5px 10px;
  width: 100%;
  height: 68px;
  background: var(--quaternary-dark-grey);

  img {
    height: 20px;
  }

  button {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;

    @include flex(row, center, center);

    &:hover {
      background: var(--quaternary-grey);
    }
  }

  input {
    width: 100%;
    border: none;
    font-size: 15px;
    margin: 0 10px;
    background: var(--quaternary-dark-grey);
    color: var(--primary-white);

    &:focus {
      outline: 0;
    }
  }
}

.message {
  @include flex(row, flex-start, flex-end);

  column-gap: 10px;
  padding: 10px;
  width: 100%;

  img {
    height: 25px;
  }

  &.own {
    justify-content: flex-end;

    img {
      display: none;
    }
  }
}

.msg-block {
  @include flex(row, flex-start, center);

  max-width: 45%;
  padding: 8px;
  border-radius: 10px 10px 10px 0;
  position: relative;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 25%);
  background: var(--primary-green);

  span {
    font-size: 14px;
    font-family: var(--primary-font);
    color: #fff;
    overflow-wrap: break-word;
    width: 100%;
  }
}

.message.own .msg-block {
  justify-content: flex-end;
  border-radius: 10px 10px 0 10px;
  background: var(--quaternary-dark-grey);
}

.msg-time {
  font-size: 12px;
  text-overflow: clip;
}

.emoji-mart {
  position: absolute;
  bottom: 68px;
  right: 200px;
  box-sizing: border-box;
}

.sender-additional-buttons {
  @include flex(row, center, center);
}
