.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  max-width: 1170px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;

  .cards-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 14px;

    .user-card {
      display: flex;
      width: 50%;
    }
  }
}

.search_not-found-text {
  color: var(--secondary-dark-grey);
  font-family: var(--secondary-font);
  font-size: 1.3rem;
  margin: 0 auto 40px;
}

.noFriends-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .noFriends {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 48px;
  }
}

@media (max-width: 1219px) {
  .cards-list {
    flex-direction: column;
    max-width: 100%;

    .cards-box .user-card {
      justify-content: center;
      width: 100%;
    }
  }
}
