.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .container {
    justify-content: space-between;
  }
}
