.friend-recommended-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .cards-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 14px;
    column-gap: 32px;

    @media (max-width: 1200px) {
      gap: 32px;
    }

    @media (max-width: 1000px) {
      justify-content: center;
    }

    @media (max-width: 320px) {
      gap: 20px;
    }
  }

  .user-card {
    @media (max-width: 767px) {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.search_not-found-text {
  color: var(--secondary-dark-grey);
  font-family: var(--secondary-font);
  font-size: 1.3rem;
  margin: 0 auto 40px;
}

.noFriends-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .noFriends {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 48px;
  }
}

.img-absent img {
  max-width: 100%;
}
