<div class="container mb-3">
  <div class="d-flex">
    <h1 class="form__headline py-3">{{ "address-details.title" | translate }}</h1>
  </div>
  <form [formGroup]="addressDetailsForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="street">{{ "address-details.street" | translate }}</label>
        <input type="text" formControlName="street" class="form-control" id="street" />
      </div>
      <div class="form-group col-md-5 offset-md-1">
        <label for="address-comment">{{ "address-details.comment-label" | translate }}</label>
        <textarea
          formControlName="addressComment"
          class="form-control"
          id="address-comment"
          rows="3"
          placeholder="{{ 'address-details.comment-placeholder' | translate }}"
        ></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="building">{{ "address-details.building" | translate }}</label>
        <input formControlName="building" type="text" class="form-control" id="building" />
      </div>
      <div class="form-group col-md-2">
        <label for="corpus">{{ "address-details.corpus" | translate }}</label>
        <input formControlName="corpus" type="text" class="form-control" id="corpus" />
      </div>
      <div class="form-group col-md-2">
        <label for="entrance">{{ "address-details.entrance" | translate }}</label>
        <input formControlName="entrance" type="text" class="form-control" id="entrance" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="region">{{ "address-details.region" | translate }}</label>
        <select formControlName="region" id="region" class="form-control">
          <option *ngFor="let region of regions">{{ region }}</option>
        </select>
      </div>
    </div>
  </form>
  <hr />
</div>
