<div class="container mb-3">
  <div class="d-flex">
    <h1>Адреса вивезення відходів</h1>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="street">Вулиця</label>
      <input type="text" class="form-control" id="street" />
    </div>
    <div class="form-group col-md-5 offset-md-1">
      <label for="comment">Коментар до адреси від клієнта</label>
      <textarea
        class="form-control"
        id="comment"
        rows="3"
        placeholder="Будь-які деталі, які Ви хотіли б повідомити додатково щодо цього замовлення"
      ></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="building">Будинок</label>
      <input type="text" class="form-control" id="building" />
    </div>
    <div class="form-group col-md-2">
      <label for="corpus">Корпус</label>
      <input type="text" class="form-control" id="corpus" />
    </div>

    <div class="form-group col-md-2">
      <label for="entrance">Під'їзд</label>
      <input type="text" class="form-control" id="entrance" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="region">Район</label>
      <select id="region" class="form-control">
        <option selected>Дублянський</option>
      </select>
    </div>
  </div>
  <hr>
</div>
