<div class="w-100">
  <p class="title">{{ values.title | translate }}</p>
</div>
<app-dialog-tariff [row]="form" [newDate]="newDate" [name]="name" [edit]="true" [deactivatePopup]="true"></app-dialog-tariff>
<ng-template #form>
  <div class="form">
    <div class="form-block">
      <div class="ua-part">
        <label for="ua-part" class="label">{{ 'ubs-tariffs.courier' | translate }}</label>
        <p id="ua-part" class="text" [appLangValue]="{ ua: values.courierNameUa, en: values.courierNameEn }"></p>
      </div>
      <div class="en-part">
        <label for="en-part" class="label">{{ 'ubs-tariffs.courier-translate' | translate }}</label>
        <p id="en-part" class="text" [appLangValue]="{ ua: values.courierNameEn, en: values.courierNameUa }"></p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label for="stationName" class="label">{{ 'ubs-tariffs.station' | translate }}</label>
        <p id="stationName" *ngFor="let stationName of values.stationNames" class="text">{{ stationName }}</p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label for="regionNameUa" class="label">{{ 'ubs-tariffs.region' | translate }}</label>
        <p id="regionNameUa" class="text" [appLangValue]="{ ua: values.regionNameUa, en: values.regionNameEn }"></p>
      </div>
      <div class="en-part">
        <label for="regionName" class="label">{{ 'ubs-tariffs.region-translate' | translate }}</label>
        <p id="regionName" class="text" [appLangValue]="{ ua: values.regionNameEn, en: values.regionNameUa }"></p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label for="locationName" class="label">{{ 'ubs-tariffs.city' | translate }}</label>
        <div id="locationNames" *ngFor="let item of values.locationNames">
          <div class="itemList" [appLangValue]="{ ua: item.location, en: item.englishLocation }"></div>
        </div>
      </div>
      <div class="en-part">
        <label for="locationNames" class="label">{{ 'ubs-tariffs.city-translate' | translate }}</label>
        <div id="locationNames" *ngFor="let item of values.locationNames">
          <div class="itemList" [appLangValue]="{ ua: item.englishLocation, en: item.location }"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper" mat-dialog-actions>
    <button class="button secondary-global-button" mat-button (click)="onNoClick()">
      {{ 'ubs-tariffs-add-location-pop-up.cancel_button' | translate }}
    </button>
    <button class="button primary-global-button" (click)="actionClick()">
      {{ values.action | translate }}
    </button>
  </div>
</ng-template>
