<div class="w-100">
  <p class="title">{{ title | translate }}</p>
</div>
<app-dialog-tariff [row]="form" [newDate]="newDate" [name]="name" [edit]="true" [deactivatePopup]="true"></app-dialog-tariff>
<ng-template #form>
  <div class="form">
    <div class="form-block">
      <div class="ua-part">
        <label class="label">{{ 'ubs-tariffs.courier' | translate }}</label>
        <p class="text">{{ getLangValue(courierName, courierEnglishName) }}</p>
      </div>
      <div class="en-part">
        <label class="label">{{ 'ubs-tariffs.courier-translate' | translate }}</label>
        <p class="text">{{ getLangValue(courierEnglishName, courierName) }}</p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label class="label">{{ 'ubs-tariffs.station' | translate }}</label>
        <p *ngFor="let stationName of stationNames" class="text">{{ stationName }}</p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label class="label">{{ 'ubs-tariffs.region' | translate }}</label>
        <p class="text">{{ getLangValue(regionNameUk, regionEnglishName) }}</p>
      </div>
      <div class="en-part">
        <label class="label">{{ 'ubs-tariffs.region-translate' | translate }}</label>
        <p class="text">{{ getLangValue(regionEnglishName, regionNameUk) }}</p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label class="label">{{ 'ubs-tariffs.city' | translate }}</label>
        <div *ngFor="let item of locationNames">
          <div class="itemList">{{ getLangValue(item.ukrainianName, item.englishName) }}</div>
        </div>
      </div>
      <div class="en-part">
        <label class="label">{{ 'ubs-tariffs.city-translate' | translate }}</label>
        <div *ngFor="let item of locationNames">
          <div class="itemList">{{ getLangValue(item.englishName, item.ukrainianName) }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper" mat-dialog-actions>
    <button class="button secondary-global-button" mat-button (click)="onNoClick()">
      {{ 'ubs-tariffs-add-location-pop-up.cancel_button' | translate }}
    </button>
    <button class="button primary-global-button" (click)="actionClick()">
      {{ action | translate }}
    </button>
  </div>
</ng-template>
