.flash-message {
  text-align: center;
  left: 20%;
  right: 20%;
  top: 0;
}

.app-container {
  min-height: calc(100% - 340px);
  background-color: var(--pre-secondary-light-grey);
}

.stop-scroll {
  position: fixed;
}

.app-footer {
  width: 100%;
}

.skip-container {
  position: relative;
  padding-top: 52px;
  text-align: center;
}

.skip {
  position: absolute;
  left: -100%;
  width: 100px;
  color: var(--primary-green);
  border-radius: 3px;
  padding: 2px 2px;
}

.skip:focus {
  left: 0;
}
