<form [formGroup]="addAddressForm" class="row adress">
  <div class="w-100">
    <h2 *ngIf="!data.edit" class="personal-info-pop-up-title">{{ 'personal-info.pop-up-title' | translate }}</h2>
    <h2 *ngIf="data.edit" class="personal-info-pop-up-title">{{ 'personal-info.pop-up-title-edit' | translate }}</h2>
  </div>
  <div class="col-md-6 col-sm-6 form-group">
    <label>{{ 'personal-info.pop-up-region' | translate }}</label>
    <select [formControlName]="getLangValue('region', 'regionEn')" class="shadow-none form-control">
      <option *ngFor="let reg of bigRegions" selected>{{ reg.regionName }}</option>
    </select>
  </div>
  <div class="col-md-6 col-sm-6 form-group">
    <label>{{ 'personal-info.pop-up-city' | translate }}</label>
    <input
      id="cityInput"
      [formControlName]="getLangValue('city', 'cityEn')"
      class="shadow-none form-control"
      (keyup)="setPredictCities()"
      matInput
      [matAutocomplete]="autoCity"
    />
    <mat-autocomplete #autoCity="matAutocomplete">
      <mat-option
        class="autocomplete-dropdown"
        *ngFor="let cityName of cityPredictionList"
        [value]="cityName.description"
        (click)="onCitySelected(cityName)"
      >
        {{ cityName.description }}
      </mat-option>
    </mat-autocomplete>
    <div
      class="validation"
      *ngIf="
        addAddressForm.get(this.getLangValue('city', 'cityEn')).invalid && addAddressForm.get(this.getLangValue('city', 'cityEn')).touched
      "
    >
      <app-ubs-input-error [formElement]="getLangValue(city, cityEn)"></app-ubs-input-error>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 form-group">
    <label>{{ 'personal-info.pop-up-street' | translate }}</label>
    <input
      id="streetInput"
      [formControlName]="getLangValue('street', 'streetEn')"
      type="text"
      class="shadow-none form-control"
      placeholder="{{ 'personal-info.pop-up-enter-you-location' | translate }}"
      (keyup)="setPredictStreets()"
      matInput
      [matAutocomplete]="autoStreet"
    />
    <mat-autocomplete #autoStreet="matAutocomplete">
      <mat-option
        class="autocomplete-dropdown"
        *ngFor="let streetName of streetPredictionList"
        [value]="streetName.description"
        (click)="onStreetSelected(streetName)"
      >
        {{ streetName.description }}
      </mat-option>
    </mat-autocomplete>
    <div
      class="validation"
      *ngIf="
        addAddressForm.get(this.getLangValue('street', 'streetEn')).invalid &&
        addAddressForm.get(this.getLangValue('street', 'streetEn')).touched
      "
    >
      <app-ubs-input-error [formElement]="getLangValue(street, streetEn)"></app-ubs-input-error>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-between flex-wrap form-group house-details-wrapper">
    <div class="item col-sm-4">
      <label>{{ 'personal-info.pop-up-house' | translate }}</label>
      <input
        formControlName="houseNumber"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.pop-up-house' | translate }}"
        (change)="setPlaceId()"
      />
      <div class="validation" *ngIf="houseNumber.invalid && houseNumber.touched">
        <app-ubs-input-error [formElement]="houseNumber"></app-ubs-input-error>
      </div>
    </div>
    <div class="item col-sm-4">
      <label>{{ 'personal-info.pop-up-corps' | translate }}</label>
      <input
        formControlName="houseCorpus"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.pop-up-corps' | translate }}"
      />
      <div class="validation" *ngIf="houseCorpus.invalid && houseCorpus.touched">
        <app-ubs-input-error [formElement]="houseCorpus"></app-ubs-input-error>
      </div>
    </div>
    <div class="item col-sm-4">
      <label>{{ 'personal-info.pop-up-entrance' | translate }}</label>
      <input
        formControlName="entranceNumber"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.pop-up-entrance' | translate }}"
      />
      <div class="validation" *ngIf="entranceNumber.invalid && entranceNumber.touched">
        <app-ubs-input-error [formElement]="entranceNumber"></app-ubs-input-error>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 form-group">
    <label>{{ 'personal-info.pop-up-district' | translate }}</label>
    <select
      *ngIf="!isDistrict"
      [formControlName]="getLangValue('district', 'districtEn')"
      class="shadow-none form-control"
      (change)="onDistrictSelected($event)"
    >
      <option *ngFor="let region of regions" [ngValue]="region.name">{{ region.name }}</option>
    </select>
    <select
      *ngIf="isDistrict"
      [formControlName]="getLangValue('district', 'districtEn')"
      class="shadow-none form-control"
      (change)="onDistrictSelected($event)"
    >
      <option *ngFor="let region of regionsKyiv" [ngValue]="region.name">{{ region.name }}</option>
    </select>
    <div
      class="validation"
      *ngIf="
        addAddressForm.get(this.getLangValue('district', 'districtEn')).invalid &&
        addAddressForm.get(this.getLangValue('district', 'districtEn')).touched
      "
    >
      <app-ubs-input-error [formElement]="getLangValue(district, districtEn)"></app-ubs-input-error>
    </div>
  </div>
  <div class="form-group comment-section">
    <label>{{ 'personal-info.info-address-coment' | translate }}</label>
    <textarea
      class="form-control"
      formControlName="addressComment"
      placeholder="{{ 'personal-info.pop-up-comment-placeholder' | translate }}"
    ></textarea>
    <div class="validation" *ngIf="addressComment.invalid && addressComment.touched">
      <app-ubs-input-error [formElement]="addressComment"> </app-ubs-input-error>
    </div>
  </div>
</form>
<div class="buttons" mat-dialog-actions>
  <button *ngIf="data.edit" class="ubs-danger-global-button m-btn" (click)="deleteAddress()" [disabled]="isDisabled">
    <img *ngIf="!isDeleting" src="assets/img/icon/bin.svg" alt="delete-icon" class="delete-icon" />
    <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
    {{ 'personal-info.pop-up-delete' | translate }}
  </button>
  <button class="ubs-secondary-global-button m-btn" (click)="onNoClick()">
    {{ 'personal-info.pop-up-cancel' | translate }}
  </button>
  <button class="ubs-primary-global-button m-btn" (click)="addAdress()" [disabled]="!addAddressForm.valid || isDisabled">
    {{ (data.edit ? 'personal-info.pop-up-save-changes' : 'personal-info.pop-up-add-address') | translate }}
  </button>
</div>
