form {
  position: relative;
}

.house-details-wrapper {
  padding: 0;
}

.form-control {
  height: 2.25rem;
  font-size: 0.9rem;
  color: var(--ubs-quaternary-dark-grey);

  option {
    color: var(--ubs-quaternary-dark-grey);
  }
}

textarea:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input,
select {
  border: 1px solid var(--ubs-quintynary-light-grey);
}

.autocomplete-dropdown {
  color: var(--ubs-primary-grey);
  font-size: 0.9rem;
  height: 22px;
}

.personal-info-pop-up-title {
  margin: 0 0 20px 15px;
  font-family: var(--ubs-tertiary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
}

.city-notice {
  margin: 0 0 20px 15px;
  font-size: 14px;
  color: var(--ubs-primary-grey);
}

::placeholder {
  color: var(--ubs-primary-light-grey);
  opacity: 1;
  font-size: 0.9rem;
}

.form-group {
  label {
    font-family: var(--ubs-quaternary-font);
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--ubs-secondary-grey);
  }

  select.ng-invalid {
    color: var(--ubs-primary-light-grey);
  }
}

.comment-section {
  margin: 0 15px 20px 15px;
  width: 100%;

  textarea {
    display: block;
    width: 100%;
    height: 72px;
    padding: 12px 24px;
    resize: none;
    border: 1px solid var(--ubs-quintynary-light-grey);
    color: var(--ubs-primary-grey);
    font-size: 14px;
  }
}

.delete-btn {
  color: var(--ubs-quaternary-dark-grey);
  text-align: center;
  font-size: 16px;
  text-decoration-line: underline;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid var(--ubs-error-ligh-red);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  .secondary-global-button,
  .primary-global-button,
  .btn {
    width: 100px;
    font-size: 0.8rem;
  }

  .buttons {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
