<form [formGroup]="addAddressForm" class="row adress">
  <div class="w-100">
    <h2 *ngIf="!data.edit" class="personal-info-pop-up-title">{{ 'personal-info.pop-up-title' | translate }}</h2>
    <h2 *ngIf="data.edit" class="personal-info-pop-up-title">{{ 'personal-info.pop-up-title-edit' | translate }}</h2>
  </div>
  <div class="col-md-6 col-sm-6 form-group">
    <label>{{ 'personal-info.pop-up-region' | translate }}</label>
    <select *ngIf="currentLanguage === 'ua'" formControlName="region" class="shadow-none form-control">
      <option *ngFor="let reg of bigRegions" selected>{{ reg.regionName }}</option>
    </select>
    <select *ngIf="currentLanguage === 'en'" formControlName="regionEn" class="shadow-none form-control">
      <option *ngFor="let reg of bigRegions" selected>{{ reg.regionName }}</option>
    </select>
  </div>
  <div class="col-md-6 col-sm-6 form-group">
    <label>{{ 'personal-info.pop-up-city' | translate }}</label>
    <select
      formControlName="{{ currentLanguage === 'ua' ? 'city' : 'cityEn' }}"
      class="shadow-none form-control"
      (change)="selectCity($event)"
    >
      <option *ngFor="let city of cities" [ngValue]="city.cityName">{{ city.cityName }}</option>
    </select>
    <div class="validation" *ngIf="city.invalid && addAddressForm.get('city').touched">
      <app-ubs-input-error [formElement]="city" [controlName]="'city'"></app-ubs-input-error>
    </div>
    <div class="validation" *ngIf="cityEn.invalid && addAddressForm.get('cityEn').touched">
      <app-ubs-input-error [formElement]="cityEn" [controlName]="'cityEn'"></app-ubs-input-error>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 form-group">
    <label>{{ 'personal-info.pop-up-street' | translate }}</label>
    <input
      *ngIf="currentLanguage === 'ua'"
      id="auto"
      formControlName="street"
      type="text"
      class="shadow-none form-control"
      placeholder="{{ 'personal-info.pop-up-enter-you-location' | translate }}"
      matInput
      [matAutocomplete]="autoStreet"
    />
    <input
      *ngIf="currentLanguage === 'en'"
      id="auto"
      formControlName="streetEn"
      type="text"
      class="shadow-none form-control"
      placeholder="{{ 'personal-info.pop-up-enter-you-location' | translate }}"
      matInput
      [matAutocomplete]="autoStreet"
    />
    <mat-autocomplete #autoStreet="matAutocomplete">
      <mat-option
        class="autocomplete-dropdown"
        *ngFor="let streetName of streetPredictionList"
        [value]="streetName.description"
        (click)="onStreetSelected(streetName)"
      >
        {{ streetName.description }}
      </mat-option>
    </mat-autocomplete>
    <div class="validation" *ngIf="street.invalid && addAddressForm.get('street').touched">
      <app-ubs-input-error [formElement]="street" [streetFieldValue]="street.value" [controlName]="'street'"> </app-ubs-input-error>
    </div>
    <div class="validation" *ngIf="streetEn.invalid && addAddressForm.get('streetEn').touched">
      <app-ubs-input-error [formElement]="streetEn" [streetFieldValue]="streetEn.value" [controlName]="'streetEn'"> </app-ubs-input-error>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-between flex-wrap form-group house-details-wrapper">
    <div class="item col-sm-4">
      <label>{{ 'personal-info.pop-up-house' | translate }}</label>
      <input
        formControlName="houseNumber"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.pop-up-house' | translate }}"
      />
      <div class="validation" *ngIf="houseNumber.invalid && houseNumber.touched">
        <app-ubs-input-error [formElement]="houseNumber" [controlName]="'houseNumber'"></app-ubs-input-error>
      </div>
    </div>
    <div class="item col-sm-4">
      <label>{{ 'personal-info.pop-up-corps' | translate }}</label>
      <input
        formControlName="houseCorpus"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.pop-up-corps' | translate }}"
      />
      <div class="validation" *ngIf="houseCorpus.invalid && houseCorpus.touched">
        <app-ubs-input-error [formElement]="houseCorpus" [controlName]="'houseCorpus'"></app-ubs-input-error>
      </div>
    </div>
    <div class="item col-sm-4">
      <label>{{ 'personal-info.pop-up-entrance' | translate }}</label>
      <input
        formControlName="entranceNumber"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.pop-up-entrance' | translate }}"
      />
      <div class="validation" *ngIf="entranceNumber.invalid && entranceNumber.touched">
        <app-ubs-input-error [formElement]="entranceNumber" [controlName]="'entranceNumber'"></app-ubs-input-error>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 form-group">
    <label>{{ 'personal-info.pop-up-district' | translate }}</label>
    <select
      *ngIf="!isDistrict"
      formControlName="{{ currentLanguage === 'ua' ? 'district' : 'districtEn' }}"
      class="shadow-none form-control"
      (change)="setDistrict($event)"
    >
      <option *ngFor="let region of regions" [ngValue]="region.name">{{ region.name }}</option>
    </select>
    <select
      *ngIf="isDistrict"
      formControlName="{{ currentLanguage === 'ua' ? 'district' : 'districtEn' }}"
      class="shadow-none form-control"
      (change)="setDistrict($event)"
    >
      <option *ngFor="let region of regionsKyiv" [ngValue]="region.name">{{ region.name }}</option>
    </select>
    <div class="validation" *ngIf="district.invalid && addAddressForm.get('district').touched">
      <app-ubs-input-error [formElement]="district" [controlName]="'district'"></app-ubs-input-error>
    </div>
    <div class="validation" *ngIf="districtEn.invalid && addAddressForm.get('districtEn').touched">
      <app-ubs-input-error [formElement]="districtEn" [controlName]="'districtEn'"></app-ubs-input-error>
    </div>
  </div>
  <div class="form-group comment-section">
    <label>{{ 'personal-info.info-address-coment' | translate }}</label>
    <textarea
      class="form-control"
      formControlName="addressComment"
      placeholder="{{ 'personal-info.pop-up-comment-placeholder' | translate }}"
    ></textarea>
    <div class="validation" *ngIf="addressComment.invalid && addressComment.touched">
      <app-ubs-input-error [formElement]="addressComment" [controlName]="'addressComment'"> </app-ubs-input-error>
    </div>
  </div>
</form>
<div class="d-flex justify-content-end buttons" mat-dialog-actions>
  <button *ngIf="data.edit" class="delete-employee" (click)="deleteAddress()" [disabled]="isDisabled">
    <img *ngIf="!isDeleting" src="assets/img/icon/bin.svg" alt="delete-icon" class="delete-icon" />
    <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
    {{ 'personal-info.pop-up-delete' | translate }}
  </button>
  <button class="secondary-global-button btn m-0 mr-2" mat-button (click)="onNoClick()">
    {{ 'personal-info.pop-up-cancel' | translate }}
  </button>
  <button class="primary-global-button btn m-0" (click)="addAdress()" [disabled]="!addAddressForm.valid || isDisabled">
    {{ (data.edit ? 'personal-info.pop-up-save-changes' : 'personal-info.pop-up-add-address') | translate }}
  </button>
</div>
