<div class="bonuses-container">
  <div class="no-bonuses-wrapper" *ngIf="!totalBonuses && !isLoading">
    <span class="no-bonuses-text">Вам ще не нараховано бонусів.</span>
    <a href="#" class="more-about-bonuses-link">Дізнатися за що нараховуються бонуси</a>
  </div>

  <div class="bonuses-exist-wrapper" *ngIf="totalBonuses && !isLoading">
    <div class="total-bonuses-number">
      <p class="total-bonuses-number__header">Бонуси</p>
      <p class="total-bonuses-number__amount">{{ totalBonuses }}</p>
    </div>

    <a href="" class="more-about-bonuses-link link-center">Про систему бонусів</a>

    <div class="bonuses-table-wrapper">
      <table mat-table [dataSource]="dataSource" class="table" matSort>
        <ng-container matColumnDef="dateOfEnrollment">
          <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header>Дата зарахування</th>
          <td mat-cell *matCellDef="let element">{{ element.dateOfEnrollment | date: 'd.MM.yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Кількість</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="reasone">
          <th mat-header-cell *matHeaderCellDef>Причина</th>
          <td mat-cell *matCellDef="let element">Замовлення №{{ element.numberOfOrder }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
</div>
