$first-font-color: #494a49;
$secondary-font-color: #13aa57;
$hr-color: #e6e6e6;
$main-font: 'Open Sans', sans-serif;
$header-heigth: 54px;

.active-link {
  color: $secondary-font-color !important;

  &:focus {
    color: $secondary-font-color;
  }
}

.main {
  width: 100%;
  box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
  position: fixed;
  top: 0;
  background: white;
  z-index: 5;

  .break-shadow {
    box-shadow: none;
  }
}

.header_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 94px auto;
  column-gap: 55px;
}

.header_logo {
  margin: auto;
  max-height: 36px;

  img {
    width: 100%;
  }
}

.dropdown {
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 41px;
  width: 150px;
  display: flex;
  flex-direction: column;
  right: -15px;
  align-items: flex-start;

  li {
    position: relative;
    color: black;

    a {
      display: block;
      padding: 10px;
      width: 100%;
    }
  }
}

.header_navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-heigth;
  font-family: "Open Sans", sans-serif;
}

.header_sign-up-link {
  font-size: 12px;

  a {
    color: #056b33;

    &:hover {
      text-decoration-line: none;
    }
  }

  .create-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary-font-color;
    color: $secondary-font-color;
    height: 32px;

    span {
      padding: 0 24px;
      font-size: 12px;
      line-height: 12px;
      font-weight: 600;
    }
  }
}

.header_navigation-menu-right ul {
  .language-switcher {
    width: 33px;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-color: transparent;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    option {
      background: white;
    }
  }

  .header_sign-in-link {
    font-size: 12px;
    font-weight: 600;

    a {
      color: #056b33;
      display: block;
      min-width: 40px;
    }
  }
}

.header_navigation-menu-left {
  display: none;
}

.reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-out;
  transition-delay: 0.1s;
}

.header_navigation-menu-right {
  width: 100%;
  height: 80%;
  margin: auto 0;

  .search-icon {
    img {
      height: 16px;
      cursor: pointer;
    }
  }

  .header_lang-switcher-wrp {
    cursor: pointer;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    
    .arrow {
      margin-top: 5px;
      width: 8px;
    }

    li {
      width: 30px;
      padding: 0;
    }
  }

  .add-shadow {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 132px;
    margin-top: 88px;
    width: 60px;
    z-index: 1;

    li {
      flex-basis: 33%;
    }
  }
}

.header_navigation-menu-right-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  
  li {
    height: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
  }

  .header_sign-in-link,
  .header_sign-up-link {
    display: none;
  }
}

.header_burger-btn {
  padding-right: 0 !important;

  .menu-icon-wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    .menu-icon {
      position: relative;
      width: 24px;
      height: 2px;
      border-radius: 14px;
      background-color: #494a49;

      &::before {
        position: absolute;
        left: 0;
        top: -6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: #494a49;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }

      &::after {
        position: absolute;
        left: 0;
        top: 6px;
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 14px;
        background-color: #494a49;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      }
    }

    .menu-icon-active {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
    }
  }

  .modal-open {
    overflow: hidden !important;
    position: relative;
  }
}

.header_navigation-menu-left {
  width: 100%;
  max-width: 430px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      list-style-type: none;
      display: inline-block;

      a {
        font-size: 14px;
        line-height: 16px;
        color: $first-font-color;
        text-decoration: none;
      }
    }

    .mobile-vis {
      display: none;
      font-weight: 600;
    }
  }
}

// HEADER POP UP 
.header_navigation-menu-left-col {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 53px;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  box-shadow: 0 4px 5px -2px rgba(73, 74, 73, 0.2);
  overflow: auto;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 300px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 52px;

      a {
        font-size: 20px;
        color: $first-font-color;
      }
    }

    .mobile-vis {
      margin: 0;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      height: 52px;
    }

    .name {
      font-weight: 600;
      font-size: 18px;
    }
  }
}

#header_user-wrp {
  margin: 0;
  padding: 0;
  height: 176px;
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;

  li {
    height: 44px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0 12px 0;
    color: $first-font-color;
    flex-basis: 25%;

    &:first-child {
      font-size: 12px;
      font-weight: 600;
    }

    &.drop-down-item {
      display: flex;
      align-items: center;

      a {
        color: $first-font-color;
        font-size: 14px;
        line-height: 16px;
        font-family: $main-font;
        font-weight: 400;
        text-decoration: none;
      }
    }

    &.text-hidde {
      display: none;
    }
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0;
  }  

  .header_container {
    grid-template-columns: 136px auto;
  }

  .header_navigation-menu-right {
    .header_sign-in-link,
    .header_sign-up-link {
      display: flex;
    }
  }
}

@media (min-width: 992px) {
  .header_navigation-menu-left {
    display: block;
  }

  .header_navigation-menu-right {
    .header_burger-btn {
      display: none !important;
    }
  }
}