<div [ngClass]="toggleBurgerMenu ? 'break-shadow main' : 'main'">
  <div class="main-container">
    <div class="header" >
      <div class="logo">
        <a [routerLink]="['/welcome']"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }"
           pageScroll>
          <picture>
          <source media="(max-width: 320px)"
                  srcset="assets/img/logo_S.png">
             <img src="assets/img/logo_M.png"
                  alt="logo">
        </picture>
        </a>
      </div>
      <div class="navigation-menu">
                  <div [ngClass]="toggleBurgerMenu ? 'navigation-menu-left-col' : 'navigation-menu-left'">
                      <ul>
                        <li>
                          <a [routerLink]="['/news']"
                             routerLinkActive="active-link"
                             routerLinkActiveOptions="{exact:true}"
                             pageScroll
                             href="#events"
                             [pageScrollDuration]="500">
                            {{ 'user.lower-nav-bar.eco-events' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/tips']"
                             routerLinkActive="active-link"
                             routerLinkActiveOptions="{exact:true}"
                             pageScroll
                             href="#tips"
                             [pageScrollDuration]="500">
                            {{ 'user.lower-nav-bar.tips' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/map']"
                             routerLinkActive="active-link"
                             routerLinkActiveOptions="{exact:true}"
                             pageScroll
                             href="#top-user-bar"
                             routerLinkActive="active-link"
                             routerLinkActiveOptions="{exact:true}">
                            {{ 'user.lower-nav-bar.map' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/about']"
                             routerLinkActive="active-link"
                             routerLinkActiveOptions="{exact:true}">
                            {{ 'user.lower-nav-bar.about-us' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/profile', getUserId()]"
                             routerLinkActive="active-link"
                             routerLinkActiveOptions="{exact:true}">
                            {{ 'user.lower-nav-bar.my-habits' | translate }}
                          </a>
                        </li>
                        <li></li>
                        <div *ngIf="!isLoggedIn; then userLoggedInSmall else userNotLoggerInSmall"></div>
                        <ng-template #userLoggedInSmall>
                        <li class="mobile-vis">
                            <a class="sign-in-link tertiary-global-button"
                               (click)="openSingInWindow()">
                              {{ "top-bar.sign-in" | translate }}
                            </a>
                        </li>
                        </ng-template>
                        <ng-template #userNotLoggerInSmall>
                          <li class="mobile-vis name tertiary-global-button">{{ name }}</li>
                          <li class="mobile-vis">
                            <a (click)="openDialog()">
                            {{ "nav-bar.profile" | translate }}
                             </a>
                          </li>
                          <li class="mobile-vis">
                            <a (click)="openSettingDialog()">
                            {{ "nav-bar.user-settings" | translate }}
                             </a>
                          </li>
                          <li class="mobile-vis">
                              <a (click)="signOut()">
                            {{ "nav-bar.sign-out" | translate }}
                             </a>
                          </li>
                        </ng-template>
                        <li class="mobile-vis"
                            *ngIf="!isLoggedIn"
                            (click)="openSignUpWindow()">
                          <div class="create-button secondary-global-button">
                            <span>{{ "top-bar.sign-up" | translate }}</span>
                          </div>
                        </li>
                      </ul>
                  </div>
        <div class="navigation-menu-right">
              <ul>
                 <li *ngIf="!isAllSearchOpen"
                     class="search"
                     [class.destroy]="toggleBurgerMenu">
                 <a (click)="toggleSearchPage()"
                    (keyup.enter)="toggleSearchPage()"
                    tabindex="0">
                   <img src="assets/img/icon/search.png"
                        alt="search">
                 </a>
                 </li>
              <li [class.destroy]="toggleBurgerMenu">
                <div class="switcher-wrapper" 
                    (click)="langDropdownVisible = !langDropdownVisible"
                    (keyup.enter)="langDropdownVisible = !langDropdownVisible"
                    tabindex="0">
                  <img class="arrow"
                      [src]="selectLanguageArrow"
                      [ngClass]="langDropdownVisible ? 'arrow reverse zIndex' : 'arrow'"
                      alt="v">
                  <ul [class.add-shadow]="langDropdownVisible"
                      appCloseDropdown
                      (clickOutSide)="autoCloseLangDropDown($event)">
                    <ng-container
                      *ngFor="let lang of arrayLang;
                      index as index;">
                      <li *ngIf="index < 1">
                        {{lang.lang}}
                      </li>
                      <li *ngIf="index > 0 && langDropdownVisible"
                          (click)="changeCurrentLanguage(lang.lang, index)">
                        {{lang.lang}}
                      </li>
                    </ng-container>
                  </ul>
              </div>
              </li>
        <li class="sign-in-link tertiary-global-button last-nav-item"
            [class.destroy]="toggleBurgerMenu">
          <div *ngIf="!isLoggedIn; then userLoggedIn else userNotLoggedIn"></div>
          <ng-template #userLoggedIn>
            <a (click)="openSingInWindow()"
                (keyup.enter)="openSingInWindow()"
                tabindex="0">
              {{ "top-bar.sign-in" | translate }}
            </a>
          </ng-template>
          <ng-template #userNotLoggedIn>
            <div id="user-avatar-wrapper">
             <ul
               appCloseDropdown
               (clickOutSide)="autoCloseUserDropDown($event)"
               [class.add-shadow]="dropdownVisible">
               <li class="tertiary-global-button">
                 <a
                    tabindex="0"
                    (click)="toggleDropdown()"
                    (keyup.enter)="toggleDropdown()"
                    >{{ name }}
                 <img class="arrow"
                      [src]="dropDownArrow"
                      [ngClass]="dropdownVisible ? 'arrow reverse' : 'arrow'"
                      alt="v">
                </a>
               </li>
               <li [class.text-hidde]="!dropdownVisible">
                 <a (click)="openDialog()">
                   {{ "nav-bar.profile" | translate }}
                 </a>
               </li>
               <li [class.text-hidde]="!dropdownVisible">
                 <a (click)="openSettingDialog()">
                   {{ "nav-bar.user-settings" | translate }}
                 </a>
               </li>
               <li [class.text-hidde]="!dropdownVisible">
                 <a (click)="signOut()">
                   {{ "nav-bar.sign-out" | translate }}
                 </a>
               </li>
             </ul>
            </div>
          </ng-template>
        </li>
          <li class="sign-up-link"
              [class.destroy]="toggleBurgerMenu"
              *ngIf="!isLoggedIn"
              (click)="openSignUpWindow()"
              (keyup.enter)="openSignUpWindow()">
            <div class="create-button secondary-global-button" 
                 tabindex="0">
            <span>{{ "top-bar.sign-up" | translate }}</span>
          </div>
          </li>
    <li class="burger-b">
       <div class="menu-icon-wrapper"
            (click)="onToggleBurgerMenu()">
       <div  [ngClass]="toggleBurgerMenu ? 'menu-icon menu-icon-active' : 'menu-icon'"></div>
       </div>
      </li>
    </ul>
        </div>
      </div>
    </div>
  </div>
</div>
