<div class="w-100">
  <p class="title">{{ 'ubs-tariffs-add-location-pop-up.deactivate-confirm' | translate }}</p>
</div>
<app-dialog-tariff [row]="form" [newDate]="newDate" [name]="adminName" [edit]="true"></app-dialog-tariff>
<ng-template #form>
  <div class="form">
    <div class="form-block">
      <div [ngClass]="{ 'ua-part': true, 'show-block': !courierName }">
        <label class="label">{{ 'ubs-tariffs.courier' | translate }}</label>
        <p class="text">{{ courierName }}</p>
      </div>
      <div [ngClass]="{ 'ua-part': true, 'show-block': !stationNames.length }">
        <label class="label">{{ 'ubs-tariffs.station' | translate }}</label>
        <p *ngFor="let stationName of stationNames" class="text">{{ stationName }}</p>
      </div>
      <div [ngClass]="{ 'ua-part': true, 'show-block': !regionNames.length }">
        <label class="label">{{ 'ubs-tariffs.region' | translate }}</label>
        <p *ngFor="let regionName of regionNames" class="text">{{ regionName }}</p>
      </div>
      <div [ngClass]="{ 'ua-part': true, 'show-block': !locationNames.length }">
        <label class="label">{{ 'ubs-tariffs.city' | translate }}</label>
        <p *ngFor="let locationName of locationNames" class="text">{{ locationName }}</p>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper" mat-dialog-actions>
    <button class="button secondary-global-button" mat-button (click)="onCancelClick()">
      {{ 'ubs-tariffs-add-location-pop-up.cancel_button' | translate }}
    </button>
    <button class="button primary-global-button" (click)="actionClick()">
      {{ 'ubs-tariffs-add-location-pop-up.deactivate' | translate }}
    </button>
  </div>
</ng-template>
