<div class="w-100">
  <p class="title">{{ 'ubs-tariffs-add-location-pop-up.deactivate-confirm' | translate }}</p>
</div>
<app-dialog-tariff [row]="form" [newDate]="newDate" [name]="adminName" [edit]="true"></app-dialog-tariff>
<ng-template #form>
  <div class="form">
    <div class="form-block">
      <div [ngClass]="{ 'ua-part': true, 'show-block': !courierName }">
        <label class="label">{{ 'ubs-tariffs.courier' | translate }}</label>
        <p class="text">{{ getLangValue(courierName, courierEnglishName) }}</p>
      </div>
      <div class="en-part">
        <label class="label">{{ getLangValue(courierLabelEn, courierLabelUa) }}</label>
        <p class="text">{{ getLangValue(courierEnglishName, courierName) }}</p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label class="label">{{ 'ubs-tariffs.station' | translate }}</label>
        <p *ngFor="let stationName of stationNames" class="text">{{ stationName }}</p>
      </div>
      <div [ngClass]="{ 'ua-part': true, 'show-block': !regionNames.length }">
        <label class="label">{{ 'ubs-tariffs.region' | translate }}</label>
        <p class="text">{{ getLangValue(regionName, regionEnglishName) }}</p>
      </div>
      <div class="en-part">
        <label class="label">{{ getLangValue(regionLabelEn, regionLabelUa) }}</label>
        <p class="text">{{ getLangValue(regionEnglishName, regionName) }}</p>
      </div>
    </div>
    <div class="form-block">
      <div class="ua-part">
        <label class="label">{{ 'ubs-tariffs.city' | translate }}</label>
        <p class="text">{{ getLangArrayValue(locationNames, locationEnglishNames) }}</p>
      </div>
      <div class="en-part">
        <label class="label">{{ getLangValue(cityLabelEn, cityLabelUa) }}</label>
        <p class="text">{{ getLangArrayValue(locationEnglishNames, locationNames) }}</p>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper" mat-dialog-actions>
    <button class="button secondary-global-button" mat-button (click)="onCancelClick()">
      {{ 'ubs-tariffs-add-location-pop-up.cancel_button' | translate }}
    </button>
    <button class="button primary-global-button" (click)="actionClick()">
      {{ 'ubs-tariffs-add-location-pop-up.deactivate' | translate }}
    </button>
  </div>
</ng-template>
