<div class="list-gallery" role="link">
  <img class="list-image-content" [src]="checkNewsImage()" alt="user added image" />
  <div class="list-gallery-content">
    <div class="filter-tag">
      <div class="ul-eco-buttons" *ngFor="let tag of ecoNewsModel.tags">
        {{ 'homepage.eco-news.tags.' + tag | lowercase | translate }}
      </div>
    </div>
    <div class="added-data">
      <div class="title-list word-wrap">
        <h3>
          {{ ecoNewsModel.title }}
        </h3>
      </div>
      <div class="list-text word-wrap">
        <p>
          {{ ecoNewsModel.text }}
        </p>
      </div>
    </div>
    <div class="user-data-added-news">
      <p class="user-data-text-date">
        <img class="icon" [src]="profileIcons.calendarIcon" alt="calendar icon" />
        {{ ecoNewsModel.creationDate | date: undefined:undefined:translate.defaultLang }}
      </p>
      <p class="user-data-text-date user">
        <img class="icon" [src]="profileIcons.userIcon" alt="user icon" />
        {{ ecoNewsModel.author.name }}
      </p>
      <div class="user-data-like">
        <mat-icon>chat_bubble_outline</mat-icon>
        <span class="numerosity">{{ ecoNewsModel.countComments }}</span>
      </div>
      <div class="user-data-like">
        <img [src]="likeImg" alt="like" class="icon" />
        <span class="numerosity">{{ ecoNewsModel.likes }}</span>
      </div>
    </div>
  </div>
</div>
