<div class="dropdown_time">
  <div class="set_time_container">
    <h3>Дні роботи:</h3>
    <div class="checkbox-wrapper">
      <mat-checkbox *ngFor="let day of selectTheWorkDay; let i = index" (change)="setTime(i)">
        {{ day.dayOfWeek }}
        <div class="set_time_select">
          <div class="select_from_wr">
            <span> Години роботи із: </span>
            <select class="select" id="timeFrom" (change)="onTimeFromChange(i)" [(ngModel)]="day.timeFrom">
              <option value="" selected hidden></option>
              <option *ngFor="let timeFrom of day.fromSelected" [value]="timeFrom">
                {{ timeFrom }}
              </option>
            </select>
          </div>
          <div class="select_to_wr">
            <span>Години роботи до:</span>
            <select class="select" id="timeTo" (change)="onTimeToChange(i)" [(ngModel)]="day.timeTo">
              <option value="" selected hidden></option>
              <option *ngFor="let timeTo of day.toSelected; let i = index" [id]="timeTo" [value]="timeTo">
                {{ timeTo }}
              </option>
            </select>
          </div>
        </div>
      </mat-checkbox>
      <div class="edit_time_btns">
        <button (click)="cancel()" class="cancel">Скасувати</button>
        <button (click)="$event.preventDefault(); save()" class="save">OK</button>
      </div>
    </div>
  </div>
</div>
