.dropdown_time {
  .set_time_container {
    background-color: var(--ubs-grey-white);
    border-radius: 10px;
    font-size: 16px;

    h3 {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }

    select {
      width: 100px;
      margin-left: 10px;
      text-align: center;
      background-color: white;
      border-radius: 5px;
      height: 35px;
    }
  }

  .set_time_select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .select_from_wr {
      margin-right: 21px;
    }
  }
}
mat-checkbox {
  display: block;
}
