<form [formGroup]="passwordFormGroup">
  <label for="password">{{ 'user.auth.sign-in.password' | translate }}</label>
  <div
    class="password-input-btn-show-hide"
    [ngClass]="
      (passwordField.invalid && passwordField.touched) || backEndError || passwordErrorMessageBackEnd
        ? 'alert-password-validation'
        : 'successful-password-validation'
    "
  >
    <input
      id="password"
      #input
      type="password"
      required
      formControlName="password"
      placeholder="{{ 'user.auth.sign-in.password' | translate }}"
      name="form-control password-signin"
      (input)="configDefaultErrorMessage()"
      aria-required="true"
      aria-describedby="pass-err-msg"
    />
    <span class="show-hide-btn" role="button" aria-label="show password button">
      <img
        [src]="hideShowPasswordImage.hidePassword"
        #src
        class="image-show-hide-password"
        alt="show-hide-password"
        (click)="togglePassword(input, src)"
        (keydown.enter)="togglePassword(input, src)"
      />
    </span>
  </div>
  <div class="validation-password-error" id="pass-err-msg" *ngIf="passwordField.invalid && passwordField.touched">
    <app-error [formElement]="passwordField" [passwordFieldValue]="passwordFieldValue" [controlName]="'password'" tabindex="0"></app-error>
  </div>
  <div class="validation-password-error" *ngIf="passwordErrorMessageBackEnd">
    {{ passwordErrorMessageBackEnd }}
  </div>
  <div class="alert-general-error" *ngIf="backEndError">
    {{ 'user.auth.sign-in.bad-email-or-password' | translate }}
  </div>
</form>
