$generalFont : opensans, sans-serif;
$mainColor: #13aa57;
$secondColor: #056b33;
$unActiveColor: #839c94;

.button {
  padding: 7px 14px;
  color: #fff;
  background-color: $mainColor;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  outline: none;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: $secondColor;
  }
}

.main {
  display: flex;
  margin: 0 10%;
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);

  caption {
    display: none;
  }

  &.sub-1 {
    width: 90vw;
    height: 55vh;
    flex-grow: 8;
  }

  .sub-1 {
    border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;

    .control-pannel {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .form-control {
        padding: 4px 8px;
        border-radius: 5px 0 0 5px;
        line-height: 1;
      }
    }

    .filter-btn {
      @extend .button;

      margin-right: 5px;
      border-radius: 5px;
      white-space: nowrap;
    }

    .btn-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      .show-all-btn {
        @extend .button;

        white-space: wrap;
        margin-top: 5px;
        padding: 6px 12px;
      }

      .clear-btn {
        @extend .button;

        white-space: wrap;
        margin-top: 5px;
        padding: 6px 12px;
      }
    }
  }

  &.sub-2 {
    flex-grow: 4;
  }

  .sub-2 {
    width: 65vw;
    height: 55vh;
  }

  .show-hours {
    margin-left: 35px;
  }

  .clock-icon {
    margin-right: 5px;
  }

  .table {
    margin-top: 10px;

    .table-head-row {
      background-color: $mainColor;

      .table-header {
        color: #fff;
      }
    }

    .table-row {
      transition: 0.3s all ease-in-out;

      &:hover {
        color: #fff;
        background-color: $secondColor;
        cursor: pointer;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    font-family: $generalFont;

    .info-place-name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .info-place-name-header {
        margin: 0;
      }

      .info-place-name-icon {
        background-color: transparent;
        color: $mainColor;
        border-width: inherit;
      }
    }

    .discount-list {
      margin: 10px 0 0;
      padding: 0;

      .discount-list-item {
        list-style: none;
        margin-bottom: 5px;
      }
    }

    .rating {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;

      .star-rating {
        color: $mainColor;
        font-size: 24px;
      }

      .rate-rating {
        margin: 0;
      }
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;

    .comments-number {
      margin: 0 0 5px;
    }

    .comments-add-btn {
      @extend .button;
    }
  }

  .adress {
    margin-bottom: 10px;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    .clock-icon {
      width: 18px;
      height: 18px;
    }
  }

  .direction-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;

    .navigation-btn {
      @extend .button;
    }

    .navigation-mode {
      @extend .button;
    }
  }

  .open-hours {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .open-hours-day {
      text-align: center;
      width: 40px;
    }

    .open-hours-time {
      text-align: center;
      width: 90px;
    }

    .open-hours-break {
      text-align: center;
      width: 120px;
    }

    .open-hours-bold {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main {
    .sub-1 {
      .control-pannel {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;

        .form-control {
          font-size: 14px;
          line-height: 1;
          padding: 2px 4px;
        }
      }

      .filter-btn {
        font-size: 14px;
        margin-top: 15px;
        width: 100%;
      }

      .btn-container {
        .show-all-btn {
          padding: 4px 8px;
        }

        .clear-btn {
          padding: 4px 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin: 0 3%;

    .sub-2 {
      width: 75vw;
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    margin: 0 1.95%;

    .table {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 576px) {
  .main {
    margin: 0 2.4%;

    .sub-1 {
      .btn-container {
        .show-all-btn {
          font-size: 14px;
          padding: 2px 4px;
        }

        .clear-btn {
          font-size: 14px;
          padding: 2px 4px;
        }
      }
    }

    .sub-2 {
      width: 70vw;
    }
  }
}

@media screen and (max-width: 375px) {
  .main {
    .sub-2 {
      width: 60vw;
    }
  }
}
