<div class="main">
  <div class="sub-1">
    <div>
      <div class="control-pannel">
        <button class="filter-btn" (click)="toggleFilter()">{{'user.map.filter-by' | translate}}</button>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="{{'user.map.searching-for-a-place' | translate}}">
      </div>
      <app-filter *ngIf="isFilter"></app-filter>
      <div *ngIf="!isFilter">
        <table class="table table-striped">
          <thead>
            <tr class="table-head-row">
              <th class="table-header">{{'user.map.places' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row" *ngFor="let p of placeService.places | filter:searchText" (click)="setMarker(p)">
              {{checkIfUserLoggedIn()}}
              <td class="table-item">
                {{p.name}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="btn-container">
          <button class="show-all-btn"
                  *ngIf="button;"
                  (click)="showAllPlaces()">
            {{'user.map.show-all' | translate}}
          </button>
          <button class="clear-btn"
                  *ngIf="!filterService.isCleared;"
                  (click)="clearFilters()">
            {{'user.map.clear-filters' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-2" #map>
    <agm-map [style.width.px]="map.offsetWidth"
              [style.height.px]="map.offsetHeight"
              [latitude]="lat"
              [longitude]="lng"
              [zoom]="zoom"
              (idle)="getList()"
              (boundsChange)="boundsChange($event)">

      <agm-direction *ngIf="navigationMode" [origin]="origin" [destination]="destination"
                      [travelMode]="travelMode"
                      [provideRouteAlternatives]="true"
                      [visible]="true">
      </agm-direction>
      <agm-marker *ngIf="userMarkerLocation"
                  [latitude]="userMarkerLocation.lat"
                  [longitude]="userMarkerLocation.lng"
                  [markerDraggable]="true"
                  (dragEnd)="setLocationToOrigin($event)"
                  [iconUrl]="icon">

      </agm-marker>
      <agm-circle *ngIf="filterService.distance"
                  [latitude]="userMarkerLocation.lat"
                  [longitude]="userMarkerLocation.lng"
                  [radius]="filterService.distance*1000"
                  [fillColor]="'#13aa57'">
      </agm-circle>
      <agm-marker (markerClick)="showDetail(p)"
                  *ngFor="let p of placeService.places; let i = index"
                  [latitude]="p.location.lat"
                  [longitude]="p.location.lng"
                  [iconUrl]="getMarkerIcon(p.favorite)">

        <agm-info-window *ngIf="placeInfo">
          <div class="info-container">
            <div class="info-place-name">
              <h5 class="info-place-name-header">
                {{placeInfo.name}}
              </h5>
              <mat-icon svg svgIcon="{{p.color}}" 
                        class="info-place-name-icon" 
                        mat-icon-button
                        *ngIf="userRole === 'ROLE_ADMIN' || userRole === 'ROLE_MODERATOR' || userRole === 'ROLE_USER'"
                        (click)="saveOrDeletePlaceAsFavorite(p); ">
              </mat-icon>
            </div>
            <ul class="discount-list">
              <li *ngFor="let obj of placeInfo.discountValues"
                  class="discount-list-item">
                {{obj.specification.name}} {{'user.map.discount' | translate}} {{obj.value}}%
              </li>
            </ul>
            <div class="rating">
              <p class="rate-rating">
                {{'user.map.rate' | translate}} {{placeInfo.rate}}
              </p>
              <rating [(ngModel)]="placeInfo.rate"
                    [max]="5"
                    [readonly]="true"
                    [disabled]="false"
                    [required]="true"
                    [titles]="['one', 'two', 'three', 'four', 'five']"
                    class="star-rating">
            </rating>
            </div>
            <div class="comments">
              <p class="comments-number">{{'user.map.comments' | translate}} {{placeInfo.comments.length}}</p>
              <button class="comments-add-btn"
                *ngIf="userRole === 'ROLE_ADMIN' || userRole === 'ROLE_MODERATOR' || userRole === 'ROLE_USER'"
                (click)="openDialogAddComment(placeInfo.id)">
                {{'user.map.add-comment' | translate}}
              </button>
            </div>
            <p class="adress">
              {{placeInfo.location.address}}
            </p>
            <div class="nav-link dropdown-toggle" role="button"
                  (click)="placeService.showHours = !placeService.showHours">
              <img [src]="clockIcon"
                    class="clock-icon">{{weekDaysUtils.showTodayOnly(placeInfo.openingHoursList)}}
            </div>
            <div *ngIf="placeService.showHours" 
                  class="show-hours">
              <table class="open_hours_table"
                      *ngFor="let item of weekDaysUtils.sortOpenHoursList(placeInfo.openingHoursList)">
                <tbody>
                <tr>
                  <td class="open-hours-day">
                    <span class="open-hours-bold" *ngIf="weekDaysUtils.equalsToday(item)">
                      {{weekDaysUtils.getWeekDayShortForm(item.weekDay)}}</span>
                    <span *ngIf="!weekDaysUtils.equalsToday(item)">
                      {{weekDaysUtils.getWeekDayShortForm(item.weekDay)}}</span>
                  </td>
                  <td class="open-hours-time">
                    <span class="open-hours-bold" *ngIf="weekDaysUtils.equalsToday(item)">
                      {{item.openTime}} - {{item.closeTime}}</span>
                    <span *ngIf="!weekDaysUtils.equalsToday(item)">
                      {{item.openTime}} - {{item.closeTime}}</span>
                  </td>
                  <td class="open-hours-break" *ngIf="item.breakTime !== null">
                    <span class="open-hours-bold" *ngIf="weekDaysUtils.equalsToday(item)">
                      {{weekDaysUtils.showBreakTime(item)}}</span>
                    <span *ngIf="!weekDaysUtils.equalsToday(item)">
                      {{weekDaysUtils.showBreakTime(item)}}</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="direction-container">
              <button class="navigation-btn" *ngIf="button" (click)="getDirection(p)">{{navigationButton}} </button>
              <button class="navigation-mode" *ngIf="navigationMode" (click)="changeTravelMode()">{{travelModeButton}}</button>
            </div>
            <p *ngIf="distance">{{distance}}</p>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
