agm-map{
}
.main{
  display: flex;

}
.main.sub-1{width: 90vw; height: 95vh;
  flex-grow: 1;
}
.main.sub-2{
  flex-grow: 12;
}
.sub-1{
  width: 400px;
}

#control_panel {
  width: 100%;
}

#filter_btn {
  display: block;
  min-width: 70px;
}
.sub-2{
  width: 90vw; height: 95vh;
}

.open-hours-day {
  alignment: center;
  width: 40px
}

.open-hours-time {
  alignment: center;
  width: 90px
}

.open-hours-break {
  alignment: center;
  width: 120px
}
.open-hours-bold {
  font-weight:bold
}
