<div class="wrapper">
  <div class="left-side">
    <img class="main-picture"
         [src]="mainSignInImage.signInMainImg"
         alt="sign-in image">
  </div>
  <div class="right-side">
    <a (click)="closeSignInWindow()"
       class="close-modal-window">
      <img class="cross-btn"
           [src]="closeBtn.closeButton"
           alt="close button">
    </a>
    <h1>{{'user.auth.sign-in.title' | translate}}</h1>
    <h2>{{'user.auth.sign-in.fill-form' | translate}}</h2>
    <form class="sign-in-form">
      <label for="email">{{'user.auth.sign-in.email' | translate}}</label>
      <input id="email"
             type="email"
             placeholder="example@email.com">
      <label for="password">{{'user.auth.sign-in.password' | translate}}</label>
      <div class="password-input-btn-show-hide">
        <input id="password"
               #input
               type="password"
               placeholder="{{'user.auth.sign-in.password' | translate}}">
        <span class="show-hide-btn">
          <img (click)="showHidePassword(input, src)"
               class="image-show-hide-password"
               [src]="hideShowPasswordImage.hidePassword"
               #src
               alt="show or hide password">
        </span>
      </div>
      <div class="forgot-wrapper">
        <a (click)="openForgotWindow()"  class="forgot-password">
          {{'user.auth.sign-in.forgot-password' | translate}}</a>
      </div>
      <button class="login-btn"
              type="submit">
        <span *ngIf="loadingAnim"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true">
        </span>
        {{'user.auth.sign-in.sign-in' | translate}}
      </button>
      <span class="or-use-google">{{'user.auth.sign-in.or-signin' | translate}}</span>
      <div>
        <button type="submit"
                class="google-sign-in"
                (click)="signInWithGoogle()">
          <span class="google-sign">
            <img [src]="googleImage.picGoogle"
                 alt="Google sign-in">
          </span>
          <span class="google-text-sign-in">
            {{'user.auth.sign-in.sign-in-with-google' | translate}}
          </span>
        </button>
      </div>
    </form>
    <div class="missing-account">
      <p>{{'user.auth.sign-in.havenot-account' | translate}}
        <a routerLink="sign-up"
           class="sign-up-link">
          {{'user.auth.sign-in.sign-up' | translate}}
        </a>
      </p>
    </div>
  </div>
</div>
