<div class="comment-body-wrapper" *ngFor="let element of elements; index as i">
  <div class="comment-avatar">
     <img src="assets/img/comments/comment_author.png" alt="comment-author">
  </div>
  <div class="comment-details">
    <div class="comment-name-date">
      <div class="author-name"><span>{{ element.author.name }}</span></div>
      <div class="comment-date"><span class="comment-dot"></span>
        <span class="comment-date-month">  {{ element.modifiedDate | date: 'longDate'}}</span>
      </div>
    </div>
    <div class="comment-likes"><img src="assets/img/comments/like.png" alt="like">
      <span class="like-amount">{{ element.likes }}</span>
    </div>
  </div>
  <div class="comment-main-text">
    <p class="comment-text"> {{ element.text }}</p>
  </div>
  <div class="comments-elements">
    <div class="btn-wrapper"
         *ngIf="isLoggedIn && !(element.author.id == userId)"
    >
      <app-like-comment [commentId]="element.id"
                        [likeState]="element.currentUserLiked"
      ></app-like-comment>
      <app-reply-comment (click)="showReplyForm(element.id)"
      ></app-reply-comment>
    </div>
    <div class="btn-wrapper"
         *ngIf="isLoggedIn && (element.author.id == userId)"
    >
      <app-edit-comment></app-edit-comment>
      <app-delete-comment></app-delete-comment>
    </div>
    <app-view-replies [commentId]="element.id"
                      *ngIf="type === 'comment'"
    ></app-view-replies>
  </div>
  <app-add-comment *ngIf="replyFormVisibility && element.id == tempId"
                   [commentId]="element.id"
                   [dataSet]="addReply"
  ></app-add-comment>
</div>
