<div class="comment-body-wrapper" *ngFor="let element of elements | paginate: config">
  <div class="comment-avatar">
     <img src="assets/img/comments/comment_author.png" alt="comment-author">
  </div>
  <div class="comment-details">
    <div class="comment-name-date">
      <div class="author-name"><span>{{ element.author.name }}</span></div>
      <div class="comment-date"><span class="comment-dot"></span>
        <span class="comment-date-month">{{ element.modifiedDate | date: 'longDate'}}<span *ngIf="isCommentEdited(element)" class="edited">{{"homepage.eco-news.comment.btn.edited" | translate}}</span></span>
      </div>
    </div>
    <app-likes-counter [commentId]="element.id"></app-likes-counter>
  </div>
  <div class="comment-main-text">
    <p class="comment-text" *ngIf="!element.isEdit">{{ element.text }}</p>
    <div class="comment-edit-text"
          *ngIf="element.isEdit"
          >
      <textarea type="text"
             placeholder='{{"homepage.eco-news.comment.placeholder.new-comment" | translate}}'
             [formControl]="content"
             class="edit-text-input"
             ></textarea>
    <div class="save-cancel-wrapper">
      <div class="save-cancel-btn">
        <div class="save-btn">
          <button (click)="saveEditedComment(element)"
                [disabled]="!content.valid"
                class="cta-btn save-edit">
          <img [src]="editIcon"
                alt="edit icon"
          >
          <span class="btn-text">
            {{"homepage.eco-news.comment.btn.save" | translate}}
          </span>
          </button>
        </div>
        <div class="cancel-btn">
          <button (click)="cancelEditedComment(element)"
                  class="cta-btn cancel-edit">
          <img [src]="cancelIcon"
                alt="cancel icon"
          >
          <span class="btn-text">
            {{"homepage.eco-news.comment.btn.cancel" | translate}}
          </span>
          </button>
        </div>
        <div class="replies-btn">
          <app-view-replies *ngIf="element.isEdit" class="flex"></app-view-replies>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="comments-elements">
    <div class="btn-wrapper"
         *ngIf="isLoggedIn && (element.author.id !== +userId)"
    >
      <app-like-comment [commentId]="element.id"
                        [likeState]="element.currentUserLiked"
                        (click)="setCommentId(element.id)"
      ></app-like-comment>
      <app-reply-comment (click)="showReplyForm(element.id)"
      ></app-reply-comment>
    </div>
    <div class="btn-wrapper"
         *ngIf="isLoggedIn && (element.author.id === +userId) && !element.isEdit"
    >
      <app-edit-comment (isEditing)="onEdit(element.id)"></app-edit-comment>
      <app-delete-comment [elements]="elements"
      [element]="element"></app-delete-comment>
    </div>
    <app-view-replies [commentId]="element.id"
                      *ngIf="type === 'comment'"
                      (click)="showReplies(element.id)"
    ></app-view-replies>
  </div>
  <app-add-comment *ngIf="replyFormVisibility && element.id === tempId"
                   [commentId]="element.id"
                   [dataSet]="addReply"
  ></app-add-comment>
</div>
<app-comment-pagination [config]="config"
                        *ngIf="type === 'comment'"
></app-comment-pagination>
