$main-font: 'Open Sans';

.comment-body-wrapper {
  margin: auto;
  width: 70%;
  border-bottom: 1px solid #E6E6E6;

  .comment-avatar {
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }
  }
}

.author-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #313131;
}

.comment-date {
  color: #878787;
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  .comment-dot {
    margin: 0px 0px 0 8px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #878787;
    border-radius: 100%;
  }

  .comment-date-month {
    margin: 0 0 0 8px;
    display: inline-block;
  }
}

.comment-details {
  display: flex;
  justify-content: space-between;
  width: 91.7%;
  margin: 32px 0px 8px 63px;

  .comment-name-date {
    display: flex;
    justify-content: space-between;
  }
}

.comment-main-text {
  margin-left: 62px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: -10px;
}

.like-amount {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  color: #878787;
  margin-left: 5px;
}

.comments-elements {
  display: flex;
  justify-content: space-between;

  .like-reply {
    display: flex;
  }
}
