<div class="comment-body-wrapper" *ngFor="let element of elements; let i = index">
  <div class="comment-avatar">
     <img src="assets/img/comments/comment_author.png" alt="comment-author">
  </div>
  <div class="comment-details">
    <div class="comment-name-date">
      <div class="author-name"><span>{{ element.author.name }}</span></div>
      <div class="comment-date"><span class="comment-dot"></span>
        <span class="comment-date-month">  {{ element.modifiedDate | date: 'longDate'}}</span>
      </div>
    </div>
    <div class="comment-likes"><img src="assets/img/comments/like.png" alt="like">
      <span class="like-amount">999+</span>
    </div>
  </div>
  <div class="comment-main-text">
    <p class="comment-text"> {{ element.text }}</p>
  </div>
  <div class="comments-elements">
    <app-comment-like-reply></app-comment-like-reply>
    <app-edit-comment></app-edit-comment>
    <app-delete-comment [elements]="elements" 
                        [element]="element"
                        [index]="i"></app-delete-comment>
    <app-view-replies></app-view-replies>
  </div>
</div>
