<div class="wraper">
  <div class="order">
    <div style="display: none">
      <h2 class="title">{{ 'confirm-page.title-text' | translate }} (№{{ orderId }})</h2>
      <div class="description">
        <p>{{ 'confirm-page.description' | translate }}</p>
      </div>
    </div>
    <div>
      <button class="btn primary-global-button">До особистого кабінету</button>
    </div>
    <div class="row infolinks">
      <div class="col-md-6 list">
        <ul>
          <h5>{{ 'confirm-page.ubsServices' | translate }}</h5>
          <li>
            <a>{{ 'confirm-page.other-order' | translate }}</a>
          </li>
          <li>
            <a>{{ 'confirm-page.mail' | translate }}</a>
          </li>
          <li>
            <a>{{ 'confirm-page.ukraine-site' | translate }}</a>
          </li>
          <li>
            <a>{{ 'confirm-page.eco-shop' | translate }}</a>
          </li>
        </ul>
        <ul>
          <h5>{{ 'confirm-page.information' | translate }}</h5>
          <li>
            <a>{{ 'confirm-page.instruction' | translate }}</a>
          </li>
          <li>
            <a>{{ 'confirm-page.video' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img class="image" src="assets\img\ubs\black_garbage_bag.svg" alt="eco-people" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="p-40">
          {{ 'confirm-page.questions' | translate }} <a class="link" href="">{{ 'confirm-page.contact' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
