$title-font: var(--secondary-font);
$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;
$grey: var(--tertiary-light-grey);

.eco-places-content {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  font-family: var(--secondary-font);
  font-style: normal;
  border-top: 1px solid var(--quaternary-light-grey);
  background-color: var(--primary-white);
}

.header-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 8px;

  span {
    color: var(--tertiary-light-grey);
    margin-left: 10px;
  }
}

.item {
  list-style: none;
  text-align: left;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 6px 0;
}

.eco-place-list {
  width: 100%;
  padding: 0;

  .item {
    text-decoration: underline;
  }
}

.btn-see-all {
  text-decoration: none;
  font-weight: normal;
  font-size: 11px;
}

.loading {
  margin: 0 auto;
}

.mat-spinner circle,
::ng-deep.mat-progress-spinner circle {
  stroke: rgb(226, 226, 226) !important;
}

@media only screen and (max-width: $bp-desktop) {
  .header,
  .text-number {
    font-size: 12px;
    line-height: 15px;
  }

  .text-more {
    font-size: 11px;
    line-height: 13px;
  }

  .item {
    font-size: 11px;
    line-height: 16px;
  }
}
