$title-font: var(--secondary-font);
$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1199px;
$grey: var(--tertiary-light-grey);

.eco-places-content {
  width: 213px;
  margin: 0 auto;
  font-family: var(--primary-font);
  font-style: normal;
  border-top: 1px solid var(--quaternary-light-grey);
  background-color: var(--primary-white);
}

.header-position {
  padding-top: 24px;
}

.header {
  height: 16px;
  display: flex;
  justify-content: space-between;

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--quaternary-dark-grey);
  }

  .btn-see-all {
    font-weight: 400;
    font-size: 12px;
    color: var(--quintynary-light-grey);
    line-height: 16px;
  }
}

.favourites-quantity span {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--quintynary-light-grey);
}

.item {
  list-style: none;
  text-align: left;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 6px 0;
}

.eco-place-list {
  width: 100%;
  padding: 0;

  .item {
    text-decoration: underline;
  }
}

.loading {
  margin: 0 auto;
}

.mat-spinner circle,
::ng-deep.mat-progress-spinner circle {
  stroke: rgb(226, 226, 226) !important;
}

@media (min-width: $bp-tablet) and (max-width: $bp-largest) {
  .eco-places-content {
    width: 184px;
  }
}
