<div class="d-flex justify-content-between">
  <p class="h5 main-text">{{ 'ubs-tariffs.tariffs' | translate }}</p>
  <div class="mat-menu">
    <div class="setting-block" [matMenuTriggerFor]="menu">
      <img [src]="icons.setting" class="tariff-img" alt="settings" />
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="add" class="add-button">
        <span class="menu-item">{{ 'ubs-tariffs.btn.add' | translate }}</span>
        <img [src]="icons.arrowRight" class="arrowRight-img" alt="settings" />
      </button>
      <button mat-menu-item>
        <span class="menu-item">{{ 'ubs-tariffs.btn.edit' | translate }}</span>
      </button>
      <button mat-menu-item>
        <span class="menu-item">{{ 'ubs-tariffs.btn.deactivation' | translate }}</span>
      </button>
    </mat-menu>
    <mat-menu #add="matMenu">
      <button mat-menu-item (click)="openAddLocationDialog()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.location' | translate }}</span>
      </button>
      <button mat-menu-item (click)="openAddCourierDialog()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.courier' | translate }}</span>
      </button>
      <button mat-menu-item>
        <span class="menu-item">{{ 'ubs-tariffs.btn.station' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="showing-block">
  <div class="d-flex">
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.region' | translate }}</p>
      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'ubs-tariffs.placeholder-region' | translate }}" />
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" />
      </div>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.locations' | translate }}</p>
      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'ubs-tariffs.placeholder-locality' | translate }}" />
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" />
      </div>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.courier' | translate }}</p>
      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'ubs-tariffs.placeholder-courier' | translate }}" />
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" />
      </div>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.station' | translate }}</p>
      <div class="input-wrapper">
        <input type="text" placeholder="{{ 'ubs-tariffs.placeholder-station' | translate }}" />
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" />
      </div>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.state' | translate }}</p>
      <div class="select-item">
        <mat-form-field>
          <mat-select [formControl]="panelColor">
            <mat-option class="option-state" value="all">Усі</mat-option>
            <mat-option class="option-state" value="active">Активно</mat-option>
            <mat-option class="option-state" value="disactive">Неактивно</mat-option>
          </mat-select>
        </mat-form-field>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" />
      </div>
    </div>
  </div>
</div>
<table class="table-location">
  <thead>
    <tr>
      <th>{{ 'ubs-tariffs.region' | translate }}</th>
      <th>{{ 'ubs-tariffs.city' | translate }}</th>
      <th>{{ 'ubs-tariffs.courier' | translate }}</th>
      <th>{{ 'ubs-tariffs.station' | translate }}</th>
      <th>{{ 'ubs-tariffs.state' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of locations" [ngClass]="{ 'disabled-col': location.locationStatus == 'DEACTIVATED' }">
      <td>
        <div *ngFor="let regionItem of location.regionTranslationDtos | filterByLang">
          {{ regionItem.regionName }}
        </div>
      </td>
      <td>
        <div *ngFor="let item of location.locationsDto" (click)="page(location)">
          <div *ngFor="let name of item.locationTranslationDtoList | filterByLang">
            {{ name.locationName }}
          </div>
        </div>
      </td>
      <td>UBS-Courier</td>
      <td>Слобідська</td>
      <td>Active</td>
      <td class="last-col" *ngIf="location.locationStatus != 'DEACTIVATED'" [matMenuTriggerFor]="crumbs">
        <img class="tariff-img mr-3" [src]="icons.crumbs" alt="crumbs" />
      </td>
      <mat-menu #crumbs="matMenu">
        <button mat-menu-item>
          <span class="menu-item">{{ 'ubs-tariffs.btn.edit' | translate }}</span>
        </button>
        <button mat-menu-item>
          <span class="menu-item">{{ 'ubs-tariffs.btn.deactivation' | translate }}</span>
        </button>
      </mat-menu>
      <td class="last-col" *ngIf="location.locationStatus == 'DEACTIVATED'" [matMenuTriggerFor]="restore">
        <img class="tariff-img mr-3" [src]="icons.restore" alt="restore" />
      </td>
      <mat-menu #restore="matMenu">
        <button mat-menu-item>
          <span class="menu-item">{{ 'ubs-tariffs.btn.restore' | translate }}</span>
        </button>
      </mat-menu>
    </tr>
  </tbody>
</table>
