<div class="d-flex justify-content-between">
  <ng-template [ngTemplateOutlet]="textBack"></ng-template>
  <p *ngIf="showAllTariff" class="h5 main-text" tabindex="0">{{ 'ubs-tariffs.tariffs' | translate }}</p>
  <div class="mat-menu">
    <button class="setting-block" [matMenuTriggerFor]="menu">
      <img [src]="icons.setting" class="tariff-img" alt="settings" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="add" class="add-button">
        <span class="menu-item">{{ 'ubs-tariffs.btn.add' | translate }}</span>
        <img [src]="icons.arrowRight" class="arrowRight-img" alt="settings" />
      </button>
      <button mat-menu-item [matMenuTriggerFor]="edit" class="add-button">
        <span class="menu-item">{{ 'ubs-tariffs.btn.edit_name' | translate }}</span>
        <img [src]="icons.arrowRight" class="arrowRight-img" alt="settings" />
      </button>
      <button mat-menu-item (click)="openCreateCard()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.create_card' | translate }}</span>
      </button>
      <button mat-menu-item (click)="openDeactivatePopUp()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.deactivation' | translate }}</span>
      </button>
    </mat-menu>
    <mat-menu #add="matMenu">
      <button mat-menu-item (click)="openAddLocation()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.location' | translate }}</span>
      </button>
      <button mat-menu-item (click)="openAddCourierDialog()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.courier' | translate }}</span>
      </button>
      <button mat-menu-item (click)="openAddStationDialog()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.station' | translate }}</span>
      </button>
    </mat-menu>
    <mat-menu #edit="matMenu">
      <button mat-menu-item (click)="openEditLocation()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.location' | translate }}</span>
      </button>
      <button mat-menu-item (click)="openEditCourier()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.courier' | translate }}</span>
      </button>
      <button mat-menu-item (click)="openEditStation()">
        <span class="menu-item">{{ 'ubs-tariffs.btn.station' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</div>
<form class="showing-block" *ngIf="showAllTariff" [formGroup]="searchForm" #form="ngForm">
  <div class="d-flex">
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.region' | translate }}</p>
      <div class="input-wrapper">
        <input
          type="text"
          class="region"
          placeholder="{{ 'ubs-tariffs.placeholder-region' | translate }}"
          matInput
          #autocompleteTriggerRegion="matAutocompleteTrigger"
          formControlName="region"
          [matAutocomplete]="autoRegion"
        />
        <mat-autocomplete #autoRegion="matAutocomplete" (optionSelected)="regionSelected($event)">
          <mat-option value="Усі">{{ 'ubs-tariffs.states.all' | translate }}</mat-option>
          <mat-option *ngFor="let region of filteredRegions | async" [value]="region">
            {{ region | translate }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon class="cross-img" (click)="resetRegionValue()">close</mat-icon>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="openAuto($event, autocompleteTriggerRegion)" />
      </div>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.city' | translate }}</p>
      <div class="input-wrapper">
        <input
          [placeholder]="cityPlaceholder"
          #autocompleteTriggerCity="matAutocompleteTrigger"
          formControlName="city"
          [matAutocomplete]="autoCity"
          [matChipInputFor]="chipListCity"
          (matChipInputTokenEnd)="addItem($event)"
        />
        <mat-autocomplete
          #autoCity="matAutocomplete"
          (optionSelected)="onSelectCity($event, autocompleteTriggerCity)"
          autoActiveFirstOption
        >
          <mat-option value="all">
            <mat-checkbox [checked]="isCityChecked()" (change)="toggleSelectAllCity()" value="all"></mat-checkbox>
            {{ 'ubs-tariffs.states.all' | translate }}
          </mat-option>
          <mat-option *ngFor="let city of filteredCities | async">
            <mat-checkbox class="mr-1" [checked]="checkSelectedItem(city, selectedCities)"></mat-checkbox>
            <span class="checkbox-text">{{ city }}</span>
          </mat-option>
        </mat-autocomplete>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="openAuto($event, autocompleteTriggerCity)" />
      </div>
      <mat-chip-list #chipListCity aria-label="City selection">
        <div class="city-list">
          <span *ngFor="let city of selectedCities" class="city-item">{{ city.name }}</span>
        </div>
      </mat-chip-list>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.courier' | translate }}</p>
      <div class="input-wrapper">
        <mat-select
          #courierSelect
          formControlName="courier"
          class="courier-select"
          placeholder="{{ 'ubs-tariffs.placeholder-courier' | translate }}"
          (selectionChange)="onSelectCourier($event)"
        >
          <mat-option class="option-state" value="all">{{ 'ubs-tariffs.states.all' | translate }}</mat-option>
          <mat-option class="option-state" *ngFor="let courier of couriersName" [value]="courier">
            {{ courier }}
          </mat-option>
        </mat-select>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="courierSelect.open()" />
      </div>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.station' | translate }}</p>
      <div class="input-wrapper">
        <input
          [placeholder]="stationPlaceholder"
          #autocompleteTriggerStation="matAutocompleteTrigger"
          formControlName="station"
          [matAutocomplete]="autoStation"
        />
        <mat-autocomplete #autoStation="matAutocomplete" (optionSelected)="stationSelected($event, autocompleteTriggerStation)">
          <mat-option value="all">
            <mat-checkbox [checked]="isStationChecked()" (change)="toggleSelectAllStation()" value="all"></mat-checkbox>
            {{ 'ubs-tariffs.states.all' | translate }}
          </mat-option>
          <mat-option *ngFor="let option of filteredStations | async" class="option-state" [value]="option">
            <mat-checkbox class="mr-1" [checked]="checkSelectedItem(option, selectedStation)"></mat-checkbox>
            <span class="checkbox-text">{{ option }}</span>
          </mat-option>
        </mat-autocomplete>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="openAuto($event, autocompleteTriggerStation)" />
      </div>
      <div class="city-list">
        <span *ngFor="let station of selectedStation" class="city-item">{{ station.name }}</span>
      </div>
    </div>
    <div class="col-item">
      <p class="col-text">{{ 'ubs-tariffs.state' | translate }}</p>
      <div class="input-wrapper">
        <mat-select #stateSelect class="state-select" formControlName="state">
          <mat-option class="option-state" value="">{{ 'ubs-tariffs.states.all' | translate }}</mat-option>
          <mat-option class="option-state" value="ACTIVE">{{ 'ubs-tariffs.states.active' | translate }}</mat-option>
          <mat-option class="option-state" value="DEACTIVATED">{{ 'ubs-tariffs.states.inactive' | translate }}</mat-option>
          <mat-option class="option-state" value="NEW">{{ 'ubs-tariffs.states.blank' | translate }}</mat-option>
        </mat-select>
        <img [src]="icons.arrowDown" class="arrowDown-img" alt="arrowDown" (click)="stateSelect.open()" />
      </div>
    </div>
  </div>
</form>
<table class="table-location">
  <thead *ngIf="cards.length">
    <tr>
      <th id="region">{{ 'ubs-tariffs.region' | translate }}</th>
      <th id="city">{{ 'ubs-tariffs.city' | translate }}</th>
      <th id="courier">{{ 'ubs-tariffs.courier' | translate }}</th>
      <th id="station">{{ 'ubs-tariffs.station' | translate }}</th>
      <th id="state">{{ 'ubs-tariffs.state' | translate }}</th>
      <th id="action"></th>
    </tr>
  </thead>
  <tbody *ngIf="showAllTariff">
    <tr *ngFor="let card of cards" class="cursor-pointer">
      <td (click)="page(card.cardId)">
        {{ card.region }}
      </td>
      <td (click)="page(card.cardId)">
        <div *ngFor="let item of card.city">
          {{ item }}
        </div>
      </td>
      <td (click)="page(card.cardId)">
        <div>
          {{ card.courier }}
        </div>
      </td>
      <td (click)="page(card.cardId)">
        <div *ngFor="let item of card.station">
          {{ item }}
        </div>
      </td>
      <td (click)="page(card.cardId)">
        {{ card.tariff | tariffStatus: currentLang }}
      </td>
      <td class="last-col" *ngIf="card.tariff !== 'DEACTIVATED'" [matMenuTriggerFor]="crumbs">
        <img class="tariff-img mr-3" [src]="icons.crumbs" alt="crumbs" />
      </td>
      <mat-menu #crumbs="matMenu">
        <button mat-menu-item (click)="openEditPopUp(card)">
          <span class="menu-item">{{ 'ubs-tariffs.btn.edit' | translate }}</span>
        </button>
        <button mat-menu-item (click)="openTariffDeactivatePopUp(card)">
          <span class="menu-item">{{ 'ubs-tariffs.btn.deactivation' | translate }}</span>
        </button>
      </mat-menu>
      <td class="last-col" *ngIf="card.tariff === 'DEACTIVATED'">
        <button mat-menu-item (click)="openTariffRestore(card, card.cardId)">
          <img class="tariff-img mr-3" [src]="icons.restore" alt="restore" />
        </button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!showAllTariff && !isLoading">
    <tr class="selected-card">
      <td>
        {{ selectedCard.region }}
      </td>
      <td>
        <div *ngFor="let item of selectedCard.city">
          {{ item }}
        </div>
      </td>
      <td>
        <div>
          {{ selectedCard.courier }}
        </div>
      </td>
      <td>
        <div *ngFor="let item of selectedCard.station">
          {{ item }}
        </div>
      </td>
      <td>
        {{ selectedCard.tariff | tariffStatus: currentLang }}
      </td>
      <td class="last-col" *ngIf="selectedCard.tariff !== 'DEACTIVATED'" [matMenuTriggerFor]="crumbs">
        <img class="tariff-img mr-3" [src]="icons.crumbs" alt="crumbs" />
      </td>
      <mat-menu #crumbs="matMenu">
        <button mat-menu-item>
          <span class="menu-item">{{ 'ubs-tariffs.btn.edit' | translate }}</span>
        </button>
        <button mat-menu-item (click)="openTariffDeactivatePopUp(selectedCard)">
          <span class="menu-item">{{ 'ubs-tariffs.btn.deactivation' | translate }}</span>
        </button>
      </mat-menu>
      <td class="last-col" *ngIf="selectedCard.tariff === 'DEACTIVATED'">
        <button class="restore-tariff" (click)="openTariffRestore(selectedCard, selectedCard.cardId)">
          <img class="tariff-img mr-3" [src]="icons.restore" alt="restore" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="isFieldFilled && !isCardExist" class="create-card-field">
  <span>{{ 'ubs-tariffs.card-not-found' | translate }}</span>
  <button class="ubs-button" (click)="createTariffCard()">{{ 'ubs-tariffs-add-location-pop-up.create_button' | translate }}</button>
</div>
<div *ngIf="isFieldFilled && isCardExist && !cards.length" class="create-card-field">
  <span>{{ 'ubs-tariffs.card-exist' | translate }}</span>
</div>
