::ng-deep .address-matDialog-styles {
  .mat-dialog-container {
    margin: auto !important;
    width: 500px;
  }
}

form {
  box-shadow: 1px 4px 8px rgb(100 114 125 / 18%);
  padding: 10px 25px 40px;
}

.main-text {
  font-style: normal;
  font-weight: bold;
  font-family: var(--primary-font);
  margin-bottom: 32px;
}

.showing-block {
  height: 120px;
  background: var(--ubs-primary-white);
  box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
  padding: 0 32px;
  margin-bottom: 40px;
}

.col-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-secondary-grey);
  margin-top: 28px;
  margin-bottom: 0;
}

.input-wrapper {
  width: 268px;
  height: 36px;
  border: 1px solid var(--ubs-primary-light-grey);
  border-radius: 4px;
  margin-bottom: 32px;
  margin-right: 40px;
}

.input-wrapper input {
  padding: 5px 0 0 15px;
  margin: 0;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.show-button {
  text-align: center;
  width: 177px;
  height: 36px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-family: var(--ubs-quaternary-font);
  color: var(--ubs-quaternary-dark-grey);
  background: var(--ubs-button-light-green);
  border-radius: 4px;
  border: none;
  margin-top: 52px;
}

.restore-button {
  background: var(--ubs-button-light-green);
  border: 1px solid var(--ubs-button-light-green);
  border-radius: 4px;
  width: 117px;
  height: 36px;
  color: var(--ubs-quaternary-dark-grey);
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.delete-button {
  border: 1px solid var(--ubs-quaternary-dark-grey);
  border-radius: 4px;
  width: 117px;
  height: 36px;
  color: var(--ubs-quaternary-dark-grey);
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-right: 16px;
}

.table-location thead tr th {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--ubs-primary-grey);
  padding: 4px 16px;
  border-bottom: 1px solid var(--ubs-primary-light-grey);
}

.table-location tbody tr td {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--ubs-quaternary-dark-grey);
  padding: 16px;
}

.table-location tbody tr {
  background: var(--ubs-primary-white);
  box-shadow: 0 2px 6px rgba(100, 114, 125, 0.15);
}

.table-location {
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
}

.setting-block {
  width: 36px;
  height: 36px;
  background: var(--ubs-primary-white);
  box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tariff-img {
  width: 20px;
  height: 20px;
}

.last-col {
  padding-right: 40px;
  justify-content: flex-end;
  display: flex;
}

.disabled-col {
  color: var(--ubs-secondary-grey) !important;
}
