.cards-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.habit-card {
  width: 359px;
}

p {
  margin-top: 60px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: var(--secondary-dark-grey);
}

hr {
  background: #e6e6e6;
  margin: 20px 0 20px 0;
}
