.filters-dropdown {
  display: flex;
  padding: 0;

  .filter-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
    color: var(--quaternary-grey);
    margin: 0;

    p {
      margin: 0;
    }
  }

  .mat-select {
    &::ng-deep .mat-select-arrow-wrapper {
      width: 8px !important;

      .mat-select-arrow {
        height: 8px;
        width: 8px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-image-source: none !important;
        background-image: url('/assets/icons/arrow-down-grey.svg');
      }
    }
  }

  &:hover {
    .filter-label {
      color: var(--primary-green);
    }

    .mat-select {
      &::ng-deep .mat-select-arrow-wrapper .mat-select-arrow {
        background-image: url('/assets/icons/arrow-down-green.svg');
      }
    }
  }
}

.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: var(--primary-green);
}

.mat-mdc-select-value {
  display: none;
}

.mat-mdc-option.mat-mdc-option-active.mdc-list-item--selected {
  background-color: var(--ubs-primary-liberty-green);
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--quaternary-dark-grey);
}

.mat-mdc-option .mdc-list-item__primary-text {
  line-height: 1.2;
}

.mat-mdc-select-panel {
  position: relative;
  max-height: 300px;
}
