.filters-dropdown {
  display: flex;
  padding: 0;

  .filter-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
    color: var(--quaternary-grey);
    margin: 0;

    p {
      margin: 0;
    }
  }

  mat-select {
    &::ng-deep .mat-select-arrow {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid;
      border-image-source: url('~/assets/icons/arrow-down-grey.svg') !important;
      border-image-repeat: stretch;
    }
  }

  &:hover {
    .filter-label {
      color: var(--primary-green);
    }

    mat-select {
      &::ng-deep .mat-select-arrow {
        border-image-source: url('~/assets/icons/arrow-down-green.svg') !important;
      }
    }
  }
}

.arrow {
  height: 8px;
  width: 8px;
  background-image: url('~/assets/icons/arrow-down-grey.svg');
}

.arrow-up {
  transform: rotate(180deg);
}
