<div *ngIf="filter" class="filters-dropdown">
  <mat-label #selectLabel class="filter-label" (click)="selectFilter.open()">{{ filter.title | translate }}</mat-label>
  <mat-select #selectFilter panelClass="green-city-select" [multiple]="true">
    <mat-option [value]="0" (click)="toggleAllSelection()">{{ filter.selectAllOption | translate }}</mat-option>
    <mat-divider></mat-divider>
    <mat-option
      *ngFor="let option of filter.options"
      [value]="option"
      (click)="updateSelectedFilters(option)"
      [appLangValue]="{ ua: option.nameUa, en: option.name }"
    >
    </mat-option>
  </mat-select>
</div>
