:host {
  font-family: var(--primary-font);
}

.notification-popup-wrapper {
  .pop-up-container {
    width: 360px;

    &-empty {
      width: 335px;
      min-height: 228px;
      max-height: max-content;
    }
  }

  .heading,
  .to-notifications {
    margin: 8px 19px;
    color: var(--ubs-primary-grey);
  }

  .to-notifications {
    display: block;
    cursor: pointer;
  }

  .separator-line {
    border-top: 1px solid var(--ubs-primary-grey);
  }

  .no-notifications {
    min-height: 156px;
    width: 100%;
    padding-top: 24px;
    background: no-repeat 130px 55px/80px url('/assets/img/bell.png');
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 23px 3px;
  }

  .notification {
    width: 295px;
    margin: 0;

    &-unread {
      background-color: var(--ubs-primary-liberty-green);
    }

    .heading,
    .to-notifications {
      margin: 8px 19px;
    }

    .to-notifications {
      display: block;
      cursor: pointer;
    }

    .no-notifications {
      min-height: 156px;
      width: 100%;
      padding-top: 24px;
      background: no-repeat 130px 55px/80px url('/assets/img/bell.png');
    }

    .list-wrapper {
      display: flex;
      flex-direction: column;
      gap: 13px;
      padding: 23px 33px;
    }

    .notification {
      margin: 0;

      &-unread {
        background-color: var(--ubs-primary-liberty-green);
      }

      &-read {
        background-color: var(--ubs-button-light-grey);
      }

      &-header {
        min-height: 80px !important;
        height: unset !important;
        padding: 5px 0px 5px 16px;
        display: flex;
        flex-direction: row !important;

        & .mat-content {
          display: block;
        }

        &-project {
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: var(--ubs-primary-green);
        }

        &-title {
          color: var(--ubs-primary-black);
        }

        &-content {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .notification.mat-expanded .notification-header-content {
      white-space: pre-wrap;
      overflow: visible;
    }
  }
}
