<input
  class="shadow-none form-control"
  [class.ng-invalid]="isInvalid"
  [class.ng-valid]="!isInvalid"
  [placeholder]="placeholder"
  [formControl]="inputValue"
  (blur)="markAsTouched()"
  (change)="onUserChange()"
  [matAutocomplete]="autoPrediction"
  (keyup)="keyup($event)"
/>
<mat-autocomplete #autoPrediction="matAutocomplete">
  <mat-option
    class="autocomplete-dropdown"
    *ngFor="let prediction of predictionList"
    [value]="prediction.description"
    (onSelectionChange)="onPredictionSelected(prediction)"
  >
    {{ prediction.description }}
  </mat-option>
</mat-autocomplete>
