<div class="stat" *ngIf="progress">
  <div class="chain">
    <p>{{ progress.amountHabitsAcquired }}</p>
    <p>{{ 'profile.acquired-habits' | translate }}</p>
  </div>
  <div class="chain">
    <p>{{ progress.amountHabitsInProgress }}</p>
    <p>{{ 'profile.habits-in-progress' | translate }}</p>
  </div>
  <div class="chain">
    <p>{{ progress.amountPublishedNews }}</p>
    <p>{{ 'profile.published-news' | translate }}</p>
  </div>
  <div class="chain">
    <p>{{ progress.amountOrganizedAndAttendedEvents }}</p>
    <p>{{ 'profile.organized-and-attended-events' | translate }}</p>
  </div>
</div>
