<div class="container">
  <div class="header">
    <h3 class="font-bolt order-title">Послуги</h3>
    <p class="order-content">Зверніть, будь ласка, увагу на те, що мінімальна сума замовлення має складати 500 грн.</p>
  </div>
  <form class="form"
        [formGroup]="orderDetailsForm"
        (ngSubmit)="submit()"
        *ngIf="bags; else spinner">
    <div class="w-100 d-flex justify-content-between">
      <label class="col-12 col-sm-3 label">Послуга</label>
      <label class="col-12 col-sm-2 label">Об'єм</label>
      <label class="col-12 col-sm-2 label">Вартість</label>
      <label class="col-12 col-sm-2 label">Кількість пакетів</label>
      <label class="col-12 col-sm-2 label">Сума</label>
    </div>
    <div class="main">

        <ul class="w-100 p-0">
          <li *ngFor="let bag of bags" class="d-flex justify-content-between">
            <span class="col-12 col-sm-3 form-group form-control">{{bag.name}}</span>
            <span class="col-12 col-sm-2 form-group form-control">{{bag.capacity}} л</span>
            <span class="col-12 col-sm-2 form-group form-control">{{bag.price}} грн</span>
            <div class="col-12 col-sm-2 form-group count">
              <input formControlName="quantity{{bag.id}}"
                     type="number"
                     class="shadow-none form-control input"
                     min="0"
                     max="999"
                    (click)="calculate()">
            </div>
            <span class="form-group sum"> {{bag.quantity*bag.price}} грн</span>
          </li>
        </ul>

    </div>
    <div class="middle">
      <div class="middle-container">
        <div class="showTotal">
          <div class="totalInfo">
            <p class="total-content" [class.d-none]="showTotal === 0">
              <span>Сума замовлення: </span>
              <span>
                <input formControlName="orderSum" style="display: none;">
                <b>{{showTotal}} грн</b>
              </span>
            </p>
            <p class="total-content" *ngIf="displayCert"><span>Сертифікат: </span><span><small>-{{ showCertificateUsed }} грн</small></span></p>
            <p class="total-content" [class.d-none]="pointsUsed === 0"><span>Бонуси: </span><span><small>-{{ pointsUsed }} грн</small></span></p>
            <p class="total-content"><span>Сума до оплати: </span><span><b>{{ finalSum }} грн</b></span></p>
            <div *ngIf="displayMes" class="validMes">
              <small class="text-danger">Мінімальна сума замовлення повинна складати 500 грн</small>
            </div>
          </div>
        </div>
        <h5>Чи бажаєте Ви скористатись сертифікатом?</h5>
        <div class="certificate-container">
          <div class="form-group col-12 col-sm-8">
            <label class="label m-0">Введіть номер сертифіката</label>
            <input formControlName="certificate"
                   type="text"
                   class="shadow-none form-control input-border"
                   placeholder="xxxx-xxxx"
                   [unmask]="false"
                   [imask]="{mask: certificateMask}"
                   [(ngModel)]="certValue"
                   (click)="addCertif()"
                   >
          </div>
          <div class="form-group">
            <button *ngIf="!addCert" type="button" class="primary-global-button btn"
              [disabled]="!certificate.valid || certificate.pristine || finalSum === 0"
              (click)="certificateSubmit()">Активувати</button>
            <button *ngIf="addCert" type="button" class="primary-global-button btn"
              (click)="certificateReset()">Відмінити</button>
          </div>
          <div class="validMes">
            <small class="text-danger"
              *ngIf="certificate.invalid && certificate.touched">
              Сертифікат не прийнято, споробуйте ще раз</small>
            <small class="text-message"> {{ certMessage }} </small>
          </div>
          <small *ngIf="certSize">Сертифікат на суму {{ certificateSum }} грн активовано, що перевищує суму Вашого
            замовлення. Залишок у розмірі {{ certificateLeft }} грн
            буде нараховано на Ваш бонусний рахунок для наступного замовлення.</small>
        </div>
        <div class="addCertificate" formArrayName="additionalCertificates"
          *ngFor="let certificate of additionalCertificates.controls; let i=index;">
          <input type="text" class="shadow-none form-control col-12 col-sm-8 my-1 input-border" type="text" placeholder="xxxx-xxxx"
            [unmask]="false" [imask]="{mask: certificateMask}" [formControlName]="i">
          <div class="form-group">
            <button *ngIf="!addCert" type="button" class="primary-global-button btn"
              [disabled]="additionalCertificates['controls'][i].invalid || additionalCertificates['controls'][i].pristine"
              (click)="addedCertificateSubmit(i)">Активувати</button>
            <button *ngIf="addCert" type="button" class="primary-global-button btn"
              (click)="deleteCertificate(i)">Відмінити</button>
          </div>
          <div class="validMes">
            <small class="text-danger"
                   *ngIf="certificate.invalid && certificate.touched">
              Сертифікат не прийнято, споробуйте ще раз
            </small>
            <small class="text-message"> {{ certMessage }} </small>
          </div>
        </div>
        <button *ngIf="addCert" class="addCertificateBtn" (click)="addCertificate()">Додати ще сертифікат</button>
        <div class="addBonus">
          <h5>Чи бажаєте Ви скористатися бонусами?</h5>
          <p>На Вашому бонусному рахунку: {{ points }} грн</p>
          <div class="form-check custom-control custom-radio">
            <input formControlName="bonus" id="customRadio1" value="yes" class="form-check-input custom-control-input input-border"
              type="radio" (click)="calculatePoints()">
            <label class="form-check-label custom-control-label" for="customRadio1">Так</label>
          </div>
          <div class="form-check custom-control custom-radio">
            <input formControlName="bonus" id="customRadio2" value="no" class="form-check-input custom-control-input input-border"
              type="radio" (click)="resetPoints()">
            <label class="form-check-label custom-control-label" for="customRadio2">Ні</label>
          </div>
          <small class="text-message" [class.d-none]="pointsUsed === 0"><span>Використано {{ pointsUsed }}
              грн</span><br><span>Залишилось {{ points }} грн</span></small>
        </div>
      </div>
    </div>
    <div class="bottom">
      <h3>Еко магазин</h3>
      <h5>Чи чекаєте Ви замовлення з нашого Еко-магазину?</h5>
      <div class="form-check custom-control custom-radio">
        <input formControlName="shop" id="customRadio3" value="yes" class="form-check-input custom-control-input"
          type="radio">
        <label class="form-check-label custom-control-label" for="customRadio3">Так</label>
      </div>
      <div class="form-check custom-control custom-radio">
        <input formControlName="shop" id="customRadio4" value="no" class="form-check-input custom-control-input"
          type="radio">
        <label class="form-check-label custom-control-label" for="customRadio4">Ні</label>
      </div>
      <div class="form-group shop_submit">
        <div class="bottom-text">
          <p>Якщо Ви не змогли знайти номер замовлення, вкажіть в коментарі прізвище та ім’я, на які робили замовлення.
          </p>
        </div>
        <div formArrayName="additionalOrders" *ngFor="let order of additionalOrders.controls; let i=index"
          class="form-group">
          <label class="label m-0">Введіть номер замовлення</label>
          <input [formControlName]="i" class="shadow-none form-control border-input p-2" type="text" placeholder="xxxxxxxxxx">
        </div>
        <button *ngIf="additionalOrders.controls.length < 5" class="addOrderBtn" (click)="addOrder()">Додати ще номер
          замовлення</button>
      </div>
    </div>
    <div class="bottom_comment">
      <div class="form-group comment">
        <h3>Коментар</h3>
        <textarea formControlName="orderComment" class="shadow-none form-control textarea" rows="5"
          placeholder="Будь-які деталі які Ви б хотіли повідомити додатково щодо цього замовлення"></textarea>
      </div>
      <div class="w-100 d-flex justify-content-end">
        <div>
        <button class="secondary-global-button btn btn-main" matStepperPrevious>Відмінити</button>
        <button type="submit" class="primary-global-button btn btn-main" matStepperNext [disabled]="onSubmit">Далі</button>
      </div>
      </div>
    </div>
  </form>
  <ng-template #spinner>
     <app-spinner></app-spinner>
  </ng-template>
 
</div>
