<div class="wrapper">
  <div class="content">
    <div class="main_header">{{ localization.title | translate }}</div>
    <div class="header-list">
      <div class="col-2 id">{{ localization.id | translate }}</div>
      <div class="col-5">{{ localization.themeMessages | translate }}</div>
      <div class="col-5 time">{{ localization.time | translate }}</div>
    </div>
    <div class="under-line"></div>
    <div class="load-spinner" *ngIf="isLoadSpinner">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>
    <div class="load-bar" *ngIf="isLoadBar">
      <mat-progress-bar class="custom-bar" mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="!isAnyMessages" class="if-empty">У вас ще немає повідомлень</div>
    <div *ngIf="isAnyMessages">
      <div
        *ngFor="
          let notification of notifications
            | paginate
              : {
                  id: 'pag',
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                }
        "
      >
        <mat-accordion>
          <mat-expansion-panel
            (click)="setRead(notification.id, notification.read)"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{ textColorTitle: !notification.read }">
                <div class="col-2">{{ notification.id }}</div>
              </mat-panel-title>
              <mat-panel-description [ngClass]="{ textColorTitle: !notification.read }" class="title">
                {{ notification.title }}
              </mat-panel-description>
              <mat-panel-description class="date" [ngClass]="{ textColorTitle: !notification.read }">
                {{ notification.notificationTime | date: 'HH:mm dd.MM.yyyy' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="load-spinner small" *ngIf="isLoadSmallSpinner && !notification.isOpen">
              <mat-spinner class="custom-spinner" diameter="60"></mat-spinner>
            </div>
            <div class="description" *ngIf="!isLoadSmallSpinner">
              <app-notification-body [body]="notification.body" [orderId]="notification.orderId"></app-notification-body>
            </div>
            <div *ngIf="notification.img" class="description title-img">Фотографії порушення</div>
            <div *ngIf="notification.img" class="description img"><img src="{{ notification.img }}" alt="" /></div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls
          autoHide="true"
          id="pag"
          class="my-pagination"
          previousLabel=""
          nextLabel=""
          directionLinks="true"
          maxSize="5"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
