<div [formGroup]="form" class="edit-notification-container">
  <h2 mat-dialog-title>{{ 'ubs-notifications.text-editing-popup.title' | translate }}&nbsp;{{ platform }}</h2>

  <div mat-dialog-content class="edit-notification-content">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'ubs-notifications.text-editing-popup.labels.ua' | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="edit-notification">
          <select #selectUa (change)="addMention($event.target, 'textUa')">
            <option disabled selected value="" hidden>Виберіть</option>
            <option *ngFor="let item of items" value="{{ textDecorator(item) }}">{{ item }}</option>
          </select>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'ubs-notifications.text-editing-popup.labels.text' | translate }}</mat-label>
            <textarea matInput #textUa formControlName="textUa" class="edit-text" [mentionConfig]="config"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'ubs-notifications.text-editing-popup.labels.en' | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="edit-notification">
          <select #selectEn (change)="addMention($event.target, 'textEn')">
            <option disabled selected value="" hidden>Select</option>
            <option *ngFor="let item of items" value="{{ textDecorator(item) }}">{{ item }}</option>
          </select>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'ubs-notifications.text-editing-popup.labels.text' | translate }}</mat-label>
            <textarea matInput #textEn formControlName="textEn" class="edit-text" [mentionConfig]="config"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div mat-dialog-actions class="controls">
    <button class="cancel-button" type="button" (click)="onCancel()">
      {{ 'ubs-notifications.text-editing-popup.buttons.cancel' | translate }}
    </button>
    <button class="submit-button" type="submit" [disabled]="!form.valid" (click)="onSubmit()">
      {{ 'ubs-notifications.text-editing-popup.buttons.change' | translate }}
    </button>
  </div>
</div>
