.edit-notification-container {
  width: 700px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  .edit-notification-content {
    padding-top: 5px;
    padding-bottom: 5px;

    .edit-notification {
      display: flex;
      flex-direction: column;
    }
  }

  .edit-text {
    min-height: 150px;
  }

  .controls {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;

    button {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      font-family: var(--secondary-font);
    }

    .cancel-button {
      width: 175px;
      height: 44px;
      border: 2px solid #87bc1e;
      border-radius: 15px;
      background-color: #fff;
    }

    .submit-button {
      width: 157px;
      height: 44px;
      background: #87bc1e;
      border: 2px solid #87bc1e;
      border-radius: 15px;
      color: #ffffff;

      &:disabled {
        background-color: #d4e7ae;
        border: #d4e7ae;
      }
    }
  }
}

::ng-deep mention-list {
  .dropdown-menu .dropdown-item {
    color: #444e55 !important;
    &:hover {
      background-color: #eaffbd !important;
      color: #444e55 !important;
    }
  }

  .active .dropdown-item {
    height: 32px;
    background-color: #eaffbd !important;
    color: #444e55 !important;
  }
}

/* ::ng-deep .mat-expanded{
  border-bottom: 1px solid #D9D9D9 !important;
}/**/

::ng-deep .mat-option:hover {
  background-color: #eaffbd !important;
  color: #444e55 !important;
}

.menu {
  background-color: #f3f3f3;
  position: absolute;
  cursor: pointer;
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 1rem;
}

.selector {
  width: 100px;
  border: none;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  :hover {
    border: none;
  }
}

.menu-item:hover:not(.selected) {
  background-color: #fafafa;
}

.menu-item.selected {
  background-color: slateGray;
  color: white;
}
