<div [formGroup]="form" class="edit-notification-container">
  <h2 mat-dialog-title>{{ 'ubs-notifications.text-editing-popup.title' | translate }}&nbsp;{{ platform }}</h2>

  <div mat-dialog-content class="edit-notification-content">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'ubs-notifications.text-editing-popup.labels.ua' | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="edit-notification">
          <mat-select
            #selectUa
            (selectionChange)="addMention($event.value, 'textUa')"
            placeholder="{{ 'ubs-notifications.text-editing-popup.labels.select' | translate }}"
            class="selector"
          >
            <mat-option *ngFor="let item of items" value="{{ textDecorator(item) }}" class="option">{{ item }} </mat-option>
          </mat-select>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'ubs-notifications.text-editing-popup.labels.text' | translate }}</mat-label>
            <textarea matInput #textUa formControlName="textUa" required class="edit-text"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ 'ubs-notifications.text-editing-popup.labels.en' | translate }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="edit-notification">
          <mat-select
            #selectEn
            (selectionChange)="addMention($event.value, 'textEn')"
            placeholder="{{ 'ubs-notifications.text-editing-popup.labels.select' | translate }}"
            class="selector"
          >
            <mat-option *ngFor="let item of items" value="{{ textDecorator(item) }}">{{ item }} </mat-option>
          </mat-select>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'ubs-notifications.text-editing-popup.labels.text' | translate }}</mat-label>
            <textarea matInput #textEn formControlName="textEn" required class="edit-text"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div mat-dialog-actions class="controls">
    <button class="cancel-button" type="button" (click)="onCancel()">
      {{ 'ubs-notifications.text-editing-popup.buttons.cancel' | translate }}
    </button>
    <button class="submit-button" type="submit" [disabled]="!form.valid" (click)="onSubmit()">
      {{ 'ubs-notifications.text-editing-popup.buttons.change' | translate }}
    </button>
  </div>
</div>
