.edit-notification-container {
  width: 700px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  .edit-notification-content {
    padding-top: 5px;
    padding-bottom: 5px;

    .edit-notification {
      display: flex;
      flex-direction: column;
    }
  }

  .edit-text {
    min-height: 150px;
  }

  .controls {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;

    .cancel-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background-color: transparent;
      border: 1px solid var(--ubs-quaternary-dark-grey);
    }

    .submit-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background: var(--ubs-button-light-green);
      border: 0;

      &:disabled {
        background-color: var(--ubs-primary-light-grey);
      }
    }
  }
}

.menu {
  background-color: #f3f3f3;
  position: absolute;
  cursor: pointer;
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 1rem;
}

.menu-item:hover:not(.selected) {
  background-color: #fafafa;
}

.menu-item.selected {
  background-color: slateGray;
  color: white;
}
