@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$borderColor: #bebebe;
$color-greenCity-green: #13aa57;

:host {
  width: 100%;
  max-width: 945px;
}

.habit-wrp {
  background: #f8f9fa;
  border-radius: 8px;
  height: 295px;
  margin-bottom: 30px;
  padding: 3.4% 3.2%;
}

.habit__container {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
}

.habit__header-wrp {
  display: grid;
  grid-template-rows: 20px auto 48px;
  row-gap: 30px;
}

.habit__picture-wrp {
  display: none;

  img {
    align-self: center;
    width: 100%;
    display: block;
  }
}

.habit__header {
  color: $color-greenCity-green;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 16px;
  overflow: auto;
  white-space: nowrap;

  div {
    width: max-content;
  }

  .calendar {
    padding-right: 18px;
    border-right: 1px solid $borderColor;

    img {
      margin-right: 18px;
    }
  }

  .aquired,
  .tags {
    padding: 0 18px;
    border-right: 1px solid $borderColor;
  }

  .stars {
    padding: 0 18px;
  }
}

.habit__info {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #494a49;

  p,
  h2 {
    margin: 0;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .description {
    font-size: 18px;
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.habit__action-wrp {
  display: flex;

  button {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    font-weight: 600;
  }

  .primary-global-button {
    width: 155px;
    margin-right: 25px;
  }

  .secondary-global-button {
    background: transparent;
    width: 120px;
  }
}

@media (min-width: 768px) {
  .habit__picture-wrp {
    display: flex;

    .habit__picture {
      width: 130%;
      height: 120%;
      position: relative;
      overflow: hidden;
      direction: ltr;
      top: -10%;
    }

    img {
      height: 80%;
      top: 10%;
      width: 120%;
      position: absolute;
    }
  }

  .habit__container {
    display: grid;
    grid-template-columns: 69% 28%;
    column-gap: 20px;
  }

  .habit-wrp {
    padding: 3.4% 0 3.4% 3.2%;
  }
}

@media (min-width: 992px) {
  .habit__picture-wrp {
    img {
      top: 0;
      height: 100%;
    }
  }

  .habit__container {
    grid-template-columns: 69% 29%;
  }
}
