<form [formGroup]="courierForm">
  <div class="w-100">
    <p *ngIf="!data.edit" class="add-location-title">{{ 'ubs-tariffs-add-location-pop-up.courier_title' | translate }}</p>
    <p *ngIf="data.edit" class="add-location-title">{{ 'ubs-tariffs-add-location-pop-up.courier_edit_title' | translate }}</p>
  </div>
  <app-dialog-tariff [row]="form" [newDate]="newDate" [name]="authorName" [edit]="data.edit"></app-dialog-tariff>
  <ng-template #form>
    <p *ngIf="data.edit" class="edit-text">{{ 'ubs-tariffs-add-location-pop-up.courier_edit_text' | translate }}</p>
    <div class="d-flex">
      <div>
        <div class="form-group">
          <label>{{ 'ubs-tariffs-add-location-pop-up.courier' | translate }}</label>
          <input
            type="text"
            class="shadow-none form-control"
            formControlName="name"
            #autocompleteTrigger="matAutocompleteTrigger"
            [placeholder]="courierPlaceholder | translate"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCourier($event)">
            <ng-container *ngIf="data.edit">
              <mat-option *ngFor="let name of couriersName" [value]="name">
                {{ name }}
              </mat-option>
            </ng-container>
          </mat-autocomplete>

          <img
            *ngIf="data.edit"
            [src]="icons.arrowDown"
            class="arrowDown-img"
            alt="arrowDown"
            (click)="openAuto($event, autocompleteTrigger)"
          />
          <img
            *ngIf="name.value.length && !data.edit"
            [src]="icons.cross"
            class="cross-img"
            alt="close-icon"
            (click)="setNewCourierName()"
          />
          <div class="error" *ngIf="name.invalid && name.touched">
            <p class="validation">{{ 'ubs-tariffs-add-location-pop-up.error' | translate }}</p>
          </div>
          <div class="error" *ngIf="courierExist || enCourierExist">
            <p class="validation">{{ 'ubs-tariffs-add-location-pop-up.courierExist' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'ubs-tariffs-add-location-pop-up.courier' | translate }}</label>
        <input
          type="text"
          class="shadow-none form-control"
          formControlName="englishName"
          [matAutocomplete]="auto2"
          #autocompleteTrigger="matAutocompleteTrigger"
          [placeholder]="courierPlaceholder | translate"
        />
        <mat-autocomplete #auto2="matAutocomplete">
          <ng-container *ngIf="data.edit">
            <mat-option *ngFor="let nameEng of couriersNameEng" [value]="nameEng">
              {{ nameEng }}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <img
          *ngIf="englishName.value.length && !data.edit"
          [src]="icons.cross"
          class="cross-img"
          alt="close-icon"
          (click)="englishName.setValue('')"
        />
        <div class="error" *ngIf="englishName.invalid && englishName.touched">
          <p class="validation">{{ 'ubs-tariffs-add-location-pop-up.error' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end buttons" mat-dialog-actions>
      <button class="secondary-global-button btn m-0 mr-2" mat-button (click)="onNoClick()">
        {{ 'ubs-tariffs-add-location-pop-up.cancel_button' | translate }}
      </button>
      <button
        *ngIf="!data.edit"
        class="primary-global-button btn m-0"
        [disabled]="courierForm.invalid || courierExist"
        (click)="addCourier()"
      >
        {{ 'ubs-tariffs-add-location-pop-up.add_button' | translate }}
      </button>
      <button
        *ngIf="data.edit"
        class="primary-global-button btn m-0"
        [disabled]="courierForm.invalid || courierExist || enCourierExist"
        (click)="editCourier()"
      >
        ed?
        {{ 'ubs-tariffs-add-location-pop-up.save_button' | translate }}
      </button>
    </div>
  </ng-template>
</form>
