<div class="progress">
  <div class="progress__item">
  <div class="item__title">{{ progress[0].name }}</div>
  <div class="item__number">{{ progress[0].quantity }}</div>
</div>
<div class="progress__item">
  <div class="item__title">{{ progress[1].name }}</div>
  <div class="item__number">{{ progress[1].quantity }}</div>
</div>
<div class="progress__item">
  <div class="item__title">{{ progress[2].name }}</div>
  <div class="item__number">{{ progress[2].quantity }}</div>
</div>
<div class="progress__item">
  <div class="item__title">{{ progress[2].name }}</div>
  <div class="item__number">{{ progress[2].quantity }}</div>
</div>
</div>
