.progress {
  display: flex;
  flex-flow: row wrap;
  height: 340px;
  padding: 30px 0;
  background: #f5f7f6;
  justify-content: space-around;
  border-top: 2px solid #EAEEF3;
  border-bottom: 2px solid #EAEEF3;
  
  .progress__item {
    width: 130px;
    height: 130px;
    padding: 10px;
    background: #ecf1ef;
    border-radius: 4px;
    text-align: left;
    .item__title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #494a49;
    }

    .item__number {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 65px;
      background: linear-gradient(180deg, #abe64d 0%, #4b9b25 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
