

<input (keyup)="applyFilter($event.target.value)" placeholder="Search" class="search">
<input (keyup)="applyFilter($event.target.value)" placeholder="Статус замовлення">
<input (keyup)="applyFilter($event.target.value)" placeholder="Оплата">
<input (keyup)="applyFilter($event.target.value)" placeholder="Filter">

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" cdkDropListGroup>

  <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.field" >
    
    
    <mat-header-cell *matHeaderCellDef
      cdkDropList
      cdkDropListLockAxis="x"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropListDropped($event, i)"
      cdkDrag
      (cdkDragStarted)="dragStarted($event, i)"
      [cdkDragData]="{name: column.field, columIndex: i}" mat-sort-header >
      

      <div *ngIf="column.field !== 'select';else unset">
       {{column.field}}
      </div>

      <ng-template  #unset><mat-checkbox
        (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </ng-template>

    </mat-header-cell>
  


      <mat-cell *matCellDef="let row" >
        <div *ngIf="column.field !== 'select';else unset"> {{row[column.field]}}</div>
        <ng-template  #unset  class="checkbox"><mat-checkbox
                   
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
        </mat-checkbox></ng-template>
    </mat-cell>
    

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
 
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>


<div>
<mat-paginator [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons></mat-paginator>
</div>



 
 

