img {
    width: 20%;
}

table {
    width: 95%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .example-list {
    width: 1000px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  ::ng-deep .mat-header-cell {
      background-color: #444E55;;
      color: #CACFD3;
      border: 1px solid #CACFD3;
      display:flex;
      justify-content: center;
      font-size: 14px;
      flex: 0 0 15% !important;
      word-wrap: break-word !important;
      white-space:  nowrap !important;
  }

  mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0px;
    
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, 
mat-header-cell:first-of-type {
  padding-left: 0px;
  flex: 0 0 4% !important;
  display: flex;
}

  ::ng-deep .mat-cell {
    border: 1px solid #CACFD3;
    display: flex;
    justify-content: center;
    font-size: 14px;
    word-wrap: break-word !important;
    white-space:  nowrap !important;
    flex: 0 0 15% !important;
  }

  ::ng-deep table {
    margin-left: 50px;
  }

  input {
    display: inline-block;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
margin: 20px;
position: static;
width: 158px;
height: 36px;
left: calc(50% - 258px/2);
top: calc(50% - 36px/2);

/* Greyscale/00.White */

background: #FFFFFF;
/* Greyscale/05 */

border: 1px solid #9CA7B0;
box-sizing: border-box;
border-radius: 4px;
  }

  .search {
    margin-left: 250px;
  }
  