<div class="form-container">
  <form [formGroup]="addPlaceForm" (click)="$event.stopPropagation()">
    <div class="form-field">
      <label for="type" class="label"> {{ 'places.category' | translate }} <span class="hint">Hint</span></label>
      <select formControlName="type" class="input" [class.ng-invalid]="type.invalid && type.touched">
        <option *ngFor="let categories of filterCategories" value="{{ categories.name }}">
          {{ localStorageService.getCurrentLanguage() === 'en' ? categories.name : categories.nameUa }}
        </option>
      </select>
    </div>
    <div class="form-field">
      <label for="name" class="label">{{ 'places.name' | translate }} <span class="hint">Hint</span></label>
      <input
        class="input"
        type="text"
        formControlName="name"
        placeholder="{{ 'places.name' | translate }}"
        [class.ng-invalid]="name.invalid && name.touched"
      />
      <button class="btn-close" matSuffix mat-icon-button aria-label="Clear" (click)="clear('name')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="form-field">
      <label for="address" class="label">{{ 'places.address' | translate }} <span class="hint">Hint</span></label>
      <app-address-input
        class="input"
        formControlName="address"
        [class.ng-invalid]="address.invalid && address.touched"
        (getAddressData)="onLocationSelected($event)"
      >
      </app-address-input>
      <button class="btn-close" matSuffix mat-icon-button aria-label="Clear" (click)="clear('address')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-time-picker-pop-up (timeOfWork)="getTimeOfWork($event)"></app-time-picker-pop-up>
  </form>
  <div class="btn-wrapper">
    <button class="secondary-global-button" (click)="cancel()">{{ 'places.btn.cancel' | translate }}</button>
    <button class="primary-global-button" [disabled]="addPlaceForm.invalid || !workingTimeIsValid" (click)="addPlace()">
      {{ 'places.btn.add' | translate }}
      <span class="message-details">
        {{ 'places.validation.information-message' | translate }}
        <ul>
          <li *ngIf="type.invalid">{{ 'places.validation.category' | translate }}</li>
          <li *ngIf="name.invalid">{{ 'places.validation.name' | translate }}</li>
          <li *ngIf="address.invalid">{{ 'places.validation.address' | translate }}</li>
          <li *ngIf="!workingTimeIsValid">{{ 'places.validation.time' | translate }}</li>
        </ul>
      </span>
    </button>
  </div>
</div>
