<div class="container">

  <div class="illustration-man"></div>

  <div class="full-text-block">
    <h2>Про нас</h2>

    <span>Проект GreenCity має на меті вирішити проблему змін у поведінці та способі життя населення.
      Кожен з нас в змозі змінити світ на краще своїми щоденними діями.
    </span>

    <button>Сформувати звичку</button>
  </div>

</div>

<div class="container-2">

  <div class="full-text-block">
    <h2>Наше бачення</h2>

    <span>Допомогти людям отримувати стійкі екологічні звички простим та веселим способом та отримати підтримку однодумців.
    </span>

    <button>Сформувати звичку</button>
  </div>

</div>

<footer>
  <app-footer></app-footer>
  <div class="copyright">
    &copy; Copyright {{ actualYear }}. Green City.
  </div>
</footer>
