<div class="container">

  <div class="illustration-man"></div>
  <div class="leaf"></div>
  <div class="vector-bg"></div>

  <div class="full-text-block">
    <h2>Про нас</h2>

    <span>
      Проект GreenCity має на меті вирішити проблему змін у поведінці та способі життя населення.
      Кожен з нас в змозі змінити світ на краще своїми щоденними діями.
    </span>

    <button>Сформувати звичку</button>
  </div>

</div>

<div class="vector-bg-2"></div>
<div class="cup-img"></div>


<div class="container-2">

  <div class="full-text-block">
    <h2>Наше бачення</h2>

    <span>Допомогти людям отримувати стійкі екологічні звички простим та веселим способом та отримати підтримку однодумців.
    </span>

    <button>Сформувати звичку</button>
  </div>

</div>

<div class="steps-main-block">
  <div class="dashed-line">
    <div class="leaves"></div>
  </div>
  <h2>З нами легше</h2>

  <div class="card-holder-odd first-card-holder">
    <span class="number-title num1"></span>
    <h3 class="card-h3">Не маю часу<br/> шукати екомагазини</h3>
    <div class="bg-image bg1"></div>
    <span class="main-card-text">
      Ми допоможемо швидко знайти<br/>
      еко-місця поблизу своїх домівок та офісів.<br/>
      А також розкажемо вам про знижки.
    </span>
    <a class="card-a" href="">Знайти еко-місця</a>
  </div>

  <div class="card-holder-even">
    <span class="number-title num2"></span>
    <h3 class="card-h3">Не знаю, як зробити<br/> краще для екологiї</h3>
    <div class="bg-image bg2"></div>
    <span class="main-card-text">
      З нами ви надихнетесь переліком<br/>
      можливих екологічних звичок з<br/>
      нашого розділу "Поради"
    </span>
    <a class="card-a" href="">Перейти до розділу "Поради"</a>
  </div>

  <div class="card-holder-odd">
    <span class="number-title num3"></span>
    <h3 class="card-h3">Не маю часу<br/> шукати екомагазини</h3>
    <div class="bg-image bg3"></div>
    <span class="main-card-text">
      Ми допоможемо швидко знайти<br/>
      еко-місця поблизу своїх домівок та офісів.<br/>
      А також розкажемо вам про знижки.
    </span>
    <a class="card-a" href="">Знайти еко-місця</a>
  </div>

  <div class="card-holder-even">
    <span class="number-title num4"></span>
    <h3 class="card-h3">Не маю часу<br/> шукати екомагазини</h3>
    <div class="bg-image bg4"></div>
    <span class="main-card-text">
      Ми допоможемо швидко знайти<br/>
      еко-місця поблизу своїх домівок та офісів.<br/>
      А також розкажемо вам про знижки.
    </span>
    <a class="card-a" href="">Знайти еко-місця</a>
  </div>

  <div class="card-holder-odd">
    <span class="number-title num5"></span>
    <h3 class="card-h3">Не маю часу<br/> шукати екомагазини</h3>
    <div class="bg-image bg5"></div>
    <span class="main-card-text">
      Ми допоможемо швидко знайти<br/>
      еко-місця поблизу своїх домівок та офісів.<br/>
      А також розкажемо вам про знижки.
    </span>
    <a class="card-a" href="">Знайти еко-місця</a>
  </div>


</div>

<footer>
  <app-footer></app-footer>
  <div class="copyright">
    &copy; Copyright {{ actualYear }}. Green City.
  </div>
</footer>
