$second-color: #6a8079;

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  height: 20px;
  margin-bottom: 28px;
}

.rangeLabel {
  height: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  .text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: $second-color;
  }
}

.message {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $second-color;
}

.habit-slider {
  width: 100%;
  --mdc-slider-handle-color: var(--primary-green);
  --mdc-slider-focus-handle-color: var(--primary-green);
  --mdc-slider-active-track-color: var(--primary-green);

  --mdc-slider-label-container-color: var(--primary-white);

  --mdc-slider-label-label-text-color: black;
  --mdc-slider-label-label-text-weight: bold;
  --mdc-slider-label-label-text-font: var(--secondary-font);
  --mdc-slider-label-label-text-size: 16px;
  --mat-mdc-slider-value-indicator-opacity: 1;

  --mdc-slider-inactive-track-color: rgba(0, 0, 0, 0.7);

  --mat-mdc-slider-hover-ripple-color: rgba(19, 170, 87, 0.2);
  --mat-mdc-slider-focus-ripple-color: rgba(19, 170, 87, 0.2);
}
