<div class="title">{{ 'user.habit.duration.title' | translate }}</div>
<div class="thumbLabel">{{ habitDuration.value }} {{ 'user.habit.duration.day' | translate }}</div>
<input
  [formControl]="habitDuration"
  class="form-control-range"
  type="range"
  min="7"
  max="56"
  step="1"
  appGradient
  (input)="updateDuration()"
  #range
/>
<div class="rangeLabel">
  <div class="text">{{ range.min }} {{ 'user.habit.duration.day' | translate }}</div>
  <div class="text">{{ range.max }} {{ 'user.habit.duration.day' | translate }}</div>
</div>
<div class="message">{{ 'user.habit.duration.text' | translate }}</div>
