@import '../../../../../../typography/_colorsUbs.scss';

div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

.readonly_date {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.un-paid {
  background-color: var(--primary-white) !important;
}

.paid {
  background-color: #ffff00 !important;
}

.half-paid {
  background-color: #fff9d2 !important;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  text-align: justify;
  max-width: 350px !important;
}

.order-number {
  color: var(--ubs-dark-purple);
}
