<div
  class="payment-wrapper"
  *ngIf="key !== 'orderDate' && key !== 'paymentDate' && key !== 'id'"
  [ngClass]="{ 'un-paid': data === paymentStatus.UNPAID, 'half-paid': data === paymentStatus.HALF_PAID, paid: data === paymentStatus.PAID }"
>
  <div
    class="readonly"
    #tooltip="matTooltip"
    [matTooltip]="title | serverTranslate: lang"
    (mouseenter)="onHover($event, tooltip)"
    matTooltipClass="my-custom-tooltip"
    #el
  >
    {{ (dataObj ? dataObj : data) | serverTranslate: lang }}
  </div>
</div>

<div *ngIf="key === 'id'" class="order-number readonly" [ngClass]="{ pointer: key === 'id' }">
  {{ (dataObj ? dataObj : data) | serverTranslate: lang }}
</div>

<div class="readonly readonly_date" *ngIf="key === 'orderDate' || key === 'paymentDate'">
  <span>{{ title | date: 'dd.MM.y' }}</span>
</div>
