.chart-wrapper {
  position: relative;
  width: fit-content;
}

.chart-caption {
  color: #000;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  left: 2px;
  letter-spacing: normal;
  line-height: normal;
  position: absolute;
  top: 18px;
  z-index: 1;
}

.chart-bg-shape {
  position: relative;
  height: auto;
  width: 262px;
}

.chart-canvas {
  top: 14px;
  left: 29px;
}

@media screen and (max-width: 768px) {
  .chart-wrapper {
    margin: 0 auto;
  }
}
