<div>
  <mat-form-field appearance="standard">
    <mat-label>Введіть тут</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
  </mat-form-field>
  <div
    id="table-container"
    class="scrolling"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="true"
  >
    <table id="table" class="table" mat-table [dataSource]="dataSource" *ngIf="!isLoading; else spinner">
      <caption>
        Employees table
      </caption>
      <ng-container class="column.field" matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef>
          <th id="name">
            <span class="column-title">Ім'я працівника</span>
          </th>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="column.field">
          <div>
            <span>{{ row.firstName }} {{ row.lastName }}</span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container class="column.field" matColumnDef="position">
        <mat-header-cell *matHeaderCellDef>
          <th id="position" class="drop" (click)="openPositions()">
            <span class="column-title">Посада</span>
          </th>
          <div class="check" *ngIf="isPositionsOpen">
            <div *ngFor="let position of allPositions">
              <input type="checkbox" name="{{ position.id }}" [value]="position.id" (change)="getPositionId($event, position.id)" />
              {{ position.name }}
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="column.field">
          <div>
            <span *ngFor="let col of row.employeePositions">{{ col.name }} <br /></span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container class="column.field" matColumnDef="location">
        <mat-header-cell *matHeaderCellDef>
          <th id="station" class="drop" (click)="openStations()">
            <span class="column-title">Станція приймання</span>
          </th>
          <div class="check" *ngIf="isStationsOpen">
            <div *ngFor="let station of allStations">
              <input type="checkbox" name="{{ station.name }}" [value]="station.id" (change)="getStationId($event, station.id)" />
              {{ station.name }}
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="column.field">
          <div>
            <span *ngFor="let col of row.receivingStations">{{ col.name }} <br /></span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container class="column.field" matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>
          <th id="email">
            <span class="column-title">email</span>
          </th>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="column.field">
          <div>
            <span>{{ row.email }} </span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container class="column.field" matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef>
          <th id="phone">
            <span class="column-title">Телефон</span>
          </th>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="column.field">
          <div>
            <span>{{ row.phoneNumber }}</span>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" #tableHeaderRow class="tableHeaderRow"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
    <app-spinner *ngIf="isUpdateTable"></app-spinner>
    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</div>
