<div class="main-container">
  <div class="main-image">
    <img [src]="signUpImgs.mainImage"
         alt="main-image"
    >
  </div>

  <div class="main-content">
    <div class="close-btn">
      <div class="close-btn-img">
        <a (click)="closeSignUpWindow()">
          <img [src]="signUpImgs.cross"
               alt="cross"
               class="cross-img"
          >
        </a>
      </div>
    </div>
    <div class="main-content-container">
      <div class="title">
        <h1 class=""title-text>
          {{ 'user.auth.sign-up.title-up' | translate }}
        </h1>
      </div>
      <div class="subtitle">
        <h2 class="subtitle-text">
          {{ 'user.auth.sign-up.fill-form-up' | translate }}
        </h2>
      </div>
      <form #signUpForm="ngForm"
            (ngSubmit)="onSubmit(userOwnSignUp)"
      >
        <div class="form-content-container">
          <label class="content-label">
            {{ 'user.auth.sign-up.email' | translate }}
          </label>
          <input type="email"
                 class="main-data-input"
                 placeholder="example@email.com"
                 #emailControl="ngModel"
                 name="email"
                 [(ngModel)]="userOwnSignUp.email"
                 [ngClass]="emailControl.invalid &&
                 (emailControl.dirty || emailControl.touched) ?
                 'wrong-input':'main-data-input'"
                 required
                 minlength="1"
                 email="true"
          >
          <div class="error-message"
               [ngClass]="emailControl.invalid &&
               (emailControl.dirty || emailControl.touched) || emailErrorMessageBackEnd ?
               'error-message-show':'error-message'"
          >
            <div *ngIf="emailControl.errors?.required">
              {{'user.auth.sign-up.email-is-required' | translate}}
            </div>
            <div *ngIf="emailControl.errors?.minlength">
              {{'user.auth.sign-up.email-must-be-at-least-1-characters-long' | translate}}
            </div>
            <div *ngIf="emailControl.errors?.email">
              {{'user.auth.sign-up.this-is-not-email' | translate}}
            </div>
            <div *ngIf="emailErrorMessageBackEnd">
              {{ emailErrorMessageBackEnd }}
            </div>
          </div>
          <label class="content-label under-error">
            {{ 'user.auth.sign-up.first-name' | translate }}
          </label>
          <input type="text"
                 class="main-data-input"
                 placeholder="{{ 'user.auth.sign-up.first-name-is-required' | translate }}"
                 name="fistName"
                 #firstNameControl="ngModel"
                 [(ngModel)]="userOwnSignUp.firstName"
                 required
                 maxlength="20"
          >
          <label class="content-label">
            {{ 'user.auth.sign-up.password' | translate }}
          </label>
          <div class="main-data-input-password"
               [ngClass]="passwordControl.invalid &&
               (passwordControl.dirty || passwordControl.touched) ?
               'main-data-input-password wrong-input' : 'main-data-input-password'"
          >
            <input type="password"
                   placeholder="{{ 'user.auth.sign-up.password' | translate }}"
                   class="password-input"
                   #inputPassword
                   #passwordControl="ngModel"
                   [(ngModel)]="userOwnSignUp.password"
                   required
                   minlength="8"
                   name="form-control password"
            >
            <span class="show-password">
              <img [src]="signUpImgs.hiddenEye"
                   alt="eye"
                   class="show-password-img"
                   #inputPasswordImg
                   (click)="setPasswordVisibility(inputPassword, inputPasswordImg)"
              >
            </span>
          </div>
          <div class="error-message"
               [ngClass]="passwordControl.invalid &&
               (passwordControl.dirty || passwordControl.touched) ?
               'error-message-show' : 'error-message'"
          >
            <div *ngIf="passwordControl.errors?.required">
              {{'user.auth.sign-up.password-is-required' | translate}}
            </div>
            <div *ngIf="passwordControl.errors?.minlength">
              {{'user.auth.sign-up.password-must-be-at-least-8-characters-long' | translate}}
            </div>
          </div>
          <label class="content-label under-error">
            {{ 'user.auth.sign-up.password-confirm' | translate }}
          </label>
          <div class="main-data-input-password"
               [ngClass]="passwordControlConfirm.invalid &&
               (passwordControlConfirm.dirty || passwordControlConfirm.touched) ?
               'main-data-input-password wrong-input':'main-data-input-password'"
               #repeatInput
          >
            <input type="password"
                   placeholder="{{ 'user.auth.sign-up.password' | translate }}"
                   class="password-input"
                   #repeatPassword
                   #passwordControlConfirm="ngModel"
                   [(ngModel)]="tmp"
                   name="form-control password-confirm"
                   (input)="matchPassword(inputPassword, repeatPassword, repeatInput)"
                   required
            >
            <span class="show-password">
              <img [src]="signUpImgs.hiddenEye"
                   alt="eye"
                   class="show-password-img"
                   #repeatPasswordImg
                   (click)="setPasswordVisibility(repeatPassword, repeatPasswordImg)"
              >
            </span>
          </div>
          <div class="error-message"
               [ngClass]="passwordControlConfirm.invalid &&
               (passwordControlConfirm.dirty || passwordControlConfirm.touched) ||
               (inputPassword.value !== repeatPassword.value && repeatPassword.value !== '') ||
               passwordErrorMessageBackEnd ?
               'error-message-show' : 'error-message'"
          >
            <div *ngIf="passwordControlConfirm.errors?.required">
              {{'user.auth.sign-up.password-is-required' | translate}}
            </div>
            <div *ngIf="inputPassword.value !== repeatPassword.value &&
                  !passwordControlConfirm.errors?.required"
            >
              {{'user.auth.sign-up.password-match' | translate}}
            </div>
            <div *ngIf="passwordErrorMessageBackEnd">
              {{ passwordErrorMessageBackEnd }}
            </div>
          </div>
          <button type="submit"
                  class="primary-global-button"
                  [disabled]="!signUpForm.valid"
          >
            <span [ngClass]="loadingAnim ?
                  'spinner-visible' :
                  'spinner-hidden'"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true">
            </span>
            <span>
              {{ 'user.auth.sign-up.submit' | translate }}
            </span>
          </button>
          <div class="switch-sign-up">
            {{'user.auth.sign-up.or' | translate}}
          </div>
          <button type="submit"
                  class="cta-button-google"
                  (click)="signInWithGoogle()"
          >
            <img [src]="signUpImgs.google"
                 alt="google"
                 class="sign-up-google-img"
            >
            <span class="sign-up-google-text">
              {{ 'user.auth.sign-up.submit-with-google' | translate }}
            </span>
          </button>
        </div>
      </form>

      <div class="exist-account">
        <span>
          {{ 'user.auth.sign-up.haveyou-account' | translate }}
          <a class="exist-sign-in"
             (click)="openSignInWindow()">
            {{ 'user.auth.sign-up.enter' | translate }}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
