<div class="main-container">
  <div class="main-image">
    <img [src]="signUpImgs.mainImage"
         alt="main-image"
    >
  </div>

  <div class="main-content">
    <div class="close-btn">
      <div class="close-btn-img">
        <a (click)="closeSignUpWindow()">
          <img [src]="signUpImgs.cross"
               alt="cross"
               class="cross-img"
          >
        </a>
      </div>
    </div>
    <div class="main-content-container">
      <div class="title">
        <h1 class=""title-text>
          Вітаємо!
        </h1>
      </div>
      <div class="subtitle">
        <h2 class="subtitle-text">
          Будь ласка, внесіть свої дані для реєстрації.
        </h2>
      </div>
      <form action="submit">
        <div class="form-content-container">
          <label class="content-label">
            Електронна пошта
          </label>
          <input type="email"
                 class="main-data-input"
                 placeholder="example@email.com"
          >
          <label class="content-label">
            Ваше ім’я
          </label>
          <input type="text"
                 class="main-data-input"
                 placeholder="Ваше ім’я"
          >
          <label class="content-label">
            Пароль
          </label>
          <div class="main-data-input-password">
            <input type="password"
                   placeholder="Пароль"
                   class="password-input"
            >
            <span class="show-password">
              <img [src]="signUpImgs.hiddenEye"
                   alt="eye"
                   class="show-password-img"
              >
            </span>
          </div>
          <label class="content-label">
            Повторіть пароль
          </label>
          <div class="main-data-input-password">
            <input type="password"
                   placeholder="Пароль"
                   class="password-input"
            >
            <span class="show-password">
              <img [src]="signUpImgs.hiddenEye"
                   alt="eye"
                   class="show-password-img"
              >
            </span>
          </div>
          <button type="submit"
                  class="cta-button"
          >
            Зареєструватись
          </button>
          <div class="switch-sign-up">
            або
          </div>
          <button type="submit"
                  class="cta-button-google"
          >
            <img [src]="signUpImgs.google"
                 alt="google"
                 class="sign-up-google-img"
            >
            <span class="sign-up-google-text">
              Зареєструватись через Google
            </span>
          </button>
        </div>
      </form>

      <div class="exist-account">
        <span>
          Вже маєете аккаунт?
          <a href="#" class="exist-sign-in">Увійти</a>
        </span>
      </div>
    </div>
  </div>
</div>
