@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$title-font: 'Montserrat';
$main-font: 'Open Sans';
$sign-up-google-font: 'Roboto';

.main-container {
  display: flex;
  max-width: 960px;
  max-height: 760px;
  z-index: 2000;
  font-family: $main-font;

  .close-btn {
    margin: 24px 24px 0 20px;
    display: flex;
    justify-content: flex-end;

    .cross-img {
      width: 12px;
      height: 12px;
    }
  }

  .main-image {
    border-radius: 4px 0px 0px 4px;
  }

  .main-content-container {
    margin: 0 55px;
    width: 370px;

    .title-text {
      margin: 0 0 8px;
      font-family: $title-font;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      color: #2B292D;
    }

    .subtitle-text {
      font-size: 16px;
      line-height: 16px;
      color: #494A49;
    }

    .form-content-container {
      display: flex;
      flex-direction: column;
      margin: 19px 0 40px;

      .content-label {
        margin: 21px 0 4px;
        font-size: 12px;
        line-height: 14px;
        color: #494A49;
      }

      .under-error {
        margin: 9px 0 4px;
      }

      .main-data-input {
        padding: 12px 40px 12px 16px;
        border: 1px solid #878787;
        box-sizing: border-box;
        border-radius: 5px;
      }

      .main-data-input::placeholder {
        color: #878787;
      }

      .main-data-input-password {
        height: 48px;
        border: 1px solid #878787;
        box-sizing: border-box;
        border-radius: 5px;

        .password-input {
          padding-left: 16px;
          border: transparent;
          border-radius: 5px;
          width: 90%;
        }

        .password-input:focus {
          height: 46px;
        }

        .show-password {
          width: 10%;
          background: #FFFFFF;
        }

        .show-password-img {
          margin: 16px 16px 16px 0;
          width: 16px;
          height: 16px;
          cursor: pointer;
        }

      }

      .wrong-input {
        border: 1px solid #F03127;
      }

      .error-message {
        height: 10px;
        font-size: 10px;
        line-height: 12px;
        color: #F03127;
        visibility: hidden;
      }

      .error-message-show {
        margin-bottom: 10px;
        visibility: visible;
      }

      .primary-global-button {
        margin-top: 28px;
        padding: 16px 116px 16px 100px;
        font-weight: 600;
        border-radius: 3px;

        .spinner-visible {
          visibility: visible;
        }

        .spinner-hidden {
          visibility: hidden;
        }
      }

      .switch-sign-up {
        margin: 8px 0;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: #494A49;
      }

      .cta-button-google {
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24),
        0px 0px 2px rgba(0, 0, 0, 0.24);
        border-radius: 3px;
        font-family: $sign-up-google-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.21875px;
        color: #494A49;

        .sign-up-google-img {
          padding: 11px 0 11px 11px;
        }

        .sign-up-google-text {
          margin: 12px 66px 12px 66px;
        }
      }
    }

    .exist-account {
      margin: 0 0 40px;
      font-size: 16px;
      line-height: 16px;
      color: #494A49;
    }

    .exist-sign-in {
      text-decoration: underline;
      color: #056B33;
    }
  }
}
@media screen and (max-width: 1024px) {
  .main-image {
    display: none;
  }
}
