.tip-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  height: 296px;
  padding: 30px 40px 62px;
  overflow: hidden;
  width: 460px;
}

.tip-card .tip-image-wrapper {
  height: 56px;
  margin: 0 auto 38px;
  width: fit-content;
}

.tip-card .tip-image-wrapper img {
  height: 100%;
  width: auto;
}

.tip-card p {
  color: #324148;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
