<div class="load-spinner" *ngIf="isNotification && !isDownloadDataNotification">
  <mat-spinner class="custom-spinner"></mat-spinner>
</div>
<div class="container" *ngIf="(bags.length && personalData) || (isNotification && isDownloadDataNotification)">
  <div class="header">
    <h3 class="font-bolt order-title">{{ 'order-details.your-order' | translate }}</h3>
  </div>
  <form class="form">
    <div class="labels-box">
      <label class="label">{{ 'order-details.service' | translate }}</label>
      <label class="label">{{ 'order-details.volume' | translate }}</label>
      <label class="label">{{ 'order-details.cost' | translate }}</label>
      <label class="label">{{ 'order-details.number-of-packages' | translate }}</label>
      <label class="label label-total">{{ 'order-details.sum' | translate }}</label>
    </div>
    <div class="services">
      <ul class="services-list w-100 p-0 m-0">
        <li class="services-list_item d-flex justify-content-between align-items-baseline" *ngFor="let bag of bags">
          <ng-container *ngIf="bag.quantity">
            <span class="bag-name">{{ getLangValue(bag.name, bag.nameEng) }}</span>
            <span class="bag-name">{{ bag.capacity }} {{ 'order-details.litr' | translate }}</span>
            <span class="bag-name">{{ bag.price | currency }} {{ 'order-details.currency' | translate }}</span>
            <span class="bag-name">{{ bag.quantity }} {{ 'order-details.pieces' | translate }}</span>
            <span class="bag-name text-right orderSum">
              {{ bag.quantity * bag.price | currency }} {{ 'order-details.currency' | translate }}
            </span>
          </ng-container>
        </li>
      </ul>
    </div>
    <div class="middle">
      <div class="middle-container">
        <div class="showTotal">
          <div class="totalInfo">
            <p class="total-content" [class.d-none]="orderDetails.total === 0">
              <span>{{ 'order-details.order-amount' | translate }} </span>
              <span>
                <strong>{{ orderDetails.total | currency }} {{ 'order-details.currency' | translate }}</strong>
              </span>
            </p>
            <p class="total-content" *ngIf="orderDetails.certificatesSum">
              <span>{{ 'order-details.certificate' | translate }} </span>
              <span>
                <strong class="money-saved"
                  >-{{ orderDetails.certificatesSum | currency }} {{ 'order-details.currency' | translate }}
                </strong>
              </span>
            </p>
            <p class="total-content" *ngIf="orderDetails.pointsToUse">
              <span>{{ 'order-details.bonuses' | translate }} </span>
              <span>
                <strong class="money-saved">-{{ orderDetails.pointsToUse }} {{ 'order-details.currency' | translate }}</strong>
              </span>
            </p>
            <p class="total-content">
              <span class="bold">{{ 'order-details.amount-due' | translate }} </span>
              <span>
                <strong class="total-sum">{{ orderDetails.finalSum | currency }} {{ 'order-details.currency' | translate }}</strong>
              </span>
            </p>
          </div>
        </div>
        <div class="order-info-container d-flex flex-column">
          <div class="order-info" *ngIf="additionalOrders[0]">
            <p class="order-header">{{ 'order-details.store-delivery' | translate }}</p>
            <ul class="order-list d-flex flex-wrap">
              <li class="order-list-item">{{ 'order-details.order-numbers' | translate }} &nbsp;</li>
              <li class="order-list-item" *ngFor="let order of additionalOrders; let last = last">
                <strong>{{ order }}{{ !last ? ',&nbsp;' : '' }}</strong>
              </li>
            </ul>
          </div>
          <div class="order-info">
            <p class="order-header">{{ 'order-details.recipient' | translate }}</p>
            <ul class="order-list" *ngIf="personalData.senderFirstName; else defaultCase">
              <li class="order-list-item">{{ personalData.senderFirstName }} {{ personalData.senderLastName }}</li>
              <li class="order-list-item">{{ personalData.senderPhoneNumber | phoneNumberTreat: '380' }}</li>
              <li class="order-list-item">{{ personalData.senderEmail }}</li>
            </ul>
            <ng-template #defaultCase>
              <ul class="order-list">
                <li class="order-list-item">{{ personalData.firstName }} {{ personalData.lastName }}</li>
                <li class="order-list-item">{{ personalData.phoneNumber | slice: -9 | phoneNumberTreat: '380' }}</li>
                <li class="order-list-item">{{ personalData.email }}</li>
              </ul>
            </ng-template>
          </div>
          <div class="order-info">
            <div *ngIf="orderDetails.orderComment">
              <p class="order-header">
                {{ 'order-details.order-comment' | translate }}
              </p>
              <ul class="order-list">
                <li class="order-list-item order-comment-width">{{ orderDetails.orderComment }}</li>
              </ul>
            </div>
          </div>
          <div class="order-info">
            <p class="order-header">{{ 'order-details.export-address' | translate }}</p>
            <ul class="order-list">
              <li class="order-list-item">
                <span>{{ 'personal-info.address-city' | translate }} {{ getLangValue(personalData.city, personalData.cityEn) }}, </span>
                <span>{{ getLangValue(personalData.street, personalData.streetEn) }}, {{ personalData.houseNumber }}, </span>
                <span *ngIf="personalData.houseCorpus">
                  {{ 'personal-info.address-corp' | translate }} {{ personalData.houseCorpus }}
                </span>
                <span *ngIf="personalData.entranceNumber">
                  {{ 'personal-info.address-entrance' | translate }} {{ personalData.entranceNumber }}
                </span>
              </li>
              <li class="order-list-item">
                <span
                  >{{ 'personal-info.address-district' | translate }}
                  {{ getLangValue(personalData.district.split(' ')[0], personalData.districtEn.split(' ')[0]) }},
                </span>
                <span>{{ getLangValue(personalData.region, personalData.regionEn) }}</span>
              </li>
            </ul>
          </div>
          <div class="order-info m-0" *ngIf="personalData.addressComment">
            <p class="order-header">
              {{ 'order-details.address-comment' | translate }}
            </p>
            <p class="order-comment-width">{{ personalData.addressComment }}</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="w-100 buttons" *ngIf="(bags.length && personalData) || (isNotification && isDownloadDataNotification)">
  <button *ngIf="!isNotification" class="ubs-back-link-global-button" matStepperPrevious>
    <i class="fas fa-chevron-left" aria-hidden="true"></i> &nbsp; <span class="link-underline">{{ 'submit-order.back' | translate }}</span>
  </button>
  <div class="btn-canc-sub">
    <button class="ubs-secondary-global-button" (click)="cancelUBS(true)">
      {{ 'order-details.cancel' | translate }}
    </button>
    <button [disabled]="isTotalAmountZero || loadingAnim" (click)="redirectToOrder()" type="submit" class="ubs-primary-global-button">
      <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
      {{ isFinalSumZero ? ('submit-order.to-order' | translate) : ('submit-order.to-pay' | translate) }}
    </button>
  </div>
</div>
