li {
  list-style: none;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.fas {
  font-size: 0.8rem;
}

.btn {
  padding: 12px 32px;
  line-height: 20px;
  border-radius: 4px;
}

.buttons {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  button {
    width: 8rem;
    height: 2.75rem;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
}

.btn-canc-sub {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: auto;
  gap: 1rem;
}

.cancel-button {
  border: 1px solid var(--ubs-quaternary-dark-grey);
  color: var(--ubs-quaternary-dark-grey);

  &:hover {
    background: var(--ubs-quaternary-light-grey);
  }
}

.btn-back {
  border: 0;
  color: var(--ubs-quaternary-dark-grey);
  padding-left: 10px;
  line-height: 28px;
  letter-spacing: 0.2px;

  .underline {
    border-bottom: 1px solid var(--ubs-quaternary-dark-grey);
  }
}

.container {
  box-shadow: 1px 4px 8px rgb(100 114 125 / 18%);
  padding: 10px 37px 5px;
  color: var(--ubs-primary-grey);
  font-family: var(--ubs-quaternary-font);

  .header {
    width: 100%;
    margin-top: 40px;

    .order-title {
      margin-bottom: 1rem;
    }
  }
}

.font-bolt {
  font-weight: bold;
}

.labels-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 0;
  border-top: 1px solid var(--ubs-primary-light-grey);
  border-bottom: 1px solid var(--ubs-primary-light-grey);

  .services-list_item {
    margin: 28px 0;
    color: var(--ubs-quaternary-dark-grey);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

label {
  color: var(--ubs-secondary-grey);
}

.label,
.bag-name {
  flex: 0 0 16.6%;
  max-width: 16.6%;
  padding: 0;
  margin: 0;

  .label-total {
    text-align: center;
  }
}

.primary-global-button {
  padding: 8px 4px;
  border-radius: 4px;
  color: var(--ubs-quaternary-dark-grey);
  border-color: var(--ubs-button-light-green);
  background: var(--ubs-button-light-green);
  display: flex;
  justify-content: space-around;

  &:disabled {
    background: var(--ubs-quaternary-light-grey);
    border-color: var(--ubs-quaternary-light-grey);
  }

  &:hover {
    background-color: var(--ubs-button-dark-green);
  }
}

.middle {
  width: 100%;
  padding: 30px 0;
  justify-content: space-between;
}

.orderSum {
  color: var(--ubs-primary-grey);
  font-weight: bold;
  letter-spacing: 0.1px;
}

.totalInfo {
  text-align: right;

  .total-content {
    color: var(--ubs-secondary-grey);
    display: flex;
    align-items: flex-end;

    span {
      width: 140px;
    }
  }

  .bold {
    font-weight: 700;
  }

  strong {
    padding-left: 2rem;
    color: var(--ubs-primary-grey);
    letter-spacing: 0.1px;
  }

  .money-saved {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--ubs-electric-violet);
  }

  .total-sum {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
}

.choose-payment,
.choose-payment-chooser {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
}

.choose-payment {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  color: var(--ubs-primary-grey);
}

.choose-payment-chooser {
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-secondary-grey);
}

.payment-select {
  padding: 8px;
  width: 323px;
  height: 36px;
  font-size: 14px;
  color: var(--ubs-quaternary-dark-grey);
  background: var(--ubs-primary-white);
  border: 1px solid var(--quintynary-light-grey);
  box-sizing: border-box;
  border-radius: 4px;
}

.order-header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--ubs-primary-grey);
  margin-bottom: 8px;
}

.middle-container {
  .showTotal {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .order-info-container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .order-info {
      margin-bottom: 32px;
    }

    .order-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  small {
    margin-left: 0;
  }
}

.bottom_comment {
  background: var(--ubs-primary-white);

  .bottom_comment_payment {
    margin-top: 2rem;
  }

  .btn:nth-child(1) {
    margin: 0 24px 0 0;
    border: 1px solid var(--ubs-button-light-green);
    background: none;
    color: var(--ubs-button-light-green);
  }

  .btn-main {
    width: 120px;
    height: 3rem;
    border-radius: 0;
    border: none;

    &:hover {
      background: var(--ubs-button-light-green);
      color: var(--ubs-primary-white);
    }
  }
}

.comment {
  border-bottom: 1px solid var(--ubs-primary-light-grey);
  padding-bottom: 40px;
}

@media (min-width: 992px) {
  .col-3.label.m-0.text-center {
    margin-left: 3.5% !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    padding: 16px;
  }

  .label,
  .bag-name {
    font-size: 16px;
  }

  .totalInfo {
    span,
    .money-saved {
      font-size: 12px;
    }
  }

  .bottom_comment {
    .bottom_comment_payment {
      font-size: 1rem;
    }
  }

  h3 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .payment-select {
    font-size: 0.8rem;
    width: 250px;
  }

  .order-header {
    font-size: 0.8rem;
  }

  p,
  a,
  textarea,
  small,
  input,
  li,
  .choose-payment,
  .choose-payment-chooser {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 16px;

    .header {
      margin-top: 24px;
    }
  }

  .label,
  .bag-name {
    font-size: 12px;
  }

  .label-total {
    text-align: end;
  }

  .totalInfo {
    span,
    .money-saved {
      font-size: 10px;
    }
  }

  .bottom_comment {
    .bottom_comment_payment {
      font-size: 0.9rem;
    }
  }

  h3 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  button {
    font-size: 0.7rem;
  }

  .btn:nth-child(1) {
    margin-bottom: 16px;
  }

  .order-header {
    font-size: 0.8rem;
  }

  .payment-select {
    font-size: 0.8rem;
    width: 250px;
  }

  p,
  a,
  textarea,
  small,
  input,
  li,
  .choose-payment,
  .choose-payment-chooser {
    font-size: 0.65rem;
  }
}

@media (max-width: 440px) {
  .buttons {
    justify-content: center;
  }

  .btn-canc-sub {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    .btn {
      width: 100%;
    }
  }

  .bag-name {
    font-size: 10px;
  }
}

.load-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

:host ::ng-deep .custom-spinner circle {
  stroke: #e2e2e2;
}

::ng-deep .mat-progress-bar-fill::after {
  background: #e2e2e2;
}

::ng-deep .mat-progress-bar-buffer {
  background: #bfbfbf;
}

@media (max-width: 360px) {
  .label,
  .bag-name {
    font-size: 10px;
  }
}
