<div class="dialog-container">
  <div class="close-container">
    <button class="close-btn" mat-dialog-close (click)="redirectToMain()">
      <img src="{{ closeButton }}" alt="close" />
    </button>
  </div>
  <div>
    <h4 class="title">{{ 'order-details.location.title' | translate }}</h4>
  </div>
  <form class="form">
    <select [(ngModel)]="selectedValue" name="region" class="select form-select form-select-lg">
      <option [value]="region.value" *ngFor="let region of regions">
        {{ region.value }}
      </option>
    </select>
  </form>
  <mat-dialog-actions class="footer-btns" align="end">
    <button class="btn secondary-global-button" mat-dialog-close (click)="redirectToMain()">
      {{ 'order-details.location.btn.back' | translate }}
    </button>
    <button class="btn primary-global-button" [mat-dialog-close]="true" cdkFocusInitial (click)="saveLocation()">
      {{ 'order-details.location.btn.continue' | translate }}
    </button>
  </mat-dialog-actions>
</div>
