<div class="card mx-auto" style="width: 95%">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ 'feedbacks.feedbacks' | translate }}</h4>
      <div class="table-responsive" style="padding: 1%">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <caption>
            Feedback table
          </caption>
          <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef scope="col" class="place">
              {{ 'feedbacks.place' | translate }}
            </th>
            <td mat-cell id="placeColumn" *matCellDef="let element" class="place">
              {{ element.place.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef scope="col" class="text">
              {{ 'feedbacks.comment' | translate }}
            </th>
            <td mat-cell id="textColumn" *matCellDef="let element" class="text">
              <div *ngIf="element.text.length <= 115">{{ element.text }}</div>
              <div id="f{{ element.id }}" [hidden]="!(element.text.length > 115)">
                {{ element.text.substr(0, 115) }}...
                <div style="display: inline" (click)="changeVisability('f' + element.id, 'f' + element.id + 'b')">
                  <a style="color: #53a6ff">{{ 'feedbacks.more' | translate }}</a>
                </div>
              </div>
              <div id="f{{ element.id }}b" [hidden]="true">
                {{ element.text }}
                <div style="display: inline" (click)="changeVisability('f' + element.id, 'f' + element.id + 'b')">
                  <a style="color: #53a6ff">{{ 'feedbacks.less' | translate }}</a>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="attachments">
            <th mat-header-cell *matHeaderCellDef scope="col" class="attachments" style="text-align: center">
              {{ 'feedbacks.attachments' | translate }}
            </th>
            <td mat-cell id="photosColumn" style="text-align: center" *matCellDef="let element" class="attachments">
              <p *ngIf="element.photos.length === 0" style="font-size: 13px">{{ 'feedbacks.no-attachment' | translate }}</p>
              <h6 *ngFor="let link of element.photos">
                <a id="photoIcon" class="image-comment">
                  <mdb-icon far icon="image" (click)="openDialog(link.name)"></mdb-icon>
                </a>
              </h6>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef scope="col" class="delete"></th>
            <td mat-cell *matCellDef="let element" class="delete">
              <a id="trashIcon" (click)="confirmDelete(element.id, element.place.name)">
                <mdb-icon far icon="trash-alt"></mdb-icon>
              </a>
            </td>
          </ng-container>
          <!-- Name Column -->

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="3"> {{ 'feedbacks.loading-data' | translate }}</mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="3"> {{ 'feedbacks.no-data' | translate }}</mat-footer-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ hide: comments !== null }"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ hide: comments !== null && comments.length !== 0 }"></mat-footer-row>
        </table>
      </div>
      <br />
      <div class="container">
        <div id="pagination">
          <pagination
            [itemsPerPage]="pageSize"
            [totalItems]="totalItems"
            (pageChanged)="changePage($event)"
            [maxSize]="6"
            [rotate]="true"
            [boundaryLinks]="true"
            [firstText]="'pagination.first-text' | translate"
            [previousText]="'pagination.previous' | translate"
            [nextText]="'pagination.next' | translate"
            [lastText]="'pagination.last' | translate"
            class="flex-wrap"
          ></pagination>
        </div>
        {{ 'feedbacks.items-per-page' | translate }}
        <mat-select [(value)]="pageSize" (valueChange)="changePage(page)" style="width: 50px; margin-left: 15px">
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="10">10</mat-option>
          <mat-option [value]="15">15</mat-option>
          <mat-option [value]="20">20</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>

<script src="ng-text-truncate.js"></script>
