table {
  width: 100%;

  caption {
    display: none;
  }
}

[role='tooltip'] {
  visibility: hidden;
}

.delete {
  width: 5%;
}

.place {
  width: 12%;
}

.text {
  width: 100%;
}

.attachments {
  width: 9%;
}

h6 {
  display: inline;
  padding-right: 5%;
}

.descr {
  display: none;
  margin-left: -350px;
  padding: 10px;
  margin-top: 17px;
  background: #f3f3f3;
  height: 200px;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.photo {
  display: none;
  margin-left: -35%;
  padding: 10px;
  margin-top: 17px;
  background: #f3f3f3;
  height: 47%;
}

h6:hover .photo {
  display: block;
  position: absolute;
  top: 10%;
  z-index: 9999;
  width: 30%;
}

.fulltext p,
.less {
  display: none;
}

.fulltext:target p,
.fulltext:target .less {
  display: block;
}

.fulltext:target .more {
  display: none;
}

.mat-cell {
  padding: 3px;
}
