::ng-deep .mat-step-header {
  .mat-step-label {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
  }

  .mat-step-label.mat-step-label-active {
    color: var(--ubs-secondary-grey);
  }

  .mat-step-label.mat-step-label-selected {
    color: var(--primary-green);
  }

  .mat-step-icon {
    background-color: var(--ubs-quaternary-light-grey);
  }

  .mat-step-icon-selected {
    background-color: var(--primary-green);
  }

  .mat-step-icon-state-number {
    color: var(--ubs-secondary-grey);
    font-size: 16px;
    font-weight: bold;
  }

  .mat-step-icon-state-number.mat-step-icon-selected {
    color: var(--ubs-primary-white);
  }

  .mat-icon {
    color: var(--ubs-secondary-grey);
  }
}

.container {
  padding: 0;
}

.form-title {
  margin: -35px 0 35px 0;
  color: var(--ubs-primary-grey);
}
