<button class="more-days-info-button" aria-label="Days info" *ngIf="event.dates.length > 1" (click)="onScheduleClick()" #scheduleButton>
  <img [src]="icons.ellipsis" alt="Days" />
</button>

<ng-template #scheduleInfoOverlay>
  <ng-template [ngTemplateOutlet]="scheduleInfo"></ng-template>
</ng-template>

<ng-template #scheduleInfoBottomSheet>
  <div (swipedown)="onClose($event)" (touchstart)="onHandleTouchStart($event)" class="close-handle" #resizeHandle>
    <svg width="40" height="3" viewBox="0 0 40 3" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="40" height="3" rx="1.5" fill="#CACFD3" />
    </svg>
  </div>
  <ng-template [ngTemplateOutlet]="scheduleInfo"></ng-template>
</ng-template>

<ng-template #scheduleInfo>
  <div class="event-schedule-container" #scheduleInfoContainer>
    <app-event-schedule [event]="event"></app-event-schedule>
  </div>
</ng-template>
