<div class="dialog-container">
  <h2 mat-dialog-title>{{ 'ubs-client-profile.change-password' | translate }}</h2>
  <form [formGroup]="formConfig">
    <div class="input">
      <mat-form-field class="forms-inputs">
        <mat-label>{{ 'ubs-client-profile.old-password' | translate }}</mat-label>
        <input matInput type="password" formControlName="currentPassword" />
      </mat-form-field>
    </div>

    <div class="input">
      <mat-form-field class="forms-inputs">
        <mat-label>{{ 'ubs-client-profile.new-password' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-error *ngIf="formConfig.errors?.same && formConfig.value.password">
        {{ 'ubs-client-profile.password-error-new' | translate }}
      </mat-error>
    </div>

    <div class="input">
      <mat-form-field class="forms-inputs">
        <mat-label>{{ 'ubs-client-profile.repeat-password' | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
      <mat-error *ngIf="formConfig.errors?.notSame">
        {{ 'ubs-client-profile.password-error-confirm' | translate }}
      </mat-error>
    </div>
  </form>
  <div class="action-btns">
    <mat-dialog-actions align="end">
      <button class="btn btn-outline-success" mat-dialog-close>{{ 'ubs-client-profile.btn.change-password-cancel' | translate }}</button>
      <button class="btn btn-success" mat-dialog-close [disabled]="formConfig.invalid" cdkFocusInitial>
        {{ 'ubs-client-profile.btn.change-password' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
