.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

.row {
  position: relative;
}

button:disabled {
  background-color: var(--ubs-quintynary-light-grey);
  border: var(--ubs-quintynary-light-grey);
  color: var(--ubs-secondary-light-grey);
}

.back-button,
.back-button-top {
  background-color: transparent;
  color: var(--ubs-tertiary-dark-grey);
  border: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  width: 150px;
  height: 44px;
}

.back-button-top {
  top: 71px;
  left: -130px;
  position: absolute;
}

.back-button {
  margin-left: 15px;
}

.cancel-button,
.save-button {
  color: var(--ubs-tertiary-dark-grey);
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 25px;
  margin-right: 20px;
  margin-bottom: 35px;
  border-radius: 5px;
}

.cancel-button {
  border: 1px solid var(--ubs-tertiary-dark-grey);
  background-color: transparent;
}

.save-button {
  border: none;
  background-color: var(--ubs-button-light-green);
}

.controls {
  display: flex;
  margin-left: auto;
}

.box {
  box-shadow: 0 0 8px rgba(70, 70, 70, 0.25);
  padding: 30px;
  margin-bottom: 30px;
}

.inform-window {
  visibility: hidden;
  box-shadow: 0 0 8px rgba(70, 70, 70, 0.25);
  min-width: 200px;
  font-size: 14px;
  background-color: #fff;
  color: var(--ubs-secondary-grey);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;

  ul li {
    width: fit-content;
  }
}

.save-button[disabled] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save-button[disabled]:hover .inform-window {
  visibility: visible;
  opacity: 1;
}
