<ng-container *ngIf="dataType === 'comment'; else replyConteiner">
  <div class="counter">
    <div class="wrapper">
      <p>{{ 'user.map.comments' | translate }}</p>
      <p class="total-count">
        {{ totalElements }}
        <ng-container [ngSwitch]="totalElements">
          <span *ngSwitchCase="0">{{ 'homepage.eco-news.comment.comments.zero-comment' | translate }} </span>
          <span *ngSwitchCase="1"> {{ 'homepage.eco-news.comment.comments.one-comment' | translate }} </span>
          <span *ngSwitchCase="[2, 3, 4].includes(totalElements) ? totalElements : !totalElements">
            {{ 'homepage.eco-news.comment.comments.more-then-two-comments' | translate }}
          </span>
          <span *ngSwitchDefault> {{ 'homepage.eco-news.comment.comments.more-then-four-comments' | translate }} </span>
        </ng-container>
      </p>
    </div>
    <hr />
  </div>

  <app-add-comment *ngIf="isLoggedIn" [entityId]="entityId" (updateList)="initCommentsList()"></app-add-comment>
  <mat-spinner class="spinner" *ngIf="elementsList.length < 1 && elementsArePresent; else comments"></mat-spinner>
  <ng-template #comments>
    <app-comments-list
      dataType="comment"
      [entityId]="entityId"
      [elementsList]="elementsList"
      [config]="config"
      [isLoggedIn]="isLoggedIn"
      [userId]="userId"
      (changedList)="initCommentsList()"
    >
    </app-comments-list>
    <app-comment-pagination [config]="config" (setPage)="initCommentsList()"></app-comment-pagination>
  </ng-template>
</ng-container>

<ng-template #replyConteiner>
  <app-add-comment
    *ngIf="comment.showRelyButton && isLoggedIn"
    [entityId]="entityId"
    [commentId]="comment.id"
    (updateList)="updateElementsListReply($event)"
  ></app-add-comment>
  <div *ngIf="comment.showAllRelies || userReplies.length">
    <mat-spinner class="spinner" *ngIf="elementsList.length < 1 && elementsArePresent; else reply"></mat-spinner>
    <ng-template #reply>
      <app-comments-list
        dataType="reply"
        [entityId]="entityId"
        [elementsList]="comment.showAllRelies ? elementsList : userReplies"
        [commentId]="comment.id"
        [config]="config"
        [isLoggedIn]="isLoggedIn"
        [userId]="userId"
        (changedList)="initCommentsList()"
        class="list"
      >
      </app-comments-list>
      <app-comment-pagination *ngIf="comment.showAllRelies" [config]="config" (setPage)="initCommentsList()"></app-comment-pagination>
    </ng-template>
  </div>
</ng-template>
