<div class="wrapper">
  <span>Filter by</span>
  <ul class="ul-eco-buttons">

    <a *ngFor="let filter of filters">
      <li (click)="toggleFilter(filter.name)"
          [ngClass]="{
                      'ul-eco-buttons-li': !filter.isActive,
                      'clicked-filter-button': filter.isActive
                    }">
        {{ filter.name }}
        <div [ngClass]="{
                          closeNone: !filter.isActive,
                          close: filter.isActive
                        }">
        </div>
      </li>
    </a>
  </ul>
</div>
