.wrapper {
  display: flex;
  padding-top: 6px;
}

.wrapper span {
  margin-top: 2px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #313131;
}

.ul-eco-buttons {
  list-style: none;
  margin: 0;
}

.ul-eco-buttons-li {
  font-family: opensans, sans-serif;
  font-size: calc(11px + (14 - 11) * ((100vw - 320px) / (1200 - 320)));
  line-height: calc(13px + (16 - 13) * ((100vw - 320px) / (1200 - 320)));
  color: #666;
  display: inline-block;
  padding: calc(6px + (8 - 6) * ((100vw - 320px) / (1200 - 320))) calc(12px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));
  border: 1px solid #666;
  border-radius: 25px;
  margin: 0 8px 0 0;
  text-transform: capitalize;
}

.ul-eco-buttons a:hover .ul-eco-buttons-li {
  color: #056b33;
  border: 1px solid #056b33;
}

.clicked-filter-button {
  background: #13aa57;
  color: #fff;
  font-weight: bold;
  border: 1px solid #13aa57;
  font-family: opensans, sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 25px;
  margin: 0 8px 8px 0;
  text-transform: capitalize;
}

.clicked-filter-button:hover {
  background: #13aa57;
  color: #fff;
  font-weight: bold;
  border: 1px solid #13aa57;
  font-family: opensans, sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 25px;
  margin-right: 8px;
}

.close {
  position: relative;
  top: 6px;
  right: -7px;
  width: 6px;
  height: 6px;
  cursor: pointer;
  text-shadow: none;
  opacity: 1;
  background-image: url("~/assets/img/icon/white-cross.png");
}

.closeNone {
  display: none;
}

@media screen and (max-width: 768px) {
  .ul-eco-buttons {
    padding-left: 60px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    flex-direction: column;

    span {
      margin: 0 -34px 0 0;
    }
  }

  .ul-eco-buttons {
    padding: 16px 0 0 0;

    a:nth-child(2) {
      display: none;
    }
  }
}
