.achievements-container-header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.achievements-list-message {
  display: block;
  margin: 10px auto 30px;
  height: 44px;
  width: 263px !important;
  font-size: 15px;
  text-align: center;
  color: var(--primary-grey);
}
