.dialog-container {
  padding: 20px;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;

  button {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    background-color: var(--ubs-button-light-green);
    color: var(--ubs-tertiary-dark-grey);
    padding: 8px 24px;
    height: 36px;
    border: none;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    width: 280px;

    button {
      align-items: flex-end;
    }

    .cross-btn {
      margin: 0 0 20px;
      width: 18px;
      height: 18px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-left: 10px;
  }

  .forms-inputs {
    width: 200px;
    margin-bottom: 20px;
  }

  input {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 36px;
    padding: 8px;
  }

  input:focus {
    outline: none;
  }

  button:disabled {
    background-color: var(--ubs-primary-grey);
    border: 1px solid var(--ubs-primary-grey);
    color: var(--ubs-primary-white);
  }

  .border-input {
    border: 1px solid var(--ubs-quintynary-light-grey);
    border-radius: 4px;
  }

  .label-text {
    color: var(--ubs-primary-grey);
    font-weight: 400;
    font-size: 16.5px;
    line-height: 24px;
  }
}
