<div class="dialog-container">
  <img mat-dialog-close class="close-btn" src=".\assets\img\auth\cross.svg" alt="close" />
  <div class="popup-header">
    <h2 mat-dialog-title class="title">{{ 'ubs-client-profile.change-password' | translate }}</h2>
  </div>
  <form [formGroup]="formConfig" (ngSubmit)="onSubmit()">
    <mat-form-field *ngIf="hasPassword">
      <mat-label>{{ 'ubs-client-profile.old-password' | translate }}</mat-label>
      <input matInput [type]="formInputsVisibility.currPassword ? 'text' : 'password'" formControlName="currentPassword" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="formInputsVisibility.currPassword = !formInputsVisibility.currPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="formInputsVisibility.currPassword"
      >
        <mat-icon>{{ formInputsVisibility.currPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'ubs-client-profile.new-password' | translate }}</mat-label>
      <input matInput [type]="formInputsVisibility.newPassword ? 'text' : 'password'" formControlName="password" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="formInputsVisibility.newPassword = !formInputsVisibility.newPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="formInputsVisibility.currPassword"
      >
        <mat-icon>{{ formInputsVisibility.newPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'ubs-client-profile.repeat-password' | translate }}</mat-label>
      <input matInput [type]="formInputsVisibility.confirmNewPassword ? 'text' : 'password'" formControlName="confirmPassword" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="formInputsVisibility.confirmNewPassword = !formInputsVisibility.confirmNewPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="formInputsVisibility.confirmNewPassword"
      >
        <mat-icon>{{ formInputsVisibility.confirmNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="!formConfig.errors?.same && formConfig.get('confirmPassword').touched && formConfig.errors?.notSame">
      {{ 'ubs-client-profile.password-error-confirm' | translate }}
    </mat-error>
    <mat-error *ngIf="formConfig.errors?.same && formConfig.value.password">
      {{ 'ubs-client-profile.password-error-new' | translate }}
    </mat-error>
  </form>
  <div class="flex-center">
    <button type="submit" class="btn btn-success btn-submit" mat-dialog-close [disabled]="formConfig.invalid" cdkFocusInitial>
      {{ 'ubs-client-profile.btn.change-password' | translate }}
    </button>
  </div>
</div>
