<div class="dialog-container">
  <div class="popup-header">
    <h2 mat-dialog-title class="title">{{ 'ubs-client-profile.change-password' | translate }}</h2>
    <img mat-dialog-close class="cross-btn" src=".\assets\img\auth\cross.svg" alt="close button" />
  </div>
  <form [formGroup]="formConfig">
    <div *ngIf="hasPassword" class="input forms-inputs">
      <label>{{ 'ubs-client-profile.old-password' | translate }}</label>
      <input #input class="border-input" type="password" placeholder="XXXXXXX" formControlName="currentPassword" />
    </div>

    <div class="input forms-inputs">
      <label class="label-text">{{ 'ubs-client-profile.new-password' | translate }}</label>
      <input #input1 class="border-input" type="password" placeholder="XXXXXXX" formControlName="password" />
      <mat-error *ngIf="formConfig.errors?.same && formConfig.value.password">
        {{ 'ubs-client-profile.password-error-new' | translate }}
      </mat-error>
    </div>

    <div class="input forms-inputs">
      <label class="label-text">{{ 'ubs-client-profile.repeat-password' | translate }}</label>
      <input #input2 class="border-input" type="password" placeholder="XXXXXXX" formControlName="confirmPassword" />
      <mat-error *ngIf="formConfig.errors?.notSame">
        {{ 'ubs-client-profile.password-error-confirm' | translate }}
      </mat-error>
    </div>
  </form>
  <div>
    <button class="btn btn-success" (click)="onSubmit()" mat-dialog-close [disabled]="formConfig.invalid" cdkFocusInitial>
      {{ 'ubs-client-profile.btn.change-password' | translate }}
    </button>
  </div>
</div>
