<div class="dialog-container">
  <img mat-dialog-close class="close-btn" src=".\assets\img\auth\cross.svg" alt="close" />
  <div class="popup-header">
    <h2 mat-dialog-title class="title">{{ 'ubs-client-profile.change-password' | translate }}</h2>
  </div>
  <form [formGroup]="formConfig" (ngSubmit)="onSubmit()">
    <div *ngIf="hasPassword">
      <div class="error-msg">
        <span *ngIf="formConfig.get('currentPassword').errors?.pattern && formConfig.value.currentPassword">
          {{ 'ubs-client-profile.password-requirements' | translate }}
        </span>
        <span class="error-msg" *ngIf="formConfig.get('currentPassword').touched && formConfig.get('currentPassword').errors?.required">
          {{ 'input-error.required' | translate }}
        </span>
        <span class="error-msg" *ngIf="!formConfig.get('currentPassword').touched && hasWrongCurrentPassword">
          {{ 'ubs-client-profile.error-change-pass' | translate }}
        </span>
      </div>
    </div>

    <div>
      <mat-form-field *ngIf="{ isHidden: true } as passwordInput">
        <mat-label>{{ 'ubs-client-profile.new-password' | translate }}</mat-label>
        <input matInput [type]="passwordInput.isHidden ? 'password' : 'text'" formControlName="password" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="passwordInput.isHidden = !passwordInput.isHidden"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordInput.isHidden"
        >
          <mat-icon>{{ passwordInput.isHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="error-msg">
        <span *ngIf="formConfig.value.password">
          <span *ngIf="formConfig.errors?.newPasswordMatchesOld && !formConfig.get('password').errors?.pattern">
            {{ 'ubs-client-profile.password-error-new' | translate }}
          </span>
          <span *ngIf="formConfig.get('password').errors?.pattern">
            {{ 'ubs-client-profile.password-requirements' | translate }}
          </span>
        </span>
        <span *ngIf="formConfig.get('password').touched && formConfig.get('password').errors?.required">
          {{ 'input-error.required' | translate }}
        </span>
      </div>
    </div>

    <div>
      <mat-form-field *ngIf="{ isHidden: true } as passwordInput">
        <mat-label>{{ 'ubs-client-profile.repeat-password' | translate }}</mat-label>
        <input matInput [type]="passwordInput.isHidden ? 'password' : 'text'" formControlName="confirmPassword" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="passwordInput.isHidden = !passwordInput.isHidden"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordInput.isHidden"
        >
          <mat-icon>{{ passwordInput.isHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="error-msg">
        <span *ngIf="formConfig.get('confirmPassword').touched">
          <span *ngIf="formConfig.get('confirmPassword').errors?.required">
            {{ 'input-error.required' | translate }}
          </span>
          <span *ngIf="formConfig.errors?.confirmPasswordMistmatch && formConfig.value.confirmPassword">
            {{ 'ubs-client-profile.password-error-confirm' | translate }}
          </span>
        </span>
      </div>
    </div>
    <div class="flex-center">
      <button type="submit" class="btn btn-success btn-submit" [disabled]="formConfig.invalid" cdkFocusInitial>
        {{ 'ubs-client-profile.btn.change-password' | translate }}
      </button>
    </div>
  </form>
</div>
