.dialog-container {
  position: relative;
  width: 300px;
  padding: 20px;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
  }

  .mat-form-field {
    width: 100%;
  }

  .btn {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    background-color: var(--ubs-button-light-green);
    color: var(--ubs-tertiary-dark-grey);
    padding: 8px 24px;
    height: 36px;
    border: none;

    &.btn-submit {
      margin: 20px auto 0;

      &:disabled {
        background-color: var(--ubs-primary-grey);
        border: 1px solid var(--ubs-primary-grey);
        color: var(--ubs-primary-white);
      }
    }
  }

  .popup-header {
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
    }
  }
}
