@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-font: 'Open Sans';

.main-wrapper {
  display: flex;

  .delete {
    width: 74px;
    height: 40px;
    margin-right: 8px;
  }

  .cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #FFFFFF;

    .btn-text {
      margin-left: 5px;
      font-family: $main-font;
      font-size: 16px;
      line-height: 24px;
      color: #878787;
      mix-blend-mode: normal;
    }
  }
}
