$secondErrorColor: #b42626;

.main-container {
  position: relative;
  width: 615px;
  height: 376px;
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-white);

  .cancel {
    position: absolute;
    top: 26px;
    right: 26px;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .selected-photo {
      max-height: 148px;
      max-width: 148px;
      box-sizing: content-box;
    }

    p {
      margin: 32px 0 40px 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
    }

    .warning {
      font-family: var(--primary-font);
      font-size: 14px;
      color: var(--error-ligh-red);
      padding: 0;
    }

    .buttons {
      display: flex;
      align-items: center;

      .primary-global-button,
      .secondary-global-button {
        margin: 0 8px;
        padding: 8px 24px;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
      }

      .primary-global-button {
        background: var(--primary-white);
        color: var(--primary-green);

        &:hover {
          border: var(--secondary-dark-green);
          color: var(--secondary-dark-green);
        }
      }

      .delete {
        background: transparent;
        border: 1px solid var(--primary-green);
        color: var(--primary-green);

        &:hover {
          border: 1px solid $secondErrorColor;
          background: $secondErrorColor;
          color: var(--primary-white);
        }

        &:disabled {
          color: var(--primary-green);
          background: transparent;
          border: 1px solid var(--primary-green);
        }
      }

      .secondary-global-button {
        background: var(--primary-green);
        color: var(--primary-white);

        &:hover {
          background: var(--secondary-dark-green);
        }

        &:focus {
          outline: none;
        }

        .spinner-border {
          margin-right: 10px;
        }
      }

      .change {
        width: 191px;
      }

      input {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .main-container {
    width: 548px;
    height: 376px;
  }
}

@media screen and (max-width: 576px) {
  .main-container {
    width: 100vw;
    height: 100vh;

    .wrapper {
      p {
        width: 288px;
      }

      .buttons {
        flex-direction: column;

        .primary-global-button,
        .secondary-global-button {
          margin: 8px 0;
          width: 288px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .mat-dialog-container {
    padding: 0;
  }
}
