<div class="main-container">
  <button class="cancel" (click)="closeEditPhoto()">
    <img src="{{ cancelButton }}" 
         alt="cencel">
  </button>
  <div class="wrapper" *ngIf="!selectedPhoto; else elseBlock">
    <img src="{{ avatarImg }}" 
         alt="avatar" 
         class="profile-avatar">
    <p *ngIf=isWarning class="warning">Download PNG or JPG only. File size should be less than 10MB</p>
    <p>Do you want to change your profile picture?</p>
    <div class="buttons">
      <button type="button"
              class="primary-global-button"
              (click)="closeEditPhoto()">Cancel</button>
      <label class="secondary-global-button">
        Upload new photo
        <input type="file" 
                accept=".jpg, .jpeg, .png"
                (change)="onSelectPhoto($event)">
      </label>
    </div>
  </div>
  <ng-template #elseBlock> 
    <div *ngFor="let file of files">
      <div class="wrapper">
        <div class="cropper-block">
          <image-cropper [maintainAspectRatio]="true" 
                         [containWithinAspectRatio]="false" 
                         [aspectRatio]="1 / 1"
                         [roundCropper]="true"
                         [resizeToHeight]="148"
                         [imageChangedEvent]="imageChangedEvent" 
                         [imageFile]="file.file" 
                         (imageCropped)="imageCropped($event)"
                         class="selected-photo">
          </image-cropper>
        </div>
        <p *ngIf=isWarning class="warning">Download PNG or JPG only. File size should be less than 10MB</p>
        <p>Would you like to save changes?</p>
        <div class="buttons">
          <label class="primary-global-button change">
            Change photo
            <input type="file" 
                    accept=".jpg, .jpeg, .png" 
                    (change)="onSelectPhoto($event)">
          </label>
          <button type="button"
                  class="secondary-global-button"
                  [disabled]="isWarning"
                  (click)="savePhoto()">Save photo</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
