<form [formGroup]="personalDataForm" (ngSubmit)="submit()">
  <div class="row personal-data" formGroupName="personalData">
    <div class="col-12 col-sm-6 form-group">
      <label>Ім'я</label>
      <input formControlName="name" type="text" class="shadow-none form-control">
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label>Прізвище</label>
      <input formControlName="surname" type="text" class="shadow-none form-control">
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label>Email</label>
      <input formControlName="email" type="text" class="shadow-none form-control" placeholder="example@email.com">
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label>Номер телефону</label>
      <input formControlName="phone" type="text" class="shadow-none form-control" placeholder="+38(___) ___ __ __" [imask]="{mask: phoneMask}">
    </div>
  </div>
  <div class="row adress-section" formGroupName="adress">
    <div class="row adress">
      <div class="w-100 adress-title">Введіть адресу за якою забрати сміття</div>
      <div class="col-12 col-sm-6 form-group">
        <label>Місто</label>
        <select formControlName="city" class="shadow-none form-control">
          <option value="Київ">Київ</option>
          <option value="Львів">Львів</option>
        </select>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label>Район</label>
        <select formControlName="district" class="shadow-none form-control">
          <option value="Голосїївський">Голосїївський</option>
          <option value="Печерський">Печерський</option>
        </select>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label>Вулиця</label>
        <input formControlName="street" type="text" class="shadow-none form-control">
      </div>
      <div class="col-12 col-sm-6 d-flex justify-content-between form-group">
        <div class="item">
          <label>Будинок</label>
          <input formControlName="building" type="text" class="shadow-none form-control">
        </div>
        <div class="item">
          <label>Корпус</label>
          <input formControlName="block" type="text" class="shadow-none form-control">
        </div>
        <div class="item">
          <label>Під'їзд</label>
          <input formControlName="entrance" type="text" class="shadow-none form-control">
        </div>
      </div>
      <div class="w-100 adress-notice">ВАЖЛИВО: кур’єр забирає пакети біля під’їзду, на поверх не піднімається.</div>
    </div>
    <h5 class="comment-title">Коментар до адреси</h5>
    <textarea formControlName="comment"></textarea>
  </div>
  <div class="w-100 d-flex justify-content-end">
    <button class="secondary-global-button btn" matStepperPrevious>Назад</button>
    <button type="submit" class="primary-global-button btn" matStepperNext>Далі</button>
  </div>
</form>
