<div class="container">
  <div class="close-container">
    <button class="close-btn row justify-content-end" mat-dialog-close type="button" (click)="close()">
      <img src="{{ closeButton }}" alt="close" />
    </button>
  </div>

  <label class="title" id="addReason">{{ 'order-not-taken-out.title' | translate }}</label>
  <form [formGroup]="addNotTakenOutForm">
    <h6>{{ 'order-not-taken-out.label-reason' | translate }}</h6>
    <textarea
      placeholder="{{ 'order-not-taken-out.placeholder' | translate }}"
      cols="50"
      rows="6"
      formControlName="notTakenOutReason"
      [(ngModel)]="notTakenOutReason"
    ></textarea>
    <div class="error-message" *ngIf="addNotTakenOutForm.invalid && addNotTakenOutForm.get('notTakenOutReason').touched">
      <p>{{ 'order-not-taken-out.reason-error-message' | translate }}</p>
    </div>
  </form>

  <div class="add-photos">
    <div class="title-photo">
      <h6>{{ 'order-not-taken-out.title-photo' | translate }}</h6>
    </div>
    <div class="photo-description">
      <h6>{{ 'order-not-taken-out.label-for-photo-container' | translate }}</h6>
    </div>
    <div>
      <span class="requirement">{{ 'order-not-taken-out.requirement' | translate }}</span>
    </div>
    <div class="row images">
      <div class="image-container" appDrag (files)="onFilesDropped($event)" *ngFor="let img of images">
        <img class="image-preview" [src]="img.src" alt="image-of-not-taken-out-bag" (click)="openImg(img)" />
        <div class="delete-block">
          <div>{{ img.name }}</div>
          <div class="delete-image-button" (click)="deleteImage(img)">X</div>
        </div>
      </div>
      <div
        class="image-container"
        appDrag
        (files)="onFilesDropped($event)"
        *ngFor="let placeholder of maxNumberOfImgs - images.length | repeat; index as idx"
      >
        <p class="drag-inscription" *ngIf="!idx">{{ 'order-not-taken-out.drag-photo' | translate }}</p>
      </div>
    </div>

    <div class="row error-message" *ngIf="isImageSizeError">
      <p class="error-message-file-size">{{ 'order-not-taken-out.error-message-for-size' | translate }}</p>
    </div>

    <div class="row error-message" *ngIf="isImageTypeError">
      <p class="error-message-file-type">{{ 'order-not-taken-out.error-message-for-type' | translate }}</p>
    </div>
    <div class="row label-g">
      <label for="file-upload" class="custom-file-upload" [ngClass]="{ disabled: images.length >= maxNumberOfImgs }">
        {{ 'order-not-taken-out.file-upload' | translate }}
      </label>
      <input
        #takeInput
        id="file-upload"
        class="d-none"
        [disabled]="images.length >= maxNumberOfImgs"
        type="file"
        multiple
        accept="image/png,image/jpeg"
        (change)="onFilesSelected($event)"
      />
    </div>

    <div class="btn-container">
      <button type="reset" class="disagree btn" (click)="close()">{{ 'order-not-taken-out.btn.cancel' | translate }}</button>
      <button type="submit" class="agree btn" [disabled]="!addNotTakenOutForm.valid" (click)="send()">
        {{ 'order-not-taken-out.btn.add' | translate }}
      </button>
    </div>
    <div class="row">
      <span class="date">{{ 'order-not-taken-out.date' | translate }}: {{ date | date: 'dd.MM.y' }} </span>
      <span class="info">{{ 'order-not-taken-out.added' | translate }}: {{ adminName }}</span>
    </div>
  </div>
</div>
