.add-location-title {
  font-family: var(--ubs-quaternary-font);
  font-style: normal;
  color: var(--ubs-quaternary-dark-grey);
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
}

.form-group {
  margin-bottom: 8px;
  position: relative;

  label {
    font-family: var(--ubs-quaternary-font);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--ubs-secondary-grey);
    margin-bottom: 0;
  }

  label::after {
    content: ' *';
    color: var(--ubs-error-base);
    font-size: 14px;
    line-height: 20px;
  }

  select.ng-invalid {
    color: var(--ubs-primary-light-grey);
  }
}

.first-row {
  .form-group {
    margin-bottom: 28px;
  }
}

.form-group:first-child {
  margin-right: 36px;
}

.btn {
  height: 40px;
  border-radius: 4px;
  white-space: nowrap;
}

input,
select {
  border: 1px solid var(--ubs-quintynary-light-grey);
}

.form-control {
  height: 2.25rem;
  font-size: 0.9rem;
  padding: 8px 35px 8px 8px;
  color: var(--ubs-quaternary-dark-grey);
  width: 228px;
  display: block;

  option {
    color: var(--ubs-quaternary-dark-grey);
  }
}

.buttons {
  margin-bottom: 20px;
  margin-top: 10px;

  .secondary-global-button {
    border: 1px solid var(--ubs-quaternary-dark-grey);
    color: var(--ubs-quaternary-dark-grey);
    margin-right: 1rem !important;
  }

  .primary-global-button {
    padding: 8px 14px;
    color: var(--ubs-quaternary-dark-grey);
    border-color: var(--ubs-button-light-green);
    background: var(--ubs-button-light-green);

    &:disabled {
      background: var(--ubs-quaternary-light-grey);
      border-color: var(--ubs-quaternary-light-grey);
    }
  }
}

.validation {
  color: var(--error-red);
  font-size: 10px;
  margin-top: -25px;
}

.validation-city {
  color: var(--error-red);
  font-size: 10px;
}

.error-input {
  border-color: var(--error-red);
}

.add-city {
  font-family: var(--ubs-quaternary-font);
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: var(--ubs-dark-purple);
  cursor: pointer;
  margin-bottom: 10px;
}

.cross-img {
  position: absolute;
  cursor: pointer;
  top: 37px;
  right: 10px;
  color: var(--ubs-quintynary-light-grey);
  width: 11px;
  height: 11px;
}

.edit-text {
  color: var(--ubs-primary-grey);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.arrowDown-img {
  position: absolute;
  top: 40px;
  right: 15px;
  cursor: pointer;
}

input.ng-touched.ng-invalid {
  border: 1px solid var(--ubs-error-ligh-red);
}

.itemList {
  width: 215px;
  font-size: 14px;
  line-height: 20px;
}

.delete-button-img {
  margin: 0 15px;
  cursor: pointer;
}

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
  margin-bottom: 28px !important;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 !important;
}

::ng-deep .mat-content {
  padding: 5px;
  flex: none !important;
}

::ng-deep .mat-expansion-indicator::after {
  margin-bottom: 6px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 5px 0 !important;
}
