::ng-deep {
  .mat-tab-labels .mat-tab-label-active {
    .mat-tab-label-content {
      color: var(--primary-green);
    }
  }

  .mat-tab-label-content {
    font-size: 20px;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--primary-green);
  }
}

.header_list {
  display: grid;
  grid-template-columns: 200px 172px 222px auto;
  grid-template-rows: 30px;
  max-width: 862px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 40px;
  line-height: 20px;
  border: none;
  text-align: center;
}

.card {
  display: grid;
  grid-template-rows: 80px auto;
  background-color: var(--ubs-primary-white);
  box-shadow: 0 2px 6px rgba(100, 114, 125, 0.15);
  max-width: 862px;
  margin-top: 18px;
}

.empty_card {
  display: grid;
  grid-template-columns: 56px 143px 172px 222px 268px;
  justify-items: center;
  align-items: center;

  .order_sum {
    margin-right: 75px;
    justify-self: end;
  }

  .btns_group {
    .btn_grid_cancel,
    .btn_grid_pay,
    .btn_grid_fake {
      display: inline-block;
      width: 114px;
      margin: 0 20px 0 0;

      .btn_pay {
        height: 36px;
        width: 114px;
        border: none;
        color: var(--ubs-primary-white);
        padding: 8px 20px 8px 20px;
        background: var(--ubs-primary-green);
        border-radius: 4px;
      }

      .btn_cancel {
        height: 36px;
        width: 114px;
        color: var(--ubs-primary-green);
        background: var(--ubs-primary-white);
        border: 1px solid var(--ubs-primary-green);
        border-radius: 4px;
      }

      .btn_fake {
        display: none;
      }
    }

    .btn_grid_order {
      margin: 0 20px 0 64px;

      .btn_order {
        height: 36px;
        color: var(--ubs-primary-green);
        border: 1px solid var(--ubs-primary-green);
        padding: 8px 24px 8px 24px;
        background: var(--ubs-primary-white);
        border-radius: 4px;
      }
    }
  }
}

.full_card {
  display: grid;
  grid-template-rows: 28px auto;
  grid-template-columns: 670px;
  margin-left: 56px;
  color: var(--ubs-secondary-grey);

  .header_details {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: 0.002em;
    color: var(--ubs-primary-black);
    font-family: var(--primary-font);
  }
}

.table_of_details {
  margin-top: 15px;
  font-family: var(--primary-font);

  .header_table {
    height: 34px;
    margin: 5px 0 2px 0;
    border-bottom: 1px solid var(--ubs-primary-light-grey);

    th {
      text-align: left;
    }

    th:nth-child(4) {
      text-align: center;
    }

    th:nth-child(5) {
      text-align: right;
    }
  }

  td {
    padding-top: 28px;
  }
}

.data_table {
  color: var(--ubs-quaternary-dark-grey);

  td {
    text-align: left;
  }
}

.sum_of_order {
  border-top: 1px solid var(--ubs-primary-light-grey);

  td {
    padding-top: 16px;
    text-align: right;
  }
}

.sum_to_pay {
  td {
    padding-top: 8px;
    padding-bottom: 16px;
    text-align: right;
  }
}

.optional_row {
  td {
    padding-top: 8px;
    text-align: right;
  }
}

.data_table td:nth-child(4) {
  padding-left: 40px;
}

.data_table td:nth-child(5) {
  text-align: right;
  color: var(--ubs-primary-grey);
  font-weight: bold;
}

.sum_of_order td:nth-child(2) {
  color: var(--ubs-primary-grey);
  font-weight: bold;
}

.sum_to_pay td:nth-child(2) {
  color: var(--ubs-primary-grey);
  font-weight: bold;
}

.optional_row td:nth-child(2) {
  color: var(--primary-green);
  font-size: 10px;
  line-height: 12px;
}

.order_details {
  width: 450px;
  margin-left: 16px;
  color: var(--ubs-primary-grey);
  font-family: var(--primary-font);

  .recipient {
    margin: 32px 0;
  }

  .bold_text {
    font-weight: bold;
  }

  ol {
    margin-bottom: 0;
    list-style-type: none;
  }
}

.download {
  display: grid;
  grid-template-areas: 'arrow text' 'maximize text';
  grid-template-columns: 16px auto;
  grid-template-rows: 17px auto;
  justify-content: end;
  margin: 0 18px 33px 0;
  color: var(--primary-green);
}

.arrow {
  grid-area: arrow;
}

.maximize {
  grid-area: maximize;
  width: 16px;
  height: 1px;
  transform: rotate(-180deg);
}

.text {
  grid-area: text;
  margin: 0 22px;
}
