table {
  width: 100%;

  caption {
    display: none;
  }
}

body {
  font-family: var(--tertiary-font);
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.selectRole {
  width: 100px;
}

.blueColumn {
  background: rgba(00, 162, 224, 0.08);
}

#message {
  width: auto;
  height: auto;
  position: center;
  text-align: center;
}
