.flash-message {
  text-align: center;
  left: 20%;
  right: 20%;
  top: 0;
}

.app-container {
  margin-top: 123px;
  min-height: calc(100% - 340px);
}

.stop-scroll {
  position: fixed;
}

.app-footer {
  width: 100%;
}
