@import '../typography/typography';

.offline {
  top: 50px;
  left: 50%;
  position: fixed;
  font-weight: 500;
  font-size: larger;
  background: transparent;
  color: var(--error-red);
  z-index: 999;
}

::ng-deep .mat-select:focus-visible {
  outline: 2px solid currentColor !important;
}
