@import '../typography/typography';

.offline {
  top: 50px;
  left: 50%;
  position: fixed;
  font-weight: 500;
  font-size: larger;
  background: transparent;
  color: var(--error-red);
  z-index: 999;
}

::ng-deep .mat-select:focus-visible {
  outline: 2px solid currentcolor !important;
}

::ng-deep .mat-slider-thumb-label {
  background-color: var(--primary-green);
}

.telegram-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #08c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.telegram-widget:hover {
  background-color: #0077b5;
}

.telegram-widget img {
  width: 35px;
  height: 35px;
}
