.calendar-week {
  width: 100%;
  height: 130px;
  background: var(--primary-white);
  box-shadow: 1px 4px 8px var(--quintynary-dark-grey);
  border-radius: 4px;
  margin-top: 26px;
  padding: 16px 12px 12px;
  font-family: var(--tertiary-font);

  .week {
    color: var(--quaternary-dark-grey);
    text-transform: capitalize;
  }

  .arrow-next,
  .arrow-previous {
    width: 18px;
    height: 18px;
  }

  .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--primary-dark-grey);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0 8px;
      border: none;
      background: none;
    }

    button:first-child {
      margin-left: 10px;
    }

    button:last-child {
      margin-right: 10px;
    }
  }

  .body {
    .day-name-row {
      font-weight: 400;
      font-size: 11px;
      line-height: 14px;
      color: var(--tertiary-light-grey);
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;

      .day-name {
        width: 52px;
        text-align: center;
        color: var(--tertiary-light-grey);
      }

      .current-name {
        color: var(--primary-green);
      }
    }

    .day-number-row {
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      color: var(--quaternary-grey);
      display: flex;
      justify-content: space-between;

      .day-number {
        width: 52px;
        height: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .enrolled-day {
        background-color: var(--primary-light-green);
      }

      .unenrolled-day {
        background-color: var(--whitesmoke-grey);
      }

      .enrolled-past-day {
        background-color: transparent;
        border: 1px solid var(--primary-light-green);
      }

      .unenrolled-past-day {
        background-color: transparent;
        border: 1px solid var(--whitesmoke-grey);
      }

      .current-number {
        color: var(--primary-white);
        background-color: var(--primary-green);
      }
    }
  }
}

.disabled {
  cursor: none;
  pointer-events: none;
  opacity: 0.7;
}

@media (max-width: 575px) {
  .calendar-week .body .day-number-row {
    font-size: 12px;

    .day-number {
      width: 34px;
      height: 34px;
    }
  }

  .calendar-week {
    margin-top: 100px;
  }
}
