<div class="dialog-container">
  <div class="dialog-container-title">
    <h2>{{ 'ubs-client-profile.payment.title' | translate }}</h2>
    <h6 class="text-order-sum">
      {{ 'ubs-client-profile.payment.sum' | translate }} {{ totalSum }} {{ 'ubs-client-profile.payment.curency' | translate }}.
    </h6>
  </div>

  <form [formGroup]="orderDetailsForm">
    <div class="question">{{ 'ubs-client-profile.payment.question-certificate' | translate }}</div>

    <div class="form-field-container">
      <label class="certificate-title">{{ 'ubs-client-profile.payment.certificate-number' | translate }}</label>
      <div formArrayName="formArrayCertificates" *ngFor="let certificate of formArrayCertificates.controls; let i = index">
        <div class="dialog-container-certificate">
          <input
            type="text"
            class="form-control shadow-none input-border"
            [imask]="{ mask: certificateMask }"
            [unmask]="false"
            placeholder="xxxx-xxxx"
            [formControlName]="i"
            [readonly]="certStatuses[i]"
          />
          <button
            *ngIf="!cancelCertBtn"
            class="btn btn-activate"
            (click)="certificateSubmit(i)"
            [disabled]="formArrayCertificates['controls'][i].invalid || formArrayCertificates['controls'][i].pristine || 0 >= totalSum"
          >
            {{ 'ubs-client-profile.payment.btn.active' | translate }}
          </button>
          <button *ngIf="cancelCertBtn" class="btn btn-cancel-activation" (click)="deleteCertificate(i)">
            {{ 'ubs-client-profile.payment.btn.cancel' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="!certificateError && certificateStatusActive && totalSum > 0">
        <div class="text-danger">
          {{ 'ubs-client-profile.payment.certificate-activated.sum' | translate: { certificateSum: certificateSum } }}
        </div>
        <div class="text-danger">
          {{ 'ubs-client-profile.payment.certificate-activated.data' | translate: { certDate: certificateDate } }}
        </div>
        <button class="btn btn-add-certificate">
          {{ 'ubs-client-profile.payment.add-certificate' | translate }}
        </button>
      </div>
      <div *ngIf="certificateError" class="text-danger">
        {{ 'ubs-client-profile.payment.failed-certificate' | translate }}
      </div>
    </div>

    <div class="question">{{ 'ubs-client-profile.payment.bonus-need' | translate }}</div>
    <div class="text">
      {{ 'ubs-client-profile.payment.bonus-left' | translate }} {{ bonusValue }} {{ 'ubs-client-profile.payment.curency' | translate }}.
    </div>

    <mat-radio-group formControlName="bonus">
      <mat-radio-button value="no" name="no">
        {{ 'ubs-client-profile.payment.no' | translate }}
      </mat-radio-button>
      <br />
      <mat-radio-button value="yes" name="yes">
        {{ 'ubs-client-profile.payment.yes' | translate }}
      </mat-radio-button>
    </mat-radio-group>

    <hr style="border-width: 2px" />

    <div class="choose-payment">{{ 'ubs-client-profile.payment.choose-payment' | translate }}</div>
    <div class="text">{{ 'ubs-client-profile.payment.way-payment' | translate }}</div>

    <select *ngIf="totalSum > 0" formControlName="paymentSystem" class="form-select">
      <option value="Fondy" name="Fondy">{{ 'ubs-client-profile.payment.fondy-card' | translate }}</option>
      <option value="LiqPay" name="LiqPay">{{ 'ubs-client-profile.payment.liqpay-card' | translate }}</option>
    </select>
  </form>

  <div class="action-btns">
    <mat-dialog-actions>
      <button class="btn btn-cancel" mat-dialog-close>
        {{ 'ubs-client-profile.payment.btn.cancel' | translate }}
      </button>
      <button class="btn btn-pay" (click)="processOrder()" [disabled]="0 >= totalSum" mat-dialog-close>
        {{ 'ubs-client-profile.payment.btn.pay' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
