<h3 style="text-align: center; margin-bottom: 2%">Add new cafe</h3>

<form #saveForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="column">
      <div style="margin-left: 7%; margin-right: 9%">
        <div class="validation-error" *ngIf="nameControl.invalid && (nameControl.dirty||nameControl.touched)">
          <div *ngIf="nameControl.errors.required">
            Name is required.
          </div>
          <div *ngIf="nameControl.errors.minlength">
            Name must be at least 3 characters long.
          </div>
          <div *ngIf="nameControl.errors.maxlength">
            Name must be maximum 30 characters long.
          </div>
        </div>
        <input type="text" id="name" class="form-control" [(ngModel)]="place.name" #nameControl="ngModel"
               placeholder="Name" required
               minlength="3" maxlength="30" name="name">
        <br>
        <app-selector
          (addCategory)="showCat($event)"></app-selector>
        <app-mappp (addLocation)="showLoc($event)"></app-mappp>
      </div>
    </div>
    <div class="column">
      <h4 style="margin-left: 14%">Select schedule: </h4>
      <div id="weekDays-selector" *ngFor="let day of weekDays; let i = index; trackBy: trackByIdx">
        <input type="checkbox" id="weekday-{{i}}" name="weekday-{{i}}" class="weekday" (click)="switch(i)"
               [(ngModel)]="isChecked[i]"/>
        <label for="weekday-{{i}}">{{day}}</label>
        <div class="validation-error" *ngIf="timeControl.invalid && (timeControl.dirty||timeControl.touched)">
          <div *ngIf="timeControl.errors.required">
            This field is required.
          </div>
        </div>
        <label for="time-start" class="label-for-time">from: </label>
        <input type="time" id="time-start" placeholder="HH:mm" [(ngModel)]="openingHoursList[i].openTime"
               name="openTime-{{i}}"
               [disabled]="!isChecked[i]"
               [required]="isChecked[i]" #timeControl="ngModel">
        <div class="validation-error" *ngIf="timeControl.invalid && (timeControl.dirty||timeControl.touched)">
          <div *ngIf="timeControl.errors.required">
            This field is required.
          </div>
        </div>
        <label for="time-end" class="label-for-time">to: </label>
        <input id="time-end" type="time" placeholder="HH:mm" [(ngModel)]="openingHoursList[i].closeTime"
               name="closeTime-{{i}}"
               [disabled]="!isChecked[i]"
               [required]="isChecked[i]" #timeControl="ngModel">
      </div>
    </div>

  </div>
  <button (click)="closeModal('custom-_modal-1');" [disabled]="!saveForm.valid"
          class="btn btn-primary submit" type="submit">Submit</button>
</form>
