
@import "~@ng-select/ng-select/themes/default.theme.css";


#weekDays-selector input[type=checkbox] {
  display: none!important;
}

#weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 110px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

#weekDays-selector input[type=checkbox]:checked + label {
  background: #2eb82e;
  color: #ffffff;
}

.label-for-time {
  margin-left: 35px;
  margin-right: 10px;
}

*{
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.error, .validation-error {
  color: red;
}

agm-map {
  width: 30vh;
  height: 65vh;
}

.delete-choice {
  background-color: darkred;
  border: none;
  color: white;
  padding: 1px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 3px 3px;
  border-radius: 50%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: green !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: green !important;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: skyblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.8rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(skyblue, 10%);
  }

  &.btn-2 {
    background-color: skyblue;
    border-radius: 50px;
    overflow: hidden;

    &::before {
      color: #fff;
      //content: "+";
      //i.icon.cloud.upload:before { content: "\f382"; }
      content: "\f382";
      font-family: "Font Awesome 5 Pro", serif;
      font-weight: 600;
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 3.3;
      position: absolute;
      top: 0px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: darken(skyblue, 30%);

      &::before {
        right: 75%;
      }
    }
  }
}






