.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-cell {
  background-color: var(--ubs-primary-grey);
  color: var(--ubs-primary-white);
  font-family: var(--primary-font);
  border: 1px solid var(--ubs-primary-light-grey);
  display: flex;
  justify-content: center;
  font-size: 14px;
  min-height: 39px;
  min-width: 48px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
}

input {
  display: inline-block;
  padding: 8px;
  margin: 20px;
  width: 128px;
  height: 36px;
}

.mat-row {
  min-height: 39px !important;
}

.mat-cell {
  border: 1px solid var(--ubs-primary-light-grey);
  display: flex;
  justify-content: center;
  color: var(--ubs-primary-grey);
  font-size: 14px;
  font-family: var(--primary-font);
  min-width: 48px;
  min-height: 39px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.mat-header-row {
  position: sticky;
  z-index: 2;
  top: 0;
  min-height: 39px !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: nowrap !important;
}

.mat-cell:last-of-type,
.mat-footer-cell:last-of-type,
.mat-header-cell:last-of-type {
  padding-right: 0;
}

.mat-cell:first-of-type,
.mat-footer-cell:first-of-type,
.mat-header-cell:first-of-type {
  display: flex;
  flex: 0 0 48px !important;
  padding: 0;
}

.mat-column-address,
.mat-column-comment_to_address_for_client {
  flex: 0 0 400px !important;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.mat-column-orderid {
  flex: 0 0 160px !important;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.mat-column-order_status {
  flex: 0 0 258px !important;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.mat-column-order_date {
  flex: 0 0 171px !important;
  display: flex;
  padding-right: 0;
  padding-left: 0;
}

.amount-items {
  width: 100px;
  height: 36px;
  margin-right: 39px;
  border: 1px solid var(--ubs-primary-light-grey);
  background-color: var(--primary-white) !important;
  border-radius: 4px;
  font-size: 14px;
  color: var(--ubs-secondary-grey);
}

.filter-button .mat-icon {
  font-size: 12px;
}

.view-table-btn .mat-icon {
  padding-top: 5px;
  font-size: 15px;
}

.filter-button {
  display: flex;
  justify-content: center;
  width: 154px;
  height: 36px;
  background-color: var(--primary-white) !important;
  border: 1px solid var(--ubs-primary-light-grey) !important;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  color: var(--ubs-secondary-grey);
  font-family: var(--primary-font);
  padding-top: 7px;
  margin-right: 300px;
}

.export-excel-btn {
  display: flex;
  justify-content: center;
  width: 290px;
  height: 36px;
  background-color: var(--primary-white) !important;
  border: 1px solid var(--ubs-primary-light-grey) !important;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  color: var(--ubs-primary-green);
  font-family: var(--primary-font);
  padding-top: 7px;
}

.view-table-btn {
  display: flex;
  justify-content: center;
  width: 154px;
  height: 36px;
  background-color: var(--primary-white) !important;
  border: 1px solid var(--ubs-primary-light-grey) !important;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  color: var(--ubs-secondary-grey);
  font-family: var(--primary-font);
  padding-top: 7px;
  margin-right: 39px;
}

.research {
  display: grid;
  grid-template-areas: 'input' 'icon';
  grid-template-columns: auto 32px;
  grid-template-rows: 36px;
  width: 426px;
  height: 36px;
  border: 1px solid var(--ubs-primary-light-grey);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.icon-style {
  grid-area: 'icon';
  color: var(--ubs-primary-light-grey);
  margin: 8px;
}

.dropdown-menu input {
  width: 16px;
  z-index: 9;
  border-radius: 3px;
  border: 1px solid var(--ubs-secondary-grey);
}

.research input {
  grid-area: 'input';
  height: 20px;
  border: none;
  margin: 8px;

  &:focus {
    outline: none;
  }
}

.mat-header-cell .mat-icon {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu {
  height: 480px;
  min-width: 356px;
  margin-right: 5px;
  overflow: scroll;
  padding: 24px;
  margin-top: 170px;
  color: var(--ubs-primary-grey);
  font-family: var(--primary-font);
  li {
    display: flex;
    align-items: center;
  }
}

.dropdown-menu li {
  color: #444e55;
}

.ng-star-inserted {
  padding-left: 0;
}

.mat-spinner {
  margin: 3rem auto;
  padding-top: 40px;

  ::ng-deep circle {
    stroke: var(--primary-green);
  }
}

.scrolling {
  height: 400px;
  overflow: scroll;
  margin-top: 20px;
}

.paginator {
  height: 100px;
}
