<div class="research">
  <div class="search-input"><input type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)" /></div>
  <div class="icon-style"><i class="fa fa-search" aria-hidden="true"></i></div>
</div>
<div class="btn-group">
  <div class="select-group">
    <img [src]="ubsAdminTableIcons.arrowDown" alt="arrow down" />
    <select class="display-counter" (change)="selectPageSize($event.target.value)">
      <option [value]="size" *ngFor="let size of pageSizeOptions">{{ size }}</option>
    </select>
  </div>
  <button type="button" class="btn btn-default" class="view-table-btn" data-toggle="dropdown">
    <mat-icon>create</mat-icon>
    Вид таблиці
  </button>
  <ul class="dropdown-menu">
    <li>Інформація про замовлення</li>
    <li *ngFor="let column of orderInfo; let i = index">
      <input type="checkbox" value="id1" checked (change)="changeColumns(column.field, i + 1)" />{{ column.field }}
    </li>
    <li>Інформація про клієнта</li>
    <li *ngFor="let column of customerInfo; let i = index">
      <input type="checkbox" value="id1" checked (change)="changeColumns(column.field, i + 4)" />{{ column.field }}
    </li>
    <li>Деталі замовлення</li>
    <li *ngFor="let column of orderDetails; let i = index">
      <input type="checkbox" value="id1" checked (change)="changeColumns(column.field, i + 10)" />{{ column.field }}
    </li>
    <li>Сертифікат</li>
    <li *ngFor="let column of sertificate; let i = index">
      <input type="checkbox" value="id1" checked (change)="changeColumns(column.field, i + 16)" />{{ column.field }}
    </li>
    <li>Деталі вивезення</li>
    <li *ngFor="let column of detailsOfExport; let i = index">
      <input type="checkbox" value="id1" checked (change)="changeColumns(column.field, i + 19)" />{{ column.field }}
    </li>
    <li>Відповідальні</li>
    <li *ngFor="let column of responsiblePerson; let i = index">
      <input type="checkbox" value="id1" checked (change)="changeColumns(column.field, i + 24)" />{{ column.field }}
    </li>
    <button class="btn btn-info" (click)="showAllColumns()">Clear</button>
  </ul>
  <button type="button" class="btn btn-default" class="export-excel-btn" (click)="openExportExcel()">Експортувати в Excel</button>
</div>
<div
  class="scrolling"
  infiniteScroll
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <table
    mat-table
    matSort
    role="presentation"
    class="mat-elevation-z0 table"
    cdkDropListGroup
    [dataSource]="dataSource"
    *ngIf="!isLoading; else spinner"
  >
    <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.field" [sticky]="column.sticky" class="column.field">
      <mat-header-cell
        *matHeaderCellDef
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropListDropped($event, i)"
        cdkDrag
        (cdkDragStarted)="dragStarted($event, i)"
        [cdkDragData]="{ name: column.field, columIndex: i }"
      >
        <div *ngIf="column.field !== 'select'; else checkbox">
          <span class="column-title">{{ column.field }}</span>
          <mat-icon *ngIf="arrowDirection !== column.field" (click)="getSortingDate(column.field, 'asc')"> arrow_downward </mat-icon>
          <mat-icon *ngIf="arrowDirection === column.field" (click)="getSortingDate(column.field, 'desc')"> arrow_upward </mat-icon>
        </div>
        <ng-template #checkbox>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [ngStyle]="{ backgroundColor: '#fff', height: '16px' }"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </ng-template>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngStyle]="column.style" class="column.field">
        <div *ngIf="column.field !== 'select'; else checkbox">
          <span *ngIf="column.field === 'order_date'">{{ row[column.field] | date: 'dd/MM/yyyy' }}</span>
          <span *ngIf="column.field !== 'order_date'">{{ row[column.field] }}</span>
        </div>
        <ng-template #checkbox class="checkbox">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            class="select-cell"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </ng-template>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <app-spinner *ngIf="isUpdate"></app-spinner>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
