<!--<ul class="list-inline">-->
<!--  <li class="list-inline-item">-->
<!--    <button type="button" class="btn btn-success">Супер</button>-->
<!--  </li>-->
<!--  <li class="list-inline-item">-->
<!--    <button type="button" class="btn btn-secondary">Нормально</button>-->
<!--  </li>-->
<!--  <li class="list-inline-item">-->
<!--    <button type="button" class="btn btn-dark btn-block">Погано</button>-->
<!--  </li>-->
<!--</ul>-->

<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-4">-->
<!--      <button type="button" class="btn btn-secondary btn-block">Супер</button>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <button type="button" class="btn btn-secondary btn-block">Нормально</button>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <button type="button" class="btn btn-dark btn-block">Погано</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="d-flex justify-content-between">
  <button type="button" class="estimation-button super-button">Супер</button>
  <button type="button" class="estimation-button normal-button">Нормально</button>
  <button type="button" class="estimation-button bad-button">Погано</button>
</div>
