<div class="container">
  <form class="form" [formGroup]="customerInfoForm">
    <div>
      <h3 class="form__headline">{{ "customer-info.title" | translate }}</h3>
    </div>
    <div class="form__wrapper row d-flex">
      <div class="form__block col-md-4 col-sm-6">
        <div class="form-group">
          <p class="form__subtitle">
          {{ "customer-info.customer.title" | translate }}
          </p>
          <label
            class="form__label"
            for="customer-name">
            {{ "customer-info.customer.name-label" | translate }}
          </label>
          <input
            class="form-control"
            type="text"
            id="customer-name"
            placeholder="{{ 'customer-info.customer.name-placeholder' | translate }}"
            formControlName="customerName" />
        </div>
        <div class="form-group">
          <label
            class="form__label"
            for="customer-tel">
            {{ "customer-info.customer.tel-label" | translate }}
          </label>
          <input
            class="form-control"
            type="tel"
            id="customer-tel"
            placeholder="{{ 'customer-info.customer.tel-placeholder' | translate }}"
            formControlName="customerPhoneNumber" />
        </div>
        <div class="form-group">
          <label
            class="form__label"
            for="customer-email">
            {{ "customer-info.customer.email-label" | translate }}
          </label>
          <input
            class="form-control"
            type="email"
            id="customer-email"
            placeholder="{{ 'customer-info.customer.email-placeholder' | translate }}"
            formControlName="customerEmail" />
        </div>
      </div>
      <div class="form__block col-md-4 col-sm-6 offset-md-1">
        <div class="form-group">
          <p class="form__subtitle">{{ "customer-info.recipient.title" | translate }}</p>
          <label
            class="form__label"
            for="recipient-name">
            {{ "customer-info.recipient.name-label" | translate }}
          </label>
          <input
            class="form-control"
            type="text"
            id="recipient-name"
            placeholder="{{ 'customer-info.recipient.name-placeholder' | translate }}"
            formControlName="recipientName" />
        </div>
        <div class="form-group">
          <label
            class="form__label"
            for="recipient-tel">
            {{ "customer-info.recipient.tel-label" | translate }}
          </label>
          <input
            class="form-control"
            type="tel"
            id="recipient-tel"
            placeholder="{{ 'customer-info.recipient.tel-placeholder' | translate }}"
            formControlName="recipientPhoneNumber" />
        </div>
        <div class="form-group">
          <label
            class="form__label"
            for="recipient-email">
            {{ "customer-info.recipient.email-label" | translate }}
          </label>
          <input
            class="form-control"
            type="email"
            id="recipient-email"
            placeholder="{{ 'customer-info.recipient.email-placeholder' | translate }}"
            formControlName="recipientEmail" />
        </div>
      </div>
    </div>
    <div class="violation">
      <p class="form__subtitle">
        {{ "customer-info.violation.title" | translate }}
      </p>
      <div class="violation__block d-flex">
        <div class="violation__item">
          <small class="form__label">
            {{ "customer-info.violation.amount" | translate }}
          </small>
          <p>{{ totalUserViolations }}</p>
        </div>
        <div class="violation__item">
          <small class="form__label">
            {{ "customer-info.violation.current-order" | translate }}
          </small>
          <p>{{ userViolationForCurrentOrder }}</p>
        </div>
      </div>
      <button
        class="btn"
        [disabled]="totalUserViolations > userViolationForCurrentOrder"
        type="button">
        {{ "customer-info.violation.button" | translate }}
      </button>
    </div>
  </form>
  <hr />
</div>
