<div class="container">
  <form class="form">
    <div>
      <h3 class="form__headline">Інформація про клієнта</h3>
    </div>
    <div class="form__wrapper row d-flex">
      <div class="form__block col-md-4 col-sm-6">
        <div class="form-group">
          <p class="form__subtitle">Клієнт</p>
          <label class="form__label" for="name">Ім'я</label>
          <input class="form-control" type="text" id="name" placeholder="Placeholder" />
        </div>
        <div class="form-group">
          <label class="form__label" for="tel">Телефон</label>
          <input class="form-control" type="tel" id="tel" placeholder="Placeholder" />
        </div>
        <div class="form-group">
          <label class="form__label" for="email">Email</label>
          <input class="form-control" type="email" id="email" placeholder="Placeholder" />
        </div>
      </div>

      <div class="form__block col-md-4 col-sm-6 offset-md-1">
        <div class="form-group">
          <p class="form__subtitle">Отримувач</p>
          <label class="form__label" for="name">Ім'я</label>
          <input class="form-control" type="text" id="name" placeholder="Placeholder" />
        </div>
        <div class="form-group">
          <label class="form__label" for="tel">Телефон</label>
          <input class="form-control" type="tel" id="tel" placeholder="Placeholder" />
        </div>
        <div class="form-group">
          <label class="form__label" for="email">Email</label>
          <input class="form-control" type="email" id="email" placeholder="Placeholder" />
        </div>
      </div>
    </div>

    <div class="violation">
      <p class="form__subtitle">Порушення клієнта</p>
      <div class="violation__block d-flex">
        <div class="violation__item">
          <small class="form__label">Всього</small>
          <p>0</p>
        </div>
        <div class="violation__item">
          <small class="form__label">Поточне замовлення</small>
          <p>0</p>
        </div>
      </div>

      <button class="btn" type="submit">Додати порушення</button>
    </div>
  </form>
  <hr />
</div>
