<div class="container">
  <form class="form" [formGroup]="customerInfoForm">
    <div>
      <h3 class="form__headline">Інформація про клієнта</h3>
    </div>
    <div class="form__wrapper row d-flex">
      <div class="form__block col-md-4 col-sm-6">
        <div class="form-group">
          <p class="form__subtitle">Клієнт</p>
          <label class="form__label" for="customer-name">Ім'я</label>
          <input class="form-control" type="text" id="customer-name" placeholder="Placeholder" formControlName="customerName" />
        </div>
        <div class="form-group">
          <label class="form__label" for="customer-tel">Телефон</label>
          <input class="form-control" type="tel" id="customer-tel" placeholder="Placeholder" formControlName="customerPhoneNumber" />
        </div>
        <div class="form-group">
          <label class="form__label" for="customer-email">Email</label>
          <input class="form-control" type="email" id="customer-email" placeholder="Placeholder" formControlName="customerEmail" />
        </div>
      </div>
      <div class="form__block col-md-4 col-sm-6 offset-md-1">
        <div class="form-group">
          <p class="form__subtitle">Отримувач</p>
          <label class="form__label" for="recipient-name">Ім'я</label>
          <input class="form-control" type="text" id="recipient-name" placeholder="Placeholder" formControlName="recipientName" />
        </div>
        <div class="form-group">
          <label class="form__label" for="recipient-tel">Телефон</label>
          <input class="form-control" type="tel" id="recipient-tel" placeholder="Placeholder" formControlName="recipientPhoneNumber" />
        </div>
        <div class="form-group">
          <label class="form__label" for="recipient-email">Email</label>
          <input class="form-control" type="email" id="recipient-email" placeholder="Placeholder" formControlName="recipientEmail" />
        </div>
      </div>
    </div>
    <div class="violation">
      <p class="form__subtitle">Порушення клієнта</p>
      <div class="violation__block d-flex">
        <div class="violation__item">
          <small class="form__label">Всього</small>
          <p>{{ totalUserViolations }}</p>
        </div>
        <div class="violation__item">
          <small class="form__label">Поточне замовлення</small>
          <p>{{ userViolationForCurrentOrder }}</p>
        </div>
      </div>
      <button class="btn" [disabled]="totalUserViolations > userViolationForCurrentOrder" type="button" (click)="openModal()">
        Додати порушення
      </button>
    </div>
  </form>
  <hr />
</div>
