.image-preview {
  max-width: 200px;
}

.image-container {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
