<div>
  <a [routerLink]="['/events']">
    <div class="edit-news">back</div>
  </a>

  <div class="form-container">
    <mat-label>Enter name for Event</mat-label>
    <div class="item-block">
      <mat-form-field class="event-input" appearance="outline">
        <mat-label>Event name up to 70 symbols.</mat-label>
        <input matInput placeholder="" [(ngModel)]="title" />
      </mat-form-field>
    </div>

    <mat-label>You can add up to seven date</mat-label>
    <div class="dateContainer">
      <div *ngFor="let date of dates; index as i" class="dateEvent">
        <app-event-date-time-picker
          (date)="getDate($event, i)"
          (startTime)="setStartTime($event, i)"
          (endTime)="setEndTime($event, i)"
        ></app-event-date-time-picker>
        <button mat-button color="warn" (click)="deleteDate(i)">X</button>
      </div>
    </div>
    <button mat-raised-button color="basic" (click)="addDate()">AddDate</button>

    <app-images-container (imgArrayOutput)="getImageTosend($event)"></app-images-container>

    <div class="textarea-wrapper">
      <h3 class="textarea-title">Events Description</h3>
      <quill-editor
        class="editor"
        [modules]="quillModules"
        placeholder="{{ 'create-news.content-placeholder' | translate }}"
        (onEditorChanged)="changedEditor($event)"
      ></quill-editor>
      <p class="textarea-description">{{ 'create-news.content-tooltip' | translate }}</p>
    </div>

    <mat-checkbox class="example-margin" [(ngModel)]="isOffLine" [labelPosition]="'before'">Event will be Offline</mat-checkbox>

    <div [ngClass]="isOffLine ? 'google-map' : 'google-map isOnline'" #map>
      <app-map-event (location)="addMarker($event)"></app-map-event>
    </div>

    <div class="item-block" [ngClass]="isOffLine ? 'item-block isOnline' : 'item-block'">
      <mat-label>You can Add link to your online Event</mat-label>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Add link to online Event.</mat-label>
        <input matInput placeholder="" [(ngModel)]="onlineLink" />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="onSubmit()">SendData</button>
  </div>
</div>
