.dateContainer {
  display: flex;
  flex-wrap: wrap;
}

.dateEvent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

::ng-deep {
  .ql-container {
    min-height: 200px;
  }
}

.content {
  z-index: 2;
  border: 2px solid rgb(161, 156, 156);
}

.content-error {
  border: 2px solid var(--error-red);
}

.event-container {
  display: flex;
  justify-content: center;
  margin: 0px 18px 0px 18px;
  overflow-x: auto;
}

.content-container {
  max-width: 1200px;
  width: 100%;
}

.event-header {
  margin: 24px 0;
}

.main-title {
  display: flex;
  align-items: center;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.title-image-wrapper {
  width: 700px;
}

.event-main {
  display: flex;
  gap: 32px;
}

.event-main-block {
  background: rgb(248, 247, 247);
}

.mat-form-field {
  font-size: 12px;
  padding-left: 0;
}

.event-input {
  width: 455px;

  .error-title {
    position: relative;
    top: 12px;
    left: -10px;
  }
}

.date-item {
  width: 96px;
}

.duration-choice {
  margin: 0 0 0 20px;
}

.left {
  width: 610px;
}

.date-event-block {
  margin: 0 0 0 20px;
}

.date-day {
  background-color: rgb(216, 213, 213);
  width: 64px;
  height: 32px;
  padding: 5px 0;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.checkbox {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.right {
  padding: 24px;
  max-width: 610px;
}

.buttons-container {
  margin-bottom: 30px;
}

.tag-error {
  font-size: 12px;
  margin-left: 20px;
  color: var(--error-red);
}

.label {
  margin-bottom: 40px;
}

.ul-eco-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  min-height: 42px;

  li {
    display: inline-block;
  }
}

.button-arrow {
  display: flex;
  align-items: center;
}

.button-arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.back-button {
  margin: 6px;
  margin-top: 9px;
  color: var(--ubs-primary-grey);
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.submit-container {
  padding: 40px 0 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 1218px;

  button {
    margin-left: 16px;
    width: 154px;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.error,
.textarea-description {
  font-size: 12px;
  display: flex;
  align-items: flex-end;
}

.error {
  color: var(--error-red);
}

@media (max-width: 1328px) {
  .event-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button-arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -275px;
    margin-top: 20px;
  }

  .event-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-header-items {
    display: flex;
    flex-direction: column;
    width: 610px;
  }

  .button-arrow {
    position: relative;
    left: 30px;
  }

  .right {
    min-width: 610px;
  }

  .event-main-container {
    display: flex;
    flex-direction: column;
  }

  .content-container {
    overflow-x: auto;
  }

  .submit-container {
    width: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
  }
}

@media (max-width: 645px) {
  .event-header {
    display: block;
    white-space: pre-wrap;
  }

  .back-button {
    position: relative;
    left: 8px;
    bottom: 31px;
  }

  .button-arrow,
  .button-arrow-container {
    margin-top: 27px;
    display: block;
    position: relative;
    left: 0px;
    margin-bottom: -25px;
  }

  .event-main,
  .content-container {
    display: block;
  }
}
