<app-spinner *ngIf="isPosting"></app-spinner>
<div *ngIf="!isPosting" class="event-container" [formGroup]="eventFormGroup">
  <a [routerLink]="['/events']">
    <div class="button-arrow">
      <img [src]="images.arrowLeft" aria-hidden="true" alt="arrow" class="button-arrow-img" />
      <div class="edit-news">Back</div>
    </div>
  </a>
  <div class="event-header">
    <h3 *ngIf="!editMode">Create Event</h3>
    <h3 *ngIf="editMode">Edit Event</h3>
    <p>
      Please provide as much details as you can - place and time of event, the goal of gathering etc. You can come back and update event
      anytime after publishing
    </p>
  </div>
  <div class="event-main">
    <mat-card class="event-main-block left">
      <div class="main-title">
        <div class="title-input">
          <div class="title-wrapper">
            <mat-label>Enter name for Event</mat-label>
            <mat-label>{{ eventFormGroup.get('titleForm').value.length }}/70</mat-label>
          </div>
          <mat-form-field appearance="outline" class="event-input">
            <mat-label>Event name up to 70 symbols.</mat-label>
            <input matInput placeholder="title" formControlName="titleForm" />
          </mat-form-field>
        </div>

        <div class="duration-choice">
          <div class="title-wrapper">
            <mat-label>Duration</mat-label>
          </div>
          <mat-form-field appearance="outline" class="date-item">
            <mat-label>Min 1 day</mat-label>
            <mat-select formControlName="eventDuration" ngDefaultControl (selectionChange)="setDateCount(+$event.value.split(' ')[0])">
              <mat-option *ngFor="let date of dateArrCount" [value]="date">
                {{ date }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <p *ngIf="eventFormGroup.get('titleForm').getError('hasNoWhiteSpaces')" class="tag-error">
        {{ 'create-news.has-white-spaces' | translate }}
      </p>

      <div class="dateContainer">
        <div *ngFor="let date of dates; index as i" class="dateEvent">
          <span class="date-day">{{ i + 1 }} day</span>
          <div class="date-event-block">
            <app-event-date-time-picker
              (datesForm)="checkForm($event, i)"
              (coordOffline)="setCoordsOnlOff($event, i)"
              (status)="checkStatus($event, i)"
              [check]="date.check"
              [editDate]="editEvent?.dates[i]"
            >
            </app-event-date-time-picker>
          </div>
          <p *ngIf="dates.length && !isAddressFill" class="tag-error">You should fill at least one address or link</p>
        </div>
      </div>

      <div class="textarea-wrapper">
        <h3 class="textarea-title">Events Description</h3>
        <div [ngClass]="eventFormGroup.get('description').valid || checkAfterSend ? 'content' : 'content content-error'">
          <quill-editor
            class="editor"
            ngDefaultControl
            formControlName="description"
            [modules]="quillModules"
            placeholder="{{ 'create-news.content-placeholder' | translate }}"
          ></quill-editor>
        </div>
        <p class="textarea-description">{{ 'create-news.content-tooltip' | translate }}</p>
      </div>
    </mat-card>
    <mat-card class="event-main-block right">
      <app-images-container
        [imagesEditArr]="imagesForEdit"
        (imgArrayOutput)="getImageTosend($event)"
        (deleteImagesOutput)="getImagesToDelete($event)"
        (oldImagesOutput)="getOldImages($event)"
      >
      </app-images-container>

      <div class="buttons-container">
        <mat-label>Initiative type</mat-label>
        <p *ngIf="!checkAfterSend" [ngClass]="{ 'tag-error': !isTagValid }">you should choose at least one type</p>
        <div>
          <ul class="ul-eco-buttons" aria-label="filter by items">
            <li *ngFor="let tag of tags">
              <a
                role="button"
                [attr.aria-pressed]="tag.isActive"
                class="custom-chip global-tag"
                [ngClass]="{ 'global-tag-clicked': tag.isActive }"
                tabindex="0"
                (click)="checkTab(tag)"
              >
                <span class="text">{{ tag.nameEn }}</span>
                <div [ngClass]="{ 'global-tag-close-icon': tag.isActive }"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="buttons-container">
        <mat-label>Event type</mat-label>
        <div class="flex-container">
          <a
            role="button"
            class="custom-chip global-tag"
            [ngClass]="{ 'global-tag-clicked': isOpen }"
            tabindex="0"
            (click)="changeToOpen()"
          >
            <span class="text">open</span>
            <div [ngClass]="{ 'global-tag-close-icon': isOpen }"></div>
          </a>
          <a
            role="button"
            class="custom-chip global-tag"
            [ngClass]="{ 'global-tag-clicked': !isOpen }"
            tabindex="0"
            (click)="changeToClose()"
          >
            <span class="text">close</span>
            <div [ngClass]="{ 'global-tag-close-icon': !isOpen }"></div>
          </a>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Invite</mat-label>
        <select matNativeControl required>
          <option value="All">All</option>
          <option value="Frends">Frends</option>
        </select>
      </mat-form-field>
    </mat-card>
  </div>

  <div class="submit-container">
    <button mat-raised-button class="button" (click)="escapeFromCreateEvent()">Cancel</button>
    <button mat-raised-button class="secondary-global-button">Preview</button>
    <button mat-raised-button class="primary-global-button" (click)="onSubmit()">Publish</button>
  </div>
</div>
