<!--&lt;!&ndash;<html>&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">&ndash;&gt;-->
<!--&lt;!&ndash;  <title>Admin</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--<div class="container" (window:resize)="onResize($event)">-->
<!--  <div>-->
<!--    <table class="placeTable table-bordered"  >-->
<!--      <thead>-->
<!--      <tr class="statusSelector">-->
<!--        <th class="rowName">Id</th>-->
<!--        <th class="rowName">Category</th>-->
<!--        <th class="rowName">Name</th>-->
<!--        <th class="rowName">Location</th>-->
<!--        <th class="rowName">Working times</th>-->
<!--        <th class="rowName">Added by</th>-->
<!--        <th class="rowName">Added on</th>-->

<!--        <th class="dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            {{defaultStatus}}-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <a class="dropdown-item" (click)="changeStatus('approved')">Approved</a>-->
<!--            <a class="dropdown-item" (click)="changeStatus('proposed')">Proposed</a>-->
<!--            <a class="dropdown-item" (click)="changeStatus('declined')">Declined</a>-->
<!--          </div>-->
<!--        </th>-->

<!--&lt;!&ndash;        <th class="dropdownStatus" (click)="onStatusClick() ">{{defaultStatus}}&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="fa fa-caret-down" style="display: inline;"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          <div id="statusMenu" class="dropdown-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <a style="color: seagreen" (click)="changeStatus('approved')">Approved</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a style="color: darkslategray" (click)="changeStatus('proposed')">Proposed</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a style="color: coral" (click)="changeStatus('declined')">Declined</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </th>&ndash;&gt;-->
<!--        <th class="rowName" *ngIf="defaultStatus === 'proposed'">Action</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--&lt;!&ndash;      <tr *ngFor="let place of pageElements">&ndash;&gt;-->
<!--      <tr *ngFor="let place of places">-->
<!--        <td class="rowValue">{{place.id}}</td>-->
<!--        <td class="rowValue">{{place.category.name}}</td>-->
<!--        <td class="rowValue">{{place.name}}</td>-->
<!--        <td class="rowValue" *ngIf="place.location else noLocation">{{place.location.address}}</td>-->
<!--        <ng-template #noLocation>-->
<!--          <td>{{noData}}</td>-->
<!--        </ng-template>-->
<!--        <td class="rowValue" (click)="onOpenHoursShow()">{{convertHoursToShort(place.openingHoursList)}}</td>-->
<!--        <td class="rowValue">{{place.author.email}}</td>-->
<!--        <td class="rowValue">{{place.modifiedDate}}</td>-->
<!--        <td class="rowValue">{{place.status}}</td>-->
<!--        <td class="rowValue place-action" *ngIf="defaultStatus === 'proposed'">-->
<!--          <button (click)="setPlaceStatus(place.id, 'APPROVED')" type="button" class="btn btn-outline-success">Approve</button>-->
<!--          <button (click)="setPlaceStatus(place.id, 'DECLINED')" type="button" class="btn btn-outline-danger">Decline</button>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div id="footer" class="container">-->
<!--    <a>{{pageCurrent}} / {{pageAmount}}</a>-->
<!--    <button id="prev_btn" class="btn btn-info" style="float: left" (click)="onPrevClick()">< Prev</button>-->
<!--    <button id="next_btn" class="btn btn-info" style="float: right" (click)="onNextClick()">Next ></button>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container" (window:resize)="onResize($event)">-->



<div class="container" (window:resize)="onResize($event)">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Working times</th>
      <th scope="col">Added by</th>
      <th scope="col">Added on</th>
      <th class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{defaultStatus}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="changeStatus('approved')">Approved</a>
          <a class="dropdown-item" (click)="changeStatus('proposed')">Proposed</a>
          <a class="dropdown-item" (click)="changeStatus('declined')">Declined</a>
        </div>
      </th>
            <th scope="col" *ngIf="defaultStatus === 'proposed'">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let place of pageElements">
      <td>{{place.id}}</td>
      <td>{{place.category.name}}</td>
      <td>{{place.name}}</td>
      <td *ngIf="place.location else noLocation">{{place.location.address}}</td>
      <ng-template #noLocation>
        <td>{{noData}}</td>
      </ng-template>
      <td (click)="onOpenHoursShow()">{{convertHoursToShort(place.openingHoursList)}}</td>
      <td>{{place.author.email}}</td>
      <td>{{place.modifiedDate}}</td>
      <td>{{place.status}}</td>
      <td class="place-action" *ngIf="defaultStatus === 'proposed'">
        <button (click)="updateStatus(place.id, 'APPROVED')" type="button" class="btn btn-outline-success">Approve
        </button>
        <button (click)="updateStatus(place.id, 'DECLINED')" type="button" class="btn btn-outline-danger">Decline
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="footer" class="container">-->
    <a>{{pageCurrent}} / {{pageAmount}}</a>
    <button id="prev_btn" class="btn btn-info" style="float: left" (click)="onPrevClick()">< Prev</button>
    <button id="next_btn" class="btn btn-info" style="float: right" (click)="onNextClick()">Next ></button>
  </div>
</div>
