<div class="dialog-container">
  <div class="close-wrapper">
    <img mat-dialog-close class="close-btn" src=".\assets\img\auth\cross.svg" alt="close" />
  </div>
  <mat-dialog-content>
    <p>{{ 'add-new-certificate.title' | translate }}</p>
  </mat-dialog-content>
  <form [formGroup]="addCertificateForm">
    <div class="row3">
      <div class="code-input">
        <label class="form-label" for="code">{{ 'add-new-certificate.сertificate-field' | translate }}</label>
        <input type="text" formControlName="code" id="code" [unmask]="false" [imask]="{ mask: certificateMask }" />
        <div *ngIf="addCertificateForm.controls['code'].invalid && addCertificateForm.controls['code'].touched">
          <div class="error-message">
            {{ getErrorMessage(addCertificateForm.controls['code'], 'code') | translate }}
          </div>
        </div>
      </div>
      <div class="monthCount-input">
        <label for="monthCount" class="form-label">{{ 'add-new-certificate.duration-months-field' | translate }}</label>
        <input type="text" formControlName="monthCount" id="monthCount" (ngModelChange)="valueChangeMonthCount($event)" />
        <div *ngIf="addCertificateForm.controls['monthCount'].invalid && addCertificateForm.controls['monthCount'].touched">
          <div class="error-message">
            {{ getErrorMessage(addCertificateForm.controls['monthCount'], 'monthCount') | translate }}
          </div>
        </div>
      </div>
      <div class="points-input">
        <label for="initialPointsValue" class="form-label">{{ 'add-new-certificate.discount-field' | translate }}</label>
        <input type="text" formControlName="initialPointsValue" id="initialPointsValue" (ngModelChange)="valueChangePointsValue($event)" />
        <div *ngIf="addCertificateForm.controls['initialPointsValue'].invalid && addCertificateForm.controls['initialPointsValue'].touched">
          <div class="error-message">
            {{ getErrorMessage(addCertificateForm.controls['initialPointsValue'], 'initialPointsValue') | translate }}
          </div>
        </div>
      </div>
    </div>
  </form>
  <mat-dialog-actions>
    <button class="btn btn-outline-success" mat-dialog-close>{{ 'add-new-certificate.cancel-button' | translate }}</button>
    <button
      class="btn btn-success"
      [disabled]="addCertificateForm.invalid || monthCountDisabled || pointsValueDisabled"
      (click)="createCertificate()"
    >
      {{ 'add-new-certificate.add-button' | translate }}
    </button>
  </mat-dialog-actions>
</div>
