* {
  text-align: center;
}

.dialog-container {
  width: 450px;
  height: 300px;
  padding: 10px;
  font-family: var(--secondary-font);
}

.mat-dialog-actions {
  width: 100%;
  display: flex;
  margin-top: 65px;
  justify-content: space-between;
}

.row3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-secondary-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 0;
  margin-top: 35px;

  input {
    background: var(--ubs-primary-white);
    border: 1px solid var(--ubs-grey-blue);
    height: 36px;
    width: 95px;
  }
}

input.ng-touched.ng-invalid {
  border: 1px solid var(--ubs-error-ligh-red);
}

.close-btn {
  width: 18px;
  height: 18px;
}

.btn-success,
.btn-cancel {
  height: 40px;
  color: var(--freinacht-black);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
}

.btn-success {
  width: 194px;
  background-color: var(--ubs-button-light-green);
  border-color: var(--ubs-button-light-green);
  margin-left: 15px;
  margin-right: 24px;
}

.btn-cancel {
  width: 125px;
  background-color: var(--ubs-primary-white);
  border: none;
}

.btn-cancel:active {
  background-color: var(--ubs-button-light-green);
  border-color: var(--ubs-button-light-green);
  border-radius: 4px;
}

.close-wrapper {
  display: flex;
  justify-content: end;
}

.error-message {
  color: var(--ubs-error-ligh-red);
  font-size: 8px;
  line-height: 10px;
  padding-top: 3px;
}
