* {
  text-align: center;
}

.dialog-container {
  width: 450px;
  height: 300px;
  padding: 20px;
  font-family: var(--secondary-font);
}

.mat-dialog-actions {
  width: 410px;
  display: flex;
  margin-top: 85px;
  justify-content: space-between;
}

.row3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-secondary-grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 0;
  margin-top: 35px;

  input {
    background: var(--ubs-primary-white);
    border: 1px solid var(--ubs-grey-blue);
    border-radius: 4px;
    height: 36px;
    width: 95px;
  }
}

input.ng-touched.ng-invalid {
  border: 1px solid var(--ubs-error-ligh-red);
}
