$first-font-color: #494A49;
$second-font-color: #BEBEBE;

.profile-menu {
  border-bottom: 1px solid #13AA57;
  height: 28px;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  z-index: 1;
  text-align: center;

  span {
    display: block;
    color: #056B33;
    width: 82px;
    text-align: center;
    cursor: pointer;
    height: 28px;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    vertical-align: center;
    padding-top: 6px;
    font-family: "Open Sans";

      &:hover {
        background-color: #F0F5F4;
        border-bottom: 1px solid #13AA57;
    }

    .active {
      &:hover {
        background-color: #ffffff;
        border-bottom: none;
      }
    }
  }
}

.active {
  border: 1px solid #13AA57;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  background-color: #ffffff;
  font-family: OpenSans;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;

  #create-button {
    cursor: pointer;
    width: 116px;
    min-width: 86px;
    padding: 0 4px 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    span {
      display: block;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
    }
  }
}

.in-progress {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $first-font-color;
  text-align: left;

      p {
        margin-right: 5px;

        span {
          color: $second-font-color;
          margin-left: 5px;
        }
      }
}

.habits-in-progress {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.acquired {
  margin: 16px 0 24px;
}

