<div class="add-friend">
    <img [src]="friend.profilePicture?friend.profilePicture:'https://i.pinimg.com/236x/2e/3d/6e/2e3d6e6c801ce424de1e6d519e092ee8.jpg' " alt="###">
    <p>{{friend.name}}</p>
    <button type="button" *ngIf = "btnDisplay" class="primary-global-button add-btn" (click)="addFriend(friend.id)">Add friend</button>
    <button type="button" *ngIf = "!btnDisplay" class="btn btn-secondary delete-btn" (click)="deleteFriend(friend.id)">Delete friend</button>
    <!-- <button type="button" [ngClass] = "{'visible':'btnDisplay'}" class="primary-global-button add-btn" (click)="addFriend(friend.id)">Add friend</button>
    <button type="button" [ngClass] = "{'not-visible':'!btnDisplay'}" class="primary-global-button delete-btn" (click)="deleteFriend(friend.id)">Delete friend</button> -->
</div>
