.add-friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100px
  };
}

.visible {
  display: block;
}

.not-visible {
  display: none;
}
