<div class="main-container">
  <button *ngIf="!isUBS || isUbsOrderSubmit" class="close" (click)="userReply(false)">
    <img src="{{ closeButton }}" alt="close" />
  </button>
  <div class="warning-text">
    <div class="warning-title" *ngIf="popupTitle">
      {{ popupTitle | translate }}
    </div>
    <div class="warning-subtitle" *ngIf="popupSubtitle">
      {{ popupSubtitle | translate }}
    </div>
  </div>
  <div class="buttons-container">
    <button class="secondary-global-button s-btn" [class.submit-cancel]="isUbsOrderSubmit" (click)="userReply(null)">
      {{ popupCancel | translate }}
    </button>
    <button class="primary-global-button s-btn" [class.submit-confirm]="isUbsOrderSubmit" [disabled]="isLoading" (click)="userReply(true)">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
      {{ popupConfirm | translate }}
    </button>
  </div>
</div>
