.main-container {
  position: relative;
  max-width: 568px;
  height: 256px;
  padding: 56px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .close {
    position: absolute;
    top: 26px;
    right: 26px;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.warning-text {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  color: var(--secondary-dark-grey);
}

.buttons-container {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .main-container {
    max-width: 509px;
  }

  .warning-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 575px) {
  .main-container {
    min-width: 100vw;
    min-height: 100vh;
    padding: 16px;
    justify-content: center;
    align-items: center;
  }

  .warning-text {
    max-width: 288px;
    margin-bottom: 89px;
  }

  .buttons-container {
    width: 288px;
    height: 128px;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
  }

  .secondary-global-button {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 319px) {
  .warning-text {
    text-align: center;
    margin-bottom: 15px;
  }

  .main-container .close {
    top: 5px;
    right: 5px;
  }

  .buttons-container {
    width: auto;
  }

  .secondary-global-button,
  .primary-global-button {
    height: auto;
    margin-bottom: 5px;
  }
}
