<div class="close-button">
  <img mat-dialog-close [src]="icons.close" class="close-button-img" alt="close-icon" />
</div>
<div class="dialog-container">
  <div class="main-content">
    <div class="header-text">
      <h4>{{ 'ubs-tariffs.btn.add_service' | translate }}</h4>
    </div>
    <form [formGroup]="addServiceForm">
      <div class="service">
        <label for="name">{{ 'ubs-tariffs-add-service.name_of_the_service' | translate }}</label>
        <input
          type="text"
          formControlName="name"
          class="serviceInput"
          id="name"
          placeholder="{{ 'ubs-tariffs-add-service.placeholder-service' | translate }}"
        />
      </div>
      <div class="row4">
        <div class="capacity-input">
          <label class="form-label" for="capacity">Обєм</label>
          <input type="text" formControlName="capacity" id="capacity" />
        </div>
        <div class="basic-cost-input">
          <label for="price" class="form-label">Базова вартість</label>
          <input type="text" formControlName="price" id="price" />
        </div>
        <div class="courier-input">
          <label for="commission" class="form-label">Убс курєр</label>
          <input type="text" formControlName="commission" id="commission" />
        </div>
        <div class="full-cost-input">
          <label for="fullCost" class="form-label">Повна вартість</label>
          <input type="text" formControlName="fullCost" id="fullCost" />
        </div>
      </div>
      <div class="service-description">
        <label for="description">{{ 'ubs-tariffs-add-service.service_description' | translate }}</label>
        <input
          class="description-input"
          type="text"
          formControlName="description"
          id="description"
          placeholder="{{ 'ubs-tariffs-add-service.placeholder-text' | translate }}"
        />
      </div>
    </form>
  </div>
  <div class="buttons">
    <button mat-dialog-close class="secondary-global-button" type="button">{{ 'ubs-tariffs-add-service.btn.cancel' | translate }}</button>
    <button class="primary-global-button submit" type="submit" *ngIf="data.button === 'add'" (click)="addNewService()">
      {{ 'ubs-tariffs-add-service.btn.add' | translate }}
    </button>
    <button type="button" *ngIf="data.button === 'update'" class="primary-global-button submit">Update</button>
  </div>
</div>
