<div *ngIf="orders.length !== 0" class="header_list">
  <div class="header header_list-num">{{ 'user-orders.order-number' | translate }}</div>
  <div class="header header_list-date">{{ 'user-orders.order-date' | translate }}</div>
  <div class="header header_list-paymentDate">{{ 'add-payment.payment-date' | translate }}</div>
  <div class="header header_list-status">{{ 'user-orders.order-status' | translate }}</div>
  <div class="header header_list-paymentStatus">{{ 'user-orders.order-payment-status' | translate }}</div>
  <div class="header header_list-paymentAmount">{{ 'user-orders.payment-amount' | translate }}</div>
  <div *ngIf="!isOrderDoneOrCancel(orders[0])" class="header header_list-paymentAmountDue">{{ 'user-orders.amount-due' | translate }}</div>

  <div class="empty-div"></div>
</div>
<mat-accordion multi="false">
  <div *ngFor="let order of orders">
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'none'" [expandedHeight]="'none'">
        <div class="mat-content-wrapper" (click)="changeCard(order.id)" [id]="order.id">
          <div class="mobile_list">
            <div class="mobile mobile_list-num">{{ 'user-orders.order-number' | translate }}</div>
            <mat-panel-title class="order_list-num table-data">
              {{ order.id }}
            </mat-panel-title>
          </div>
          <div class="mobile_list">
            <div class="mobile mobile_list-date">{{ 'user-orders.order-date' | translate }}</div>
            <mat-panel-description class="order_list-date table-data">
              {{ order.dateForm | date: 'dd.MM.y' }}
            </mat-panel-description>
          </div>
          <div class="mobile_list">
            <div class="mobile mobile_list-paymentDate">{{ 'user-orders.payment-date' | translate }}</div>
            <mat-panel-description class="order_list-paymentDate table-data">
              {{ order.datePaid | date: 'dd.MM.y' }}
            </mat-panel-description>
          </div>
          <div class="mobile_list">
            <div class="mobile mobile_list-status">{{ 'user-orders.order-status' | translate }}</div>
            <mat-panel-description class="order_list-status table-data">
              {{ getLangValue(order.orderStatus, order.orderStatusEng) }}
            </mat-panel-description>
          </div>
          <div class="mobile_list">
            <div class="mobile mobile_list-paymentStatus">{{ 'user-orders.order-payment-status' | translate }}</div>
            <mat-panel-description class="order_list-paymentStatus table-data">
              {{ getLangValue(order.paymentStatus, order.paymentStatusEng) }}
            </mat-panel-description>
          </div>
          <div class="mobile_list">
            <div class="mobile mobile_list-paymentAmount">{{ 'user-orders.payment-amount' | translate }}</div>
            <mat-panel-description class="order_list-paymentAmount table-data">
              {{ order.orderFullPrice | currency | localizedCurrency }}
            </mat-panel-description>
          </div>
          <div class="mobile_list">
            <div class="mobile mobile_list-date">{{ 'user-orders.amount-due' | translate }}</div>
            <mat-panel-description *ngIf="!isOrderDoneOrCancel(order)" class="order_list-paymentAmountDue table-data">
              {{ order.amountBeforePayment | currency | localizedCurrency }}
            </mat-panel-description>
          </div>
        </div>

        <div *ngIf="isOrderPaymentAccess(order)" class="btns_group">
          <div *ngIf="canOrderBeCancel(order)" class="btn_grid_cancel">
            <button class="btn_cancel" (click)="openOrderCancelDialog(order)">
              {{ 'user-orders.btn.cancel' | translate }}
            </button>
          </div>
          <div *ngIf="!isOrderCanceled(order)" class="btn_grid_pay">
            <button class="btn_pay" (click)="openOrderPaymentDialog(order)">
              {{ 'user-orders.btn.pay' | translate }}
            </button>
          </div>
        </div>
      </mat-expansion-panel-header>

      <app-ubs-user-order-details [order]="order"></app-ubs-user-order-details>
    </mat-expansion-panel>
  </div>
</mat-accordion>
