<div *ngIf="orders.length !== 0" class="header_list">
  <div class="header_list-num">{{ 'user-orders.order-number' | translate }}</div>
  <div class="header_list-date">{{ 'user-orders.order-date' | translate }}</div>
  <div class="header_list-status">{{ 'user-orders.order-status' | translate }}</div>
  <div class="header_list-paymentStatus">{{ 'user-orders.order-payment-status' | translate }}</div>
  <div class="header_list-paymentAmount">{{ 'user-orders.payment-amount' | translate }}</div>
  <div class="empty-div"></div>
</div>
<mat-accordion multi="false">
  <div *ngFor="let order of orders">
    <mat-expansion-panel (click)="changeCard(order.id)">
      <mat-expansion-panel-header>
        <div class="mat-content-wrapper">
          <mat-panel-title class="order_list-num">
            {{ order.id }}
          </mat-panel-title>
          <mat-panel-description class="order_list-date">
            {{ order.dateForm | date: 'dd.MM.y' }}
          </mat-panel-description>
          <mat-panel-description class="order_list-status">
            {{ order.orderStatus }}
          </mat-panel-description>
          <mat-panel-description class="order_list-paymentStatus">
            {{ order.paymentStatus }}
          </mat-panel-description>
          <mat-panel-description class="order_list-paymentAmount">
            {{ order.orderFullPrice | currency | localizedCurrency }}
          </mat-panel-description>
        </div>
        <div class="btn-space">
          <div *ngIf="isOrderPaymentAccess(order)" class="btns_group">
            <div class="btn_grid_cancel">
              <div *ngIf="!isOrderHalfPaid(order)" class="btn_grid_cancel">
                <button class="btn_cancel" (click)="openOrderCancelDialog(order)">
                  {{ 'user-orders.btn.cancel' | translate }}
                </button>
              </div>
            </div>
            <div class="btn_grid_pay">
              <button class="btn_pay" (click)="openOrderPaymentDialog(order)">
                {{ 'user-orders.btn.pay' | translate }}
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <div class="description" *ngIf="order.extend">
      <app-ubs-user-order-details [order]="order"></app-ubs-user-order-details>
    </div>
  </div>
</mat-accordion>
