::ng-deep {
  font-family: 'Lato', sans-serif;

  .mat-tab-label-content {
    font-size: 20px;
  }

  .mat-tab-labels .mat-tab-label-active {
    .mat-tab-label-content {
      color: var(--ubs-electric-violet);
    }
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--ubs-electric-violet);
  }

  .mat-tab-body-content {
    transform: none !important;
  }

  .mat-tab-body {
    overflow: visible !important;

    &.mat-tab-body-active {
      overflow-x: visible !important;
      width: 100%;
    }
  }
}

.mat-expansion-panel-header {
  height: 80px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 17px;
}

.table-data {
  color: var(--ubs-primary-black);
}

.header_list {
  display: grid;
  grid-template-columns: repeat(7, 109px);
  column-gap: 1.4vw;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 17px;
  margin-top: 26px;

  .header {
    line-height: 20px;
    font-style: normal;
  }

  .header_list-date {
    padding-left: 0.4vw;
  }

  .header_list-paymentStatus {
    padding-right: 0.4vw;
  }

  .header_list-paymentDate {
    padding-left: 0.3vw;
  }

  div {
    width: 90px;
    flex: auto;
  }

  .empty-div {
    width: 300px;
  }
}

::ng-deep .mat-content {
  align-items: center;
}

.mat-content-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 109px);
  column-gap: 1.4vw;
}

button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.btn-space {
  display: flex;
  width: 30%;
}

.btns-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  gap: 16px;
}

.mobile_list .mobile {
  display: none;
}

.mat-expansion-panel {
  margin: 10px 0 10px 0;
  background: var(--primary-white);
  box-shadow: 0 2px 6px rgba(100, 114, 125, 0.15);
}

.mat-expansion-panel-header-title {
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex: 1 1 80px;
}

.mat-expansion-panel-header-description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 117px;
}

.description {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  overflow: auto;
}

@media (max-width: 1540px) {
  .mat-expansion-panel-header-title {
    padding: 0 12px;
  }

  .btns-group {
    margin-left: 0;
  }
}

@media (max-width: 1420px) {
  .mat-expansion-panel-header-description {
    flex: unset;
    margin-right: 0;
  }

  .mat-content-wrapper {
    grid-template-columns: repeat(7, 90px);
  }

  .header_list {
    grid-template-columns: repeat(7, 90px);
  }

  ::ng-deep {
    .mat-content {
      justify-content: space-between;
    }
  }
}

@media (min-width: 769px) and (max-width: 1140px) {
  :host ::ng-deep {
    .mat-content {
      display: flex;
      flex-direction: column !important;
      align-items: flex-start;
    }
  }

  .mobile_list {
    height: 25px;
  }

  .mat-expansion-panel-header {
    height: 100px;
  }

  .btns-group {
    margin: 10px 0 0 12px;

    button {
      max-width: 114px;
    }
  }
}

@media (max-width: 1140px) {
  .header_list {
    font-size: 12px;
    font-weight: 500;

    .btns-group {
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  ::ng-deep {
    .mat-tab-labels {
      .mat-tab-label-content {
        color: #979797;
      }

      .mat-tab-label-active .mat-tab-label-content {
        font-size: 16px;
      }
    }

    .mat-expansion-indicator {
      display: none;
    }
  }

  .mat-expansion-panel-header {
    height: fit-content;
    padding: 20px 12px;

    ::ng-deep .mat-content {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .header_list {
    display: none;
  }

  .mat-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mobile_list {
    display: flex;
    flex-direction: row;
    gap: 23px;

    .mobile_list-date {
      width: 100%;
    }

    .mobile {
      display: flex;
      width: 100%;
      font-weight: 700;
      font-size: 14px;
    }

    .table-data {
      width: 100%;
      flex: auto;
    }
  }

  .btns-group {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 20px;
    gap: 10px;

    .btn-box {
      width: 100%;
      margin: 0;

      .s-btn {
        max-width: none;
        width: 100%;
      }
    }
  }
}
