<div class="wrapper">
  <div class="left-side">
    <img class="main-picture"
         [src]="mainSignInImage.signInMainImg"
         alt="sign-in image">
  </div>
  <div class="right-side">
    <a (click)="onCloseRestoreWindow()"
       class="close-modal-window">
      <img class="cross-btn"
           [src]="closeBtn.closeButton"
           alt="close button">
    </a>
    <h1>{{'user.auth.forgot-password.title' | translate}}</h1>
    <h2>{{'user.auth.forgot-password.fill-form' | translate}}</h2>
    <form class="sign-in-form">
      <label for="email">{{'user.auth.sign-in.email' | translate}}</label>
      <input id="email"
             type="email"
             placeholder="example@email.com">
      <button class="send-btn primary-global-button"
              type="submit">
        {{'user.auth.forgot-password.send-btn' | translate}}
      </button>
      <span class="or-use-google">{{'user.auth.forgot-password.or-signin' | translate}}</span>
      <div>
        <button type="submit"
                class="google-sign-in">
          <span class="google-sign">
            <img [src]="googleImage.picGoogle"
                 alt="Google sign-in">
          </span>
          <span class="google-text-sign-in">
            {{'user.auth.sign-in.sign-in-with-google' | translate}}
          </span>
        </button>
      </div>
    </form>
    <div class="mentioned-password">
      <p>{{'user.auth.forgot-password.remember-your-password' | translate}}
        <a (click)="onBackToSignIn()"
           class="sign-in-link">
          {{'user.auth.forgot-password.back-to-the-entrance' | translate}}
        </a>
      </p>
    </div>
  </div>
</div>
