<div class="container">
  <app-saved-section *ngIf="isSavedVisible"></app-saved-section>
  <div class="wrapper">
    <div *ngIf="!isSavedVisible" class="event-header">
      <div class="top-header">
        <p class="main-header">{{ 'homepage.events.title' | translate }}</p>
        <div class="create-container">
          <div class="container-input" *ngIf="searchToggle">
            <input type="text" *ngIf="searchToggle" class="place-input" [formControl]="searchEventControl" placeholder="Search" />
            <img src="assets/img/smallCross.svg" class="cross-position" (click)="cancelSearch()" alt="cancel search" />
          </div>
          <div class="container-img" (click)="toggleSearch()" *ngIf="!searchToggle">
            <span class="search-img" [ngClass]="{ 'search-img-active': searchToggle }"></span>
          </div>
          <div class="container-img" (click)="showSelectedEvents()">
            <span class="bookmark-img" [ngClass]="{ 'bookmark-img-active': bookmarkSelected }"></span>
          </div>
          <div class="container-img">
            <img class="my-events-img" src="assets/events-icons/my-event.png" alt="my-event" />
          </div>
        </div>
      </div>
      <div class="create">
        <button tabindex="0" class="secondary-global-button m-btn" (click)="isUserLoggedRedirect()">
          {{ 'homepage.events.create-title' | translate }}
        </button>
      </div>
    </div>
    <div class="filter-container">
      <p class="filter-by">{{ 'homepage.events.filter-title' | translate }}</p>
      <div class="filter-list">
        <div class="dropdown" tabindex="0" (click)="timeFilter.open()" (keydown.enter)="timeFilter.open(); timeFilter.focus()">
          <mat-label class="filter">{{ 'homepage.events.time' | translate }}</mat-label>
          <mat-select tabindex="-1" #timeFilter [formControl]="eventTimeStatusFilterControl" [multiple]="true">
            <mat-select-trigger></mat-select-trigger>
            <mat-option
              [value]="'homepage.events.time-any-time' | translate"
              (click)="toggleAllOptions('eventTimeStatus', timeFilter)"
              (keydown.enter)="toggleAllOptions('eventTimeStatus', timeFilter)"
            >
              {{ 'homepage.events.time-any-time' | translate }}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option
              [value]="eventTimeStatusFilter.nameEn"
              *ngFor="let eventTimeStatusFilter of eventTimeStatusFiltersList"
              (click)="updateListOfFilters(eventTimeStatusFilter)"
              (keydown.enter)="updateListOfFilters(eventTimeStatusFilter)"
              ><span [appLangValue]="{ uk: eventTimeStatusFilter.nameUk, en: eventTimeStatusFilter.nameEn }"></span>
            </mat-option>
          </mat-select>
        </div>

        <div class="dropdown" tabindex="0" (click)="locationFilter.open()" (keydown.enter)="locationFilter.open(); locationFilter.focus()">
          <mat-label class="filter">{{ 'homepage.events.filter-location' | translate }}</mat-label>
          <mat-select tabindex="-1" #locationFilter [formControl]="locationFilterControl" [multiple]="true">
            <mat-select-trigger></mat-select-trigger>
            <mat-option
              [value]="'homepage.events.filter-location-аny-location' | translate"
              (click)="toggleAllOptions('location', locationFilter)"
              (keydown.enter)="toggleAllOptions('location', locationFilter)"
            >
              {{ 'homepage.events.filter-location-аny-location' | translate }}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option
              [value]="locationFilter.nameEn"
              *ngFor="let locationFilter of relevantLocationFiltersList"
              (click)="updateListOfFilters(locationFilter)"
              (keydown.enter)="updateListOfFilters(locationFilter)"
            >
              <span [appLangValue]="{ uk: locationFilter.nameUk, en: locationFilter.nameEn }"></span>
            </mat-option>
            <mat-divider></mat-divider>
            <div *ngIf="!showAddCityInput" (click)="openCityModal()" (keydown.enter)="openCityModal()" class="add-location-option">
              <div class="add-location-content">
                <span>{{ 'add-cities-modal.dropdown' | translate }}</span>
              </div>
            </div>
          </mat-select>
        </div>

        <ng-template #cityModal>
          <div class="city-modal">
            <button mat-icon-button class="close-btn" (click)="closeCityModal()">
              <mat-icon>close</mat-icon>
            </button>
            <div class="city-modal-header">
              <h2>{{ 'add-cities-modal.dropdown' | translate }}</h2>
            </div>

            <form [formGroup]="cityForm">
              <div class="city-input-row">
                <app-input-google-autocomplete
                  formControlName="city"
                  [isInitAutoTranslate]="true"
                  (predictionSelected)="onCitySelected($event)"
                  ngDefaultControl
                  class="autocomplete-input"
                ></app-input-google-autocomplete>
              </div>
            </form>

            <div class="city-list">
              <div class="city-tag" *ngFor="let city of selectedCities; let i = index">
                {{ currentLanguage === 'uk' ? city.nameUk : city.nameEn }}
                <button mat-icon-button (click)="removeCity(i)" class="remove-btn"><mat-icon>close</mat-icon></button>
              </div>
            </div>

            <button mat-raised-button color="accent" (click)="saveCities()" class="save-cities-button">
              {{ 'add-cities-modal.add-button' | translate }}
            </button>
          </div>
        </ng-template>

        <div class="dropdown" tabindex="0" (click)="statusFilter.open()" (keydown.enter)="statusFilter.open(); statusFilter.focus()">
          <mat-label class="filter">{{ 'homepage.events.filter-status' | translate }}</mat-label>
          <mat-select tabindex="-1" #statusFilter [formControl]="statusFilterControl" [multiple]="true">
            <mat-select-trigger></mat-select-trigger>
            <mat-option
              [value]="'homepage.events.filter-status-аny-status' | translate"
              (click)="toggleAllOptions('status', statusFilter)"
              (keydown.enter)="toggleAllOptions('status', statusFilter)"
            >
              {{ 'homepage.events.filter-status-аny-status' | translate }}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option
              [value]="statusFilter.nameEn"
              *ngFor="let statusFilter of statusFiltersList"
              (click)="updateListOfFilters(statusFilter)"
              (keydown.enter)="updateListOfFilters(statusFilter)"
            >
              <span [appLangValue]="{ uk: statusFilter.nameUk, en: statusFilter.nameEn }"></span>
            </mat-option>
          </mat-select>
        </div>

        <div class="dropdown" tabindex="0" (click)="typeFilter.open()" (keydown.enter)="typeFilter.open(); typeFilter.focus()">
          <mat-label class="filter">{{ 'homepage.events.filter-type' | translate }}</mat-label>
          <mat-select tabindex="-1" #typeFilter [formControl]="typeFilterControl" [multiple]="true">
            <mat-select-trigger></mat-select-trigger>
            <mat-option
              [value]="'homepage.events.filter-аny-type' | translate"
              (click)="toggleAllOptions('type', typeFilter)"
              (keydown.enter)="toggleAllOptions('type', typeFilter)"
            >
              {{ 'homepage.events.filter-аny-type' | translate }}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option
              [value]="typeFilter.nameEn"
              *ngFor="let typeFilter of typeFiltersList"
              (click)="updateListOfFilters(typeFilter)"
              (keydown.enter)="updateListOfFilters(typeFilter)"
            >
              <span [appLangValue]="{ uk: typeFilter.nameUk, en: typeFilter.nameEn }"></span>
            </mat-option>
          </mat-select>
        </div>

        <div class="dropdown" tabindex="0" (click)="dateRangePicker.open()" (keydown.enter)="dateRangePicker.open()">
          <mat-label class="filter">{{ 'homepage.events.date' | translate }}</mat-label>
          <mat-date-range-input
            class="date-range-input"
            (closedStream)="updateListOfFilters(dateRangeFilter)"
            [formGroup]="dateRangeFilterForm"
            [rangePicker]="dateRangePicker"
          >
            <input matStartDate formControlName="from" placeholder="{{ 'homepage.events.date-start' | translate }}" />
            <input matEndDate formControlName="to" placeholder="{{ 'homepage.events.date-end' | translate }}" />
          </mat-date-range-input>
          <div class="mat-mdc-select-arrow-wrapper">
            <div class="mat-mdc-select-arrow">
              <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true">
                <path d="M7 10l5 5 5-5z"></path>
              </svg>
            </div>
          </div>
          <mat-date-range-picker class="custom-calendar" #dateRangePicker></mat-date-range-picker>
        </div>

        <div>
          <button class="reset" [disabled]="selectedFilters.length === 0" (click)="resetAllFilters()">
            {{ 'homepage.events.filter-reset-all' | translate }}
          </button>
        </div>
      </div>
      <div class="right-search" *ngIf="isSavedVisible">
        <div class="container-input" *ngIf="searchToggle">
          <input type="text" *ngIf="searchToggle" class="place-input" [formControl]="searchEventControl" placeholder="Search" />
          <img src="assets/img/smallCross.svg" class="cross-position" (click)="cancelSearch()" alt="cancel search" />
        </div>
        <div class="container-img" (click)="toggleSearch()" *ngIf="!searchToggle">
          <span class="search-img" [ngClass]="{ 'search-img-active': searchToggle }"></span>
        </div>
      </div>
    </div>
    <hr />
    <div class="active-filter-container">
      <p>
        {{ 'homepage.events.item-found-text' | translate }} {{ countOfEvents }}
        {{ 'homepage.events.items-event-text' | translate }}
      </p>
      <div class="active-filter-list">
        <div class="chips">
          <div class="active-filter" *ngFor="let selectedFilter of selectedFilters; let i = index">
            <div [appLangValue]="{ uk: selectedFilter.nameUk, en: selectedFilter.nameEn }"></div>
            <div class="cross-container" (click)="removeItemFromSelectedFiltersList(selectedFilter, i)">
              <img class="cross-img" src="assets/events-icons/cross.png" alt="cross" />
            </div>
          </div>
        </div>
        <div class="change-view">
          <button
            class="gallery"
            tabindex="0"
            [attr.aria-pressed]="isGalleryView"
            aria-label="table view"
            (click)="changeViewMode('gallery')"
          >
            <em class="fa fa-th-large"></em>
          </button>
          <button class="list" tabindex="0" [attr.aria-pressed]="!isGalleryView" aria-label="list view" (click)="changeViewMode('list')">
            <em class="fa fa-bars"></em>
          </button>
        </div>
      </div>
    </div>
    <div class="event-list" *ngIf="eventsList.length" [ngClass]="{ 'list-view': !isGalleryView }">
      <mat-card class="event-list-item" [ngClass]="{ 'list-item-view': !isGalleryView }" *ngFor="let eventItem of eventsList">
        <app-events-list-item
          [isGalleryView]="isGalleryView"
          [event]="eventItem"
          (likeStatusChange)="likeEvent($event)"
          (dislikeStatusChange)="dislikeEvent($event)"
          [userId]="userId"
          [isUserAssignList]="false"
        ></app-events-list-item>
      </mat-card>
    </div>
    <app-spinner
      *ngIf="hasNextPage && !noEventsMatch && !isLoading"
      infiniteScroll
      [infiniteScrollThrottle]="500"
      (scrolled)="getEvents()"
    ></app-spinner>
    <app-spinner *ngIf="isLoading && !eventsList.length" infiniteScroll [infiniteScrollThrottle]="500"></app-spinner>
    <p class="end-page-txt" *ngIf="isShow(!hasNextPage)">
      {{ 'homepage.events.no-event-left' | translate }}
    </p>
    <p class="end-page-txt" *ngIf="noEventsMatch">{{ 'homepage.events.no-matching-left' | translate }}</p>
  </div>
</div>
