.header {
  width: 100%;
  background:  #F7F9FA;
  margin-top: 2rem;
  padding: 30px 20px;
}

.main {
  width: 100%;
  background-color: #F7F9FA;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

label {
  color: #64727D;
  font-size: 14px;
}

.form-group {
  padding: 0;
}

.form-control {
  height: 3rem;
  background: none;
  padding-left: 0;
  border: none;
}

.count input{
  background: #fff;
  border: 1px solid #64727D;
  border-radius: 0;
  padding-left: 6px;
}
.custom-control-label {
  padding-top: 3px;
}

.custom-control-label::before {
  background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--primary-green);
    border-radius: 50%;
  }

.sum {
  width: 6rem;
  text-align: left;
  margin-left: 3rem;
  .form-control {
    padding-left: 1rem;
    padding-right: 0;
  }
}

button{
  width: 9rem;
  height: 3rem;
  border-radius: 0;
  background: var(--primary-grey);
  border: none;
}

button:hover {
  background: var(--primary-green);
}

.middle-container {
  display: flex;
  justify-content: space-between;
}

.middle {
  width: 100%;
  border-top: 1px solid #D8D8D8;
  margin-top: 10px;
  padding: 30px 0;
  justify-content: space-between;

}

.totalInfo {
  text-align: end;
   p {
     margin: 0;
   }
   .validMes {
     margin-top: -1.5rem;
   }
}

.p {
  margin-top: 30px;
}

.middle_submit {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  small {
    margin-left: 0px;
  }

  label {
    width: 300px;
  }

  button{
    width: 9rem;
    height: 3rem;
    border-radius: 0;
    background: var(--primary-grey);
    border: none;
  }

  button:hover {
    background: var(--primary-green);
  }

}

.bottom_submit {
  margin-top: 1rem;
}

.bottom-text {
  margin-top: 2rem;
}

.comment {
  background: white;
}

.bottom_comment {
  background: white;
  button {
    width: 120px;
    height: 3rem;
    border-radius: 0;
    background: var(--primary-grey);
    border: none;
   }
   button:hover {
     background: var(--primary-green);
   }
}

.bottom {
  background:  #F7F9FA;
  padding: 30px 20px;
  margin-bottom: 2rem;
}

.textarea {
  height: 6rem;
}

