.header {
  width: 100%;
  margin: 2rem 0;

  h3 {
    margin-bottom: 2rem;
  }
}

.labels-container {
  width: 100%;
}

.main,
.labels-container {
  // background-color: #F7F9FA;
  // padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.main {
  padding: 1rem 0 1.2rem 0;
  border-top: 1px solid #CACFD3;
  border-bottom: 1px solid #CACFD3;
}

label {
  color: #64727D;
  padding-left: 0;
}

label:nth-child(2),
label:nth-child(3) {
  margin-left: 1.1rem;
}

label:nth-child(4),
label:nth-child(5) {
  padding-left: 1.1rem;
}

.form-group {
  padding: 0;
}

.form-control {
  height: 3rem;
  background: none;
  padding-left: 0;
  border: none;
}

.count input{
  background: #fff;
  border: 1px solid #64727D;
  border-radius: 0;
  padding-left: 6px;
}
.custom-control-label {
  padding-top: 3px;
}

.custom-control-label::before {
  background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--primary-green);
    border-radius: 50%;
  }

.sum {
  width: 6rem;
  text-align: left;
  margin-left: 3rem;
  .form-control {
    padding-left: 1.4rem;
    padding-right: 0;
  }
}

button{
  width: 9rem;
  height: 3rem;
  border-radius: 0;
  background: var(--primary-grey);
  border: none;
}

button:hover {
  background: var(--primary-green);
}

.middle {
  width: 100%;
  margin-top: 10px;
  padding: 30px 0;
  justify-content: space-between;
  border-bottom: 1px solid  #CACFD3;
}

.totalInfo {
  text-align: right;
  width: 45%;
  //  p {
  //    margin: 0;
  //  }
   .validMes {
     margin-top: -1.5rem;
   }
}

.p {
  margin-top: 30px;
}

.middle-container {

  .showTotal {
    display: flex;
    justify-content: flex-end;
    // min-height: 98px;
  }

  .certificate-container,
  .addCertificate {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    margin-bottom: 2rem;
  }

  .addCertificate {
    align-items: center;
  }

  input {
    background: #fff;
    border: 1px solid #64727D;
  }

  small {
    margin-left: 0px;
  }

  label {
    margin: 0;
  }

  button{
    width: 10rem;
    height: 3rem;
    border-radius: 0;
    background: var(--primary-grey);
    border: none;
  }

  button:hover {
    background: var(--primary-green);
  }

}

.bottom_submit {
  margin-top: 1rem;
}

.bottom-text {
  margin-top: 2rem;
}

.comment {
  background: white;
}

.bottom_comment {
  background: white;

  textarea {
    background: #fff;
    border: 1px solid #64727D;
    height: 6rem;
  }
  button {
    width: 120px;
    height: 3rem;
    border-radius: 0;
    background: var(--primary-grey);
    border: none;
   }
   button:hover {
     background: var(--primary-green);
   }
}

.bottom {
  padding: 3rem 0;
  margin-bottom: 2rem;

  .custom-control {
    padding-left: 1.4rem;
  }

  label {
    margin: 0;
  }

  input {
    background: #fff;
    border: 1px solid #64727D;
  }
}


