.container {
  margin: 50px auto;
  background-color: #F7F9FA;
  padding: 30px 20px;
}

.form {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  color: #64727D;
  font-size: 14px;
}

button {
  background: var(--primary-green);
}

.form-group {
  width: 22%;
}

.middle, .bottom {
  width: 100%;
  border-top: 1px solid #D8D8D8;
  margin-top: 10px;
  padding: 30px 0;
  justify-content: space-between;

  small {
    margin-left: 700px;
  }

}

.middle-text {
  display: flex;
  justify-content: space-between;
}

.p {
  margin-top: 30px;
}

.middle_submit {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  small {
    margin-left: 0px;
  }

  .form-control{
    width: 350px;
  }

  label {
    width: 300px;
  }

  button{
    width: 200px;
  }
}

.bottom {
  border-top: 50px solid white;

  textarea {
    width: 1000px;
  }

  button {
   width: 120px;
   margin-left: 880px;
  }

}

