@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.copyright {
  background-color: rgba(131, 156, 148, 0.05);
  color: #839c94;
  font-family: 'Open Sans', sans-serif;
  font-stretch: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 11px;
  text-align: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.people-img {
  background: url("~/assets/img/illustration-people.png");
  background-size: contain;
  width: 400px;
  height: 400px;
}

.header {
  width: 435px;
  height: 48px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #313131;
  margin-bottom: 0px;
}

.description {
  height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #313131;
  margin-bottom: 0px;
}

@media screen and (max-width:576px) {
  .header {
    width: 288px;
    height: 56px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
  }

  .description {
    width: 288px;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
  }
}
