.add-achievement-modal {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.add-achievement-modal-bg {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 150px 0 149px 0;
  width: inherit;
  height: 1200px;
}

.add-achievement-modal-window {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(44, 176, 37, 1), 0 6px 20px 0 rgba(43, 68, 42, 0.5);
  max-width: 600px;
  margin: 0 auto;
  min-height: 270px;
  padding: 30px 10px;
}

.add-achievement-modal-window h3 {
  color: #2b292d;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  font-size: 29px;
  text-align: center;
  margin: 30px auto 0;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.18px;
  line-height: 1;
}

.splitter {
  background-color: #839c94;
  height: 1px;
  opacity: 0.2;
  padding: 0 !important;
  width: inherit;
}

.achievement-photo {
  width: 600px;
  margin: 60px auto 0;
  text-align: center;
}

.achievements-item-outside {
  display: block;
  position: relative;
  text-align: center;
  width: 68px;
  height: 68px;
  background: rgba(131, 156, 148, 0.2);
  border-radius: 34px;
  margin: 8px auto;
}

.achievements-item-outside img {
  margin-top: 8px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  padding: 0 15px !important;
}

.button-ok {
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.78;
  min-height: 48px;
  min-width: 110px;
  background-color: #13aa57;
  border: solid 1px #13aa57;
  box-shadow: 0 13px 20px 0 rgba(118, 196, 125, 0.41);
  color: #fff;
}
