.footer {
  width: 100%;
  height: 166px;
  display: flex;
  background-color: #263900;

  .container-fluid {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    .menu-left {
      display: flex;
      width: 50%;
      height: 100%;
      align-items: center;

      .footer-menu {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 0;

        li {
          list-style-type: none;

          a {
            display: flex;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
          }
        }

        // hide GreenCity for prod
        :last-child {
          display: none;
        }
      }
    }

    .menu-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      a {
        margin-left: 20px;
      }

      .footer-bottom-part {
        margin-top: 25px;

        .par {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: #b9b9b9;
        }
      }

      /*.footer-content {
      p {
        font-size: 16px;
        margin-bottom: 7px;

        a {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .footer-links {
      display: inline-block;
      list-style: none;

      li {
        margin-bottom: 7px;

        a {
          font-size: 15px;
          color: #690;
        }
      }
    }

    .footer-content p a:hover {
      text-decoration: underline;
    }

    .footer-links li a:hover {
      color: black;
      text-decoration: underline;
    }

    .footer-logo,
    .footer-content,
    .footer-links,
    .footer-subscribe-us {
      width: 25%;
      justify-content: flex-start;
      padding: 0 20px 0 20px;
      line-height: 24px;
    }

    .social-networks {
      width: 100%;
      display: flex;
      justify-content: center;



      .toggle-footer-button {
        position: absolute;
        right: 10%;
        bottom: 152px;
        border: 1px solid gainsboro;
        width: 42px;
        height: 42px;

        .show-footer-label {
          width: 100%;
          cursor: pointer;
        }
      }

      .foot-check {
        display: none;
      }
    }/**/
    }
  }
}

/*@media (max-width: 992px) {
    .container-fluid {
      .toggle-footer-button {
        right: 5%;
      }

      .main-content {
        flex-direction: column;
        margin: 0;

        .footer-logo {
          margin-top: 0;

          a {
            img {
              width: 226px;
              height: 226px;
            }
          }
        }

        .footer-content,
        .footer-subscribe-us,
        .footer-links {
          width: 100%;
          margin-top: 50px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container-fluid {
      .toggle-footer-button {
        width: 40%;
        bottom: 140px;
        border-radius: 0;
        right: 30%;
      }

      .social-networks {
        justify-content: space-around;
        padding: 0 30px 80px 30px;
      }
    }
  }

  @media (max-width: 480px) {
    .container-fluid {
      .social-networks {
        margin-top: 20px;

        .fa {
          margin-right: 30px;
        }
      }

      input.foot-check:checked + .main-content {
        margin-top: 80px;
      }

      .footer-bottom-part {
        padding: 0 8px;
        margin-top: 20px;
      }

      .toggle-footer-button {
        bottom: 80px;
      }
    }
  }/**/
