.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;

  .container-fluid {
    padding: 0;
    max-width: 1180px;
    position: relative;

    .main-content {
      width: 100%;
      display: none;
      margin: 60px 0 20px 0;

      .footer-logo {
        margin-top: 80px;
        width: 226px;
        height: 226px;

        a {
          img {
            width: 100%;
          }
        }
      }

      .footer-content {
        p {
          font-size: 16px;
          margin-bottom: 7px;

          a {
            font-size: 18px;
            color: #9c0;
            font-weight: bold;
          }
        }
      }

      .footer-links {
        display: inline-block;
        list-style: none;

        li {
          margin-bottom: 7px;

          a {
            font-size: 15px;
            color: #690;
          }
        }
      }

      .footer-content p a:hover {
        text-decoration: underline;
      }

      .footer-links li a:hover {
        color: black;
        text-decoration: underline;
      }

      .footer-subscribe-us {
        display: block;

        input {
          border: 1px solid #9ca7b0;
        }

        button {
          margin-top: 7px;
          height: 44px;
          width: 100%;
          font-size: 18px;
          background-color: var(--ubs-button-light-green);
          color: var(--ubs-tertiary-dark-grey);
        }

        button:hover {
          background-color: var(--ubs-button-dark-green);
        }

        p,
        label,
        input {
          width: 100%;
        }
      }

      .footer-logo,
      .footer-content,
      .footer-links,
      .footer-subscribe-us {
        width: 25%;
        justify-content: flex-start;
        padding: 0 20px 0 20px;
        line-height: 24px;
      }
    }

    .social-networks {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 40px;
      padding-bottom: 40px;
      border-bottom: 2px inset #ddd;

      .fa {
        padding: 20px;
        font-size: 15px;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-right: 45px;
        border-radius: 50%;

        &:last-child {
          margin-right: 0;
        }
      }

      .fa-facebook,
      .fa-youtube,
      .fa-instagram,
      .fa-telegram {
        background: white;
        border: 1px solid gainsboro;
        color: #646363;
      }

      .fa-facebook:hover {
        background: #3b5998;
        color: white;
      }

      .fa-youtube:hover {
        background: #b00;
        color: white;
      }

      .fa-instagram:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        color: white;
      }

      .fa-telegram:hover {
        background: #11a0cd;
        color: white;
      }
    }

    .toggle-footer-button {
      position: absolute;
      right: 10%;
      bottom: 152px;
      border: 1px solid gainsboro;
      width: 42px;
      height: 42px;

      .show-footer-label {
        width: 100%;
        cursor: pointer;
      }
    }

    .toggler-icon::before {
      content: 'keyboard_arrow_up';
      vertical-align: middle;
      color: #646363;
    }

    .foot-check {
      display: none;
    }

    input.foot-check:checked + .main-content {
      display: inline-flex;
    }

    input.foot-check:checked ~ .toggle-footer-button {
      .toggler-icon::before {
        content: 'keyboard_arrow_down';
      }
    }

    .footer-bottom-part {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      padding-left: 25px;
      padding-bottom: 25px;

      .par {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 992px) {
    .container-fluid {
      .toggle-footer-button {
        right: 5%;
      }

      .main-content {
        flex-direction: column;
        margin: 0;

        .footer-logo {
          margin-top: 0;

          a {
            img {
              width: 226px;
              height: 226px;
            }
          }
        }

        .footer-content,
        .footer-subscribe-us,
        .footer-links {
          width: 100%;
          margin-top: 50px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container-fluid {
      .toggle-footer-button {
        width: 40%;
        bottom: 140px;
        border-radius: 0;
        right: 30%;
      }

      .social-networks {
        justify-content: space-around;
        padding: 0 30px 80px 30px;
      }
    }
  }

  @media (max-width: 480px) {
    .container-fluid {
      .social-networks {
        margin-top: 20px;

        .fa {
          margin-right: 30px;
        }
      }

      input.foot-check:checked + .main-content {
        margin-top: 80px;
      }

      .footer-bottom-part {
        padding: 0 8px;
        margin-top: 20px;
      }

      .toggle-footer-button {
        bottom: 80px;
      }
    }
  }
}
