.footer {
  width: 100%;
  height: 166px;
  display: flex;
  background-color: var(--ubs-secondary-dark-green);

  &-logo img {
    width: 90px;
  }

  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;

    &_main {
      display: flex;
      flex-direction: row;
      width: 90%;
      justify-content: space-between;
      margin-left: 75px;
    }

    &_social-media {
      display: flex;

      a {
        margin-left: 15px;
      }
    }

    &_links {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding: 0;
      margin: 0;

      .pick-up-service,
      .route-link {
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 12px;
        color: var(--ubs-primary-white);
      }

      li {
        list-style-type: none;
      }
    }
  }

  .container-fluid {
    margin: auto;
  }

  &-bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 22px 150px 0 0;

    .par {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--ubs-primary-dark-grey);
    }
  }

  &-logo_mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    &-menu {
      margin: 0;
    }

    &-bottom-part {
      margin: 22px 0 0 0;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .footer {
    &-menu {
      margin: 0;

      &_main {
        margin-left: 40px;
      }

      &_social-media {
        a {
          margin-left: 10px;

          img {
            width: 34px;
          }
        }
      }

      &_links {
        .pick-up-service {
          font-size: 10px;
        }

        li .route-link {
          font-size: 10px;
          line-height: 10px;
        }
      }

      &-bottom-part {
        margin: 16px 0 0 0;

        .par {
          font-size: 9px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .footer {
    .container-fluid {
      display: flex;
      flex-direction: column;
      gap: 23px;
    }

    &-menu {
      margin: 0;

      &_social-media {
        width: 90%;
        justify-content: space-around;

        a {
          margin-left: 8px;

          img {
            width: 30px;
          }
        }
      }

      &_links {
        gap: 12px;
        width: 100%;
        justify-content: space-around;

        li .route-link {
          max-width: 75px;
        }

        .pick-up-service {
          max-width: 60px;
        }
      }

      &_main {
        margin: 0;
        width: 100%;
      }
    }

    &-logo {
      display: none;
    }

    &-bottom-part {
      margin: 0;
      justify-content: space-between;
      align-items: center;
    }

    &-logo_mobile {
      display: block;

      .footer-logo {
        width: 50px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    height: 176px;

    &-menu_main {
      flex-direction: column-reverse;
      align-items: center;
      gap: 30px;
    }

    &-menu_social-media {
      a {
        img {
          width: 34px;
        }
      }
    }
  }
}
