<footer role="contentinfo" class="footer" (window:resize)="onResize()">
  <div class="container-fluid">
    <div class="menu-left">
      <div class="footer-logo">
        <a [routerLink]="['/ubs']" role="button">
          <img [src]="footerPicture.ubsLogoFooter" class="logo" alt="Footer picture" />
        </a>
      </div>
      <ul *ngIf="screenWidth >= 1024" class="footer-menu">
        <li *ngFor="let link of ubsNavLinks" tabindex="0" role="listitem">
          <a [href]="link.route" target="_blank" rel="noopener noreferrer">
            {{ link.name | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="menu-right">
      <div class="social-networks">
        <a target="_blank" href="https://www.facebook.com/NowasteUkraine/">
          <img [src]="footerPicture.facebookIcon" class="icon" alt="facebook picture" />
        </a>
        <a target="_blank" href="https://www.instagram.com/nowasteukraine/">
          <img [src]="footerPicture.instagramIcon" class="icon" alt="instagram picture" />
        </a>
        <a target="_blank" href="https://t.me/nowasteukraine">
          <img [src]="footerPicture.telegramIcon" class="icon" alt="telefram picture" />
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UChFVBZ_HcaQYiF-GcMHiCNA">
          <img [src]="footerPicture.youTubeIcon" class="icon" alt="youtube picture" />
        </a>
      </div>
      <div *ngIf="screenWidth >= 1024" class="footer-bottom-part">
        <p class="par">Copyright © 2021 · All Rights Reserved</p>
      </div>
    </div>
  </div>
  <div class="footer-container-mobile" *ngIf="screenWidth < 1024">
    <div class="footer-menu-mobile">
      <ul class="footer-menu">
        <li *ngFor="let link of ubsNavLinks" tabindex="0" role="listitem">
          <a [href]="link.route" target="_blank" rel="noopener noreferrer">
            {{ link.name | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom-part">
      <p class="par">Copyright © {{ currentYear }} · All Rights Reserved</p>
    </div>
  </div>
</footer>
