<div class="progressHabit">
  <div class="progressText">{{ 'user.habit.progress-title' | translate }}</div>
  <div class="markAsDone" [ngSwitch]="habitMark">
    <ng-template ngSwitchCase="undone">
      <button class="{{ habitMark }}" (click)="enroll()" [disabled]="isRequest"></button>
      <div class="grey">{{ 'user.habit.one-habit.done' | translate }}</div>
    </ng-template>
    <ng-template ngSwitchCase="done">
      <button class="{{ habitMark }}" (click)="unenroll()" [disabled]="isRequest"></button>
      <div class="green">{{ habit.habitStreak }} {{ 'user.habit.one-habit.good' | translate }}</div>
    </ng-template>
    <ng-template ngSwitchDefault="aquired">
      <div class="{{ habitMark }}"></div>
      <div class="green">{{ 'user.habit.one-habit.great' | translate }}</div>
    </ng-template>
  </div>
</div>
<div class="calendar">
  <app-habit-calendar></app-habit-calendar>
  <div class="daysDuration">
    <div class="thumbLabel" [style.bottom.%]="indicator - 4" *ngIf="isHidden">{{ indicator }}%</div>
    <div class="indicator" (mouseenter)="isHidden = !isHidden" (mouseleave)="isHidden = !isHidden" [style.height.%]="indicator"></div>
    <div class="startLine"></div>
  </div>
</div>
