.progress-habit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 32px;
  font-family: var(--secondary-font);
  font-style: normal;
  line-height: 24px;

  .progress-text {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .mark-done {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: var(--primary-green);

    div:first-child,
    button:first-child {
      width: 32px;
      height: 32px;
      margin-right: 8px;
      border-radius: 50%;
      border: 0;
    }

    .done {
      background: url('~/assets/img/icon/chek-circle.png') no-repeat center;
    }

    .undone {
      background: url('~/assets/icons/habits/plus-circle-green.svg') no-repeat center;
    }

    .aquired {
      background: url('~/assets/img/icon/star-circle.png') no-repeat center;
    }

    img {
      margin-right: 9px;
    }
  }
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .days-duration {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 38px;
    height: 317px;
    background: #e6ebea;
    border-radius: 4px;

    .thumb-label {
      width: 80px;
      height: 50px;
      position: absolute;
      background-image: url('../../../../../../../../assets/img/duration-thumb-label-progress.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 14px;
      font-family: var(--secondary-font);
      text-align: center;
      padding-top: 5px;
      left: auto;
    }

    .indicator {
      width: 38px;
      background: linear-gradient(180deg, var(--primary-green), rgba(215, 254, 60, 0.47));
      border-radius: 4px 4px 0 0;

      &:hover + .thumbLabel {
        display: block;
      }
    }

    .start-line {
      width: 38px;
      height: 4px;
      background-color: rgba(215, 254, 60, 0.47);
      border-radius: 0 0 4px 4px;
    }
  }
}
