h4 {
  width: 442px;
  height: auto;
  font-family: var(--primary-font);
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000;
}
