@import 'src/typography/_resp.scss';

.page {
  &-title {
    font-family: var(--primary-font);
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  &-btn {
    background-color: var(--ubs-button-light-green);
    height: 45px;

    &:disabled {
      background-color: var(--quintynary-light-grey);
      cursor: not-allowed;
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &-content {
    display: flex;
    gap: 32px;
  }
}

.version {
  &-field {
    display: flex;
    margin-bottom: 16px;
    gap: 10px;
  }

  &-select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--ubs-button-light-green);
  }

  &-current {
    display: flex;
    gap: 32px;
  }
}

.agreement {
  display: flex;
  flex-direction: column;

  &-lang {
    text-transform: uppercase;
    font-size: 18px;
  }
}

@include responsivePCFirst(2xl) {
  .page {
    &-content {
      flex-direction: column;
    }
  }
}
