@import 'src/typography/_resp.scss';

.page {
  &-title {
    font-family: var(--primary-font);
    font-size: 24px;
    line-height: 32px;
    margin: 0 20px 5px 20px;
  }

  &-btn {
    background-color: var(--ubs-button-light-green);
    height: 45px;

    &:disabled {
      background-color: var(--quintynary-light-grey);
      cursor: not-allowed;
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &-content {
    display: flex;
    gap: 32px;
  }
}

.version {
  &-field {
    display: flex;
    margin-bottom: 16px;
    gap: 10px;
  }

  &-select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--ubs-button-light-green);
  }

  &-current {
    display: flex;
    gap: 32px;
  }
}

.page-top-bar {
  display: flex;
  align-items: center;
}

.collapse-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.transform {
  display: flex;
  transform: rotate(180deg);
  justify-self: center;
  margin-top: 18px;
}

.collapsed-content {
  margin-top: 7px;
  overflow: hidden;
  opacity: 1;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  &.hidden {
    max-height: 0;
    opacity: 0;
  }
}

.agreement {
  display: flex;
  flex-direction: column;

  &-lang {
    text-transform: uppercase;
    font-size: 18px;
  }
}

@include responsivePCFirst(2xl) {
  .page {
    &-content {
      flex-direction: column;
    }
  }
}

.centered-title {
  width: 100%;
  text-align: center;
}
