<main role="main" id="main-content">
  <div class="main container">
    <div class="places-filter">
      <div class="search">
        <div class="search-elements">
          <img class="search-icon" src="{{ searchIcon }}" alt="search-icon" />
          <input
            class="form-control search-write"
            type="text"
            name="search"
            list="places_names"
            [(ngModel)]="searchName"
            placeholder="{{ 'user.map.searching-for-a-place' | translate }}"
          />
          <datalist id="places_names">
            <option *ngFor="let card of cardsCollection" value="{{ card.cardName }}">{{ card.cardText }}</option>
          </datalist>
          <select class="search-chooser">
            <option value="Lviv">Lviv</option>
          </select>
        </div>
      </div>
      <div class="filter">
        <app-tag-filter
          (tagsList)="getFilterData($event)"
          [header]="'homepage.eco-news.filter'"
          [storageKey]="'Places-filter'"
          [tagsListData]="tagList"
        ></app-tag-filter>
      </div>
    </div>
    <hr />
    <div class="places-map">
      <div class="place-info">
        <mat-drawer-container class="example-container sidebar-container" autosize>
          <mat-drawer #drawer class="example-sidenav sidebar-drawer" mode="side" closed>
            <div class="sidebar-content">
              <span class="close-mark" (click)="drawer.toggle()"></span>
              <h6 class="content-title">{{ contentObj.cardName }}</h6>
              <img src="{{ contentObj.cardImgUrl }}" alt="place-image" class="card-img-top" />
              <span class="content-address">{{ contentObj.cardAddress }}</span>
              <p class="content-description">{{ contentObj.cardText }}</p>
              <span class="content-website">{{ 'user.places-card.card-description' | translate }}</span>
              <ul class="content-list">
                <li class="content-list-event">
                  <img class="event-icon" src="{{ notification }}" alt="event-icon" />
                  <p class="event-description">{{ 'user.places-card.card-first-event' | translate }}</p>
                </li>
                <li class="content-list-event">
                  <img class="event-icon" src="{{ share }}" alt="event-icon" />
                  <p class="event-description">{{ 'user.places-card.card-second-event' | translate }}</p>
                </li>
              </ul>
              <h6 class="content-reviews-title">
                {{ 'user.places-card.card-rating' | translate }} &nbsp;&nbsp; <span>{{ contentObj.cardRating }}</span>
              </h6>
              <div class="stars-container">
                <img *ngFor="let star of contentObj.cardStars" class="star" src="{{ star }}" alt="star" />
              </div>
              <span class="content-reviews-amount">2 {{ 'user.places-card.card-reviews' | translate }}</span>
            </div>
          </mat-drawer>
        </mat-drawer-container>
      </div>
      <div class="google-map" #map>
        <agm-map [style.width.%]="100" [style.height.%]="100" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker
            *ngFor="let marker of markerListCopy"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            (markerClick)="getMarker($event)"
            [iconUrl]="marker.iconUrl"
            class="marker"
          ></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="places-recommendation">
      <h6 class="recommendation-title">{{ 'user.places-card.card-popular' | translate }}</h6>
      <div class="card-container">
        <div *ngFor="let card of cardsCollection" class="card" [id]="card.id">
          <img class="card-img-top" src="{{ card.cardImgUrl }}" alt="place-image" />
          <div class="card-body">
            <div class="card-headers">
              <h5 class="card-title">{{ card.cardName }}</h5>
              <span class="card-address">{{ card.cardAddress }}</span>
            </div>
            <p class="card-text">{{ card.cardText }}</p>
            <img class="card-bookmark" src="{{ card.favorite }}" alt="bookmark" (click)="moveToFavorite($event)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
