p {
  width: 355px;
  height: 71px;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: var(--primary-grey);
  display: inline-block;
  float: left;
  padding-left: 10.8px;
}

img {
  width: 25.9px;
  height: 27.7px;
  display: inline-block;
  float: left;
}
