<div class="main">
  <div class="main-container">
    <div class="header">
      <div class="logo">
        <a href="#">
          <picture>
          <source media="(max-width: 576px)"
                  srcset="assets/img/logo_S.png">
          <img src="assets/img/logo_M.png" alt="logo">
        </picture>
        </a>
      </div>
      <div class="navigation-menu">
        <div class="navigation-menu-left">
          <nav class="main-nav">
            <ul>
              <li> <a href="#">Eco news</a>
              </li>
              <li> <a href="#">Tips & Tricks</a>
              </li>
              <li> <a href="#">Places</a>
              </li>
              <li> <a href="#">About us</a>
              </li>
              <li> <a href="#">My habits</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="navigation-menu-right">
<ul>
  <li><a href="">
    <img src="assets/img/icon/search.png" alt="search">
  </a></li>
</ul>
        </div>
      </div>

    </div>
  </div>
</div>

