<div class="main">
  <div class="main-container">
    <div class="header">
      <div class="logo">
        <a href="#">
          <picture>
          <source media="(max-width: 576px)"
                  srcset="assets/img/logo_S.png">
          <img src="assets/img/logo_M.png" alt="logo">
        </picture>
        </a>
      </div>
      <div class="navigation-menu">
                  <div   [ngClass]="onToggleBurgerMenu ? 'xxx' : 'navigation-menu-left'">

                      <ul>
                        <li>
                          <a [routerLink]="['/welcome']"
                             routerLinkActive="active-link"
                             [routerLinkActiveOptions]="{ exact: true }"
                             pageScroll
                             href="#header">
                            {{ 'user.lower-nav-bar.home' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/news']"
                             pageScroll
                             href="#events"
                             [pageScrollDuration]="500">
                            {{ 'user.lower-nav-bar.eco-events' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/welcome']"
                             pageScroll
                             href="#tips"
                             [pageScrollDuration]="500">
                            {{ 'user.lower-nav-bar.tips' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/map']"
                             pageScroll
                             href="#top-user-bar"
                             routerLinkActive="active-link"
                             [routerLinkActiveOptions]="{ exact: true }">
                            {{ 'user.lower-nav-bar.map' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="[getUserId(), 'habits']"
                             routerLinkActive="active-link"
                             [routerLinkActiveOptions]="{ exact: true }">
                            {{ 'user.lower-nav-bar.my-habits' | translate }}
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/about']">
                            {{ 'user.lower-nav-bar.about-us' | translate }}
                          </a>
                        </li>
                      </ul>

                  </div>
        <div class="navigation-menu-right">
              <ul>
                          <li class="search"><a  href="#">
                            <img src="assets/img/icon/search.png" alt="search">  </a></li>
              <li>
                <div class="switcher-wrapper">
                <img class="arrow" [src]="arrow" alt="v">
                <select [(ngModel)]="language" (change)="changeCurrentLanguage()" class="language-switcher">
                  <option class="language-option" [ngValue]="'uk'">Ua</option>
                  <option class="language-option" [ngValue]="'ru'">Ru</option>
                  <option class="language-option" [ngValue]="'en'">En</option>
                </select>
              </div>
              </li>
        <li class="sign-in-link">
          <a href="#">Sign in</a>
        </li>
    <li>
      <div class="create-button secondary-global-button">
      <span>Sign up</span>
    </div>
    </li>
    <li class="burger-b">
       <div class="menu-icon-wrapper" (click)="onToggleBurgerMenu=!onToggleBurgerMenu">
       <div  [ngClass]="onToggleBurgerMenu ? 'menu-icon menu-icon-active' : 'menu-icon'"></div>
       </div>
      </li>
    </ul>
        </div>
      </div>

    </div>
  </div>
</div>

