$size-1400: 1440px;
$size-1200: 1200px;
$size-1140: 1140px;
$size-992: 992px;
$size-767: 767px;
$size-576: 576px;
$size-320: 1920px;
$first-font-color:#494A49;
$secondary-font-color:#13AA57;
$hr-color:#E6E6E6;
$screen-576: " screen and (max-width : 576px)";
$screen-991: " screen and (max-width : 991px)";

.main{
  width: 100%;
  box-shadow: 0px 0px 8px rgba(73, 74, 73, 0.2);
}

.main-container {
  //position: fixed;
  max-width: 1920px;
  margin: 0 auto;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;

    .header {
      min-width: 96%;
      max-width: 1920px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
      width: 136px;
      height: 36px;
      margin-right: 56px;
      cursor: pointer;

        @media #{$screen-576} {
          width: 94px;
          height: 24px;
        }
      }

      .navigation-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media #{$screen-991} {
        width: auto;
        }
        &-left {
          width: 100%;
          max-width: 446px;
          display: flex;
          justify-content: space-between;
          align-items: center;
              @media #{$screen-991} {
                display: none;
              }

              ul {
                list-style: none;
                margin: 0;
                overflow: hidden;
                padding: 0;
                display: flex;

                li {
                  list-style-type: none;
                  display: inline-block;
                  &:not(:last-child) {
                    margin-right: 20px;
                  }

                  a {
                    font-size: 14px;
                    line-height: 16px;
                    color:$first-font-color
                  }
                }
              }

        }
        .xxx{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 54px;
          left: 0px;
          width: 100%;
          height: auto;
          background: white;
          transition: max-height .2s ease-out;
          box-shadow: 0px 0px 8px rgba(73, 74, 73, 0.2);

          ul {
            list-style: none;
            margin: 0;
            overflow: hidden;
            padding: 0;
            display: flex;
flex-direction: column;
            li {
              list-style-type: none;
            display: flex;
              justify-content: center;
              align-items: center;
              height: 52px;
              &:not(:last-child) {
                margin-right: 20px;
              }


              a {
                display: block;
                font-size: 20px;
                line-height: 24px;
                color:$first-font-color
              }
            }
          }
        }
        &-right {
          width: 301px;

         ul {
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin: 0;

           li {
             list-style-type: none;

               .search {
                 line-height: 10px;
               }

              .switcher-wrapper {
                position: relative;

               .language-switcher {
                 width: 27px;
                 cursor: pointer;
                 outline: none;
                 appearance: none;
                 background-color: transparent;
                 border: none;
                 -moz-appearance: none;
                 -webkit-appearance: none;
               }

               .arrow {
                 position: absolute;
                 top: 10px;
                 right: 0;
                 width: 8px;
                 height: 5px;
               }
             }
           }

           .sign-in-link {
               a {
               color: #056B33;

               &:hover {
                 text-decoration-line: none;
               }
             }
           }

           .create-button {
             cursor: pointer;
             width: 91px;
             height: 32px;
             display: flex;
             align-items: center;
             justify-content: center;
             border: 1px solid #13AA57;

             span {
               display: block;
               font-size: 12px;
               line-height: 12px;
             }
           }
           .burger-b {
             .menu-icon-wrapper {
               width: 24px;
               height: 18px;
               display: flex;
               justify-content: center;
               align-items: center;
               visibility: hidden;

               @media #{$screen-991} {
               visibility: visible;
               }

               .menu-icon {
                 position: relative;
                 width: 24px;
                 height: 2px;
                 background-color: #494A49;

                 &:before {
                   position: absolute;
                   left: 0;
                   top: -10px;
                   content: '';
                   width: 24px;
                   height: 2px;
                   background-color: #494A49;
                   transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
                 }

                 &:after {
                   position: absolute;
                   left: 0;
                   top: 10px;
                   content: '';
                   width: 24px;
                   height: 2px;
                   background-color: #494A49;
                   transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
                 }
               }

               .menu-icon-active {
                 background-color: transparent;

                 &:before {
                   transform: rotate(45deg);
                   top: 0;
                   transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                 }

                 &:after {
                   transform: rotate(-45deg);
                   top: 0;
                   transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                 }
               }
             }
           }
         }
        }
      }
    }
}





