<div 
	*ngIf="!files.length" 
	class="dropzone" 
	appDragAndDrop (files)="filesDropped($event)">
	<div class="text-wrapper">
		<div class="centered">Drop your image here or <span>browse</span></div>
	</div>
</div>
<div *ngFor="let file of files">
	<div *ngIf="!isWarning; else elseBlock"> 
		<img 
			*ngIf = "!isCropper"
			[src]="file.url" 
			appDragAndDrop (files)="filesDropped($event)">
		<div *ngIf = "isCropper"
				class="cropper-block">
			<image-cropper
				[imageChangedEvent]="imageChangedEvent"
				[imageFile]="file.file"
				(imageCropped)="imageCropped($event)"
			></image-cropper>
			<div class="cropper-buttons">
				<button 
					type="button" 
					(click)=stopCropping()>Submit changes</button>
				<button 
					type="button" 
					(click)=cancelChanges()>Cancel changes</button>
			</div>
		</div>
	</div>
</div>
<span *ngIf=!isWarning
	  class="warning">Download PNG or JPG only. File size should be less than 10MB</span>
<ng-template #elseBlock>
	<div 	 
		class="dropzone warning-background" 
		appDragAndDrop (files)="filesDropped($event)">
		<div class="text-wrapper">
			<div class="centered">
				<p>Image didn't uploaded.</p>
				<p>Drop your image here or <span>browse</span></p>
			</div>
		</div>
	</div>
<span 
	class="warning"
	[ngClass]="{
	'warning-color':isWarning
}">Download PNG or JPG only. File size should be less than 10MB</span>
</ng-template>