<div 
	*ngIf="!files.length" 
	class="dropzone" 
	appDragAndDrop (files)="filesDropped($event)">
	<div class="text-wrapper">
		<div class="centered">Drop your image here or <span>browse</span></div>
	</div>
</div>
<div *ngFor="let file of files">
  <img 
	*ngIf="!isWarning; else elseBlock" 
	[src]="file.url" 
	appDragAndDrop (files)="filesDropped($event)">
</div>
<span 
	class="warning"
	[ngClass]="{
	'warning-color':isWarning
}">Download PNG or JPG only. File size should be less than 10MB</span>
<ng-template #elseBlock>
	<div 	 
		class="dropzone warning-background" 
		appDragAndDrop (files)="filesDropped($event)">
		<div class="text-wrapper">
			<div class="centered">
				<p>Image didn't uploaded.</p>
				<p>Drop your image here or <span>browse</span></p>
			</div>
		</div>
	</div>
</ng-template>