.dropzone {
    height: 231px;
    width: 436px; 
    display: table;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.text-wrapper {
    height: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    input[type = file] {
        position: absolute;
        overflow: hidden;
        z-index: -1;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
    }
}

.centered {
    font-size: 1.3em;
    font-size: 18px;
    text-align: center;
    width: 200px;
    font-family: 'Open Sans';
}

.warning-color {
    color: red !important; 
}

.warning-background {
    background-color: #FEF2F1;
}

.centered {
    span {
        color: #13AA57;
        text-decoration: underline;
        cursor: pointer;
    } 
}

.warning {
    font-family: 'Open sans';
    font-size: 14px;
    color: #878787;
}

img {
    width: 436px;
    height: 231px;
}

.cropper-block {
    .cropper-buttons {
        display: flex;
        justify-content: center;
        button {
            margin-left: 5px;
            border: 1px solid #13AA57;
            border-radius: 3px;
            background-color: #ffffff;
            width: 139px;
            height: 48px;
            color: #13AA57;
        }
    }
}

@media screen and (max-width: 1200px) {
    .dropzone {
        width: 275px;
    }
}

@media screen and (max-width: 1024px) {
    .dropzone {
        width: 381px;
    }
}

@media screen and (max-width: 981px) {
    .dropzone {
        width: 330px;
    }
}

@media screen and (max-width: 880px) {
    .dropzone {
        width: 280px;
    }
}

@media screen and (max-width: 768px) {
    .dropzone {
        width: 381px;
    }
}

@media screen and (max-width: 576px) {
    .dropzone {
        width: 330px;
    }
}

@media screen and (max-width: 390px) {
    .dropzone {
        width: 288px;
    }
}

@media screen and (max-width: 320px) {
    .dropzone {
        width: 282px;
    }
}