<div class="container">
  <div class="row">
    <div class="container-fluid">
      <h2>Дані користувача</h2>
    </div>
    <br />
    <div class="container-fluid">
      <p>Заповніть, будь ласка, Ваш профіль, щоб зробити процес замовлення максимально швидким і зручним</p>
    </div>
    <form>
      <h4>Особисте</h4>
      <div class="form-group">
        <label for="firstname">Ім'я</label>
        <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Ім'я" />
      </div>
      <div class="form-group">
        <label for="lastname">Прізвище</label>
        <input type="text" class="form-control" id="lastname" placeholder="Прізвище" />
      </div>
      <div class="form-group">
        <label for="changeLang">Мова обслуговування</label>
        <select class="form-control" id="changeLang">
          <option>EN</option>
          <option>RU</option>
          <option>UA</option>
        </select>
      </div>
    </form>

    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Електронна скринька</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Номер телефону</label>
        <input type="tel" class="form-control" id="phone" />
      </div>
    </form>
  </div>
</div>
