<app-spinner *ngIf="isPosting || isFetching"></app-spinner>
<div *ngIf="!isPosting && !isFetching">
  <div class="container">
    <div class="event-header">
      <div class="event-header-items">
        <div class="mb-4">
          <a [routerLink]="routedFromProfile ? [previousPath, { tabId: 2 }] : [previousPath]" class="back">
            <img [src]="images.arrowLeft" alt="arrow" aria-hidden="true" class="arrow" />
            <div class="back-button">{{ 'homepage.events.btn.back-route' | translate }}</div>
          </a>
        </div>
        <h3 *ngIf="!isUpdating">{{ 'create-event.title' | translate }}</h3>
        <h3 *ngIf="isUpdating">{{ 'create-event.edit' | translate }}</h3>
        <p>{{ 'create-event.description' | translate }}</p>
      </div>
    </div>
    <div class="mat-wrapper flex-lg-row">
      <mat-card class="information-card">
        <app-create-event-information [eventInfForm]="eventInformation"></app-create-event-information>
      </mat-card>
      <mat-card>
        <div class="w-100">
          <ng-container *ngFor="let day of eventDateForm.controls; index as i">
            <app-date-time [daysForm]="eventDateForm" [dayNumber]="i" [dayFormGroup]="day"></app-date-time>
            <app-place-online [daysForm]="eventDateForm" [dayNumber]="i" [dayFormGroup]="day"></app-place-online>
          </ng-container>
        </div>
      </mat-card>
    </div>

    <div class="submit-container">
      <button (click)="onPreview()" [disabled]="!eventForm.valid" class="secondary-global-button submit-buttons">
        {{ 'create-event.preview' | translate }}
      </button>

      <button (click)="submitEvent()" [disabled]="!eventForm.valid" class="primary-global-button submit-buttons">
        {{ submitButtonName | translate }}
      </button>

      <button (click)="clear()" class="tertiary-global-button">{{ 'create-event.cancel' | translate }}</button>
    </div>
  </div>
</div>
<h2 *ngIf="!isAuthor && isFetching">Event not found</h2>
