.news {
  height: 192px;
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  background: var(--primary-white);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 192px calc(100% - 192px);
  margin-bottom: 24px;
  cursor: pointer;

  &-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {
      .tags {
        display: flex;
        padding-bottom: 2px;
        flex-wrap: wrap;
        font-size: 14px;
        color: var(--primary-green);
      }

      .title {
        overflow: hidden;
        word-wrap: break-word;
        height: 90px;
        text-overflow: ellipsis;

        h3 {
          font-family: var(--primary-font);
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: var(--quaternary-dark-grey);
        }
      }
    }

    .user-info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .user-info-date,
      .user-info-icon {
        display: flex;
        align-items: center;

        p {
          font-size: 14px;
          margin-bottom: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }

        img {
          width: 12px;
          margin-right: 5px;
        }
      }
    }
  }

  .news-image {
    display: block;
    width: 192px;
    height: 192px;
    background-position: left center;
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
