<div class="habit">
    <div class="habit__container">
        <div class="header">
            <div class="calendar">
                <img class="calendar__icon" src="assets/img/icon/Calendar_icon.png" alt="calendar">
                <span class="days">{{ habit.dayCount }} days</span>
            </div>
            <div class="stars">
                <img src="assets/img/icon/star-1.png" alt="star">
                <img src="assets/img/icon/star-2.png" alt="star">
                <img src="assets/img/icon/star-2.png" alt="star">
            </div>
        </div>
        <div class="picture">
            <img class="habit__picture" src="assets/img/icon/HabitPicture.png" alt="habit picture">
        </div>
        <div class="info">
            <div class="tags">
                <span>Smart consuming, Transport</span>
            </div>
            <div class="title">
                <h2>{{ habit.title }}</h2>
            </div>
            <div class="description">
                <p>
                    Употребление в пищу местной еды полезно для 
                    качества воздуха и сокращения выбросов в окружающую 
                    среду! Кроме того, покупая «местное» вы поощряете 
                    развитие сельского хозяйства.
                </p>
            </div>
            <div class="aquired">
                <p>Aquired by 134 users</p>
            </div>
        </div>
        <div class="add">
            <button>Add Habit</button>
        </div>
    </div>
</div>
