@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

.habit {
  background-color: #f5f6f6;
  min-height: 638px;
  border-radius: 8px;

  .habit__container {
    position: relative;
    padding-top: 35px;
    width: 82%;
    min-height: 638px;
    margin: 0 auto;

    .header {
      display: flex;
      justify-content: space-between;

      .calendar {
        .calendar__icon {
          margin-right: 15px;
        }

        .days {
          font-size: 14px;
          color: #13aa57;
          text-transform: uppercase;
        }
      }

      .stars {
        img {
          margin-left: 12px;
        }
      }
    }

    .picture {
      padding-top: 22px;
      height: 190px;
      margin-bottom: 31px;

      .habit__picture {
        max-width: 90%;
        display: block;
        margin: 0 auto;
      }
    }

    .info {
      padding-top: 20px;

      .tags {
        color: #13aa57;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .title {
        color: #494a49;
        font-size: 22px;
        line-height: 15px;
      }

      .description {
        font-family: "OpenSans", sans-serif;
        font-size: 12px;
        line-height: 18px;
        color: #494a49;
      }

      .aquired {
        color: #bebebe;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
      }
    }

    .add {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      button {
        position: absolute;
        bottom: 25px;
        color: #fff;
        background: #13aa57;
        border-radius: 5px;
        padding: 16px 40px;
        border: none;
        align-self: flex-end;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .habit {
    .habit__container {
      .info {
        .tags {
          font-size: 12px;
        }

        .title {
          font-size: 18px;
        }
      }

      .add {
        button {
          padding: 12px 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .habit {
    .habit__container {
      .info {
        padding-top: 0;
      }

      .add {
        button {
          padding: 12px 30px;
          bottom: 15px;
        }
      }
    }
  }
}
