$bp-smallest: 575px;
$bp-phone: 767px;
$bp-tablet: 991px;
$bp-desktop: 1199px;

p,
div {
  margin: 0;
  padding: 0;
}

.list-gallery {
  margin-bottom: 32px;
  width: 359px;
  min-height: 500px;
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  background: #fff;
  border-radius: 4px;

  .list-image {
    .list-image-content {
      width: 100%;
      height: 206px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .list-gallery-content {
    margin: 8px 24px 24px 24px;

    .filter-tag {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 24px;
      margin-bottom: 8px;

      .ul-eco-buttons {
        font-family: opensans, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #13aa57;
        margin-right: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .added-data {
      max-height: 200px;
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 1.4rem;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }

      .title-list {
        max-height: 52px;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
        color: #313131;
      }

      .list-text {
        max-height: 150px;
        overflow: hidden;
        margin: 10px 0 0 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #313131;
        white-space: pre-wrap;
      }
    }

    .word-wrap {
      word-break: break-word;
    }

    .user-data-added-news {
      padding: 16px 0 24px 0;
      display: flex;
      flex-wrap: wrap;
    }

    .user-data-text-date {
      margin-right: 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 21px;
      color: #666;
      mix-blend-mode: normal;
      opacity: 0.6;

      .icon {
        align-items: center;
        margin-right: 4px;
      }
    }

    .user-data-text-date:nth-child(2) {
      max-height: 26px;
      display: block;
      white-space: nowrap;
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list-gallery:hover {
  background: #fff;
  box-shadow: 0 4px 32px #e6ebea;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: $bp-desktop) {
  .list-gallery {
    width: 299px;
    min-height: 500px;

    .list-image {
      .list-image-content {
        height: 172px;
      }
    }

    .list-gallery-content {
      .added-data {
        height: 196px;
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .list-gallery {
    width: 353px;
    min-height: 500px;

    .list-image {
      .list-image-content {
        height: 202px;
      }
    }

    .list-gallery-content {
      .added-data {
        height: 203px;
      }
    }
  }
}

@media screen and (max-width: $bp-phone) {
  .list-gallery {
    width: 258px;
    height: 508px;

    .list-image {
      .list-image-content {
        height: 147px;
      }
    }

    .list-gallery-content {
      .added-data {
        height: 222px;

        .title-list {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    .user-data-added-news {
      display: flex;
      flex-direction: column;

      .user-data-text-date:first-child {
        margin-bottom: 4px;
        min-width: 100px;
      }
    }
  }
}

@media screen and (max-width: $bp-smallest) {
  .list-gallery {
    width: 288px;
    height: 508px;

    .list-image {
      .list-image-content {
        height: 166px;
      }
    }
  }
}
