<div class="eco-news_list-view-wrp">
  <img class="eco-news_list-img" [src]="checkNewsImage()" alt="Eco news image" />
  <div class="eco-news_list-content">
    <div>
      <div class="filter-tag">
        <p class="eco-news_list-tag d-inline-block" *ngFor="let tag of tags">
          {{ tag }}
        </p>
      </div>
      <div class="eco-news_list-content-box">
        <div class="eco-news_list-content-title" #titleHeight>
          <h3>
            {{ ecoNewsModel.title }}
          </h3>
        </div>
        <div class="eco-news_list-content-text ql-snow" #textHeight>
          <div #ecoNewsText></div>
        </div>
      </div>
      <div class="button-news-card">
        <button class="secondary-global-button m-btn" (click)="routeToNews()">
          {{ 'event.btn-top' | translate }}
        </button>
      </div>
    </div>
    <div class="eco-news_list-authors">
      <p class="eco-news_data-text-date">
        <img class="icon" [src]="profileIcons.calendarIcon" alt="calendar icon" />
        <span class="text">{{ newDate }}</span>
      </p>
      <p class="eco-news_person">
        <img class="icon" [src]="profileIcons.userIcon" alt="user icon" />
        {{ ecoNewsModel.author.name }}
      </p>
    </div>
  </div>
</div>
