$bp-smallest: 576px;
$bp-phone: 768px;
$bp-tablet: 1024px;
$bp-notebook: 1200px;
$bp-desktop: 1440px;

p,
div {
  margin: 0;
  padding: 0;
}

.eco-news_list-view-wrp {
  -webkit-box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  border-radius: 4px;
  background: #fff;
  margin: 0 auto;
  height: 200px;
}

.eco-news_list-img {
  display: none;
}

.eco-news_list-tag {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-green);
  margin-right: 5px;
}

.eco-news_list-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.eco-news_list-content-box {
  max-height: 105px;
  overflow: hidden;
}

.eco-news_list-content-title {
  h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 4px;
    color: var(--freinacht-black);
    overflow: hidden;
    word-break: break-all;
  }
}

.eco-news_list-authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--primary-font);
  font-size: 13.9px;
  line-height: 20px;
  color: var(--quaternary-grey);
  mix-blend-mode: normal;

  img {
    margin-right: 5px;
  }

  p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.m-btn {
  width: 110px;
  box-shadow: 0 0 2px 0 var(--primary-grey);
  border: none;
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1;
  background-color: var(--primary-white);
}

.eco-news_data-text-date {
  min-width: 115px;
  margin-right: 16px;
  font-size: 14px;

  img {
    width: 10px;
    height: 11px;
    margin-left: 3px;
  }

  .text {
    min-width: 95px;
  }
}

.eco-news_person img {
  width: 11px;
  height: 10.5px;
}

.eco-news_list-content-text {
  font-size: 14px;
  line-height: 20px;
  font-family: var(--primary-font);
  color: var(--quaternary-dark-grey);
}

@media (min-width: $bp-phone) {
  .eco-news_list-img {
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
  }

  .eco-news_list-view-wrp {
    height: 204px;
    width: 720px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 204px auto;
    grid-template-columns: 204px auto;
  }
}

@media (min-width: $bp-tablet) {
  .eco-news_list-view-wrp {
    height: 204px;
    width: 960px;
    -ms-grid-columns: 359px auto;
    grid-template-columns: 359px auto;
  }
}

@media (min-width: $bp-notebook) {
  .eco-news_list-view-wrp {
    width: 1140px;
  }

  .eco-news_list-content {
    height: 204px;
    word-break: break-all;
  }

  .eco-news_list-img {
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
  }
}
