.cdk-drag-preview {
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.cdk-drag-placeholder {
  color: transparent;
  position: relative;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-row,
.mat-row {
  border-bottom: none;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-cell {
  background-color: var(--ubs-primary-grey);
  color: var(--ubs-primary-white);
  font-family: var(--primary-font);
  border: 1px solid var(--ubs-primary-light-grey);
  width: 164px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  min-height: 39px;
  min-width: 48px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
  flex: none;
  line-height: 2.8;
}

input {
  display: inline-block;
  padding: 8px;
  margin: 20px;
  width: 128px;
  height: 36px;
}

.table {
  border-collapse: collapse;
}

.mat-row {
  min-height: 39px !important;
  max-height: 39px !important;
  align-items: unset;
}

.mat-cell {
  border: thin solid var(--ubs-primary-light-grey);
  border-top: none;
  width: 164px;
  color: var(--ubs-primary-grey);
  font-size: 14px;
  font-family: var(--primary-font);
  min-width: 48px;
  min-height: 39px !important;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
  flex: none;
  display: block;
  line-height: 2.9;
  text-align: center;
}

.primary-color {
  color: var(--primary-green);
}

.select-cell {
  margin-top: 8px;
}

.mat-header-row {
  min-height: 39px !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: nowrap !important;
  align-items: unset !important;
  cursor: col-resize;
}

.mat-column-select {
  display: flex;
  justify-content: center;
  width: 50px !important;
  line-height: 1;
}

.ubs-secondary-global-button .mat-icon {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.btn-excel .mat-icon {
  display: none;
}

.mat-cell:last-of-type,
.mat-footer-cell:last-of-type,
.mat-header-cell:last-of-type {
  padding-right: 0;
}

.mat-cell:first-of-type,
.mat-footer-cell:first-of-type,
.mat-header-cell:first-of-type {
  display: flex;
  flex: 0 0 48px !important;
  padding: 0;
}

.column-title {
  color: var(--ubs-secondary-light-grey);
  font-size: 14px;
}

.amount-items {
  width: 100px;
  height: 36px;
  margin-right: 39px;
  border: 1px solid var(--ubs-primary-light-grey);
  background-color: var(--primary-white) !important;
  border-radius: 4px;
  font-size: 14px;
  color: var(--ubs-secondary-grey);
}

.research {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  width: 100%;
  margin: 20px 0 32px 0;
}

.search {
  display: flex;
  align-items: center;
  width: 426px;
  height: 36px;
  border: 1px solid var(--ubs-primary-light-grey);
  border-radius: 4px;
}

.search-input {
  width: 100%;
}

.search-input input {
  padding: 0 0 0 15px;
  margin: 0;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.icon-style {
  color: var(--ubs-primary-light-grey);
  margin: 8px;
}

.dropdown-menu input {
  width: 16px;
  z-index: 9;
  border-radius: 3px;
  border: 1px solid var(--ubs-secondary-grey);
}

.mat-header-cell .mat-icon {
  padding: 5px 0 0 10px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu {
  height: 480px;
  min-width: 356px;
  margin: 170px 5px 0 0;
  overflow: scroll;
  padding: 24px;
  color: var(--ubs-primary-grey);
  font-family: var(--primary-font);
}

.dropdown-menu li {
  color: var(--ubs-primary-grey);
  display: flex;
  align-items: center;
}

.ng-star-inserted {
  padding-left: 0;
}

.mat-spinner {
  margin: 3rem auto;
  padding-top: 40px;

  ::ng-deep circle {
    stroke: var(--primary-green);
  }
}

.scrolling {
  height: 400px;
  overflow: scroll;
  margin-top: 20px;
}

.paginator {
  height: 100px;
}

::ng-deep thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.btns-group {
  display: flex;
  gap: 16px;
}

.column_header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background,
::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: var(--ubs-button-light-green) !important;
}

@media (max-width: 954px) {
  .research {
    gap: 16px;

    .search {
      width: 100%;
    }
  }

  .btn-excel,
  .add-btn {
    padding: 0;
    width: 36px;

    .mat-icon {
      display: flex;
      justify-content: center;
    }

    span {
      display: none;
    }
  }
}
