.inviteTitle p {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.plusCircle {
  display: flex;
}

img {
  margin: 10px;
  width: 60px;
  height: 60px;
}

.ng-star-inserted {
  margin: 5px;
  width: 80px;
}

p {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-grey);
}

.friend {
  p {
    text-align: center;
  }
}
