<div class="invite-container">
  <div class="invite-title">
    <p>{{ 'user.habit.invite.title' | translate }}</p>
  </div>
  <div class="invite-content">
    <div *ngIf="!addedFriends.length" class="plus-circle">
      <div class="icon-plus-grey" (click)="openInviteFriendsDialog()"></div>
    </div>
    <div class="invite-friends-box">
      <div *ngFor="let friend of addedFriends" class="invite-friends">
        <app-user-profile-image
          [imgPath]="friend.profilePicture"
          [firstName]="friend.name"
          class="friend-img"
          [additionalImgClass]="'friend-user-profile'"
        >
        </app-user-profile-image>
      </div>
    </div>
    <div *ngIf="addedFriends.length" class="plus-circle">
      <div class="icon-plus-green" (click)="openInviteFriendsDialog()"></div>
    </div>
  </div>
  <div class="invite-detail">
    <p>{{ 'user.habit.invite.message' | translate }}</p>
  </div>
</div>
