p,
a,
.footer_bottom-part {
  font-family: var(--primary-font);
  font-size: 14.2px;
  line-height: 19px;
}

.footer_background-image {
  background: url("~/assets/img/icon/footer/background-image-footer.svg")
    no-repeat center;
  height: 286px;
  width: 100%;
  display: flex;
}

.footer_logo-wrp {
  margin: 150px 0 16px 0;
  display: flex;
  justify-content: center;
}

.footer_left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_link-item {
  color: var(--primary-dark-grey);
  margin-top: 24px;
}

.footer_social-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 20px auto;
}

.footer_social-link {
  margin: 0 7px;

  img {
    width: 16px;
    height: 16px;
  }
}

.footer_follow-us {
  margin-top: 40px;

  p {
    color: var(--primary-dark-grey);
    width: fit-content;
    margin: 0 auto;
  }
}

.footer_bottom-part {
  color: var(--secondary-grey);
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 10px;
}

@media (min-width: 576px) {
  .container {
    padding: 0;
  }

  .footer_left-side {
    flex-direction: row;
  }

  .footer_right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0;
  }

  .footer_social-wrp {
    margin: 0;
  }

  .footer_follow-us {
    margin: 0;
    margin-right: 7px;
  }

  .footer_logo-wrp {
    justify-content: flex-start;
  }

  .footer_link-item {
    margin-right: 32px;
  }
}

@media (min-width: 768px) {
  .footer_links {
    display: flex;
    justify-content: space-between;
  }

  .footer_link-item {
    margin-top: 0;
  }

  .footer_logo-wrp {
    margin-bottom: 0;
  }

  .footer_bottom-part {
    margin-top: 15px;
  }
}
