@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  border: 0;
  border-radius: 4px;
  height: 44px;
  margin-top: 40px;
  margin-bottom: 8px;
  color: #fff;

  .spinner-border {
    margin-right: 10px;
  }
}

.title-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.002em;
  color: var(--quaternary-dark-grey);
}

.subtitle-text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--quaternary-dark-grey);
}

.form-content-container {
  display: flex;
  flex-direction: column;

  .content-label {
    margin: 20px 0 4px;
    font-size: 16px;
    font-family: var(--primary-font);
    line-height: 14px;
    color: var(--primary-dark-grey);
  }

  .under-error {
    margin: 20px 0 4px;
  }

  .main-data-input,
  .main-data-input-password {
    position: relative;
    border: 1px solid var(--secondary-grey);
    border-radius: 5px;
    width: 100%;
  }

  .main-data-input,
  .password-input {
    height: 36px;
    padding: 8px;
  }

  .main-data-input:focus,
  .password-input:focus {
    outline: none;
  }

  .main-data-input::placeholder {
    color: var(--secondary-grey);
  }

  .main-data-input-password {
    display: flex;

    .password-input {
      border: transparent;
      border-radius: 5px;
      width: 100%;
    }

    .show-password-img {
      position: absolute;
      top: 10px;
      right: 18px;
      align-self: center;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .wrong-input {
    border: 1px solid var(--error-ligh-red);
  }

  .error-message {
    font-size: 10px;
    line-height: 12px;
    color: var(--error-ligh-red);
  }

  .alert-general-error {
    position: relative;
    color: var(--error-ligh-red);
    font-size: 10px;
    line-height: 12px;
    font-family: var(--primary-font);
    margin-bottom: 4px;
  }

  .greenStyle {
    @include button;

    background-color: var(--primary-green);

    &:disabled {
      background-color: var(--success-light-green);
    }
  }

  .ubsStyle {
    @include button;

    background-color: var(--ubs-button-light-green);
    color: var(--ubs-quaternary-dark-grey);

    &:disabled {
      background-color: var(--ubs-quaternary-light-grey);
      color: var(--ubs-secondary-grey);
    }
  }

  .switch-sign-up {
    margin: 8px 0;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--quaternary-dark-grey);
  }
}

.exist-account {
  text-align: center;
  margin-top: 70px;
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 24px;
  color: var(--quaternary-dark-grey);

  a {
    display: inline-block;
  }

  .ubs-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--ubs-dark-purple);
    margin-left: 16px;
  }

  .green-link {
    color: var(--primary-green);
    margin-left: 16px;
    text-decoration: none;
  }
}

@media screen and (max-width: 1620px) {
  .exist-account {
    margin-top: 40px;
  }
}
