@mixin button {
  height: 48px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #fff;
  font-family: var(--primary-font);

  .spinner-border {
    margin-right: 10px;
  }
}

.title-text {
  margin-bottom: 8px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: var(--tertiary-dark-grey);
}

.subtitle-text {
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 16px;
  color: var(--primary-dark-grey);
}

.form-content-container {
  display: flex;
  flex-direction: column;
  margin: 25px 0 40px;

  .content-label {
    margin: 21px 0 4px;
    font-size: 12px;
    font-family: var(--primary-font);
    line-height: 14px;
    color: var(--primary-dark-grey);
  }

  .under-error {
    margin: 9px 0 4px;
  }

  .main-data-input,
  .main-data-input-password {
    border: 1px solid var(--secondary-grey);
    box-sizing: border-box;
    border-radius: 5px;
    width: 368px;
    height: 48px;
  }

  .main-data-input {
    padding: 12px 40px 12px 16px;
  }

  .main-data-input:focus {
    outline: none;
  }

  .main-data-input::placeholder {
    color: var(--secondary-grey);
  }

  .main-data-input-password {
    display: flex;

    .password-input {
      padding-left: 16px;
      border: transparent;
      border-radius: 5px;
      width: 90%;
    }

    .password-input:focus {
      height: 46px;
      outline: none;
    }

    .show-password-img {
      align-self: center;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .wrong-input {
    border: 1px solid var(--error-ligh-red);
  }

  .error-message {
    font-size: 10px;
    line-height: 12px;
    color: var(--error-ligh-red);
  }

  .alert-general-error {
    position: relative;
    color: var(--error-ligh-red);
    font-size: 10px;
    line-height: 12px;
    font-family: var(--primary-font);
    margin-bottom: 4px;
  }

  .greenStyle {
    @include button;

    background-color: var(--primary-green);

    &:disabled {
      background-color: var(--success-light-green);
    }
  }

  .ubsStyle {
    @include button;

    background-color: var(--ubs-button-light-green);

    &:disabled {
      background-color: var(--ubs-quaternary-light-grey);
    }
  }

  .switch-sign-up {
    margin: 8px 0;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: var(--primary-dark-grey);
  }
}

.exist-account {
  margin-bottom: 40px;
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 16px;
  color: var(--primary-dark-grey);

  .exist-sign-in {
    text-decoration: underline;
    color: var(--secondary-dark-green);
  }
}

@media screen and (max-width: 992px) {
  .main-image {
    display: none;
  }
}

@media (max-width: 375px) {
  .title-text {
    font-size: 32px;
    line-height: 32px;
  }
}
