<form *ngIf="signUpForm" (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="form-content-container">
  <app-email-input-field formControlName="email" ngDefaultControl></app-email-input-field>
  <app-username-input-field formControlName="firstName" ngDefaultControl></app-username-input-field>
  <app-password-input-field
    [firstPassword]="true"
    [passwordLabel]="'user.auth.sign-up.password'"
    formControlName="password"
    ngDefaultControl
  >
  </app-password-input-field>
  <app-password-input-field
    [firstPassword]="false"
    [passwordLabel]="'user.auth.sign-up.password-confirm'"
    formControlName="repeatPassword"
    ngDefaultControl
  >
  </app-password-input-field>
  <app-submit-button class="button" [buttonText]="'user.auth.sign-up.submit'"></app-submit-button>
  <div class="switch-sign-up">
    {{ 'user.auth.sign-up.or' | translate }}
  </div>
  <app-google-btn [text]="'user.auth.sign-up.submit-with-google'" (click)="signUpWithGoogle()"></app-google-btn>
</form>
<div class="exist-account">
  <span>
    {{ 'user.auth.sign-up.haveyou-account' | translate }}
    <a
      [ngClass]="isUbs ? 'ubs-exist-sign-in' : 'exist-sign-in'"
      tabindex="0"
      (keyup.enter)="openSignInWindow()"
      (click)="openSignInWindow()"
    >
      {{ 'user.auth.sign-up.enter' | translate }}
    </a>
  </span>
</div>
