.ubs-primary-global-button {
  margin-top: 25px;
  height: 43px;

  .span {
    color: black;
  }
}

.form-content-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px;

  .button {
    margin-top: 12px;
  }

  .primary-global-button {
    margin-top: 40px;
    height: 48px;
    width: 368px;
    padding: 16px 116px;
    font-weight: 600;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
      margin-right: 10px;
    }
  }

  .switch-sign-up {
    margin: 8px 0;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: var(--primary-dark-grey);
  }
}

.exist-account {
  margin-bottom: 40px;
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 16px;
  color: var(--primary-dark-grey);

  .ubs-exist-sign-in {
    text-decoration: underline;
    color: var(--ubs-electric-violet);
  }

  .exist-sign-in {
    text-decoration: underline;
    color: var(--secondary-dark-green);
  }
}

@media screen and (max-width: 992px) {
  .main-image {
    display: none;
  }
}

@media (max-width: 375px) {
  .title-text {
    font-size: 32px;
    line-height: 32px;
  }
}
