<div class="full_card">
  <div class="header_details">{{ 'user-orders.details.title' | translate }}</div>
  <table class="table_of_details" aria-label="orderDetailsTable">
    <tr class="header_table">
      <th scope="row">{{ 'user-orders.details.services' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.volume' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.cost' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.bags-amount' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.sum' | translate }}</th>
    </tr>
    <ng-container *ngFor="let bag of order.bags">
      <tr class="data_table">
        <td *ngIf="currentLanguage === 'ua'">{{ bag.service }}</td>
        <td *ngIf="currentLanguage === 'en'">{{ bag.serviceEng }}</td>
        <td>{{ bag.capacity }} {{ 'user-orders.details.litr' | translate }}</td>
        <td>{{ bag.price }} {{ 'user-orders.details.currency' | translate }}</td>
        <td>{{ bag.count }} {{ 'user-orders.details.pieces' | translate }}</td>
        <td>{{ bag.totalPrice | currency | localizedCurrency }}</td>
      </tr>
    </ng-container>
    <tr>
      <td></td>
    </tr>
    <tr class="sum_of_order">
      <td colspan="4">{{ 'user-orders.details.order-sum' | translate }}</td>
      <td>{{ order.orderFullPrice | currency | localizedCurrency }}</td>
    </tr>
    <tr *ngIf="order.certificate.length" class="optional_row">
      <td colspan="4">{{ 'user-orders.details.certificate' | translate }}</td>
      <td>-{{ certificatesAmount | currency | localizedCurrency }}</td>
    </tr>
    <tr *ngIf="order.bonuses !== 0" class="optional_row">
      <td colspan="4">{{ 'user-orders.details.bonuses' | translate }}</td>
      <td>-{{ order.bonuses | currency | localizedCurrency }}</td>
    </tr>
    <tr *ngIf="isPaid(order) || order.paidAmount > 0" class="optional_row">
      <td colspan="4">{{ 'user-orders.details.paid-amount' | translate }}</td>
      <td>-{{ order.paidAmount | currency | localizedCurrency }}</td>
    </tr>
    <tr class="sum_to_pay">
      <td colspan="4">{{ 'user-orders.details.amount-due' | translate }}</td>
      <td>{{ order.amountBeforePayment | currency | localizedCurrency }}</td>
    </tr>
  </table>

  <div class="order_details">
    <ol class="recipient">
      <h6 class="bold_text">{{ 'user-orders.details.recipient' | translate }}</h6>
      <li>
        <span>{{ order.sender.senderName }}</span
        ><span>{{ order.sender.senderSurname }}</span>
      </li>
      <li>{{ order.sender.senderPhone }}</li>
      <li>{{ order.sender.senderEmail }}</li>
    </ol>
    <ol class="recipient">
      <h6 class="bold_text">{{ 'user-orders.details.export-address' | translate }}</h6>
      <li *ngIf="currentLanguage === 'ua'">{{ order.address.addressCity }}</li>
      <li *ngIf="currentLanguage === 'en'">{{ order.address.addressCityEng }}</li>
      <li>
        <span *ngIf="currentLanguage === 'ua'">{{ order.address.addressStreet }} </span>
        <span *ngIf="currentLanguage === 'en'">{{ order.address.addressStreetEng }} </span>

        <span>, {{ 'user-orders.details.block-number' | translate }}unreceived</span>

        <span>
          <span>, {{ 'user-orders.details.entrance' | translate }}unreceived</span>
        </span>
      </li>
    </ol>
    <ol class="recipient" *ngIf="order.address.addressComment !== ''">
      <h6 class="bold_text">{{ 'user-orders.details.comment-address' | translate }}</h6>
      <li>{{ order.address.addressComment }}</li>
    </ol>
    <ol class="recipient" *ngIf="order.orderComment !== ''">
      <h6 class="bold_text">{{ 'user-orders.details.comment-order' | translate }}</h6>
      <li>{{ order.orderComment }}</li>
    </ol>
  </div>
</div>

<div class="download">
  <div class="arrow">
    <mat-icon [ngStyle]="{ fontSize: '16px' }">arrow_downward</mat-icon>
  </div>
  <div class="maximize">
    <mat-icon [ngStyle]="{ fontSize: '16px' }">maximize</mat-icon>
  </div>
  <div class="text">{{ 'user-orders.details.receipt' | translate }}</div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
