<div class="full_card">
  <div class="header_details">{{ 'user-orders.details.title' | translate }}</div>
  <table class="table_of_details" aria-label="orderDetailsTable">
    <tr class="header_table">
      <th scope="row">{{ 'user-orders.details.services' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.volume' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.cost' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.bags-amount' | translate }}</th>
      <th scope="row">{{ 'user-orders.details.sum' | translate }}</th>
    </tr>
    <ng-container *ngFor="let bag of order.bags">
      <tr class="data_table">
        <td>{{ getLangValue(bag.service, bag.serviceEng) }}</td>
        <td>{{ bag.capacity }} {{ 'user-orders.details.litr' | translate }}</td>
        <td>{{ bag.fullPrice }} {{ 'user-orders.details.currency' | translate }}</td>
        <td>{{ bag.count }} {{ 'user-orders.details.pieces' | translate }}</td>
        <td>{{ bag.totalPrice | currency | localizedCurrency }}</td>
      </tr>
    </ng-container>
    <tr>
      <td></td>
    </tr>
    <tr class="sum_of_order">
      <td colspan="4">{{ 'user-orders.details.order-sum' | translate }}</td>
      <td>{{ order.orderFullPrice | currency | localizedCurrency }}</td>
    </tr>
    <tr *ngIf="order.certificate.length" class="optional_row">
      <td colspan="4">{{ 'user-orders.details.certificate' | translate }}</td>
      <td>-{{ certificatesAmount | currency | localizedCurrency }}</td>
    </tr>
    <tr *ngIf="order.bonuses !== 0" class="optional_row">
      <td colspan="4">{{ 'user-orders.details.bonuses' | translate }}</td>
      <td>-{{ order.bonuses | currency | localizedCurrency }}</td>
    </tr>
    <tr *ngIf="isPaid(order) || order.paidAmount > 0" class="optional_row">
      <td colspan="4">{{ 'user-orders.details.paid-amount' | translate }}</td>
      <td>-{{ order.paidAmount | currency | localizedCurrency }}</td>
    </tr>
    <tr class="sum_to_pay">
      <td colspan="4">{{ 'user-orders.details.amount-due' | translate }}</td>
      <td>{{ order.amountBeforePayment | currency | localizedCurrency }}</td>
    </tr>
  </table>
  <div class="recipient">
    <div *ngIf="order.additionalOrders.length > 0">
      <h6 class="bold_text">{{ 'user-orders.details.delivery' | translate }}</h6>
      <p class="additional_orders_bold_text">
        {{ 'user-orders.details.order-number' | translate }}
        <span>{{ order.additionalOrders.join(', ') }}</span>
      </p>
    </div>
    <div *ngIf="order.orderComment !== ''">
      <h6 class="bold_text">{{ 'user-orders.details.comment-order' | translate }}</h6>
      <p>{{ order.orderComment }}</p>
    </div>
  </div>

  <div class="order_details">
    <ol class="recipient">
      <h6 class="bold_text">{{ 'user-orders.details.recipient' | translate }}</h6>
      <li>
        <span>{{ order.sender.senderName }} {{ order.sender.senderSurname }}</span>
      </li>
      <li>{{ order.sender.senderPhone }}</li>
      <li>{{ order.sender.senderEmail }}</li>
    </ol>
    <ol class="recipient">
      <h6 class="bold_text">{{ 'user-orders.details.export-address' | translate }}</h6>
      <li>{{ getLangValue('м. ', '') }}{{ getLangValue(order.address.addressCity, order.address.addressCityEng) }}</li>
      <li>
        <span>{{ getLangValue(order.address.addressStreet, order.address.addressStreetEng) }}, </span>
        <span>{{ order.address.houseNumber }},</span><br />
        <span>{{ 'user-orders.details.block-number' | translate }} {{ order.address.houseCorpus || '-' }}</span
        ><br />
        <span>{{ 'user-orders.details.entrance' | translate }} {{ order.address.entranceNumber || '-' }}</span
        ><br />
        <span>
          {{ 'user-orders.details.district' | translate }}
          {{ getLangValue(order.address.addressDistinct || '-', order.address.addressDistinctEng || '-') }}</span
        >
      </li>
    </ol>
    <ol class="recipient" *ngIf="order.address.addressComment !== ''">
      <h6 class="bold_text">{{ 'user-orders.details.comment-address' | translate }}</h6>
      <li>{{ order.address.addressComment }}</li>
    </ol>
  </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
