<div *ngIf="!loading; else spinner">
  <div class="full_card">
    <div class="header_details">{{ 'user-orders.details.title' | translate }}</div>
    <table class="table_of_details">
      <tr class="header_table">
        <th>{{ 'user-orders.details.services' | translate }}</th>
        <th>{{ 'user-orders.details.volume' | translate }}</th>
        <th>{{ 'user-orders.details.cost' | translate }}</th>
        <th>{{ 'user-orders.details.bags-amount' | translate }}</th>
        <th>{{ 'user-orders.details.sum' | translate }}</th>
      </tr>
      <tr *ngFor="let bag of orderDetails.bags" class="data_table">
        <td>{{ bag.name }}Назва послуги</td>
        <td>{{ bag.capacity }} л</td>
        <td>{{ bag.price }} грн</td>
        <td>{{ orderDetails.amountOfBagsOrdered[bag.id] }} шт</td>
        <td>{{ orderDetails.amountOfBagsOrdered[bag.id] * bag.price }} грн</td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr class="sum_of_order">
        <td colspan="4">{{ 'user-orders.details.order-sum' | translate }}</td>
        <td>{{ orderDetails.orderFullPrice }} грн</td>
      </tr>
      <tr *ngIf="orderDetails.orderStatus !== 'DONE_UNPAID'" class="optional_row">
        <td colspan="4">{{ 'user-orders.details.certificate' | translate }}</td>
        <td>-{{ orderDetails.orderCertificateTotalDiscount }} грн</td>
      </tr>
      <tr *ngIf="orderDetails.orderStatus !== 'DONE_UNPAID'" class="optional_row">
        <td colspan="4">{{ 'user-orders.details.bonuses' | translate }}</td>
        <td>-{{ orderDetails.orderBonusDiscount }} грн</td>
      </tr>
      <tr *ngIf="orderDetails.orderStatus === 'DONE_UNPAID'" class="optional_row">
        <td colspan="4">{{ 'user-orders.details.services-amount' | translate }}</td>
        <td>{{ orderDetails.orderDiscountedPrice }} грн</td>
      </tr>
      <tr class="sum_to_pay">
        <td colspan="4">{{ 'user-orders.details.amount-due' | translate }}</td>
        <td>{{ orderDetails.orderDiscountedPrice }} грн</td>
      </tr>
    </table>
  </div>
  <div class="order_details">
    <ol>
      <li class="bold_text">{{ 'user-orders.details.delivery' | translate }}</li>
      <li>
        {{ 'user-orders.details.order-number' | translate }}
        <span class="bold_text"> {{ orderDetails.additionalOrders.join(', ') }}</span>
      </li>
    </ol>
    <ol class="recipient">
      <li class="bold_text">{{ 'user-orders.details.recipient' | translate }}</li>
      <li>
        <span>{{ orderDetails.recipientName }} </span><span>{{ orderDetails.recipientSurname }}</span>
      </li>
      <li>{{ orderDetails.recipientPhone }}</li>
      <li>{{ orderDetails.recipientEmail }}</li>
    </ol>
    <ol>
      <li class="bold_text">{{ 'user-orders.details.export-address' | translate }}</li>
      <li>{{ orderDetails.addressCity }}</li>
      <li>{{ orderDetails.addressStreet }}</li>
      <li>{{ orderDetails.addressDistrict }}</li>
      <li>{{ 'user-orders.details.comment' | translate }} Ремонтується дорога. Під'їзд до будинку доступний зі сторони будинку номер15.</li>
    </ol>
  </div>
  <div class="download">
    <div class="arrow"><mat-icon [ngStyle]="{ fontSize: '16px' }">arrow_downward</mat-icon></div>
    <div class="maximize"><mat-icon [ngStyle]="{ fontSize: '16px' }">maximize</mat-icon></div>
    <div class="text">{{ 'user-orders.details.receipt' | translate }}</div>
  </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
