<div class="event-wrapper">
  <div class="event">
    <div class="event-nav">
      <div class="back-button">
        <a class="button-link" [routerLink]="['/events', 'create-event']">
          <div class="button-content">
            <img [src]="images.arrowLeft" aria-hidden="true" alt="arrow" class="button-arrow-img" />
            <div class="edit-news back-to-edit" (click)="backToEdit()">{{ 'create-event.back-edit' | translate }}</div>
            <button class="primary-global-button button-publish" (click)="backToSubmit()">{{ 'create-event.publish' | translate }}</button>
          </div>
        </a>
      </div>
    </div>

    <div class="event-header">
      <div class="left-side">
        <div class="event-title">{{ event.title }}</div>
        <div class="date-author">
          <div>{{ date | dateLocalisation }}</div>
          <div>|</div>
          <div>{{ 'homepage.events.author' | translate }} {{ userName }}</div>
        </div>
      </div>
      <div class="right-side">
        <div class="share-buttons">
          <img [src]="icons.socials.plus" alt="Share" />
          <img [src]="icons.socials.twitter" alt="Share on Twitter" />
          <img [src]="icons.socials.linkedin" alt="Share on LinkedIn" />
          <img [src]="icons.socials.facebook" alt="Share on Facebook" />
        </div>
      </div>
    </div>

    <div class="event-main">
      <div class="main-left">
        <div class="main-image">
          <app-images-slider [images]="event.imgArrayToPreview"></app-images-slider>
        </div>

        <div class="event-tags-participants">
          <div class="friends-photo">
            <a href="#"><img class="first-photo" [src]="firstFriend" alt="First friend photo" /></a>
            <a href="#"><img class="second-photo" [src]="secondFriend" alt="Second friend photo" /></a>
            <p><b>2</b> {{ 'create-event.preview-attendees' | translate }}</p>
          </div>
          <p class="info-text">
            <b class="title-text">{{ 'create-event.event-start' | translate }}</b
            >{{ date | dateLocalisation }} {{ event.datesLocations[0].startDate }} - {{ event.datesLocations[0].finishDate }}
          </p>
          <p class="info-text">
            <b class="title-text">{{ 'create-event.event-place' | translate }}</b
            >{{ event.location.place }}
          </p>
        </div>

        <div class="event-type event-tags-participants">
          <div class="position-elements">
            <p class="title-text">{{ 'create-event.event-theme' | translate }}</p>
            <div *ngFor="let tag of event.tags">
              <a class="option-border">{{ getLangValue(tag.nameUa, tag.nameEn) }}</a>
            </div>
          </div>
          <div class="position-elements">
            <p class="title-text">{{ 'create-event.event-type' | translate }}</p>
            <div>
              <a class="option-border" *ngIf="event.open">{{ 'create-event.open' | translate }}</a>
              <a class="option-border" *ngIf="!event.open">{{ 'create-event.close' | translate }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="main-right">
        <div class="description-block-title">{{ 'create-event.event-description' | translate }}</div>
        <div [innerHTML]="event.description" class="description">{{ event.description }}</div>
      </div>
    </div>
  </div>
</div>
