@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.title {
    height: 200px;
    display: flex;
    align-items: center;
    margin-top: -60px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

input.ng-invalid.ng-touched + span, textarea.ng-invalid.ng-touched + p {
    color: red;
}

.title h2 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}

.form-description {
    margin-top: -30px;
    margin-bottom: 50px;
}

.form-description p {
    max-width: 653px;
    color: #878787;
}

h3, p, span, b, h2, button {
    color: #494A49;
    font-family: 'Open Sans';
}

.left-form-column span, .textarea-description {
    font-size: 12px;
}

.right-form-column span {
    font-size: 12px;
}

h3 {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.left-form-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-form-column input, 
.left-form-column textarea {
    width: 622px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #878787;
    padding: 12px 40px 12px 16px;
    resize: none;
    overflow: hidden;
}

.left-form-column p, .left-form-column span {
    margin-top: 4px;
    display: block;
    color: #878787;
}

.textarea-description {
    color: #878787;
}

.tags p {
    font-size: 12px;
    margin-top: -4px;
}

.tags button {
    margin: 0px 8px 8px 0px;
    font-size: 14px;
    color: #666666;
}

.right-form-column {
    margin-left: 32px;
}

button:hover {
    border: 1px solid #13AA57;
    color: #13AA57;
}

button {
    margin-bottom: 8px;
    border: 1px solid #878787;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
}

form .textarea-wrapper textarea {
    height: 131px;
    border-radius: 5px;
    border: 1px solid #878787;
    width: 100%;
    padding: 12px 16px 28px 16px;
    overflow: hidden;
}

.textarea-wrapper {
    margin-top: 32px;
}

form label {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.date {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin-top: 15px;
}

.date p span:first-child {
    font-size: 18px;
}

.date p span:last-child {
    color: #878787;
    font-size: 16px;
}

.submit-buttons {
    display: flex;
    justify-content: flex-end;
}

.submit-buttons button {
    margin-left: 20px;
    border: 1px solid #13AA57;
    border-radius: 3px;
    background-color: #ffffff;
    width: 154px;
    height: 48px;
    color: #13AA57;
    font-weight: bold;
}

.submit-buttons button:last-child {
    background-color: #13AA57;
    color: #ffffff;
    font-weight: bold;
}

.submit-buttons button:last-child:disabled {
    background-color: #839C94;
    border: 1px solid #839C94;
}

button {
    outline: none;
}

.tags .filters-color {
    background-color: #13AA57;
    color: #ffffff;
    border: none;
}

.filters-color::after {
    content: '  \2716';
    font-size: 12px;
}

.filters-color:hover {
    color: #ffffff;
    border: none;
}

.warning {
    color: red !important;
}

.left-form-column .field-warning {
    border: 1px solid red;
}

@media screen and (max-width: 1200px) {
    .left-form-column input, 
    .left-form-column textarea {
        width: 517px;
    }
}

@media screen and (max-width: 1024px) {
    .left-form-column input, 
    .left-form-column textarea,
    form .textarea-wrapper textarea {
        width: 100%;
  }
}

@media screen and (max-width: 768px) {
    .left-form-column input, 
    .left-form-column  textarea,
    form .textarea-wrapper textarea  {
        width: 100%;
    }

    .left-form-column label:last-child {
        margin-top: 340px;
    }

    .right-form-column {
        margin-top: -170px;
        margin-left: 0;
    }

    .textarea-wrapper {
        margin-top: 180px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 576px) {
    .left-form-column input,
    form .textarea-wrapper textarea {
        width: 100%;
    }

    .left-form-column label:last-child {
        margin-top: 340px;
    }

    .right-form-column {
        margin-top: -170px;
    }

    .textarea-wrapper {
        margin-top: 180px;
    }
}

@media screen and (max-width: 520px) {
    .left-form-column label:last-child {
        margin-top: 340px;
    }

    .right-form-column {
        margin-top: -170px;
        margin-bottom: 10px;
    }

    .textarea-wrapper {
        margin-top: 160px;
    }

    .submit-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }

    .submit-buttons {
        margin-right: 0;
    }
    .submit-buttons button {
        margin-left: 0;
        width: 100%;
        height: 48px;
    }

    .date {
       display: flex;
       flex-direction: column;
    }
}

@media screen and (max-width: 510px) {
    .left-form-column label:last-child {
        margin-top: 340px;
    }

    .right-form-column {
        margin-top: -120px;
    }

    .textarea-wrapper {
        margin-top: 160px;
    }
}

@media screen and (max-width: 360px) {
    .left-form-column label:last-child {
        margin-top: 380px;
    }

    .right-form-column {
        margin-top: -100px;
    }

    .textarea-wrapper {
        margin-top: 180px;
    }
}

@media screen and (max-width: 340px) {
    .left-form-column label:last-child {
        margin-top: 400px;
    }

    .right-form-column {
        margin-top: -60px;
    }

    .textarea-wrapper {
        margin-top: 200px;
    }
}

@media screen and (max-width: 320px) {
    .left-form-column input,
    form .textarea-wrapper textarea,
    .form-description,
    .tags {
        width: 275px;
    }

    .left-form-column label:last-child {
        margin-top: 380px;
    }

    .right-form-column {
        margin-top: -100px;
    }

    .textarea-wrapper {
        margin-top: 180px;
    }

    .tags button {
        margin: 3px;
    }

    .title h2 {
        font-size: 38px;
        width: 300px;
    }

    .submit-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }

    .submit-buttons button {
        margin-left: 0;
        width: 275px;
        height: 48px;
    }

    .date {
        display: flex;
        flex-direction: column;
    }
}
