<app-post-news-loader *ngIf="isPosting"></app-post-news-loader>
<div class="container" *ngIf="!isPosting">
    <div class="title">
        <h2>{{ 'create-news.title' | translate }}</h2>
    </div>
    <div class="form-description">
        <p>{{ 'create-news.form-description' | translate }}</p>
    </div>
    <div class="form-container">
        <form [formGroup]="createNewsForm" (ngSubmit)="onSubmit()">
            <div class="wrapper">
                <div class="left-form-column">

                        <h3>{{ 'create-news.news-title' | translate }}</h3>
                        <textarea placeholder="{{ 'create-news.title-placeholder' | translate }}"
                                  formControlName="title"
                                  (input)="autoResize($event)"></textarea>
                        <span>{{ 'create-news.title-tooltip' | translate }}</span>

                    <div class="tags" formArrayName="tags">
                        <h3>{{ 'create-news.tags-title' | translate }}</h3>
                        <button *ngFor="let filter of filters"
                                (click)="addFilters(filter)"
                                type="button"
                                [ngClass]="{'filters-color': filter.isActive}"
                                >
                                {{ filter.name }}</button>
                                <p [ngClass]="{'warning': isFilterValidation}"
                                >
                                  {{ 'create-news.tags-tooltip' | translate }}</p>
                    </div>
                    <label>
                        <h3>{{ 'create-news.source-title' | translate }}</h3>
                        <input type="text"
                               placeholder="{{ 'create-news.source-placeholder' | translate }}"
                               formControlName="source"
                               [ngClass]="{'field-warning':!isLinkOrEmpty}">
                        <span [ngClass]="{'warning':!isLinkOrEmpty}"
                        >
                         {{ 'create-news.source-tooltip-1' | translate }}
                          <br>
                          {{ 'create-news.source-tooltip-2' | translate }}
                        </span>
                    </label>
                </div>
                <div class="right-form-column">
                    <h3>{{ 'create-news.picture-title' | translate }}</h3>
                    <app-drag-and-drop [formData]="formData"></app-drag-and-drop>
                </div>
            </div>
            <div class="textarea-wrapper">
                <h3 class="textarea-title">{{ 'create-news.content-title' | translate }}</h3>
                <textarea name="main-area"
                          placeholder="{{ 'create-news.content-placeholder' | translate }}"
                          formControlName="content"
                          (input)="autoResize($event)"></textarea>
                <p class="textarea-description">{{ 'create-news.content-tooltip' | translate }}</p>
            </div>
            <div class="date">
                <p><span>{{ 'create-news.date' | translate }}</span>
                  <span>{{day}} {{'date.months.' + [month] | translate }} {{year}} {{'date.year' | translate }}</span></p>
                <p><span>{{ 'create-news.author' | translate }}</span><span>{{ author }}</span></p>
            </div>
            <div class="submit-buttons">
                <button
                    type="button"
                    (click)="openCancelPopup()">{{ 'create-news.cancel-button' | translate }}</button>
                <button type="button"
                        (click)="goToPreview()"
                >
                  {{ 'create-news.preview-button' | translate }}
                </button>
                <button type="submit" [disabled]="!createNewsForm.valid ||
                                                  isArrayEmpty ||
                                                  !isLinkOrEmpty ||
                                                  createEcoNewsService.isImageValid">{{ 'create-news.publish-button' | translate }}</button>
            </div>
        </form>
    </div>
</div>
