<ng-template [ngIf]="isPosting">
    <app-post-news-loader></app-post-news-loader>
</ng-template>

<div class="container" *ngIf="!isPosting">
    <div class="title">
        <h2>Create news</h2>
    </div>
    <div class="form-description">
        <p>
            Please provide as much details as you can - place and time 
            of event, the goal of gathering etc. You can come back and 
            update news anytime after publishing
        </p>
    </div>
    <div class="form-container">
        <form [formGroup]="createNewsForm" (ngSubmit)="onSubmit()">
            <div class="wrapper">
                <div class="left-form-column">
                    <label>
                        <h3>Title</h3>
                        <input type="text"
                               placeholder="e.x. Coffee takeaway with 20% discounte"
                               formControlName="title">
                        <span>Should contain maximum 170 symbols</span>
                    </label>
                    <div class="tags" formArrayName="tags">
                        <h3>Pick tags for news</h3>
                        <button *ngFor="let filter of filters"
                                (click)="addFilters(filter)"
                                type="button"
                                [ngClass]="{'filters-color': filter.isActive}"
                                >
                                {{ filter.name }}</button>
                                <p [ngClass]="{'warning': isFilterValidation}"
                                >
                                Only 3 tags can be added.</p>
                    </div>
                    <label>
                        <h3>Source (optional)</h3>
                        <input type="text"
                               placeholder="link to external source"
                               formControlName="source"
                               [ngClass]="{'field-warning':isLink}">
                        <span [ngClass]="{'warning':isLink}"
                        >
                        Please add the link of original article/news/post. Link should contain https://</span>
                    </label>
                </div>
                <div class="right-form-column">
                    <h3>Picture (optional)</h3>
                    <app-drag-and-drop></app-drag-and-drop>
                </div>
            </div>
            <div class="textarea-wrapper">
                <h3 class="textarea-title">Content</h3>
                <textarea name="main-area"
                          placeholder="E.x. Short description of news, agenda for event"
                          formControlName="content"></textarea>
                <p class="textarea-description">Should contain minimum 20 symbols</p>
            </div>
            <div class="date">
                <p><span>Date: </span><span>{{date | date: 'longDate'}}</span></p>
                <p><span>Author: </span><span>{{ author }}</span></p>
            </div>
            <div class="submit-buttons">
                <button
                    type="button"
                    (click)="openCancelPopup()">Cancel</button>
                <button type="button"
                        (click)="goToPreview()"
                >
                  Preview
                </button>
                <button type="submit" [disabled]="!createNewsForm.valid ||
                                                  isArrayEmpty ||
                                                  isLink ||
                                                  createEcoNewsService.isImageValid">Publish</button>
            </div>
        </form>
    </div>
</div>
