<section class="profile-wrapper">
    <div class="column left-column">
      <app-profile-header></app-profile-header>
      <app-achievements-friends></app-achievements-friends>
      <app-eco-places></app-eco-places>
      <app-shopping-list></app-shopping-list>
    </div>
    <div class="column habits-dashboard">
      <app-profile-dashboard></app-profile-dashboard>
    </div>
    <div class="column right-column">
      <app-calendar></app-calendar>
      <app-calendar-week></app-calendar-week>
      <app-profile-cards class="right-column-card"></app-profile-cards>
    </div>
</section>
