<section class="profile-wrapper" *ngIf="userInfo">
    <div class="column left-column">
      <app-profile-header [userInfo]="userInfo"></app-profile-header>
      <app-achievements-friends></app-achievements-friends>
      <app-eco-places *ngIf="userInfo.showEcoPlace"></app-eco-places>
      <app-shopping-list *ngIf="userInfo.showShoppingList"></app-shopping-list>
    </div>
    <div class="column habits-dashboard">
      <app-profile-dashboard></app-profile-dashboard>
    </div>
    <div class="column right-column">
      <app-calendar></app-calendar>
      <app-profile-cards></app-profile-cards>
    </div>
</section>
