<section class="profile-wrapper" *ngIf="userInfo">
    <div class="column left-column">
      <div class="app-profile-header">
        <app-profile-header [userInfo]="userInfo"></app-profile-header>
      </div>
      <div class="app-achievements-friends">
        <app-achievements-friends></app-achievements-friends>
      </div>
      <div class="app-eco-places">
        <app-eco-places *ngIf="userInfo.showEcoPlace"></app-eco-places>
      </div>
      <div class="app-shopping-list">
        <app-shopping-list *ngIf="userInfo.showShoppingList"></app-shopping-list>
      </div>
    </div>
    <div class="column habits-dashboard">
      <app-profile-dashboard></app-profile-dashboard>
    </div>
    <div class="column right-column">
      <div class="app-calendar">
        <app-calendar></app-calendar>
      </div>
      <div class="app-profile-cards">
        <app-profile-cards></app-profile-cards>
      </div>
    </div>
</section>
