$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.profile-wrapper {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr 2.14fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  height: 100%;
  margin: 0 auto;

  .left-column {
    grid-area: 1 / 1 / 3 / 2;
    padding: 24px;
    background: #f5f7f6;
  }

  .habits-dashboard {
    grid-area: 1 / 2 / 3 / 3;
  }

  .right-column {
    grid-area: 1 / 3 / 3 / 4;

    .app-calendar-week {
      display: none;
    }
  }

  .column {
    div {
      width: 100%;
      box-sizing: inherit;
    }
  }
}

@media only screen and (max-width: $bp-desktop) {
  .profile-wrapper {
    margin: 24px 24px;

    .right-column {
      max-width: 216px;
    }
  }
}

@media only screen and (max-width: $bp-tablet) {
  .profile-wrapper {
    margin: 14px 14px;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 130px 1fr;

    .left-column {
      grid-area: 1 / 1 / 3 / 2;
    }

    .habits-dashboard {
      grid-area: 2 / 2 / 3 / 3;
    }

    .right-column {
      grid-area: 1 / 2 / 2 / 3;
      max-width: 100%;
      background: #f5f7f6;

      .app-calendar-week {
        display: block;
      }
    }
  }

  .app-profile-cards,
  .app-calendar {
    display: none;
  }
}

@media only screen and (max-width: $bp-phone) {
  .profile-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(235px)  1fr;
    grid-row-gap: 0;
    margin: 0;

    .left-column {
      grid-area: 1 / 1 / 2 / 3;
      padding: 16px;

      .profile {
        display: flex;
      }
    }

    .habits-dashboard {
      grid-area: 2 / 1 / 3 / 3;
      margin: 38px 14px;
    }
  }

  .app-achievements-friends,
  .app-eco-places,
  .app-shopping-list,
  .app-calendar-week,
  .right-column-card {
    display: none;
  }
}
