<a [matMenuTriggerFor]="menu" class="custom-chip global-tag" [ngClass]="{ 'global-tag-clicked': isActiveFilter }" tabindex="0">
  {{ 'user.map.more-options' | translate }}
  <div [ngClass]="{ 'global-tag-close-icon': isActiveFilter }"></div>
</a>
<div class="menu-wrapper">
  <mat-menu #menu="matMenu" class="option-menu">
    <div [formGroup]="filtersForm" class="content" (click)="$event.stopPropagation()">
      <div formGroupName="baseFilters">
        <mat-checkbox
          class="checkbox"
          *ngFor="let name of baseFilters"
          [formControlName]="name.name"
          [appLangValue]="{ ua: name.nameUa, en: name.name }"
        >
        </mat-checkbox>
      </div>
      <div formGroupName="distance">
        <mat-checkbox class="checkbox" formControlName="isActive">Distance</mat-checkbox>
        <div class="slider-wrapper">
          <span class="slider-label-box">0</span>
          <div class="slider-control-container">
            <span class="border-box">-</span>
            <div class="slider-control-box"></div>
          </div>
          <mat-slider id="slider" class="distance-slider" min="0" max="25" step="1" thumbLabel>
            <input matSliderThumb formControlName="value" />
          </mat-slider>
          <span class="slider-control-box">+</span>
          <span class="slider-label-box">25</span>
          <span>{{ value?.distance.value + 'km' }}</span>
        </div>
      </div>
      <div formGroupName="servicesFilters" class="services-group">
        <h6>Services</h6>
        <mat-checkbox
          class="checkbox"
          *ngFor="let name of servicesFilters"
          [formControlName]="name.name"
          [appLangValue]="{ ua: name.nameUa, en: name.name }"
        >
        </mat-checkbox>
      </div>
    </div>
  </mat-menu>
</div>
