<div class="address d-flex flex-column">
  <p>{{ 'personal-info.address-city' | translate }} {{ getLangValue(address.city, address.cityEn) }}</p>
  <p>{{ 'personal-info.address-district' | translate }} {{ getLangValue(address.district, address.districtEn) }}</p>
  <p>
    <span>{{ getLangValue(address.street, address.streetEn) }}</span
    >, {{ address.houseNumber }},
    <ng-template [ngIf]="address.houseCorpus">{{ 'personal-info.address-corp' | translate }} {{ address.houseCorpus }}, </ng-template>
    <ng-template [ngIf]="address.entranceNumber">
      {{ 'personal-info.address-entrance' | translate }} {{ address.entranceNumber }}</ng-template
    >
  </p>
  <p>{{ getLangValue(address.region, address.regionEn) }}</p>
</div>
