<div class="calendar">
  <div class="top">
    <div *ngIf="monthView"
         class="month-year">
      <div (click)="previousMonth()">
        <img [src]="calendarImages.arrowPrevious"
             alt="arrow previous"
             class="arrow-previous">
      </div>
      <span class="monthAndYear"
            (click)="toggleCalendarView()">
        {{ monthAndYearName }}
      </span>
      <div (click)="nextMonth()">
        <img [src]="calendarImages.arrowNext"
             alt="arrow next"
             class="arrow-next">
      </div>
    </div>
    <div *ngIf="!monthView"
         class="month-year">
      <div (click)="previousYear()">
        <img [src]="calendarImages.arrowPrevious"
             alt="arrow previous"
             class="arrow-previous">
      </div>
      <span class="monthAndYear"
            (click)="toggleCalendarView()">
        {{ yearData }}
      </span>
      <div (click)="nextYear()">
        <img [src]="calendarImages.arrowNext"
             alt="arrow next"
             class="arrow-next">
      </div>
    </div>
    <div *ngIf="monthView"
         class="days">
      <div class="days-name"
           *ngFor="let day of daysName"
           [ngClass]="{ 'current-day-name': day === currentDayName }">
        {{ day }}
      </div>
    </div>
  </div>
  <div class="middle">
    <div *ngIf="monthView"
         class="calendar-grid">
      <div *ngFor="let dayItem of calendarDay"
           class="calendar-grid-day"
           [ngClass]="{ 'current-day': dayItem.isCurrentDayActive,
           'tracked-day': dayItem.isHabitsTracked }"
           (click)="$event.stopPropagation()">
        <span [ngClass]="{ 'calendar-grid-current-day-content': dayItem.isCurrentDayActive,
                  'calendar-grid-tracked-day-content': dayItem.isHabitsTracked }"
                  class="calendar-grid-day-content" (click)="toggleHabitsList(dayItem)">
          {{ dayItem.numberOfDate }}
        </span>
        <div *ngIf="selectedDay === dayItem.numberOfDate" [ngClass]="isHabitsPopUpOpen ? 'calendar-habits-open' : 'calendar-habits'">
          <p class="habits-title">{{ habitsCalendarSelectedDate }}</p>
          <ul class="habits-list" *ngFor="let habit of habits2">
            <li [ngClass]="isChangingEnroll ? 'habits-item-disabled habits-item' : 'habits-item'"
              (click)=" toggleCompleteHabit(habit, dayItem)">
            <img class="habit-icon"
              [src]="habit.completed ? calendarIcons.checkCircle : calendarIcons.plusCircle"
              alt="habit-icon">
            {{ habit.habitTranslation.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="!monthView"
         class="calendar-grid-month">
      <div *ngFor="let month of monthsCalendar">
        <div class="calendar-grid-month-view"
             (click)="buildSelectedMonthCalendar(month)"
             [ngClass]="{ 'current-month' : month === activeMonth && currentYear }">
          {{ month }}
        </div>
      </div>
    </div>
  </div>
</div>
