<div class="calendar">
  <div class="top">
    <div *ngIf="monthView"
         class="month-year">
      <div (click)="previousMonth()">
        <img [src]="calendarImages.arrowPrevious"
             alt="arrow previous"
             class="arrow-previous">
      </div>
      <span class="monthAndYear"
            (click)="toggleCalendarView()">
        {{ monthAndYearName }}
      </span>
      <div (click)="nextMonth()">
        <img [src]="calendarImages.arrowNext"
             alt="arrow next"
             class="arrow-next">
      </div>
    </div>
    <div *ngIf="!monthView"
         class="month-year">
      <div (click)="previousYear()">
        <img [src]="calendarImages.arrowPrevious"
             alt="arrow previous"
             class="arrow-previous">
      </div>
      <span class="monthAndYear"
            (click)="toggleCalendarView()">
        {{ yearData }}
      </span>
      <div (click)="nextYear()">
        <img [src]="calendarImages.arrowNext"
             alt="arrow next"
             class="arrow-next">
      </div>
    </div>
    <div *ngIf="monthView"
         class="days">
      <div class="days-name"
           *ngFor="let day of daysName"
           [ngClass]="{ 'current-day-name': day === currentDayName }">
        {{ day }}
      </div>
    </div>
  </div>
  <div class="middle">
    <div *ngIf="monthView"
         class="calendar-grid">
      <div *ngFor="let dayItem of calendarDay"
           class="calendar-grid-day"
           [ngClass]="{ 'current-day': dayItem.isCurrentDayActive,
                        'tracked-day': dayItem.isHabitsTracked }">
        {{ dayItem.numberOfDate }}
      </div>
    </div>
    <div *ngIf="!monthView"
         class="calendar-grid-month">
      <div *ngFor="let month of monthsCalendar">
        <div class="calendar-grid-month-view"
             (click)="buildSelectedMonthCalendar(month)"
             [ngClass]="{ 'current-month' : month === activeMonth && currentYear }">
          {{ month }}
        </div>
      </div>
    </div>
  </div>
</div>
