$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-largest: 1440px;

.calendar-right {
  display: none;
}

.calendar {
  width: 216px;
  height: 222px;
  background: var(--secondary-light-grey);
  border-radius: 4px;

  .top {
    .month-year {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .arrow-previous {
        margin-top: 22px;
        margin-left: 18px;
        margin-bottom: 16px;
        cursor: pointer;
      }

      .monthAndYear {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: var(--primary-dark-grey);
        margin-top: 15px;
        margin-bottom: 12px;
        cursor: pointer;
      }

      .arrow-next {
        margin-top: 22px;
        margin-right: 18px;
        margin-bottom: 16px;
        cursor: pointer;
      }
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 30px);
      text-align: center;
      margin: 0 9px 0 0;
      font-size: 11px;

      .days-name {
        margin: 0;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        color: var(--tertiary-light-grey);
      }

      .current-day-name {
        color: var(--primary-green);
      }
    }
  }

  .middle {
    padding-bottom: 16px;

    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 30px);
      grid-auto-rows: 30px;
      margin: 8px 0 0 0;
      font-family: var(--secondary-font);
      font-size: 11px;
      line-height: 13px;
      color: var(--primary-dark-grey);
      text-align: center;

      .calendar-grid-day {
        padding: 7px 1px 0 0;
        cursor: pointer;
      }

      .calendar-grid-day:hover {
        color: var(--primary-green);
      }

      .calendar-grid-day:active {
        color: var(--secondary-dark-green);
      }

      .current-day {
        background-color: var(--primary-green);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
      }

      .tracked-day {
        background-color: var(--secondary-dark-green);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
      }

      .current-day:hover,
      .tracked-day:hover {
        color: #fff;
      }

      .current-day:active,
      .tracked-day:active {
        color: var(--secondary-dark-green);
      }
    }

    .calendar-grid-month {
      display: grid;
      grid-template-columns: repeat(3, 23px);
      grid-template-rows: repeat(4, 13px);
      grid-row-gap: 32px;
      grid-column-gap: 47px;
      justify-content: center;
      margin-top: 32px;

      .calendar-grid-month-view {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: var(--secondary-grey);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
      }

      .current-month {
        color: var(--primary-green);
      }
    }
  }
}

@media only screen and (max-width: $bp-desktop) {
  .calendar {
    width: 216px;
    height: 202px;

    .top {
      .days {
        grid-template-columns: repeat(7, 28.6px);

        .days-name {
          font-size: 10px;
        }
      }
    }

    .middle {
      .calendar-grid {
        grid-template-columns: repeat(7, 28px);
        grid-auto-rows: 22px;
        margin: 2px 0 0 14px;
        font-size: 11px;

        .calendar-grid-day {
          padding: 2px 1px 0 0;
        }
      }

      .calendar-grid-month {
        grid-template-columns: repeat(3, 21px);
        grid-row-gap: 23px;
        grid-column-gap: 41px;
        margin-top: 19px;
      }
    }
  }
}

@media only screen and (max-width: $bp-tablet) {
  .calendar {
    display: none;
  }

  .calendar-right {
    width: 483px;
    height: 130px;
    display: flex;
    flex-direction: column;

    .top {
      .month-year {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .arrow-previous {
          margin-top: 22px;
          margin-left: 18px;
          margin-bottom: 16px;
          cursor: pointer;
        }

        .monthAndYear {
          font-family: var(--secondary-font);
          font-weight: 600;
          font-size: 13px;
          color: var(--primary-dark-grey);
          margin-top: 16px;
          margin-bottom: 12px;
          cursor: pointer;
        }

        .arrow-next {
          margin-top: 22px;
          margin-right: 18px;
          margin-bottom: 16px;
          cursor: pointer;
        }
      }

      .days {
        display: grid;
        grid-template-columns: repeat(7, 68.6px);
        text-align: center;
        margin: 0 9px 0 10px;
        font-size: 11px;

        .days-name {
          margin: 0;
          font-family: var(--secondary-font);
          font-weight: 600;
          font-size: 11px;
          line-height: 16px;
          color: var(--tertiary-light-grey);
        }

        .current-day-name {
          color: var(--primary-green);
        }
      }
    }

    .middle {
      padding-bottom: 24px;

      .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 57px);
        grid-auto-rows: 34px;
        margin: 8px 0 0 14px;
        font-family: var(--secondary-font);
        font-size: 19px;
        line-height: 16px;
        color: var(--primary-dark-grey);
        text-align: center;

        .calendar-grid-day {
          padding: 7px 1px 0 0;
          cursor: pointer;
        }

        .calendar-grid-day:hover {
          color: var(--primary-green);
        }

        .calendar-grid-day:active {
          color: var(--secondary-dark-green);
        }

        .current-day {
          background-color: var(--secondary-dark-green);
          border-radius: 50%;
          width: 25px;
          color: #fff;
        }

        .tracked-day {
          background-color: var(--secondary-dark-green);
          border-radius: 50%;
          width: 25px;
          color: #fff;
        }

        .current-day:hover,
        .tracked-day:hover {
          color: #fff;
        }

        .current-day:active,
        .tracked-day:active {
          color: var(--secondary-dark-green);
        }
      }

      .calendar-grid-month {
        display: grid;
        grid-template-columns: repeat(3, 23px);
        grid-template-rows: repeat(4, 13px);
        grid-row-gap: 32px;
        grid-column-gap: 47px;
        justify-content: center;
        margin-top: 32px;

        .calendar-grid-month-view {
          font-family: var(--secondary-font);
          font-weight: 600;
          font-size: 11px;
          line-height: 13px;
          color: var(--secondary-grey);
          text-align: center;
          text-transform: uppercase;
          cursor: pointer;
        }

        .current-month {
          color: var(--primary-green);
        }
      }
    }
  }
}
