@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.calendar {
  width: 261px;
  max-height: 276px;
  background: #F5F6F6;
  border-radius: 4px;

  .top {
    .month-year {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .arrow-previous {
        margin-top: 22px;
        margin-left: 18px;
        margin-bottom: 16px;
      }

      .monthAndYear {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #494A49;
        margin-top: 16px;
        margin-bottom: 12px;
      }

      .arrow-next {
        margin-top: 22px;
        margin-right: 18px;
        margin-bottom: 16px;
      }
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 34.6px);
      text-align: center;
      margin: 0 9px 0 10px;

      .days-name {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #BEBEBE;
      }

      .current-day-name {
        color: #13AA57;;
      }
    }
  }

  .middle {
    padding-bottom: 24px;

    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 34px);
      grid-auto-rows: 32px;
      margin: 8px 0 0 14px;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      line-height: 16px;
      color: #494A49;
      text-align: center;

      .calendar-grid-day {
        padding: 7px 1px 0 0;
      }

      .current-day {
        background: url('~/assets/img/profile/calendar/current-day.svg');
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
      }
      .tracked-day {
        background: url('~/assets/img/profile/calendar/tracked-day.svg');
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
      }
    }

    .calendar-grid-month {
      display: grid;
      grid-template-columns: repeat(3, 23px);
      grid-template-rows: repeat(4, 13px);
      grid-row-gap: 32px;
      grid-column-gap: 47px;
      justify-content: center;
      margin-top: 32px;

      .calendar-grid-month-view {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: #878787;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
      }

      .current-month {
        color: #13AA57;
      }
    }
  }
}
