$bp-smallest: 320px;
$bp-phone: 576px;
$bp-tablet: 768px;
$bp-desktop: 1023px;
$bp-largest: 1200px;

.calendar {
  display: block;
  background: var(--secondary-light-grey);
  border-radius: 4px;

  .top {
    .month-year {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .arrow-previous {
        margin-top: 22px;
        margin-left: 18px;
        margin-bottom: 16px;
        cursor: pointer;
      }

      .monthAndYear {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: var(--primary-dark-grey);
        margin-top: 15px;
        margin-bottom: 12px;
        cursor: pointer;
      }

      .arrow-next {
        margin-top: 22px;
        margin-right: 18px;
        margin-bottom: 16px;
        cursor: pointer;
      }
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 30px);
      justify-content: center;
      text-align: center;
      font-size: 11px;

      .days-name {
        margin: 0;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 11px;
        line-height: 12px;
        color: var(--tertiary-light-grey);
      }

      .current-day-name {
        color: var(--primary-green);
      }
    }
  }

  .middle {
    padding-bottom: 5px;

    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 30px);
      grid-auto-rows: 30px;
      justify-content: center;
      margin: 8px 0 0 0;
      font-family: var(--secondary-font);
      font-size: 11px;
      line-height: 13px;
      color: var(--primary-dark-grey);
      text-align: center;

      .calendar-grid-day {
        padding: 9px 1px 0 0;
        cursor: pointer;
      }

      .calendar-grid-day:hover {
        color: var(--primary-green);
      }

      .calendar-grid-day:active {
        color: var(--secondary-dark-green);
      }

      .current-day {
        background-color: var(--primary-green);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
      }

      .tracked-day {
        background-color: var(--secondary-dark-green);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
      }

      .current-day:hover,
      .tracked-day:hover {
        color: #fff;
      }

      .current-day:active,
      .tracked-day:active {
        color: var(--secondary-dark-green);
      }
    }

    .calendar-grid-month {
      display: grid;
      grid-template-columns: repeat(3, 23px);
      grid-template-rows: repeat(4, 13px);
      grid-row-gap: 32px;
      grid-column-gap: 47px;
      justify-content: center;
      margin: 32px 0;

      .calendar-grid-month-view {
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        color: var(--secondary-grey);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
      }

      .current-month {
        color: var(--primary-green);
      }
    }
  }
}

.calendar-habits{
  visibility: hidden;
}

.calendar-habits-open{
  position: relative;
  z-index: 10;
  margin-right: 314px;
  width: 314px;
  height: 334px;
  right: 297px;
  top: 3px;

  font-family: var(--secondary-font);
  color: #494A49;

  background: #FFFFFF;
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  border-radius: 4px;
}

.habits-title {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 0 16px 20px;
  margin: 0;
  display: flex;
  align-items: center;
}

.habits-list {
  // padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 16px;
  margin: 0;
}

.habits-item {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  width: 282px;
  height: 28px;

  display: flex;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;
}

.habits-item-disabled {
  pointer-events: none;
  opacity: .8;
}

.habit-icon {
  padding-right: 9px;
}

// .calendar-grid-day-content {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   height: 100%;
// }

// .calendar-grid-day-content:hover {
//   color: #13aa57;
// }

// .calendar-grid-day-content:active {
//   color: #056b33;
// }

// .calendar-grid-current-day-content:hover,
// .calendar-grid-tracked-day-content:hover {
//   color: #fff;
// }

// .calendar-grid-current-day-content:active,
// .calendar-grid-tracked-day-content:active {
//   color: #056b33;
// }

.enrolled-day {
  background-color: #13AA57;
  color: #494a49;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.unenrolled-day {
  background-color:  #E1E5E3;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.enrolled2-day {
  border: 1px solid #13AA57;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.unenrolled2-day {
  border: 1px solid  #D0D0D0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.spinner {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: $bp-largest) {
  .calendar {
    .top {
      .days {
        grid-template-columns: repeat(7, 35px);
      }
    }

    .middle {
      .calendar-grid {
        grid-template-columns: repeat(7, 35px);
        grid-auto-rows: 35px;

        .calendar-grid-day {
          padding: 10px 1px 0 0;
          font-size: 13px;
        }
      }
    }
  }
}
