@import 'src/app/chat/chat-styles-reset';

:host {
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.current-chat {
  @include flex(column, center, center);
  height: 100%;
}

.current-chat-title {
  @include flex(row, flex-start, center);
  width: 100%;
  padding: 10px;
  column-gap: 7px;
  cursor: pointer;
  background: var(--quaternary-dark-grey);

  img {
    height: 40px;
  }
}

.current-chat-name {
  font-size: 16px;
  color: var(--primary-white);
}

.current-chat-dot {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #444e55;
}

.current-chat-participants-quantity {
  font-size: 13px;
}

.current-chat-content {
  width: 35vw;
  @include flex(row, center, center);
  flex: 1;
  overflow: hidden;
}

.green-people-ph {
  height: 100%;
}

.no-current-chat {
  background: var(--quaternary-dark-grey);
}
