<div class="profile-wrapper" *ngIf="userInfo">
  <div class="side-bar">
    <app-profile-header class="app-profile-header" [userInfo]="userInfo" [progress]="progress"></app-profile-header>
    <hr *ngIf="showButtons" />
    <div *ngIf="showButtons" class="friend-btn-wrapper">
      <app-friendship-buttons [userAsFriend]="userAsFriend"></app-friendship-buttons>
    </div>
    <app-users-achievements class="app-users-achivements"></app-users-achievements>
    <app-eco-places class="app-eco-places" *ngIf="userInfo.showEcoPlace"></app-eco-places>
    <app-to-do-list class="app-to-do-list" *ngIf="userInfo.showToDoList"></app-to-do-list>
  </div>
  <div class="container">
    <div class="content">
      <app-friend-profile-dashboard></app-friend-profile-dashboard>
    </div>
  </div>
</div>
