.profile-wrapper {
  margin: -95px auto 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .side-bar {
    width: 20%;
    box-shadow: 4px 0 8px -4px var(--quintynary-dark-grey);
    margin-top: 100px;

    .friend-request {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 10px 0;
    }
  }

  hr {
    width: 60%;
    justify-content: center;
  }

  .content {
    width: 80%;
    margin: 25px auto auto 25px;
    height: 100%;
  }
}
