h4 {
  width: 442px;
  height: auto;
  font-family: OpenSans;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000000;
padding-left: 15px;
}
