h1 {
  margin: 0;
  font-family: var(--secondary-font);
}

.habits_header-buttons {
  display: none;

  span {
    cursor: pointer;
  }

  .btn-tiles-active {
    cursor: default;
  }
}

.border_bottom {
  border-bottom: 1px solid #e6e6e6;
}

.habits_header-items-found {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
}

.habits_header-wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 20px;
  margin: 20px 0 3.125rem 0;

  .habit-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main-header {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .s-btn {
      width: 100%;
    }
  }

  a .back-button {
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #494a49;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    padding: 20px 0 40px 0;

    img {
      margin-right: 6px;
    }
  }

  .habits_header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    &:focus {
      box-shadow: none;
    }
  }
}

.galleryContainer {
  display: grid;
  grid-template-columns: 290px;
  grid-gap: 30px;
  justify-content: center;
}

.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .habits_header-wrapper {
    .habit-header {
      flex-direction: row;

      .main-header {
        font-size: 40px;
        margin: 0;
      }

      .s-btn {
        width: auto;
      }
    }

    a {
      justify-self: start;
    }
  }

  .galleryContainer {
    grid-template-columns: repeat(2, 50%);
  }

  .container {
    padding: 0;
  }

  .habits_header-buttons {
    display: block;

    :nth-child(1) {
      margin-right: 8px;
    }
  }
}

@media (min-width: 992px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 299px);
  }
}

@media (min-width: 1200px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 359px);
  }
}
