<div class="habits-wrapper container" (window:resize)="onResize()">
  <div class="habits_header-wrapper">
    <a [routerLink]="['/profile', profileService.userId]">
      <div class="back-button">
        <img [src]="images.arrowLeft" alt="arrow" />
        <div>{{ 'user.habit.all-habits.back-button' | translate }}</div>
      </div>
    </a>
    <div class="habit-header">
      <h1 class="main-header">{{ 'user.habit.all-habits.title' | translate }}</h1>
      <button class="secondary-global-button s-btn" (click)="goToCreateHabit()">
        {{ 'user.habit.all-habits.btn-crate-habit' | translate }}
      </button>
    </div>
    <div class="filters-container">
      <span class="filter-title">{{ 'homepage.eco-news.filter' | translate }}</span>
      <div class="filters-list-box" *ngIf="tagList.length">
        <app-filter-select
          *ngFor="let filter of filtersList"
          [filter]="filter"
          [resetAllEvent]="cleanFilters.asObservable()"
          (selectedList)="setFilters($event)"
        >
        </app-filter-select>
        <button class="reset-btn" (click)="resetFilters()">{{ 'user.habit.all-habits.reset-filters' | translate }}</button>
      </div>
    </div>
    <div class="habits_header-actions">
      <div class="habits_header-items-found">{{ totalHabits }} {{ 'user.habit.all-habits.found' | translate }}</div>
      <div class="habits-header-buttons">
        <button class="btn-tiles" (click)="onDisplayModeChange(true)" [ngClass]="{ 'btn-tiles-active': galleryView }" tabindex="0">
          <em class="fa fa-th-large"></em>
        </button>
        <button class="btn-bars" (click)="onDisplayModeChange(false)" [ngClass]="{ 'btn-bars-active': !galleryView }" tabindex="0">
          <em class="fa fa-bars"></em>
        </button>
      </div>
    </div>
  </div>
  <div class="body-wrapper">
    <div *ngIf="galleryView" [ngClass]="{ galleryContainer: galleryView }">
      <app-habits-gallery-view *ngFor="let habit of habitsList" [habit]="habit"></app-habits-gallery-view>
    </div>
    <div *ngIf="!galleryView" [ngClass]="{ listView: !galleryView }">
      <app-habits-list-view *ngFor="let habit of habitsList" [habit]="habit"> </app-habits-list-view>
    </div>
  </div>
  <app-spinner *ngIf="isFetching"></app-spinner>
  <div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="500" (scrolled)="onScroll()"></div>
  <app-no-data *ngIf="!habitsList.length" [title]="'user.habit.all-habits.no-habits'" [text]="'user.habit.all-habits.no-habits-advice'">
  </app-no-data>
</div>
