h1 {
  margin: 0;
  font-family: var(--secondary-font);
}

.habits-header-buttons {
  display: none;
}

.habits_header-items-found {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
}

.habits_header-wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 20px;
  margin: 20px 0 3.125rem 0;

  .habit-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main-header {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .s-btn {
      width: 100%;
    }
  }

  .filters-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--quaternary-light-grey);

    @media (max-width: 576px) {
      flex-direction: column;
    }

    .filter-title {
      display: flex;
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 28px;
      color: var(--secondary-dark-grey);
      height: 28px;
      min-width: 75px;
      white-space: nowrap;
    }

    .filters-list-box {
      display: flex;
      align-items: center;
      gap: 16px;

      .reset-btn {
        color: var(--quaternary-grey);
        background: none;
        outline: none;
        border: 0;
        cursor: pointer;

        &:hover {
          color: var(--primary-green);
        }
      }

      @media (max-width: 400px) {
        flex-direction: column;
      }
    }
  }

  a .back-button {
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #494a49;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    padding: 20px 0 40px 0;

    img {
      margin-right: 6px;
    }
  }

  .habits_header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    &:focus {
      box-shadow: none;
    }
  }
}

.galleryContainer {
  display: grid;
  grid-template-columns: 290px;
  grid-gap: 30px;
  justify-content: center;

  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 50%);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 299px);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 359px);
  }
}

.listView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .habits_header-wrapper {
    .habit-header {
      flex-direction: row;

      .main-header {
        font-size: 40px;
        margin: 0;
      }

      .s-btn {
        width: auto;
      }
    }

    a {
      justify-self: start;
    }
  }

  .habits-header-buttons {
    display: flex;
    gap: 8px;
  }
}
