<div class="card-content card-people" [class.card-order-even]="isEven">
  <img [src]="card.imgUrl" [alt]="card.alt" />
  <div>
    <div class="card-title">
      <span class="card-title-number">{{ card.id }}</span>
      <h3 class="card-title-text">{{ card.title | translate }}</h3>
    </div>
    <div class="card-info">
      <span class="main-card-text" id="fifth-card-text">
        {{ card.description | translate }}
      </span>
      <a
        class="disabled-link card-link"
        title="{{ 'about-us.disabled-link' | translate }}"
        [routerLink]="card.linkPath"
        [fragment]="card.navigationExtras?.fragment"
        routerLinkActive="active-link"
      >
        <span> {{ card.linkText | translate }}</span>
        <mat-icon class="chevron-icon">chevron_right</mat-icon>
      </a>
    </div>
  </div>
</div>
