@import '../../../../../../typography/typography';
h1,
h2,
h3 {
  margin: 0;
}

.card-content {
  display: flex;
  flex-direction: row;
  color: var(--quaternary-dark-grey);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 40px 100px 40px 84px;
  line-height: 36px;
  font-size: 24px;
  font-family: var(--primary-font);

  .card-link {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    margin-top: 16px;
    margin-left: auto;
    color: var(--primary-green);
    font-size: 18px;
    line-height: 18.75px;
    font-weight: 700;

    /* Headline-7 */
    font-family: var(--tertiary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  .chevron-icon {
    height: 22px;
  }
}

.card-title-text {
  font-size: 32px;
  font-family: var(--tertiary-font);
  font-weight: bold;
}

.card-title {
  display: flex;
  align-items: baseline;
  gap: 16px;
  flex-direction: row;
  margin-bottom: 75px;
}

.card-title,
.card-info {
  position: relative;
  z-index: 2;
  background: var(--pre-secondary-light-grey);
}

.card-order-even {
  flex-direction: row-reverse;
}

.card-title-number {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 144px;
  letter-spacing: 0.2px;

  /* Gradient/Green */
  background: linear-gradient(180deg, #8fe02e 0%, #26b351 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-card-text {
  font-family: var(--tertiary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
}

@media only screen and (max-width: 1199px) {
  .container-vision {
    margin: auto 30px;
  }

  .steps-main-block {
    margin: auto 30px;
  }

  .card-title {
    width: auto;
  }

  .card-info {
    padding: 0;
    margin: 0;
  }

  .card-title-text {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .container-about,
  .container-vision {
    flex-direction: column;

    .full-text-block {
      margin-left: 0;
    }
  }

  .container-about {
    margin: auto 30px;
  }

  .container-vision {
    img {
      order: 2;
    }
  }

  .card-content {
    flex-direction: column;
    margin: 0;

    img {
      max-width: 100%;
      order: 2;
    }

    .card-info {
      position: relative;
      top: 0;
    }
  }
}
