<div class="vision-card" [class.card-order-even]="isEven">
  <img [src]="card.imgUrl" [alt]="card.alt" />
  <div class="vision-card__content">
    <div class="vision-card__title">
      <span class="vision-card__title__number">{{ card.id }}</span>
      <h3 class="vision-card__title__text">{{ card.title | translate }}</h3>
    </div>
    <div class="vision-card__info">
      <p class="vision-card__description">
        {{ card.description | translate }}
      </p>
      <a
        class="disabled-link vision-card__link"
        title="{{ 'about-us.disabled-link' | translate }}"
        [routerLink]="card.linkPath"
        [fragment]="card.navigationExtras?.fragment"
        routerLinkActive="active-link"
      >
        <span> {{ card.linkText | translate }}</span>
        <mat-icon class="chevron-icon">chevron_right</mat-icon>
      </a>
    </div>
  </div>
</div>
