<div [ngClass]="{'habit-status-active': habit.status === 1, 'hidden': habit.status != 1}"><img [src]="check"
    alt="active-bird"></div>
<div class="habit-card" [ngStyle]="setActiveStyles()">
  <div class="habit-card-icon-wrapper">
    <div class="habit-card-icon"></div>
  </div>
  <div class="habit-card-text-wrapper">
    <h5 class="habit-card-caption">{{ habit.caption }}</h5>
    <p class="habit-card-text">{{ habit.description }}</p>
  </div>
  <div class="habit-cart-drag">
    <img class="habit-cart-drag-image">
  </div>
</div>