.hover-container {
  display: inline-block;
  position: relative;
  text-align: center;
}

.hover-text {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #fff;
  z-index: 1000;
}
