::ng-deep .custom-img-pop-up {
  .pdf-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .close-btn {
      margin-top: -10px;
      margin-bottom: 10px;
      width: 100%;
      justify-content: flex-end;
      color: var(--ubs-quintynary-light-grey);
      opacity: 0.7;
      display: flex;
      visibility: hidden;

      #clear:hover {
        cursor: pointer;
        color: var(--ubs-primary-red);
      }
    }

    #pdf-viewer {
      display: block;
      width: 55vw;
      height: 80vh;
      margin-right: 4px;
    }
  }
}

::ng-deep .custom-img-pop-up:hover {
  .close-btn {
    visibility: visible;
  }
}
