
$font-family-first: montserrat, sans-serif;

.profile-avatar {
  max-width: 88px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.default-avatar {
  background: linear-gradient(180deg, #abe64d 0%, #4b9b25 100%);
  font-family: $font-family-first;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  color: #fff;

  p {
    margin: 0;
  }
}

.big {
  border-radius: 100px;
  width: 148px;
  max-width: 148px;
  height: 148px;
  font-size: 48px;
}

.comments {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin-right: 24px;
  font-size: 24px;
}

.comments-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  font-size: 24px;
}

.friend-item{
  border-radius: 100px;
  width: 100px;
  max-width: 100px;
  height: 100px;
  font-size: 32px;
}

.friend-user-profile {
  width: 60px;
  height: 60px;
}

.center {
  margin: 0 auto;
}

@media (max-width: 320px) {
  .profile-avatar {
    margin: 0 auto;
  }

  .comments {
    display: none;
  }

  .comments-list {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}
