.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 231px;
  width: 100%;
  background-color: var(--primary-white);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  margin-bottom: 8px;
}

.text-wrapper {
  width: 456px;
  height: 231px;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type='file'] {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }
}

.centered {
  font-size: 1.3em;
  font-size: 18px;
  text-align: center;
  width: 250px;
  font-family: var(--primary-font);

  span {
    color: var(--primary-green);
    text-decoration: underline;
    cursor: pointer;
  }
}

.warning-color {
  color: red !important;
}

.warning-background {
  background-color: #fef1f2;
}

.warning {
  font-family: var(--primary-font);
  font-size: 12px;
  color: var(--secondary-grey);
  line-height: 16px;
}

.image-preview {
  display: flex;
  width: 100%;
  background-color: var(--primary-white);

  img {
    max-width: 100%;
  }
}

.cropper-block .cropper {
  max-height: 231px;
}

.cropper-buttons {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 20px;

  .s-btn {
    width: 154px;
  }
}

@media (max-width: 1439px) {
  .warning {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .dropzone {
    width: 482px;
  }
}

@media (max-width: 640px) {
  .text-wrapper {
    width: 100%;
  }

  .dropzone {
    width: 100%;
  }
}
