.sign-in {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sign-in input {
  width: 400px;
}

.submit {
  float: left;
}
.register{
  float: right;
}

.validation-error {
  color: red;
}
