.sign-in {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sign-in input {
  width: 400px;
}

.error, .validation-error {
  color: red;
}

