div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
}

.readonly_date {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.tool_tip {
  font-size: 20px !important;
}
