<div class="d-flex english-row">
  <div *ngIf="!deactivatePopup" class="english-hint">{{ 'ubs-tariffs-add-location-pop-up.english-hint' | translate }}</div>
</div>
<ng-template [ngTemplateOutlet]="row"> </ng-template>
<div class="d-flex">
  <p class="info">
    {{ 'ubs-tariffs-add-location-pop-up.date' | translate }} <span class="date">{{ newDate | titlecase }}</span>
  </p>
  <p class="info">
    {{ 'ubs-tariffs-add-location-pop-up.user' | translate }} <span class="user">{{ name }}</span>
  </p>
</div>
