<div class="wrapper">
  <div class="main_header">{{ 'user-orders.order-title' | translate }}</div>
  <div *ngIf="loading; else spinner">
    <div *ngIf="!orders || orders.length === 0" class="if_empty">
      <span>{{ 'user-orders.no-orders' | translate }}</span
      ><a href="#">{{ 'user-orders.make-order' | translate }}</a>
    </div>
    <div *ngIf="orders && orders.length !== 0" class="cards">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="{{ 'user-orders.current-orders' | translate }}">
          <app-ubs-user-orders-list [orders]="currentOrders"></app-ubs-user-orders-list>
        </mat-tab>
        <mat-tab label="{{ 'user-orders.order-history' | translate }}">
          <app-ubs-user-orders-list [orders]="orderHistory"></app-ubs-user-orders-list>
        </mat-tab>
      </mat-tab-group>
      <div class="empty"></div>
    </div>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</div>
