<div style="margin-bottom: 20px">
  <div class="validation-error" *ngIf="addressControl.invalid && (addressControl.dirty||addressControl.touched)">
    <div *ngIf="addressControl.errors.required">
      Address is required.
    </div>
    <div *ngIf="addressControl.errors.minlength">
      Address must be at least 3 characters long.
    </div>
    <div *ngIf="addressControl.errors.maxlength">
      Address must be maximum 60 characters long.
    </div>
  </div>
  <input type="text" id="address" name="address" class="form-control" [(ngModel)]="address" (change)="ev()"
         (keydown.enter)="$event.preventDefault()" minlength="3" maxlength="60"
         autocorrect="off" autocapitalize="off" spellcheck="off"  #search #addressControl="ngModel" required placeholder="Enter address">
  <br>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" >
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>

  <div>
  <div>Address: {{address}}</div>
  <div>Latitude: {{location.lat}}</div>
  <div>Longitude: {{location.lat}}</div>
  </div>
</div>
