.modal-window {
  border-radius: 4px;
  border: solid 1px rgba(46, 91, 255, 0.08);
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.4);
  background-color: #ffffff;
}

.add-goal-button {
  width: 292px !important;
  height: 48px !important;
  /*margin: 40px 15px 0 0px;*/
  font-family: 'Open Sans', serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  border-radius: 4px !important;
  box-shadow: 0 13px 20px 0 rgba(118, 196, 125, 0.41) !important;
  background-color: #13aa57 !important;
  border: 0;
  color: #ffffff;
}
