<div id="footer">
  <img id="path-6" [src]="path6" alt="bg-texture-6">
  <div id="footer-wrapper">
    <div id="footer-left">
      <div>
        <a routerLink="/welcome" pageScroll href="#header">
          <img [src]="logo" id="green-city-logo" alt="green-city-logo" />
        </a>
      </div>
      <div>
        <button class="button" [routerLink]="['habits']">
          {{ "homepage.general.button-start-habit" | translate }}
        </button>
      </div>
      <div id="download-app-icons">
        <img class="download-app-icon" [src]="appStore" alt="app-store-icon">
        <img class="download-app-icon" [src]="googlePlay" alt="google-play-icon">
      </div>
    </div>
    <div id="footer-right">
      <nav id="footer-nav">
        <h5>GreenCity</h5>
        <ul>
          <li>
            <a pageScroll href="#top-user-bar" [pageScrollDuration]="500">
              {{ "user.lower-nav-bar.home" | translate }}
            </a>
          </li>
          <li>
            <a pageScroll href="#events" [pageScrollDuration]="500">
              {{ "user.lower-nav-bar.eco-events" | translate }}
            </a>
          </li>
          <li>
            <a pageScroll href="#tips" [pageScrollDuration]="500">
              {{ "user.lower-nav-bar.tips" | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="['/map']" pageScroll href="#top-user-bar" [pageScrollDuration]="1">
              {{ "user.lower-nav-bar.map" | translate }}
            </a>
          </li>
          <li><a [routerLink]="['habits']">{{ "user.lower-nav-bar.my-habits" | translate }}</a></li>
          <li><a>{{ "user.lower-nav-bar.about-us" | translate }}</a></li>
        </ul>
      </nav>
      <div id="social-icons">
        <img [src]="iconTw" alt="twitter-icon" class="social-icon">
        <img [src]="iconFb" alt="facebook-icon" class="social-icon">
        <img [src]="iconLi" alt="linked-in-icon" class="social-icon">
      </div>
    </div>
  </div>
</div>
