<div id="footer">
  <img id="path-6" [src]="path6">
  <div id="footer-wrapper">
    <div id="footer-left">
      <div>
        <img [src]="logo">
      </div>
      <div>
        <button class="button">Почати формувати звичку!</button>
      </div>
      <div id="download-app-icons">
        <img class="download-app-icon" [src]="appStore">
        <img class="download-app-icon" [src]="googlePlay">
      </div>
    </div>
    <div id="footer-right">
      <nav id="footer-nav">
        <h5>GreenCity</h5>
        <ul>
          <li><a>Головна</a></li>
          <li><a>Еко-заходи</a></li>
          <li><a>Корисні поради</a></li>
          <li><a>Мапа</a></li>
          <li><a>Мій кабінет</a></li>
          <li><a>Про нас</a></li>
        </ul>
      </nav>
      <div id="social-icons">
        <img [src]="iconTw" alt="" class="social-icon">
        <img [src]="iconFb" alt="" class="social-icon">
        <img [src]="iconLi" alt="" class="social-icon">
      </div>
    </div>
  </div>
</div>