<div class="employees-column-names">
  <div class="head-item info">
    <div
      class="tooltip-wrapper"
      appCloseDropdown
      [class.opened]="isTooltipOpened"
      (clickOutSide)="isTooltipOpened = $event"
      (click)="isTooltipOpened = !isTooltipOpened"
    >
      <img class="tooltip-toggle" [src]="icons.info" alt="info" />
      <div class="info-tooltip">
        <span class="tooltip-heading">{{ 'employees.tooltip.title' | translate }}</span>
        <p class="tooltip-text">{{ 'employees.tooltip.text' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="head-item position">
    <span>{{ 'employees.position' | translate }}</span>
  </div>
  <div class="head-item position">
    <span>{{ 'employees.contacts' | translate }}</span>
  </div>
  <div class="head-item position">
    <span>{{ 'employees.region' | translate }}</span>
  </div>
  <div class="head-item position">
    <span>{{ 'employees.city' | translate }}</span>
  </div>
  <div class="head-item position">
    <span>{{ 'employees.courier' | translate }}</span>
  </div>
  <div class="head-item position">
    <span>{{ 'employees.state' | translate }}</span>
  </div>
</div>
<div
  class="scrolling"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <mat-accordion class="employees-cards" *ngIf="!isLoading">
    <div *ngFor="let employee of employees; let i = index">
      <mat-expansion-panel
        #panel
        (opened)="employee.expanded = true"
        (closed)="employee.expanded = false"
        [class.expanded]="employee.expanded"
        ngDefaultControl
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="photo">
              <img src="{{ employee.image }}" alt="employee photo" />
            </div>
            <div class="text">
              <span class="name">{{ employee.firstName }} {{ employee.lastName }}</span>
              <div class="positions">
                <ng-container *ngFor="let position of employee.employeePositions; let i = index">
                  <ng-container *ngIf="!employee.expanded; else allPositions">
                    <span class="link" *ngIf="employee.employeePositions.length > 2 && i <= 2">
                      {{ i < 2 ? getLangValue(position.name, position.nameEn) : getLangValue(position.name, position.nameEn) + '...' }}
                    </span>
                    <span class="link" *ngIf="employee.employeePositions.length <= 2">
                      {{ getLangValue(position.name, position.nameEn) }}
                    </span>
                  </ng-container>
                  <ng-template #allPositions>
                    <span class="link">{{ getLangValue(position.name, position.nameEn) }}</span>
                  </ng-template>
                </ng-container>
              </div>
            </div>

            <div class="description-item contacts" [class.expanded]="employee.expanded">
              <div class="description-sub-item phone">
                <img [src]="icons.phone" alt="phone" />&nbsp;
                <span class="description-item-text">{{ employee.phoneNumber }}</span>
              </div>
              <div class="description-sub-item email">
                <img [src]="icons.email" alt="email" />&nbsp;
                <span class="link">{{ employee.email }}</span>
              </div>
            </div>

            <div class="description-item receiving-station">
              <div class="description-sub-item description-item-text" *ngFor="let tariff of employee.tariffs; let i = index">
                <div>{{ getLangValue(tariff.region.nameUk, tariff.region.nameEn) }}</div>
                <div
                  *ngFor="let placeholder of tariff.locations.displayed.length - 1 | repeat"
                  class="region-placeholder"
                  style="height: 20px"
                ></div>
              </div>
            </div>
            <div class="description-item">
              <div class="description-sub-item description-item-text" *ngFor="let tariff of employee.tariffs; let i = index">
                <div *ngIf="!tariff.locations.additional.length; else moreThanThreeLocations" class="locations-list">
                  <div *ngFor="let location of tariff.locations.displayed">{{ getLangValue(location.nameUk, location.nameEn) }}</div>
                </div>
                <ng-template #moreThanThreeLocations>
                  <div class="locations-list">
                    <div>{{ getLangValue(tariff.locations.displayed[0].nameUk, tariff.locations.displayed[0].nameEn) }}</div>
                    <div>{{ getLangValue(tariff.locations.displayed[1].nameUk, tariff.locations.displayed[1].nameEn) }}</div>
                    <div style="color: #5639bb; text-decoration: underline" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
                      {{ getLangValue(tariff.locations.displayed[2].nameUk, tariff.locations.displayed[2].nameEn) }} and
                      {{ tariff.locations.additional.length }} more
                    </div>
                    <mat-menu class="more-locations-overlay" #menu="matMenu">
                      <div class="locations-list">
                        <div *ngFor="let location of tariff.locations.additional">{{ getLangValue(location.nameUk, location.nameEn) }}</div>
                      </div>
                    </mat-menu>
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="description-item">
              <div class="description-sub-item description-item-text" *ngFor="let tariff of employee.tariffs; let i = index">
                <div>{{ getLangValue(tariff.courier.nameUk, tariff.courier.nameEn) }}</div>
                <div *ngFor="let placeholder of tariff.locations.displayed.length - 1 | repeat" class="region-placeholder"></div>
              </div>
            </div>

            <div class="description-item">
              <div class="description-sub-item description-item-text">
                <div>
                  {{ (employee.employeeStatus === 'ACTIVE' ? 'employees.status.active' : 'employees.status.inactive') | translate }}
                </div>
              </div>
            </div>
            <span
              class="toggle-icon"
              *ngIf="!employee.expanded && userHasRights; else deleteIcon"
              [matMenuTriggerFor]="crumbs"
              (click)="$event.stopPropagation()"
            >
              <img [src]="icons.crumbs" alt="options" />
            </span>
            <div [ngClass]="employee.expanded ? 'toggle-icon-down' : 'toggle-icon-up'"></div>
            <mat-menu class="menu" #crumbs="matMenu">
              <button *ngIf="isThisUserCanEditEmployee" class="menu-item" (click)="openEditDialog(employee, $event)" mat-menu-item>
                <span class="menu-item-content">
                  <img class="menu-item-img" [src]="icons.edit" alt="edit" />
                  <span class="menu-item-action">{{ 'employees.actions.edit' | translate }}</span>
                </span>
              </button>
              <button
                class="menu-item"
                *ngIf="isThisUserCanEditEmployeeAuthorities"
                (click)="openPermissionsDialog(employee, $event)"
                mat-menu-item
              >
                <span class="menu-item-content">
                  <img class="menu-item-img" [src]="icons.settings" alt="edit" />
                  <span class="menu-item-action">{{ 'employees.actions.settings' | translate }}</span>
                </span>
              </button>
              <button class="menu-item" *ngIf="isThisUserCanDeleteEmployee" (click)="openDeleteDialog(employee, $event)" mat-menu-item>
                <span class="menu-item-content">
                  <img class="menu-item-img" [src]="icons.delete" alt="edit" />
                  <span class="menu-item-action">{{ 'employees.actions.delete' | translate }}</span>
                </span>
              </button>
            </mat-menu>
            <ng-template #deleteIcon>
              <span *ngIf="isThisUserCanDeleteEmployee" (click)="openDeleteDialog(employee, $event)">
                <img [src]="icons.delete" alt="delete" />
              </span>
            </ng-template>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="actions-row">
          <button
            *ngIf="isThisUserCanEditEmployeeAuthorities"
            class="btn actions-btn options"
            (click)="openPermissionsDialog(employee, $event)"
          >
            <img [src]="icons.settings" alt="settings" />
            <span>{{ 'employees.settings' | translate }}</span>
          </button>
          <button *ngIf="isThisUserCanEditEmployee" class="btn actions-btn edit" (click)="openEditDialog(employee, $event)">
            <img [src]="icons.edit" alt="edit" />
            <span>{{ 'employees.edit' | translate }}</span>
          </button>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
  <app-spinner *ngIf="isLoading || isUpdateTable"></app-spinner>
</div>
