::ng-deep .more-locations-overlay {
  padding: 8px 16px;
  color: var(--quaternary-dark-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  min-height: unset !important;

  .locations-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  flex: 100%;
}

.mat-header-cell {
  background-color: var(--ubs-primary-grey);
  color: var(--ubs-primary-white);
  font-family: var(--primary-font);
  border: 1px solid var(--ubs-primary-light-grey);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  min-height: 39px;
  min-width: 200px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.scrolling {
  height: calc(100vh - 350px);
  overflow: auto;
  padding-bottom: 20px;
}

.drop {
  cursor: pointer;
}

.table {
  border-collapse: collapse;

  th {
    border: 0;
    padding: 0;
  }

  .name {
    cursor: pointer;
  }
}

.mat-row {
  min-height: 110px;
}

.check {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 10000 !important;
}

.mat-form-field {
  width: 100%;
}

.mat-cell {
  border: thin solid var(--ubs-primary-light-grey);
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ubs-primary-grey);
  font-size: 14px;
  font-family: var(--primary-font);
  min-width: 200px;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.mat-header-row {
  min-height: 39px !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: nowrap !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: var(--primary-green) !important;
}

::ng-deep.mat-form-field-underline {
  background-color: var(--primary-grey) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--primary-grey) !important;
}

::ng-deep {
  .mat-menu-panel {
    max-width: unset !important;

    .mat-menu-content {
      &:not(:empty) {
        padding: 0 !important;

        .menu-item {
          height: 56px !important;

          .menu-item-content {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;

            .menu-item-action {
              font-family: var(--primary-font);
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: var(--ubs-primary-grey);
            }

            .menu-item-img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

.employees-column-names {
  display: grid;
  grid-template-columns: 94px 1fr 1.5fr 1fr 1fr 1fr 1fr 98px;
  margin-bottom: 8px;
  height: 24px;
  border-bottom: 1px solid var(--ubs-primary-light-grey);

  .head-item {
    display: flex;
    align-items: center;
    position: relative;

    .tooltip-wrapper {
      margin-right: 84px;

      .tooltip-toggle {
        cursor: pointer;
        width: 16px;
        height: 16px;
      }

      .info-tooltip {
        opacity: 0;
        width: 218px;
        position: absolute;
        top: 12px;
        left: 10px;
        background-color: #fff;
        font-family: var(--primary-font);
        font-size: 6px;
        font-weight: 400;
        padding: 6px;
        transition: 0.2s;
        box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);
        z-index: -1;

        .tooltip-heading {
          font-weight: 400;
          font-size: 15px;
        }

        .tooltip-text {
          font-style: normal;
          font-weight: 300;
          font-size: 10px;
          line-height: 140%;
          color: #1d2830;
          margin-bottom: 0;
        }
      }

      &.opened {
        .info-tooltip {
          opacity: 1;
          z-index: 2;
        }
      }
    }

    span {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: var(--ubs-secondary-grey);
    }
  }

  .filter-btn {
    text-align: center;
    height: 36px;
    width: 141px;
    margin: 0 5px;
    border: 1px solid var(--ubs-quaternary-dark-grey);
    border-radius: 4px !important;
    background-color: var(--ubs-secondary-white);
  }
}

.employees-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .mat-expansion-panel {
    box-shadow: 1px 4px 8px rgba(100, 114, 125, 0.18);

    ::ng-deep {
      .mat-expansion-panel-body {
        padding: 18px 38px !important;
      }
    }

    &.mat-expansion-panel-spacing {
      margin: 0;
    }

    span {
      font-family: var(--primary-font);
      color: var(--ubs-primary-grey);
      font-size: 14px;
      line-height: 20px;

      &.link {
        color: var(--ubs-dark-purple);
      }

      &.location {
        color: var(--ubs-accent-purple);
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.1px;
      }
    }

    .mat-expansion-panel-header {
      height: unset !important;
      padding: 0 18px;

      &:hover {
        background-color: unset !important;
      }

      ::ng-deep .mat-content {
        display: block !important;
        margin: 16px 0 !important;
      }

      .mat-expansion-panel-header-title {
        width: 100%;
        font-family: var(--primary-font);
        display: grid;
        grid-template-columns: 80px 1fr 1.5fr 1fr 1fr 1fr 1fr 36px 36px;

        .photo {
          flex: none;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: #9ca7b0;
          overflow: hidden;

          img {
            object-fit: cover;
            width: 100%;
          }
        }

        .text {
          .positions {
            display: flex;
            flex-direction: column;

            .position {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: var(--ubs-dark-purple);
              margin-bottom: 4px;
            }
          }

          .name {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.001em;
            color: var(--ubs-freinacht-black);
            margin-bottom: 4px;
          }
        }

        .description-item {
          display: flex;
          flex-direction: column;
          gap: 4px;
          max-height: 73px;

          .locations-list {
            display: flex;
            flex-direction: column;
          }

          .description-item-text {
            color: var(--quaternary-dark-grey);
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            margin-bottom: 4px;
          }
        }
      }

      .toggle-icon {
        height: 46px;
      }

      .toggle-icon,
      .delete-icon {
        cursor: pointer;
      }
    }

    &.expanded {
      .mat-expansion-panel-header {
        height: unset !important;
      }
    }

    .actions-row {
      display: flex;
      justify-content: flex-end;
      gap: 36px;
      margin-top: 32px;

      .actions-btn {
        height: 36px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        border: 1px solid var(--ubs-primary-grey);
        color: var(--quaternary-dark-grey);

        &.options {
          width: 203px;
        }

        &.edit {
          width: 179px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  ::ng-deep {
    .mat-content {
      flex-direction: column !important;
    }
  }

  .employees-column-names {
    .head-item {
      &.info {
        margin-left: 10px;
      }

      span {
        display: none;
      }
    }
  }

  .employees-cards {
    .mat-expansion-panel {
      .mat-expansion-panel-header {
        height: unset !important;

        .mat-expansion-panel-header-description {
          flex-direction: column;
          margin-left: 80px;
        }

        .toggle-icon,
        .delete-icon {
          position: absolute;
          right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .mat-expansion-panel {
    .actions-row {
      gap: 14px !important;
      margin-top: 0 !important;
      flex-direction: column;

      .actions-btn {
        width: 100% !important;
      }
    }
  }
}

.toggle-icon-up,
.toggle-icon-down {
  width: 17px;
  height: 17px;
  margin-top: 7px;
  background-repeat: no-repeat;
}

.toggle-icon-up {
  background-image: url('src/assets/img/ubs-admin-employees/arrow-up.svg');
}

.toggle-icon-down {
  background-image: url('src/assets/img/ubs-admin-employees/arrow-down.svg');
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.75;
}

.region-placeholder {
  height: 20px;
}
