<div class="header-position eco-places-content">
    <div class="header">My eco places <span>{{ ecoPlaces?.length }}</span></div>
    <a class="btn-see-all">See all</a>
</div>
<div class="eco-places-content" *ngIf="ecoPlaces; else loading">
    <div *ngIf="ecoPlaces.length; else unset;">
        <ul class="eco-place-list">
            <li class="item" *ngFor="let ecoPlace of ecoPlaces">{{ ecoPlace.name }}</li>
        </ul>
    </div>
</div>
<ng-template #unset>
    <p>You have no favourite Eco Places</p>
</ng-template>
<ng-template #loading>
    <mat-spinner color="grey" diameter="70" class="loading"></mat-spinner>
</ng-template>