<div class="eco-places-content">
    <div class="header-position">
        <div class="header">
            {{ 'profile.my-eco-places' | translate }}<span>{{ ecoPlaces?.length }}</span>
        </div>
        <a class="btn-see-all">{{ 'profile.see-all' | translate }}</a>
    </div>
    <div *ngIf="ecoPlaces; else loading">
        <div *ngIf="ecoPlaces.length; else unset;">
            <ul class="eco-place-list">
                <li class="item" *ngFor="let ecoPlace of ecoPlaces">{{ ecoPlace.name }}</li>
            </ul>
        </div>
    </div>
</div>
<ng-template #unset>
    <p class="noEcoPlaces">{{ 'profile.no-eco-places' | translate }}</p>
</ng-template>
<ng-template #loading>
    <mat-spinner 
        color="grey" 
        diameter="70" 
        class="loading"
    ></mat-spinner>
</ng-template>