<div class="main-card-container">
  <div class="card-container">
    <div class="employee-info">
      <div *ngIf="data.image">
        <img [src]="data.image" alt="photo of an employee" />
      </div>
      <div>
        <div>
          <p class="h7">{{ data.firstName }} {{ data.lastName }}</p>
          <p class="body-2">{{ data.phoneNumber }}</p>
          <p class="body-2">{{ data.email }}</p>
        </div>
      </div>
    </div>
    <div class="role">
      <div *ngFor="let role of data.employeePositions">
        <p class="body-2 tag">{{ role.name }}</p>
      </div>
    </div>
    <div class="location">
      <div *ngFor="let location of data.receivingStations">
        <p class="body-2 tag">{{ location.name }}</p>
      </div>
    </div>
    <span class="card-menu">
      <mat-icon [matMenuTriggerFor]="menu" class="card-menu-button">more_horiz</mat-icon>
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openModal()">
        <mat-icon>edit</mat-icon>
        <span class="body-1">{{ 'employees.btn.edit' | translate }}</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span class="body-1">{{ 'employees.btn.delete' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</div>
