.cta-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  border: none;
  background-color: #fff;
  padding: 0;
  outline: none;

  .btn-text {
    margin-right: 5px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    color: var(--seventh-font-color);
    mix-blend-mode: normal;
    white-space: nowrap;
  }
}

.view {
  width: 140px;
  height: 40px;
}
