@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$main-font: 'Open Sans', sans-serif;

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  border: none;
  background-color: #fff;
  padding: 0;
  outline: none;

  .btn-text {
    margin-right: 5px;
    font-family: $main-font;
    font-size: 16px;
    line-height: 24px;
    color: #878787;
    mix-blend-mode: normal;
  }
}

.view {
  width: 140px;
  height: 40px;
}
