<div *ngIf="!isLoading" class="container">
  <div class="row justify-content-end close-icon">
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </div>
  <div *ngIf="!viewMode" class="row mb-4">
    <h3>{{ 'add-violation-modal.add-violation' | translate }}</h3>
  </div>
  <div *ngIf="viewMode" class="row mb-3 view-header">
    <h3>{{ 'add-violation-modal.violation' | translate }}</h3>
    <span>{{ 'add-violation-modal.order' | translate }} №{{ orderId }}</span>
  </div>
  <div class="row justify-content-end edit-violation">
    <button *ngIf="viewMode" class="edit-violation-btn" [disabled]="editMode" (click)="editViolation()">
      <mat-icon class="mat-icon">edit</mat-icon>
      <div class="edit-violation-btn-text">{{ 'add-violation-modal.edit' | translate }}</div>
    </button>
  </div>
  <div class="row mb-3">
    <h6>{{ 'add-violation-modal.level-of-violation' | translate }}</h6>
  </div>
  <form [formGroup]="addViolationForm">
    <div class="row custom-control custom-radio mb-2">
      <input class="radio" name="violationLevel" type="radio" value="LOW" formControlName="violationLevel" />
      <label class="label-y">{{ 'add-violation-modal.easy-violation' | translate }}</label>
    </div>
    <div class="row custom-control custom-radio mb-3">
      <input class="radio" name="violationLevel" type="radio" value="MAJOR" formControlName="violationLevel" />
      <label class="label-p">{{ 'add-violation-modal.serious-violation' | translate }}</label>
    </div>
    <div class="row mb-3">
      <h6 *ngIf="!viewMode">{{ 'add-violation-modal.description' | translate }}</h6>
      <h6 *ngIf="viewMode">{{ 'add-violation-modal.violation-details' | translate }}</h6>
    </div>
    <div class="row mb-3">
      <textarea
        class="description"
        placeholder="{{ 'add-violation-modal.placeholder' | translate }}"
        formControlName="violationDescription"
      ></textarea>
      <div class="row error-message" *ngIf="addViolationForm.invalid && addViolationForm.get('violationDescription').touched">
        <p>{{ 'add-violation-modal.description-error-message' | translate }}</p>
      </div>
    </div>
  </form>
  <div class="row mb-1">
    <h6>{{ 'add-violation-modal.label-for-photo-container' | translate }}</h6>
  </div>
  <div *ngIf="!viewMode" class="row mb-3">
    <span class="requirement">{{ 'add-violation-modal.requirement' | translate }}</span>
  </div>
  <div class="row" *ngIf="viewMode && !editMode; else addEditMode">
    <div class="image-container" *ngFor="let img of images">
      <img class="image-preview" [src]="img.src" alt="image-of-violation" (click)="openImg(img)" />
    </div>
  </div>
  <ng-template #addEditMode>
    <div class="row">
      <div class="image-container" appDrag (files)="onFilesDropped($event)" *ngFor="let img of images">
        <img class="image-preview" [src]="img.src" alt="image-of-violation" (click)="openImg(img)" />
        <div class="delete-block">
          <div>{{ img.name | maxImageName: 12 }}</div>
          <div class="delete-image-button" (click)="deleteImage(img)">X</div>
        </div>
      </div>
      <div
        class="image-container"
        appDrag
        (files)="onFilesDropped($event)"
        *ngFor="let placeholder of maxNumberOfImgs - images.length | repeat; index as idx"
      >
        <p class="drag-inscription" *ngIf="!idx">{{ 'add-violation-modal.drag-photo' | translate }}</p>
      </div>
    </div>
  </ng-template>
  <div class="row error-message" *ngIf="isImageSizeError">
    <p class="error-message-file-size">{{ 'add-violation-modal.error-message-for-size' | translate }}</p>
  </div>

  <div class="row error-message" *ngIf="isImageTypeError">
    <p class="error-message-file-type">{{ 'add-violation-modal.error-message-for-type' | translate }}</p>
  </div>
  <div class="row mb-5 label-g" [class.invisible]="viewMode && !editMode">
    <label
      for="file-upload"
      class="custom-file-upload"
      [ngClass]="{ disabled: (viewMode && !editMode) || images.length >= maxNumberOfImgs }"
    >
      {{ 'add-violation-modal.file-upload' | translate }}
    </label>
    <input
      #takeInput
      id="file-upload"
      class="d-none"
      [disabled]="(viewMode && !editMode) || images.length >= maxNumberOfImgs"
      type="file"
      multiple
      accept="image/png,image/jpeg"
      (change)="onFilesSelected($event)"
    />
  </div>
  <div class="row justify-content-end mb-5">
    <button *ngIf="viewMode && !editMode" class="delete-violation" [disabled]="isDeleting" (click)="deleteViolation()">
      <img *ngIf="!isDeleting" src="assets/img/icon/bin.svg" alt="delete-icon" class="delete-icon" />
      <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
      {{ 'add-violation-modal.delete-button' | translate }}
    </button>
    <button class="cancelButton" [disabled]="viewMode && !editMode" [ngClass]="{ disabled: viewMode && !editMode }" (click)="closeDialog()">
      {{ 'add-violation-modal.cancel-button' | translate }}
    </button>
    <button
      class="addButton"
      [disabled]="!addViolationForm.valid || isUploading || (editMode && !(isInitialImageDataChanged || isInitialDataChanged))"
      (click)="send()"
    >
      <span *ngIf="isUploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
      {{ (viewMode || editMode ? 'add-violation-modal.save' : 'add-violation-modal.add-button') | translate }}
    </button>
  </div>
  <div class="row">
    <p class="info">
      {{ 'add-violation-modal.date' | translate }} <span class="date">{{ date | date: 'dd.MM.y' }}</span>
    </p>
    <p class="info">
      {{ 'add-violation-modal.info-about-date' | translate }} <span class="user">{{ name }}</span>
    </p>
  </div>
</div>
<div *ngIf="isLoading && viewMode" class="spinner">
  <app-spinner></app-spinner>
</div>
