<div id="list-gallery-content">
  <div class="list-image">
    <img class="list-image-content" src="../../../../../../assets/img/tamplate-image-list.png" alt="user added image" />
  </div>
  <div class="added-data">
    <div class="filter-tag">
      <p class="ul-eco-buttons">{{ tag }}</p>
    </div>
    <div class="title-list">
      <p>
        {{ title | slice: 0:70 }}
      </p>
    </div>
    <div class="list-text">
      <p>
        {{ text | slice: 0:200 }}
      </p>
    </div>
    <div class="user-data-added-news">
      <p class="user-data-text-date-share">
        <img class="icon" [src]="profileIcon" alt="user icon" />{{ name }}
      </p>
      <p class="user-data-text-date-share">
        <img class="icon" [src]="calendarIcon" alt="calendar icon" />{{ creationDate }}
      </p>
      <a class="user-data-text-date-share"><img class="icon" [src]="shareIcon" alt="Share button" />Share</a>
    </div>
  </div>
</div>