<div class="main">
  <form class="form_styles" [formGroup]="ordersForm">
    <div class="form" formGroupName="exportDetailsDto">
      <div class="form-row">
        <div class="form-group export-date row-md-4">
          <label class="form__label" for="export-date">{{ 'export-details.export-date' | translate }}</label>
          <input type="date" class="form-control" id="export-date" formControlName="dateExport" />
        </div>
        <div class="time_export">
          <div class="form-group">
            <label class="form__label" for="export-time-from">{{ 'export-details.export-time' | translate }}</label>
            <input
              autocomplete="off"
              placeholder="- -"
              class="form-control time-from"
              id="export-time-from"
              formControlName="timeDeliveryFrom"
              (click)="setExportTime()"
            />
          </div>
          <span class="hyphen">-</span>
          <div class="form-group">
            <label class="form__label" for="export-time-to"></label>
            <input
              autocomplete="off"
              placeholder="- -"
              class="form-control time-to"
              id="export-time-to"
              formControlName="timeDeliveryTo"
              (click)="setExportTime()"
            />
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="form__label" for="station">{{ 'export-details.station' | translate }}</label>
          <select formControlName="receivingStation" class="form-control" id="station">
            <!-- <option *ngFor="let station of exportInfo.allReceivingStations" [value]="station"> -->
            <!-- {{ station }} -->
            <!-- </option> -->
          </select>
        </div>
      </div>
    </div>
    <div class="form" formGroupName="responsiblePerson">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="form__label">{{ 'responsible-persons.call-manager' | translate }}</label>
          <select formControlName="callManager" class="form-control form__select">
            <!-- <option *ngFor="let employee of allCallManagers" [value]="employee">
            {{ employee }}
          </option> -->
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="form__label">{{ 'responsible-persons.logistician' | translate }}</label>
          <select formControlName="logistician" class="form-control form__select">
            <!-- <option *ngFor="let employee of allLogisticians" [value]="employee">
            {{ employee }}
          </option> -->
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="form__label">{{ 'responsible-persons.navigator' | translate }}</label>
          <select formControlName="navigator" class="form-control form__select">
            <!-- <option *ngFor="let employee of allNavigators" [value]="employee">
            {{ employee }}
          </option> -->
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="form__label">{{ 'responsible-persons.driver' | translate }}</label>
          <select formControlName="driver" class="form-control form__select">
            <!-- <option *ngFor="let employee of allDrivers" [value]="employee">
            {{ employee }}
          </option> -->
          </select>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="showTimePicker" class="dropdown_time">
    <div class="set_time_container">
      <h3>{{ 'order-edit.title' | translate }}</h3>
      <div class="set_time_select">
        <div class="select_from_wr">
          <span>{{ 'order-edit.export-time.from' | translate }}</span>
          <select class="select" (change)="onTimeFromChange()" [(ngModel)]="fromInput">
            <option value="" selected hidden></option>
            <option *ngFor="let timeFrom of fromSelect" [value]="timeFrom">
              {{ timeFrom }}
            </option>
          </select>
        </div>
        <div class="select_to_wr">
          <span>{{ 'order-edit.export-time.to' | translate }}</span>
          <select class="select" (change)="onTimeToChange()" [(ngModel)]="toInput">
            <option value="" selected hidden></option>
            <option *ngFor="let timeTo of toSelect; let i = index" [id]="timeTo" [value]="timeTo">
              {{ timeTo }}
            </option>
          </select>
        </div>
      </div>
      <div class="edit_time_btns">
        <button (click)="cancel()" class="cancel">{{ 'order-edit.btn.cancel' | translate }}</button>
        <button (click)="$event.preventDefault(); save()" class="save">OK</button>
      </div>
    </div>
  </div>
</div>
