@import 'src/app/chat/chat-styles-reset';

.chat-popup {
  @include flex(column, flex-start, center);

  position: fixed;
  bottom: 135px;
  right: 120px;
  background: var(--primary-white);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 300px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  max-height: 650px;
  z-index: 1000;
  
  &.closed {
    @include flex(column, flex-start, center);

    position: fixed;
    bottom: 135px;
    right: 120px;
    background: var(--primary-white);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 300px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
    max-height: 650px;
    z-index: 1000;
    display: none;
  }
}

.popup-top-panel {
  @include flex(row, space-between, center);

  width: 100%;
  padding: 7px 10px;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: var(--primary-white) solid 0.5px;
  background: var(--quaternary-dark-grey);

  .chat-popup.opened &::after {
    top: 100%;
    width: 10%;
    transform: translate(-50%, -100%);
  }
}

.panel-account {
  @include flex(row, flex-start, center);

  column-gap: 10px;
  width: 100%;

  > img {
    cursor: default;
  }
}

.panel-account-title {
  font-size: 14px;
  color: var(--primary-white);
  font-family: var(--primary-font);
}

.panel-buttons {
  @include flex(row, space-between, center);

  column-gap: 10px;
  cursor: default;
}

.panel-button {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 5px;
  box-sizing: content-box;
  transition: background 0.2s linear;
  border: none;
  background: none;
  cursor: pointer;

  @include flex(row, center, center);

  &:hover {
    background: var(--quaternary-grey);
  }

  > img {
    height: 20px;
    width: 20px;
  }
}
