<div class="chat-popup" [class.closed]="isChatPopupOpen">
  <div class="popup-top-panel">
    <div class="panel-account">
      <span class="panel-account-title">Messages</span>
    </div>

    <div class="panel-buttons">
      <button class="panel-button">
        <img [src]="chatIcons.chat" (click)="openChatModal()" alt="open chat" title="Open chat" />
      </button>
    </div>
  </div>
  <app-chats-list [isPopup]="true" (createNewMessageWindow)="openNewMessageWindow(false)"></app-chats-list>
</div>

<div class="new-msg-container" *appReferenceDirective></div>
