<div class="chat-popup" [class.opened]="isOpen">
  <div class="popup-top-panel">
    <div class="panel-account" (click)="isOpen = !isOpen">
      <img [src]="chatIcons.userLogo" alt="user logo" />
      <span class="panel-account-title">Messages</span>
    </div>

    <div class="panel-buttons">
      <button class="panel-button">
        <img [src]="chatIcons.threeDots" alt="options" title="Options" />
      </button>
      <button class="panel-button" (click)="openNewMessageWindow(true)">
        <img [src]="chatIcons.newMessage" alt="new message" title="New message" />
      </button>
      <button class="panel-button">
        <img [src]="chatIcons.chat" (click)="openChatModal()" alt="open chat" title="Open chat" />
      </button>
    </div>
  </div>
  <app-chats-list (createNewMessageWindow)="openNewMessageWindow(false)"></app-chats-list>
</div>

<div class="new-msg-container" *appReferenceDirective></div>
