<h2>{{ 'employees.add-employee' | translate }}</h2>
<form [formGroup]="employeeForm" (ngSubmit)="submit()">
  <div class="form-group">
    <h6>{{ 'employees.required-fields' | translate }}</h6>
  </div>
  <div class="form-group">
    <label for="name">{{ 'employees.name' | translate }}</label>
    <input formControlName="firstName" placeholder="{{ 'employees.name-placeholder' | translate }}" />
  </div>
  <div class="form-group">
    <label>{{ 'employees.surname' | translate }}</label>
    <input formControlName="lastName" placeholder="{{ 'employees.surname-placeholder' | translate }}" />
  </div>
  <div class="form-group">
    <label>{{ 'employees.phone-number' | translate }}</label>
    <input formControlName="phoneNumber" placeholder="+380" />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input formControlName="email" />
  </div>
  <label>{{ 'employees.position' | translate }}</label>
  <div class="checkbox-section-role">
    <div *ngFor="let role of roles">
      <label class="checkbox-label"
        >{{ role.name }}<input class="checkbox-input" type="checkbox" (change)="onCheckChangeRole({ id: role.id, name: role.name })"
      /></label>
    </div>
  </div>
  <label>{{ 'employees.receiving-station' | translate }}</label>
  <div class="checkbox-section-stantion">
    <div *ngFor="let location of locations">
      <label class="checkbox-label-station"
        >{{ location.name
        }}<input class="checkbox-input" type="checkbox" (change)="onCheckChangeLocation({ id: location.id, name: location.name })"
      /></label>
    </div>
  </div>
  <label class="photo-label">{{ 'employees.photo' | translate }}</label>
  <div class="custom-file-upload">
    <div *ngIf="filePath && filePath !== ''">
      <img [src]="filePath" [alt]="employeeForm.value.name" />
    </div>
    <input formControlName="image" class="upload-file" type="file" accept="image/*" (change)="imagePreview($event)" #fileUpload />
    <div class="image-name" *ngIf="uploaded">
      <p class="img-text">{{ this.selectedFile.name }}</p>
      <button class="reset-image" (click)="fileUpload.click()">
        <img src="../../../../../assets/ubs-employee-form/dismiss.svg" alt="dismiss button" />
      </button>
    </div>
    <div class="upload-text" *ngIf="!uploaded">
      {{ 'employees.drag-photo' | translate }} <a (click)="fileUpload.click()">{{ 'employees.download-photo' | translate }}</a>
    </div>
  </div>
  <div class="button-row">
    <button mat-dialog-close class="cancelButton">{{ 'employees.btn.cancel' | translate }}</button>
    <button type="submit" class="addButton">{{ 'employees.btn.add' | translate }}</button>
  </div>
</form>
