<h1>Додати працівника</h1>
<form>
  <div class="form-group">
    <h6>*Обов'язкові поля</h6>
  </div>
  <div class="form-group">
    <label class="data-label">Ім'я*</label>
    <input placeholder="Placeholder" />
  </div>
  <div class="form-group">
    <label>Прізвище*</label>
    <input placeholder="Placeholder" />
  </div>
  <div class="form-group">
    <label>Номер телефону*</label>
    <input placeholder="+380" />
  </div>
  <div class="form-group">
    <label>Email*</label>
    <input placeholder="" />
  </div>
  <label>Посада*</label>
  <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
    <mat-chip class="example-box" cdkDrag *ngFor="let position of positions">
      {{ position }}
    </mat-chip>
  </mat-chip-list>
  <label>Станція приймання*</label>
  <mat-chip-list class="stantion-chip" cdkDropList cdkDropListOrientation="horizontal">
    <mat-chip [ngStyle]="{ color: '#513be4', border: '1px solid #513be4' }" cdkDrag *ngFor="let stantion of stantions">
      {{ stantion }}
    </mat-chip>
  </mat-chip-list>
  <label class="photo-label">Фото</label>
  <label class="custom-file-upload">
    <div *ngIf="filePath && filePath !== ''">
      <img [src]="filePath" [alt]="employeeForm.value.name" />
    </div>
    <input class="upload-file" type="file" accept="image/*" (change)="imagePreview($event)" />
    <div class="upload-text" *ngIf="!uploaded">Перетягніть зображення, або <a>завантажте з пристрою</a></div>
  </label>
  <div class="button-row">
    <button mat-stroked-button color="#13aa57">Скасувати</button>
    <button mat-raised-button color="#13aa57">Додати</button>
  </div>
</form>
