h1 {
  font-size: 18px;
  position: absolute;
  top: 24px;
  left: 137px;
  line-height: 28px;
  font-family: var(--primary-font);
  letter-spacing: 0.2px;
}
h6 {
  height: 16px;
  left: 0px;
  top: 0px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  color: #444e55;
  font-family: var(--primary-font);
}
form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;
  width: 328px;
  height: 774px;
  left: 56px;
  top: 42px;
}
.mat-chip.mat-standard-chip {
  color: var(--ubs-secondary-dark-green);
  border: 1px solid var(--ubs-secondary-dark-green);
  border-radius: 6px;
  background-color: var(--pre-secondary-light-grey);
}
mat-chip-list {
  margin: 16px 0;
}
.button-row {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 232px;
  height: 36px;
  left: 176px;
  top: 738px;
}
.mat-raised-button {
  background-color: var(--ubs-primary-green);
  color: var(--ubs-primary-white);
  height: 36px;
  width: 99px;
}
.mat-stroked-button {
  background-color: var(--ubs-primary-white);
  color: var(--ubs-primary-green);
  height: 36px;
  width: 99px;
}
input {
  width: 328px;
  height: 36px;
  top: 20px;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--primary-white);
}
label {
  line-height: 24px;
  size: 16px;
  font-family: var(--primary-font);
  font-style: normal;
  color: var(--quaternary-grey);
}
.stantion-box {
  color: var(--ubs-tertiary-dark-grey);
}
img {
  width: 132px;
  height: 108px;
  left: 56px;
  top: 640px;
  border: 1px dashed var(--quintynary-light-grey);
  box-sizing: border-box;
  border-radius: 4px;
}
.custom-file-upload {
  position: absolute;
  width: 132px;
  height: 108px;
  top: 640px;
  background-color: var(--ubs-primary-white);
  border: 1px dashed var(--quintynary-light-grey);
  border-radius: 4px;
  a {
    color: var(--ubs-primary-green);
  }
  .upload-text {
    position: absolute;
    width: 98.28px;
    height: 49px;
    left: 17px;
    top: 32px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
}
.upload-file {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.photo-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  position: absolute;
  top: 604px;
}
