<div class="wrapper">
  <app-remaining-count [remainingCount]="remaining"></app-remaining-count>
  <app-change-view-button (view)="chageView($event)"></app-change-view-button>
</div>

<div>
  <ul class="list" [ngClass]="{ 'gallery-view-active': view }">
    <li [ngClass]="{
        'gallery-view-li-active': view,
        'list-view-li-active': !view
      }" *ngFor="let data of elements|filterEcoNews:gridOutput">
      <app-news-list-gallery-view *ngIf="view" [id]="data.id" [imagePath]="data.imagePath" [tag]="data.tag"
        [title]="data.title" [name]="data.name" [text]="data.text" [creationDate]="data.creationDate">
      </app-news-list-gallery-view>
      <app-news-list-list-view *ngIf="!view" [id]="data.id" [imagePath]="data.imagePath" [tag]="data.tag"
        [title]="data.title" [name]="data.name" [text]="data.text" [creationDate]="data.creationDate">
      </app-news-list-list-view>
    </li>
  </ul>
</div>

<div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="500" (scrolled)="onScroll()"></div>