<form
  class="main-wrapper"
  [formGroup]="addCommentForm"
  [ngClass]="!commentId ? 'wrapper-comment' : 'wrapper-reply'"
  (ngSubmit)="onSubmit()"
>
  <div class="user-image">
    <app-user-profile-image [imgPath]="avatarImage" [firstName]="firstName" [additionalImgClass]="'comments'"> </app-user-profile-image>
  </div>
  <div class="input-submit" *ngIf="!commentId; else reply">
    <textarea
      class="comment-width"
      placeholder="{{ 'homepage.eco-news.comment.placeholder.add-a-comment' | translate }}"
      formControlName="content"
    ></textarea>
    <button class="primary-global-button" [disabled]="!addCommentForm.valid">
      {{ 'homepage.eco-news.comment.comment' | translate }}
    </button>
  </div>
  <ng-template #reply>
    <div class="input-submit">
      <div class="textarea-wrapper">
        <textarea
          class="reply-width"
          placeholder="{{ 'homepage.eco-news.comment.placeholder.add-a-reply' | translate }}"
          formControlName="content"
          [ngClass]="{ invalid: addCommentForm.controls['content'].errors?.maxlength }"
        ></textarea>
        <p *ngIf="addCommentForm.controls['content'].errors?.maxlength" class="error-message">
          {{ 'homepage.eco-news.comment.reply-error-message' | translate }}
        </p>
      </div>

      <button class="primary-global-button primary-global-button__reply" [disabled]="!addCommentForm.valid">
        {{ 'homepage.eco-news.comment.reply' | translate }}
      </button>
    </div>
  </ng-template>
</form>
