.main-wrapper {
  display: flex;
  margin: auto;
  justify-content: space-between;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 24px;
  }

  #comment-user-image {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 24px;
  }

  .user-image {
    display: block;
  }

  .input-submit {
    display: flex;
    width: 100%;

    .textarea-wrapper {
      width: 100%;
    }

    .user-image {
      display: none;
    }
  }

  @media screen and (max-width: 575px) {
    .user-image {
      display: none;
    }
  }

  .error-message {
    color: var(--ubs-primary-red);
    font-size: 14px;
    font-weight: 400;
    min-height: 14px;
    margin-top: -5px;
  }
}

.wrapper-reply {
  margin: 32px 0 32px 32px;
}

@media screen and (max-width: 575px) {
  .wrapper-reply {
    .input-submit {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper-reply,
  .wrapper-comment {
    .input-submit {
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }

  .wrapper-comment {
    img {
      display: none;
    }

    .input-submit {
      textarea {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  .wrapper-reply {
    .input-submit {
      button {
        width: 100%;
        margin: 0;
      }
    }
  }
}

textarea {
  width: 100%;
  height: 72px;
  overflow: hidden;
  resize: none;
  padding: 10px 0 0 20px;
  border: 1px solid var(--secondary-grey);
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: var(--secondary-grey);
  }

  &:focus {
    border: 2px solid var(--primary-green);
  }

  &.invalid {
    border: 2px solid var(--error-red);
  }
}

button {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  margin: 16px 0;
}

@media screen and (min-width: 576px) {
  button {
    width: 157px;
  }

  .wrapper-reply {
    width: 468px;
    margin: 32px 0 32px auto;
  }

  .wrapper-comment {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  button {
    margin-top: 0;
    margin-left: 16px;
  }

  .comment-width {
    width: 475px;
  }

  .wrapper-reply {
    width: 666px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .input-submit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (min-width: 992px) {
  .main-wrapper {
    justify-content: center;
  }

  .primary-global-button__reply {
    width: 100%;
  }

  .wrapper-comment {
    width: 792px;
  }

  .comment-width {
    width: 547px;
  }

  .reply-width {
    width: 509px;
  }

  .wrapper-reply {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-comment {
    width: 750px;
  }

  .comment-width {
    width: 505px;
  }

  .reply-width {
    width: 467px;
  }

  .wrapper-reply {
    width: 678px;
  }
}
