.main-wrapper {
  display: flex;
  margin: auto;
  justify-content: space-between;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 24px;
  }

  #comment-user-image {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 24px;
  }

  .input-submit {
    display: flex;
    width: 100%;

    .textarea-wrapper {
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 72px;
      overflow: hidden;
      resize: none;
      padding: 10px 0 0 20px;
      border: 1px solid var(--secondary-grey);
      border-radius: 5px;
      outline: none;

      &::placeholder {
        color: var(--secondary-grey);
      }

      &:focus {
        border: 2px solid var(--primary-green);
      }

      &.invalid {
        border: 2px solid var(--error-red);
      }
    }

    .comment-width {
      max-width: 525px;
    }

    .reply-width {
      max-width: 487px;
    }

    button {
      width: 129px;
      height: 48px;
      margin-left: 24px;
      border-radius: 5px;
    }
  }

  .error-message {
    color: var(--ubs-primary-red);
    font-size: 14px;
    font-weight: 400;
    min-height: 14px;
    margin-top: -5px;
  }
}

.wrapper-comment {
  width: 66%;
}

.wrapper-reply {
  margin: 32px 0 32px 70px;
}

@media screen and (max-width: 768px) {
  .wrapper-comment {
    width: 100%;

    .input-submit {
      textarea {
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper-reply {
    .input-submit {
      textarea {
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper-reply,
  .wrapper-comment {
    .input-submit {
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }

  .wrapper-comment {
    img {
      display: none;
    }

    .input-submit {
      textarea {
        width: 100%;
      }

      button {
        width: 100%;
        margin: 0;
      }
    }
  }

  .wrapper-reply {
    .input-submit {
      button {
        width: 100%;
        margin: 0;
      }
    }
  }
}
