.main-wrapper {
  display: flex;
  margin: auto;
  justify-content: space-between;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 24px;
  }

  #comment-user-image {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-right: 24px;
  }

  .input-submit {
    display: flex;
    width: 100%;

    textarea {
      width: 100%;
      height: 72px;
      overflow: hidden;
      resize: none;
      padding: 10px 0 0 20px;
      border-radius: 5px;

      &::placeholder {
        color: var(--secondary-grey);
      }
    }

    .comment-width {
      width: 505px;
    }

    .reply-width {
      width: 467px;
    }

    button {
      width: 157px;
      height: 48px;
      margin-left: 16px;
      border-radius: 5px;
    }
  }
}

.wrapper-comment {
  width: 66%;
}

.wrapper-reply {
  margin: 32px 0 32px 70px;
}

@media screen and (max-width: 768px) {
  .wrapper-comment {
    width: 100%;

    .input-submit {
      textarea {
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .wrapper-reply,
  .wrapper-comment {
    .input-submit {
      justify-content: flex-end;
      flex-wrap: wrap;

      button {
        margin: 0;
      }
    }
  }

  .wrapper-reply {
    .input-submit {
      textarea {
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper-comment {
    img {
      display: none;
    }

    .input-submit {
      textarea {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
