<main role="main" id="main-content" aria-label="news list">
  <div class="container">
    <div (window:resize)="onResize()">
      <div class="cont">
        <h1 class="main-header">{{ 'homepage.eco-news.title' | translate }}</h1>
        <a class="create" [routerLink]="['create-news']" *ngIf="isLoggedIn">
          <div id="create-button" class="secondary-global-button m-btn">
            <span id="create-button-text">{{ 'homepage.eco-news.create' | translate }}</span>
          </div>
        </a>
      </div>
    </div>
    <div>
      <div class="flex-container">
        <app-tag-filter
          (tagsList)="getFilterData($event)"
          [header]="'homepage.eco-news.filter'"
          [storageKey]="'EcoNews-filter'"
          [tagsListData]="tagList"
        ></app-tag-filter>
      </div>
      <hr />
    </div>
    <div class="main-wrapper">
      <app-remaining-count [remainingCount]="remaining"></app-remaining-count>
      <app-change-view-button [gallery]="view" (view)="changeView($event)"></app-change-view-button>
    </div>
    <div class="list-wrapper">
      <ul role="tablist" tabindex="0" class="list" *ngIf="remaining" [ngClass]="{ 'gallery-view-active': view }" aria-label="news list">
        <li
          role="listitem"
          tabindex="0"
          [ngClass]="{
            'gallery-view-li-active': view,
            'list-view-li-active': !view
          }"
          *ngFor="let data of elements"
        >
          <app-news-list-gallery-view *ngIf="view" [ecoNewsModel]="data"> </app-news-list-gallery-view>
          <app-news-list-list-view *ngIf="!view" [ecoNewsModel]="data"> </app-news-list-list-view>
        </li>
      </ul>
    </div>
    <app-spinner *ngIf="elementsArePresent"></app-spinner>
    <app-no-data
      *ngIf="!elementsArePresent && remaining === 0"
      [text]="'homepage.eco-news.empty-state.no-news-advice'"
      [title]="'homepage.eco-news.empty-state.no-news'"
    >
    </app-no-data>
    <div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="500" (scrolled)="onScroll()"></div>
  </div>
</main>
