@import 'src/typography/_resp.scss';

.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

div hr {
  margin: 4px 0 18px;
}

.main-header {
  font-family: var(--primary-font);
  font-size: 48px;
  line-height: 56px;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.app-create-news {
  top: -10px;
}

.main-wrapper {
  width: 100%;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .list {
    list-style: none;
    padding-left: 0;
  }
}

.create-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: flex-end;
  margin-right: 30px;

  @include responsivePCFirst(sm) {
    flex-direction: row;
    gap: 18px;
  }
}

.container-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 4px;
  box-shadow: 0 0 1px 0 var(--primary-grey);
  cursor: pointer;

  span {
    transition: all 0.3s;
  }

  .search-img {
    min-width: 20px;
    min-height: 20px;
    background: url('/assets/events-icons/search.png');
    display: inline-block;

    &:hover {
      background: url('/assets/events-icons/search-hover.png');
    }
  }

  .search-img-active {
    min-width: 20px;
    min-height: 20px;
    background: url('/assets/events-icons/search-active.png');
  }

  .bookmark-img {
    width: 12px;
    height: 17px;
    background: url('/assets/events-icons/bookmark-grey.png');
  }

  .bookmark-img-active {
    width: 12px;
    height: 17px;
    background: url('/assets/events-icons/bookmark-active.png');
  }
}

.container-input {
  position: relative;
  margin-left: 15px;
  flex: 1;

  .cross-position {
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
  }

  .place-input {
    border: none;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 1px 0 var(--primary-grey);
    height: 40px;
    padding: 0 25px;

    &:active,
    &:focus,
    &:hover {
      border: 1px solid var(--primary-grey);
      outline: none;
    }
  }
}

.my-events-img {
  width: 17px;
  height: 17px;
}

.gallery-view-active {
  display: grid;
  grid-template-columns: repeat(3, 359px);
  grid-gap: 32px;
}

.list-view-li-active {
  margin-bottom: 32px;
}

.create {
  height: 40px;
}

#create-button {
  border-radius: 5px;
  line-height: 16px;
  min-width: 139px;
  min-height: 40px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-button span {
  display: block;
  height: 16px;
  white-space: nowrap;
}

@include responsivePCFirst(2xl) {
  .wrapper {
    margin: 0 3%;
  }

  .gallery-view-active {
    grid-template-columns: repeat(3, 299px);
  }
}

@include responsivePCFirst(xl) {
  .wrapper {
    margin: 0 2.43%;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 345px);
  }
}

@include responsivePCFirst(md) {
  .wrapper {
    margin: 0 1.95%;
  }

  .gallery-view-active {
    grid-template-columns: repeat(2, 258px);
  }
}

@include responsivePCFirst(sm) {
  .wrapper {
    margin: 0 2.4%;
  }

  .cont {
    flex-direction: column;
    margin-bottom: 20px;
    align-items: normal;
  }

  .main-header {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .gallery-view-active {
    grid-template-columns: repeat(1, 288px);
    grid-gap: 24px;
  }

  #create-button {
    width: 100%;
    min-width: unset;
    min-height: 32px;
    padding: 0;
  }
}
