<main role="main" id="main-content" aria-label="news list">
  <div class="container">
    <div (window:resize)="onResize()">
      <div class="cont">
        <h1 class="main-header">{{ 'homepage.eco-news.title' | translate }}</h1>
        <div class="create-container">
          <div class="container-input" *ngIf="isSearchVisible">
            <input type="text" *ngIf="isSearchVisible" class="place-input" [formControl]="searchNewsControl" placeholder="Search" />
            <img
              src="assets/img/smallCross.svg"
              class="cross-position"
              (click)="cancelSearch()"
              (keydown.enter)="cancelSearch()"
              alt="cancel search"
            />
          </div>
          <div class="container-img" (click)="toggleSearch()" (keydown.enter)="toggleSearch()" *ngIf="!isSearchVisible">
            <span class="search-img" [ngClass]="{ 'search-img-active': isSearchVisible }"></span>
          </div>
          <div class="container-img" (click)="showSelectedNews()" (keydown.enter)="showSelectedNews()">
            <span class="bookmark-img" [ngClass]="{ 'bookmark-img-active': bookmarkSelected }"></span>
          </div>
          <div class="container-img">
            <img class="my-events-img" src="assets/events-icons/my-event.png" alt="my-event" />
          </div>
        </div>
        <a class="create" [routerLink]="['create-news']" *ngIf="isLoggedIn">
          <div id="create-button" class="secondary-global-button m-btn">
            <span id="create-button-text">{{ 'homepage.eco-news.create' | translate }}</span>
          </div>
        </a>
      </div>
    </div>
    <div>
      <div class="flex-container">
        <app-tag-filter
          (tagsList)="getFilterData($event)"
          [header]="'homepage.eco-news.filter'"
          [storageKey]="'EcoNews-filter'"
          [tagsListData]="tagList"
        ></app-tag-filter>
      </div>
      <hr />
    </div>
    <div class="main-wrapper">
      <app-remaining-count [remainingCount]="remaining"></app-remaining-count>
      <app-change-view-button [gallery]="view" (view)="changeView($event)"></app-change-view-button>
    </div>
    <div class="list-wrapper">
      <ul class="list" *ngIf="remaining" [ngClass]="{ 'gallery-view-active': view }" aria-label="news list">
        <li
          [ngClass]="{
            'gallery-view-li-active': view,
            'list-view-li-active': !view
          }"
          *ngFor="let data of elements"
        >
          <a [routerLink]="['/news', data.id]" tabindex="0" class="link">
            <app-news-list-gallery-view *ngIf="view" [ecoNewsModel]="data"> </app-news-list-gallery-view>
            <app-news-list-list-view *ngIf="!view" [ecoNewsModel]="data"> </app-news-list-list-view>

            <div
              class="news-flags favourite-button"
              (click)="changeFavoriteStatus($event, data)"
              (keydown.enter)="changeFavoriteStatus($event, data)"
            >
              <span [ngClass]="data.favorite ? 'flag-active' : 'flag'"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <app-spinner *ngIf="elementsArePresent"></app-spinner>
    <app-no-data
      *ngIf="!elementsArePresent && remaining === 0"
      [text]="'homepage.eco-news.empty-state.no-news-advice'"
      [title]="'homepage.eco-news.empty-state.no-news'"
    >
    </app-no-data>
    <div infiniteScroll [infiniteScrollThrottle]="500" (scrolled)="onScroll()"></div>
  </div>
</main>
