@import '../../../../../typography/colorsUbs';

.button-back {
  background-color: transparent;
  color: var(--ubs-primary-green);
  font-family: var(--primary-font);
  font-size: 18px;
  cursor: pointer;
  width: 90px;
}

.title_name {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  flex: none;
}

.mat-header-cell {
  background-color: var(--ubs-primary-grey);
  color: var(--ubs-primary-white);
  font-family: var(--primary-font);
  border: 1px solid var(--ubs-primary-light-grey);
}

.mat-row {
  min-height: 39px !important;
  max-height: 39px !important;
  align-items: unset;
  border-bottom-width: 0;
}

.mat-cell {
  border: thin solid var(--ubs-primary-light-grey);
  border-top: none;
  color: var(--ubs-primary-grey);
  font-size: 14px;
  font-family: var(--primary-font);
}

.mat-header-row {
  border-bottom-width: 0 !important;
  min-height: 39px !important;
  align-items: unset !important;
  cursor: col-resize;
}

.mat-header-cell:first-of-type,
.mat-cell:first-of-type {
  padding-left: 0;
}

.mat-header-cell:last-of-type,
.mat-cell:last-of-type {
  padding-right: 0;
}

.column-title {
  color: var(--ubs-secondary-light-grey);
  font-size: 14px;
}

.filter-button .mat-icon {
  font-size: 12px;
}

.mat-header-cell .mat-icon {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

.mat-spinner {
  margin: 3rem auto;
  padding-top: 40px;

  ::ng-deep circle {
    stroke: var(--primary-green);
  }
}

.scrolling {
  height: 400px;
  overflow: scroll;
}

.btn-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.column_header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  span {
    cursor: auto;
  }
}

.column_cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
}

.search_total_wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip_style {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}
