:host {
  background-color: #fff;
  justify-self: center !important;
  height: fit-content;
  position: relative;
  z-index: 1200 !important;
}

:host:nth-child(1) {
  justify-self: start !important;
}

:host:nth-child(3n) {
  justify-self: end !important;
}

:host:nth-child(4n) {
  justify-self: start !important;
}

.habit-card {
  border: solid 1px rgba(131, 156, 148, 0.2);
  border-radius: 4px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.03);
  height: 132px;
  padding: 20px;
  width: 341px;
}

.habit-card,
.habit-card-icon-wrapper {
  background-color: #8097b1;
  border-radius: 35px;
  display: inline-block;
  height: 70px;
  opacity: 0.1;
  vertical-align: top;
  width: 70px;
}

.habit-card,
.habit-card-text-wrapper {
  display: inline-block;
  margin-left: 15px;
  width: 192px;
}

.habit-card h5 {
  color: #2e384d;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.habit-card p {
  color: #839c94;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.habit-card,
.habit-card-drag-control {
  display: inline-block;
  vertical-align: top;
}

.habit-card:hover {
  border: solid 2px rgba(19, 170, 87, 0.8) !important;
}

.habit-status-active {
  background-color: #13aa57;
  border-radius: 12px;
  height: 24px;
  padding: 0 3px;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 24px;
  z-index: 11;
}

.habit-status-hovered {
  background-color: #f03127;
  border-radius: 12px;
  height: 24px;
  padding: 0 3px;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 24px;
  z-index: 11;
}

.corner-image {
  display: block;
  margin: 4px auto 0;
}

.deletion-hint {
  background-color: #fff;
  border: solid 2px rgba(19, 170, 87, 0.8);
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.2;
  right: -125px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: -40px;
  width: 250px;
  z-index: 15;
}

.hidden {
  display: none;
  visibility: hidden;
}
