<div class="container">
  <div *ngIf="bags && !isFetching && !isDialogOpen; else spinner">
    <div class="header">
      <h3 class="font-bolt order-title">{{ 'order-details.order-title' | translate }}</h3>
      <div class="user-location">
        <div>
          <h5 *ngIf="currentLocation">{{ 'order-details.current-location' | translate: { currentLocation: currentLocation } }}</h5>
          <h5 *ngIf="!currentLocation" class="error-text">{{ 'order-details.title-without-location' | translate }}</h5>
          <button class="ubs-link-global-button s-link add-order-btn" (click)="redirectToZeroStep()">
            {{ 'order-details.choose-location' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="courierLimitBySum && displayMinOrderMes" class="validMes">
        <small class="text-danger">{{ 'order-details.min-sum' | translate: { minOrderValue: minOrderValue } }}</small>
      </div>
      <div *ngIf="courierLimitBySum && displayMaxOrderMes" class="validMes">
        <small class="text-danger">{{ 'order-details.max-sum' | translate: { maxOrderValue: maxOrderValue } }}</small>
      </div>
      <div *ngIf="courierLimitByAmount && displayMinBigBagsMes" class="validMes">
        <small class="text-danger">{{ 'order-details.min-big-bags' | translate: { minAmountOfBigBags: minAmountOfBigBags } }}</small>
      </div>
      <div *ngIf="courierLimitByAmount && displayMaxBigBagsMes" class="validMes">
        <small class="text-danger">{{ 'order-details.max-big-bags' | translate: { maxAmountOfBigBags: maxAmountOfBigBags } }}</small>
      </div>
    </div>

    <form class="form" [formGroup]="orderDetailsForm" (change)="changeOrderDetails()">
      <div class="labels-box">
        <label class="label">{{ 'order-details.service' | translate }}</label>
        <label class="label">{{ 'order-details.volume' | translate }}</label>
        <label class="label">{{ 'order-details.cost' | translate }}</label>
        <label class="label">{{ 'order-details.number-of-packages' | translate }}</label>
        <label class="label label-total">{{ 'order-details.sum' | translate }}</label>
      </div>
      <div class="main">
        <ul class="main-box">
          <li *ngFor="let bag of bags" class="main-list-item">
            <span class="bag-name">{{ getLangValue(bag.name, bag.nameEng) }}</span>
            <span class="bag-name">{{ bag.capacity | volume }}</span>
            <span class="bag-name">{{ bag.price | currency | localizedCurrency }}</span>
            <div class="bag-name form-group count">
              <div class="quantity-input-wrapper">
                <button (click)="changeQuantity(bag.id, -1)" type="button">
                  <mat-icon>remove</mat-icon>
                </button>
                <input
                  formControlName="quantity{{ bag.id }}"
                  class="shadow-none form-control input"
                  type="number"
                  [id]="'quantity' + bag.id"
                  min="0"
                  max="999"
                  placeholder="0"
                  [unmask]="false"
                  [imask]="{ mask: servicesMask }"
                  (change)="onQuantityChange(bag.id)"
                  (keypress)="checkOnNumber($event)"
                />
                <button (click)="changeQuantity(bag.id, 1)" type="button">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <span class="bag-name label-total"> {{ bag.quantity * bag.price | currency | localizedCurrency }}</span>
          </li>
        </ul>
      </div>
      <div class="middle">
        <div class="middle-container">
          <div class="showTotal">
            <div class="totalInfo">
              <p class="total-content" [class.d-none]="showTotal === 0">
                <span>{{ 'order-details.order-amount' | translate }}</span>
                <span>
                  <strong>{{ showTotal | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content" *ngIf="displayCert">
                <span>{{ 'order-details.certificate' | translate }} </span>
                <span>
                  <strong class="money-saved">-{{ showCertificateUsed | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content" *ngIf="pointsUsed">
                <span>{{ 'order-details.bonuses' | translate }}</span>
                <span>
                  <strong class="money-saved">-{{ pointsUsed | currency | localizedCurrency }}</strong>
                </span>
              </p>
              <p class="total-content">
                <span>{{ 'order-details.amount-due' | translate }} </span>
                <span>
                  <strong>{{ finalSum | currency | localizedCurrency }}</strong>
                </span>
              </p>
            </div>
          </div>
          <h5>{{ 'order-details.question-certificate' | translate }}</h5>
          <app-ubs-order-certificate
            [showTotal]="showTotal"
            [bags]="bags"
            [defaultPoints]="defaultPoints"
            [points]="points"
            [pointsUsed]="pointsUsed"
            [sumForActCertificate]="finalSum"
            (newItemEvent)="setNewValue($event)"
          >
          </app-ubs-order-certificate>
        </div>
      </div>
      <div class="bottom">
        <h3>{{ 'order-details.eco-shop' | translate }}</h3>
        <h5 class="shop-order-question">{{ 'order-details.shop-order-question' | translate }}</h5>
        <div class="form-group shop-submit">
          <div class="shop-submit-box">
            <div class="inputs-box">
              <div
                formArrayName="additionalOrders"
                *ngFor="let order of additionalOrders.controls; let i = index"
                class="eco-store"
                [class.inactive]="orderDetailsForm.controls.shop.value === 'no'"
              >
                <label class="eco-label">{{ 'order-details.enter-order-num' | translate }}</label>
                <input
                  id="index{{ i }}"
                  tabindex="{{ isDisabled() }}"
                  [formControlName]="i"
                  class="shadow-none form-control my-1 border-input p-2 eco-store-input"
                  type="text"
                  [pattern]="additionalOrdersPattern"
                  (click)="changeShopRadioBtn()"
                  (ngModelChange)="ecoStoreValidation()"
                />
                <span input-close-button tabindex="{{ isDisabled() }}" (click)="deleteOrder(i)" (keyup)="removeOrder($event, i)"
                  >&times;</span
                >
              </div>
            </div>
            <div class="bottom-text">
              <p class="p-text">{{ 'order-details.cant-found-order' | translate }}</p>
            </div>
          </div>
          <div *ngIf="canAddEcoShopOrderNumber()" class="order-notification">
            <small class="text-danger" *ngIf="!displayOrderBtn && additionalOrders.touched && shop.value !== 'no'">
              {{ 'order-details.order-error' | translate }}
            </small>
            <button
              [disabled]="additionalOrders.controls.length < 5 && !displayOrderBtn"
              class="ubs-link-global-button s-link add-order-btn"
              (click)="addOrder()"
            >
              {{ 'order-details.additional-orders' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="bottom_comment">
        <div class="form-group comment">
          <h3>{{ 'order-details.comment' | translate }}</h3>
          <h5>{{ 'order-details.comment-subtitle' | translate }}</h5>
          <p class="ubs-link-global-button s-link" (click)="openExtraPackages()">{{ 'order-details.link' | translate }}</p>
          <textarea
            formControlName="orderComment"
            class="shadow-none form-control textarea"
            rows="7"
            placeholder="{{ 'order-details.any-details' | translate }}"
            [pattern]="commentPattern"
            maxlength="256"
          >
          </textarea>
        </div>
        <small class="text-danger" *ngIf="orderComment.invalid">
          {{ 'order-details.comment-error' | translate }}
        </small>
      </div>
    </form>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</div>

<div class="buttons">
  <button type="button" class="ubs-secondary-global-button" (click)="cancelUBS()">
    {{ 'order-details.cancel' | translate }}
  </button>
  <button [disabled]="courierLimitValidation || orderComment.invalid" type="submit" class="ubs-primary-global-button" matStepperNext>
    {{ 'order-details.next' | translate }}
  </button>
</div>
