@mixin text_style($font, $color, $size, $weight) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.container {
  box-shadow: 1px 4px 8px rgb(100 114 125 / 18%);
  padding: 10px 24px 40px 24px;
  color: var(--ubs-primary-grey);
  max-width: 100%;
}

.btn:nth-child(1) {
  color: var(--ubs-quaternary-dark-grey);
}

.buttons {
  margin-top: 46px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

h3 {
  @include text_style(var(--ubs-quaternary-font), var(ubs-primary-grey), 24px, 700);
}

.eco-store::-webkit-outer-spin-button,
.eco-store::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.header {
  width: 100%;
  margin: 3rem 0 0;

  .order-title {
    margin-bottom: 1rem;
  }

  .order-content {
    color: var(--ubs-secondary-grey);
    margin-bottom: 2rem;
  }

  .choose-location {
    color: var(--ubs-primary-grey);
    background: var(--primary-white);
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0 2rem 0;
    width: 14rem;
    border-color: var(--ubs-quintynary-light-grey);
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0 1.2rem 0;
  border-top: 1px solid var(--ubs-primary-light-grey);
  border-bottom: 1px solid var(--ubs-primary-light-grey);

  .main-box {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.label {
  @include text_style(var(--ubs-quaternary-font), var(--ubs-secondary-grey), 16px, 400);

  padding: 0;
}

.form {
  margin-top: 20px;

  .labels-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;

    label {
      color: var(--ubs-secondary-grey);
    }
  }
}

.label,
.bag-name {
  flex: 0 0 16.6%;
  max-width: 15.6%;
  padding: 0;
  margin: 0;
}

.label-total {
  text-align: center;
}

.main-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

.form-group {
  padding: 0;
}

.form-control {
  height: 2.25rem;
  background: none;
  padding-left: 0;
  border: none;
  display: flex;
  font-size: 14px;
}

.quantity-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--ubs-quintynary-light-grey);
  border-radius: 4px;
  font-size: 14px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 30px;
    height: 100%;
    text-align: center;
    padding: 0;
    border: 0;

    .mat-icon {
      height: 100%;
      line-height: 30px;
      vertical-align: middle;
      font-size: 1.2rem;
      color: var(--ubs-quintynary-light-grey);
    }
  }

  .input {
    text-align: center;
    width: 2.5rem;
    padding: 0 4px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.bag-quantity_placeholder {
  color: var(--ubs-primary-light-grey);
}

.add-order-btn {
  padding: 0;
  width: 250px;
}

.radio-btn {
  margin-left: -6px;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 4px;
  height: 16px;
  width: 16px;
  background-color: var(--ubs-primary-white);
  border-radius: 50%;
  border: 1px solid var(--ubs-quaternary-dark-grey);

  &::after {
    content: '';
    position: absolute;
    display: none;
  }
}

.custom-radio-btn {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover input ~ .checkmark {
    background-color: var(--ubs-primary-white);
  }

  & .checkmark::after {
    top: 14%;
    left: 15%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--ubs-quaternary-dark-grey);
  }

  & input:checked ~ .checkmark {
    background-color: var(--ubs-primary-white);

    &::after {
      display: block;
    }
  }
}

.totalInfo {
  text-align: right;

  .total-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: var(--ubs-secondary-grey);
    font-family: var(--ubs-quaternary-font);
    padding-right: 0.5rem;

    strong {
      padding-left: 2rem;
      color: var(--ubs-primary-grey);
    }
  }

  .money-saved {
    @include text_style(var(--ubs-quaternary-font), var(--ubs-electric-violet) !important, 10px, 400);
  }

  .validMes {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
}

.user-location {
  display: flex;
  position: relative;
  margin: 20px auto;

  .list-locations {
    position: absolute;
    top: 15px;
    left: 130px;
  }
}

.middle-container {
  .showTotal {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .input-border {
    background: var(--ubs-primary-white);
    border: 1px solid var(--ubs-quintynary-light-grey);
  }

  button {
    padding: 12px 32px;
    line-height: 20px;
    font-size: 14px;
  }

  .addBonus {
    margin-top: 3rem;

    span {
      color: var(--ubs-electric-violet);
      padding-left: 1rem;
    }
  }

  small {
    margin-left: 0;
  }
}

.bottom {
  font-family: var(--ubs-quaternary-font);
  padding: 3rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--ubs-primary-light-grey);

  .shop-order-question {
    margin-top: 1rem;
    max-width: 455px;
  }

  .custom-control {
    padding-left: 1.4rem;
  }

  .border-input {
    border: 1px solid var(--ubs-quintynary-light-grey);
  }

  .custom-control-label {
    color: var(--ubs-primary-grey);
    padding-left: 0;

    &::before {
      background-color: var(--ubs-primary-white);
    }
  }

  p {
    font-size: 12px;
    max-width: 335px;
  }

  .inactive {
    & > input {
      background-color: var(--ubs-grey-white);
    }

    & > span {
      display: none;
    }
  }

  .eco-store {
    display: flex;
    flex-direction: column;
    width: 215px;
    position: relative;

    ::placeholder {
      color: var(--ubs-primary-light-grey);
      opacity: 1;
      font-size: 0.9rem;
    }

    & > [input-close-button] {
      opacity: 0;
      position: absolute;
      top: 32px;
      right: 5px;
      color: var(--ubs-quintynary-light-grey);
      font-size: 1.7em;
      padding: 0 0.2em;
      line-height: 1em;
      cursor: pointer;
    }

    span:focus,
    input:focus + span,
    &:hover > [input-close-button] {
      opacity: 1;
    }
  }
}

.eco-label {
  width: 100%;
  margin-bottom: 0;
  color: var(--ubs-secondary-grey);
  font-family: var(--ubs-quaternary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.sum {
  width: 6rem;
  margin-left: 3rem;

  .form-control {
    padding-left: 0;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }
}

.middle {
  width: 100%;
  margin-top: 10px;
  padding: 30px 0;
  justify-content: space-between;
  border-bottom: 1px solid var(--ubs-primary-light-grey);
}

.messages-container {
  width: 50%;

  small {
    color: var(--ubs-primary-green);
  }
}

.points {
  font-family: var(--ubs-quaternary-font);
  margin-top: 3em;

  p {
    font-size: 16px;
  }

  .points-balance {
    display: flex;
    flex-flow: column wrap;
  }

  .bonus-how-to-link,
  small {
    font-size: 14px;
    color: var(--ubs-electric-violet);
  }
}

.order-notification {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

h5 {
  @include text_style(var(--ubs-quaternary-font), var(--ubs-primary-grey), 16px, bold);

  line-height: 24px;
}

.error-text {
  color: var(--ubs-primary-red);
}

.primary-global-button {
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 18px;
  color: var(--ubs-quaternary-dark-grey);
  border-color: var(--ubs-button-light-green);
  background: var(--ubs-button-light-green);
}

.primary-ubs-button {
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 18px;
  color: var(--ubs-quaternary-dark-grey);
  border-color: var(--ubs-button-light-green);
  background: var(--ubs-button-light-green);
}

.cancel-button {
  border-radius: 4px;
  border: 1px solid var(--ubs-quaternary-dark-grey);
  font-size: 18px;
}

.shop-submit {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .shop-submit-box {
    display: flex;

    .eco-store {
      width: 215px;
    }
  }
}

.bottom-text {
  width: 360px;
  padding: 26px 0 0 16px;
}

.comment {
  background: var(--ubs-primary-white);
}

.bottom_comment {
  background: var(--ubs-primary-white);

  .textarea {
    height: 6rem;
    border: 1px solid var(--ubs-quintynary-light-grey);
    padding: 0.5rem;
    background: var(--ubs-primary-white);
    resize: none;
    overflow: hidden;

    &::placeholder {
      @include text_style(var(--ubs-quaternary-font), var(--ubs-primary-light-grey), 14px, 400);

      margin-bottom: 3rem;
    }
  }

  .textarea-error {
    border: 1px solid var(--ubs-primary-red);
  }
}

.btn-main {
  padding: 12px 32px;
  line-height: 20px;

  &:disabled {
    background: var(--ubs-quaternary-light-grey);
    border-color: var(--ubs-quaternary-light-grey);
  }
}

li {
  list-style: none;
}

.bag-name {
  @include text_style(var(--ubs-quaternary-font), var(--ubs-quaternary-dark-grey), 16px, 400);

  &:last-child {
    color: var(--ubs-primary-grey);
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .bag-name .quantity-input-wrapper button {
    width: 10px;
  }
}

@media screen and (max-width: 575px) {
  .mat-horizontal-content-container {
    padding: 0;
  }

  .container {
    padding: 14px;
  }

  // need this to fix issue on screens(max-width 375px) because someone used bootstrap
  .margin-right {
    margin-right: 5px !important;
    margin-left: -5px !important;
  }

  .buttons {
    margin: 2em 0 1em;
    justify-content: center;
    flex-direction: row;
    width: 100%;

    button {
      width: 42%;
    }
  }

  .count {
    .input {
      text-align: center;
    }
  }

  .order-notification {
    align-items: center;
  }

  .add-order-btn {
    height: 40px;
    width: 240px;
    margin: 16px 0;
    text-align: center;
    font-weight: 700;
    color: var(--ubs-quaternary-dark-grey);
    background: transparent;
    border: 1px solid var(--ubs-quaternary-dark-grey);
    border-radius: 4px;
  }

  .bottom_comment {
    .textarea {
      height: 8em;
    }
  }

  .label,
  .bag-name {
    font-size: 16px;
  }

  .totalInfo {
    span {
      font-size: 12px;
    }
  }

  .header {
    margin: 1rem 0 0;
    text-align: center;

    .choose-location {
      margin: 1em 0;
    }
  }

  .user-location {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-locations {
      position: static;
    }
  }

  .points {
    text-align: center;

    .bonus-how-to-link {
      color: var(--ubs-button-light-grey);
      border: 1px solid;
      border-radius: 3px;
      font-style: normal;
      font-weight: bold;
      padding: 0.5em 1em;
      margin: 1em 0;
    }
  }

  .middle-container {
    justify-content: center;
    text-align: center;

    h5 {
      padding-bottom: 2em;
    }
  }

  .validMes {
    text-align: center;
  }

  .messages-container {
    width: auto;
    text-align: center;
  }

  .radio-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1.5em 0;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      margin-bottom: 1em;
    }

    .eco-store {
      & > [input-close-button] {
        top: 1em;
      }
    }

    p {
      font-size: 14px;
    }
  }

  .shop-submit {
    display: flex;
    align-items: center;
    width: 100%;

    .shop-submit-box {
      flex-direction: column-reverse;
      align-items: center;

      .eco-store {
        width: 240px;
      }

      .inputs-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .eco-store-input {
          width: 240px;
          text-align: center;
        }
      }
    }
  }

  .bottom-text {
    position: static;
    width: 100%;
    padding: 0;

    .p-text {
      width: 400px;
    }
  }

  .bag-name .quantity-input-wrapper button {
    width: 8px;
  }
}

@media screen and (max-width: 420px) {
  .label {
    font-size: 12px;
  }

  .bag-name {
    font-size: 10px;
  }

  .label-total {
    text-align: end;
  }

  .bag-name .quantity-input-wrapper {
    input {
      width: 2rem;
    }

    button {
      width: 8px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 360px) {
  .label {
    font-size: 10px;
  }

  .bag-name .quantity-input-wrapper {
    input {
      width: 1.5rem;
    }

    button {
      width: 8px;
      font-size: 12px;
    }
  }
}
