$main-font: 'Montserrat', sans-serif;
$background-color: #f5f6f6;
$main-color: #494a49;
$grey-color: #839c94;
$green-color: #13aa57;
$additional-color: #bebebe;

button {
  border: none;
  padding: 0;
}

.main {
  //width: 100%;
  height: 148px;
  border-radius: 8px;
  background-color: $background-color;
  display: grid;
  grid-template-columns: 1fr 85px;
  grid-template-rows: 1fr 40px;
}

.description {
  margin: 12px 0 0 16px;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;

  .first-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;

    .calendar {
      width: 11px;
      height: 12px;
      margin-right: 7px;
      background: url("~/assets/img/icon/calendar.svg") no-repeat;
    }

    p {
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $additional-color;
      margin: 0 16px 0 0;
    }

    .friends-photo {
      display: flex;

      .first-photo,
      .second-photo {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $background-color;
      }

      .first-photo {
        z-index: 1;
      }

      .second-photo {
        position: relative;
        left: -5px;
      }
    }
  }

  .second-row {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-right: 5px;
    color: $main-color;
  }
}

.image {
  grid-area: 1 / 2 / 2 / 3;

  img {
    height: 100%;
    width: auto;
    border-radius: 8px;
    float: right;
  }
}

.third-row {
  margin: 0 0 16px 16px;
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  align-items: center;

  div:first-child,
  button:first-child {
    width: 24px;
    height: 24px;
    margin-right: 13px;
  }

  .green,
  .grey {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .green {
    color: $green-color;
  }

  .grey {
    color: $grey-color;
  }

  .plus {
    background: url("~/assets/img/icon/plus-circle-dotted.svg") no-repeat;
  }

  .mark {
    background: url("~/assets/img/icon/mark-circle.svg") no-repeat;
  }

  .star {
    background: url("~/assets/img/icon/star-circle.svg") no-repeat;
  }
}

@media (min-width: 576px) {
  .main {
    height: 161px;
    grid-template-columns: auto 167px;
  }

  .description {
    .first-row {
      .calendar {
        width: 14px;
        height: 15px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .second-row {
      font-size: 22px;
      line-height: 28px;
    }
  }

  .image {
    grid-area: 1 / 2 / 3 / 3;
  }

  .third-row {
    grid-area: 2 / 1 / 3 / 2;

    div:first-child,
    button:first-child {
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }

    .green,
    .grey {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (min-width: 768px) {
  .main {
    height: 142px;
    grid-template-columns: auto 139px;
  }

  .description {
    .second-row {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .third-row {
    div:first-child,
    button:first-child {
      width: 24px;
      height: 24px;
    }
  }
}

@media (min-width: 1024px) {
  .main {
    height: 152px;
    grid-template-columns: auto 156px;
  }

  .description {
    .second-row {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .third-row {
    div:first-child,
    button:first-child {
      width: 28px;
      height: 28px;
    }
  }
}
