<div class="ubsHomepage">
  <div *ngIf="screenWidth <= 768" class="marquee-section">
    <div class="marquee-w">
      <div class="marquee">
        <span></span>
      </div>
    </div>
  </div>

  <header>
    <div class="header-left">
      <img [src]="ubsMainPageImages.ubsPickUpCity" class="ubs-image" alt="ubs-armored-track" aria-hidden="true" />
    </div>
    <app-ubs-main-page-spinner class="spinner"></app-ubs-main-page-spinner>
    <div class="main-content">
      <button *ngIf="!isAdmin" class="button primary-global-button" [disabled]="isFetching" (click)="redirectToOrder()">
        {{ 'ubs-homepage.header.btn-order-courier' | translate }}
      </button>
      <div class="main-caption">
        <p>{{ 'ubs-homepage.header.caption' | translate }}</p>
        <p>{{ 'ubs-homepage.header.content' | translate }}</p>
      </div>
    </div>
  </header>
  <!-- Marque text (generated in ts file) -->
  <div *ngIf="screenWidth > 768" class="marquee-section">
    <div class="marquee-w">
      <div class="marquee">
        <span></span>
      </div>
    </div>
  </div>

  <section>
    <h2>{{ 'ubs-homepage.ubs-courier.preparing.caption' | translate }}</h2>
    <div class="how-to-prepare">
      <div class="main-content-left">
        <div class="box-item">
          <div class="box-number">01</div>
          <div class="box-text">
            {{ preparingContent[0] | translate }}
            <a href="https://nowaste.com.ua/sort-station/" class="link-to-site" target="_blank" rel="noopener">{{
              preparingContent[1] | translate
            }}</a>
          </div>
        </div>
        <div class="box-item">
          <div class="box-number">02</div>
          <div class="box-text">{{ preparingContent[2] | translate }}</div>
        </div>
        <div class="box-item">
          <div class="box-number">03</div>
          <div class="box-text">{{ preparingContent[3] | translate }}</div>
        </div>
        <div class="box-item">
          <div class="box-number">04</div>
          <div class="box-text">{{ preparingContent[4] | translate }}</div>
        </div>
        <div class="box-item">
          <div class="box-number">05</div>
          <div class="box-text">{{ preparingContent[5] | translate }}</div>
        </div>
      </div>
      <div class="main-content-right">
        <div class="conditions">
          <div class="caption">
            <h2>{{ 'ubs-homepage.ubs-courier.rules.caption' | translate }}</h2>
          </div>
          <div class="rules">
            <div class="rule">{{ rules[0] | translate }}</div>
            <div class="rule">
              {{ rules[1] | translate }}
              <div class="lifehack">{{ rules[2] | translate }}</div>
            </div>
            <div class="rule">{{ rules[3] | translate }}</div>
          </div>
        </div>

        <div class="bonuses">
          <div class="caption">
            <h2>{{ 'ubs-homepage.ubs-courier.bonuses.caption' | translate }}</h2>
          </div>
          <div class="rules">
            <div class="rule">{{ bonuses[0] | translate }}</div>
            <div class="rule">
              {{ bonuses[1] | translate }}
            </div>
            <div class="rule">
              {{ bonuses[2] | translate }}
              <a href="https://nowaste.com.ua/nwu_services/courier/" class="link" target="_blank" rel="noopener">{{
                bonuses[3] | translate
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="price-section">
      <h2>{{ 'ubs-homepage.ubs-courier.price.caption' | translate }}</h2>
      <div class="box-card">
        <div id="price-frame" *ngFor="let elemPrice of priceCard">
          <div class="content-price">
            <div>{{ elemPrice.content | translate }}</div>
          </div>
          <div class="header-price">
            <div class="price">{{ elemPrice.header | translate }}</div>
            <div>{{ perPackageTitle | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pick-up-service">
    <div class="main-container">
      <h2>{{ stepsOrderTitle | translate }}</h2>
      <div *ngIf="screenWidth >= 1024" class="box">
        <div
          class="step-order"
          id="step-order-{{ i }}"
          *ngFor="let step of stepsOrder; let odd = odd; let i = index"
          [ngStyle]="{ 'flex-direction': !(i % 2) ? 'column' : 'column-reverse' }"
        >
          <div class="content-box" [ngStyle]="{ 'flex-direction': odd ? 'column' : 'column-reverse' }">
            <h1
              class="step-order-header"
              [ngClass]="odd ? 'odd' : 'even'"
              [ngStyle]="odd ? { 'margin-bottom': '20px' } : { 'margin-top': '20px' }"
            >
              {{ step.header | translate }}
            </h1>
            <p class="step-order-content">{{ step.content | translate }}</p>
          </div>
          <div class="base-line">
            <hr [ngStyle]="{ width: lineSize[0] + 'px' }" />
            <div class="circle">
              <p>{{ i + 1 }}</p>
            </div>
            <hr [ngStyle]="{ width: lineSize[0] + 'px' }" />
          </div>
          <div class="content-box-filler"></div>
        </div>
      </div>
      <div *ngIf="screenWidth < 1024" class="box-mobile">
        <div class="step-order" id="step-order-{{ i }}" *ngFor="let step of stepsOrder; let i = index">
          <div class="base-line">
            <hr [ngStyle]="{ height: lineSize[i] + 'px' }" />
            <div class="circle">
              <p>{{ i + 1 }}</p>
            </div>
            <hr [ngStyle]="{ height: lineSize[i] + 'px' }" />
          </div>
          <div class="content-box">
            <h1 class="step-order-header">
              {{ step.header | translate }}
            </h1>
            <p class="step-order-content">{{ step.content | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="how-works">
    <div class="box-how-works">
      <div id="main-content">
        <div class="time-frame" *ngFor="let elemTime of howWorksPickUp">
          <h2 class="header-how-works">{{ elemTime.header | translate }}</h2>
          <p class="content-time">{{ elemTime.content | translate }}</p>
        </div>
      </div>

      <div id="how-works-content">
        <button class="button primary-global-button" [disabled]="isFetching" (click)="redirectToOrder()">
          {{ 'ubs-homepage.header.btn-order-courier' | translate }}
        </button>

        <div class="link-to-shop">
          {{ 'ubs-homepage.ubs-courier.how-works.content.pre_1' | translate }}
          <a target="_blank" href="https://shop.nowaste.com.ua/" rel="noopener">{{
            'ubs-homepage.ubs-courier.how-works.content.link' | translate
          }}</a>
        </div>
      </div>
    </div>
  </section>
</div>
