@mixin height-and-width($height, $width) {
  height: $height;
  width: $width;
}

.ubsHomepage {
  a {
    color: var(--ubs-secondary-light-green);
    text-decoration: underline;
    line-height: 1.3;
  }

  header {
    margin: 0 50px;

    .ubs-image {
      display: block;
      outline: 0;
      max-width: 100%;
      height: auto;
      margin: 20px auto 10px 0;
      float: left;
    }

    .spinner {
      position: absolute;
      margin-top: 50px;
      right: 100px;
      width: 500px;
    }

    .header-left {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 63%;

      img {
        width: 100%;
      }

      #ubs-image-black {
        position: absolute;
        bottom: -20px;
        right: 65px;
      }
    }

    .main-content {
      margin-top: 87px;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      button {
        border-radius: 15px;
      }

      .main-caption {
        margin-top: 38px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: var(--ubs-primary-dark-grey);
      }
    }
  }

  section {
    max-height: 1140px;
    margin-top: 140px;
  }

  h2 {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    color: var(--ubs-primary-black);
  }

  .button {
    @include height-and-width(72px, 25vw);

    font-size: 28px;
    background-color: var(--ubs-secondary-light-green);
    border: 3.5px solid var(--ubs-secondary-light-green);
    border-radius: 22px;
    color: var(--ubs-primary-white);
    font-weight: 700;
    line-height: 34px;
    margin-top: 25px;

    &::first-letter {
      text-transform: capitalize;
    }

    &:hover {
      background-color: var(--ubs-tertiary-dark-green);
      border: 3.5px solid var(--ubs-tertiary-dark-green);
    }
  }

  .marquee-section {
    width: 100%;
    background-color: var(--ubs-tertiary-dark-green);
    height: 43px;
  }

  .marquee-w {
    position: relative;
    display: block;
    height: 100%;
    top: calc(50% + 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  .marquee {
    position: absolute;
    display: inline;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
  }

  .marquee span {
    display: inline-block;
    text-align: center;
    color: white;
    white-space: nowrap;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    animation: marquee 90s linear infinite;
    padding-left: 100%;
  }

  .marquee2 span {
    animation-delay: 45s;
  }

  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.box-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  flex-direction: column;

  .step-order {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4%;
  }

  .base-line {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 6px;

    hr {
      width: 3px;
      border: none;
      background-color: var(--ubs-tertiary-light-grey);
      margin: 0;
    }

    .circle {
      @include height-and-width(22px, 22px);

      position: relative;
      background-color: var(--ubs-quaternary-dark-green);
      color: var(--ubs-primary-white);
      border-radius: 50%;
      text-align: center;
      font-size: 12px;
      font-weight: 800;

      p {
        margin: 0;
      }
    }
  }

  .content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    border: 1px solid var(--ubs-primary-dark-grey);
    border-radius: 8px;
    color: var(--ubs-primary-black);

    h1.step-order-header {
      width: 100%;
      font-weight: 800;
      font-size: 15px;
      line-height: 15px;
      letter-spacing: -0.025em;
      margin: 0;
    }

    p.step-order-content {
      width: 100%;
      margin: 0;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
    }
  }
}

.price-section {
  height: 648px;
  background-color: var(--ubs-main-page-secondary-light-grey);

  h2 {
    padding: 140px 0 80px 0;
  }

  .box-card {
    display: flex;
    height: 264px;
    justify-content: space-between;

    #price-frame {
      height: 100%;
      width: 30%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--ubs-primary-white);
      border: 1px solid var(--ubs-quaternary-dark-green);
      border-radius: 23px;

      .content-price {
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        height: 135px;
        width: 84%;
        padding: 0 34px;
        display: flex;
        align-items: center;
      }

      .header-price {
        width: inherit;
        width: 100%;
        height: 129px;
        display: flex;
        flex-direction: column;
        background: var(--ubs-quaternary-dark-green);
        border: 1px solid var(--ubs-quaternary-dark-green);
        color: var(--ubs-primary-white);
        border-radius: 23px;
        text-align: center;
        justify-content: center;

        .price {
          font-size: 35px;
          font-weight: 600;
        }
      }
    }
  }
}

.how-to-prepare {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  margin: 60px 50px 0 50px;
  justify-content: space-between;

  .main-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .box-item {
      height: 127px;
      list-style-type: none;
      border: 1px solid var(--ubs-main-page-primary-light-grey);
      border-radius: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .box-number {
        display: flex;
        font-weight: 800;
        font-size: 75px;
        color: var(--ubs-secondary-light-green);
      }

      .box-text {
        color: var(--ubs-main-page-text-grey);
        max-width: 350px;
        margin: auto 0;

        .link-to-site {
          color: var(--ubs-secondary-light-green);
          text-decoration: underline;
        }
      }
    }
  }

  .main-content-right {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .conditions,
    .bonuses {
      border: 1px solid var(--ubs-main-page-primary-light-grey);
      border-radius: 14px;
      display: flex;
      flex-direction: row;
      padding-right: 10%;

      .caption {
        text-align: center;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        .col {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        h2 {
          margin: 0;
          font-size: 47px;
          font-weight: 800;
          writing-mode: vertical-rl;
          text-orientation: upright;
          letter-spacing: 1px;
          color: var(--ubs-secondary-light-green);
        }
      }

      .rules {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .rule {
          line-height: 27px;

          .lifehack {
            margin: 0;
            color: var(--ubs-main-page-primary-light-grey);
            font-size: 20px;
          }
        }

        .link {
          color: var(--ubs-secondary-light-green);
        }
      }
    }
  }
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  .step-order {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .base-line {
    display: flex;
    flex-direction: row;
    margin: 15px 0;

    hr {
      height: 5px;
      border: none;
      background-color: var(--ubs-tertiary-light-grey);
    }

    .circle {
      @include height-and-width(36px, 36px);

      position: relative;
      margin: 0 10px;
      background-color: var(--ubs-quaternary-dark-green);
      color: var(--ubs-primary-white);
      border-radius: 50%;
      text-align: center;
      font-size: 18px;
      font-weight: 800;
      padding: 10px 0;

      p {
        margin: 0;
      }
    }
  }

  .content-box-filler {
    height: 194px;
  }

  .content-box {
    width: calc(100% - 100px);
    height: 194px;
    display: flex;
    justify-content: flex-start;
    padding: 36px;
    border: 1px solid var(--ubs-main-page-tertiary-light-grey);
    border-radius: 8px;
    color: var(--ubs-primary-black);

    h1.step-order-header {
      width: 100%;
      font-weight: 800;
      font-size: 25px;
      line-height: 21.85px;
      letter-spacing: -0.025em;

      .odd {
        margin-bottom: 20px;
      }

      .even {
        margin-top: 20px;
      }
    }

    p.step-order-content {
      width: 100%;
      margin: 0;
      font-size: 16px;
      line-height: 19.5px;
      font-weight: 500;
    }
  }
}

section .main-container {
  margin: 0 50px;
  height: 900px;

  .box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    .step-order {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .base-line {
      display: flex;
      flex-direction: row;
      margin: 15px 0;

      hr {
        height: 5px;
        border: none;
        background-color: var(--ubs-tertiary-light-grey);
      }

      .circle {
        @include height-and-width(36px, 36px);

        position: relative;
        margin: 0 10px;
        background-color: var(--ubs-quaternary-dark-green);
        color: var(--ubs-primary-white);
        border-radius: 50%;
        text-align: center;
        font-size: 18px;
        font-weight: 800;
        padding: 10px 0;

        p {
          margin: 0;
        }
      }
    }

    .content-box-filler {
      height: 194px;
    }

    .content-box {
      width: calc(100% - 100px);
      height: 194px;
      display: flex;
      justify-content: flex-start;
      padding: 36px;
      border: 1px solid var(--ubs-main-page-tertiary-light-grey);
      border-radius: 8px;
      color: var(--ubs-primary-black);

      h1.step-order-header {
        width: 100%;
        font-weight: 800;
        font-size: 25px;
        line-height: 21.85px;
        letter-spacing: -0.025em;

        .odd {
          margin-bottom: 20px;
        }

        .even {
          margin-top: 20px;
        }
      }

      p.step-order-content {
        width: 100%;
        margin: 0;
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 500;
      }
    }
  }
}

#how-works {
  width: 100%;
  height: 566px;
  background-color: var(--ubs-main-page-secondary-light-grey);
  margin: 0;

  .box-how-works {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    #how-works-content {
      display: flex;
      align-items: flex-end;
      margin: 15px 10px 15px 0;

      .link-to-shop {
        font-weight: 800;
        font-size: 29px;
        line-height: 35px;
        color: var(--ubs-primary-black);
        margin-left: 40px;
        width: 617px;
      }
    }

    #main-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 140px;

      .time-frame {
        @include height-and-width(160px, 45%);

        max-width: 850px;
        background-color: var(--ubs-primary-white);
        border: 1px solid var(--ubs-quaternary-dark-green);
        border-radius: 14px;
        font-weight: 600;
        line-height: 27px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 25px;

        .header-how-works {
          margin: 20px 0 25px 0;
          font-size: 40px;
          line-height: 49px;
        }

        .content-time {
          font-weight: 600;
          line-height: 27px;
          color: var(--ubs-main-page-text-grey);
        }
      }
    }
  }
}

@media (min-width: 1439px) {
  .ubsHomepage {
    margin: 0 auto;
    padding: 64px 0 0 0;
    font-size: 16px;
    width: 100%;

    h2 {
      margin: 0 auto;
      padding: 0;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
    }

    header {
      margin: 106px auto 123px auto;
      max-width: 1140px;
      padding: 0;
      position: relative;

      .header-left {
        padding: 0;
        width: 699px;
        height: 121px;

        img {
          padding: 0;
          margin: 0;
        }
      }

      .spinner {
        width: 330px;
        height: 343px;
        position: absolute;
        bottom: -10px;
        right: 65px;
      }

      .main-content {
        margin-top: 70px;
        margin-left: 0;
        max-width: 50%;

        button {
          margin: 0;
          width: 281px;
          height: 48px;
          font-size: 18px;
          line-height: 22px;
        }

        .main-caption {
          width: 300px;
          margin-top: 32px;
          font-size: 16px;
          line-height: 20px;

          p {
            margin-bottom: 9px;
          }
        }
      }
    }

    .marquee-section {
      height: 43px;

      .marquee2 {
        right: 0;
      }

      span {
        padding-top: 5px;
        height: 90%;
        font-size: 14px;
      }
    }

    section {
      margin: 0;
      padding: 0;

      .price-section,
      .pick-up-service .main-container {
        margin: 0;
        padding: 110px 150px;
      }
    }

    section.pick-up-service {
      .main-container h2 {
        margin-top: 117px;
      }

      .main-container {
        height: 100%;
        padding: 0 150px 117px 150px;

        .box {
          margin-top: 92px;
          margin-left: auto;
          margin-right: auto;
          width: 1140px;
          padding: 0;
          overflow: hidden;

          .step-order {
            .content-box {
              width: 240px;
              padding: 32px 16px;

              h1 {
                font-size: 20px;
              }

              p {
                font-size: 14px;
                line-height: 17px;
              }
            }

            .base-line {
              hr {
                width: 120px !important;
              }
            }
          }
        }
      }
    }

    section#first-section {
      padding: 110px 150px;

      h2 {
        margin-bottom: 73px;
      }

      .how-to-prepare {
        padding: 0;
        height: 100%;
        margin: 0 auto;
        max-width: 1140px;

        .main-content-left,
        .main-content-right {
          width: 555px;
        }

        .main-content-left {
          .box-item {
            margin-bottom: 16px;
            padding: 18px 40px;
            height: 100%;

            .box-number {
              font-size: 55px;
              line-height: 67px;
              padding-right: 65px;
            }

            .box-text {
              margin: 0;
              padding: 0;
              font-size: 16px;
              line-height: 20px;
            }
          }

          .box-item:last-child {
            margin-bottom: 0;
          }
        }

        .main-content-right {
          .conditions {
            margin-bottom: 24px;
          }

          .conditions,
          .bonuses {
            padding: 24px 60px;

            .caption {
              padding-right: 46px;

              .col {
                padding: 0;
              }

              h2 {
                margin-bottom: 0;
                font-size: 38px;
                line-height: 46px;
              }
            }

            .rules {
              justify-content: space-around;

              .rule {
                margin-bottom: 24px;
                font-size: 16px;
                line-height: 20px;

                .lifehack {
                  margin-top: 5px;
                  font-size: 16px;
                  line-height: 20px;
                }
              }

              .rule:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    section .price-section {
      height: 100%;

      .box-card {
        margin-top: 71px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
        height: 100%;

        #price-frame {
          width: 358px;
          height: 229px;
          font-size: 18px;

          .content-price {
            margin: 0;
            padding: 0 40px;
            width: 100%;
            line-height: 20px !important;
            align-items: center;
          }

          .header-price {
            flex-direction: column-reverse;
            height: 100px;

            .price {
              font-size: 28px;
              line-height: 34px;
            }
          }
        }
      }
    }

    section#how-works {
      padding: 110px 150px 95px 150px;
      height: 100%;

      .box-how-works {
        margin: 0 auto;
        padding: 0;
        max-width: 1140px;

        #main-content {
          margin: 0;

          .time-frame {
            justify-content: space-between;
            padding: 32px 38px;
            width: 552px;
            height: 139px;

            h2 {
              margin: 0 0 20px 0;
              padding: 0;
              font-size: 30px;
              line-height: 37px;
              text-align: left;
            }

            p {
              margin: 0;
              padding: 0;
              font-size: 18px;
              line-height: 22px;
            }
          }
        }

        #how-works-content {
          margin-top: 53px;
          height: 100%;

          button {
            margin: 0;
            width: 325px;
            height: 59px;
            font-size: 22px;
            line-height: 27px;
          }

          .link-to-shop {
            margin-left: 4%;
            width: 451px;
            font-size: 24px;
            line-height: 29px;
          }
        }
      }
    }
  }
}

@media (min-width: 1023px) and (max-width: 1439px) {
  .ubsHomepage {
    padding: 64px 0 0 0;
    font-size: 16px;

    h2 {
      margin: 0 auto 0 auto;
      padding: 0;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
    }

    header {
      margin: 85px 51px 97px 33px;
      padding: 0;

      .header-left {
        padding: 0;
        width: 53%;
        min-width: 629px;
        max-width: 699px;
        height: 10%;
        min-height: 109px;
        max-height: 121px;

        img {
          padding: 0;
          margin: 0;
        }
      }

      .spinner {
        width: 26%;
        max-width: 273px;
        min-width: 330px;
        height: 27%;
        max-height: 343px;
        min-height: 330px;
        top: 190px;
        right: 50px;
      }

      .main-content {
        margin-top: 67px;
        margin-left: 0;
        max-width: 50%;

        button {
          margin: 0;
          width: 281px;
          height: 48px;
          font-size: 16px;
          line-height: 20px;
        }

        .main-caption {
          width: 300px;
          margin-top: 32px;
          font-size: 16px;
          line-height: 20px;

          p {
            margin-bottom: 9px;
          }
        }
      }
    }

    .marquee-section {
      height: 43px;

      span {
        padding-top: 5px;
        height: 90%;
        font-size: 14px;
      }
    }

    section {
      margin: 0;
      padding: 0;

      .price-section,
      .pick-up-service .main-container {
        margin: 0;
        padding: 110px 33px;
      }
    }

    section.pick-up-service {
      .main-container h2 {
        margin-top: 117px;
      }

      .main-container {
        height: 100%;
        margin: 0;
        padding: 0 33px 117px 33px;

        .box {
          margin-top: 92px;
          padding: 0;
          overflow: hidden;

          .step-order {
            .content-box {
              width: 210px;
              padding: 16px 4px;

              h1 {
                font-size: 20px;
              }

              p {
                height: 100%;
                font-size: 14px;
                line-height: 17px;
              }
            }

            .base-line {
              hr {
                width: 65px;
              }
            }
          }
        }
      }
    }

    #first-section {
      padding: 110px 33px;

      h2 {
        margin-bottom: 73px;
      }

      .how-to-prepare {
        margin: 0;
        padding: 0;
        height: 100%;

        .main-content-left,
        .main-content-right {
          width: 45%;
          max-width: 555px;
          min-width: 464px;
        }

        .main-content-left {
          .box-item {
            margin-bottom: 16px;
            padding: 18px 32px;
            height: 100%;

            .box-number {
              font-size: 50px;
              line-height: 61px;
              padding-right: 30px;
            }

            .box-text {
              margin: 0;
              padding: 0;
              font-size: 16px;
              line-height: 20px;
            }
          }

          .box-item:last-child {
            margin-bottom: 0;
          }
        }

        .main-content-right {
          .conditions {
            margin-bottom: 24px;
          }

          .conditions,
          .bonuses {
            padding: 21px 30px;

            .caption {
              padding-right: 16px;

              .col {
                padding: 0;
              }

              h2 {
                margin-bottom: 0;
                font-size: 36px;
                line-height: 44px;
              }
            }

            .rules {
              justify-content: space-around;

              .rule {
                margin-bottom: 24px;
                font-size: 16px;
                line-height: 20px;

                .lifehack {
                  margin-top: 5px;
                  font-size: 16px;
                  line-height: 20px;
                }
              }

              .rule:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    section .price-section {
      height: 100%;

      .box-card {
        margin-top: 71px;
        height: 100%;

        #price-frame {
          width: 298px;
          height: 229px;
          font-size: 16px;

          .content-price {
            margin: 0;
            padding: 33px 30px 0 24px;
            width: 100%;
            line-height: 20px !important;
          }

          .header-price {
            flex-direction: column-reverse;
            height: 100px;

            .price {
              font-size: 28px;
              line-height: 34px;
            }
          }
        }
      }
    }

    section#how-works {
      padding: 110px 32px 95px 32px;
      height: 100%;

      .box-how-works {
        margin: 0;
        padding: 0;

        #main-content {
          margin: 0;

          .time-frame {
            justify-content: space-between;
            padding: 32px 38px;
            min-width: 464px;
            max-width: 552px;
            height: 139px;

            h2 {
              margin: 0 0 20px 0;
              padding: 0;
              font-size: 30px;
              line-height: 37px;
              text-align: left;
            }

            p {
              margin: 0;
              padding: 0;
              font-size: 18px;
              line-height: 22px;
            }
          }
        }

        #how-works-content {
          margin-top: 45px;
          height: 100%;

          button {
            margin: 0;
            width: 325px;
            height: 59px;
            font-size: 22px;
            line-height: 27px;
          }

          .link-to-shop {
            margin-left: 4%;
            width: 451px;
            font-size: 24px;
            line-height: 29px;
          }
        }
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .ubsHomepage {
    padding: 66px 0 0 0;
    font-size: 16px;

    h2 {
      margin: 0 auto 0 auto;
      padding: 0;
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
    }

    header {
      margin: 60px 80px 71px 27px;
      padding: 0;

      .header-left {
        padding: 0;
        width: 58%;
        min-width: 450px;
        max-width: 629px;
        height: 10%;
        min-height: 78px;
        max-height: 108px;

        img {
          padding: 0;
          margin: 0;
        }
      }

      .spinner {
        width: 25%;
        max-width: 273px;
        min-width: 196px;
        height: 26%;
        max-height: 283px;
        min-height: 202px;
        top: 148px;
        right: 80px;
      }

      .main-content {
        margin-top: 40px;
        margin-left: 0;
        max-width: 50%;

        button {
          margin: 0;
          width: 247px;
          height: 46px;
          font-size: 16px;
          line-height: 20px;
        }

        .main-caption {
          width: 300px;
          margin-top: 25px;
          font-size: 14px;
          line-height: 17px;

          p {
            margin-bottom: 9px;
          }
        }
      }
    }

    .marquee-section {
      height: 31px;

      span {
        height: 80%;
        font-size: 10px;
      }
    }

    section {
      margin: 0;
      padding: 0;

      .price-section,
      .pick-up-service .main-container {
        margin: 0;
        padding: 90px 24px;
      }
    }

    section.pick-up-service {
      .main-container h2 {
        margin-top: 90px;
      }

      .main-container {
        height: 100%;
        margin: 0;
        padding: 0 24px 90px 24px;

        .box {
          margin-top: 50px;
          padding: 0;
          overflow: hidden;

          .step-order {
            .content-box {
              width: 160px;
              padding: 16px 4px;

              h1 {
                font-size: 18px;
              }

              p {
                height: 100%;
                font-size: 12px;
                line-height: 15px;
              }
            }

            .base-line {
              hr {
                width: 65px;
              }
            }
          }
        }
      }
    }

    #first-section {
      padding: 90px 24px;

      h2 {
        margin-bottom: 50px;
      }

      .how-to-prepare {
        margin: 0;
        padding: 0;
        height: 100%;

        .main-content-left,
        .main-content-right {
          width: 47%;
          max-width: 464px;
          min-width: 344px;

          h2 {
            font-size: 36px;
            line-height: 44px;
          }
        }

        .main-content-left {
          .box-item {
            margin-bottom: 12px;
            padding: 12px;
            height: 100%;

            .box-number {
              font-size: 32px !important;
              line-height: 39px;
              padding-right: 16px;
            }

            .box-text {
              margin: 0;
              padding: 0;
              font-size: 12px;
              line-height: 15px;
            }
          }

          .box-item:last-child {
            margin-bottom: 0;
          }
        }

        .main-content-right {
          .conditions {
            margin-bottom: 16px;
          }

          .conditions,
          .bonuses {
            padding: 24px 16px;

            .caption {
              padding-right: 16px;

              .col {
                padding: 0;
              }

              h2 {
                margin-bottom: 0;
                font-size: 22px;
                line-height: 117.9%;
              }
            }

            .rules {
              justify-content: space-around;

              .rule {
                margin-bottom: 17px;
                font-size: 12px;
                line-height: 15px;

                .lifehack {
                  margin-top: 5px;
                  font-size: 12px;
                  line-height: 15px;
                }
              }

              .rule:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    section .price-section {
      height: 100%;

      .box-card {
        margin-top: 50px;
        height: 100%;

        #price-frame {
          width: 218px;
          height: 229px;
          font-size: 16px;

          .content-price {
            margin: 0;
            padding: 33px 16px 0 16px;
            width: 100%;
            line-height: 20px !important;
          }

          .header-price {
            flex-direction: column-reverse;
            height: 100px;

            .price {
              font-size: 24px;
              line-height: 29px;
            }
          }
        }
      }
    }

    section#how-works {
      padding: 90px 24px 75px 24px;
      height: 100%;

      .box-how-works {
        margin: 0;
        padding: 0;

        #main-content {
          margin: 0;

          .time-frame {
            padding: 24px 8px 8px 24px;
            width: 48%;
            min-width: 344px;
            max-width: 464px;
            height: 105px;

            h2 {
              margin: 0;
              padding: 0;
              font-size: 20px;
              line-height: 24px;
              text-align: left;
            }

            p {
              margin: 0;
              padding: 0;
              font-size: 14px;
              line-height: 17px;
            }
          }
        }

        #how-works-content {
          margin-top: 40px 0 0 0;
          height: 100%;

          button {
            margin: 0;
            width: 281px;
            height: 53px;
            font-size: 20px;
            line-height: 24px;
          }

          .link-to-shop {
            margin-left: 5%;
            width: 351px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .ubsHomepage {
    font-size: 18px;
    padding: 60px 0 0 0;

    .marquee-section {
      height: 26px;

      .marquee-w {
        top: calc(50% - 3px);

        span {
          height: 18px;
          font-size: 8px;
          font-weight: 700;
        }
      }
    }

    header {
      margin: 62px 16px 42px 16px;
      height: 100%;

      .header-left {
        width: 65%;
        min-width: 358px;

        .ubs-image {
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
        }
      }

      .spinner {
        width: 137px;
        height: 142px;
        top: 125px;
        right: 40px;
      }

      .main-content {
        margin-top: 45px;
        width: 245px;
        justify-content: left;

        .button {
          margin: 0;
          width: 38%;
          min-width: 205px;
          height: 37px;
          font-size: 14px;
        }

        .main-caption {
          margin-top: 16px;
          width: 100%;
          font-size: 13px;
          line-height: 16px;

          p {
            margin-bottom: 9px;
          }
        }
      }
    }

    section {
      height: 100%;
      margin-top: 60px;

      h2 {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 0;
      }

      .price-section {
        height: 100%;
        padding-bottom: 60px;

        h2 {
          padding-top: 60px;
          padding-bottom: 40px;
        }

        .box-card {
          flex-direction: column;
          height: 100%;
          justify-content: normal;
          gap: 19px;

          #price-frame {
            margin: 0 auto;
            width: 287px;
            border-radius: 6px;

            .content-price {
              font-size: 12px;
              line-height: 15px;
              padding: 0;
              width: 190px;
              height: 69px;

              div {
                width: 100%;
                align-items: center;
              }
            }

            .header-price {
              border-radius: 6px;
              height: 57px;
              font-size: 11px;
            }

            .header-price .price {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }

      .how-to-prepare {
        margin-top: 40px;
        flex-direction: column;
        justify-content: normal;
        gap: 24px;

        .main-content-left {
          margin-right: auto;
          margin-left: auto;

          .box-item {
            margin-bottom: 16px;
            width: 349px;
            height: 62px;
            border-radius: 6px;

            .box-number {
              font-size: 22px;
              line-height: 27px;
              padding: 0 16px 0 24px;
            }

            .box-text {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }

        .main-content-right {
          width: 100%;
          justify-content: normal;
          gap: 30px;

          .conditions,
          .bonuses {
            margin-right: auto;
            margin-left: auto;
            padding-right: 0;
            border-radius: 6px;
            width: 350px;

            .caption {
              width: 72px;
            }

            .caption h2 {
              margin: 0 16px 0 24px;
              width: 32px;
              font-size: 22px;
              line-height: 117.9%;
            }
          }

          .conditions .rules {
            margin: 24px 24px 7px 0;

            .rule {
              margin-bottom: 17px;
              font-size: 12px;
              line-height: 15px;
            }
          }

          .bonuses .rules {
            margin: 24px 24px 7px 0;

            .rule {
              margin-bottom: 12px;
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }

      .how-to-prepare .rules .rule .lifehack {
        font-size: 12px !important;
      }
    }

    #main-content .time-frame .header-how-works h2 {
      align-items: flex-start;
    }

    #how-works {
      height: 100%;

      .box-how-works {
        padding: 60px 16px 60px 16px;

        #main-content {
          flex-direction: row;
          justify-content: space-between;
          margin: 0;

          .time-frame {
            padding: 16px;
            width: 44%;
            min-width: 254px;
            height: 73px;
            border-radius: 10px;
            text-align: left;

            .header-how-works {
              margin: 0;
              font-size: 16px;
              line-height: 20px;

              h2 {
                text-align: left;
              }
            }

            .content-time {
              margin: 0;
              font-weight: 600;
              font-size: 11px;
              line-height: 13px;
            }
          }
        }

        #how-works-content {
          margin: 0 0 0 0;
          flex-direction: row;

          .primary-global-button {
            width: 206px;
            height: 31px;
            border-radius: 10px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
          }

          .link-to-shop {
            margin: 0 0 0 32px;
            width: 234px;
            font-weight: 800;
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }

  .ubsHomepage .pick-up-service {
    margin: 60px 0;
    padding: 0;
    width: 100%;
    min-width: 576px;
    height: 100%;

    .main-container {
      margin: 0;
      height: 100%;
    }

    .box {
      margin: 40px 0 0 0;
      padding: 0 16px;
      min-width: 576px;

      .step-order {
        .content-box {
          margin: 0 0;
          padding: 5px;
          width: 80%;
          text-align: center;
          font-size: 11px;
          line-height: 13px;
          font-variant: small-caps;

          h1 {
            font-size: 15px;
            line-height: 13px;
          }
        }
      }

      .step-order:nth-child(3) {
        .content-box {
          padding: 0;
          width: 140px;
        }

        hr {
          width: 44px !important;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .ubsHomepage {
    font-size: 12px;
    padding: 65px 0 0 0;

    .marquee-section {
      height: 22px;

      .marquee-w {
        top: calc(50%);

        span {
          font-size: 8px;
          height: 90%;
        }
      }
    }

    header {
      margin: 24px 16px 47px 16px;
      height: 370px;

      .header-left {
        width: 100%;
      }

      .spinner {
        width: 80px;
        height: 80px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 406px;
      }

      .main-content {
        width: 100%;
        margin-top: 13px;
        justify-content: center;

        .button {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          font-size: 14px;
        }

        .main-caption {
          margin-top: 25px;
          width: 100%;
          font-size: 12px;
          line-height: 15px;

          p {
            margin-bottom: 35px;
          }
        }
      }
    }

    section {
      margin-top: 0;

      h2 {
        font-size: 28px;
        line-height: 0.9;
      }

      .price-section {
        h2 {
          padding: 60px 16px 50px 16px;
          margin-bottom: 0;
        }

        .box-card {
          flex-direction: column;
          height: 650px;
          justify-content: normal;
          gap: 19px;
          margin: 0 16px;

          #price-frame {
            width: 100%;
            height: 125px;
            border-radius: 9px;

            .content-price {
              line-height: 15px;
              justify-content: center;
            }

            .header-price {
              height: 100px;
              border: 0.5px solid var(--ubs-primary-dark-grey);
              border-radius: 9px;

              .price {
                font-size: 16px;
              }
            }
          }
        }
      }

      .how-to-prepare {
        height: 100%;
        margin: 47px 16px 0 16px;
        padding-bottom: 64px;
        flex-direction: column;
        justify-content: normal;
        gap: 50px;

        .main-content-left {
          width: 100%;
          height: 370px;
        }

        .box-item {
          height: 62px;

          .box-text {
            padding-right: 16px;
          }

          .box-number {
            padding: 0 14px;
            font-size: 20px;
            width: 53px;
          }
        }

        .main-content-right {
          width: 100%;
          height: 100%;
          justify-content: normal;
          gap: 30px;

          .conditions,
          .bonuses {
            padding-right: 16px;
            height: 176px;

            .caption {
              width: 56px;
            }

            .caption h2 {
              font-size: 20px;
            }
          }

          .rules {
            justify-content: space-around;
          }

          .rules .rule {
            line-height: 15px;

            .lifehack {
              font-size: 11px !important;
            }
          }
        }
      }
    }

    .pick-up-service {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    #how-works {
      height: 100%;
      padding: 0;

      .box-how-works {
        padding: 64px 16px;
        align-items: center;

        #main-content {
          width: 100%;
          flex-direction: column;
          margin: 0;
          gap: 16px;

          .time-frame {
            width: 100%;
            height: 77px;
            padding-left: 16px;

            .header-how-works {
              font-size: 18px;
              line-height: 15px;
              margin: 20px 0 5px 0;
            }
          }
        }

        #how-works-content {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          margin: 7px 0 0 0;
          gap: 16px;

          .primary-global-button {
            width: 100%;
            height: 40px;
            border: 3.5px solid var(--ubs-secondary-light-green);
            border-radius: 10px;
            font-size: 14px;
          }

          .link-to-shop {
            margin: 0;
            font-size: 14px;
            line-height: 17px;
            width: inherit;
          }
        }
      }
    }
  }

  .pick-up-service .main-container {
    height: 100%;
  }

  #main-content .time-frame .header-how-works h2 {
    align-items: flex-start;
  }
}
