<div class="ubsHomepage">
  <header>
    <div class="header-left">
      <img [src]="ubsMainPageImages.ubsPickUpCity" class="ubs-image" alt="ubs-armored-track" aria-hidden="true" />
    </div>
    <app-ubs-main-page-spinner class="spinner"></app-ubs-main-page-spinner>
    <div class="main-content">
      <button *ngIf="!isAdmin" class="button primary-global-button" [disabled]="isFetching" (click)="redirectToOrder()">
        {{ 'ubs-homepage.header.btn-order-courier' | translate }}
      </button>
      <div class="main-caption">
        <p [innerHTML]="content?.[currentLanguage]?.header?.caption"></p>
        <p [innerHTML]="content?.[currentLanguage]?.header?.content"></p>
      </div>
    </div>
  </header>

  <section class="our-partners-section">
    <h2>{{ 'ubs-homepage.partners.header' | translate }}</h2>
    <div class="our-partners-section__icons">
      <a
        href="https://shop.nowaste.com.ua/?fbclid=PAZXh0bgNhZW0CMTEAAaYIAGXhfBRGycQ5C6VAB5c4dRvJHgy_KaLdN_FiWrR-ukCCx27KQTFfgHA_aem_mRGfDTwfqAP7Ua_eSTk1xQ"
        target="_blank"
        rel="noopener"
        ><img class="our-partners-section__img" src="assets/icons/partners-no-waste.png" alt="no-waste logo"
      /></a>
      <a href="https://nowaste.com.ua/" target="_blank" rel="noopener"
        ><img class="our-partners-section__img" src="assets/icons/partners-ubs.png" alt="ubs logo"
      /></a>
      <a href="https://www.instagram.com/goto.recycling" target="_blank" rel="noopener"
        ><img class="our-partners-section__img our-partners-section__img_go-to" src="assets/icons/partners-GoToRe.png" alt="GoToRe logo"
      /></a>
    </div>
  </section>

  <section id="first-section">
    <h2 [innerHTML]="content?.[currentLanguage]?.preparing.caption"></h2>
    <div class="how-to-prepare">
      <div class="main-content-left">
        <div class="box-item" *ngFor="let key of sliceContent(content?.[currentLanguage].preparing); let i = index">
          <div class="box-number">{{ '0' + (i + 1) }}</div>
          <div class="box-text" [innerHTML]="content?.[currentLanguage]?.preparing[key]"></div>
        </div>
      </div>
      <div class="main-content-right">
        <div class="conditions">
          <div class="caption">
            <div class="col">
              <h2 [innerHTML]="content?.[currentLanguage].rules.caption"></h2>
            </div>
          </div>
          <div class="rules">
            <div class="rule" [innerHTML]="content?.[currentLanguage].rules.content"></div>
          </div>
        </div>
        <div class="bonuses">
          <div class="caption">
            <h2 [innerHTML]="content?.[currentLanguage].bonuses.caption"></h2>
          </div>
          <div class="rules">
            <div class="rule" [innerHTML]="content?.[currentLanguage].bonuses.content"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-ubs-main-page-price-section
    [tariffToShow]="selectedTariff"
    [tariffs]="tariffs"
    [isTarriffLoading]="isTarriffLoading"
    [bags]="bags"
    (tariffSelected)="getBags($event)"
  ></app-ubs-main-page-price-section>

  <section class="pick-up-service">
    <div class="main-container">
      <h2 [innerHTML]="content?.[currentLanguage].price['caption_steps']"></h2>

      <div *ngIf="!smallScreen" class="box">
        <div
          class="step-order"
          id="f-step-order-{{ i }}"
          *ngFor="let _ of getSteps(content?.[currentLanguage]?.price); let odd = odd; let i = index"
        >
          <div class="base-line d-flex w-100">
            <hr class="flex-grow-1" />
            <div class="circle position-relative">
              <p>{{ i + 1 }}</p>
              <div class="content-box" [ngStyle]="{ 'flex-direction': odd ? 'column' : 'column-reverse' }" [ngClass]="odd ? 'odd' : 'even'">
                <h1 class="step-order-header" [innerHTML]="content?.[currentLanguage].price['steps_title_0' + (i + 1)]"></h1>
                <p class="step-order-content" [innerHTML]="content?.[currentLanguage].price['steps_content_0' + (i + 1)]"></p>
              </div>
            </div>
            <hr class="flex-grow-1" />
          </div>
        </div>
      </div>

      <div *ngIf="smallScreen" class="box-mobile">
        <div class="step-order" id="step-order-{{ i }}" *ngFor="let _ of getSteps(content?.[currentLanguage]?.price); let i = index">
          <div class="base-line">
            <hr class="flex-grow-1" />
            <div class="circle">
              <p>{{ i + 1 }}</p>
            </div>
            <hr class="flex-grow-1" />
          </div>
          <div class="content-box">
            <h1 class="step-order-header" [innerHTML]="content?.[currentLanguage].price['steps_title_0' + (i + 1)]"></h1>
            <p class="step-order-content" [innerHTML]="content?.[currentLanguage].price['steps_content_0' + (i + 1)]"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="how-works">
    <div class="box-how-works">
      <div id="main-content">
        <div class="time-frame">
          <h2 class="header-how-works" [innerHTML]="content?.[currentLanguage]?.['how_works']['working_hours_caption']"></h2>
          <p class="content-time" [innerHTML]="content?.[currentLanguage]?.['how_works']['working_hours']"></p>
        </div>
        <div class="time-frame">
          <h2 class="header-how-works" [innerHTML]="content?.[currentLanguage]?.['how_works']['tech_support_caption']"></h2>
          <p class="content-time" [innerHTML]="content?.[currentLanguage]?.['how_works']['tech_support']"></p>
        </div>
        <div class="time-frame">
          <h2 class="header-how-works" [innerHTML]="content?.[currentLanguage]?.['how_works']['route_caption']"></h2>
          <p class="content-time" [innerHTML]="content?.[currentLanguage]?.['how_works']['route']"></p>
        </div>
      </div>
      <div id="how-works-content">
        <button *ngIf="!isAdmin" class="button primary-global-button" [disabled]="isFetching" (click)="redirectToOrder()">
          {{ 'ubs-homepage.header.btn-order-courier' | translate }}
        </button>
        <div class="link-to-shop">
          <span [innerHTML]="content?.[currentLanguage]?.['how_works'].content + ' '"></span>
          <a target="_blank" href="https://shop.nowaste.com.ua/" rel="noopener">{{
            'ubs-homepage.ubs-courier.how-works.content.link' | translate
          }}</a>
        </div>
      </div>
    </div>
  </section>
</div>
