<div class="ubsHomepage">
  <h1>{{ 'ubs-homepage.general' | translate }}</h1>
  <header>
    <div class="header-left">
      <img [src]="ubsMainPageImages.ubsArmoredTrack" class="ubs-image" alt="ubs-armored-track" aria-hidden="true" />
    </div>
    <div class="header-right">
      <div class="main-content">
        <h2>{{ 'ubs-homepage.header.caption' | translate }}</h2>
        <p>{{ 'ubs-homepage.header.content' | translate }}</p>
        <button class="button primary-global-button" [disabled]="isFetching || isAdmin" (click)="redirectToOrder()">
          {{ 'ubs-homepage.header.btn-order-courier' | translate }}
        </button>
      </div>
    </div>
  </header>
  <h4 class="section-header">{{ 'ubs-homepage.ubs-courier.info-header' | translate }}</h4>
  <img [src]="ubsMainPageImages.ubsPolygon" class="ubs-polygon" alt="ubs-polygon" aria-hidden="true" />
  <section>
    <div class="how-preparing">
      <div class="header-left">
        <img [src]="ubsMainPageImages.ubsGreenGarbage" class="ubs-image" alt="ubs-green-garbage" aria-hidden="true" />
        <img
          [src]="ubsMainPageImages.ubsBlackGarbageTranspBackgr"
          class="ubs-image"
          id="ubs-image-black"
          alt="ubs-black-garbage"
          aria-hidden="true"
        />
      </div>
      <div class="header-right">
        <h2>{{ 'ubs-homepage.ubs-courier.preparing.caption' | translate }}</h2>
        <ul>
          <li>
            {{ preparingContent[0] | translate }}
            (<a href="https://nowaste.com.ua/sort-station/" target="_blank" rel="noopener">{{ preparingContent[1] | translate }}</a
            >).
          </li>
          <li *ngFor="let li of preparingContent | slice: 2">
            {{ li | translate }}
          </li>
        </ul>
        <div class="main-content">
          <h2>{{ 'ubs-homepage.ubs-courier.rules.caption' | translate }}</h2>
          <ul>
            <li *ngFor="let rule of rules">
              {{ rule | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="price-header">{{ 'ubs-homepage.ubs-courier.price.caption' | translate }}</h2>
    <div class="boxCard">
      <div id="price-frame" *ngFor="let elemPrice of priceCard">
        <img [src]="ubsMainPageImages.ubsRectangle" class="ubs-rectangle" alt="ubs-rectangle" aria-hidden="true" />
        <h2 class="header-price">{{ elemPrice.header | translate }}</h2>
        <p class="content-price">{{ elemPrice.content | translate }}</p>
      </div>
    </div>
  </section>
  <section>
    <div class="box">
      <div id="step-order" *ngFor="let step of stepsOrder">
        <div class="circle">
          {{ step.numberStep }}
        </div>
        <hr />
        <h2 class="header-step">{{ step.header | translate }}</h2>
        <div class="show-on-hover">
          <p class="content-step">{{ step.content | translate }}</p>
        </div>
      </div>
    </div>
  </section>
  <section id="how-works">
    <div class="header-left">
      <img [src]="ubsMainPageImages.ubsSignboard" class="ubs-image" alt="ubs-signboard" aria-hidden="true" />
    </div>
    <div class="header-right">
      <div id="main-content">
        <h2 id="header-how-works">{{ 'ubs-homepage.ubs-courier.how-works.header' | translate }}</h2>
        <p class="time-how">{{ 'ubs-homepage.ubs-courier.how-works.time.pre_1' | translate }}</p>
        <p class="time-how">{{ 'ubs-homepage.ubs-courier.how-works.time.pre_2' | translate }}</p>
        <div id="how-works-content">
          <p>
            {{ 'ubs-homepage.ubs-courier.how-works.content.pre_1' | translate }}
            <a target="_blank" href="https://shop.nowaste.com.ua/" rel="noopener">{{
              'ubs-homepage.ubs-courier.how-works.content.link' | translate
            }}</a>
          </p>
        </div>
        <button class="button primary-global-button" [disabled]="isFetching" (click)="redirectToOrder()">
          {{ 'ubs-homepage.header.btn-order-courier' | translate }}
        </button>
      </div>
    </div>
  </section>
</div>
