<div class="dialog-container">
  <h2 mat-dialog-title>Обрати тариф</h2>

  <div mat-dialog-content class="dialog-content">
    <div class="filters-block" [formGroup]="filtersForm">
      <div class="filter-wrapper">
        <mat-select
          class="filter-select"
          formControlName="regions"
          multiple
          (selectionChange)="onRegionSelectionChange()"
          [placeholder]="'Regions'"
        >
          <mat-option *ngFor="let region of regions" [value]="region.id">{{ region.name.en }}</mat-option>
        </mat-select>
      </div>
      <div class="filter-wrapper">
        <mat-select
          class="filter-select"
          formControlName="cities"
          multiple
          (selectionChange)="onRegionSelectionChange()"
          [placeholder]="'Cities'"
        >
          <mat-option *ngFor="let city of filteredCities" [value]="city.id">{{ city.name.en }}</mat-option>
        </mat-select>
      </div>
      <div class="filter-wrapper">
        <mat-select
          class="filter-select"
          formControlName="couriers"
          multiple
          (selectionChange)="onRegionSelectionChange()"
          [placeholder]="'Couriers'"
        >
          <mat-option *ngFor="let courier of couriers" [value]="courier.id">{{ courier.name.en }}</mat-option>
        </mat-select>
      </div>
      <div class="filter-wrapper">
        <mat-select
          class="filter-select"
          formControlName="stations"
          multiple
          (selectionChange)="onRegionSelectionChange()"
          [placeholder]="'Receiving stations'"
        >
          <mat-option *ngFor="let station of stations" [value]="station.id">{{ station.name }}</mat-option>
        </mat-select>
      </div>

      <!-- <mat-form-field appearance="legacy">
        <mat-placeholder>Region</mat-placeholder>
        <mat-select formControlName="regions" multiple (selectionChange)="onRegionSelectionChange()">
          <mat-option *ngFor="let region of regions" [value]="region.id">{{ region.name.en }}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- <mat-form-field appearance="legacy">
        <mat-placeholder>City</mat-placeholder>
        <mat-select formControlName="cities" multiple>
          <mat-option *ngFor="let city of filteredCities" [value]="city.id">{{ city.name.en }}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- <mat-form-field appearance="legacy">
        <mat-placeholder>Courier</mat-placeholder>
        <mat-select formControlName="couriers" multiple>
          <mat-option *ngFor="let courier of couriers" [value]="courier.id">{{ courier.name.en }}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- <mat-form-field appearance="legacy">
        <mat-placeholder>Receiving station</mat-placeholder>
        <mat-select formControlName="stations" multiple>
          <mat-option *ngFor="let station of stations" [value]="station.id">{{ station.name }}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>

    <table class="table-tariffs" aria-label="Tariffs list" [formGroup]="tariffsForm">
      <thead>
        <tr>
          <th class="col-region">Region</th>
          <th class="col-city">City</th>
          <th class="col-station">Station</th>
          <th class="col-courier">Courier</th>
          <th class="col-actions"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tariff of tariffs">
          <td>
            {{ tariff.region.en }}
          </td>
          <td>
            {{ tariff.location.en }}
          </td>
          <td>
            {{ tariff.station }}
          </td>
          <td>
            {{ tariff.courier.en }}
          </td>
          <td>
            <mat-checkbox [formControlName]="tariff.id"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div mat-dialog-actions class="controls">
    <button mat-flat-button class="cancel-button" type="button" (click)="onCancel()">Скасувати</button>
    <button mat-flat-button color="warn" class="submit-button" type="submit" (click)="onSubmit()">Обрати</button>
  </div>
</div>
