.dialog-container {
  width: 400px;

  .filters-block {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .filter-wrapper {
      height: 36px;
      border: 1px solid var(--ubs-primary-light-grey);
      border-radius: 4px;
      position: relative;

      input {
        padding-left: 15px;
        margin: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .table-tariffs {
    border-collapse: separate;
    border-spacing: 0 8px;
    padding-top: 10px;
    width: 100%;

    thead tr th {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: var(--ubs-primary-grey);
      padding: 4px 16px;
      border-bottom: 1px solid var(--ubs-primary-light-grey);
    }

    tbody tr {
      background: var(--ubs-primary-white);
      box-shadow: 0 2px 6px rgba(100, 114, 125, 0.15);

      td {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--ubs-quaternary-dark-grey);
        padding: 16px;
      }
    }
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 10px;

    .cancel-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background-color: transparent;
      border: 1px solid var(--ubs-quaternary-dark-grey);
    }

    .submit-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background: var(--ubs-button-light-green);
      border: 0;

      &:disabled {
        background-color: var(--ubs-primary-light-grey);
      }
    }
  }
}
