.dialog-container {
  min-width: 400px;

  .form-containter {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .tariffs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px;
    border: 1px solid black;

    .tariffs-header {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
      padding: 5px;
      font-weight: 500;

      div {
        text-align: center;
      }
    }

    .tariff {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
      padding: 5px;
      border: 1px solid black;

      div {
        text-align: center;
      }
    }
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 10px;

    .cancel-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background-color: transparent;
      border: 1px solid var(--ubs-quaternary-dark-grey);
    }

    .submit-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background: var(--ubs-button-light-green);
      border: 0;

      &:disabled {
        background-color: var(--ubs-primary-light-grey);
      }
    }
  }
}
