br {
  margin: 0;
}

p {
  margin: 0;
}

.custom-control-label {
  color: var(--ubs-secondary-grey);
  padding-left: 0;
  padding-top: 3px;
}

.custom-control-label::before {
  background-color: var(--ubs-primary-white);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--ubs-primary-green);
  border-radius: 50%;
}