.dialog-container {
  min-width: 400px;
  max-width: 600px;

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 10px;

    .cancel-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background-color: transparent;
      border: 1px solid var(--ubs-quaternary-dark-grey);
    }

    .submit-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background: var(--ubs-button-light-green);
      border: 0;

      &:disabled {
        background-color: var(--ubs-primary-light-grey);
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .dialog-container {
    min-width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;

    .controls {
      display: flex;
      flex-direction: column-reverse;
      gap: 15px;

      .cancel-button {
        width: 60vw;
      }
    }

    .mat-dialog-actions {
      margin: 0;

      .mat-button-base + .mat-button-base,
      .mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
        margin: 0;
        width: 60vw;
      }
    }

    .mat-dialog-title {
      text-align: center;
      margin: 20px 50px;
    }
  }
}
