.dialog-container {
  min-width: 400px;

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 10px;

    .cancel-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background-color: transparent;
      border: 1px solid var(--ubs-quaternary-dark-grey);
    }

    .submit-button {
      height: 36px;
      font-family: var(--primary-font);
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 24px;
      color: var(--ubs-quaternary-dark-grey);
      border-radius: 4px;
      background: var(--ubs-button-light-green);
      border: 0;

      &:disabled {
        background-color: var(--ubs-primary-light-grey);
      }
    }
  }
}
