$inputHeight: 36px;
$backgroundColor: var(--primary-white);

@mixin button {
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin: 40px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: var(--primary-white);
  font-family: var(--primary-font);

  .spinner-border {
    margin-right: 10px;
  }
}

:host {
  flex: 1 1 auto;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  z-index: 100;

  .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    box-shadow:
      0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12);
    background: $backgroundColor;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    max-height: 760px;
    z-index: 200;
    overflow-y: scroll;

    .left-side {
      display: flex;
      align-items: center;
    }

    .right-side {
      width: 100%;
      max-width: 480px;
      flex-direction: column;
      justify-content: center;

      .close-modal-window {
        display: flex;
        justify-content: flex-end;
        margin: 26px 26px 22px 22px;
      }

      .cross-btn {
        width: 12px;
        height: 12px;
      }

      .confirm-password-container {
        margin: 0 56px;
      }

      h1 {
        margin-bottom: 8px;
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: var(--tertiary-dark-grey);
      }

      h2 {
        margin-bottom: 40px;
        font-family: var(--primary-font);
        font-size: 16px;
        line-height: 24px;
        color: var(--primary-dark-grey);
      }

      .restore-password {
        max-width: 368px;

        .content-label {
          margin: 21px 0 4px;
          font-size: 12px;
          line-height: 14px;
          color: var(--primary-dark-grey);
        }

        .restore-password-form {
          display: flex;
          flex-direction: column;

          label[for='password'] {
            margin-bottom: 4px;
            font-family: var(--primary-font);
            font-size: 16px;
            line-height: 24px;
            color: var(--quaternary-grey);
          }

          .main-data-input-password {
            border: 1px solid var(--secondary-grey);
            border-radius: 5px;

            input {
              font-family: var(--primary-font);
              font-size: 14px;
              line-height: 20px;
              background: var(--primary-white);
              color: var(--primary-dark-grey);
              border-radius: 5px;
              padding: 8px;
              height: $inputHeight;
            }

            input:focus {
              outline: none;
            }

            input[type='password'],
            input[type='text'] {
              border: transparent;
              width: 90%;
            }
          }

          .wrong-input {
            border: 1px solid var(--error-ligh-red);
          }

          .error-message {
            height: 21px;
            font-size: 10px;
            line-height: 12px;
            color: var(--error-ligh-red);
          }

          .show-password {
            width: 10%;
            background: $backgroundColor;
          }

          .show-password-img {
            width: 16px;
            height: 16px;
            cursor: pointer;
          }
        }

        .greenStyle {
          @include button;

          background-color: var(--primary-green);

          &:disabled {
            background-color: var(--success-light-green);
          }
        }

        .ubsStyle {
          @include button;

          background-color: var(--ubs-button-light-green);
          color: var(--ubs-quaternary-dark-grey);

          &:disabled {
            background-color: var(--ubs-quaternary-light-grey);
            color: var(--ubs-secondary-grey);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .main-container > .wrapper {
    width: 100%;
    max-width: 480px;

    .left-side {
      display: none;
    }
  }
}
