<div *ngIf="orders.length !== 0" class="header_list">
  <div class="header_list-item">{{ 'user-orders.order-number' | translate }}</div>
  <div class="header_list-item">{{ 'user-orders.order-date' | translate }}</div>
  <div class="header_list-item">{{ 'user-orders.order-status' | translate }}</div>
  <div class="header_list-item">{{ 'user-orders.order-payment-status' | translate }}</div>
  <div class="header_list-item">{{ 'user-orders.payment-amount' | translate }}</div>
</div>
<div *ngFor="let order of orders" class="card">
  <div class="empty_card">
    <div class="order_arrow">
      <img *ngIf="order.extend" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" (click)="changeCard(order.id)" />
      <img *ngIf="!order.extend" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" (click)="changeCard(order.id)" />
    </div>
    <div class="order_id">{{ order.id }}</div>
    <div class="order_date">{{ order.orderDate }}</div>
    <div class="order_statusName">{{ order.orderStatusName }}</div>
    <div class="order_payStatus">{{ order.paymentStatus }}</div>
    <div class="order_sum">{{ order.orderDiscountedPrice | currency | localizedCurrency }}</div>
    <div class="btns_group">
      <div *ngIf="isOrderFormed(order)" class="btn_grid_cancel">
        <button class="btn_cancel">{{ 'user-orders.btn.cancel' | translate }}</button>
      </div>
      <div *ngIf="isOrderUnpaid(order)" class="btn_grid_pay">
        <button class="btn_pay">{{ 'user-orders.btn.pay' | translate }}</button>
      </div>
      <div *ngIf="isOrderDone(order)" class="btn_grid_order">
        <button class="btn_order">{{ 'user-orders.btn.order-again' | translate }}</button>
      </div>
    </div>
  </div>
  <div *ngIf="order.extend">
    <app-ubs-user-order-details [order]="order"></app-ubs-user-order-details>
  </div>
</div>
