::ng-deep {
  .mat-tab-label-content {
    font-size: 20px;
  }

  .mat-tab-labels .mat-tab-label-active {
    .mat-tab-label-content {
      color: var(--ubs-button-light-green);
    }
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--primary-green);
  }
}

.header_list {
  display: grid;
  grid-template-columns: 120px 110px 128px 94px 104px;
  grid-template-rows: 30px;
  grid-column-gap: 33px;
  max-width: 1010px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 40px;
  line-height: 20px;
  border: none;
  text-align: start;
  margin-left: 63px;
}

.card {
  display: grid;
  grid-template-rows: 80px auto;
  background-color: var(--ubs-primary-white);
  box-shadow: 0 2px 6px rgba(100, 114, 125, 0.15);
  max-width: 1010px;
  margin-top: 18px;
}

.empty_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &-arrows {
    margin-left: 26px;
    cursor: pointer;
  }

  &-id {
    margin-left: 26px;
  }

  &-date {
    margin-left: 116px;
  }

  &-status {
    margin-left: 63px;
  }

  &-paymentStatus {
    margin-left: 67px;
  }

  .order_sum {
    margin-left: 27px;
  }

  .btns_group {
    display: flex;
    margin: 0 10px 0 auto;

    .btn_grid_cancel,
    .btn_grid_pay,
    .btn_grid_fake {
      max-width: 114px;
      margin: 0 0 0 10px;

      .btn_pay {
        height: 36px;
        border: none;
        color: var(--ubs-quaternary-dark-grey);
        padding: 8px 20px 8px 20px;
        background: var(--ubs-button-light-green);
        border-radius: 4px;
      }

      .btn_cancel {
        height: 36px;
        width: 114px;
        color: var(--ubs-quaternary-dark-grey);
        background: var(--ubs-primary-white);
        border: 1px solid var(--ubs-quaternary-dark-grey);
        border-radius: 4px;
      }

      .btn_fake {
        display: none;
      }
    }

    .btn_grid_order {
      margin: 0 20px 0 64px;

      .btn_order {
        height: 36px;
        color: var(--ubs-button-light-green);
        border: 1px solid var(--ubs-button-light-green);
        padding: 8px 24px 8px 24px;
        background: var(--ubs-quaternary-dark-grey);
        border-radius: 4px;
      }
    }
  }
}
