<div class="main">
  <div class="menu">
    <mat-tab-group (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedIndex" animationDuration="0ms">
      <mat-tab label="{{ 'profile.dashboard.my-habits' | translate }}">
        <hr />
        <div *ngIf="!loading; else spinner">
          <div *ngIf="habitAssignService.habitsInProgress.length || habitsAcquired.length">
            <div class="in-progress header">
              <p>
                <app-set-count [remainingCount]="habitAssignService.habitsInProgress.length" [tabName]="'habits'">
                  {{ 'profile.dashboard.habits-inprogress' | translate }} <br />
                </app-set-count>
              </p>
              <a [routerLink]="['/profile', userId, 'allhabits']">
                <div class="secondary-global-button s-btn" id="create-button-new-habit">
                  <span>{{ 'profile.dashboard.add-new-habit' | translate }}</span>
                </div>
              </a>
            </div>
            <div *ngIf="habitAssignService.habitsInProgress" class="body">
              <app-one-habit
                (nowAcquiredHabit)="changeStatus($event)"
                *ngFor="let habit of habitAssignService.habitsInProgressToView"
                [habit]="habit"
              >
              </app-one-habit>
            </div>
            <button
              (click)="getMoreHabitsInProgressForView()"
              *ngIf="habitAssignService.habitsInProgress.length > habitAssignService.habitsInProgressToView.length"
              class="btn-view-more"
            >
              {{ 'profile.dashboard.habits-view-more' | translate }}
            </button>
            <div class="acquired header">
              <p>
                <app-set-count [remainingCount]="habitsAcquired.length" [tabName]="'habits'">
                  {{ 'profile.dashboard.habits-acquired' | translate }} <br />
                </app-set-count>
              </p>
            </div>
            <div *ngIf="habitsAcquired" class="body">
              <app-one-habit *ngFor="let habit of habitsAcquiredToView" [habit]="habit"></app-one-habit>
            </div>
          </div>
          <button
            (click)="getMoreHabitsAcquiredForView()"
            *ngIf="habitsAcquired.length > habitsAcquiredToView.length"
            class="btn-view-more"
          >
            {{ 'profile.dashboard.habits-view-more' | translate }}
          </button>
          <div *ngIf="!(habitAssignService.habitsInProgress.length || habitsAcquired.length)" class="no-data">
            <app-no-data [text]="'profile.dashboard.no-habits-in-progress-advice'" [title]="'profile.dashboard.no-habits-in-progress'">
            </app-no-data>
            <a [routerLink]="['/profile', userId, 'allhabits']">
              <div class="secondary-global-button m-btn" id="create-button-add-new-habit">
                <span>{{ 'profile.dashboard.add-new-habit' | translate }}</span>
              </div>
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'profile.dashboard.my-news' | translate }}">
        <hr />
        <div *ngIf="!loading; else spinner">
          <div class="in-progress header">
            <p>
              <app-set-count [remainingCount]="totalNews" [tabName]="'news'">
                {{ 'profile.dashboard.news-list' | translate }} <br />
              </app-set-count>
            </p>
            <a [routerLink]="['/news/create-news']">
              <div class="secondary-global-button s-btn" id="create-button-news">
                <span>{{ 'profile.dashboard.add-news' | translate }}</span>
              </div>
            </a>
          </div>
          <div class="news-body">
            <div
              (scrolled)="onScroll()"
              [infiniteScrollDisabled]="!isActiveNewsScroll"
              [infiniteScrollDistance]="1"
              [infiniteScrollThrottle]="100"
              class="scrolling"
              infinite-scroll
            >
              <ul class="news-list">
                <li *ngFor="let data of news" [routerLink]="['/news', data.id]">
                  <app-one-news [ecoNewsModel]="data"></app-one-news>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="{{ 'homepage.events.my-space.tag-title' | translate }}">
        <hr />
        <div *ngIf="!loading; else spinner">
          <div *ngIf="!isFavoriteBtnClicked" class="in-progress header" id="my-events">
            <div class="buttons-wrapper">
              <a [routerLink]="['/events/create-event']">
                <div class="secondary-global-button s-btn" id="create-button-event">
                  <span>{{ 'profile.dashboard.add-event' | translate }}</span>
                </div>
              </a>
              <div (click)="goToFavorites()" class="favourites">
                <span class="flag-active"></span>
              </div>
            </div>
            <div class="events-filter">
              <div class="events-types">
                <mat-checkbox (ngModelChange)="onCheckboxChange('ONLINE')" [(ngModel)]="isOnlineChecked" class="checkbox" color="primary">
                  {{ 'homepage.events.my-space.event-type-online' | translate }}
                </mat-checkbox>
                <mat-checkbox (ngModelChange)="onCheckboxChange('OFFLINE')" [(ngModel)]="isOfflineChecked" class="checkbox" color="primary"
                  >{{ 'homepage.events.my-space.event-type-offline' | translate }}
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div *ngIf="isFavoriteBtnClicked" class="in-progress header">
            <div (click)="escapeFromFavorites()" class="button-arrow">
              <img [src]="images.arrowLeft" alt="arrow" aria-hidden="true" class="button-arrow-img" />
              <div class="edit-events">{{ 'create-event.back' | translate }}</div>
            </div>
          </div>
          <div
            (scrolled)="getUserEvents()"
            [infiniteScrollDisabled]="!isActiveEventsScroll"
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="100"
            class="scrolling"
            infinite-scroll
          >
            <ul *ngIf="totalEvents && !isFavoriteBtnClicked" class="news-list">
              <li *ngFor="let eventItem of eventsList">
                <app-events-list-item [event]="eventItem" [isUserAssignList]="true" [userId]="userId"></app-events-list-item>
              </li>
            </ul>
          </div>
          <div
            (scrolled)="getUserFavouriteEvents()"
            *ngIf="isFavoriteBtnClicked"
            [infiniteScrollDisabled]="!isActiveFavoriteEventsScroll"
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="100"
            class="scrolling"
            infinite-scroll
          >
            <ul class="news-list">
              <li *ngFor="let eventItem of favouriteEvents">
                <app-events-list-item
                  (idOfUnFavouriteEvent)="removeUnFavouriteEvent($event)"
                  [event]="eventItem"
                  [isUserAssignList]="true"
                  [userId]="userId"
                ></app-events-list-item>
              </li>
            </ul>
          </div>

          <div *ngIf="!this.totalEvents" class="no-data">
            <app-no-data [text]="'profile.dashboard.no-events-advice'" [title]="'profile.dashboard.no-events'"></app-no-data>
            <a [routerLink]="['/events']">
              <div class="secondary-global-button m-btn" id="create-button-join-event">
                <span>{{ 'profile.dashboard.join-event' | translate }}</span>
              </div>
            </a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</div>
