<div id="list-gallery-content">
  <div class="list-image">
    <img class="list-image-content"
         [src]="profileIcons.newsDefaultPictureGallery"
         alt="user added image" />
  </div>
  <div class="filter-tag">
    <div class="ul-eco-buttons"
         *ngFor="let tag of ecoNewsModel.tags">
      {{ tag }}
    </div>
  </div>
  <div class="title-list">
    <p>
      {{ ecoNewsModel.title | slice: 0:170 }}
    </p>
  </div>
  <div class="list-text">
    <p>
      {{ newsText }}
    </p>
  </div>
  <div class="user-data-added-news">
    <p class="user-data-text-date">
      <img class="icon"
           [src]="profileIcons.calendarIcon"
           alt="calendar icon" />
      {{ ecoNewsModel.creationDate | date}}
    </p>
    <p class="user-data-text-date">
      <img class="icon"
           [src]="profileIcons.userIcon"
           alt="user icon" />
      {{ ecoNewsModel.author.name }}
    </p>
  </div>
</div>
