<div class="request-item" (click)="redirectToFriendPage()">
  <app-user-profile-image
    [imgPath]="request.profilePicturePath"
    [firstName]="request.name"
    class="request-img"
    [additionalImgClass]="'friend-item'"
  >
  </app-user-profile-image>
  <div class="request-info">
    <div class="main-info" [ngClass]="request.profilePicturePath ? 'friend-with-photo' : 'friend-without-photo'">
      <p class="request-name">{{ request.name }}</p>
      <p class="request-rate" [ngClass]="request.profilePicturePath ? 'rate-with-photo' : 'rate-without-photo'">{{ request.rating }}</p>
    </div>
    <p class="request-mutual">{{ request.mutualFriends }} {{ 'profile.friends.mutual-friends' | translate }}</p>
    <p class="request-city">{{ request.city }}</p>
  </div>
  <div class="request-btn">
    <button (click)="accept(request.id); $event.stopPropagation()">{{ 'profile.friends.request-accept' | translate }}</button>
    <button (click)="decline(request.id); $event.stopPropagation()">{{ 'profile.friends.request-decline' | translate }}</button>
  </div>
</div>
