p,
div {
  margin: 0;
  padding: 0;
}

.search_item-wrp {
  margin: 20px 0 40px;
}

.search_item-tag {
  font-family: var(--primary-font);
  font-size: 0.9rem;
  color: var(--primary-green);
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1rem;
}

.search_item-title {
  margin: 8px 0 0 0;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--quaternary-dark-grey);
  line-height: 1.6rem;

  a {
    color: var(--quaternary-dark-grey);

    p {
      overflow-wrap: break-word;
    }
  }

  a:hover {
    color: var(--secondary-dark-green);
  }
}

.list-text {
  margin: 8px 0 0 0;
  font-family: var(--primary-font);
}

.search_item-preview-text {
  font-family: var(--primary-font);
  color: var(--quaternary-dark-grey);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.search_item-data-added-news {
  margin: 8px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.user-data-text-date-share,
.search_item-text {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--secondary-grey);
  opacity: 0.6;
  mix-blend-mode: normal;
}

.search_item-text {
  margin-right: 1rem;
}

.search_item-icon {
  align-items: center;
  margin-right: 4px;
  margin-top: -3px;
}
