<div class="inner">
  <h1 mat-dialog-title class="title">{{ 'export-excel-popup.select-data' | translate }}</h1>
  <div [ngClass]="{ 'disabled-class': isLoading }" class="box">
    <mat-radio-group ngDefaultControl aria-label="Select an option" class="buttons-box" [(ngModel)]="tableView">
      <mat-radio-button value="currentFilter" class="item">{{ 'export-excel-popup.current' | translate }} </mat-radio-button>
      <mat-radio-button value="wholeTable" class="item">{{ 'export-excel-popup.all' | translate }}</mat-radio-button>
      <mat-radio-button *ngIf="isElementSelected" value="selectedOrders" class="item">{{
        'export-excel-popup.selected' | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="d-flex justify-content-end" mat-dialog-actions [ngClass]="{ 'disabled-class': isLoading }">
    <button class="secondary-global-button btn" mat-dialog-close>
      {{ 'export-excel-popup.buttons.cancel' | translate }}
    </button>
    <button class="primary-global-button btn" (click)="saveTable()">
      {{ 'export-excel-popup.buttons.next' | translate }}
    </button>
  </div>
</div>
