.container {
  font-family: var(--ubs-quaternary-font);
}

.form__wrapper {
  padding: 0 15px;
  margin-bottom: 22px;
}

.form__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
  margin-bottom: 30px;
  margin-top: 36px;
}

.form__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--ubs-quaternary-dark-grey);
  letter-spacing: 0.1px;
}

.form__label {
  color: var(--ubs-secondary-grey);
  font-size: 16px;
  line-height: 24px;
}

.form-group {
  margin-right: 30px;
  margin-bottom: 10px;
}

.person-name {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
}

.btn {
  color: var(--ubs-primary-green);
  background: var(--ubs-primary-white);
  width: 177px;
  margin-bottom: 14px;
  border: 1px solid var(--ubs-primary-green);
  box-sizing: border-box;
  border-radius: 4px;
}

.violation__item {
  margin-right: 38px;
}

input.ng-invalid.ng-touched {
  border: 1px solid var(--ubs-error-ligh-red);
}

input {
  position: static;
  height: 36px;
  left: calc(50% - 170px);
  top: calc(50% - 28px);
  background: var(--ubs-primary-white);
  border: 1px solid var(--ubs-quintynary-light-grey);
  box-sizing: border-box;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  input {
    width: 340px;
  }
}

.empty_card {
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    display: inline;
  }

  img {
    width: 20px;
    margin-right: 20px;
  }
}

.active,
.empty_card:hover {
  cursor: pointer;
}

.active {
  color: var(--ubs-electric-violet);
}

.name-input {
  margin: 0 20px 0 0;
  max-width: 160px;
  padding: 10px;
}

.ng-invalid:not(div) {
  border: 1px solid var(--error-ligh-red);
}

.error-message {
  font-size: 10px;
  line-height: 12px;
  color: var(--error-ligh-red);
  display: inline-block;
  width: fit-content;
  vertical-align: middle;
}
