<div class="container">
  <div class="form" [formGroup]="userInfoDto">
    <div class="empty_card" (click)="openDetails()">
      <img *ngIf="!pageOpen" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" />
      <img *ngIf="pageOpen" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" />
      <h3 class="form__headline">{{ 'customer-info.title' | translate }}</h3>
    </div>
    <div *ngIf="pageOpen">
      <div class="form__wrapper row d-flex">
        <div class="form__block col-md-4 col-sm-6">
          <div class="form-group">
            <p class="form__subtitle">
              {{ 'customer-info.customer.title' | translate }}
            </p>
            <div class="person-name">
              <label class="form__label" for="customer-name">
                {{ 'customer-info.customer.name-label' | translate }}
              </label>
              <label class="form__label" for="customer-surname">
                {{ 'customer-info.customer.surname-label' | translate }}
              </label>
              <input class="name-input form-control" type="text" id="customer-surname" placeholder="{{ userInfo.customerName }}" disabled />
              <input class="name-input form-control" type="text" id="customer-name" placeholder="{{ userInfo.customerSurName }}" disabled />
            </div>
          </div>
          <div class="form-group">
            <label class="form__label" for="customer-tel">
              {{ 'customer-info.customer.tel-label' | translate }}
            </label>
            <input class="form-control" type="tel" id="customer-tel" placeholder="{{ userInfo.customerPhoneNumber }}" disabled />
          </div>
          <div class="form-group">
            <label class="form__label" for="customer-email">
              {{ 'customer-info.customer.email-label' | translate }}
            </label>
            <input class="form-control" type="email" id="customer-email" placeholder="{{ userInfo.customerEmail }}" disabled />
          </div>
        </div>
        <div class="form__block col-md-4 col-sm-6">
          <div class="form-group">
            <p class="form__subtitle">{{ 'customer-info.recipient.title' | translate }}</p>
            <div class="person-name">
              <label class="form__label" for="recipient-name">
                {{ 'customer-info.recipient.name-label' | translate }}
              </label>
              <label class="form__label" for="recipient-surname">
                {{ 'customer-info.recipient.surname-label' | translate }}
              </label>
              <div>
                <input class="name-input form-control" type="text" id="recipient-name" formControlName="recipientName" />
                <div *ngIf="userInfoDto.controls['recipientName'].invalid && userInfoDto.controls['recipientName'].touched">
                  <div class="error-message">
                    {{ getErrorMessage(userInfoDto.controls['recipientName']) | translate }}
                  </div>
                </div>
              </div>
              <div>
                <input class="name-input form-control" type="text" id="recipient-surname" formControlName="recipientSurName" />
                <div *ngIf="userInfoDto.controls['recipientSurName'].invalid && userInfoDto.controls['recipientSurName'].touched">
                  <div class="error-message">
                    {{ getErrorMessage(userInfoDto.controls['recipientSurName']) | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form__label" for="recipient-tel">
              {{ 'customer-info.recipient.tel-label' | translate }}
            </label>
            <input
              class="form-control"
              type="tel"
              id="recipient-tel"
              placeholder="{{ 'customer-info.recipient.tel-placeholder' | translate }}"
              formControlName="recipientPhoneNumber"
              [unmask]="true"
              [imask]="{ mask: phoneMask }"
            />
          </div>
          <div *ngIf="userInfoDto.controls['recipientPhoneNumber'].invalid && userInfoDto.controls['recipientPhoneNumber'].touched">
            <div class="error-message">
              {{ getErrorMessage(userInfoDto.controls['recipientPhoneNumber'], 'recipientPhoneNumber') | translate }}
            </div>
          </div>
          <div class="form-group">
            <label class="form__label" for="recipient-email">
              {{ 'customer-info.recipient.email-label' | translate }}
            </label>
            <input
              class="form-control"
              type="email"
              id="recipient-email"
              placeholder="{{ 'customer-info.recipient.email-placeholder' | translate }}"
              formControlName="recipientEmail"
            />
            <div class="validation" *ngIf="recipientEmail.invalid && recipientEmail.touched">
              <app-ubs-input-error [formElement]="recipientEmail" [controlName]="'recipientEmail'"> </app-ubs-input-error>
            </div>
          </div>
        </div>
      </div>
      <div class="violation">
        <p class="form__subtitle">
          {{ 'customer-info.violation.title' | translate }}
        </p>
        <div class="violation__block d-flex">
          <div class="violation__item">
            <small class="form__label">
              {{ 'customer-info.violation.amount' | translate }}
            </small>
            <p>{{ totalUserViolations }}</p>
          </div>
          <div class="violation__item">
            <small class="form__label">
              {{ 'customer-info.violation.current-order' | translate }}
            </small>
            <p [class.active]="userViolationForCurrentOrder" (click)="userViolationForCurrentOrder && openModal(true)">
              {{ userViolationForCurrentOrder }}
            </p>
          </div>
        </div>
        <button class="btn" [disabled]="userViolationForCurrentOrder >= 1" type="button" (click)="openModal(false)">
          {{ 'customer-info.violation.button' | translate }}
        </button>
      </div>
    </div>
  </div>
  <hr />
</div>
