<div class="main-goal-list-container">
  <div class="goal-list-container" *ngIf="this.amount > 0">
    <span *ngFor="let goal of $goals | async">
      <span>
        <app-goal-item [goal]="goal"></app-goal-item>
      </span>
    </span>

    <div class="full-goal-list-container" (click)="isCollapse = !isCollapse">
      <span *ngIf="isCollapse" class="full-goal-list-text">
        Переглянути всі цілі
        <span class="full-goal-list-arrow">
          &#x27F6;
        </span>
      </span>
      <span *ngIf="!isCollapse" class="full-goal-list-text">
        Згорнути цілі
        <span class="full-goal-list-arrow">
          &#8592;
        </span>
      </span>
    </div>
  </div>

  <div class="goal-list-message" *ngIf="this.amount <= 0">
    <span>
      Тут ти можеш ставити цілі і їх виконувати!
    </span>
  </div>
</div>
