<div class="main-goal-list-container">
  <div class="goal-list-container" *ngIf="goals.length">

    <span *ngFor="let goal of getShortList()">
      <span>
        <app-goal-item [goal]="goal" (update)="update($event)"></app-goal-item>
      </span>
    </span>


    <div class="full-goal-list-container" (click)="isCollapse = !isCollapse">
      <span *ngIf="isCollapse" class="full-goal-list-text">
         Переглянути всі цілі
        <span class="full-goal-list-arrow">
         &#x27F6;
        </span>
      </span>
      <span *ngIf="!isCollapse" class="full-goal-list-text">
         Згорнути цілі
        <span class="full-goal-list-arrow">
         &#8592;
        </span>
      </span>
    </div>

  </div>

  <div class="goal-list-message" *ngIf="!goals.length">
      <span>
         Тут ти можеш ставити цілі і їх виконувати!
      </span>
  </div>
</div>
