<div class="ubs_profile-container mx-auto">
  <div class="container">
    <div class="row">
      <div class="ubs_profile-header">
        <div class="header-text">
          <h3>{{ 'ubs-client-profile.data' | translate }}</h3>
          <ng-container *ngIf="!isEditing">
            <button tabindex="0" class="btn btn-outline-success open" (click)="openChangePasswordDialog()">
              {{ 'ubs-client-profile.btn.change-password' | translate }}
            </button>
            <button tabindex="0" class="btn btn-outline-success delete" (click)="openDeleteProfileDialog()">
              {{ 'ubs-client-profile.btn.delete-profile' | translate }}
            </button>
          </ng-container>
        </div>
      </div>
      <div role="form" tabindex="0" id="form" class="input-group input-group-sm">
        <form *ngIf="!isFetching; else spinner" [formGroup]="userForm">
          <h5 [ngClass]="{ h5MarginBottom: isEditing }">{{ 'ubs-client-profile.personal' | translate }}</h5>
          <div class="personal inline">
            <div [ngClass]="{ inputMargin: isEditing }" class="form-group col-sm-6">
              <label for="recipientName">{{ 'ubs-client-profile.name' | translate }}</label>
              <input *ngIf="isEditing" type="text" class="form-control" id="recipientName" formControlName="recipientName" />
              <p *ngIf="!isEditing">{{ userProfile?.recipientName }}</p>
              <div *ngIf="getControl('recipientName').invalid && getControl('recipientName').touched">
                <div class="error-message">
                  {{ 'ubs-client-profile.error-message-if-edit-name-surname' | translate }}
                </div>
              </div>
            </div>
            <div [ngClass]="{ inputMargin: isEditing }" class="form-group col-sm-6">
              <label for="recipientSurname">{{ 'ubs-client-profile.surname' | translate }}</label>
              <input *ngIf="isEditing" type="text" class="form-control" id="recipientSurname" formControlName="recipientSurname" />
              <p *ngIf="!isEditing">{{ userProfile?.recipientSurname }}</p>
              <div *ngIf="getControl('recipientSurname').invalid && getControl('recipientSurname').touched">
                <div class="error-message">
                  {{ 'ubs-client-profile.error-message-if-edit-name-surname' | translate }}
                </div>
              </div>
            </div>
          </div>
          <h5 [ngClass]="{ h5MarginTop: isEditing }" class="profile-contacts-h5-style">{{ 'ubs-client-profile.contacts' | translate }}</h5>
          <div class="contacts inline">
            <div class="form-group col-sm-6">
              <label for="recipientEmail" class="form-label">{{ 'ubs-client-profile.email' | translate }}</label>
              <input
                *ngIf="isEditing"
                type="email"
                class="form-control"
                id="recipientEmail"
                [readonly]="true"
                formControlName="recipientEmail"
                aria-describedby="emailHelp"
              />
              <p *ngIf="!isEditing">{{ userProfile?.recipientEmail }}</p>
            </div>
            <div *ngIf="isEditing">
              <div class="wrapper-btn">
                <button aria-label="Add alternative email" class="btn-alternative-email" (click)="toggleAlternativeEmail()"></button>
                <p>{{ 'ubs-client-profile.btn.alternative-email' | translate }}</p>
              </div>
              <div *ngIf="alternativeEmailDisplay" class="form-group col-sm-6">
                <label for="recipientEmail" class="form-label">{{ 'ubs-client-profile.alternative-email' | translate }}</label>
                <input
                  *ngIf="isEditing"
                  type="email"
                  class="form-control"
                  id="recipientEmail"
                  [readonly]="false"
                  formControlName="alternateEmail"
                  aria-describedby="emailHelp"
                />
                <div *ngIf="getControl('alternateEmail').invalid && getControl('alternateEmail').touched">
                  <div class="error-message">
                    {{ 'user.auth.sign-in.this-is-not-email' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <label *ngIf="userProfile?.alternateEmail && !isEditing" class="form-label">{{
              'ubs-client-profile.alternative-email' | translate
            }}</label>
            <p *ngIf="!isEditing">{{ userProfile?.alternateEmail }}</p>
            <div class="form-group col-sm-6">
              <label for="recipientPhone" class="form-label">{{ 'ubs-client-profile.phone' | translate }}</label>
              <input
                *ngIf="isEditing"
                type="tel"
                class="form-control"
                id="recipientPhone"
                [formControl]="userForm.controls['recipientPhone']"
                placeholder="+380__ ___ __ __"
                [unmask]="true"
                [imask]="{ mask: phoneMask }"
              />
              <p *ngIf="!isEditing">{{ formatedPhoneNumber(userProfile?.recipientPhone) }}</p>
            </div>
            <div class="form-group col-sm-6">
              <label for="recipientNotification" [ngClass]="{ notificationEdit: isEditing }" class="form-label">{{
                'ubs-client-profile.get-notification-in' | translate
              }}</label>
            </div>
          </div>
          <div role="checkbox" class="checkbox-wrapper">
            <mat-checkbox class="check" type="checkbox" value="id1">Telegram</mat-checkbox>
            <mat-checkbox class="check" type="checkbox" value="id1">Viber</mat-checkbox>
          </div>
          <div class="address" formArrayName="address" *ngFor="let address of userForm.controls.address['controls']; let i = index">
            <h5>{{ 'ubs-client-profile.address' | translate }} №{{ i + 1 }}</h5>
            <div formGroupName="{{ i }}" class="ubs-cliend-profile-group">
              <div class="region inline">
                <div class="form-group col-sm-4">
                  <label for="region" class="form-label">{{ 'ubs-client-profile.region' | translate }}</label>
                  <input *ngIf="isEditing" type="text" class="form-control" id="region" formControlName="region" />
                  <p *ngIf="!isEditing">{{ address.value?.region }}</p>
                </div>
                <div class="form-group col-sm-4">
                  <label for="city" class="form-label">{{ 'ubs-client-profile.city' | translate }}</label>
                  <input *ngIf="isEditing" type="text" class="form-control" id="city" formControlName="city" />
                  <p *ngIf="!isEditing">{{ address.value?.city }}</p>
                </div>
              </div>
              <div class="house">
                <div class="form-group col-sm-4">
                  <label for="street" class="form-label">{{ 'ubs-client-profile.street' | translate }}</label>
                  <input *ngIf="isEditing" type="text" class="form-control" id="street" formControlName="street" />
                  <p *ngIf="!isEditing">{{ address.value?.street }}</p>
                </div>
                <div class="form-group col-sm-2">
                  <label for="houseNumber" class="form-label">{{ 'ubs-client-profile.house' | translate }}</label>
                  <input *ngIf="isEditing" type="text" class="form-control" id="houseNumber" formControlName="houseNumber" />
                  <p *ngIf="!isEditing">{{ address.value?.houseNumber }}</p>
                </div>
                <div class="form-group col-sm-2">
                  <label for="houseCorpus" class="form-label">{{ 'ubs-client-profile.corpus' | translate }}</label>
                  <input *ngIf="isEditing" type="text" class="form-control" id="houseCorpus" formControlName="houseCorpus" />
                  <p *ngIf="!isEditing">{{ address.value?.houseCorpus }}</p>
                </div>
                <div class="form-group col-sm-2">
                  <label for="entranceNumber" class="form-label">{{ 'ubs-client-profile.entrance' | translate }}</label>
                  <input *ngIf="isEditing" type="text" class="form-control" id="entranceNumber" formControlName="entranceNumber" />
                  <p *ngIf="!isEditing">{{ address.value?.entranceNumber }}</p>
                </div>
              </div>
              <div class="form-group col-sm-3 mrgbtn">
                <label for="district" class="form-label">{{ 'ubs-client-profile.district' | translate }}</label>
                <input *ngIf="isEditing" type="text" class="form-control" id="district" formControlName="district" />
                <p *ngIf="!isEditing">{{ address.value?.district }}</p>
              </div>
            </div>
          </div>
          <ng-container *ngIf="!isEditing">
            <button tabindex="0" id="btnfocus" [ngClass]="{ margbtn: !isEditing }" class="btn btn-outline-success edit" (click)="onEdit()">
              {{ 'ubs-client-profile.btn.edit' | translate }}
            </button>
          </ng-container>
          <div *ngIf="isEditing && userProfile.addressDto.length < maxAddressLength">
            <div class="wrapper-btn">
              <button aria-label="Add adrress" class="btn-alternative-email" (click)="openAddAdressDialog()"></button>
              <p>{{ 'ubs-client-profile.btn.add-address' | translate }}</p>
            </div>
          </div>
          <div class="submit-btns" *ngIf="isEditing">
            <button class="btn btn-success save" type="submit" (click)="onSubmit()" [disabled]="!userForm.valid">
              {{ 'ubs-client-profile.btn.save' | translate }}
            </button>
            <button class="btn btn-outline-success cancel" type="submit" (click)="onCancel()">
              {{ 'ubs-client-profile.btn.cancel' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <app-spinner class="mx-auto"></app-spinner>
  </ng-template>
</div>
