$btnblackcol: #1d2830;
$whitecol: white;

@mixin turnoffboxshadow {
  box-shadow: none;
}

@mixin btnstyle {
  width: 168px;
  height: 36px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.ubs_profile-container {
  font-family: var(--primary-font);
  font-size: 0.9em;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .ubs_profile-header {
    width: 905px;
    display: flex;
    justify-content: space-between;

    .header-text {
      display: flex;
      width: 1000px;
      align-items: baseline;

      .open {
        @include btnstyle;
        margin-left: 250px;
        color: $btnblackcol;
        border-color: $btnblackcol;
      }

      .open:hover {
        background-color: #eff0f1;
        border-color: var(--ubs-quaternary-dark-grey);
      }

      .open:active {
        @include turnoffboxshadow;
      }

      .open:focus {
        @include turnoffboxshadow;
      }

      .open:not(:disabled):not(.disabled):active {
        background-color: $whitecol;
        @include turnoffboxshadow;
      }

      .delete {
        @include btnstyle;
        color: var(--ubs-primary-red);
        border: none;
      }

      .delete:hover {
        background-color: $whitecol;
        border-color: $whitecol;
      }

      .delete:active {
        box-shadow: none;
        background-color: $whitecol;
      }

      .delete:focus {
        box-shadow: none;
      }
    }
  }

  .input-group {
    background-color: $whitecol;
    padding: 20px;
    width: 905px;
    box-shadow: 4px 4px 10px rgba(151, 151, 151, 0.3);
    border-radius: 10px;

    form {
      margin-left: 40px;
      width: 100%;
    }
  }

  .house {
    display: flex;

    div {
      margin-right: 30px;
    }
  }

  input {
    font-size: 1em;
  }

  input.ng-invalid.ng-touched {
    border: 1px solid var(--ubs-error-ligh-red);
  }

  button {
    margin: 53px 30px 30px 0px;
    font-family: var(--secondary-font);
  }

  .btn-ubs-outline-success {
    color: var(--ubs-button-light-green);
    border-color: var(--ubs-button-light-green);
  }

  .edit {
    @include btnstyle;
    color: var(--ubs-electric-violet);
    border-color: var(--ubs-electric-violet);
    margin-left: 0px;
  }
  .edit:hover {
    background-color: $whitecol;
  }

  .edit:not(:disabled):not(.disabled):active {
    background-color: $whitecol;
  }

  .edit:focus {
    box-shadow: none;
  }

  .margbtn {
    margin: 26px 30px 20px 0px;
  }

  .h5MarginBottom {
    margin: 0 0 14px 0;
    padding: 0;
  }

  .h5MarginTop {
    margin: 28px 0 10px 0;
  }

  h5 {
    font-weight: bold;
    margin: 0px 0 18px 0px;
    padding: 0;
  }

  .profile-contacts-h5-style {
    font-weight: thin;
  }

  h3 {
    font-weight: bold;
    color: $btnblackcol;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 250px;
  }

  .form-group {
    p {
      padding: 10px 13px 13px 0;
      color: $btnblackcol;
      font-size: 16px;
    }
  }

  .inline {
    display: flex;
    justify-content: space-between;
    width: 247px;

    .col-sm-6 {
      padding: 0;
      margin-bottom: 0;

      .notificationEdit {
        margin-top: 20px;
      }

      .form-control {
        background-color: $whitecol;
      }

      label {
        margin: 0 0 0 1px;
        color: var(--ubs-secondary-grey);
      }
    }
  }

  .submit-btns {
    width: 905px;
    display: flex;
    justify-content: flex-start;

    button {
      width: 163px;
      height: 36px;
      border-radius: 4px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    .save {
      background-color: var(--ubs-button-light-green);
      color: $btnblackcol;
      border: none;
    }

    .save:focus {
      @include turnoffboxshadow;
    }

    .cancel {
      background-color: $whitecol;
      color: $btnblackcol;
      border-color: $btnblackcol;
    }

    .cancel:focus {
      @include turnoffboxshadow;
    }
  }

  button:disabled {
    background-color: var(--ubs-primary-grey);
    border: 1px solid var(--ubs-primary-grey);
    color: var(--ubs-primary-white);
  }

  .ubs_profile-footer {
    width: 905px;

    .footer-text {
      margin: 20px;
    }

    .footer-btns {
      display: flex;
      justify-content: flex-start;
      margin: 0 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    }
  }

  .contacts {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1439px) {
  .ubs_profile-container {
    max-width: 800px;
  }
}

@media (max-width: 992px) {
  .ubs_profile-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .edit {
      margin-right: 10px;
    }
  }

  .ubs_profile-footer {
    .footer-btns {
      padding-right: 26px;
    }
  }

  .ubs_profile-container {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .ubs_profile-header {
    margin-left: 20px;
  }

  .ubs_profile-container .input-group {
    padding: 0;
  }

  .house {
    display: flex;
    flex-direction: column;

    div {
      margin-right: 30px;
    }
  }
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background,
::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: var(--ubs-quaternary-dark-grey) !important;
}

.checkbox-wrapper {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.inputMargin {
  margin-right: 140px;

  input {
    width: 260px;
  }
}

.wrapper-btn {
  display: flex;
  align-items: center;
  width: 300px;

  .btn-alternative-email {
    width: 16px;
    height: 16px;
    margin: 14px 0 22px 0;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    background-image: url(../../../../assets/img/ubs/Allternative-email-btn.svg);

    .alternative-email-subtite {
      margin: 14px 0 22px 0;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: #9ec848;
    }
  }

  p {
    margin: 14px 0 22px 10px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #9ec848;
  }
}

.address {
  .house {
    max-width: 400px;
  }

  .form-group {
    margin: 0;
    padding: 0;
    color: var(--ubs-secondary-grey);

    .col-sm-4 .city {
      margin-right: 150px;
    }
  }
}
