$inputwidth: 260px;

@mixin turnoffboxshadow {
  box-shadow: none;
}

.ubs_profile-container {
  font-family: var(--primary-font);
  font-size: 0.9em;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 19px;

  .ubs_profile-header {
    width: 100%;

    .header-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .header-buttons {
        display: flex;
        margin: 0 0 30px 30px;
      }
    }
  }

  .alert-data-message {
    font-size: 16px;
    margin: 0 0 30px 30px;
  }

  .input-group {
    background-color: var(--ubs-primary-white);
    padding: 44px;
    box-shadow: 4px 4px 10px rgba(151, 151, 151, 0.3);
    border-radius: 10px;

    form {
      width: 100%;
    }
  }

  input {
    font-size: 1em;

    &:focus {
      border: 1px solid var(--ubs-button-dark-green);
      box-shadow: none;
    }
  }

  input.ng-invalid.ng-touched {
    border: 1px solid var(--ubs-error-ligh-red);
  }

  .marg-btn {
    margin: 26px 30px 0 0;
  }

  .h5-margin-bottom {
    margin: 0 0 14px 0;
    padding: 0;
  }

  .h5-margin-top {
    margin: 28px 0 14px 0;
  }

  .localization {
    width: 210px;
  }

  h5 {
    font-weight: bold;
    margin: 10px 0 18px 0;
    padding: 0;
  }

  h3 {
    font-weight: bold;
    color: var(--ubs-quaternary-dark-grey);
    margin-bottom: 30px;
    margin-left: 30px;
    width: 250px;
  }

  .wrapper-btn {
    display: flex;
    align-items: center;
    width: 300px;

    .s-link {
      margin: 14px 0 22px 0;
    }
  }

  .form-group {
    p {
      padding: 0 13px 0 0;
      color: var(--ubs-quaternary-dark-grey);
      font-size: 16px;
      margin-bottom: 1px;
    }
  }

  .inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    //width: $inputwidth;

    .notificationEdit {
      margin-top: 20px;
    }

    .form-control {
      background-color: var(--ubs-primary-white);
    }

    .recipientName {
      width: $inputwidth;
    }

    .recipientSurname {
      width: $inputwidth;
    }

    .recipientEmail {
      width: $inputwidth + 65px;
    }

    .recipientPhone {
      width: $inputwidth - 70px;
    }

    .region,
    .street,
    .district {
      width: $inputwidth + 35px;
    }

    .city {
      width: $inputwidth - 20px;
    }

    .houseNumber,
    .houseCorpus,
    .entranceNumber {
      width: 64px;
    }

    label {
      margin-bottom: 10px;
      padding: 0;
      color: var(--ubs-secondary-grey);
      font-family: var(--primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    .col-sm-6 {
      padding: 0;
    }
  }

  .submit-btns {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 53px;
    gap: 30px;
  }

  .ubs_profile-footer {
    width: 905px;

    .footer-text {
      margin: 20px;
    }

    .footer-btns {
      display: flex;
      justify-content: flex-start;
      margin: 0 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    }
  }

  .contacts {
    display: block;
    width: 100%;
  }
}

.delete-address {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  order: 2;
  margin-right: 60px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 325px;

  .reset-button {
    border: none;
    background-color: transparent;
    position: absolute;
    left: 290px;

    img {
      height: 12px;
    }
  }
}

@media (max-width: 1439px) {
  .ubs_profile-container {
    max-width: 800px;

    .delete-address {
      margin-left: auto;
      order: 2;
      margin-right: 20px;
    }
  }
}

@media (max-width: 992px) {
  .ubs_profile-footer {
    .footer-btns {
      padding-right: 26px;
    }
  }

  .delete-address {
    margin-left: auto;
    order: 2;
    margin-right: 15px;
  }
}

@media (max-width: 600px) {
  .ubs_profile-header {
    margin-left: 20px;
  }

  .ubs_profile-container .input-group {
    padding: 0;
  }
}

.checkbox-wrapper {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .ubs-switcher {
    margin-top: 5px;
  }
}

.input-margin {
  margin-right: 60px;
}

.address .input-margin {
  margin-right: 25px;
}

.error-message {
  font-size: 10px;
  line-height: 12px;
  color: var(--error-ligh-red);
  display: inline-block;
  max-width: 260px;
  vertical-align: middle;
}

.social-media {
  font-size: 16px;
  line-height: 24px;
}

.alert-mess {
  width: 325px;
  font-size: 12px;
  line-height: 16px;
  color: #444e55;
}
