<div class="header">
  <h6>Ваше замовлення:</h6>
  <div class="order" *ngIf="ubsRow">
    <div class="order-details"><span>{{ ubsBag }}</span><span> ({{ ubsBagNum }} пакети)</span></div>
    <div class="order-details"><span #ubsSum>{{ ubsBagPrice }} грн</span></div>
  </div>
  <div class="order" *ngIf="XLRow">
    <div class="order-details"><span>{{ clothesBagXL }}</span><span> ({{ clothesBagXLNum }} пакети)</span></div>
    <div class="order-details"><span #clothesXLSum>{{ clothesBagXLPrice }} грн</span></div>
  </div>
  <div class="order" *ngIf="MRow">
    <div class="order-details"><span>{{ clothesBagM }}</span><span> ({{ clothesBagMNum }} пакети)</span></div>
    <div class="order-details"><span #clothesMSum>{{ clothesBagMPrice }} грн</span></div>
  </div>
  <hr>
  <div class="finalCost"><p><span>Використано бонусів: {{ usedPoints }}</span><br><span>До оплати: {{ total }} грн</span></p></div>
</div>
<div class="main">
  <h6>Дані замовника:</h6>
  <div class="personalData">
    <div class="data">
      <ul>
        <li>{{ lastName }} {{ firstName }}</li>
        <li>{{ email }}</li>
        <li>0{{ mobile }}</li>
      </ul>
    </div>
    <div class="data">
      <ul>
        <li>{{ city }}</li>
        <li>{{ district }}</li>
        <li><span>вул.{{ street }}, б.{{ houseNumber }}</span></li>
        <li><span>{{ comment }}</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="bottom">
  <h6>Оберіть спосіб оплати</h6>
  <div class="col-12 col-sm-12 form-group bottom-select">
    <select class="shadow-none form-control">
      <option value="Kyiv">Карткою через LiqPay</option>
    </select>
  </div>
  <div class="w-100 d-flex justify-content-end">
    <button class="secondary-global-button btn" matStepperPrevious>Назад</button>
    <button type="submit" class="primary-global-button btn">Замовити</button>
  </div>
</div>
