.calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid #28a745;
    width: 416px;
    max-height: 316px;
    height: 316px;
    background-color: white;

    .middle {
        align-self: center;
    }
}
