$inputHeight : 48px;
$mainTextColor : #2b292d;
$secondaryTextColor : #494a49;
$linkColor : #056b33;
$borderColor : #878787;
$errorColor : #f03127;

.restore-password-container {
  h1 {
    margin-bottom: 8px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: $mainTextColor;
  }

  h2 {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    height: 72px;
    margin-bottom: 40px;
    color: $secondaryTextColor;
  }

  .restore-password-form {
    display: flex;
    flex-direction: column;

    label[for="email"] {
      margin-bottom: 4px;
      font-family: var(--primary-font);
      font-size: 12px;
      line-height: 14px;
      color: $secondaryTextColor;
    }

    input {
      background: #fff;
      box-sizing: border-box;
      color: $secondaryTextColor;
      border-radius: 5px;
      padding: 11px 40px 11px 16px;
    }

    input[type=email] {
      height: $inputHeight;
      background: #fff;
      font-family: var(--primary-font);
      font-size: 16px;
      line-height: 24px;
      color: $secondaryTextColor;
      width: 368px;
    }

    input[type=email]:focus {
      outline: none;
    }
  }

  .send-btn {
    width: 368px;
    min-height: 48px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  .or-use-google {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 12px;
    color: $secondaryTextColor;
    margin-bottom: 8px;
  }

  .mentioned-password {
    margin-top: 198px;
    min-width: 320px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 16px;
    color: $secondaryTextColor;

    .sign-in-link {
      margin-left: 8px;
      text-decoration-line: underline;
      color: $linkColor;
    }
  }

  .google-sing-in-button {
    width: 368px;
    height: 40px;
  }

  .alert-email-validation {
    border: 1px solid $errorColor;
  }

  .successful-email-validation {
    border: 1px solid $borderColor;
  }

  .validation-email-error {
    color: $errorColor;
    font-size: 10px;
    line-height: 12px;
    font-family: var(--primary-font);
  }
}
