@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$generalFont : OpenSans, sans-serif;
$inputHeight : 48px;

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 960px;
  max-height: 760px;
  z-index: 5;

  .left-side {
    width: 50%;
    max-width: 480px;

    .main-picture{
      width: 100%;
      height: 100%;
      border-radius: 4px 0 0 4px;
    }
  }

  .right-side {
    width: 50%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .close-modal-window {
      display: flex;
      justify-content: flex-end;
      margin: 26px 26px 22px 12px;
    }

    .cross-btn {
      width: 12px;
      height: 12px;
    }

    h1 {
      margin: 0 56px 8px 56px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      color: #2B292D;
    }

    h2 {
      margin: 0 56px 40px 56px;
      font-family: $generalFont;
      font-size: 16px;
      line-height: 24px;
      height: 72px;
      color: #494A49;
    }

    .sign-in-form {
      margin: 10px 56px 0 56px;
      display: flex;
      flex-direction: column;

      label[for="email"] {
        margin-bottom: 4px;
        font-family: $generalFont;
        font-size: 12px;
        line-height: 14px;
        color: #494A49;
      }

      input {
        background: #FFFFFF;
        box-sizing: border-box;
        color: #494A49;
        border-radius: 5px;
        padding: 11px 40px 11px 16px;
      }

      input[type=email] {
        height: $inputHeight;
        background: #FFFFFF;
        font-family: $generalFont;
        font-size: 16px;
        line-height: 24px;
        color: #878787;
      }

      input[type=email]:focus {
       outline: none;
      }
    }

    .send-btn {
      min-height: 48px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 8px;
      margin-top: 40px;
    }
    
    .or-use-google {
      text-align: center;
      font-family: $generalFont;
      font-size: 12px;
      line-height: 12px;
      color: #494A49;
      margin-bottom: 8px;
    }

    .google-sign-in {
      padding: 0;
      height: 40px;
      width: 100%;
      background: #FFFFFF;
      border: 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24),
      0 0 2px rgba(0, 0, 0, 0.24);
      border-radius: 3px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .google-sign {
        display: block;
        align-self: stretch;
        padding: 0 0 0 10px;
      }

      .google-text-sign-in {
        display: block;
        flex-grow: 1;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.21875px;
        color: #494A49;
      }
    }

    .mentioned-password {
      margin: 200px 121px 40px 56px;
      font-family: $generalFont;
      font-size: 16px;
      line-height: 16px;
      color: #494A49;

      .sign-in-link {
        margin-left: 8px;
        text-decoration-line: underline;
        color:#056B33;
      }
    }
  }
}

.alert-email-validation {
  border: 1px solid #f03127;
  margin-bottom: 0;
}

.successful-email-validation {
  border: 1px solid #878787;
  margin-bottom: 21px;
}

.validation-email-error {
  color: #F03127;
  font-size: 10px;
  line-height: 12px;
  font-family: $generalFont;
  margin-bottom: 9px;
}
@media screen and (max-width: 768px) {

  .left-side {
    display: none;
  }

  .wrapper {
    width: 100%;

    .right-side {
      width: auto;
    }
  }
}
