@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.main {
  width: 99vw;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - -64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 960px;
  z-index: 5;
  background-color: #fff;
}

.wrapper .left-side {
  width: 50%;
  max-width: 480px;
}

.wrapper .left-side .main-picture {
  width: 100%;
  height: 100%;
  border-radius: 4px 0 0 4px;
}

.wrapper .right-side {
  max-width: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .right-side .close-modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 26px 26px 22px 22px;
}

.wrapper .right-side .cross-btn {
  width: 12px;
  height: 12px;
}

.wrapper .right-side h1 {
  margin: 0 56px 8px 56px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #2b292d;
}

.wrapper .right-side h2 {
  margin: 0 56px 40px 56px;
  font-family: opensans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 72px;
  color: #494a49;
}

.wrapper .right-side .sign-in-form {
  margin: 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .right-side .sign-in-form label[for="email"] {
  margin-bottom: 4px;
  font-family: opensans, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #494a49;
}

.wrapper .right-side .sign-in-form input {
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #494a49;
  border-radius: 5px;
  padding: 11px 40px 11px 16px;
}

.wrapper .right-side .sign-in-form input[type=email] {
  height: 48px;
  background: #fff;
  font-family: opensans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #494a49;
  margin-bottom: 0;
}

.wrapper .right-side .sign-in-form input[type=email]:focus {
  outline: none;
}

.wrapper .right-side .send-btn {
  min-height: 48px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 8px;
  margin-top: 40px;
}

.wrapper .right-side .or-use-google {
  text-align: center;
  font-family: opensans, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #494a49;
  margin-bottom: 8px;
}

.wrapper .right-side .google-sign-in {
  padding: 0;
  height: 40px;
  width: 100%;
  background: #fff;
  border: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .right-side .google-sign-in .google-sign {
  display: block;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 0 0 0 10px;
}

.wrapper .right-side .google-sign-in .google-text-sign-in {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.21875px;
  color: #494a49;
}

.wrapper .right-side .mentioned-password {
  min-width: 320px;
  margin: 200px 107px 40px 48px;
  font-family: opensans, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #494a49;
}

.wrapper .right-side .mentioned-password .sign-in-link {
  margin-left: 8px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #056b33;
}

.alert-email-validation {
  border: 1px solid #f03127;
  margin-bottom: 0;
}

.successful-email-validation {
  border: 1px solid #878787;
  margin-bottom: 21px;
}

.validation-email-error {
  color: #f03127;
  font-size: 10px;
  line-height: 12px;
  font-family: opensans, sans-serif;
  margin-bottom: 9px;
}

@media screen and (max-width: 992px) {
  .left-side {
    display: none;
  }
  .wrapper {
    width: 100%;
    max-width: 480px;
  }
}
/*# sourceMappingURL=restore-password.component.css.map */