<div class="restore-password-container">
  <h1>{{'user.auth.forgot-password.title' | translate}}</h1>
  <h2>{{'user.auth.forgot-password.fill-form' | translate}}</h2>
  <form class="restore-password-form"
        (ngSubmit)="sentEmail(userOwnSignIn)"
        [formGroup]="restorePasswordForm">
    <label for="email">{{'user.auth.sign-in.email' | translate}}</label>
    <input id="email"
            type="email"
            placeholder="example@email.com"
            formControlName="email"
            name="email"
            (input)="configDefaultErrorMessage()"
            [ngClass]="emailField.invalid &&
                      emailField.touched ||
                      backEndError ||
                      emailErrorMessageBackEnd?
              'alert-email-validation':'successful-email-validation'">
              <div class="validation-email-error" *ngIf="emailField.invalid && emailField.touched">
                <app-error [formElement]="emailField"
                          [controlName]="'required'"></app-error>
              </div>
    <div class="validation-email-error"
          *ngIf="emailErrorMessageBackEnd!=null">
      {{emailErrorMessageBackEnd}}
    </div>
    <button class="send-btn primary-global-button"
            type="submit"
            [disabled]="!restorePasswordForm.valid"
            >
      <span *ngIf="loadingAnim"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true">
      </span>
      {{'user.auth.forgot-password.send-btn' | translate}}
    </button>
    <span class="or-use-google">{{'user.auth.forgot-password.or-signin' | translate}}</span>
    <app-google-btn (click)="signInWithGoogle()"
                    class="google-sing-in"
                    [text]="'user.auth.sign-in.sign-in-with-google'"></app-google-btn>
  </form>
  <div class="mentioned-password">
    <p>{{'user.auth.forgot-password.remember-your-password' | translate}}
      <a (click)="onBackToSignIn('sign-in')"
         (keyup.enter)="signInWithGoogle()"
         tabindex="0"
         class="sign-in-link">
        {{'user.auth.forgot-password.back-to-the-sign-in' | translate}}
      </a>
    </p>
  </div>
</div>
