<div class="main">
<div class="wrapper">
  <div class="left-side">
    <img class="main-picture"
         [src]="mainSignInImage.signInMainImg"
         alt="sign-in image">
  </div>
  <div class="right-side">
    <a (click)="onCloseRestoreWindow()"
       class="close-modal-window">
      <img class="cross-btn"
           [src]="closeBtn.closeButton"
           alt="close button">
    </a>
    <h1>{{'user.auth.forgot-password.title' | translate}}</h1>
    <h2>{{'user.auth.forgot-password.fill-form' | translate}}</h2>
    <form class="sign-in-form"
          (ngSubmit)="sentEmail(userOwnSignIn)"
          #registerForm="ngForm">
      <label for="email">{{'user.auth.sign-in.email' | translate}}</label>
      <input id="email"
             type="email"
             placeholder="example@email.com"
             #emailControl="ngModel"
             name="email"
             [(ngModel)]="userOwnSignIn.email"
             [ngClass]="emailControl.invalid && (emailControl.dirty||emailControl.touched)?
                'alert-email-validation':'successful-email-validation'"
             required
             minlength="1"
             email="true">
      <div class="validation-email-error"
           *ngIf="emailControl.invalid && (emailControl.dirty||emailControl.touched)">
        <div *ngIf="emailControl.errors.required">
          {{'user.auth.sign-in.email-is-required' | translate}}
        </div>
        <div *ngIf="emailControl.errors.minlength">
          {{'user.auth.sign-in.email-must-be-at-least-1-characters-long' | translate}}
        </div>
        <div *ngIf="emailControl.errors.email">
          {{'user.auth.sign-in.this-is-not-email' | translate}}
        </div>
      </div>
      <div class="validation-email-error"
           *ngIf="emailErrorMessageBackEnd!=null">
        {{emailErrorMessageBackEnd}}
      </div>
      <button class="send-btn primary-global-button"
              type="submit"
              [disabled]="!registerForm.valid">
        <span *ngIf="loadingAnim"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true">
        </span>
        {{'user.auth.forgot-password.send-btn' | translate}}
      </button>
      <span class="or-use-google">{{'user.auth.forgot-password.or-signin' | translate}}</span>
      <div>
        <button type="submit"
                class="google-sign-in"
                (click)="signInWithGoogle()">
                <div>
                  <span class="google-sign">
                    <img [src]="googleImage.picGoogle"
                         alt="Google sign-in">
                  </span>
                </div>
          <span class="google-text-sign-in">
            {{'user.auth.sign-in.sign-in-with-google' | translate}}
          </span>
        </button>
      </div>
    </form>
    <div class="mentioned-password">
      <p>{{'user.auth.forgot-password.remember-your-password' | translate}}
        <a (click)="onBackToSignIn()"
           class="sign-in-link">
          {{'user.auth.forgot-password.back-to-the-sign-in' | translate}}
        </a>
      </p>
    </div>
  </div>
</div>
</div>
