<div class="event-date-place-block-two-days" *ngIf="days.length > 2">
  <div class="event-date-place-day-block" *ngFor="let day of days; index as idx">
    <div class="day-number">{{ idx + 1 }}&nbsp;Day</div>
    <div class="event-date-place">
      <div class="event-date">
        <div class="event-date-icon">
          <img [src]="icons.clock" alt="" />
        </div>
        <div>
          {{ day.startDate | date: 'MMM d, y' }} | {{ day.startDate | date: 'hh:mm a' }}&nbsp;-&nbsp;{{ day.finishDate | date: 'hh:mm a' }}
        </div>
      </div>
      <div class="event-location" *ngIf="day.coordinates?.latitude">
        <div class="event-location-icon">
          <img [src]="icons.location" alt="" />
        </div>
        <div>{{ day.coordinates?.latitude && getAddress(day.coordinates) }}</div>
      </div>
      <div class="event-link" *ngIf="day.onlineLink">
        <div class="event-link-icon">
          <img [src]="icons.link" alt="" />
        </div>
        <div>{{ day.onlineLink }}</div>
      </div>
    </div>
  </div>
</div>
