button {
  all: unset;
}

.add-goal-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  cursor: pointer;
}

.add-goal-button-label {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  text-align: center;
  color: #fff;
}

.add-goal-button {
  text-align: center;
  width: 276px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 13px 20px 0 rgba(118, 196, 125, 0.41);
  background-color: #13aa57;
}

.add-goal-button:hover {
  background-color: rgba(19, 170, 87, 0.91);
}
