@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@media only screen and (max-width: 576px) {
  .search-bar-wrapper {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #ffff;
    z-index: 1001;
    box-shadow: 0px 0px 8px rgba(73, 74, 73, 0.2);

    .center-flex-wrapper {
      display: flex;
      max-width: 576px;
      margin: 0 auto;
    }

    .search-icon {
      margin: 28px 28px 28px 16px;
      background: url("../../../../assets/img/icon/search.png") no-repeat;
      width: 26px;
      height: 26px;
      flex-shrink: 0;
    }

    .search-field {
      background-color: #fff;
      width: 100%;
      height: 28px;
      margin-top: 28px;
      border: none;
      font-family: OpenSans, sans-serif;
      font-size: 24px;
      line-height: 24px;
      color: #494A49;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #BEBEBE;
      }
    }

    .close-icon {
      align-self: flex-end;
      margin: 31px 16px 31px 31px;
      background: url("../../../../assets/img/icon/Union.png") no-repeat;
      width: 18px;
      height: 18px;
      cursor: pointer;
      flex-shrink: 0;
    }
  }

  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 999;
  }

  .search-content-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.9);

    .remaining-items {
      margin: 14px 0 1.25rem 0;
      min-width: 7.5rem;
      height: 25px;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;
    }

    .content-news {
      position: relative;
      width: 100%;
      min-height: 350px;

      a{
        color: #666666;
      }

      a:hover {
        text-decoration: none;
      }

      h3 {
        left: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 1.5rem;
        color: #13AA57;
        margin-bottom: 15px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    .content-tips {
      margin-top: 10px;
      padding-top: 7px;
      position: relative;
      width: 100%;
      min-height: 320px;

      a:hover {
        text-decoration: none;
      }

      h3 {
        left: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 1.5rem;
        color: #13AA57;
        margin-bottom: 15px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    .all-results-link {
      display: block;
      left: 0px;
      margin-top: 30px;
      text-decoration-line: underline;
      color: #056B33;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;

      &::after {
        position: relative;
        margin-left: 5px;
        bottom: 2px;
        content: url(../../../../assets/img/Vector3.svg);
        width: 10px;
        height: 10px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .search-bar-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #ffff;
    z-index: 1001;
    box-shadow: 0px 0px 8px rgba(73, 74, 73, 0.2);

    .center-flex-wrapper {
      display: flex;
      max-width: 768px;
      margin: 0 auto;
    }


    .search-icon {
      margin: 28px 28px 28px 16px;
      background: url("../../../../assets/img/icon/search.png") no-repeat;
      width: 26px;
      height: 26px;
      flex-shrink: 0;
    }

    .search-field {
      background-color: #fff;
      width: 100%;
      height: 28px;
      margin-top: 28px;
      border: none;
      font-family: OpenSans, sans-serif;
      font-size: 24px;
      line-height: 24px;
      color: #494A49;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #BEBEBE;
      }
    }

    .close-icon {
      align-self: flex-end;
      margin: 31px 16px 31px 31px;
      background: url("../../../../assets/img/icon/Union.png") no-repeat;
      width: 18px;
      height: 18px;
      cursor: pointer;
      flex-shrink: 0;
    }
  }

  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 999;
  }

  .search-content-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.9);

    .remaining-items {
      margin: 14px 0 1.25rem 0;
      min-width: 7.5rem;
      height: 25px;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;
    }

    .content-news {
      position: relative;
      width: 100%;
      min-height: 350px;

      a{
        color: #666666;
      }

      a:hover {
        text-decoration: none;
      }

      h3 {
        left: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 1.5rem;
        color: #13AA57;
        margin-bottom: 15px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        max-height: 140px;
      }
    }

    .content-tips {
      margin-top: 10px;
      padding-top: 7px;
      position: relative;
      width: 100%;
      min-height: 270px;

      a:hover {
        text-decoration: none;
      }

      h3 {
        left: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 1.5rem;
        color: #13AA57;
        margin-bottom: 15px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        max-height: 150px;
      }
    }

    .all-results-link {
      display: block;
      left: 0px;
      margin-top: 30px;
      text-decoration-line: underline;
      color: #056B33;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;

      &::after {
        position: relative;
        margin-left: 5px;
        bottom: 2px;
        content: url(../../../../assets/img/Vector3.svg);
        width: 10px;
        height: 10px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
  .search-bar-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #ffff;
    z-index: 1001;
    box-shadow: 0px 0px 8px rgba(73, 74, 73, 0.2);

    .center-flex-wrapper {
      display: flex;
      max-width: 1366px;
      margin: 0 auto;
    }

    .search-icon {
      margin: 28px 28px 28px 16px;
      background: url("../../../../assets/img/icon/search.png") no-repeat;
      width: 26px;
      height: 26px;
      flex-shrink: 0;
    }

    .search-field {
      background-color: #fff;
      width: 100%;
      height: 28px;
      margin-top: 28px;
      border: none;
      font-family: OpenSans, sans-serif;
      font-size: 24px;
      line-height: 24px;
      color: #494A49;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #BEBEBE;
      }
    }

    .close-icon {
      align-self: flex-end;
      margin: 31px 16px 31px 31px;
      background: url("../../../../assets/img/icon/Union.png") no-repeat;
      width: 18px;
      height: 18px;
      cursor: pointer;
      flex-shrink: 0;
    }
  }

  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 999;
  }

  .search-content-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    padding-left: 1.3rem;
    padding-right: 7rem;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.9);

    .remaining-items {
      margin: 14px 0 1.25rem 0;
      min-width: 7.5rem;
      height: 25px;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;
    }

    .content-news {
      position: relative;
      width: 100%;
      height: 300px;

      a{
        color: #666666;
      }

      a:hover {
        text-decoration: none;
      }

      h3 {
        left: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 1.5rem;
        color: #13AA57;
        margin-bottom: 15px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        max-height: 140px;
      }
    }

    .content-tips {
      margin-top: 10px;
      padding-top: 7px;
      position: relative;
      width: 100%;
      height: 200px;

      a:hover {
        text-decoration: none;
      }

      h3 {
        left: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 1.5rem;
        color: #13AA57;
        margin-bottom: 15px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        max-height: 150px;
      }
    }

    .all-results-link {
      display: block;
      left: 0px;
      margin-top: 30px;
      text-decoration-line: underline;
      color: #056B33;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;

      &::after {
        position: relative;
        margin-left: 5px;
        bottom: 2px;
        content: url(../../../../assets/img/Vector3.svg);
        width: 10px;
        height: 10px;
      }
    }
  }
}

  @media only screen and (min-width: 1366px) {
    .search-bar-wrapper {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 80px;
      background-color: #ffff;
      z-index: 1001;
      box-shadow: 0px 0px 8px rgba(73, 74, 73, 0.2);

      .center-flex-wrapper {
        display: flex;
        max-width: 1920px;
        margin: 0 auto;
      }

      .search-icon {
        margin: 28px 28px 28px 9.4rem;
        background: url("../../../../assets/img/icon/search.png") no-repeat;
        width: 26px;
        height: 26px;
        flex-shrink: 0;
      }

      .search-field {
        background-color: #fff;
        width: 100%;
        min-width: 900px;
        height: 28px;
        margin-top: 28px;
        border: none;
        font-family: OpenSans, sans-serif;
        font-size: 1.5rem;
        color: #494A49;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #BEBEBE;
        }
      }

      .close-icon {
        align-self: flex-end;
        margin: 31px 9.4rem 31px 31px;
        background: url("../../../../assets/img/icon/Union.png") no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
        flex-shrink: 0;
      }
    }

    .overlay {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      min-height: 100%;
      background-color: rgba(255, 255, 255, 0.50);
      z-index: 999;
    }

    .fixed-wrapper {
      position: fixed;
      top: 80px;
      left: 0px;
      width: 100%;
      height: 100%;

      .adaptive-center-wrapper {
        width: 84rem;
        height: 100vh;
        margin: 0 auto;
        z-index: 1000;
      }
    }

    .search-content-wrapper {
      position: relative;
      top: 0;
      left: 8.5rem;
      width: calc((100%) - (8.5rem * 2));
      height: calc(100% - 80px);
      padding-left: 0.9rem;
      padding-right: 0.9rem;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.9);

      .remaining-items {
        margin: 14px 0 1.25rem 0;
        min-width: 7.5rem;
        height: 25px;
        font-family: OpenSans, sans-serif;
        font-size: 1rem;
      }

      .content-news {
        position: relative;
        width: 100%;
        height: 300px;

        a{
          color: #666666;
        }

        a:hover {
          text-decoration: none;
        }

        h3 {
          left: 0px;
          font-family: OpenSans, sans-serif;
          font-size: 1.5rem;
          color: #13AA57;
          margin-bottom: 15px;
        }

        .flex-container {
          display: flex;
          justify-content: left;
        }
      }

      .content-tips {
        padding-top: 7px;
        position: relative;
        width: 100%;
        height: 240px;

        a:hover {
          text-decoration: none;
        }

        h3 {
          left: 0px;
          font-family: OpenSans, sans-serif;
          font-size: 1.5rem;
          color: #13AA57;
          margin-bottom: 15px;
        }

        .flex-container {
          display: flex;
          justify-content: left;
        }
      }

      .all-results-link {
        display: block;
        left: 0px;
        margin-top: 20px;
        text-decoration-line: underline;
        color: #056B33;
        font-family: OpenSans, sans-serif;
        font-size: 1rem;

        &::after {
          position: relative;
          margin-left: 5px;
          bottom: 2px;
          content: url(../../../../assets/img/Vector3.svg);
          width: 10px;
          height: 10px;
        }
      }
    }
  }

