p {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-dark-grey);
}

.search_not-found-text,
.search_not-found-header {
  width: 350px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 28px;
  word-break: break-all;
}

.search_not-found-text {
  color: var(--secondary-dark-grey);
}

.search_not-found-item-wrp {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  a:hover {
    text-decoration: none;
  }
}

.search_not-found-image {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
}

.search_not-found-header {
  color: var(--primary-green);
  padding: 0 25px;
}

.search_not-found-description {
  padding: 0 25px;
}

.search_not-found-item {
  display: grid;
  grid-template-rows: 205px 26px auto;
  row-gap: 10px;
  width: auto;
  max-width: 360px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0.25rem 2rem #e6ebea;
  border-radius: 0.25rem;
  cursor: pointer;
}

.m-l-4 {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .m-l-4 {
    margin-left: 30px;
    margin-top: 0;
  }
}
