@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$title-font: 'Montserrat';
$main-font: 'Open Sans';

.main-container {
  max-width: 568px;
  max-height: 256px;
  z-index: 2000;
  font-family: $main-font;
  padding: 56px;

  .warning-text {
    font-family: $title-font;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #313131;
    margin-bottom: 40px;
  }

  .cta-buttons {
    display: flex;

    .secondary-global-button,
    .primary-global-button {
      padding: 16px 40px;
      font-weight: 600;
    }

    .secondary-global-button {
      margin-right: 24px;
      background-color: #fff;
    }

    .secondary-global-button:hover {
      padding: 16px 40px;
      line-height: 16px;
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 576px) {
  .main-container {
    max-width: 509px;

    .warning-text {
      font-size: 18px;
      line-height: 24px;
    }

    .cta-buttons {
      .secondary-global-button,
      .primary-global-button {
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .main-container {
    max-width: 320px;
    max-height: 100%;
    padding: 236px 16px 76px;
    margin-bottom: 89px;

    .warning-text {
      margin-bottom: 89px;
    }

    .cta-buttons {
      width: 288px;
      height: 48px;
      flex-direction: column;
      justify-content: center;

      .secondary-global-button,
      .primary-global-button,
      .continue-btn,
      .cancel-btn {
        width: 288px;
        height: 48px;
        text-align: center;
        font-weight: 600;
      }

      .secondary-global-button {
        margin: 0;
      }

      .primary-global-button {
        margin-top: 32px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .main-container {
    max-width: 288px;
    padding: 236px 0 76px;
  }
}
