<div *ngIf="!isEditable" class="date_to_show">
  <!-- Clear when back send normal value -->
  <span *ngIf="date === '-'">{{ date }}</span>
  <!--  -->
  <span *ngIf="date !== '-'">{{ date | date: 'dd/MM/y' }}</span>
  <span *ngIf="!isEditable && !isBlocked" class="pointer" (click)="edit()">&#9998;</span>
  <mat-spinner *ngIf="isBlocked" strokeWidth="3" diameter="20"></mat-spinner>
</div>
<mat-form-field *ngIf="isEditable" color="accent" appearance="fill">
  <input matInput [matDatepicker]="picker1" [value]="date" (dateChange)="changeData($event)" />
  <mat-datepicker-toggle matSuffix [for]="picker1" color="accent"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
