.habits-title {
  font-family: var(--tertiary-font);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 0 16px 20px;
  margin: 0;
  display: flex;
  align-items: center;
}

.habits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 16px;
  margin: 0;
}

.habits-item {
  display: block;
  padding: 0;
  margin: 0;
  font-family: var(--tertiary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  width: 282px;
  height: 28px;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.habits-item-disabled {
  pointer-events: none;
  opacity: 0.8;
}

.habit-icon {
  padding-right: 9px;
  cursor: pointer;
}

.calendar-habits-open {
  width: 314px;
  font-family: var(--tertiary-font);
  color: var(--primary-dark-grey);
  background: var(--primary-white);
  box-shadow: 1px 1px 12px rgba(27, 51, 38, 0.15);
  border-radius: 4px;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}

::ng-deep .mat-dialog-container {
  padding: 0;
}

@media (max-width: 290px) {
  .calendar-habits-open {
    width: 234px;
    height: 70px;
    color: var(--primary-dark-grey);
    margin-top: 20px;
    box-shadow: none;
    border-radius: 0;
    overflow-x: hidden;
  }

  .habits-item {
    font-weight: 400;
    font-size: 10px;
    line-height: 1px;
    overflow: hidden;
    color: var(--primary-dark-grey);
    flex-wrap: wrap;
    inline-size: 200px;
    overflow-wrap: break-word;
  }

  .habits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .habit-icon {
    padding-right: 5px;
    width: 25px;
    height: auto;
    cursor: pointer;
  }

  .habits-title {
    font-weight: 700;
    font-size: 8px;
    line-height: 1px;
    color: var(--primary-dark-grey);
  }
}
