<div class="container mb-3">
  <div class="mt-5" [formGroup]="generalOrderInfo">
    <div class="row d-flex justify-content-between mt-4">
      <h1 class="title">{{ 'order-edit.status.title' | translate }} №{{ generalInfo.id }}</h1>
      <div class="pr-4">
        <span class="form__label"> {{ 'order-edit.status.order-date' | translate }}: </span>
        <span>{{ generalInfo.dateFormed | localizedDate | date: 'dd.MM.y' }}</span>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-12">
              <div class="form-row">
                <div class="form-group col-sm-10 col-md-7">
                  <label for="order" class="form__label">
                    {{ 'order-edit.status.order-label' | translate }}
                  </label>
                  <select
                    id="order"
                    *ngIf="isOrderStatusSelected"
                    [ngClass]="isEmployeeCanEditOrder ? 'form-control' : 'form-control readonly'"
                    formControlName="orderStatus"
                    (change)="onChangedOrderStatus($event.target['value'])"
                  >
                    <option
                      *ngFor="let status of availableOrderStatuses"
                      [selected]="status?.key === generalInfo.orderStatus"
                      [value]="status?.key"
                      [appLangValue]="{ uk: status?.uk, en: status?.en }"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-row">
                <div class="form-group col-sm-10 col-md-7">
                  <label class="form__label">
                    {{ 'order-edit.status.payment-label' | translate }}
                  </label>
                  <div class="form-control readonly payment" *ngIf="currentPaymentStatus" [appLangValue]="currentPaymentStatus"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="comment" class="form__label">{{ 'order-edit.comment.label' | translate }}</label>
            <textarea
              [ngClass]="!uneditableStatus && isEmployeeCanEditOrder ? 'form-control' : 'form-control readonly'"
              class="mw-100"
              id="comment"
              formControlName="adminComment"
              placeholder="{{ 'order-edit.comment.placeholder' | translate }}"
            ></textarea>
            <div class="validation" *ngIf="adminComment.invalid && adminComment.touched">
              <app-ubs-input-error [formElement]="adminComment"></app-ubs-input-error>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="not-taken-block col" *ngIf="orderNotTakenOutReason">
      <h1 class="mb-0">{{ 'order-edit.not-taken.title' | translate }}</h1>
      <div class="flex-row">
        <span class="form__label">{{ 'order-edit.not-taken.reason' | translate }}</span>
        <span> {{ orderNotTakenOutReason.description }}</span>
      </div>
      <div class="flex-column">
        <span class="form__label">{{ 'order-edit.not-taken.images' | translate }}</span>
        <div class="image-row row">
          <ng-container *ngIf="orderNotTakenOutReason.images?.length; else noImages">
            <div class="image-wrapper" *ngFor="let image of orderNotTakenOutReason.images; let i = index" (click)="openImg(i)">
              <img [src]="image" [alt]="'order-edit.not-taken.img-alt' | translate: { index: i + 1 }" />
            </div>
          </ng-container>
          <ng-template #noImages>
            <span class="form__label">{{ 'order-edit.not-taken.no-images' | translate }}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
