<div class="container mb-3">
  <div class="mt-5" [formGroup]="generalOrderInfo">
    <div class="row d-flex justify-content-between mt-4">
      <h1 class="title">{{ 'order-edit.status.title' | translate }} №{{ generalInfo.id }}</h1>
      <div class="pr-4">
        <span class="form__label"> {{ 'order-edit.status.order-date' | translate }}: </span>
        <span>{{ generalInfo.dateFormed | date: 'dd.MM.y' }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="form-row">
              <div class="form-group col-sm-10 col-md-7">
                <label for="order" class="form__label">
                  {{ 'order-edit.status.order-label' | translate }}
                </label>
                <select
                  id="order"
                  class="form-control"
                  formControlName="orderStatus"
                  (change)="onChangedOrderStatus($event.target.value)"
                  [(ngModel)]="generalInfo.orderStatus"
                >
                  <option
                    *ngFor="let status of availableOrderStatuses"
                    [selected]="status?.key === generalInfo.orderStatus"
                    [value]="status?.key"
                    [ngValue]="status?.key"
                  >
                    {{ this.currentLanguage === 'ua' ? status?.ua : status?.eng }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-row">
              <div class="form-group col-sm-10 col-md-7">
                <label for="payment" class="form__label">
                  {{ 'order-edit.status.payment-label' | translate }}
                </label>
                <select id="payment" class="form-control payment" formControlName="paymentStatus" disabled>
                  <option
                    *ngFor="let status of generalInfo.orderPaymentStatusesDto"
                    [selected]="status?.key === generalInfo.orderPaymentStatus"
                  >
                    {{ this.currentLanguage === 'ua' ? status?.ua : status?.eng }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 offdet-sm-0 offset-md-1">
        <div class="form-group">
          <label for="comment" class="form__label">{{ 'order-edit.comment.label' | translate }}</label>
          <textarea
            class="form-control mw-100"
            id="comment"
            rows="3"
            formControlName="adminComment"
            placeholder="{{ 'order-edit.comment.placeholder' | translate }}"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
