.right-cards {
  .card {
    width: 100%;
    color: var(--primary-white);
    text-align: left;
    padding: 16px 16px 0 16px;
    margin-top: 24px;
    border-radius: 4px;
    background: var(--primary-green);
    box-shadow: 1px 4px 8px var(--quintynary-dark-grey);

    .cart-title {
      font-family: var(--tertiary-font);
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
      letter-spacing: 0.02em;
    }

    .card-description {
      font-size: 11px;
      line-height: 16px;
      font-family: var(--quaternary-font);
      align-items: center;
    }

    .shape-img {
      img {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        width: 100%;
        height: 55px;
        user-select: none;
      }
    }
  }
}
