.details-img {
  margin: 48px 0 41px;
  position: relative;

  .profile-avatar {
    border-radius: 100px;
    height: 148px;
    width: 148px;
  }

  button {
    border: none;
    background-color: transparent;
    left: 115px;
    outline: none;
    padding: 0;
    position: absolute;
    top: 101px;
  }

  div {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .details-img {
    text-align: center;

    button {
      left: 150px;
    }
  }
}
