<div class="container">
    <div class="picture">
        <img src="assets/img/noNews.jpg" 
             alt="noNews"
        >
    </div>
    <div class="description">
        <div class="description__title">
            <h2>
                {{'homepage.eco-news.empty-state.no-news' | translate}}
            </h2>
        </div>
        <div class="description__advise">
            <p>
                {{ "homepage.eco-news.empty-state.no-news-advice" | translate }}
            </p>
        </div>
    </div>
</div>
