<div class="sign-up">

  <form #registerForm="ngForm" (ngSubmit)="register(userOwnSignUp)">
    <label for="first-name">{{'user.auth.sign-up.first-name' | translate}}</label>
    <div class="validation-error"
         *ngIf="firstNameControl.invalid && (firstNameControl.dirty||firstNameControl.touched)">
      <div *ngIf="firstNameControl.errors.required">
        {{'user.auth.sign-up.first-name-is-required' | translate}}
      </div>
      <div *ngIf="firstNameControl.errors.minlength">
        {{'user.auth.sign-up.first-name-must-be-at-least-1-characters-long' | translate}}
      </div>
    </div>
    <div class="validation-error" *ngIf="firstNameErrorMessageBackEnd!=null">
      {{firstNameErrorMessageBackEnd}}
    </div>
    <input id="first-name" type="text" class="form-control first-name" name="fistName"
           [(ngModel)]="userOwnSignUp.firstName"
           #firstNameControl="ngModel" required
           minlength="1" maxlength="20">


    <label for="last-name">{{'user.auth.sign-up.last-name' | translate}}</label>
    <div class="validation-error" *ngIf="lastNameControl.invalid && (lastNameControl.dirty||lastNameControl.touched)">
      <div *ngIf="lastNameControl.errors.required">
        {{'user.auth.sign-up.last-name-is-required' | translate}}
      </div>
      <div *ngIf="lastNameControl.errors.minlength">
        {{'user.auth.sign-up.last-name-must-be-at-least-1-characters-long' | translate}}
      </div>
    </div>
    <div class="validation-error" *ngIf="lastNameErrorMessageBackEnd!=null">
      {{lastNameErrorMessageBackEnd}}
    </div>
    <input id="last-name" type="text" class="form-control last-name" name="lastName"
           [(ngModel)]="userOwnSignUp.lastName"
           #lastNameControl="ngModel"
           required
           minlength="1" maxlength="20">


    <label for="email">{{'user.auth.sign-up.email' | translate}}</label>
    <div class="validation-error" *ngIf="emailControl.invalid && (emailControl.dirty||emailControl.touched)">
      <div *ngIf="emailControl.errors.required">
        {{'user.auth.sign-up.email-is-required' | translate}}
      </div>
      <div *ngIf="emailControl.errors.minlength">
        {{'user.auth.sign-up.email-must-be-at-least-1-characters-long' | translate}}
      </div>
      <div *ngIf="emailControl.errors.email">
        {{'user.auth.sign-up.this-is-not-email' | translate}}
      </div>
    </div>
    <div class="validation-error" *ngIf="emailErrorMessageBackEnd!=null">
      {{emailErrorMessageBackEnd}}
    </div>
    <input id="email" type="email" class="form-control email" name="email" [(ngModel)]="userOwnSignUp.email"
           #emailControl="ngModel" required
           minlength="1" email="true">


    <label for="password">{{'user.auth.sign-up.password' | translate}}</label>
    <div class="validation-error" *ngIf="passwordControl.invalid && (passwordControl.dirty||passwordControl.touched)">
      <div *ngIf="passwordControl.errors.required">
        {{'user.auth.sign-up.password-is-required' | translate}}
      </div>
      <div *ngIf="passwordControl.errors.minlength">
        {{'user.auth.sign-up.password-must-be-at-least-8-characters-long' | translate}}
      </div>
    </div>
    <div class="validation-error" *ngIf="passwordErrorMessageBackEnd!=null">
      {{passwordErrorMessageBackEnd}}
    </div>
    <input id="password" type="password" class="form-control password" name="form-control password"
           [(ngModel)]="userOwnSignUp.password"
           #passwordControl="ngModel"
           required minlength="8">

    <p></p>
    <button class="btn btn-primary submit" [disabled]="!registerForm.valid" type="submit">
      <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{'user.auth.sign-up.submit' | translate}}
    </button>
  </form>

</div>
