/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$color-greenCity-green: #13aa57;
$color-greenCity-dark-green: #056b33;

.hide {
  display: none;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 2px rgba(19, 170, 87, 0.8);
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list .cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.primary-global-button {
  border: none;
  background: $color-greenCity-green;
  border-radius: 3px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.primary-global-button:hover,
.primary-global-button:active {
  background: $color-greenCity-dark-green;
  outline: none;
}

.primary-global-button:disabled {
  background-color: #839c94;
  border: 1px solid #839c94;
}

.secondary-global-button {
  border: 1px solid $color-greenCity-green;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $color-greenCity-green;
  text-align: center;
}

.secondary-global-button:hover,
.secondary-global-button:active {
  border: 1px solid $color-greenCity-dark-green;
  line-height: 22px;
  color: $color-greenCity-dark-green;
}

.tertiary-global-button {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  color: $color-greenCity-dark-green;
}

.tertiary-global-button:hover,
.tertiary-global-button:focus {
  color: $color-greenCity-green;
}

.mat-dialog-container {
  box-shadow: none;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: 100vh;
  background: #fff;
}

// [START] Tag guidelines
.global-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  text-transform: capitalize;
  font-family: opensans, sans-serif;
  color: #666;
  border: 1px solid #666;
  border-radius: 25px;
  margin-right: 8px;

  &:hover {
    color: $color-greenCity-dark-green;
    border: 1px solid $color-greenCity-dark-green;
  }
}

.global-tag-clicked {
  background: $color-greenCity-green;
  color: #fff;
  font-weight: bold;
  font-family: opensans, sans-serif;
  font-size: 14px;
  line-height: 16px;
  border-radius: 25px;
  border: none;

  &:hover {
    color: #fff;
    border: none;
  }
}

.global-tag-close-icon {
  width: 6px;
  height: 6px;
  margin-left: 6px;
  opacity: 1;
  background-image: url("~/assets/img/icon/white-cross.png");
}

// [END] Tag guidelines

// [STATR] View switcher buttons

.btn-tiles,
.btn-bars {
  color: #878787;
  font-size: 16px;

  :hover {
    color: $color-greenCity-dark-green;
  }
}

.btn-bars-active,
.btn-tiles-active {
  color: $color-greenCity-green;
}

// [END] View swither btns
.transparent .mat-dialog-container {
  background: transparent;
}

.custom-dialog-container .mat-dialog-container::-webkit-scrollbar {
  display: none;
}

.error-snackbar {
  background: #b00020;
  color: #fff;
}

.attention-snackbar {
  background: #ffc100;
  color: #fff;
}

.success-snackbar {
  background: #13aa57;
  color: #fff;
}

.mat-simple-snackbar-action {
  color: #fff;
}

@media (max-width: 375px) {
  .custom-dialog-container .mat-dialog-container {
    padding: 30px 24px 27px 10px;
  }
}

@media (max-width: 320px) {
  .custom-dialog-container .mat-dialog-container {
    padding: 30px 16px 27px;
  }
}
