/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.hide {
  display: none;
}

a {
  cursor: pointer;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 2px rgba(19, 170, 87, 0.8);
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list
.cdk-drop-list-dragging
.example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.primary-global-button{
  border: none;
  background: #13aa57;
  border-radius: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.primary-global-button:hover,
.primary-global-button:active{
  background: #056B33;
  outline: none;
}

.secondary-global-button{
  border: 1px solid #13AA57;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #13AA57;
  text-align: center;
}

.secondary-global-button:hover,
.secondary-global-button:active{
  border: 1px solid #056B33;
  line-height: 22px;
  color: #056B33;
}

.tertiary-global-button{
  font-family: Open Sans;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  color: #056B33;
}

.tertiary-global-button:hover,
.tertiary-global-button:focus{
  color: #13AA57;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: 100vh;
  background: #FFFFFF;
}

.custom-dialog-container .mat-dialog-container::-webkit-scrollbar {
  display: none;
}
