/* You can add global styles to this file, and also import other style files */
@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'typography/typography';
@import 'typography/typographyUbs';

.hide {
  display: none;
}

a {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--tertiary-font);
  overflow-y: auto;
}

.app-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 2px rgba(19, 170, 87, 0.8);
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list .cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-dialog-container {
  box-shadow: none;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: 100vh;
  background: var(--primary-white);
}

// [START] Tag guidelines
.global-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  text-transform: capitalize;
  font-family: var(--primary-font);
  color: var(--tertiary-grey);
  border: 1px solid var(--tertiary-grey);
  border-radius: 25px;
  margin-right: 8px;

  &:hover {
    color: var(--secondary-dark-green);
    border: 1px solid var(--secondary-dark-green);
  }
}

.global-tag-clicked {
  background: var(--primary-green);
  color: var(--primary-white);
  font-weight: bold;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 16px;
  border-radius: 25px;
  border: none;

  &:hover {
    color: var(--primary-white);
    border: none;
  }
}

.global-tag-close-icon {
  width: 6px;
  height: 6px;
  margin-left: 6px;
  opacity: 1;
  background-image: url('/assets/img/icon/white-cross.png');
}

// [END] Tag guidelines

// [STATR] View switcher buttons

.btn-tiles,
.btn-bars {
  color: var(--secondary-grey);
  font-size: 16px;

  :hover {
    color: var(--secondary-dark-green);
  }
}

.btn-bars-active,
.btn-tiles-active {
  color: var(--primary-green);
}

// [END] View swither btns
.transparent .mat-dialog-container {
  background: transparent;
}

.popup-dialog-container .mat-dialog-container {
  padding: 0;
}

.custom-dialog-container .mat-dialog-container::-webkit-scrollbar {
  display: none;
}

.error-snackbar {
  background-color: var(--error-light-red);
  color: var(--quaternary-dark-grey);
  border-radius: 4px;
  box-shadow: 0 -2px var(--error-red);
}

.attention-snackbar {
  background-color: var(--attention-light-yellow);
  color: var(--quaternary-dark-grey);
  border-radius: 4px;
  box-shadow: 0 -2px var(--attention-yellow);
}

.success-snackbar {
  background-color: var(--success-light-green);
  color: var(--quaternary-dark-grey);
  border-radius: 4px;
  box-shadow: 0 -2px var(--primary-green);
}

.success-snackbar-ubs {
  background-color: var(--ubs-primary-light-green);
  color: var(--ubs-quaternary-dark-grey);
  border-radius: 4px;
  box-shadow: 0 -2px var(--ubs-button-light-green);
}

.mat-simple-snackbar-action {
  color: var(--quaternary-dark-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--primary-green);
}

.disagree {
  background: #fff;
  color: var(--ubs-primary-green);
  padding: 8px 28px;
  margin-right: 25px;
}

.agree {
  background: var(--ubs-primary-green);
  color: #fff;
  padding: 8px 28px;
}

.disagree,
.agree {
  font-weight: bold;
  font-size: 14px;
  border: 1px solid var(--primary-green);
}

@media (max-width: 375px) {
  .custom-dialog-container .mat-dialog-container {
    padding: 30px 24px 27px 10px;
  }
}

@media (max-width: 320px) {
  .custom-dialog-container .mat-dialog-container {
    padding: 30px 16px 27px;
  }
}
