<nav class="top-bar" id="top-user-bar">
  <!-- will be removed in future releases -->
  <!-- <li class="nav-item">
        <a class="nav-link" *ngIf="userRole === 'ROLE_USER'"
          (click)="openDialogProposeCafeComponent()">{{ "nav-bar.add-cafe" | translate }}</a>
      </li> -->
  <div class="top-bar-wrapper">
    <div *ngIf="!isLoggedIn; then userLoggedIn else userNotLoggedIn"></div>
    <ng-template #userLoggedIn>
      <div class="top-bar-text">
        <span id="text-before">{{ "top-bar.text-before" | translate }}</span>
        <span>
          <a (click)="openSignUpWindow()">
            {{ "top-bar.sign-up" | translate }}
          </a>
        </span>
        <span id="text-within">{{ "top-bar.text-within" | translate }}</span>
        <span>
          {{ "top-bar.or" | translate }}
            <a (click)="openSingInWindow()">{{ "top-bar.sign-in" | translate }}
            </a></span>
        <span id="text-after">{{ "top-bar.text-after" | translate }}</span>
      </div>
    </ng-template>
    <ng-template #userNotLoggedIn>
      <div class="top-bar-text">
        <span id="user-text">
          {{ "top-bar.hello" | translate }}{{ firstName }}{{ "top-bar.welcome-back" | translate }}
        </span>
      </div>
      <img id="notification-icon" [src]="notificationIcon" alt="notification-icon">
      <div id="user-avatar-wrapper">
        <img id="user-avatar" [src]="userAvatar" alt="user-avatar" (click)="toggleDropdown()">
        <ul id="dropdown" *ngIf="dropdownVisible">
          <li>
            <a *ngIf="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_MODERATOR'"
               [routerLink]="['admin']">{{ "nav-bar.admin" | translate }}</a>
          </li>
          <li>
            <a (click)="openDialog()">
              {{ "nav-bar.favorite-places" | translate }}
            </a>
          </li>
          <li>
            <a (click)="openSettingDialog()">
              {{ "nav-bar.user-settings" | translate }}
            </a>
          </li>
          <li>
            <a (click)="signOut()">
              {{ "nav-bar.sign-out" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </ng-template>
    <div id="switcher-wrapper">
      <img id="arrow" [src]="arrow" alt="v">
      <select [(ngModel)]="language" (change)="changeCurrentLanguage()" id="language-switcher">
        <option class="language-option" [ngValue]="'uk'">Укр</option>
        <option class="language-option" [ngValue]="'ru'">Рус</option>
        <option class="language-option" [ngValue]="'en'">Eng</option>
      </select>
    </div>
  </div>
</nav>

<!-- Modal Window-->
<app-modal id="custom-_modal-1">
  <app-propose-cafe></app-propose-cafe>
</app-modal>
