@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

table {
  width: 100%;

  caption {
    display: none;
  }
}

body {
  font-family: var(--tertiary-font);
  margin: 0;
}

th,
td {
  padding: 10px 5px 10px 10px;
}

.blueColumn {
  background: rgba(00, 162, 224, 0.08);
}

.selected-row {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: grey !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: grey !important;
}

.nav-link {
  color: gray;
}

.actions {
  display: flex;
}

#message {
  width: auto;
  height: auto;
  position: center;
  text-align: center;
}

.action {
  display: flex;
  flex-wrap: wrap;
}

.table-responsive {
  padding: 1%;
}

.checkBox {
  padding-right: 5px;
  padding-top: 10px;
}

#changeStatus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

#delete {
  padding-left: 15px;
}

#trashIcon:hover {
  color: green;
}

#buttonsAction {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 10px;
}

#buttonsAction button {
  margin: 3px;
}
