<div class="research">
  <div class="search">
    <div class="search-input">
      <input type="text" placeholder="{{ 'ubs-tables.placeholder' | translate }}" (keyup)="applyFilter($event.target.value)" />
    </div>
    <div class="icon-style"><i class="fa fa-search" aria-hidden="true"></i></div>
  </div>
  <div class="btn-group">
    <div class="filters-dropdown-wrapper">
      <button type="button" class="btn btn-default filter-table-btn" (click)="toggleFilters()">
        <mat-icon>filter_list</mat-icon>
        {{ 'ubs-tables.filters' | translate }}
      </button>
      <div [ngClass]="{ show: isFiltersOpened }" class="dropdown-menu dropdown-menu-right">
        <div class="sticky-top dropdown-top-panel">
          <p class="font-weight-bold">{{ 'ubs-tables.filter' | translate }}</p>
          <button type="button" class="reset-settings" (click)="toggleFilters()">
            <i class="fa fa-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="accordion scrollbar" (click)="$event.stopPropagation()">
          <ng-container *ngFor="let column of getColumnsForFiltering(); index as i">
            <div class="accordion-item">
              <div
                [ngClass]="checkForCheckedBoxes(column) ? 'accordion-group-header highlighted' : 'accordion-group-header'"
                class="accordion-group-header"
                data-bs-toggle="collapse"
                attr.data-bs-target="#panelsStayOpen-collapse{{ i }}"
                aria-expanded="false"
                attr.aria-controls="panelsStayOpen-collapse{{ i }}"
                (click)="toggleAccordion($event)"
              >
                <mat-icon>keyboard_arrow_down</mat-icon>
                <span>{{ column | serverTranslate: currentLang }}</span>
              </div>
              <div
                id="panelsStayOpen-collapse{{ i }}"
                class="accordion-collapse collapse"
                attr.aria-labelledby="panelsStayOpen-heading{{ i }}"
              >
                <div class="accordion-body">
                  <div *ngIf="column.key.toLowerCase().includes('date'); else nonDate">
                    <div>
                      <mat-checkbox [checked]="getDateChecked(column.key)" (change)="changeDateFilters($event, $event.checked, column.key)">
                        {{ 'ubs-tables.date-range' | translate }}
                      </mat-checkbox>
                      <div class="date-range-box">
                        <div class="input-box">
                          <label class="date-label" for="dateFrom" [hidden]="!checkForCheckedBoxes(column)">{{
                            'ubs-tables.date-from' | translate
                          }}</label>
                          <input
                            id="dateFrom{{ column.key }}"
                            class="date-input"
                            type="date"
                            name="dateFrom"
                            [value]="getDateValue('From', column.key)"
                            (change)="changeInputDateFilters($event.target.value, column.key, 'From')"
                          />
                        </div>
                        <div class="input-box" [hidden]="!checkForCheckedBoxes(column)">
                          <label class="date-label" for="dateTo">{{ 'ubs-tables.date-to' | translate }}</label>
                          <input
                            id="dateTo{{ column.key }}"
                            class="date-input"
                            type="date"
                            name="dateTo"
                            [value]="getDateValue('To', column.key)"
                            (change)="changeInputDateFilters($event.target.value, column.key, 'To')"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #nonDate>
                    <li *ngFor="let option of column.values">
                      <mat-checkbox [checked]="option.filtered" (change)="changeFilters($event?.checked, column.key, option)">
                        {{ option | serverTranslate: currentLang }}
                      </mat-checkbox>
                    </li>
                  </ng-template>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="sticky-bottom clear-apply-group">
          <button [disabled]="noFiltersApplied" type="button" class="filter-btn bg-lime" (click)="applyFilters()">
            {{ 'ubs-tables.apply-filters' | translate }}
          </button>
          <button type="button" class="filter-btn" (click)="clearFilters()">
            {{ 'ubs-tables.clear-filters' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="button-group">
      <div class="table-view-dropdown-wrapper">
        <button type="button" class="btn btn-default view-table-btn" (click)="toggleTableView()">
          <img src="assets/img/edit.svg" alt="edit" />
          {{ 'ubs-tables.table-view' | translate }}
        </button>
        <ul class="dropdown-menu" [style.display]="display">
          <div class="sticky-top dropdown-top-panel">
            <div class="check-all">
              <mat-checkbox
                [checked]="isAllColumnsDisplayed"
                class="check"
                type="checkbox"
                (change)="showAllColumns(isAllColumnsDisplayed)"
              >
                {{ 'ubs-tables.all-elements' | translate }}
              </mat-checkbox>
            </div>
            <button type="button" class="reset-settings" (click)="toggleTableView()">
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </div>
          <div class="accordion">
            <ng-container *ngFor="let header of tableViewHeaders; index as i">
              <div class="accordion-item">
                <div
                  class="accordion-group-header"
                  data-bs-toggle="collapse"
                  attr.data-bs-target="#panelsStayOpen-collapse{{ i }}"
                  aria-expanded="false"
                  attr.aria-controls="panelsStayOpen-collapse{{ i }}"
                  (click)="toggleAccordion($event)"
                >
                  <mat-icon>keyboard_arrow_down</mat-icon>
                  <li class="head">{{ header | serverTranslate: currentLang | titlecase }}</li>
                </div>
                <div
                  id="panelsStayOpen-collapse{{ i }}"
                  class="accordion-collapse collapse"
                  attr.aria-labelledby="panelsStayOpen-heading{{ i }}"
                >
                  <div class="accordion-body">
                    <ng-container *ngFor="let column of displayedColumnsView">
                      <li class="item" *ngIf="column.columnBelonging === header.key">
                        <mat-checkbox
                          [checked]="displayedColumns.includes(column.title.key)"
                          class="check"
                          type="checkbox"
                          value="id1"
                          (change)="changeColumns($event?.checked, column.title.key, column.index)"
                        >
                          {{ column.title | serverTranslate: currentLang }}
                        </mat-checkbox>
                      </li>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ul>
      </div>
      <button type="button" class="btn btn-default export-excel-btn" (click)="openExportExcel()">
        {{ 'ubs-tables.export-to-excel' | translate }}
      </button>
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="editCellProgressBar" mode="indeterminate"></mat-progress-bar>
<div class="blocked_mess" *ngIf="blockedInfo.length" (click)="closeAlertMess()">
  <ng-container *ngFor="let info of blockedInfo">
    Orders {{ info.ordersId.join(', ') }} currently blocked by {{ info.userName }}
  </ng-container>
  <span class="close_alert">&#10006;</span>
</div>
<div
  id="table-container"
  class="scrolling"
  [style.display]="showTable()"
  infiniteScroll
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <table
    id="table"
    mat-table
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropListDropped($event)"
    [dataSource]="dataSource"
    *ngIf="!isLoading; else spinner"
    aria-label="ordersTable"
  >
    <ng-container *ngFor="let column of displayedColumnsView; let i = index" [matColumnDef]="column.title.key" [sticky]="column.sticky">
      <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" cdkDragBoundary="mat-header-row">
        <th scope="row" *ngIf="column.title.key !== 'select'" class="column_header">
          <div
            #tooltip="matTooltip"
            class="column-title"
            [matTooltip]="column.title | serverTranslate: currentLang"
            (mouseenter)="showTooltip($event, column.title, tooltip)"
            (mouseleave)="showTooltip($event, column.title, tooltip)"
            (click)="showTooltip($event, column.title, tooltip)"
          >
            {{ column.title | serverTranslate: currentLang }}
          </div>
          <div class="icon-row">
            <ng-container *ngIf="column.filtered">
              <mat-icon (click)="openColumnFilterPopup($event, column)">filter_list</mat-icon>
            </ng-container>
            <ng-container *ngIf="!nonSortableColumns.includes(column.title.key)">
              <mat-icon *ngIf="arrowDirection !== column.title.key" (click)="getSortingData(column.title.key, 'ASC')">
                arrow_downward
              </mat-icon>
              <mat-icon *ngIf="arrowDirection === column.title.key" (click)="getSortingData(column.title.key, 'DESC')">
                arrow_upward
              </mat-icon>
            </ng-container>
          </div>
        </th>
        <th scope="row" *ngIf="column.title.key === 'select'" [ngStyle]="{ backgroundColor: '#fff', height: '16px', padding: '0px' }">
          <mat-checkbox [checked]="allChecked" [indeterminate]="isIndeterminate" (change)="masterToggle($event)"> </mat-checkbox>
        </th>
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        [ngClass]="{ highlighted: checkIfFilteredBy(column.title.key) }"
        (mousedown)="onResizeColumn($event, i)"
      >
        <app-table-cell-readonly
          *ngIf="column.editType === 'READ_ONLY'"
          [title]="row[column.title.key]"
          [optional]="column?.checked"
          [lang]="currentLang"
          [date]="column.title.key"
          [key]="column.title.key"
          (click)="column.title.key === 'id' && openOrder(row[column.title.key])"
          [class.pointer]="column.title.key === 'id'"
          class="column_cell"
        >
        </app-table-cell-readonly>
        <app-table-cell-select
          *ngIf="column.editType === 'SELECT'"
          [key]="row[column.title.key]"
          [optional]="column.checked"
          [id]="row.id"
          [lang]="currentLang"
          [nameOfColumn]="column.title.key"
          [ordersToChange]="idsToChange"
          [isAllChecked]="allChecked"
          [doneOrCanceled]="checkStatusOfOrders(row.id)"
          [dataForPopUp]="dataForPopUp"
          [showPopUp]="showPopUp"
          (editCellSelect)="editCell($event)"
          (editButtonClick)="openPopUpRequires($event)"
          (cancelEdit)="cancelEditCell($event)"
          (showBlockedInfo)="showBlockedMessage($event)"
          (orderCancellation)="addOrderCancellationData($event)"
          class="column_cell"
        >
        </app-table-cell-select>
        <app-table-cell-date
          *ngIf="column.editType === 'DATE'"
          [doneOrCanceled]="checkStatusOfOrders(row.id)"
          [date]="row[column.title.key]"
          [nameOfColumn]="column.title.key"
          [id]="row.id"
          [ordersToChange]="idsToChange"
          [isAllChecked]="allChecked"
          (editDateCell)="editCell($event)"
          (showBlockedInfo)="showBlockedMessage($event)"
        >
        </app-table-cell-date>
        <app-table-cell-time
          *ngIf="column.editType === 'TIME'"
          [timeOfExport]="row[column.title.key]"
          [nameOfColumn]="column.title.key"
          [id]="row.id"
          [ordersToChange]="idsToChange"
          [isAllChecked]="allChecked"
          [doneOrCanceled]="checkStatusOfOrders(row.id)"
          (cancelEdit)="cancelEditCell($event)"
          (editTimeCell)="editCell($event)"
          (showBlockedInfo)="showBlockedMessage($event)"
        >
        </app-table-cell-time>
        <mat-checkbox
          *ngIf="column.editType === 'CHECKBOX'"
          [disabled]="checkStatusOfOrders(row.id)"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
          class="select-cell"
          (change)="selectRowsToChange($event, row)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" #tableHeaderRow class="tableHeaderRow"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ highlighted: selection.isSelected(row) }"></mat-row>
  </table>
  <app-spinner *ngIf="isUpdate"></app-spinner>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
