@import '../../../../../typography/colorsUbs';
@import '../../../../../typography/fonts';

.cdk-drag-preview {
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.cdk-drag-placeholder {
  color: transparent;
  position: relative;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-cell {
  background-color: var(--ubs-primary-grey);
  color: var(--ubs-primary-white);
  font-family: var(--primary-font);
  border: 1px solid var(--ubs-primary-light-grey);
  width: 200px;
  text-align: center;
  font-size: 14px;
  min-height: 39px;
  min-width: 48px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
  flex: none;
  display: block;
  line-height: 2.8;
}

.cdk-column-select {
  width: 100px !important;
}

input {
  display: inline-block;
  padding: 8px;
  margin: 20px;
  width: 128px;
  height: 36px;
}

.table {
  border-collapse: collapse;
}

.dropdown-menu {
  position: absolute;
  left: auto;
  right: 0;
  height: 500px;
  width: 356px;
  overflow: scroll;
  padding: 0;
  margin: 16px 0 0 0;
  color: var(--ubs-primary-grey);
  font-family: var(--primary-font);
  background-color: var(--ubs-secondary-white);
}

.date-range-box {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.data-field {
  display: flex;
  height: 36px;
  width: 138px;
  padding: 8px;
  border: 1px solid var(--ubs-quintynary-light-grey);
  border-radius: 4px;
  background-color: var(--ubs-primary-white);

  .date-input {
    font-size: 14px;
    height: 18px;
    width: 104px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  .calendar-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
  }
}

.mat-row {
  min-height: 39px !important;
  max-height: 39px !important;
  align-items: unset;
  cursor: col-resize;
}

.mat-cell {
  border: thin solid var(--ubs-primary-light-grey);
  border-top: none;
  color: var(--ubs-primary-grey);
  font-size: 12px;
  font-family: var(--primary-font);
  width: 200px;
  min-width: 48px;
  min-height: 39px !important;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-wrap: break-word;
  flex: none;
  display: inline;
  line-height: 2.9;

  &:hover {
    cursor: auto;
  }
}

.primary-color {
  color: var(--primary-green);
}

.select-cell {
  margin-top: 8px;
}

.mat-header-row {
  min-height: 39px !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: nowrap !important;
  align-items: unset !important;
  cursor: url(../../../../../assets/img/ubs-admin-orders/Move-White.svg) 4 4, auto;
}

.mat-column-select {
  display: flex;
  justify-content: center;
  width: 50px !important;
  line-height: 1;
}

.mat-header-cell:first-of-type,
.mat-cell:first-of-type {
  padding-left: 0;
}

.column-title {
  color: var(--ubs-secondary-light-grey);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-row {
  margin-right: -5px;
}

.amount-items {
  width: 100px;
  height: 36px;
  margin-right: 39px;
  border: 1px solid var(--ubs-primary-light-grey);
  background-color: var(--primary-white) !important;
  border-radius: 4px;
  font-size: 14px;
  color: var(--ubs-secondary-grey);
}

.export-excel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 36px;
  background-color: var(--primary-white) !important;
  border: 1px solid var(--ubs-quaternary-dark-grey) !important;
  color: var(--ubs-quaternary-dark-grey);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  font-family: var(--primary-font);
  transition: 0.2s linear;
  margin-right: 20px;

  &:hover {
    color: var(--ubs-secondary-grey);
    border: 1px solid var(--ubs-secondary-grey) !important;
  }
}

.ubs-secondary-global-button img {
  width: 13px;
  height: 13px;
  margin-right: 9px;
}

.ubs-secondary-global-button {
  display: flex;
  align-items: center;

  .mat-icon {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
}

.research {
  display: flex;
  justify-content: space-between;
  border: 0;
  width: 100%;
  margin: 20px 0 17px 0;

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 426px;
    height: 36px;
    border: 1px solid var(--ubs-primary-light-grey);
    border-radius: 4px;

    .search-input {
      display: flex;
      width: 100%;

      input {
        padding: 0 0 0 15px;
        margin: 0;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }
}

.btn-excel .mat-icon {
  display: none;
}

.icon-style {
  color: var(--ubs-primary-light-grey);
  margin: 8px;
}

.dropdown-menu .check {
  width: 16px;
  height: 16px;
  z-index: 9;
  border-radius: 3px;
  margin: 8px 8px 8px 0;
}

.clear-apply-group {
  padding: 12px 12px 0 12px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
  width: 100%;

  .btn {
    width: calc(50% - 4px);
  }
}

.blocked_mess {
  background-color: rgb(255, 243, 205);
  color: rgb(133, 100, 4);
  border: 1px solid rgb(185, 141, 8);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

  .close_alert {
    position: absolute;
    right: 10px;
    font-size: 18px;
  }
}

.mat-header-cell .mat-icon {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }
}

.accordion-body {
  padding-left: 16px;
  padding-top: 8px;
  width: 320px;
}

.filters-dropdown-wrapper {
  position: relative;
}

.bg-lime {
  border: none;
  background-color: var(--ubs-button-dark-green);

  &:disabled {
    color: var(--ubs-secondary-grey);
    background-color: var(--ubs-quaternary-light-grey);
  }
}

.dropdown-menu li {
  color: var(--ubs-primary-grey);
  display: flex;
  align-items: center;
}

.accordion-item {
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 36px;
  font-size: 14px;
}

.mat-spinner {
  margin: 3rem auto;
  padding-top: 40px;

  ::ng-deep circle {
    stroke: var(--primary-green);
  }
}

.scrolling {
  min-height: 500px;
  height: 100vh;
  overflow: scroll;
}

.paginator {
  height: 100px;
}

::ng-deep thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.btns-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  gap: 18px;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 9999;
  background-color: var(--ubs-secondary-white);
}

.sticky-top {
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--ubs-secondary-white);
}

.check-all {
  padding-left: 27px;
}

.dropdown-top-panel {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 5px 22px 5px;
  margin-left: 16;
  margin-right: 16;
}

.font-weight-bold {
  margin-bottom: 0;
  padding-left: 22px;
}

.column_header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.column_cell {
  display: flex;
  height: 100%;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.mat-column-comment_to_address_for_client,
.mat-column-id_order_from_shop,
.mat-column-violations {
  width: 250px;
}

.mat-column-comment_for_order_by_client {
  width: 280px;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: var(--ubs-button-light-green);
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: rgb(122, 180, 6);
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background,
::ng-deep .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: var(--ubs-quaternary-dark-grey) !important;
}

.accordion-group-header {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  height: 36px;
  font-weight: bold;
  cursor: pointer;
}

.head {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.items {
  padding: 16px 24px;
}

.item {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 18px;

  .head {
    color: var(--ubs-black);
  }
}

.reset-settings {
  float: right;
  border: none;
  border-radius: 100px;
  background-color: none;
}

#table-container {
  margin-top: 17px;
}

.highlighted {
  background-color: var(--ubs-liberty-green);
}

@media (max-width: 1240px) {
  .research {
    gap: 16px;

    .search {
      width: calc(100% - 160px);
    }
  }
}

@media (max-width: 954px) {
  .btn-excel,
  .filt-btn {
    padding: 0;
    width: 36px;

    .mat-icon {
      display: flex;
      justify-content: center;
    }

    span {
      display: none;
    }
  }

  .ubs-secondary-global-button img {
    margin: 0;
  }
}
