<form *ngIf="personalDataForm" [formGroup]="personalDataForm">
  <div class="row personal-data">
    <div class="w-100">
      <h2 class="personal-data-title">{{ 'personal-info.info-personal-data' | translate }}</h2>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label for="firstName">{{ 'personal-info.info-name' | translate }}</label>
      <input formControlName="firstName" type="text" class="shadow-none form-control" />
      <div class="validation" *ngIf="firstName.invalid && firstName.touched">
        <app-ubs-input-error [formElement]="firstName"></app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label for="phoneNumber">{{ 'personal-info.info-phone' | translate }}</label>
      <input
        id="info-phone"
        formControlName="phoneNumber"
        type="text"
        class="shadow-none form-control"
        placeholder="+380(__) ___ __ __"
        [unmask]="true"
        [imask]="{ mask: phoneMask }"
      />
      <div class="validation" *ngIf="phoneNumber.invalid && phoneNumber.touched">
        <app-ubs-input-error [formElement]="phoneNumber"> </app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group mt-2">
      <label for="lastName">{{ 'personal-info.info-surname' | translate }}</label>
      <input formControlName="lastName" type="text" class="shadow-none form-control" />
      <div class="validation" *ngIf="lastName.invalid && lastName.touched">
        <app-ubs-input-error [formElement]="lastName"></app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group mt-2">
      <label for="email">Email</label>
      <input formControlName="email" type="text" class="shadow-none form-control" placeholder="example@email.com" />
      <div class="validation" *ngIf="email.invalid && email.touched">
        <app-ubs-input-error [formElement]="email"></app-ubs-input-error>
      </div>
    </div>
  </div>
  <div class="row form-check">
    <input class="form-check-input" type="checkbox" formControlName="isAnotherClient" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault">
      {{ 'personal-info.info-other-client' | translate }}
    </label>
  </div>
  <div class="row personal-data" *ngIf="isAnotherClient.value">
    <div class="col-12 col-sm-6 form-group">
      <label for="senderFirstName">{{ 'personal-info.info-name' | translate }}</label>
      <input
        formControlName="senderFirstName"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.info-name' | translate }}"
      />
      <div class="validation" *ngIf="senderFirstName.invalid && senderFirstName.touched">
        <app-ubs-input-error [formElement]="senderFirstName"></app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group">
      <label for="senderLastName">{{ 'personal-info.info-phone' | translate }}</label>
      <input
        formControlName="senderPhoneNumber"
        type="text"
        class="shadow-none form-control"
        placeholder="+380(___) ___ __ __"
        [unmask]="true"
        [imask]="{ mask: phoneMask }"
      />
      <div class="validation" *ngIf="senderPhoneNumber.invalid && senderPhoneNumber.touched">
        <app-ubs-input-error [formElement]="senderPhoneNumber"> </app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group mt-2">
      <label for="senderLastName">{{ 'personal-info.info-surname' | translate }}</label>
      <input
        formControlName="senderLastName"
        type="text"
        class="shadow-none form-control"
        placeholder="{{ 'personal-info.info-surname' | translate }}"
      />
      <div class="validation" *ngIf="senderLastName.invalid && senderLastName.touched">
        <app-ubs-input-error [formElement]="senderLastName"> </app-ubs-input-error>
      </div>
    </div>
    <div class="col-12 col-sm-6 form-group mt-2">
      <label for="senderEmail">Email ({{ 'personal-info.info-optionally' | translate }})</label>
      <input formControlName="senderEmail" type="text" class="shadow-none form-control" placeholder="example@email.com" />
      <div class="validation" *ngIf="senderEmail.invalid && senderEmail.touched">
        <app-ubs-input-error [formElement]="senderEmail"> </app-ubs-input-error>
      </div>
    </div>
  </div>
  <hr />
  <app-ubs-order-address></app-ubs-order-address>
</form>

<div class="w-100 buttons" *ngIf="personalDataForm">
  <button class="ubs-back-link-global-button" matStepperPrevious>
    <i class="fas fa-chevron-left" aria-hidden="true"></i>
    &nbsp;
    <span class="link-underline">{{ 'personal-info.info-back' | translate }}</span>
  </button>
  <div class="btn-canc-sub">
    <button class="ubs-secondary-global-button" type="button" (click)="onCancel()">
      {{ 'personal-info.info-cancel' | translate }}
    </button>
    <button
      type="submit"
      class="ubs-primary-global-button"
      matStepperNext
      [disabled]="personalDataForm.invalid || ($address | async) === null"
    >
      {{ 'personal-info.info-next' | translate }}
    </button>
  </div>
</div>
