<div class="container" *ngIf="bags.length">
  <div class="header">
    <h3>Ваше замовлення</h3>
    <table>
      <thead>
        <th>Послуга</th>
        <th>Об'єм</th>
        <th>Вартість</th>
        <th>Кількість пакетів</th>
        <th>Сума</th>
      </thead>
      <tbody>
        <tr *ngFor="let bag of bags">
          <ng-container *ngIf="bag.quantity">
            <td class="firstRow">{{ bag.name }}</td>
            <td class="firstRow"> {{ bag.capacity }} л</td>
            <td class="firstRow">{{ bag.price }} грн</td>
            <td class="firstRow">{{ bag.quantity }}</td>
            <td class="firstRow">{{ bag.price* bag.quantity}} </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <div class="showTotal">
      <div class="totalInfo">
        <p><span>Сума замовлення:</span><span><b>{{ bill.total }} грн</b></span></p>
        <p [class.d-none]="bill.certificatesSum === 0"><span>Сертифікат:
          </span><span><small>{{ bill.certificatesSum }}</small></span></p>
        <p [class.d-none]="bill.pointsSum === 0"><span>Бонуси: </span><span><small>{{ bill.pointsSum }}</small></span>
        </p>
        <p><span>Сума до оплати: </span><span><b>{{ bill.finalSum }} грн</b></span></p>
        <div *ngIf="displayMes" class="validMes">
          <small class="text-danger">Мінімальна сума замовлення повинна складати 500 грн</small>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div>
      <h4>Еко магазин</h4>
      <p>Номер вашого замовлення: <span *ngFor="let order of additionalOrders ">{{ order }} </span></p>
      <p><span>{{ orderComment }}</span></p>
    </div>
    <div class="personalData">
      <div class="data">
        <h4>Особисті дані</h4>
        <ul>
          <li>{{ lastName }} {{ firstName }}</li>
          <li>{{ email }}</li>
          <li>0{{ mobile }}</li>
        </ul>
      </div>
      <div class="data">
        <h4>Адреса вивозу сміття</h4>
        <ul>
          <li>{{ city }}</li>
          <li>{{ district }}</li>
          <li><span>вул.{{ street }}, {{ houseNumber }}</span>, {{ houseCorpus }}</li>
          <li><span>{{ comment }}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom">
    <h3>Оплата</h3>
    <p>Після розміщення замовлення Ви можете здійснити оплату вибраним способом</p>
    <div class="col-12 col-sm-12 form-group bottom-select">
      <label for="">Оберіть способ оплати</label>
      <select class="shadow-none form-control">
        <option value="LiqPay">Карткою через LiqPay</option>
      </select>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="secondary-global-button btn" matStepperPrevious>Назад</button>
      <button type="submit" class="primary-global-button btn">Замовити</button>
    </div>
  </div>
</div>
