<div class="container" *ngIf="bags.length && personalData">
  <div class="header">
    <h3>{{ 'submit-order.your-order' | translate }}</h3>
    <table aria-label="order table">
      <thead>
        <th>{{ 'submit-order.service' | translate }}</th>
        <th>{{ 'submit-order.volume' | translate }}</th>
        <th>{{ 'submit-order.cost' | translate }}</th>
        <th>{{ 'submit-order.number-of-packages' | translate }}</th>
        <th>{{ 'submit-order.sum' | translate }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let bag of bags">
          <ng-container *ngIf="bag.quantity">
            <td class="firstRow">{{ bag.name }}</td>
            <td class="firstRow">{{ bag.capacity }} {{ 'submit-order.litr' | translate }}</td>
            <td class="firstRow">{{ bag.price }} {{ 'submit-order.currency' | translate }}</td>
            <td class="firstRow">{{ bag.quantity }}</td>
            <td class="firstRow">{{ bag.price * bag.quantity }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <div class="showTotal">
      <div class="totalInfo">
        <p>
          <span>{{ 'submit-order.order-amount' | translate }}</span>
          <span
            ><strong>{{ orderDetails.total }} {{ 'submit-order.currency' | translate }}</strong></span
          >
        </p>
        <p [class.d-none]="orderDetails.certificatesSum === 0">
          <span>{{ 'submit-order.certificate' | translate }}</span>
          <span
            ><small>{{ orderDetails.certificatesSum }} </small></span
          >
        </p>
        <p [class.d-none]="orderDetails.pointsSum === 0">
          <span>{{ 'submit-order.bonuses' | translate }} </span>
          <span
            ><small>{{ orderDetails.pointsSum }}</small></span
          >
        </p>
        <p>
          <span>{{ 'submit-order.amount-due' | translate }} </span>
          <span
            ><strong>{{ orderDetails.finalSum }} {{ 'submit-order.currency' | translate }}</strong></span
          >
        </p>
      </div>
    </div>
  </div>
  <div class="main">
    <div>
      <h4>{{ 'submit-order.eco-shop' | translate }}</h4>
      <p>
        {{ 'submit-order.order-number' | translate }} <span *ngFor="let order of orderDetails.additionalOrders">{{ order }} </span>
      </p>
      <p>
        <span>{{ orderDetails.orderComment }}</span>
      </p>
    </div>
    <div class="personalData">
      <div class="data">
        <h4>{{ 'submit-order.personal-data' | translate }}</h4>
        <ul>
          <li>{{ personalData.lastName }} {{ personalData.firstName }}</li>
          <li>{{ personalData.email }}</li>
          <li>0{{ personalData.phoneNumber }}</li>
        </ul>
      </div>
      <div class="data">
        <h4>{{ 'submit-order.address' | translate }}</h4>
        <ul>
          <li>{{ personalData.city }}</li>
          <li>{{ personalData.district }}</li>
          <li>
            <span>{{ 'submit-order.str' | translate }}{{ personalData.street }}, {{ personalData.houseNumber }}</span
            >, {{ personalData.houseCorpus }}
          </li>
          <li>
            <span>{{ personalData.addressComment }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom">
    <h3>{{ 'submit-order.payment' | translate }}</h3>
    <p>{{ 'submit-order.after-payment' | translate }}</p>
    <div class="col-12 col-sm-12 form-group bottom-select">
      <label for="">{{ 'submit-order.choose-payment' | translate }}</label>
      <select class="shadow-none form-control">
        <option value="LiqPay">{{ 'submit-order.liqpay-card' | translate }}</option>
      </select>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <button class="secondary-global-button btn" matStepperPrevious>{{ 'submit-order.back' | translate }}</button>
      <button type="submit" class="primary-global-button btn">{{ 'submit-order.to-order' | translate }}</button>
    </div>
  </div>
</div>
