<div class="add-habit-modal" [style.display]="visible ? 'block' : 'none'">
  <div class="add-habit-modal-bg">
    <div class="add-habit-modal-window">
      <div>
        <h3>New habit</h3>
        <img [src]="closeCross" alt="close-cross" (click)="hideAddNewHabitModal()">
      </div>
      <div class="splitter"></div>
      <app-already-chosen></app-already-chosen>
      <app-available-to-choose></app-available-to-choose>
      <div class="splitter"></div>
      <div class="button-row">
        <button class="button button-cancel">Cancel</button>
        <button class="button button-save">Save</button>
      </div>
    </div>
  </div>
</div>