<div id="eco-events">
  <div id="eco-events-wrapper">
    <div id="main-event">
      <div id="main-event-image">
        <img [src]="eventImg" alt="event-image">
      </div>
      <div id="main-event-content">
        <p class="event-date">{{ latestNews[0]?.creationDate }}</p>
        <h3>{{ latestNews[0]?.title }}</h3>
        <a class="read-more">{{ "homepage.eco-news.read-more" | translate }} <img [src]="arrow" alt="arrow"></a>
      </div>
    </div>
    <div id="other-events">
      <div class="other-event">
        <p class="event-date">{{ latestNews[1]?.creationDate }}</p>
        <h3>{{ latestNews[1]?.title }}</h3>
        <a class="read-more">{{ "homepage.eco-news.read-more" | translate }} <img [src]="arrow" alt="arrow"></a>
      </div>
      <div class="splitter"></div>
      <div class="other-event">
        <p class="event-date">{{ latestNews[2]?.creationDate }}</p>
        <h3>{{ latestNews[2]?.title }}</h3>
        <a class="read-more">{{ "homepage.eco-news.read-more" | translate }} <img [src]="arrow" alt="arrow"></a>
      </div>
    </div>
  </div>
  <a class="read-more centered" (click)="openNews()">{{ "homepage.eco-news.read-all" | translate }} <img [src]="arrow"
      alt="arrow"></a>
</div>