#eco-events {
  vertical-align: top;
  width: 100%;
}

.read-more {
  color: #13aa57 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
}

.read-more img {
  margin-left: 19px;
}

#eco-events #eco-events-wrapper {
  height: fit-content;
  margin: 0 auto;
  vertical-align: top;
  width: fit-content;
}

#eco-events #eco-events-wrapper #main-event {
  border-radius: 4px;
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  display: inline-block;
  margin-right: 24px;
  vertical-align: top;
}

#eco-events #eco-events-wrapper #main-event #main-event-image {
  height: 236px;
  max-width: 613px;
}

#eco-events #eco-events-wrapper #main-event #main-event-image img {
  height: 100%;
  width: 100%;
}

#eco-events #eco-events-wrapper #main-event #main-event-content {
  background-color: #fff;
  padding: 20px 40px 30px;
}

.event-date {
  color: #839c94 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 2.8px;
  margin-bottom: 10px;
}

#eco-events #eco-events-wrapper #main-event #main-event-content h3 {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 20px;
  max-width: 435px;
}

#eco-events #eco-events-wrapper .splitter {
  background-color: rgba(131, 156, 148, 0.3);
  height: 2px;
  margin: 18px 0;
  width: 100%;
}


#eco-events #eco-events-wrapper #other-events {
  border-radius: 4px;
  border-top: 7px solid #13aa57;
  box-shadow: -1px 13px 20px 0 #f0f2f4;
  display: inline-block;
  max-width: 400px;
  padding: 27px 30px;
  vertical-align: top;
}

#eco-events #eco-events-wrapper #other-events .other-event {
  background-color: #fff;
  height: 50%;
}

#eco-events #eco-events-wrapper #other-events .other-event p {
  margin-bottom: 15px !important;
}

#eco-events #eco-events-wrapper #other-events .other-event h3 {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  #eco-events #eco-events-wrapper #main-event, 
  #eco-events #eco-events-wrapper #other-events {
    display: block;
    margin: 0 auto;
  }

  #eco-events #eco-events-wrapper #main-event #main-event-image {
    height: auto;
  }

  #eco-events #eco-events-wrapper #other-events {
    margin-top: 20px;
  }

  #eco-events #eco-events-wrapper #other-events {
    max-width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  #eco-events {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  #eco-events #eco-events-wrapper #main-event {
    position: relative;
  }

  #eco-events #eco-events-wrapper #main-event #main-event-image {
    border-radius: 4px;
  }

  #eco-events #eco-events-wrapper #main-event #main-event-content {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    position: absolute;
    padding: 10px;
    width: 100%;
  }

  #eco-events #eco-events-wrapper #main-event #main-event-content h3 {
    color: #fff;
    font-size: 21px;
    line-height: 1.14;
    margin-bottom: 5px;
  }

  #eco-events #eco-events-wrapper #main-event #main-event-content p {
    color: #fff;
    margin-bottom: 10px;
  }

  #eco-events #eco-events-wrapper #other-events {
    padding: 10px;
  }

  .event-date {
    font-size: 12px !important;
    line-height: 1.33 !important;
    margin-bottom: 4px !important;
  }

  .other-event h3 {
    font-size: 16px !important;
    line-height: 1.19 !important;
    margin-bottom: 10px !important;
  }

  .read-more {
    font-size: 14px !important;
    line-height: 1.14 !important;
  }

  .read-more img {
    margin-left: 10px !important;
  }
}