<div class="main">
  <div class="image"></div>
  <div class="description">
    <div class="first-row">
      <img class="calendar" src="assets/icons/habits/calendar-green.svg" alt="calendar" />
      <p>{{ daysCounter }} / {{ habit.duration }}<span>I</span></p>
      <div *ngIf="showPhoto" class="friends-photo">
        <div *ngFor="let photo of photoArrays">
          <img class="first-photo" [src]="photo" alt="First friend photo" />
        </div>
      </div>
      <div class="edit" (click)="goToHabitProfile()"></div>
    </div>
    <div class="second-row">
      {{ habit.habit.habitTranslation.name }}
    </div>
  </div>
  <div class="third-row" [ngSwitch]="habitMark">
    <ng-template ngSwitchCase="undone">
      <button class="{{ habitMark }}" (click)="enroll()" [disabled]="isRequest"></button>
      <div class="grey">{{ 'user.habit.one-habit.done' | translate }}</div>
    </ng-template>
    <ng-template ngSwitchCase="done">
      <button class="{{ habitMark }}" (click)="unenroll()" [disabled]="isRequest"></button>
      <div class="green">{{ habit.habitStreak }} {{ getDayName() | translate }}</div>
    </ng-template>
    <ng-template ngSwitchDefault="acquired">
      <div class="{{ habitMark }}"></div>
      <div class="green">{{ 'user.habit.one-habit.great' | translate }}</div>
    </ng-template>
  </div>
</div>
