button {
  border: none;
  padding: 0;
}

.main {
  height: 192px;
  background-color: var(--primary-white);
  display: grid;
  grid-template-columns: 192px 1fr;
  grid-template-rows: 1fr 60px;
  box-shadow: 1px 4px 8px var(--quintynary-dark-grey);
  border-radius: 4px;
}

.description {
  margin: 12px 0 0 16px;
  grid-area: 1 / 2 / 2 / 2;
  display: flex;
  flex-direction: column;
  padding: 0 12px;

  .first-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;

    .calendar {
      width: 12.5px;
      height: 13.75px;
      margin-right: 7px;
      background-image: url('~/assets/img/icon/calendar.svg') no-repeat;
    }

    p {
      font-family: var(--secondary-font);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--primary-green);
      margin: 0 16px 0 0;

      span {
        height: 12px;
        margin-left: 12px;
      }
    }

    .friends-photo {
      display: flex;

      .first-photo,
      .second-photo {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--secondary-light-grey);
      }

      .first-photo {
        z-index: 1;
      }

      .second-photo {
        position: relative;
        left: -5px;
      }
    }

    .edit {
      width: 20px;
      height: 20px;
      background-color: var(--quaternary-dark-grey);
      -webkit-mask-image: url('~/assets/img/profile/icons/edit-line.svg');
      mask-image: url('~/assets/img/profile/icons/edit-line.svg');
      margin-left: auto;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-green);
      }
    }
  }

  .second-row {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding-right: 12px 24px;
    color: var(--quaternary-dark-grey);
    letter-spacing: 0.002em;
  }
}

.image {
  grid-area: 1 / 1 / 3 / 2;
  background-image: url('~/assets/img/man.svg');
  background-position: left center;
  width: 100%;
  height: 100%;
  float: left;
}

.third-row {
  margin: 0 0 16px 16px;
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  padding: 0 12px;

  div:first-child,
  button:first-child {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .grey,
  .green {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .grey {
    color: var(--quintynary-light-grey);
  }

  .green {
    color: var(--primary-green);
  }

  .done {
    background: url('~/assets/img/icon/chek-circle.png') no-repeat center;
  }

  .undone {
    background: url('~/assets/img/icon/plus-circle.png') no-repeat center;
  }

  .aquired {
    background: url('~/assets/img/icon/star-circle.png') no-repeat center;
  }
}

@media (min-width: 280px) {
  .main {
    height: 192px;
    grid-template-columns: 0 auto;
  }

  .description {
    grid-area: 1 / 1 / 2 / 3;
  }

  .image {
    display: none;
  }

  .third-row {
    grid-area: 2 / 1 / 3 / 3;
  }
}

@media (min-width: 480px) {
  .main {
    grid-template-columns: 192px 1fr;
    grid-template-rows: 1fr 60px;
  }

  .image {
    display: block;
  }

  .description {
    grid-area: 1 / 2 / 2 / 2;

    .first-row {
      .calendar {
        width: 14px;
        height: 15px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .second-row {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .third-row {
    grid-area: 2 / 2 / 3 / 3;
  }
}
