button {
  border: none;
  padding: 0;
}

img {
  &:focus {
    outline: 2px solid black;
  }
}

.main {
  height: 192px;
  background-color: var(--primary-white);
  display: grid;
  grid-template-columns: 192px 1fr;
  grid-template-rows: 1fr 60px;
  box-shadow: 1px 4px 8px var(--quintynary-dark-grey);
  border-radius: 4px;
  margin-bottom: 16px;
}

.description {
  margin: 12px 0 0 16px;
  grid-area: 1 / 2 / 2 / 2;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  height: 110px;

  .first-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;

    .calendar {
      width: 20px;
      height: 20px;
      margin-right: 7px;

      .calendar-icon {
        height: 24px;
        width: 24px;
        margin-right: 15px;
      }
    }

    p {
      font-family: var(--secondary-font);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--primary-green);
      margin: 0 16px 0 0;

      span {
        height: 12px;
        margin-left: 12px;
      }
    }

    .friends-photo {
      display: flex;

      .first-photo,
      .second-photo {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--secondary-light-grey);
      }

      .first-photo {
        z-index: 1;
      }

      .second-photo {
        position: relative;
        left: -5px;
      }
    }

    .edit {
      width: 20px;
      height: 20px;
      background-color: var(--ubs-primary-white);
      margin-left: auto;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-green);
        -webkit-mask-image: url('~/assets/img/profile/icons/edit-line.svg');
        mask-image: url('~/assets/img/profile/icons/edit-line.svg');
      }
    }
  }

  .second-row {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding-right: 12px 24px;
    color: var(--quaternary-dark-grey);
    letter-spacing: 0.002em;
    width: 320px;
    word-wrap: break-word;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.image {
  grid-area: 1 / 1 / 3 / 2;
  background-image: url('~/assets/img/man.svg');
  background-position: left center;
  width: 100%;
  height: 100%;
  float: left;
}

.third-row {
  margin: 0 0 16px 16px;
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  padding: 0 12px;

  div:first-child,
  button:first-child {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .grey,
  .green {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .grey {
    color: var(--quintynary-light-grey);
  }

  .green {
    color: var(--primary-green);
  }

  .done {
    background: url('~/assets/img/icon/chek-circle.png') no-repeat center;
  }

  .undone {
    background: url('~/assets/img/icon/plus-circle.png') no-repeat center;
  }

  .acquired {
    background: url('~/assets/img/icon/star-circle.png') no-repeat center;
  }
}

@media (max-width: 479px) {
  .main {
    height: 192px;
    grid-template-columns: 0 auto;
  }

  .description {
    grid-area: 1 / 1 / 2 / 3;
  }

  .image {
    display: none;
  }

  .third-row {
    grid-area: 2 / 1 / 3 / 3;
  }
}

@media (min-width: 480px) {
  .main {
    grid-template-columns: 192px 1fr;
    grid-template-rows: 1fr 60px;
  }

  .image {
    display: block;
  }

  .description {
    grid-area: 1 / 2 / 2 / 2;

    .first-row {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .second-row {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .third-row {
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media (max-width: 1199px) {
  .description {
    .second-row {
      width: 230px;
    }
  }
}

@media (max-width: 1023px) {
  .description {
    .second-row {
      width: 475px;
    }
  }
}

@media (max-width: 991px) {
  .description {
    .second-row {
      width: 235px;
    }
  }
}

@media (max-width: 767px) {
  .description {
    .second-row {
      width: 305px;
    }
  }
}

@media (max-width: 575px) {
  .description {
    width: auto;
    overflow: hidden;
    height: 110px;

    .second-row {
      width: auto;
    }
  }
}
