/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=cyrillic');*/
.open-sans {
  font-family: 'Open Sans', sans-serif;
}

span {
  size: 16px;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.5;
  color: #839c94;
}

.item-count{
  font-family: PTSans, sans-serif!important;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #13aa57;
}

h2 {
  width: 605px;
  height: 108px;
  font-size: 46px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #000000;
  margin: 0 0 0 0;
}

p {
  width: 591px;
  height: 46px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #000000;
  margin: 0px 0px 20px 0;
}

.statistic {
  align-items: center;
  flex-shrink: 0;
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: flex;
}

img {
  width: auto;
  height: 100px;
  margin: 0px 15px 6px 15px;
  position: relative;
}

.images {
  width: auto;
  height: 100px;
  margin: 0;
  position: relative;
}

h4 {
  position: absolute;
  top: 0;
  left: 10px;
  width: auto;
}

h4 span {
  width: 55px;
  height: 56px;
  font-family: PTSans;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #13aa57;
  margin: 38px 0 0 20px;
  position: absolute;
}



