<form [formGroup]="form" (ngSubmit)="onSubmit()" class="notification-form">
  <div class="form-group">
    <label for="titleUk">Title (UA):</label>
    <input id="titleUk" formControlName="titleUk" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="titleEn">Title (EN):</label>
    <input id="titleEn" formControlName="titleEn" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="schedule">Schedule (CRON):</label>
    <input id="schedule" formControlName="schedule" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="userCategory">User Category:</label>
    <select id="userCategory" formControlName="userCategory" class="form-control">
      <option *ngFor="let category of userCategories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div *ngFor="let platform of receiverTypes" class="platform-group">
    <fieldset class="platform-fieldset">
      <legend class="platform-legend">{{ platform }}</legend>

      <div class="form-group">
        <label [for]="'bodyUk_' + platform">Body (UA):</label>
        <textarea [id]="'bodyUk_' + platform" [formControlName]="'bodyUk_' + platform" class="form-control textarea"></textarea>
      </div>

      <div class="form-group">
        <label [for]="'bodyEn_' + platform">Body (EN):</label>
        <textarea [id]="'bodyEn_' + platform" [formControlName]="'bodyEn_' + platform" class="form-control textarea"></textarea>
      </div>
    </fieldset>
  </div>
  <div class="button-group">
    <button type="submit" [disabled]="form.invalid" class="submit-button">Create Notification</button>
    <button type="button" (click)="onCancel()" class="cancel-button">Cancel</button>
  </div>
</form>
