::ng-deep .pac-container {
  position: fixed !important;
}

form {
  position: relative;
}

.btn {
  width: 140px;
  height: 48px;
  border-radius: 0;
}

.btn:nth-child(1) {
  margin: 0 24px 0 16px;
}

.btn:nth-child(2) {
  margin: 0 15px 0 0;
}

.validation {
  color: var(--error-red);
}

@media (max-width: 767px) {
  .secondary-global-button,
  .primary-global-button,
  .btn {
    width: 100px;
    font-size: 1rem;
  }
}
