::ng-deep .pac-container {
  position: fixed !important;
  top: 377px !important;

  @media only screen and (max-width: 300px) {
    top: 384px !important;
  }

  @media only screen and (min-width: 301px) and (max-width: 500px) {
    top: 364px !important;
  }

  @media only screen and (min-width: 501px) and (max-width: 1000px) {
    top: 337px !important;
  }
}

form {
  position: relative;
}

.form-control {
  height: 2.25rem;
  font-size: 0.9rem;
  color: var(--ubs-quaternary-dark-grey);

  option {
    color: var(--ubs-quaternary-dark-grey);
  }
}

input,
select {
  border: 1px solid var(--ubs-quintynary-light-grey);
}

.personal-info-pop-up-title {
  margin: 0 0 20px 15px;
  font-family: var(--ubs-tertiary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
}

.city-notice {
  margin: 0 0 20px 15px;
  font-size: 14px;
  color: var(--ubs-primary-grey);
}

::placeholder {
  color: var(--ubs-primary-light-grey);
  opacity: 1;
  font-size: 0.9rem;
}

.form-group {
  label {
    font-family: var(--ubs-tertiary-font);
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--ubs-secondary-grey);
  }

  select.ng-invalid {
    color: var(--ubs-primary-light-grey);
  }
}

.comment-section {
  margin: 0 15px 20px 15px;
  width: 100%;

  textarea {
    display: block;
    width: 100%;
    height: 72px;
    padding: 12px 24px;
    resize: none;
    border: 1px solid var(--ubs-quintynary-light-grey);
    color: var(--ubs-primary-grey);
    font-size: 14px;
  }
}

.btn {
  width: 115px;
  height: 40px;
  border-radius: 4px;
}

.btn:nth-child(1) {
  margin: 0 24px 0 16px;
}

.btn:nth-child(2) {
  margin: 0 15px 0 0;
}

.validation {
  color: var(--error-red);
  font-size: 10px;
}

.buttons {
  margin-bottom: 1px;

  .secondary-global-button {
    border: 1px solid var(--ubs-quaternary-dark-grey);
    color: var(--ubs-quaternary-dark-grey);
    margin-right: 1rem !important;
  }

  .primary-global-button {
    width: 163px;
    padding: 8px 14px;
    color: var(--ubs-quaternary-dark-grey);
    border-color: var(--ubs-button-light-green);
    background: var(--ubs-button-light-green);

    &:disabled {
      background: var(--ubs-quaternary-light-grey);
      border-color: var(--ubs-quaternary-light-grey);
    }
  }
}

@media (max-width: 767px) {
  .secondary-global-button,
  .primary-global-button,
  .btn {
    width: 100px;
    font-size: 0.8rem;
  }
}
