<div #scrollContainer class="messages">
  <div *ngFor="let message of messages" [ngClass]="{ message: true, sent: message.from === 'Me', received: message.from !== 'Me' }">
    <div class="message-text" *ngIf="message.text">
      <div class="message-icons">
        <img class="icon" [src]="chatICons.edit" alt="edit" (click)="onMessageEdit(message)" />
      </div>
      {{ message.text }}
    </div>

    <div class="message-assets" *ngIf="message.images?.length">
      <img *ngFor="let imgUrl of message.images" [src]="imgUrl" alt="chat" class="message-image" (click)="openImage.emit(imgUrl)" />
    </div>

    <div class="message-file" *ngIf="message.fileUrl">
      <a [href]="message.fileUrl" target="_blank" rel="noopener noreferrer" class="file-link">
        📎 {{ message.fileName || 'Download file' }}
      </a>
    </div>

    <div class="message-footer">
      <span class="message-time">{{ message.time }}</span>
      <app-status-ticks *ngIf="message.from === 'Me'" [status]="message.viewingStatus || undefined"></app-status-ticks>
    </div>
  </div>
</div>
