.dialog-container {
  font-family: var(--primary-font);

  .warning-text {
    margin-bottom: 0;
  }

  .dialog-container-text {
    padding-bottom: 20px;
  }

  button {
    width: 65px;
    margin: 5px;
    font-family: var(--secondary-font);
  }

  .action-btns {
    float: right;
    color: var(--ubs-tertiary-dark-grey);

    .btn-pay {
      font-size: 14px;
      font-weight: 600;
      background-color: var(--ubs-button-light-green);
    }

    .btn-cancel {
      margin-right: 5px;
      font-size: 14px;
      font-weight: 600;
      outline: 1px solid var(--ubs-tertiary-dark-grey);
    }
  }
}
