.wrapper {
  min-height: 100vh;
  width: 80vw;
  margin-left: -25px;
  padding: 0 25px;
  font-size: 16px;
  line-height: 24px;
  color: var(--ubs-primary-black);
  font-family: var(--primary-font);
  background-color: var(--after-primary-light-grey);
}

.main_header {
  display: flex;
  justify-content: space-between;
}

.main_header-title {
  margin: 0 0 12px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.if_empty {
  margin: 16px 0 0 44px;

  a {
    margin-left: 13px;
    color: var(--ubs-button-light-green);
  }
}

.cards {
  width: 100%;

  .empty {
    height: 80px;
  }
}

.btn_new_order {
  height: 36px;
  min-width: 179px;
  margin-right: 24px;
  margin-top: 10px;
  border: none;
  color: var(--ubs-quaternary-dark-grey);
  padding: 8px 24px 8px 24px;
  background: var(--ubs-button-light-green);
  border-radius: 4px;
}

.user-orders-pagination::ng-deep .ngx-pagination .current {
  background: var(--ubs-button-light-green);
}

.user-orders-pagination {
  clear: both;
  position: relative;
  font-size: 16px;
  text-align: center;
}

mat-expansion-panel {
  box-shadow: 0px 2px 6px rgba(100, 114, 125, 0.15);
}

@media (max-width: 1540px) {
  .wrapper {
    width: unset;
  }
}

@media (max-width: 960px) {
  .wrapper {
    font-size: 16px;
    line-height: 24px;
    color: var(--ubs-primary-black);
    font-family: var(--primary-font);
    background-color: var(--after-primary-light-grey);
    margin-bottom: 10px;
  }

  .main_header {
    padding-right: 45px;
  }

  .main_header-title {
    margin: 0;
  }
}

@media (max-width: 480px) {
  ::ng-deep app-ubs-footer {
    display: none !important;
  }

  .wrapper {
    width: 100vw;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: var(--ubs-primary-black);
    font-family: var(--primary-font);
    background-color: var(--after-primary-light-grey);
  }

  .main_header {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }

  .btn_new_order {
    width: 100%;
    min-width: unset;
    margin-right: 0;
  }

  .main_header-title {
    margin: 0;
  }
}
