<div class="wrapper">
  <div class="main_header">
    <h1 class="main_header-title">{{ 'user-orders.order-title' | translate }}</h1>
    <button class="btn ubs-primary-global-button s-btn" (click)="redirectToOrder()">{{ 'user-orders.btn.new-order' | translate }}</button>
  </div>
  <div *ngIf="!loading; else spinner">
    <div
      *ngIf="currentOrders.length || closedOrders.length; else noOrders"
      class="cards"
      infiniteScroll
      [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="100"
      (scrolled)="onScroll()"
    >
      <mat-tab-group animationDuration="0ms" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab label="{{ 'user-orders.current-orders' | translate }}" class="target-to-scroll">
          <div class="mobile-title">
            <img src="{{ infoIcon }}" alt="cancel" />
            <div>
              {{ 'user-orders.info-title' | translate }}
            </div>
          </div>
          <app-ubs-user-orders-list [orders]="currentOrders" [bonuses]="bonuses"></app-ubs-user-orders-list>
        </mat-tab>
        <mat-tab label="{{ 'user-orders.order-history' | translate }}" class="target-to-scroll">
          <div class="mobile-title">
            <img src="{{ infoIcon }}" alt="cancel" />
            <div>
              {{ 'user-orders.info-title' | translate }}
            </div>
          </div>
          <app-ubs-user-orders-list [orders]="closedOrders" [bonuses]="bonuses"></app-ubs-user-orders-list>
        </mat-tab>
      </mat-tab-group>
    </div>
    <ng-template #noOrders>
      <div class="if_empty">
        <span>{{ 'user-orders.no-orders' | translate }}</span>
      </div>
    </ng-template>
    <div class="empty"></div>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</div>
