<div class="container">
  <div class="close-container">
    <button class="close-btn" mat-dialog-close (click)="close()">
      <img src="{{ closeButton }}" alt="close" />
    </button>
  </div>
  <label class="title" id="addReason">{{ 'order-cancel.title' | translate }}</label>
  <mat-radio-group aria-label="addReason" [(ngModel)]="cancellationReason">
    <mat-radio-button *ngFor="let option of reasonList" value="{{ option.value }}"> {{ option.translation | translate }}</mat-radio-button>
  </mat-radio-group>
  <form [formGroup]="commentForm">
    <textarea
      *ngIf="cancellationReason === 'OTHER'"
      formControlName="cancellationComment"
      placeholder="{{ 'order-cancel.placeholder' | translate }}"
      cols="50"
      rows="6"
    ></textarea>
    <div class="error-message" *ngIf="commentForm.get('cancellationComment').value && commentForm.invalid && commentForm.touched">
      <div>{{ 'order-cancel.comment-error-message' | translate }}</div>
    </div>
    <div class="error-message" *ngIf="commentForm.touched && !commentForm.get('cancellationComment').value">
      <div>{{ 'order-cancel.reason.comment-empty-message' | translate }}</div>
    </div>
  </form>
  <div class="btn-container">
    <button type="reset" class="disagree btn" (click)="close()">{{ 'order-cancel.btn.cancel' | translate }}</button>
    <button
      type="submit"
      class="agree btn"
      (click)="save()"
      [disabled]="
        (commentForm.invalid && commentForm.touched) || (cancellationReason == 'OTHER' && !commentForm.get('cancellationComment').value)
      "
    >
      {{ 'order-cancel.btn.add' | translate }}
    </button>
  </div>
  <span class="date">{{ 'order-cancel.date' | translate }}: {{ date | date: 'dd.MM.y' }} </span>
  <span>{{ 'order-cancel.added' | translate }}: {{ adminName }}</span>
</div>
