:host {
  ::ng-deep {
    .mat-mdc-radio-button {
      display: block;
      margin-top: 10px;

      .mdc-form-field {
        label {
          font-size: 20px;
          line-height: 1.5;
          color: var(--ubs-tertiary-grey);
        }

        .mdc-radio .mdc-radio__background::before {
          background-color: transparent !important;
        }
      }
    }

    .mat-mdc-radio-checked {
      .mdc-radio .mdc-radio__background {
        .mdc-radio__outer-circle,
        .mdc-radio__inner-circle {
          border-color: var(--ubs-tertiary-light-green) !important;
        }
      }

      .mat-ripple-element {
        background-color: transparent !important;
      }
    }
  }
}

.container {
  padding: 40px;
  position: relative;

  .close-container {
    position: absolute;
    top: -5px;
    right: 5px;
  }

  .close-btn {
    border: none;
    background-color: transparent;
    outline: none;

    img {
      width: 20px;
    }
  }

  .title {
    font-size: 30px;
    max-width: 500px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.5;
  }

  .checkmark {
    margin-right: 10px;
  }

  .btn-container {
    text-align-last: right;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;

    .btn {
      border-radius: 5px;
      font-size: 20px;
    }
  }

  textarea {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--ubs-tertiary-grey);
    border-radius: 5px;
    resize: none;
  }

  .date {
    margin-right: 40px;
  }

  .error-message {
    color: var(--error-red);
  }
}
