@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.language-choise {
    border-bottom: 1px solid #13AA57;
    height: 25px;
    margin-bottom: 1.5rem;
}

.language-choise span {
    display: inline-block;
    color: #056B33;
    width: 82px;
    text-align: center;
    cursor: pointer;
}

.language-choise span.active:hover {
    background-color: #ffffff;
    border-bottom: none;
}

.language-choise span:hover {
    background-color: #F0F5F4;
    border-bottom: 1px solid #13AA57;
}

span.active {
    border: 1px solid #13AA57;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    background-color: #ffffff;
}

.title {
    height: 200px;
    display: flex;
    align-items: center;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

input.ng-invalid.ng-touched + span, textarea.ng-invalid.ng-touched + p {
    color: red;
}

.title h2 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}

.form-description {
    margin-bottom: 50px;
}

.form-description p {
    max-width: 653px;
}

h3, p, span, b, h2, button {
    color: #494A49;
    font-family: 'Open Sans';
}

.left-form-column span, .textarea-description {
    font-size: 12px;
}

.right-form-column span {
    font-size: 12px;
}

h3 {
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.left-form-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
}

.left-form-column input {
    width: 652px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #878787;
}

.tags {
    margin-left: -20px;
}

.tags h3, .tags p {
    margin-left: 20px;
}

.right-form-column {
    margin-left: 40px;
}

button:hover {
    border: 1px solid #13AA57;
    color: #13AA57;
}

button {
    margin-left: 20px;
    border: 1px solid #878787;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
}

form .textarea-wrapper textarea {
    height: 131px;
    border-radius: 5px;
    border: 1px solid #878787;
    width: 100%;
}

.textarea-wrapper {
    margin-top: 25px;
}

input::placeholder {
    padding-left: 15px;
}

textarea::placeholder {
    padding-left: 15px;
    padding-top: 5px;
}

form label {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.date {
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    margin-top: 15px;
}

.submit-buttons {
    display: flex;
    justify-content: flex-end;
}

.submit-buttons button {
    margin-left: 20px;
    border: 1px solid #13AA57;
    border-radius: 3px;
    background-color: #ffffff;
    width: 139px;
    height: 48px;
    color: #13AA57;
    font-weight: bold;
}

.submit-buttons button:last-child {
    background-color: #13AA57;
    color: #ffffff;
    font-weight: bold;
}

.submit-buttons button:last-child:disabled {
    background-color: #839C94;
    border: 1px solid #839C94;
}

button {
    outline: none;
}

.filters-color {
    background-color: #13AA57;
    color: #ffffff;
    border: none;
}

.filters-color::after {
    content: '  \2716';
    font-size: 12px;
}

.filters-color:hover {
    color: #ffffff;
    border: none;
}

@media screen and (max-width: 1000px) {
    .left-form-column input {
        width: 400px;
    }
}

@media screen and (max-width: 740px) {
    form {
        height: 1000px;
    }

    .textarea-wrapper {
        margin-top: 200px;
    }

    .left-form-column input {
        width: 330px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}
