<ng-template [ngIf]="isPosting">
    <app-post-news-loader></app-post-news-loader>
</ng-template>

<div class="container" *ngIf="!isPosting">
    <div class="title">
        <h2>Create news</h2>
    </div>
    <div class="language-choise">
        <span (click)="changeLanguage(language)"
               *ngFor="let language of languages"
               [ngClass]="{
                   active: language.lang === activeLanguage
                }">{{ language.name }}</span>
    </div>
    <div class="form-description">
        <p>
            This news will be posted in English. Please create copies
            of this news in other languages if needed. You can come
            back and update news anytime after publishing
        </p>
    </div>
    <div class="form-container">
        <form [formGroup]="createNewsForm" (ngSubmit)="onSubmit()">
            <div class="wrapper">
                <div class="left-form-column">
                    <label>
                        <h3>Title</h3>
                        <input type="text"
                               placeholder="e.x. Coffee takeaway with 20% discounte"
                               formControlName="title">
                        <span>Should contain maximum 170 symbols</span>
                    </label>
                    <div class="tags" formArrayName="tags">
                        <h3>Pick tags for news</h3>
                        <p>Please select one or more tags</p>
                        <button *ngFor="let filter of filters"
                                (click)="addFilters(filter)"
                                type="button"
                                [ngClass]="{
                                    'filters-color': filter.isActive
                                }">{{ filter.name }}</button>
                    </div>
                    <label>
                        <h3>Source (optional)</h3>
                        <input type="text"
                               placeholder="link to external source"
                               formControlName="source">
                        <span>Please add the link of original article/news/post. Link should contain https://</span>
                    </label>
                </div>
                <div class="right-form-column">
                    <h3>Picture (optional)</h3>
                    <app-drag-and-drop></app-drag-and-drop>
                    <span>Download PNG or JPG only. File size should be less than 10MB</span>
                </div>
            </div>
            <div class="textarea-wrapper">
                <h3 class="textarea-title">Content</h3>
                <textarea name="main-area"
                          placeholder="E.x. Short description of news, agenda for event"
                          formControlName="content"></textarea>
                <p class="textarea-description">Should contain minimum 20 symbols</p>
            </div>
            <div class="date">
                <p><b>Date: </b><span>{{date | date: 'longDate'}}</span></p>
                <p><b>Author: </b><span>Current User</span></p>
            </div>
            <div class="submit-buttons">
                <button
                    type="button"
                    (click)="openCancelPopup()">Cancel</button>
                <button type="button"
                        (click)="goToPreview()"
                >
                  Preview
                </button>
                <button type="submit" [disabled]="!createNewsForm.valid">Publish</button>
            </div>
        </form>
    </div>
</div>
