.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 348px;
  height: 100%;
  flex: 1 0 auto;
  font-family: var(--primary-font);
  font-style: normal;

  h3 {
    overflow: hidden;
  }
}

.image-container {
  width: 348px;
  height: 200px;
  overflow: hidden;
  position: relative;

  .event-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    object-fit: cover;
  }

  .event-participants {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    height: 40px;
    width: 77px;
    left: 8px;
    top: 8px;
    border-radius: 4px;
    padding: 10px 8px 10px 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px 0 var(--primary-grey);

    .event-participants-avatar {
      width: 19px;
      height: 19px;
      float: left;
      border-radius: 100%;
      overflow: hidden;
      border: 1px solid var(--pre-secondary-light-grey);

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .event-participants-avatar:not(:first-child) {
      margin-left: -12px;
    }

    .event-participants-count-container {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: var(--primary-green);

      .event-participants-count {
        font-weight: 500;
      }
    }
  }

  .event-stars {
    width: auto;
    height: 40px;
    background-color: var(--primary-white);
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-shadow: 0 0 1px 0 var(--primary-grey);

    .star {
      display: inline-block;
      width: 25px;
      height: 25px;
      transition: all 0.3s;
    }

    .fill {
      background: url('/assets/events-icons/star-filled.png') no-repeat center;
    }

    .empty {
      background: url('/assets/events-icons/Vector.png') no-repeat center;
    }
  }

  .event-flags {
    width: 40px;
    height: 40px;
    background-color: var(--primary-white);
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 0 var(--primary-grey);
    cursor: pointer;

    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      transition: all 0.3s;
    }

    .flag {
      background: url('/assets/events-icons/bookmark-set.png') no-repeat center;
    }

    .flag-active {
      background: url('/assets/events-icons/bookmark-active.png') no-repeat center;
    }
  }

  .event-title {
    width: 100%;
    background-color: rgba(26, 27, 27, 0.247);
    color: beige;
    text-align: center;
    position: absolute;
  }
}

.event-name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 8px;
}

.main-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 auto;
  overflow: hidden;

  .date-container {
    display: flex;
    align-items: center;

    p {
      padding: 0;
      margin: 0;

      a {
        color: inherit;
      }
    }

    .location {
      margin-right: 11px;
      width: 25px;
      height: 25px;
      background: url('/assets/img/events/location.svg') no-repeat center;
    }

    .clock {
      margin-right: 15px;
      width: 12px;
      height: 12px;
      background: url('/assets/events-icons/clock.png') no-repeat center;
    }

    .place {
      margin-right: 13px;
      width: 14px;
      height: 14px;
      background: url('/assets/events-icons/place.png') no-repeat center;
    }

    .lock-open {
      margin-right: 11px;
      width: 16px;
      height: 16px;
      background: url('/assets/events-icons/lock-open.png') no-repeat center;
    }

    .lock-closed {
      margin-right: 11px;
      width: 16px;
      height: 16px;
      background: url('/assets/events-icons/lock-closed.png') no-repeat center;
    }
  }

  .main-container .date-container span {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}

.tag-divider {
  color: var(--primary-light-green);
  height: 100%;
  padding: 0 4px;
  margin: 0 4px;
}

.ul-eco-buttons {
  display: flex;
  justify-content: flex-start;
  width: auto;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style-type: none;
  }

  li:last-child .tag-divider {
    display: none;
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  .tag-active {
    color: var(--primary-green);
  }
}

.time-divider {
  color: var(--quaternary-grey);
  height: 100%;
  padding: 0 4px;
  margin: 0 4px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  max-height: 100px;
  overflow: hidden;
}

.btn-group {
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  flex-direction: column;
  gap: 20px;
}

.event-button {
  display: block;
  width: 100%;
  height: 40px;
}

.m-btn {
  font-size: 14px;
}

.event-button-hiden {
  display: none;
}

.additional-info {
  padding: 16px 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--quaternary-grey);

  .date {
    display: flex;
    height: 50%;
  }

  .date-image {
    align-content: center;
    width: 16px;
    height: 16px;
  }

  .author {
    display: flex;
    height: 50%;
  }

  .author-image {
    width: 16px;
    height: 16px;
  }

  .frame {
    display: flex;
    height: 50%;
  }

  .frame-image {
    width: 16px;
    height: 16px;
  }

  .like {
    display: flex;
    height: 50%;
  }

  .like-image {
    width: 16px;
    height: 16px;
  }
}
