<div class="card-wrapper">
  <div class="image-container">
    <img class="event-image" src="{{ event.titleImage }}" alt="event" />
    <div class="event-stars">
      <rating [(ngModel)]="rate" [customTemplate]="star" [max]="max" [readonly]="true"> </rating>
      <ng-template #star let-index="index" let-value="value">
        <span class="star {{ index < value ? 'fill' : 'empty' }}"></span>
      </ng-template>
    </div>
    <div class="event-flags">
      <span class="flag"></span>
    </div>
    <div class="event-title">
      <h3>{{ event.title }}</h3>
    </div>
  </div>

  <div class="main-container">
    <div *ngIf="event.dates[0]" class="date-container">
      <span class="clock"></span>
      <div class="date">
        {{ event.dates[0].startDate | date }}
      </div>
      <h5>{{ ' | ' }}</h5>
      <div class="time">{{ event.dates[0].startDate | date: 'shortTime' }}...</div>
    </div>
    <div *ngIf="event.dates[0]" class="date-container">
      <div>
        <span class="place"></span>
      </div>
      <div *ngIf="event.dates[0].coordinates?.addressEn; else elseBlock">
        {{ event.dates[0].coordinates.addressEn }}
      </div>
      <ng-template #elseBlock>{{ event.dates[0].onlineLink }}</ng-template>
    </div>

    <div>
      <ul class="ul-eco-buttons" aria-label="filter by items">
        <li *ngFor="let tag of itemTags">
          <a role="button" class="tag" [ngClass]="{ 'global-tag-clicked': tag.isActive }" tabindex="0">
            <span class="text" [ngClass]="{ 'tag-active': tag.isActive }">{{ currentLang === 'ua' ? tag.nameUa : tag.nameEn }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="description" [innerHTML]="event.description"></div>
    <div class="btn-group">
      <button class="secondary-global-button event-button" (click)="routeToEvent()">
        {{ 'event.btn-top' | translate }}
      </button>
      <button class="{{ styleBtn }} event-button" [hidden]="isJoinBtnHidden" (click)="buttonAction()">{{ nameBtn | translate }}</button>
    </div>
    <div class="event-attendees">
      <div class="event_organizer">
        <img [src]="images.eventOwner" alt="profile" />
        <span>{{ event.organizer.name }}</span>
        <span>Participants</span>
      </div>
    </div>
  </div>
</div>
