.card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 486px;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 204px;
  overflow: hidden;
  position: relative;

  .event-image {
    width: 100%;
    object-fit: contain;
  }

  .event-stars {
    width: auto;
    height: 40px;
    background-color: rgba(224, 233, 233, 0.781);
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    .star {
      display: inline-block;
      width: 25px;
      height: 25px;
      transition: all 0.3s;
    }

    .fill {
      background: url('src/assets/events-icons/star-filled.png') no-repeat center;
    }

    .empty {
      background: url('src/assets/events-icons/Vector.png') no-repeat center;
    }
  }

  .event-flags {
    width: 40px;
    height: 40px;
    background-color: rgba(224, 233, 233, 0.781);
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: inline-block;
      width: 25px;
      height: 25px;
    }

    .flag {
      background: url('src/assets/events-icons/bookmark-set.png') no-repeat center;
    }
  }

  .event-title {
    width: 100%;
    background-color: rgba(26, 27, 27, 0.247);
    color: beige;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
}

.main-container {
  padding: 16px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  gap: 5px;

  .date-container {
    display: flex;
    align-items: center;

    .main-container .date-container span {
      display: inline-block;
      width: 25px;
      height: 25px;
    }

    .clock {
      background: url('src/assets/events-icons/clock.png') no-repeat center;
    }

    .place {
      background: url('src/assets/events-icons/place.png') no-repeat center;
    }
  }
}

.ul-eco-buttons {
  display: flex;
  justify-content: flex-start;
  width: auto;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.tag {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  padding: 0 10px;
  text-transform: capitalize;
  font-family: var(--primary-font);
  color: var(--tertiary-grey);
  border: 1px solid var(--tertiary-grey);
  border-radius: 25px;

  .tag-active {
    color: var(--primary-white);
  }
}

.description {
  max-height: 100px;
  overflow: hidden;

  ::ng-deep {
    p {
      margin: 0;
    }
  }
}

.btn-group {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 20px;
}

.event-button {
  display: block;
  width: 100%;
  height: 40px;
}

.event_organizer {
  font-size: 14px;
  color: #64727d;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.event-attendees {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
