<div class="container" [formGroup]="responsiblePersonsForm">
  <div class="empty_card" (click)="openDetails()">
    <img *ngIf="!pageOpen" src="assets/img/ubs-admin-orders/arrow_up.svg" alt="arrow up" />
    <img *ngIf="pageOpen" src="assets/img/ubs-admin-orders/arrow_down.svg" alt="arrow down" />

    <h1 class="form__headline">{{ 'responsible-persons.title' | translate }}</h1>
  </div>
  <div *ngIf="pageOpen">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.call-manager' | translate }}</label>
        <select formControlName="callManager" class="form-control form__select">
          <option *ngFor="let person of allCallManagers" [selected]="person === order.responsibleCaller" [value]="person">
            {{ person }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.logistician' | translate }}</label>
        <select formControlName="logistician" class="form-control form__select">
          <option *ngFor="let person of allLogisticians" [selected]="person === order.responsibleLogicMan" [value]="person">
            {{ person }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.navigator' | translate }}</label>
        <select formControlName="navigator" class="form-control form__select">
          <option *ngFor="let person of allNavigators" [selected]="person === order.responsibleNavigator" [value]="person">
            {{ person }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form__label">{{ 'responsible-persons.driver' | translate }}</label>
        <select formControlName="driver" class="form-control form__select">
          <option *ngFor="let person of allDrivers" [selected]="person === order.responsibleDriver" [value]="person">{{ person }}</option>
        </select>
      </div>
    </div>
  </div>
  <hr />
</div>
