<div class="container pb-3">
  <h1 class="form__headline">{{ 'responsible-persons.title' | translate }}</h1>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form__label">{{ 'responsible-persons.service-manager' | translate }}</label>
      <select class="form-control form__select">
        <option *ngFor="let person of responsiblePersons">{{ person }}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form__label">{{ 'responsible-persons.call-manager' | translate }}</label>
      <select class="form-control form__select">
        <option *ngFor="let person of responsiblePersons">{{ person }}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form__label">{{ 'responsible-persons.logistician' | translate }}</label>
      <select class="form-control form__select">
        <option *ngFor="let person of responsiblePersons">{{ person }}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form__label">{{ 'responsible-persons.navigator' | translate }}</label>
      <select class="form-control form__select">
        <option *ngFor="let person of responsiblePersons">{{ person }}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form__label">{{ 'responsible-persons.driver' | translate }}</label>
      <select class="form-control form__select">
        <option *ngFor="let person of responsiblePersons">{{ person }}</option>
      </select>
    </div>
  </div>
</div>
