<div class="modal-wrapper add-edit">
  <h3 class="popup-title">{{ (editMode ? 'ubs-employee.edit-employee' : 'ubs-employee.add-employee') | translate }}</h3>
  <img mat-dialog-close="true" class="close-popup-button" src="assets/img/ubs/cross.svg" alt="close-popup-button" />
  <div class="row justify-content-end edit-employee"></div>
  <form [formGroup]="employeeForm">
    <div class="fields">
      <div class="fields-note">
        <h6>{{ 'ubs-employee.required-fields' | translate }}</h6>
      </div>
      <div class="private-section">
        <div class="form-group odd">
          <label class="group-title">{{ 'ubs-employee.name' | translate }}</label>
          <input formControlName="firstName" />
          <div class="validation" *ngIf="firstName.invalid && firstName.touched">
            <app-ubs-input-error [formElement]="firstName" [fromEmployee]="true"></app-ubs-input-error>
          </div>
        </div>
        <div class="form-group">
          <label class="group-title">{{ 'ubs-employee.surname' | translate }}</label>
          <input formControlName="lastName" />
          <div class="validation" *ngIf="lastName.invalid && lastName.touched">
            <app-ubs-input-error [formElement]="lastName" [fromEmployee]="true"></app-ubs-input-error>
          </div>
        </div>
      </div>
      <div class="private-section">
        <div class="form-group odd">
          <label class="group-title">{{ 'ubs-employee.phone-number' | translate }}</label>
          <input formControlName="phoneNumber" placeholder="+380" [imask]="{ mask: phoneMask }" [unmask]="true" />
          <div class="validation" *ngIf="phoneNumber.invalid && phoneNumber.touched">
            <app-ubs-input-error
              [formElement]="phoneNumber"
              [inputName]="'requiredPhoneEmployee'"
              [fromEmployee]="true"
            ></app-ubs-input-error>
          </div>
        </div>
        <div class="form-group">
          <label class="group-title">{{ 'ubs-employee.email' | translate }}</label>
          <input formControlName="email" maxlength="72" minlength="3" />
          <div class="validation" *ngIf="email.invalid && email.touched">
            <app-ubs-input-error [formElement]="email" [inputName]="'requiredEmailEmployee'" [fromEmployee]="true"></app-ubs-input-error>
          </div>
        </div>
      </div>
      <div class="checkbox-section-role">
        <cdk-accordion class="role-accordion accordion">
          <cdk-accordion-item
            #accordionRole="cdkAccordionItem"
            class="accordion-item"
            [class.expanded]="accordionRole.expanded"
            role="button"
            tabindex="0"
          >
            <div class="accordion-item-header" (click)="accordionRole.toggle()">
              <span class="accordion-item-description">
                <img [src]="icons.accordionArrowDown" alt="arrow" />
              </span>
              <span class="group-title position-title">{{ 'ubs-employee.position' | translate }}</span>
            </div>
            <div class="accordion-role-body" role="region" [style.display]="accordionRole.expanded ? '' : 'none'">
              <mat-checkbox
                class="role-item"
                *ngFor="let role of roles"
                [checked]="doesIncludeRole(role)"
                (change)="onCheckChangeRole({ id: role.id, name: role.name })"
              >
                {{ role.name }}
              </mat-checkbox>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </div>
      <div class="checkbox-section-station">
        <cdk-accordion class="role-accordion accordion">
          <cdk-accordion-item
            #accordionStation="cdkAccordionItem"
            class="accordion-item"
            [class.expanded]="accordionStation.expanded"
            role="button"
            tabindex="0"
          >
            <div class="accordion-item-header" (click)="accordionStation.toggle()">
              <span class="accordion-item-description">
                <img [src]="icons.accordionArrowDown" alt="arrow" />
              </span>
              <span class="group-title station-title">{{ 'ubs-employee.tariffs' | translate }}</span>
            </div>
            <div class="accordion-item-body" role="region" [style.display]="accordionStation.expanded ? '' : 'none'">
              <div class="filters-block">
                <div class="filter-wrapper">
                  <input [formControl]="search" [placeholder]="'ubs-employee.tariffs-selector.search' | translate" matInput />
                  <div class="icon-style"><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
              </div>
              <table class="table-tariffs" aria-label="Tariffs list">
                <thead>
                  <tr>
                    <th class="col-region">{{ 'ubs-employee.tariffs-columns.region' | translate }}</th>
                    <th class="col-city">{{ 'ubs-employee.tariffs-columns.city' | translate }}</th>
                    <th class="col-courier">{{ 'ubs-employee.tariffs-columns.courier' | translate }}</th>
                    <th class="col-actions"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tariff of filteredTariffs">
                    <td>
                      {{ tariff.region.en }}
                    </td>
                    <td>
                      <span *ngFor="let location of tariff.locations">{{ location.en }}</span>
                    </td>
                    <td>
                      {{ tariff.courier.en }}
                    </td>
                    <td>
                      <mat-checkbox
                        class="tariff-checkbox"
                        [(ngModel)]="tariff.selected"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="isTariffListChange()"
                      ></mat-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </div>
      <span class="group-title image-title">
        {{ 'ubs-employee.image-input' | translate }}
      </span>
      <div *ngIf="!imageURL || userHasDefaultPhoto; else currentImageBlock" class="image-input" appDrag (files)="filesDropped($event)">
        <div class="file-input-label">
          {{ 'ubs-employee.picture-description-1' | translate }}<br />
          {{ 'ubs-employee.picture-description-2' | translate }}<br />
          <label for="file-input" class="download-from-device-button">
            {{ 'ubs-employee.browse-1' | translate }}<br />
            {{ 'ubs-employee.browse-2' | translate }}
          </label>
          <input class="file-input" id="file-input" type="file" (change)="treatFileInput($event)" />
        </div>
      </div>
      <ng-template #currentImageBlock>
        <div class="image-input current-image">
          <div class="avatar-edit-head">
            <span class="image-name">{{ imageName | maxImageName }}</span>
            <img class="user-image" [src]="icons.cross" alt="close" (click)="removeImage()" />
          </div>
          <img [src]="imageURL" alt="Your photo" (click)="openImg()" />
        </div>
      </ng-template>
    </div>
    <div class="button-row">
      <button mat-dialog-close="true" class="cancelButton action-buttons">{{ 'ubs-employee.cancel' | translate }}</button>
      <button
        type="submit"
        class="addButton action-buttons"
        [disabled]="
          employeeForm.invalid ||
          !employeePositions.length ||
          isUploading ||
          (editMode && !isInitialDataChanged && !isInitialImageChanged && !isInitialPositionsChanged && !isInitialTariffsChanged)
        "
        (click)="isUpdatingEmployee ? this.updateEmployee() : this.createEmployee()"
      >
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
        {{ (isUpdatingEmployee ? 'ubs-employee.update' : 'ubs-employee.add') | translate }}
      </button>
    </div>
  </form>
</div>
