body {
  overflow-x: hidden;
  color: var(--quaternary-dark-grey);
}

#main-content {
  padding: 40px 0;
}

img {
  max-width: 100%;
}

.disabled-link {
  cursor: not-allowed;
}

.section {
  &__header {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--primary-font);
    margin-bottom: 32px;
  }

  &__button {
    font-family: var(--primary-font);
    padding: 16px 40px;
  }

  margin-bottom: 40px;
}

.about-section .section {
  &__content {
    padding-inline: 18px;
  }
}

.vision-section {
  gap: 24px;
  margin-bottom: 40px;

  img {
    order: 1;
  }
}

.grey-text {
  color: var(--quaternary-dark-grey);
}

.vision-card {
  display: flex;
  justify-content: center;
  z-index: 1;

  &__1,
  &__2,
  &__3 {
    margin-bottom: 0;
  }
}

.vision-gallery {
  &__header {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
  }
}

@media (min-width: 768px) {
  .vision-section .section {
    gap: 118px;

    &__content {
      order: 2;
    }
  }

  .vision-card {
    &__1,
    &__2,
    &__3 {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #main-content {
    padding: 64px 0;
  }

  .about-section .section {
    &__content {
      padding-left: 200px;
    }
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__header {
      font-size: 48px;
    }

    &__description {
      font-size: 24px;
    }
  }
  .vision-card {
    &__1 {
      margin-bottom: 260px;
    }

    &__2 {
      margin-bottom: 200px;
    }

    &__3 {
      margin-bottom: 260px;
    }
  }

  .vision-section {
    margin-bottom: 200px;
  }

  .vision-gallery {
    position: relative;

    &__header {
      font-size: 48px;
    }

    &__decorative-bcg {
      width: 100%;
      position: absolute;
      background: url('~/assets/img/dashed-leaves.svg') no-repeat;
      height: 2926px;
      margin: auto;
      z-index: 0;
      background-position-x: 100px;
      background-position-y: 240px;
    }
  }
}
