body {
  overflow-x: hidden;
  color: var(--quaternary-dark-grey);
}

h2 {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.disabled-link {
  cursor: not-allowed;
}

.steps-main-block {
  position: relative;
  margin: auto 150px;
}

.full-text-block {
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    font-family: var(--secondary-font);
  }

  p {
    font-size: 24px;
    line-height: 36px;
    font-family: var(--primary-font);
    margin-bottom: 32px;
  }

  button {
    font-family: var(--primary-font);
    padding: 16px 40px;
  }
}

.container-about {
  padding-top: 98px;

  button {
    margin-top: 40px;
  }

  padding-bottom: 250px;
}

.vision {
  background-size: 100% 100%;
  margin-bottom: 100px;
}

.container-vision {
  gap: 118px;
}

.container-about,
.container-vision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-title-text {
  width: 441px;
  font-size: 32px;
  font-family: var(--primary-font);
  margin: 44px auto auto 24px;
  font-weight: bold;
}

.card-title {
  display: flex;
  flex-direction: row;
}

.vision-wrapper {
  position: relative;
}

.dashed-line {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('~/assets/img/dashed-leaves.svg') no-repeat;
  height: 2926px;
  margin: auto;
  z-index: 0;
  background-position-x: 100px;
  background-position-y: 220px;
}

.vision-card {
  display: flex;
  z-index: 1;
  &__1 {
    margin-bottom: 260px;
  }
  &__2 {
    margin-bottom: 200px;
  }
  &__3 {
    margin-bottom: 260px;
  }
}

@media only screen and (max-width: 1199px) {
  .container-vision {
    margin: auto 30px;
  }

  .steps-main-block {
    margin: auto 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-about,
  .container-vision {
    flex-direction: column;

    .full-text-block {
      margin-left: 0;
    }
  }

  .container-vision {
    img {
      order: 2;
    }
  }

  .dashed-line,
  .leaves {
    display: none;
  }

  .steps-wrapper {
    margin-top: 0;
  }
}
