<main id="main-content" role="main">
  <div class="container">
    <div class="container-about">
      <div class="full-text-block">
        <h2>
          {{ 'about-us.intro.block-1.header' | translate }}
        </h2>
        <p>
          {{ 'about-us.intro.block-1.text' | translate }}
        </p>
        <button class="primary-global-button" (click)="navigateToHabit()">
          {{ 'about-us.intro.block-1.button' | translate }}
        </button>
      </div>
      <img src="assets/img/Illustrationman.png" alt="Illustration man" />
    </div>

    <div class="vision">
      <div class="container-vision">
        <img src="assets/img/Vision.png" alt="vision" />
        <div class="full-text-block">
          <h2>
            {{ 'about-us.intro.block-2.header' | translate }}
          </h2>
          <p>
            {{ 'about-us.intro.block-2.text' | translate }}
          </p>
          <button class="primary-global-button" (click)="navigateToHabit()">
            {{ 'about-us.intro.block-2.button' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div>
      <div class="steps-wrapper vision-wrapper">
        <div class="dashed-line"></div>
        <h2>
          {{ 'about-us.steps.title' | translate }}
        </h2>
        <app-vision-card
          *ngFor="let card of visionCards; let i = index"
          [card]="card"
          [class]="generateVisionCardClass(i)"
        ></app-vision-card>
      </div>
    </div>
  </div>
</main>
