body {
  overflow-x: hidden;
  color: var(--quaternary-dark-grey);
}

.page-wrapper {
  background-color: pink;
  // max-width: 1200px;
  margin-inline: auto;
}

// main {
//   padding-top: 98px;
// }
h2 {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.disabled-link {
  cursor: not-allowed;
}

.steps-main-block {
  position: relative;
  margin: auto 150px;
}

.full-text-block {
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    font-family: var(--secondary-font);
  }

  p {
    font-size: 24px;
    line-height: 36px;
    font-family: var(--primary-font);
    margin-bottom: 32px;
  }

  button {
    font-family: var(--primary-font);
    padding: 16px 40px;
  }
}

.container-about {
  padding-top: 98px;
  .full-text-block {
    margin-left: 171px;
  }

  button {
    margin-top: 40px;
  }

  padding-bottom: 250px;
  background-image: url('~/assets/img/curly-line.png');
  background-size: 100% 100%;
}

.vision {
  background-image: url('~/assets/img/wave-line.png');
  background-size: 100% 100%;
  margin-bottom: 100px;
}

.container-vision {
  gap: 118px;
}

.container-about,
.container-vision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-title-text {
  width: 441px;
  font-size: 32px;
  font-family: var(--primary-font);
  margin: 44px auto auto 24px;
  font-weight: bold;
}

.card-title {
  display: flex;
  flex-direction: row;
}

.dashed-line {
  position: absolute;
  background: url('~/assets/img/dashed-line.png');
  // width: 832px;
  height: 2926px;
  margin: auto;
  z-index: 1;
  // display: none;
}

.leaves {
  position: relative;
  top: 12px;
  left: 107px;
  background: url('~/assets/img/leaves.png') no-repeat;
  // width: 641px;
  height: 2564px;
  z-index: 1;
}

@media only screen and (max-width: 1199px) {
  .container-vision {
    margin: auto 30px;
  }

  .steps-main-block {
    margin: auto 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-about,
  .container-vision {
    flex-direction: column;

    .full-text-block {
      margin-left: 0;
    }
  }

  .container-vision {
    img {
      order: 2;
    }
  }

  .dashed-line,
  .leaves {
    display: none;
  }

  .steps-wrapper {
    margin-top: 0;
  }
}
