.main-employee-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 32px;

  .employee-header {
    display: flex;
    flex-direction: row;

    .eployee-name {
      width: 100%;
      max-width: 920px;

      .page-name {
        margin-bottom: 32px;
      }
    }

    .employee-add {
      min-width: 175px;

      .button-name {
        display: flex;
        padding: 8px 24px;
      }
    }
  }
}

@media screen and (max-width: 1138px) {
  .main-employee-container {
    padding-left: 0px;
  }
}
.dialog-container-custom .mat-dialog-container {
	position: relative;
  width: 492px;
  height: 848px;
	background: #F7F9FA;
}