<div class="main-employee-container">
  <div class="switcher">
    <button class="switch-btn" (click)="openTiles()" autofocus><em class="fa fa-th-large"></em></button>
    <button class="switch-btn" (click)="openTable()"><em class="fa fa-bars"></em></button>
  </div>
  <div class="employee-header">
    <div class="eployee-name">
      <p class="h5 page-name">{{ 'employees.title' | translate }}</p>
    </div>
    <div class="employee-add">
      <button class="primary-global-button button-name">
        <div class="subtitle-2" (click)="openDialog()">{{ 'employees.btn.add-employee' | translate }}</div>
      </button>
    </div>
  </div>
  <div class="employees" *ngIf="tiles">
    <div
      *ngFor="let data of fakeData | paginate: { itemsPerPage: size, currentPage: currentPage, id: paginationId, totalItems: totalLength }"
    >
      <app-ubs-admin-employee-card [data]="data"></app-ubs-admin-employee-card>
    </div>
    <div class="paginate">
      <app-pagination
        [paginationId]="paginationId"
        [currentPage]="currentPage"
        [maxSize]="totalLength"
        (ChangePage)="changeCurrentPage($event)"
      ></app-pagination>
    </div>
  </div>
  <app-ubs-admin-employee-table *ngIf="!tiles"></app-ubs-admin-employee-table>
</div>
