<div class="main-employee-container">
  <div class="employee-header">
    <div class="eployee-name">
      <p class="h5 page-name">Працівники</p>
    </div>
    <div class="employee-add">
      <button class="primary-global-button button-name" (click)="openDialog()"><div class="subtitle-2">Додати працівника</div></button>
    </div>
  </div>

  <div class="employee-part">
    <div *ngFor="let data of fakeData">
      <app-ubs-admin-employee-card [fakeData]="data"></app-ubs-admin-employee-card>
    </div>
  </div>
</div>
