<div class="main">
  <div [ngClass]="{ 'admin-sidebar-icons': isAdmin, 'sidebar-icons': true }" #sideBarIcons>
    <ul class="sidebar-list">
      <li class="toggle-arrow">
        <button mat-icon-button aria-label="Sidebar menu" (click)="toggleSideBar()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </li>
      <li
        *ngFor="let listItem of listElements"
        [routerLink]="listItem.routerLink"
        [routerLinkActive]="['active']"
        class="sidebar-list-item"
      >
        <img [src]="getIcon(listItem)" class="sidebar-list-item-icon" alt="sidebar list item icon" />
      </li>
    </ul>
  </div>

  <mat-drawer-container class="sidebar" autosize>
    <mat-drawer
      #drawer
      [ngClass]="isAdmin ? 'admin-sidebar-slider' : 'sidebar-slider'"
      mode="side"
      opened="true"
      disableClose="true"
      autoFocus="false"
    >
      <ul class="sidebar-list">
        <li class="toggle-arrow">
          <button mat-icon-button aria-label="Sidebar menu" (click)="toggleSideBar()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </li>
        <li
          *ngFor="let listItem of listElements"
          [routerLink]="listItem.routerLink"
          [routerLinkActive]="['active']"
          class="sidebar-list-item"
        >
          <img [src]="getIcon(listItem)" class="sidebar-list-item-icon" alt="sidebar list item icon" />
          <span class="sidebar-list-item-link">{{ listItem.name | translate }}</span>
          <div *ngIf="listItem.name === 'ubs-user.messages' && serviceUserMessages.countOfNoReadeMessages" class="count-unread-messages">
            ({{ serviceUserMessages.countOfNoReadeMessages }})
          </div>
        </li>
      </ul>
    </mat-drawer>

    <mat-drawer-content [ngClass]="isAdmin ? 'admin-main-content' : 'main-content'">
      <div class="sidebar-container" #sidebarContainer>
        <ng-content></ng-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <div class="mobile-sidebar">
    <ul class="sidebar-list">
      <li
        *ngFor="let listItem of listElementsMobile"
        [routerLink]="listItem.routerLink"
        [routerLinkActive]="['active']"
        class="sidebar-list-item-mobile"
      >
        <img [src]="getIcon(listItem)" class="sidebar-list-item-icon" alt="sidebar list item icon" />
        <span class="sidebar-list-item-text">{{ listItem.name | translate }}</span>
      </li>
    </ul>
  </div>
</div>
