.main {
  position: relative;
  display: grid;

  .active {
    background-color: var(--ubs-secondary-grey);
  }

  .sidebar {
    .sidebar-container {
      width: 100%;
    }

    .sidebar-slider {
      position: fixed;
      top: 137px;
      background-color: var(--ubs-primary-grey);
      z-index: 3;
    }
  }

  .admin-sidebar-slider {
    position: fixed;
    top: 50px;
    background-color: var(--ubs-primary-grey);
    z-index: 3;
  }

  .main-content {
    margin-top: 137px;
    overflow-x: hidden;
    min-height: 345px;
    background-color: var(--ubs-secondary-white);

    .content-box {
      padding: 24px;
    }
  }

  .admin-main-content {
    margin-top: 86px;
    padding: 0 24px;
    overflow-x: hidden;
    min-height: 345px;
  }

  .sidebar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: var(--ubs-primary-white);

    .sidebar-list-item {
      display: flex;
      align-items: center;
      column-gap: 20px;
      cursor: pointer;
      padding: 15px 39px 15px 15px;
      white-space: nowrap;
    }

    .sidebar-list-item__collapsed {
      padding: 15px;
    }
  }

  .sidebar-list-item-link {
    color: var(--ubs-primary-white);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }

  .sidebar-icons {
    position: fixed;
    width: 59px;
    height: 100%;
    top: 80px;
    z-index: 2;
    background-color: var(--ubs-primary-grey);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .admin-sidebar-icons {
    top: 50px;
  }

  .toggle-arrow {
    display: flex;
    padding: 7px;
  }

  .mobile-sidebar {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--ubs-grey-white);
    z-index: 4;
    background-color: var(--ubs-primary-grey);

    .sidebar-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .sidebar-list-item-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        width: 25%;
        padding: 9px;
      }

      .sidebar-list-item-text {
        display: flex;
        margin-top: 6px;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  .count-unread-messages {
    color: var(--ubs-primary-white);
    margin: 0 -25px 0 -10px;
  }
}

.footer {
  display: flex;
}

@media (max-width: 1530px) {
  .sidebar {
    .sidebar-container {
      width: unset;
    }
  }
}

@media (max-width: 1266px) {
  .sidebar-list {
    margin-top: 25px;
  }
}

@media (max-width: 1024px) {
  .footer {
    ::ng-deep .footer .container-fluid {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .footer-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .footer-menu_main {
          margin: 0;
          width: 100%;
          flex-direction: column;
          gap: 12px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    .main-content {
      margin-top: 103px;
    }

    .admin-main-content {
      margin-top: 52px;
    }

    .sidebar .sidebar-slider {
      top: 103px;
    }
  }
}

@media (max-width: 575px) {
  .main {
    .main-content {
      margin-top: 128px;
    }

    .sidebar .sidebar-slider {
      top: 128px;
    }
  }
}

@media (max-width: 480px) {
  .main {
    .mobile-sidebar {
      display: block;
      position: fixed;
    }

    .main-content {
      margin-top: 80px;
      display: flex;
      justify-content: flex-end;
    }

    .sidebar {
      .sidebar-container {
        width: 100%;
        margin: 50px 0 125px 0;
      }

      .sidebar-slider {
        display: none;
      }
    }

    .sidebar-icons {
      display: none;
    }
  }

  .footer {
    display: none;
  }
}
