<form *ngIf="signInForm" class="sign-in-form" (ngSubmit)="signIn()" [formGroup]="signInForm">
  <app-email-input-field formControlName="email" ngDefaultControl></app-email-input-field>
  <app-password-input-field formControlName="password" ngDefaultControl></app-password-input-field>
  <div class="forgot-wrapper">
    <a
      (click)="onOpenModalWindow('restore-password')"
      (keyup.enter)="onOpenModalWindow('restore-password')"
      [ngClass]="isUbs ? 'ubs-forgot-password' : 'forgot-password'"
      tabindex="0"
    >
      {{ 'user.auth.sign-in.forgot-password' | translate }}</a
    >
  </div>
  <app-submit-button [buttonText]="'user.auth.sign-in.sign-in'"></app-submit-button>
  <span class="or-use-google">{{ 'user.auth.sign-in.or-signin' | translate }}</span>
</form>
<div class="google-sign-in-block">
  <app-google-btn (click)="signInWithGoogle()" [text]="'user.auth.sign-in.sign-in-with-google'"></app-google-btn>
</div>
<div class="missing-account">
  <p>
    {{ 'user.auth.sign-in.havenot-account' | translate }}
    <a
      (click)="onOpenModalWindow('sign-up')"
      (keyup.enter)="onOpenModalWindow('sign-up')"
      [ngClass]="isUbs ? 'ubs-sign-up-link' : 'sign-up-link'"
      tabindex="0"
    >
      {{ 'user.auth.sign-in.sign-up' | translate }}
    </a>
  </p>
</div>
