$inputHeight: 36px;

@mixin button {
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: var(--primary-white);
  font-family: var(--primary-font);

  .spinner-border {
    margin-right: 10px;
  }
}

@mixin link-style {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

h1 {
  margin-bottom: 8px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.002em;
  color: var(--quaternary-dark-grey);
}

h2 {
  margin-bottom: 28px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--quaternary-dark-grey);
}

.password-input-btn-show-hide {
  border-radius: 5px;
}

.alert-email-validation,
.alert-password-validation {
  border: 1px solid var(--error-ligh-red);
}

.successful-email-validation,
.successful-password-validation {
  border: 1px solid var(--secondary-grey);
  margin-bottom: 16px;
}

.validation-password-error,
.validation-email-error,
.alert-general-error {
  color: var(--error-ligh-red);
  font-size: 10px;
  line-height: 12px;
  font-family: var(--primary-font);
  margin-bottom: 4px;
}

.alert-general-error {
  position: relative;
}

.validation-email-error {
  margin-bottom: 8px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;

  label[for='email'],
  label[for='password'] {
    margin-bottom: 4px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    color: var(--quaternary-grey);
  }

  input {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 20px;
    background: var(--primary-white);
    color: var(--primary-dark-grey);
    border-radius: 5px;
    padding: 8px;
    height: $inputHeight;
  }

  input:focus {
    outline: none;
  }

  input[type='password'],
  input[type='text'] {
    border: transparent;
    width: 90%;
  }

  .email-field-margin {
    height: 16px;
  }

  .image-show-hide-password {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.forgot-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;

  .forgot-password {
    color: var(--primary-green);
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}

.forgot-wrapper-ubs {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  .forgot-password-ubs {
    @include link-style();

    color: var(--ubs-dark-purple);
  }
}

.greenStyle {
  @include button;

  background-color: var(--primary-green);

  &:disabled {
    background-color: var(--success-light-green);
  }
}

.ubsStyle {
  @include button;

  margin-top: 24px;
  background-color: var(--ubs-button-light-green);
  color: var(--ubs-quaternary-dark-grey);

  &:disabled {
    background-color: var(--ubs-quaternary-light-grey);
    color: var(--ubs-secondary-grey);
  }
}

.or-use-google {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 16px;
  color: var(--quaternary-dark-grey);
  margin-bottom: 8px;
}

.missing-account {
  margin-top: 177px;
  margin-bottom: 40px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--quaternary-dark-grey);

  .ubs-link {
    @include link-style();

    color: var(--ubs-dark-purple);
    margin-left: 16px;
  }

  .green-link {
    @include link-style();

    color: var(--primary-green);
    margin-left: 16px;
    text-decoration: none;
  }
}

@media screen and (max-width: 375px) {
  .missing-account {
    margin-top: 40px;
  }
}
