.sign-in-form {
  display: flex;
  flex-direction: column;
}

.google-sign-in-block {
  display: flex;
}

.forgot-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  margin-top: 12px;

  .ubs-forgot-password,
  .forgot-password {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
  }

  .forgot-password {
    color: var(--secondary-dark-green);
  }

  .ubs-forgot-password {
    color: var(--ubs-primary-blue);
  }
}

.or-use-google {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 32px;
  color: var(--primary-dark-grey);
  margin-bottom: 8px;
}

.missing-account {
  margin-top: 203px;
  margin-bottom: 40px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-dark-grey);

  .ubs-sign-up-link {
    color: var(--ubs-primary-blue);
    margin-left: 8px;
    text-decoration-line: underline;
  }

  .sign-up-link {
    color: var(--secondary-dark-green);
    margin-left: 8px;
    text-decoration-line: underline;
  }
}
