<h1>
  {{ 'user.auth.sign-in.title' | translate }}
</h1>
<h2>{{ 'user.auth.sign-in.fill-form' | translate }}</h2>
<form *ngIf="signInForm" class="sign-in-form" (ngSubmit)="signIn()" [formGroup]="signInForm">
  <label for="email" aria-required="true">{{ 'user.auth.sign-in.email' | translate }}</label>
  <input
    id="email"
    type="email"
    placeholder="example@email.com"
    name="email"
    required
    formControlName="email"
    (input)="configDefaultErrorMessage()"
    (blur)="configDefaultErrorMessage()"
    [ngClass]="
      (emailField.invalid && emailField.touched) || backEndError || emailErrorMessageBackEnd
        ? 'alert-email-validation'
        : 'successful-email-validation'
    "
    aria-required="true"
    aria-describedby="email-err-msg"
    tabindex="0"
  />
  <div
    class="validation-email-error"
    id="email-err-msg"
    *ngIf="emailField.invalid && emailField.touched && !emailErrorMessageBackEnd && (!passwordField.touched || passwordFieldValue)"
  >
    <app-error [formElement]="emailField" [emailFieldValue]="emailFieldValue" [controlName]="'email'" tabindex="0"></app-error>
  </div>
  <!--added-->
  <!-- <div *ngIf="emailField.touched && !this.emailFieldValue">email touched and empty</div> -->
  <!--added-->
  <!-- не потрібно -->
  <div class="validation-email-error" *ngIf="emailErrorMessageBackEnd">
    {{ 'user.auth.sign-in.email-is-required' | translate }}
  </div>
  <div class="email-field-margin" *ngIf="backEndError"></div>
  <label for="password" aria-required="true">{{ 'user.auth.sign-in.password' | translate }}</label>
  <div
    class="password-input-btn-show-hide"
    [ngClass]="
      (passwordField.invalid && passwordField.touched) || backEndError || passwordErrorMessageBackEnd
        ? 'alert-password-validation'
        : 'successful-password-validation'
    "
  >
    <input
      id="password"
      #input
      type="password"
      required
      formControlName="password"
      placeholder="{{ 'user.auth.sign-in.password' | translate }}"
      name="form-control password-signin"
      (input)="configDefaultErrorMessage()"
      (blur)="configDefaultErrorMessage()"
      aria-required="true"
      aria-describedby="pass-err-msg"
    />
    <span class="show-hide-btn" role="button" aria-label="show password button">
      <img
        (click)="togglePassword(input, src)"
        (keydown.enter)="togglePassword(input, src)"
        class="image-show-hide-password"
        [src]="hideShowPasswordImage.hidePassword"
        #src
        alt="show-hide-password"
      />
    </span>
  </div>
  <div
    class="validation-password-error"
    id="pass-err-msg"
    *ngIf="
      passwordField.invalid &&
      passwordField.touched &&
      (!emailField.touched || emailFieldValue) &&
      !passwordErrorMessageBackEnd &&
      !backEndError
    "
  >
    <app-error [formElement]="passwordField" [passwordFieldValue]="passwordFieldValue" [controlName]="'password'" tabindex="0"></app-error>
  </div>
  <div class="validation-password-error" *ngIf="passwordErrorMessageBackEnd">
    FROM BACKEND: {{ 'user.auth.sign-in.password-is-required' | translate }}
  </div>

  <div class="alert-general-error" *ngIf="emailAndPasswordEmpty && !backEndError">
    {{ 'user.auth.sign-in.fill-all-red-fields' | translate }}
  </div>

  <div class="alert-general-error" *ngIf="backEndError">
    {{ backEndError | translate }}
  </div>

  <div class="forgot-wrapper">
    <a
      (click)="onOpenModalWindow('restore-password')"
      (keyup.enter)="onOpenModalWindow('restore-password')"
      class="forgot-password"
      tabindex="0"
    >
      {{ 'user.auth.sign-in.forgot-password' | translate }}</a
    >
  </div>
  <!-- <button [class]="ubsStyle" type="submit" [disabled]="!signInForm.valid" > -->
  <button [class]="ubsStyle" type="submit" [disabled]="!emailField.valid || !passwordField.touched">
    <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
    {{ 'user.auth.sign-in.sign-in' | translate }}
  </button>
  <span class="or-use-google">{{ 'user.auth.sign-in.or-signin' | translate }}</span>
</form>
<div class="google-sign-in-block">
  <app-google-btn (click)="signInWithGoogle()" [text]="'user.auth.sign-in.sign-in-with-google'"></app-google-btn>
</div>
<div class="missing-account">
  <p>
    {{ 'user.auth.sign-in.havenot-account' | translate }}
    <a (click)="onOpenModalWindow('sign-up')" (keyup.enter)="onOpenModalWindow('sign-up')" class="sign-up-link" tabindex="0">
      {{ 'user.auth.sign-in.sign-up' | translate }}
    </a>
  </p>
</div>
