* {
  font-family: var(--ubs-quaternary-font);
}

.empty_card {
  padding-top: 20px;
  padding-bottom: 20px;

  img {
    width: 20px;
    margin-right: 20px;
  }

  h1 {
    display: inline;
  }
}

.empty_card:hover {
  cursor: pointer;
}

.reset-button {
  border: none;
  background-color: transparent;
  position: absolute;
  height: 8px;
  left: 180px;
  bottom: 30px;

  img {
    height: 8px;
  }
}

@mixin input {
  height: 36px;
  left: calc(50% - 170px);
  top: calc(50% - 28px);
  background: var(--ubs-primary-white);
  border: 1px solid var(--ubs-quintynary-light-grey);
  color: var(--ubs-tertiary-dark-grey);
  box-sizing: border-box;

  &::placeholder {
    font-size: 14px;
  }
}

.container {
  font-family: var(--primary-font);
  line-height: 32px;
}

.form__headline {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  color: var(--ubs-primary-grey);
  margin-bottom: 30px;
  margin-top: 36px;
}

.alert-message {
  line-height: 28px;
  letter-spacing: 0.002em;
  margin-left: 40px;
  color: var(--ubs-error-base);
}

.title {
  margin-left: 13px;
  font-size: 24px;
}

.title-comment {
  font-size: 16px;
}

label {
  color: var(--ubs-secondary-grey);
  font-size: 16px;
  line-height: 24px;
}

.export-time {
  margin-left: 15px;
}

#station {
  height: 38px;
  cursor: pointer;
}

input {
  width: 166px;

  @include input;

  &::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
  }
}

.export-date {
  margin-right: 30px;
}

#export-date {
  height: 38px;
}

.time-picker-container {
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--ubs-quintynary-light-grey);
  margin-right: 10px;
}

.time-from {
  border: none;
  width: 80px;
  text-align: center;
}

.time-to {
  border: none;
  width: 65px;
  text-align: center;
}

select {
  width: 215px;

  @include input;
}

.dropdown_time {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .set_time_container {
    background: white;
    padding: 18px 20px;
    border-radius: 10px;
    font-size: 16px;

    h3 {
      text-align: center;
      font-size: 20px;
      padding: 20px;
      font-weight: 600;
    }

    select {
      width: 100px;
      margin-left: 10px;
      text-align: center;
    }

    .edit_time_btns {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      .cancel {
        background: white;
        border-radius: 5px;
        border: none;
        color: var(--ubs-primary-black);
        font-weight: 600;
      }

      .save {
        background: var(--ubs-button-light-green);
        border-radius: 5px;
        border: 1px solid var(--ubs-button-light-green);
        padding: 5px 30px;
        color: var(--ubs-tertiary-dark-grey);
        font-weight: 600;
      }
    }
  }

  .set_time_select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .select_from_wr {
      margin-right: 21px;
    }
  }
}

.ng-invalid {
  border-color: red;
}
