<div class="container mb-3">
  <div class="form" [formGroup]="exportDetailsDto">
    <div class="empty_card" (click)="openDetails()">
      <img
        *ngIf="!pageOpen && (exportDetailsDto.valid || isOrderStatusCancelOrDone)"
        src="assets/img/ubs-admin-orders/arrow_up.svg"
        alt="arrow up"
      />
      <img
        *ngIf="pageOpen && (exportDetailsDto.valid || isOrderStatusCancelOrDone)"
        src="assets/img/ubs-admin-orders/arrow_down.svg"
        alt="arrow down"
      />
      <img
        *ngIf="pageOpen && !exportDetailsDto.valid && !isOrderStatusCancelOrDone"
        src="assets/img/ubs-admin-orders/red_arrow_down.svg"
        alt="arrow down"
      />
      <img *ngIf="isFormRequired()" src="assets/img/ubs-admin-orders/red_arrow_up.svg" alt="arrow up" />

      <h1 class="form__headline">{{ 'export-details.title' | translate }}</h1>
      <div *ngIf="isFormRequired()" class="alert-message">{{ 'export-details.alert-message' | translate }}</div>
    </div>
    <div *ngIf="pageOpen" class="form-row">
      <div class="form-group export-date col-md-2">
        <label for="export-date">{{ 'export-details.export-date' | translate }}</label>
        <input
          [min]="current"
          (change)="checkDate($event)"
          type="date"
          class="form-control"
          id="export-date"
          formControlName="dateExport"
        />
      </div>
      <div class="form-group">
        <label for="export-time-from">{{ 'export-details.export-time' | translate }}</label>
        <div class="time-picker-container" [ngClass]="{ 'ng-invalid': isTimeValid() }">
          <input
            autocomplete="off"
            placeholder="- -"
            class="form-control time-from"
            id="export-time-from"
            formControlName="timeDeliveryFrom"
            (click)="showTimePickerClick()"
          />
          <div class="hyphen">-</div>
          <input
            autocomplete="off"
            placeholder="- -"
            class="form-control time-to"
            id="export-time-to"
            formControlName="timeDeliveryTo"
            (click)="showTimePickerClick()"
          />
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="station">{{ 'export-details.station' | translate }}</label>
        <select formControlName="receivingStationId" class="form-control" id="station">
          <option *ngFor="let station of allReceivingStations" [value]="station">
            {{ station }}
          </option>
        </select>
        <button class="reset-button" (click)="resetValue()">
          <img [src]="resetFieldImg" alt="reset field" />
        </button>
      </div>
    </div>
    <hr />
  </div>
  <app-time-picker
    *ngIf="showTimePicker"
    (timeOfExport)="setExportTime($event)"
    [setTimeFrom]="fromInput"
    [setTimeTo]="toInput"
    [exportDate]="getExportDate()"
  >
  </app-time-picker>
</div>
