$main-font: 'opensans', sans-serif;
$main-font-color: #494a49;

.search_search-icon {
  align-self: center;
  width: 24px;
  height: 24px;
}

.search-bar-wrapper {
  height: 80px;
  border-bottom: 1px solid #e6e6e6;
}

.search_bar-container {
  display: grid;
  grid-template-columns: 24px auto;
  column-gap: 35px;
  height: 100%;
}

.search_search-field {
  background-color: #fff;
  border: none;
  font-family: $main-font;
  font-size: 1.5rem;
  color: $main-font-color;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #bebebe;
  }
}

.search_action-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 20px;
}

.remaining-items {
  font-family: $main-font;
  font-size: 1rem;
}

.sort-items {
  font-family: $main-font;
  font-size: 1rem;

  ul {
    padding: 0;
    position: absolute;
    margin-left: 0.5rem;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    z-index: 3;

    li {
      width: 100%;
      font-family: $main-font;
      font-size: 16px;
      line-height: 24px;
      height: 30px;
      margin: 0 0 3px 0;
      color: $main-font-color;

      .reverse {
        transform: rotate(180deg);
        transition: 0.2s ease-out;
        transition-delay: 0.1s;
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .col-xxl-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}
