$main-font: OpenSans, sans-serif;
$main-font-color: #494A49;

.page-wrapper {
  margin: 0 auto;
  width: 84rem;
  min-height: 130vh;
}

.main-block-wrapper {
  margin: 95px 150px 0px;
  width: 66.625rem;
  height: 100%;

  .remaining-items {
    display: inline-block;
    margin: 16px 0 1.25rem 0;
    min-width: 7.5rem;
    height: 25px;
    font-family: $main-font;
    font-size: 1rem;
  }

  .sort-items {
    float: right;
    margin: 14px 0 1.25rem 0;
    min-width: 9rem;
    height: 25px;
    font-family: $main-font;
    font-size: 1rem;
    display: flex;

    span {
      width: 9.2rem;
    }

    ul {
      padding: 0;
      flex-direction: column;
      position: absolute;
      margin-left: 0.5rem;
      background: #FFFFFF;
      font-weight: normal;
      list-style: none;
      display: inline-block;
      z-index: 3;

      li {
        width: 100%;
        font-family: $main-font;
        font-size: 16px;
        line-height: 24px;
        height: 30px;
        margin: 0 0 3px 0;
        color: $main-font-color;

        .reverse {
          transform: rotate(180deg);
          transition: .2s ease-out;
          transition-delay: 0.1s;
        }
      }

      .text-hidden {
        display: none;
      }

      .add-shadow {
        box-shadow: 0 0 8px rgba(73, 74, 73, 0.2);
        height: 176px;
      }
    }
  }
}


.search-bar-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #ffff;
  border-bottom: 1px solid #E6E6E6;

  .center-flex-wrapper {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
  }

  .search-icon {
    margin: 28px 28px 28px 0px;
    background: url("~/assets/img/icon/search.png") no-repeat;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  }

  .search-field {
    background-color: #fff;
    width: 100%;
    min-width: 900px;
    height: 28px;
    margin-top: 28px;
    border: none;
    font-family: $main-font;
    font-size: 1.5rem;
    color: $main-font-color;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #BEBEBE;
    }
  }
}

.center-content-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 145px);

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 80%;
    overflow: hidden;

    app-search-item {
      margin-right: 1rem;
    }
  }
}
