$primary-color: #13AA57;
$second-color: #6A8079;
$primary-font: 'Montserrat';

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  height: 20px;
  margin-bottom: 30px;
}