$primary-color: var(--primary-green);
$second-color: #6a8079;
$primary-font: var(--secondary-font);

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  height: 20px;
  margin-bottom: 30px;
}

.checkbox-list {
  list-style-type: none;
  padding: 0 0 19px 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0 0 14px 0;
    height: 16px;

    label {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;

      input[type='checkbox'] {
        height: 0;
        opacity: 0;
        width: 0;
      }

      .checkmark {
        border: 1px solid var(--primary-green);
        border-radius: 1px;
        height: 12px;
        width: 12px;
        margin-right: 8px;
      }

      .checkmark::after {
        border: solid #fff;
        border-width: 0 1px 1px 0;
        content: '';
        width: 4px;
        height: 7px;
        left: 4px;
        top: 4px;
        position: absolute;
        transform: rotate(45deg);
        display: none;
      }

      input:checked ~ .checkmark {
        background-color: var(--primary-green);
      }

      input:checked ~ .checkmark::after {
        display: block;
      }
    }
  }
}

.seeAll {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  cursor: pointer;

  .arrow-container {
    width: 8px;
    height: 8px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow-shopping-list {
      width: 6px;
      height: 6px;
      background: url(./../../../../../../../assets/img/icon/arrows/shop-list-arrow.svg) no-repeat;
    }
  }
}
