<div class="title">Shopping list</div>
<ul class="checkbox-list">
  <li>
    <label>
      <input type="checkbox">
      <span class="checkmark"></span>
      Shopper
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox">
      <span class="checkmark"></span>
      Eco packaging
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox">
      <span class="checkmark"></span>
      Shopper
    </label>
  </li>
  <li>
    <label>
      <input type="checkbox">
      <span class="checkmark"></span>
      Eco packaging
    </label>
  </li>
</ul>
<div class="seeAll">
  <div class="text">See all</div>
  <div class="arrow-container">
    <div class="arrow-shopping-list"></div>
  </div>
</div>
