<section class="profile-wrapper">
    <div class="column left-column">
      <app-profile-widget></app-profile-widget>
      <app-achievements-friends></app-achievements-friends>
      <app-eco-places></app-eco-places>
      <app-shopping-list></app-shopping-list>
    </div>
    <div class="column habits-dashboard">
      <app-profile-dashboard></app-profile-dashboard>
    </div>
    <div class="column right-column">
      <profile-cards></profile-cards>
      <app-calendar></app-calendar>
    </div>
</section>
