<section class="profile-wrapper">
    <div class="column left-column">
        <app-profile-widget></app-profile-widget>
    </div>
    <div class="column habits-dashboard">Center
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos qui architecto accusamus, provident inventore
        vero delectus, ratione error tempore necessitatibus iure aperiam quam cupiditate facere minus perferendis quis.
        Fugiat, omnis!
    </div>
    <div class="column right-column">Right</div>
</section>
