.friends-list {
  background:
    url("../../../../../../../../assets/img/friends.png") no-repeat center right fixed,
    url("../../../../../../../../assets/img/friends.png") no-repeat bottom left fixed;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .container {
    justify-content: space-between;
  }
}
