.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .container {
    justify-content: space-between;
  }
}

.noFriends-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .noFriends {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 48px;
  }
}
