<mat-card>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
    <mat-card-content>
      <br>
      <input formControlName="document" type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
      <br>
      <table>
        <thead>
        <tr>
          <th width="90%">
            File Name
          </th>
          <th width="10%">
            Remove
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <th width="90%">
            {{ item.file.name}}({{item.file.size / 1000000}} MB)
          </th>
          <th class="text-center" width="10%">
            <mat-icon (click)="item.remove()">delete</mat-icon>
          </th>
        </tr>
        </tbody>
      </table>
      <br>
      <button  mat-raised-button color="primary" type="submit">Upload Data</button>
    </mat-card-content>
  </form>
</mat-card>
