<div class="page-container" *ngIf="notification">
  <div class="page-header">
    <button class="back-button" (click)="onGoBack()">
      <img [src]="icons.back" alt="Go back" />
    </button>
    <p class="page-title">{{ 'ubs-notifications.page-title' | translate }}</p>
  </div>

  <table class="table-notification-info" aria-label="Notification info">
    <thead>
      <tr>
        <th class="col-topic">{{ 'ubs-notifications.columns-notification-list.topic' | translate }}</th>
        <th class="col-trigger">{{ 'ubs-notifications.columns-notification-list.trigger' | translate }}</th>
        <th class="col-time">{{ 'ubs-notifications.columns-notification-list.time' | translate }}</th>
        <th class="col-period">{{ 'ubs-notifications.columns-notification-list.period' | translate }}</th>
        <th class="col-status">{{ 'ubs-notifications.columns-notification-list.status' | translate }}</th>
        <th *ngIf="isThisEmployeeHasRights" class="col-actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ getLangValue(notification.notificationTemplateMainInfoDto.title, notification.notificationTemplateMainInfoDto.titleEng) }}
        </td>
        <td>
          {{
            getLangValue(
              notification.notificationTemplateMainInfoDto.triggerDescription,
              notification.notificationTemplateMainInfoDto.triggerDescriptionEng
            )
          }}
        </td>
        <td>
          {{
            getLangValue(
              notification.notificationTemplateMainInfoDto.timeDescription,
              notification.notificationTemplateMainInfoDto.timeDescriptionEng
            )
          }}
        </td>
        <td>
          {{ notification.notificationTemplateMainInfoDto.schedule | cron: currentLanguage }}
        </td>
        <td>
          {{ 'ubs-notifications.statuses.' + notification.notificationTemplateMainInfoDto.notificationStatus | translate }}
        </td>
        <td *ngIf="isThisEmployeeHasRights" class="col-actions">
          <div>
            <button *ngIf="isThisEmployeeCanEditNotification" class="action-button edit-button" (click)="onEditNotificationSettings()">
              <img [src]="icons.edit" alt="" />
            </button>
            <button
              *ngIf="notification.notificationTemplateMainInfoDto.notificationStatus === 'ACTIVE' && isThisEmployeeCanActivateNotification"
              class="action-button deactivate-button"
              (click)="onDeactivateNotification()"
            >
              <img [src]="icons.delete" alt="" />
            </button>
            <button
              *ngIf="
                notification.notificationTemplateMainInfoDto.notificationStatus === 'INACTIVE' && isThisEmployeeCanActivateNotification
              "
              class="action-button deactivate-button"
              (click)="onActivateNotification()"
            >
              <img [src]="icons.activate" alt="" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table-notification-platforms" aria-label="Notification text for platforms">
    <thead>
      <th class="col-platform">{{ 'ubs-notifications.columns-notification.platform' | translate }}</th>
      <th class="col-text">{{ 'ubs-notifications.columns-notification.text' | translate }}</th>
      <th *ngIf="isThisEmployeeHasRights" class="col-action"></th>
    </thead>
    <tbody>
      <tr *ngFor="let platform of notification.platforms" [ngClass]="{ 'platform-inactive': platform.status !== 'ACTIVE' }">
        <td>{{ platform.nameEng | titlecase }}</td>
        <td>
          {{ getLangValue(platform.body, platform.bodyEng) }}
        </td>
        <td *ngIf="isThisEmployeeHasRights" class="col-action">
          <div *ngIf="platform.status === 'ACTIVE'; else inactivePlatformActions">
            <button
              *ngIf="isThisEmployeeCanEditNotification"
              class="action-button edit-button"
              (click)="onEditNotificationText(platform.nameEng)"
            >
              <img [src]="icons.edit" alt="" />
            </button>
            <button
              *ngIf="isThisEmployeeCanActivateNotification"
              class="action-button deactivate-button"
              (click)="onDeactivatePlatform(platform.nameEng)"
            >
              <img [src]="icons.delete" alt="" />
            </button>
          </div>
          <ng-template #inactivePlatformActions>
            <div>
              <button
                *ngIf="isThisEmployeeCanActivateNotification"
                class="action-button activate-button"
                (click)="onActivatePlatform(platform.nameEng)"
              >
                <img [src]="icons.activate" alt="" />
              </button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="controls">
    <button class="cancel-button" (click)="onCancel()">{{ 'ubs-notifications.buttons.cancel' | translate }}</button>
    <button *ngIf="isThisEmployeeHasRights" class="submit-button" type="submit" (click)="onSaveChanges()">
      {{ 'ubs-notifications.buttons.save' | translate }}
    </button>
  </div>
</div>
