@mixin left-arrow {
  content: ' ';
  width: 20px;
  height: 12px;
  margin-right: -5px;
}

@mixin right-arrow {
  content: ' ';
  width: 20px;
  height: 12px;
  margin-left: -5px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  line-height: 24px;
  color: var(--ubs-primary-black);
  font-family: var(--primary-font);
  background-color: var(--after-primary-light-grey);
}

.main_header {
  margin: 0 0 51px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.header-list {
  display: flex;
  margin: -32px 0 5px 0;
  padding-left: 35px;

  div {
    color: var(--ubs-primary-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
  }
}

.under-line {
  width: 92%;
  height: 1px;
  background: var(--ubs-primary-light-grey);
}

.if-empty {
  margin: 35px 0 0 19px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.002em;
  text-align: left;
  color: var(--ubs-primary-grey);
}

.ng-star-inserted {
  width: 96%;
}

.mat-expansion-panel {
  margin: 10px 0 10px 0;
  box-shadow: none;

  .notification-images {
    margin-top: 8px;
    border-radius: 8px;
  }

  .notification-images:hover {
    cursor: pointer;
  }
}

.mat-expansion-panel-header {
  width: 100%;
  font-family: var(--ubs-quaternary-dark-grey);
  font-size: 14px;
  line-height: 20px;
}

.mat-expansion-panel-header-title {
  text-align: left;
}

.panel-title {
  color: var(--ubs-secondary-grey);
}

.panel-description {
  text-align: left;
  padding-left: 10px;
}

.date {
  max-width: 38%;
  padding-right: 45px;
}

.description {
  color: var(--ubs-secondary-grey);
  text-align: justify;
  max-width: 40%;
  margin-left: 20.5%;
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.img {
  max-width: 40%;

  img {
    width: 100%;
  }
}

.title-img {
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--ubs-quaternary-dark-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.time {
  margin-left: -32px;
}

.my-pagination::ng-deep .ngx-pagination {
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin: 3% 0 15% 0;

  li {
    margin-right: 10px;
  }

  .current {
    padding: 0.1875rem 0.405rem;
    background: none;
    color: black;
    border: 1px solid #444e55;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .pagination-previous a::before {
    @include left-arrow;

    background: url('../../../../assets/img/ubs/arrow_left_ubs_messages_active.svg') no-repeat 100%;
  }

  .pagination-previous.disabled::before {
    @include left-arrow;

    background: url('../../../../assets/img/ubs/arrow_left_ubs_messages.svg') no-repeat 100%;
  }

  .pagination-next a::after {
    @include right-arrow;

    background: url('../../../../assets/img/ubs/arrow_right_ubs_messages_active.svg') no-repeat 100%;
  }

  .pagination-next.disabled::after {
    @include right-arrow;

    background: url('../../../../assets/img/ubs/arrow_right_ubs_messages.svg') no-repeat 100%;
  }
}

.content {
  padding: 0 0 100px 0;
}

.textColorTitle {
  color: var(--ubs-quaternary-dark-grey);
  font-weight: 700;
  letter-spacing: 0.1px;
}

.load-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.load-bar {
  width: 92%;
  margin-top: -1px;
}

.small {
  margin-top: 0;
}

:host ::ng-deep .custom-spinner circle {
  stroke: #e2e2e2;
}

::ng-deep .mat-progress-bar-fill::after {
  background: #e2e2e2;
}

::ng-deep .mat-progress-bar-buffer {
  background: #bfbfbf;
}

@media (max-width: 990px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0 20px;
    line-height: 24px;
    color: var(--ubs-primary-black);
    font-family: var(--primary-font);
    background-color: var(--after-primary-light-grey);
  }

  .my-pagination {
    margin-top: 3%;
  }

  .time {
    margin-left: -8px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 0 0 100px 10px;
  }

  .date {
    padding-right: 0;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    margin-top: -32px;

    div {
      color: var(--ubs-primary-grey);
      font-family: var(--primary-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.1px;
      text-align: left;
    }

    .time {
      margin-left: 0;
    }
  }

  .panel-description {
    line-height: 0.9;
    margin-right: 0;
  }

  .mat-expansion-panel-header {
    width: 100%;
    padding: 0 10px;

    .mat-content {
      align-items: center;
    }
  }

  .my-pagination {
    margin-top: 3%;
  }

  .wrapper {
    width: 100vw;
    position: relative;
    margin-left: 0;
    padding: 10px 15px 0 10px;
    line-height: 24px;
    color: var(--ubs-primary-black);
    font-family: var(--primary-font);
    background-color: var(--after-primary-light-grey);
  }
}

@media (max-width: 420px) {
  .theme {
    margin-left: 40px;
  }

  .id {
    margin-left: -50px;
  }

  .time {
    margin-right: 50px;
  }

  .my-pagination {
    margin-top: 3%;
  }
}

@media (max-width: 300px) {
  .header-list {
    div {
      font-size: 12px;
    }
  }

  .panel-description {
    font-size: 12px;
  }

  .date {
    font-size: 12px;
  }

  .panel-title {
    font-size: 12px;
    margin-left: -15px;
  }

  .my-pagination {
    margin-top: 3%;
  }
}
