.modal-wrapper {
  width: 440px;
  background: var(--pre-secondary-light-grey);
  padding: 30px 56px;
}

.popup-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

form {
  margin: 24px 0 0;
}

.fields-note h6 {
  font-size: 12px;
  line-height: 16px;
  color: var(--quaternary-dark-grey);
  font-weight: 400;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  input {
    border: solid 1px var(--quintynary-light-grey);
    outline: none;
    padding: 8px;
    border-radius: 3px;
    width: 100%;
  }
}

.group-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--quaternary-grey);
}

.checkbox-section-role,
.checkbox-section-station {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 5px;
}

.checkbox-location,
.checkbox-role {
  font-size: 14px;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6.5px;
}

label {
  all: unset;
}

.checkbox-role {
  color: var(--ubs-dark-green);
  border: solid 1px var(--ubs-dark-green);

  &.active-location {
    color: var(--quaternary-dark-grey);
    border: solid 1px var(--ubs-grey-light-green);
    background: var(--ubs-grey-light-green);
  }
}

.checkbox-location {
  color: var(--ubs-dark-purple);
  border: solid 1px var(--ubs-dark-purple);

  &.active-location {
    color: var(--quaternary-dark-grey);
    border: solid 1px var(--ubs-grey-light-blue);
    background: var(--ubs-grey-light-blue);
  }
}

.checkbox-input {
  display: none;
}

.station-title,
.image-title {
  display: inline-block;
  margin-top: 17px;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
  padding: 16px 8px;
}

.cancelButton,
.addButton {
  height: 36px;
  padding: 8px 4px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.cancelButton {
  width: 117px;
  border: 1px solid var(--ubs-quaternary-dark-grey);
  color: var(--ubs-quaternary-dark-grey);
  background: none;
}

.addButton {
  width: 99px;
  color: var(--ubs-quaternary-dark-grey);
  border: 1px solid var(--ubs-button-light-green);
  background: var(--ubs-button-light-green);
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:disabled {
    background: var(--ubs-quaternary-light-grey);
    border-color: var(--ubs-quaternary-light-grey);
  }
}

.checkbox-close-button {
  display: none;
}

.active-location {
  .checkbox-close-button {
    display: initial;
  }
}

.image-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 108px;
  transition: filter 0.2s linear;
  position: relative;
  background: var(--ubs-primary-white);
  overflow: hidden;

  &::after {
    display: block;
    content: '';
    background: url('src/assets/img/ubs/drag-and-drop-img.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.current-image {
  background: var(--ubs-primary-white);

  img {
    height: 108px;
  }
}

.file-input {
  display: none;
}

.file-input-label {
  display: block;
  color: var(--ubs-secondary-grey);
  font-size: 12px;
  text-align: center;
}

.download-from-device-button {
  color: var(--ubs-electric-violet);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.avatar-edit-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--ubs-quaternary-light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 12px;
}

.image-name {
  color: var(--ubs-primary-grey);
}

.user-image {
  height: 15px !important;
  cursor: pointer;
}
