.container {
  font-family: var(--primary-font);
  line-height: 32px;
}

h1 {
  font-size: 20px;
}

.title {
  margin-left: 13px;
  font-size: 24px;
}

.title-comment {
  font-size: 16px;
}

label {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
}
