<mat-card>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
    <mat-card-content>
      <br />
      <label class="btn btn-primary" *ngIf="uploadButton">
        <mat-icon fas icon="folder-open" size="lg" aria-hidden="true"></mat-icon>
        {{ 'user.photo-upload.add-photo' | translate }}
        <input type="file" hidden formControlName="document" id="file" ng2FileSelect [uploader]="uploader" multiple />
      </label>
      <br />
      <br />

      <ng-template #element>
        <div style="text-align: center; margin: 5% 0; color: dimgrey">{{ 'user.photo-upload.add-photo' | translate }}</div>
      </ng-template>

      <table *ngIf="showTable; else element">
        <caption>
          Photo upload
        </caption>
        <thead>
          <tr>
            <th class="photo-file-name" scope="row">
              {{ 'user.photo-upload.file-name' | translate }}
            </th>
            <th class="photo-delete" scope="row" *ngIf="uploadButton">
              {{ 'user.photo-upload.remove' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <th class="photo-file-image" scope="row">
              <mat-icon fas icon="file-image" size="2x" class="cyan-text pr-3" aria-hidden="true"></mat-icon>
              {{ item.file.name }}({{ item.file.size / 1000000 }} MB)
            </th>
            <th class="text-center" class="image-trash-icon" scope="row" *ngIf="uploadButton">
              <a id="trashIcon" (click)="item.remove()" style="padding-left: 2%; color: red">
                <mat-icon far icon="trash-alt"></mat-icon>
              </a>
              <span class="sr-only">{{ 'user.photo-upload.loading' | translate }}</span>
            </th>
          </tr>
        </tbody>
      </table>
      <br />
      <button
        *ngIf="uploader.queue.length <= countOfPhotos && uploader.queue.length > 0 && uploadButton"
        [disabled]="doneUpload"
        class="btn-2"
        type="submit"
      >
        {{ 'user.photo-upload.upload' | translate }}
      </button>
      <span *ngIf="loadingUpload" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <p *ngIf="uploader.queue.length > countOfPhotos">
        {{ 'user.photo-upload.you-can-upload-max' | translate }} {{ countOfPhotos }} {{ 'user.photo-upload.photos' | translate }}
      </p>
      <p *ngIf="doneUpload">{{ 'user.photo-upload.your-photos-successfully-upload' | translate }}</p>
    </mat-card-content>
  </form>
</mat-card>
<br />
